<div [@cardAnimation] class="card-box">
  <div class="card m-2 p-2">
    <div class="card-name">
      <h4>Інформація вашої оселі</h4>
    </div>

    <form class="form-box" [formGroup]="comunCabinet">

      <div class="inputbox">
        <input required="required" type="text" id="accountFor" name="accountFor" formControlName="accountFor">
        <span>ПІБ: {{ user.firstName }} {{ user.surName }} {{ user.lastName }}</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.accountFor" class="alert alert-danger">{{formErrors.accountFor}}</div>
      </div>

      <div class="inputbox">
        <input required="required" type="number" id="personalAccount" name="personalAccount" formControlName="personalAccount">
        <span>Особистий рахунок:</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.personalAccount" class="alert alert-danger">{{formErrors.personalAccount}}</div>
      </div>

      <div class="inputbox">
        <input required="required" type="text" id="indicatorMonth" name="indicatorMonth" formControlName="indicatorMonth">
        <span>Показники за:</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.indicatorMonth" class="alert alert-danger">{{formErrors.indicatorMonth}}</div>
      </div>

      <div class="inputbox">
        <input required="required" type="number" id="comunal_counter_before" name="comunal_counter_before" formControlName="comunal_counter_before">
        <span>Показники попередні:</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.comunal_counter_before" class="alert alert-danger">{{formErrors.comunal_counter_before}}</div>
      </div>

      <div class="inputbox">
        <input required="required" type="number" id="comunal_counter_now" name="comunal_counter_now" formControlName="comunal_counter_now">
        <span>Показники поточні:</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.comunal_counter_now" class="alert alert-danger">{{formErrors.comunal_counter_now}}</div>
      </div>

    </form>

    <div class="btn-group">
      <button class="btn btn-primary mt-3" (click)="saveComunCabinet()"
        (click)="onSubmitSaveComunCabinet()">ЗБЕРЕГТИ</button>
      <button type="reset" class="btn btn-secondary mt-3 ml-3" (click)="resetComunCabinet()">СКИНУТИ</button>
    </div>

  </div>
</div>
