<div [@cardAnimation] class="card-box">
  <div class="card m-2 p-2">
    <div class="card-name">
      <h4>Передача показників за:</h4>
    </div>

    <form class="form-box" [formGroup]="comunCabinet">

      <div class="inputbox">
        <app-comun-date></app-comun-date>
      </div>

      <div class="inputbox">
        <input required="required" type="text" id="account_for" name="account_for" formControlName="account_for">
        <span>ПІБ власника:</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.account_for" class="alert alert-danger">{{formErrors.account_for}}</div>
      </div>

      <div class="inputbox">
        <input required="required" type="number" id="personalAccount" name="personalAccount" formControlName="personalAccount">
        <span>Особистий рахунок:</span>
        <i class="orange"></i>
        <div *ngIf="formErrors.personalAccount" class="alert alert-danger">{{formErrors.personalAccount}}</div>
      </div>

      <div class="box-item">
        <div class="inputbox">
          <input required="required" type="number" id="comunal_before" name="comunal_before" formControlName="comunal_before">
          <span>Попередні:</span>
          <i class="orange"></i>
          <div *ngIf="formErrors.comunal_before" class="alert alert-danger">{{formErrors.comunal_before}}</div>
        </div>

        <div class="inputbox">
          <input required="required" type="number" id="comunal_now" name="comunal_now" formControlName="comunal_now">
          <span>Поточні:</span>
          <i class="orange"></i>
          <div *ngIf="formErrors.comunal_now" class="alert alert-danger">{{formErrors.comunal_now}}</div>
        </div>
      </div>

    </form>

    <div class="btn-group">
      <button class="btn btn-primary mt-3" (click)="saveComunCabinet()"
        (click)="onSubmitSaveComunCabinet()">НАДІСЛАТИ</button>
    </div>

  </div>
</div>
