@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/shared.scss" as *;
@use "../../../../style/radio.scss";

.info-card {
  display: flex;
  padding: 10px;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $color-white;
  padding-bottom: 70px;
  @include box-shadow;
  @include s3-s6-max {
    overflow: auto;
    height: calc(100vh - 80px);
  }
  @include s1-s3 {
    height: auto;
  }
}

// вікно додаткової інформації
.help-container {
  position: fixed;
  @include flex-box-center;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500;
  color: $color-text;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.849);
  .info-help-box {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: $color-dark;
    border: 1px solid $color-white;
    border-radius: 10px;
    padding: 8px;

    @include s1-s3 {
      width: 100%;
    }

    @include s3-s6-max {
      width: 50%;
      max-width: 500px;
      height: 80vh;
    }
  }

  .fa-solid,
  .fa-regular {
    color: $color-white;
  }

  .info-help-text {
    color: $color-white;
    font-size: 14px;
  }

  .info-help-name {
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
  }

  .btn {
    background-color: $color-accent;
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

mat-select,
input,
mat-hint,
mat-label,
mat-form-field {
  color: $color-text !important;
}

mat-label {
  position: relative;
  border-top: 1px solid $color-light-gray;
  margin-top: 20px;
  padding: 10px;
  .b-help {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-accent;
    padding: 3px;
  }
}

.card-content-static {
  background-color: transparent !important;
}

.img-wrapper {
  .img {
    height: 550px;
  }
}

.item-box {
  @include flex-box;
  @include box-shadow;
  width: 100%;
  justify-content: flex-start;
  border-radius: 20px;
  margin-top: 10px;
  height: 120px;
  background-color: $color-white;

  .link-t {
    @include flex-box;
    @include box-shadow;
    border: none;
    color: $color-white-always;
    height: 100%;
    .fa-solid,
    .fa-regular {
      color: $color-white-always;
      filter: drop-shadow(5px 5px 10px $color-shadow);
    }
    &.active {
      background-color: $color-accent;
    }
  }

  .link-t:disabled {
    background-color: transparent;
    border-radius: 20px;
    cursor: not-allowed;
    color: $color-gray;
    .fa-solid,
    .fa-regular {
      color: $color-gray;
    }
  }

  .item-d {
    @include flex-box-column;
    margin: 0;
  }
}

.card-content {
  align-items: center !important;
  justify-content: space-between !important;
}

.fa-solid {
  color: $color-text;
}

.btn-group {
  @include flex-box-center;
  width: 100%;
  @include s3-s6-max {
    padding: 10px 10px 20px 10px;
    position: sticky;
    bottom: 0;
  }
  @include s1-s3 {
    position: fixed !important;
    bottom: 0;
    padding: 10px;
  }
  .btn {
    @include flex-box-center;
    flex: none;
    height: 60px;
    background-color: $color-accent;
    width: 250px;
    @include s1-s3 {
      width: auto;
      flex: 1;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.item-select {
  width: 100%;
  font-size: 16px;
  flex-direction: column-reverse;
  @include s1-s3 {
    font-size: 16px;
  }
  &.error {
    animation: flash 0.5s linear 3;
  }
}

.error {
  animation: flash 0.5s linear 3;
}

@keyframes flash {
  0%,
  100% {
    background-color: rgba(255, 0, 0, 0.52);
    border: 2px rgba(0, 0, 0, 0.452) solid;
    border-radius: 10px;
  }
  50% {
    background-color: transparent;
    border-color: transparent;
  }
}

mat-hint {
  @include flex-box-center;
  color: $color-gray;
  font-size: 12px;
  .green {
    color: green !important;
  }
  .red {
    color: red !important;
  }
  .fa-regular,
  .fa-solid {
    font-size: 12px;
    margin-right: 10px;
  }
}

mat-label {
  font-size: 14px;
}

.btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.b-primary {
  height: 60px !important;
}

.right-align {
  text-align: right;
}

.status-static {
  @include flex-box-center;
  width: 35px;
  height: 35px;
  background-color: $color-gray;
  color: $color-white;
  border-radius: 50%;
  transition: 1s;
  &.active {
    background-color: $color-accent !important;
    @include box-shadow-a;
  }
  .fa-solid,
  .fa-regular {
    color: $color-white;
  }

  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }

  @include s1-s3 {
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    .fa-envelope-open-text {
      font-size: 10px;
    }
  }
}

.checkBox {
  &:disabled {
    color: $color-white;
  }
}

.checkBox-text {
  transform: 1s;
  font-size: 12px;
}
