<div [@top1] class="card-wrapper w-100">
  <div class="card-animation w-100" [@swichCard] *ngIf="!option_stat">
    <div class="card-content">
      
      <div class="monthChange w-100 mb-2 mt-2">
        <button class="btn-2 center" (click)="prevYear()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div class="bold accent t-lar-xx">{{ selectedYear }} рік</div>
        <button class="btn-2 center" (click)="nextYear()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>

      <mat-form-field class="list-form w-100 p-2" appearance="outline">
        <mat-select id="sortSelect" [(ngModel)]="selectedSortOption" (selectionChange)="sortData()"
          placeholder="Сортувати за">
          <mat-option value="id">Порядком</mat-option>
          <mat-option value="comunal_name">Назва послуги</mat-option>
          <mat-option value="total_howmuch_pay">Найбільше сплачено ₴</mat-option>
          <mat-option value="total_calc_howmuch_pay">Найбільше нараховано ₴</mat-option>
          <mat-option value="total_difference">Найбільша заборгованість ₴</mat-option>
        </mat-select>
        <mat-hint align="end" class="t-min gray">Сортування</mat-hint>
      </mat-form-field>

      <div class="table-container" *ngIf="dataLoaded && !noInformationMessage">
        <div class="wrapper">
          <table class="table-box">
            <thead class="table-head fixed-table-head mb-2">
              <tr class="table-row">
                <th (click)="sortBy('id')">
                  <div class="table-cell name wi-30">№</div>
                </th>
                <th (click)="sortBy('comunal_name')">
                  <div class="table-cell name wi-150">Назва послуги</div>
                </th>

                <th>
                  <div class="table-cell name wi-100">Спожито</div>
                </th>

                <th (click)="sortBy('total_calc_howmuch_pay')">
                  <div class="table-cell name wi-100">Нараховано ₴</div>
                </th>

                <th (click)="sortBy('total_howmuch_pay')">
                  <div class="table-cell name wi-100">Сплатив</div>
                </th>
                <th (click)="sortBy('total_difference')">
                  <div class="table-cell name wi-100">Різниця</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-row" *ngFor="let entry of sortedMonthlySumData$ | async">
                <td>
                  <div class="table-cell name-1 wi-30">
                    {{ entry['id'] }}
                  </div>
                </td>
                <td>
                  <div class="table-cell name-1 wi-150">
                    {{ entry['comunal_name'] }}
                  </div>
                </td>

                <td>
                  <div class="table-cell name-2 wi-100">
                    {{ entry['total_consumed'] | number: '1.1-1' }}
                  </div>
                </td>

                <td>
                  <div class="table-cell name-2 wi-100">
                    {{ entry['total_calc_howmuch_pay'] | number: '1.1-1' }}
                  </div>
                </td>

                <td>
                  <div class="table-cell name-2 wi-100">
                    {{ entry['total_howmuch_pay'] | number: '1.1-1' }}
                  </div>
                </td>
                <td>
                  <div class="table-cell name-2 wi-100">
                    {{ entry['total_difference'] | number: '1.1-1' }}
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="flex-column">
          <div [@left3] class="flex-box border-bottom">
            <div class="t-min">Загалом нараховано</div>
            <div class="t-lar-xx bold ml-2">{{ totalNeedPay }}<span class="t-med bold"> ₴</span></div>
          </div>
          <div [@left4] class="flex-box border-bottom">
            <div class="t-min">Загалом сплачено</div>
            <div class="t-lar-xx bold ml-2">{{ totalPaid }}<span class="t-med bold"> ₴</span></div>
          </div>
          <div [@left5] class="border-bottom">
            <div class="flex-box" *ngIf="overpaymentText === 'Борг'">
              <div class="t-min accent">{{overpaymentText}}</div>
              <div class="t-lar-xx bold ml-2 accent">{{ totalDifference }}<span class="t-med bold"> ₴</span></div>
            </div>
            <div class="flex-box" *ngIf="overpaymentText === 'Переплата'">
              <div class="t-min">{{overpaymentText}}</div>
              <div class="t-lar-xx bold ml-2">{{ totalDifference }}<span class="t-med bold"> ₴</span></div>
            </div>
          </div>
        </div>
      </div>

      <div [@left3] class="table-container" *ngIf="dataLoaded && noInformationMessage">
        <h4 class="p-2 mt-3">Статистики за цей час немає...</h4>
      </div>
    </div>
    <div class="btn-group p-2">
      <button class="btn w-100" (click)="toggleOptionStat()">Графік</button>
    </div>
  </div>
  <div class="card-animation w-100" [@swichCard] *ngIf="option_stat">
    <div class="card-content">
      <app-comun-stat-season></app-comun-stat-season>
      <div class="btn-group p-2">
        <button class="btn w-100" (click)="toggleOptionStat()">Підрахунки</button>
      </div>
    </div>
  </div>
</div>
