<app-navbar></app-navbar>

<div class="container-fluid">
  <nav class="navbar">
    <a [routerLinkActive]="'active'" [routerLink]="'/energy'">Електроенергія</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/water'">Водопостачання</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/cleaning'">Прибирання</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/gas'">Газ</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/internet'">Інтернет</a>
  </nav>
</div>
<div class="container-fluid">
  <div class="container-title">
    <h1>Інтернет</h1>
    <h5>Ця сторінка створена для перегляду послуг які діють за закріпленою адресою. Вона дає можливість відслідковувати
      щомісячні витрати, та зручним способом оплачувати комунальні платежі в пару кліків</h5>
  </div>
  <div class="container-fluid">
    <div class="card" style="width: 20rem;">
      <div class="img-fluid"> <img src="../../../assets/internet.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Інтернет</h3>
        <h4 class="card-title">Вибір провайдера</h4>
      </div>
      <div class="card-link">
        <a href="#" class="link"><span>Змінити провайдера</span><i class="fa-solid fa-handshake-angle"></i></a>
        <a href="#" class="link"><span>Переглянути реквізити</span><i
            class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Компанія постачальника послуг</h4>
        <h3 class="card-title">Maximum-net</h3>

        <p>Економний* Швидкість: 100 Mbps Телебачення: 100 каналів Цифрового ТБ
          Трафік: безлімітний Виділена ip: за запитом 200 грн/міс.</p>
      </div>
      <div class="card-body">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Номер рахунку" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="200грн" aria-label="Dollar amount (with dot and two decimal places)">
          <span class="input-group-text">$</span>
          <span class="input-group-text">0.00</span>
        </div>

      </div>

      <div class="card-link">
        <a href="#" class="link"><span>Оплатити</span><i class="fa-solid fa-money-bill-trend-up"></i></a>
        <a href="#" class="link"><span>Зв'язатись</span><i class="fa-solid fa-handshake-angle"></i></a>
      </div>

    </div>
  </div>

</div>
