@use "./../../../../style/comun/comun.scss";
@use "./../../../../style/shared.scss" as *;
@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;

.date-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .app-wrapper {
    @include s1-s3 {
      width: 100%;
    }
  }
}

.btn-group {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  z-index: 5;
  @include s3-s6-max {
    position: sticky;
    bottom: 0;
  }
  @include s1-s3 {
    position: fixed !important;
    bottom: 0;
  }
  .btn {
    @include flex-box-center;
    height: 60px;
    background-color: $color-accent;
  }
}

.container-info {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  @include s3-s6-max {
    height: 100%;
  }
  @include s1-s3 {
    height: auto;
  }
  .wrapper-form {
    @include s1-s3 {
      padding-bottom: 60px;
    }
  }
}

.year {
  font-size: 40px;
  font-weight: 600;
}

.btnYear {
  background-color: transparent;
  padding: 5px;
  .fa-regular {
    color: $color-gray;
  }
}

.month-wrapper {
  display: flex;
  width: 100%;
  overflow: auto;
}

.month-container {
  @include flex-box-center;
  justify-content: flex-start;
  .month-box {
    @include flex-box-center;
    position: relative;
    margin: 5px 10px;
    width: 50px;
    background-color: transparent;
    transition: 1s;
    &.active {
      .month_item {
        transition: 1s;
        transform: scale(1.1);
        .fa-regular {
          color: $color-accent;
          @include box-shadow-a;
        }
        .month_id {
          color: $color-accent;
        }
      }
    }
    .checkPay {
      position: absolute;
      top: -2px;
      right: -2px;
      z-index: 5;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-white;
      .fa-regular {
        font-size: 20px;
        color: green;
      }
    }
    .month_item {
      @include flex-box-center;
      position: relative;
      .fa-regular {
        font-size: 40px;
        color: $color-gray;
      }
      .month_id {
        position: absolute;
        top: 7px;
        font-weight: 600;
        color: $color-gray;
        @include flex-box-center;
        z-index: 5;
      }
    }
  }
}

.card-comun {
  height: 100%;
  position: relative;

  @include s3-s6-max {
    background-color: $color-white;
    @include box-shadow;
    border-radius: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .wrapper-comun {
    height: 80%;
    z-index: 5;
    position: relative;
    border-radius: 20px;

    .slide-card {
      @include flex-box-center;
      height: 100%;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      align-items: stretch;
    }
  }
}

.info-container {
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 250;
  flex-direction: column;
  align-items: center;
  .info-help-box {
    color: $color-white;
    width: 100%;
    .fa-solid {
      color: $color-white;
    }
  }
}

.radio-btn {
  @include flex-box-center;
  border-radius: 5px;
  background-color: transparent;
  .radio-label {
    transition: 1s;
    padding: 10px;
    flex-direction: column;
    cursor: pointer !important;

    @include flex-box-center;
    .fa-solid {
      font-size: 30px;
      padding-right: 10px;
    }
  }
  &:hover,
  &.active {
    cursor: pointer;
    .radio-label {
      transform: scale(1.2);
      transition: 1s;
      @include flex-box-center;
      .fa-solid {
        color: $color-accent;
        font-size: 30px;
        padding-right: 10px;
      }
      .t-min {
        color: $color-accent;
        font-weight: 600;
      }
    }
  }
}

.full-container-img {
  height: 100vh;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 500;
  overflow: auto;
  .full-wrapper-img {
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.377);
    .full-img-fluid {
      @include box-shadow;
      border-radius: 20px;
      height: 100%;
      width: auto;
    }
  }
}

.btn-calc {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.flex-box {
  display: flex;
}

.card-1 {
  width: 100%;
  position: relative;
  border-radius: 20px;
  .addText {
    @include flex-box-center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.789);
    border: none;
  }
  .img-wpapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
    align-items: flex-end;
  }

  .img {
    overflow: hidden;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
  }
}

.item-select {
  position: relative;
}

.btn-copy {
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 15px;
  border: none;
  border-radius: 5px;
  padding: 2px;
  border-radius: 50%;
  margin-left: 10px;
}

.flex-box {
  justify-content: space-evenly;
  .fa-solid {
    font-size: 15px;
  }
}

.flex-column {
  @include flex-box-column;
}

.img-comun-box {
  height: 200px;
  overflow: hidden;
  position: relative;
  .img-comun {
    height: 200px;
  }
  .cropped-text {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    border-radius: 10px;
    @include flex-box;
    background-color: rgba(90, 86, 86, 0.591);
    .cropped-text1 {
      color: $color-white;
    }
  }
}

.border-t {
  border-top: 1px solid $color-primary;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn-container {
  border-radius: 10px;
}

.add-photo-group {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;

  .add-photo-label {
    width: 50%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 15px;
    color: $color-accent;
    font-weight: 600;
  }

  .box-group {
    @include flex-box-column;
    position: relative;

    .btn-name {
      font-size: 12px;
      text-align: center;
    }
  }

  .add-photo-box {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 1s;

    &:hover {
      background-color: $color-dark;
    }
  }

  .add-photo-icon {
    color: $color-accent;
    font-size: 30px;
    animation: iconflicker 8s linear infinite;
  }

  .add-photo-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.item {
  @include flex-box;
  margin: 2px;
  border-radius: 10px;
  padding: 2px;
}

.btn-2 {
  .fa-solid {
    color: $color-accent !important;
  }
}

.group-box {
  width: 100%;
  @include flex-box-center;
  // @include box-shadow;
  // border-top: 1px solid rgba(128, 128, 128, 0.459);
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
  flex-direction: column;
  // border-radius: 20px;
  // background-color: $color-white !important;
  &.month {
    background-color: rgb(51, 51, 51) !important;
  }
}

.switch-container {
  @include flex-box;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  @include s1-s3 {
    border: none;
  }

  .switch-btn-group {
    @include flex-box-column;
    position: relative;
    width: 80px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    height: 50px;
    width: 80px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
    }
  }
}
