@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.main-container {
  display: flex;
  align-items: stretch;
  position: relative;
}

.card-wrapper {
  display: block;
  overflow: auto;
  @include s1-s3 {
    overflow: visible;
  }
  height: 100%;
  position: relative;
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  @include s3-s6-max {
    background-color: transparent !important;
  }
}

.img-wrapper {
  .img {
    height: 550px;
  }
}

.card-menu {
  @include flex-box-center;
  background-color: transparent !important;
  box-shadow: none !important;
  justify-content: space-between;
  flex-direction: column;
  .gif-box {
    @include flex-box-center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .home-img {
      width: 80%;
      // filter: drop-shadow(2px 2px 8px $color-dark);
      object-fit: cover;
    }
  }
  .flex-column {
    width: 40%;
    @include flex-box-center;
    flex-direction: column;
  }
  @include s1-s3 {
    // flex-wrap: wrap;
    flex-direction: column;
    .gif-box {
      width: 100%;
      .home-img,
      .home-img2 {
        width: 100%;
      }
    }
    .flex-column {
      width: 100%;
    }
  }
}
