@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.container-info {
  position: relative;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include s3-s6-max {
    height: 100%;
    overflow: hidden;
  }
}

.b-shadow {
  @include box-shadow-a;
}

.content-wrapper {
  @include flex-box-column;
  @include box-shadow;
  height: auto;
  align-items: center;
  background-color: $color-white;
  justify-content: flex-start;
  @include s3-s6-max {
    height: 100%;
    overflow: hidden;
  }
}

.btn-group {
  z-index: 10;
  width: 250px;
}

.img-wrapper2 {
  position: relative;
  width: 100%;
  height: 200px;
  .img {
    z-index: 10;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

.info-content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  transition: 1s;
  width: 100%;
  background-color: white;
  @include s1-s3 {
    flex-direction: column;
    align-items: center
  }

  .img-wrapper {
    position: relative;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 50%;
    height: 100%;
    @include s1-s3 {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 500px;
      border-radius: 0px;
      margin: 0;
      .img {
        height: 100%;
      }
    }
    .blure {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 15;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to right, transparent 60%, $color-white 95%) !important;
      @include s1-s3 {
        background-image: linear-gradient(to top, $color-white 10%, transparent 20%) !important;
      }
    }
    .img {
      z-index: 10;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .info-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    align-content: space-around;
    padding: 20px;
    margin-top: 20px;
    @include s3-s6-max {
      overflow: auto;
      height: calc(100vh - 80px);
    }

    @include s1-s3 {
      background-color: $color-white;
      border-radius: 20px;
      margin-top: 30vh;
      width: 96%;
      z-index: 20;
      padding-bottom: 20px;
    }

    .info {
      @include flex-box-center;
      flex-direction: column;
    }
  }

  .card-text {
    overflow: hidden; /* Очищення float */
    padding-bottom: 20px;
  }
}

.switch-container {
  @include flex-box;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  z-index: 40;
  position: sticky;
  top: 0;
  justify-content: space-around !important;
  background-color: $color-white;

  .switch-btn-group {
    @include flex-box-column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
    }
  }
}
