@use "../../style/presets/" as *;

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container-fluid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tel {
  border: none;
  color: $color-text;
}

.card-description {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.card{
  min-width: 32%;
}


.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(80px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;
  border-radius: 10px;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.icon-box {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}
