<div class="info-card" *ngIf="userInfo">

  <div class="img-wrapper">

    <ng-container *ngIf="userImg !== 'user_default.svg' && isLoadingImg">
      <img class="img-fluid" [src]="serverPath + pathPhotoUser + userImg" alt="img">
    </ng-container>

    <ng-container *ngIf="userImg && userImg !== 'user_default.svg' && !isLoadingImg">
      <div class="img-fluid">
        <div class="container-loader-mini">
          <mat-spinner color="warn"></mat-spinner>
          <img [src]="serverPath + pathPhotoUser + userImg" (load)="isLoadingImg = true" hidden>
          <div class="t-min bold gray mt-2">Завантаження фото</div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!userImg || userImg === 'user_default.svg'">
      <img class="img-fluid" src="../../../../assets/user_default.svg" alt="img">
    </ng-container>

    <div class="card-1">
      <div class="flex-column t-c">
        <p class="t-lar bold accent">ЗАВАНТАЖИТИ ФОТО</p>
      </div>
      <div class="input-div">
        <i class="icon-up fa-solid fa-cloud-arrow-up" for="upload"></i>
        <input #_fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>
        <button class="input-up" (click)="_fileInput.click()"> </button>
      </div>
    </div>
  </div>
  <mat-label class="t-c t-lar bold accent mt-2">Персональні дані</mat-label>
  <mat-form-field class="item-select mt-3 w-100" appearance="outline">
    <input matInput [matDatepicker]="picker" [(ngModel)]="userInfo.dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint class="gray" align="start">Дата народження</mat-hint>
  </mat-form-field>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label>Прізвище</mat-label>
    <input name="userInfo.lastName" matInput [(ngModel)]="userInfo.lastName">
  </mat-form-field>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label>Ім'я</mat-label>
    <input name="userInfo.firstName" matInput [(ngModel)]="userInfo.firstName">
  </mat-form-field>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label>По батькові</mat-label>
    <input name="userInfo.surName" matInput [(ngModel)]="userInfo.surName">
  </mat-form-field>
  <div class="btn-group">
    <button class="btn" (click)="saveInfoUser()">
      <div class="t-min">ЗБЕРЕГТИ</div>
      <i class="fa-regular fa-circle-check ml-2"></i>
    </button>
  </div>
</div>
