<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/user/info'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min white">Назад</div>
      </button>
    </div>

    <div class="menu-box hide-mobile">
      <div class="menu-lable">Меню</div>
      <div class="menu-name">Вподобані Оселі</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" (click)="onClickMenu(1)" [ngClass]="{ 'active': indexPage === 1}">
        <i class="fa-solid fa-circle-info"></i>
        <div class="t-min bold">Інфо</div>
      </button>
    </div>

    <div class="hide-pc">
      <div class="switch-btn-group ">
        <button class="btn" [disabled]="!subscriptions" (click)="onClickMenu(0)"
          [ngClass]="{ 'active': indexPage === 0}">
          <i class="fa-solid fa-people-group"></i>
          <div class="t-min bold">Вподобані</div>
          <div class="counterNum t-lar bold">{{counterFound}}</div>
        </button>
      </div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [disabled]="!chosenFlat" (click)="onClickMenu(2)" [ngClass]="{ 'active': indexPage === 2}">
        <i class="fa-regular fa-building"></i>
        <div class="t-min bold">Оселя</div>
      </button>
    </div>

  </div>

  <div class="main-container">

    <!-- всі картки -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 hide-mobile">
      <div class="paginator-container">
        <button class="paginator-btn" (click)="decrementOffset()">
          <i class="fa-solid fa-chevron-left"></i></button>
        <div class="paginator-box">
          <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
          <div class="t-min">Всього {{counterFound}}</div>
        </div>
        <button class="paginator-btn" (click)="incrementOffset()">
          <i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="cards-container p-2">
        <div class="card-mini mb-3" *ngFor="let subscriber of subscriptions"
          (click)="onFlatSelect(subscriber.flat.flat_id)"
          [ngClass]="{ 'selected': choseFlatId == subscriber.flat.flat_id  }">
          <div class="card-mini-img-container">
            <img class="card-mini-img"
              [src]="subscriber.img && subscriber.img[0] ? serverPathPhotoFlat + subscriber.img[0] : serverPathPhotoFlat + 'housing_default.svg'"
              alt="img">
          </div>
          <div class="card-body">
            <div class="p-1">
              <div class="t-med accent bold">ID: {{ subscriber.flat.flat_id }}</div>
              <div class="t-min">Обл.: {{ subscriber.flat.region}}</div>
              <div class="t-min">м.: {{ subscriber.flat.city}}</div>
              <div class="flex-box" *ngIf="subscriber.flat.option_pay === 0">
                <div class="t-lar bold"> {{ subscriber.flat.price_m | number:'1.0-0' }} </div>
                <div class="t-min bold">₴/міс</div>
              </div>
              <div class="flex-box" *ngIf="subscriber.flat.option_pay !== 0">
                <div class="t-lar bold"> {{ subscriber.flat.price_d | number:'1.0-0' }} </div>
                <div class="t-min bold">₴/добу</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-wrapper">
        <!-- всі картки -->
        <div [@swichCard] class="card-animation hide-pc" *ngIf="indexPage === 0">
          <div class="card-content">
            <div class="paginator-container">
              <button class="paginator-btn" (click)="decrementOffset()">
                <i class="fa-solid fa-chevron-left"></i></button>
              <div class="paginator-box">
                <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
                <div class="t-min">Всього Дискусій {{counterFound}}</div>
              </div>
              <button class="paginator-btn" (click)="incrementOffset()">
                <i class="fa-solid fa-chevron-right"></i></button>
            </div>
            <div class="cards-container p-2">
              <div class="card-mini mb-3" *ngFor="let subscriber of subscriptions"
                (click)="onFlatSelect(subscriber.flat.flat_id)"
                [ngClass]="{ 'selected': choseFlatId == subscriber.flat.flat_id  }">
                <div class="card-mini-img-container">
                  <img class="card-mini-img"
                    [src]="subscriber.img && subscriber.img[0] ? serverPathPhotoFlat + subscriber.img[0] : serverPathPhotoFlat + 'housing_default.svg'"
                    alt="img">
                </div>
                <div class="card-body">
                  <div class="p-1">
                    <div class="t-med accent bold">ID: {{ subscriber.flat.flat_id }}</div>
                    <div class="t-min">Обл.: {{ subscriber.flat.region}}</div>
                    <div class="t-min">м.: {{ subscriber.flat.city}}</div>
                    <div class="flex-box" *ngIf="subscriber.flat.option_pay === 0">
                      <div class="t-lar bold"> {{ subscriber.flat.price_m | number:'1.0-0' }} </div>
                      <div class="t-min bold">₴/міс</div>
                    </div>
                    <div class="flex-box" *ngIf="subscriber.flat.option_pay !== 0">
                      <div class="t-lar bold"> {{ subscriber.flat.price_d | number:'1.0-0' }} </div>
                      <div class="t-min bold">₴/добу</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- про меню -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 1">
          <div class="card-content">

            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-regular fa-heart"></i>
              <p class="t-lar-x bold">Меню вподобані оселі</p>
              <p class="t-min">Список оселей які вам сподобались і ви на них підписались.</p>
            </div>

            <ul class="t-med mt-2 t-s">
              <span class="t-lar bold p-3">Тут доступні такі можливості:</span>
              <li>Перегляд інформації про оселю.</li>
              <li>Видалення підписки.</li>
              <li>Перегляд локації.</li>
            </ul>

            <div class="flex-box-center t-c p-2 mt-2">
              <p class="t-med bold">Підписуватись на оселі можна в пошуку оселей</p>
              <p class="t-med bold">Після того як вас ухвалять оселя з'явиться в меню Дискусії</p>
            </div>

            <div class="btn-group">
              <button class="btn btn-navigation" [routerLink]="'/search/house'">
                <div class="t-med bold mr-2">Пошук оселі</div>
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>

            <div class="btn-group">
              <button class="btn btn-navigation" [routerLink]="'/subscribers-discuss'">
                <div class="t-med bold mr-2">Меню Дискусій</div>
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>

            <div class="btn-group">
              <button class="btn btn-navigation" [routerLink]="'/feedback'" [queryParams]="{ category: 'Підписки' }">
                <div class="t-med bold mr-2">Є ідея як зробити краще?</div>
                <i class="fa-regular fa-lightbulb"></i>
              </button>
            </div>


          </div>
        </div>
        <!-- інформація про оселю -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 2 && chosenFlat">
          <div class="btn-close-container">
            <div class="btn-close-box">
              <button class="btn-close" (click)="indexPage = 1"></button>
            </div>
          </div>
          <div class="card-content">

            <div class="status-container m-2">
              <div class="status-box">
                <div class="status-value" *ngIf="chosenFlat.flat.room === 1">К</div>
                <div class="status-value" *ngIf="chosenFlat.flat.option_flat === 1">Будинок</div>
                <div class="status-value" *ngIf="chosenFlat.flat.option_flat === 2">Кв</div>
                <div class="status-value" *ngIf="chosenFlat.flat.woman === 1">W</div>
                <div class="status-value" *ngIf="chosenFlat.flat.man === 1">M</div>
                <div class="status-value" *ngIf="chosenFlat.flat.students === 1">S</div>
                <div class="status-value" *ngIf="chosenFlat.flat.family === 1">F</div>
              </div>
              <div class="status-hover">
                <div class="status-hover-label">Допомога</div>
                <div class="status-hover-text">
                  <ul
                    *ngIf="chosenFlat.flat.woman === 1 || chosenFlat.flat.man === 1 || chosenFlat.flat.students === 1 || chosenFlat.flat.family === 1">
                    Пошук орендаря:
                    <li *ngIf="chosenFlat.flat.woman === 1" class="status-hover-li">
                      <div class="status-value">W</div> - жінки
                    </li>
                    <li *ngIf="chosenFlat.flat.man === 1" class="status-hover-li">
                      <div class="status-value">M</div> - чоловіка
                    </li>
                    <li *ngIf="chosenFlat.flat.students === 1" class="status-hover-li">
                      <div class="status-value">S</div> - студента
                    </li>
                    <li *ngIf="chosenFlat.flat.family === 1" class="status-hover-li">
                      <div class="status-value">F</div> - сім'ї
                    </li>
                  </ul>

                  <ul *ngIf="chosenFlat.flat.option_flat || chosenFlat.flat.room === 1">
                    Здаю оселю, тип оселі:
                    <li *ngIf="chosenFlat.flat.option_flat === 1" class="status-hover-li">
                      <div class="status-value">Б</div> - Будинок
                    </li>
                    <li *ngIf="chosenFlat.flat.option_flat === 2" class="status-hover-li">
                      <div class="status-value">Кв</div> - Квартира
                    </li>
                    <li *ngIf="chosenFlat.flat.room === 1" class="status-hover-li">
                      <div class="status-value">К</div> - Кімната
                    </li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="copyMessage-box" *ngIf="isCopiedMessage">
              <div class="copyMessage-text">{{isCopiedMessage}}</div>
              <i class="fa-regular fa-copy"></i>
              <div class="t-lar dark bold">Скопійовано</div>
            </div>

            <div class="container-img">
              <div class="wrapper-img">

                <img class="img-fluid" [src]="chosenFlat.img && chosenFlat.img[currentPhotoIndex]
                    ? serverPathPhotoFlat + chosenFlat.img[currentPhotoIndex] :
                    serverPathPhotoFlat + 'housing_default.svg'" alt="img" (click)="photoViewing = true">

                <div *ngIf="chosenFlat?.img.length > 1">
                  <button *ngIf="currentPhotoIndex !== 0" class="prev-img" (click)="prevPhoto()"><i
                      class="fa-solid fa-chevron-left"></i></button>
                  <button *ngIf="currentPhotoIndex !== chosenFlat?.img.length - 1" class="next-img"
                    (click)="nextPhoto()"><i class="fa-solid fa-chevron-right"></i></button>
                </div>

                <div class="panel-container">
                  <div class="wrapper">

                    <button class="btn-panel" (click)="deleteSubscriber(chosenFlat)">
                      <div class="panel-icon">
                        <i class="fa-solid fa-user-xmark"></i>
                      </div>
                      <div class="t-min">Видал.</div>
                    </button>

                    <button class="btn-panel" (click)="reportHouse(chosenFlat)">
                      <div class="panel-icon">
                        <i class="fa-solid fa-masks-theater"></i>
                      </div>
                      <div class="t-min">Скарга</div>
                    </button>

                    <button class="btn-panel"
                      *ngIf="chosenFlat.flat.region && chosenFlat.flat.city && chosenFlat.flat.street"
                      (click)="openMap()">
                      <div class="panel-icon">
                        <i class="fa-solid fa-location-dot"></i>
                      </div>
                      <div class="t-min">Локація</div>
                    </button>

                    <button class="btn-panel" matTooltip="Копіювати" (click)="copyFlatId()">
                      <div class="panel-icon">
                        <i class="fa-solid fa-fingerprint"></i>
                      </div>
                      <div class="t-min">ID</div>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <div class="flex-box wrap">
              <div class="item-box m-1" *ngIf="chosenFlat.flat.rooms">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar-x bold">{{ chosenFlat.flat.rooms }}</div>
                  <div class="t-min bg-w">Кімнат</div>
                </div>
              </div>

              <div class="item-box m-1" *ngIf="chosenFlat.flat.area">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar-x bold">{{ chosenFlat.flat.area | number:'1.0-0' }}</div>
                  <div class="t-min bg-w">Площа</div>
                </div>
              </div>

              <div class="item-box m-1" *ngIf="chosenFlat.flat.floor">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar-x bold">{{ chosenFlat.flat.floor }}</div>
                  <div class="t-min bg-w">Поверх</div>
                </div>
              </div>

              <div class="item-box m-1" *ngIf="chosenFlat.flat.price_m && chosenFlat.flat.option_pay === 0">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar-xx bold accent">{{ chosenFlat.flat.price_m | number:'1.0-0' }}</div>
                  <div class="t-min bg-w accent">Ціна ₴/міс</div>
                </div>
              </div>

              <div class="item-box m-1" *ngIf="chosenFlat.flat.price_d && chosenFlat.flat.option_pay !== 0">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar-xx bold accent">{{ chosenFlat.flat.price_d | number:'1.0-0' }}</div>
                  <div class="t-min bg-w accent">Ціна ₴/добу</div>
                </div>
              </div>

            </div>
            <div class="p-2">

              <div class="param-box" *ngIf="chosenFlat.flat.region || chosenFlat.flat.city">
                <div class="param-label">Локація:</div>
                <div class="param-group">
                  <div class="param-field" *ngIf="chosenFlat.flat.region">
                    Область:<span class="param-value">{{ chosenFlat.flat.region }} </span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.city">
                    Місто:<span class="param-value">{{ chosenFlat.flat.city }} </span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.street">
                    Вулиця:<span class="param-value">{{ chosenFlat.flat.street }} {{ chosenFlat.flat.houseNumber
                      }}</span>
                  </div>
                </div>
              </div>

              <div class="param-box">
                <div class="param-label">Параметри оселі:</div>
                <div class="param-group">

                  <div class="param-field" *ngIf="chosenFlat.flat.option_flat">
                    <div *ngIf="chosenFlat.flat.room === 1">
                      Здаю:<span class="param-value"> Кімнату </span>
                    </div>

                    <div *ngIf="chosenFlat.flat.option_flat === 1">
                      Тип оселі:<span class="param-value"> Будинок </span>
                    </div>

                    <div *ngIf="chosenFlat.flat.option_flat === 2">
                      Тип оселі:<span class="param-value"> Квартира </span>
                    </div>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.area">
                    Площа:<span class="param-value">{{ chosenFlat.flat.area }}м²</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.repair_status">Стан
                    оселі:<span class="param-value">{{ chosenFlat.flat.repair_status }}</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.rooms">
                    Кімнат:<span class="param-value">{{ chosenFlat.flat.rooms }}</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.floor">
                    Поверх:<span class="param-value">{{ chosenFlat.flat.floor }}</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.balcony">
                    Тип балкону:<span class="param-value">{{ chosenFlat.flat.balcony }}</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.kitchen_area">
                    Площа кухні:<span class="param-value">{{ chosenFlat.flat.kitchen_area }}м²</span>
                  </div>
                </div>
              </div>

              <div class="param-box"
                *ngIf="chosenFlat.flat.distance_metro || chosenFlat.flat.distance_stop || chosenFlat.flat.distance_shop || chosenFlat.flat.distance_green || chosenFlat.flat.distance_parking">
                <div class="param-label">Інфраструктура в доступності:</div>
                <div class="param-group">
                  <div class="param-field" *ngIf="chosenFlat.flat.distance_metro">
                    Метро до:<span class="param-value">{{ aboutDistance[chosenFlat.flat.distance_metro] }}</span>
                  </div>
                  <div class="param-field" *ngIf="chosenFlat.flat.distance_stop">
                    Зупинка до:<span class="param-value">{{ aboutDistance[chosenFlat.flat.distance_stop] }}</span>
                  </div>
                  <div class="param-field" *ngIf="chosenFlat.flat.distance_shop">
                    Маркет до:<span class="param-value">{{ aboutDistance[chosenFlat.flat.distance_shop] }}</span>
                  </div>
                  <div class="param-field" *ngIf="chosenFlat.flat.distance_green">
                    Парк до:<span class="param-value">{{ aboutDistance[chosenFlat.flat.distance_green] }}</span>
                  </div>
                  <div class="param-field" *ngIf="chosenFlat.flat.distance_parking">
                    Паркінг до:<span class="param-value">{{ aboutDistance[chosenFlat.flat.distance_parking] }}</span>
                  </div>
                </div>
              </div>

              <div class="param-box">
                <div class="param-label">Особливості:</div>
                <div class="param-group">

                  <div class="param-field" *ngIf="chosenFlat.flat.option_pay">
                    Оплата:<span class="param-value">{{ option_pay[chosenFlat.flat.option_pay] }}</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.bunker">
                    Наявність укриття:<span class="param-value">{{ chosenFlat.flat.bunker }}</span>
                  </div>

                  <div class="param-field" *ngIf="chosenFlat.flat.animals && chosenFlat.flat.animals !== 'Неважливо'">
                    Дозвіл на тварин: <span class="param-value">{{ animals[chosenFlat.flat.animals] }} </span>
                  </div>

                </div>
              </div>

              <div class="p-2" *ngIf="chosenFlat.flat.about">
                <div class="t-lar dark bold">Додаткова інформація:</div>
                <div class="t-min ">{{ chosenFlat.flat.about }}</div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
