@use "../../style/presets/" as *;

.container-card {
  display: flex;
  border-radius: 10px;
}

.card-body {
  padding: 30px;
}

.slide-1 {
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 0 0 0 black;
  animation: mymove 4s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  border-radius: 10px;

  @keyframes mymove {
    from {
      box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 100px 0 0 rgba(0, 0, 0, 0);
    }
    to {
      box-shadow: inset 0 10px 2px black, 0 10px 20px black, inset 1000px 10px 10px rgb(230, 230, 230);
    }
  }
}

.slide-2 {
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: $color-white;
  box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 0 0 0 black;
  border-radius: 10px;

  animation-duration: 2s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      margin-left: 45%;
    }

    to {
      margin-left: 150px;
    }
  }
}

.description {
  width: 500px;
  padding: 10px;
  margin-top: 30px;
  color: $color-text;
  white-space: nowrap;
  overflow: hidden;
  animation: printed_text 1.5s steps(100);
  background-image: linear-gradient(to left, #ffffff00, rgba(94, 94, 94, 0.09));
  border-radius: 10px;
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

.logo {
  margin-top: 3rem;
  width: 70%;
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));


    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}


