@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.btn-group {
  @include flex-box;
  padding: 10px;
  width: 100%;
  .btn-navigation {
    @include flex-box;
    height: 60px;
    .fa-solid {
      padding-left: 10px;
      color: $color-dark;
    }
  }
}

.container-img {
  width: 100%;
}

.card-animation::-webkit-scrollbar,
.cards-container::-webkit-scrollbar,
.card-wrapper::-webkit-scrollbar {
  display: none;
}

.panel-container {
  bottom: 0;
  display: flex;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  justify-content: flex-start;
  .wrapper {
    @include flex-box;
    justify-content: space-between;
    width: 100%;
    .btn-panel {
      @include flex-box-column;
      height: 60px;
      border: none;
      background-color: transparent;
      flex: 1;
      justify-content: space-between;
      .panel-icon {
        height: 100%;
        @include flex-box-center;
        .fa-solid,
        .fa-regular {
          font-size: 25px;
          color: $color-dark;
        }
        .fa-star {
          font-size: 15px;
        }
      }
      .t-min {
        font-size: 10px;
      }
      .img-btn {
        @include flex-box;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        width: 80px;
        .fa-solid,
        .fa-regular {
          color: $color-dark;
        }
      }
    }
  }
}

.flex-box {
  justify-content: center;
}

.card-content {
  align-items: stretch !important;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-menu {
  display: flex;
  align-items: center;
  position: relative;
  transition: 1s;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  color: $color-text;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.197);
  border-top: 1px solid rgba(128, 128, 128, 0.197);
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.824) 10%,
    rgba(255, 255, 255, 0.653) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  .link-menu-t1 {
    font-size: $t-med;
    text-align: start;
  }

  .link-menu-t2 {
    font-weight: 600;
    font-size: 20px;
    text-align: start;
  }

  &:hover {
    transition: 1s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    .link-menu-t2,
    .link-menu-t1 {
      color: $color-accent;
    }
    .flex-column {
      transition: 1s;
      transform: translateX(40px);
    }
    .link-icon {
      transition: 1s;
      transform: translateX(-40px);
    }

    span {
      transition: 0.4s;
      transform: translate(-5px) scale(1.1);
      font-weight: 600;
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(5px) scale(1.1);
      transition: 0.4s;
    }
  }

  &.active {
    color: $color-accent;
    font-weight: 600;
    .fa-solid,
    .fa-regular {
      color: $color-accent;
    }
  }

  .link-icon {
    padding: 0 10px;
  }

  .link-text {
    font-size: 14px;
    font-family: $font-main;
  }

  .fa-solid,
  .fa-regular {
    color: $color-text;
    font-size: 30px;
  }
}


.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
