@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.btn-group {
  @include flex-box;
  padding: 10px;
  width: 100%;
  .btn-navigation {
    @include flex-box;
    height: 60px;
    .fa-solid {
      padding-left: 10px;
      color: $color-dark;
    }
  }
}

.container-img {
  width: 100%;
}

.card-animation::-webkit-scrollbar,
.cards-container::-webkit-scrollbar,
.card-wrapper::-webkit-scrollbar {
  display: none;
}

.flex-box {
  justify-content: center;
}

.card-content {
  align-items: stretch !important;
}

.img-fluid {
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
  }
}
.wrapper-img {
  overflow: hidden;
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
