@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.flex-column {
  font-family: $font-main;
}

.logo {
  width: 100px;
}

.font {
  font-family: $font-main;
}
