<app-navbar></app-navbar>

<div class="container-fluid">
  <!-- Навігація -->
  <div class="container-navbar">
    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/information-user'">Профіль корустувача</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/information-housing'">Профіль оселі</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/user-payment'">Способи оплати</a>
    </nav>
  </div>

  <!-- Картки -->
  <div class="container-fluid">
    <div class="container-card info">

      <!-- Фото оселі -->
      <div class="card" style="width: 20rem;">

        <div class="card-name">
          <h4>Картка оселі</h4>
          <p>Заповнення індивідуальної інформації про оселю</p>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="text-center">
                <img src="https://via.placeholder.com/200" class="rounded" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <img src="https://via.placeholder.com/200" class="rounded" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <img src="https://via.placeholder.com/200" class="rounded" alt="...">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div>
          <p>Додати фото оселі</p>
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>

        <div>
          <p>Додати документи на оселю</p>
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>
        </div>

        <div>
          <p>Додати існуючу угоду</p>
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>
        </div>

        <!-- Кнопки -->
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
        </div>




      </div>

      <!-- Інформація про оселю -->
      <div class="card" style="width: 20rem;">
        <div class="card-name">
          <h4>Інформація про оселю</h4>
        </div>

        <!-- Область -->
        <div class="inputbox">
          <label for="">Область</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="1">Вінницька</option>
            <option value="2">Волинська</option>
            <option value="3">Дніпропетровська</option>
            <option value="4">Донецька</option>
            <option value="5">Житомирська</option>
            <option value="6">Закарпатська</option>
            <option value="7">Запорізька</option>
            <option value="8">Івано-Франківська</option>
            <option value="9">Київська</option>
            <option value="10">Кіровоградська</option>
            <option value="11">Луганська</option>
            <option value="12">Львівська</option>
            <option value="13">Миколаївська</option>
            <option value="14">Одеська</option>
            <option value="15">Полтавська</option>
            <option value="16">Рівненська</option>
            <option value="17">Сумська</option>
            <option value="18">Тернопільська</option>
            <option value="19">Харківська</option>
            <option value="20">Херсонська</option>
            <option value="21">Хмельницька</option>
            <option value="22">Черкаська</option>
            <option value="23">Чернівецька</option>
            <option value="24">Чернігівська</option>
          </select>
        </div>

        <!-- Місто -->
        <div class="inputbox">
          <input required="required" type="text" id="inputCity">
          <span>Місто</span>
          <i></i>
        </div>

        <!-- Індекс -->
        <div class="inputbox">
          <input required="required" type="text" id="inputZip">
          <span>Індекс</span>
          <i></i>
        </div>

        <!-- Вулиця -->
        <div class="inputbox">
          <input required="required" type="text" id="inputAddress">
          <span>Вулиця</span>
          <i></i>
        </div>

        <!-- Номер/поверх -->
        <div class="container-box">

          <div class="inputbox">
            <input required="required" type="text" id="inputAddress2">
            <span>Номер</span>
            <i></i>
          </div>

          <div class="inputbox">
            <input required="required" type="text" id="inputAddress2">
            <span>Поверх</span>
            <i></i>
          </div>

          <div class="inputbox">
            <input required="required" type="text" id="inputAddress2">
            <span>Квартира</span>
            <i></i>
          </div>

        </div>


        <!-- Опис -->
        <div class="input-group">
          <span class="input-group-text">Опис</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <!-- Ціна за місяць -->
        <div class="">
          <label for="">Ціна за місяць</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inputPrice"
              aria-label="Dollar amount (with dot and two decimal places)">
            <span class="input-group-text">₴</span>
          </div>
        </div>

        <!-- Ціна за рік -->
        <div class="">
          <label for="">Ціна за рік</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inputPrice"
              aria-label="Dollar amount (with dot and two decimal places)">
            <span class="input-group-text">₴</span>
          </div>
        </div>


        <!-- Кнопки -->
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
        </div>

      </div>

      <!-- Ціна та особливості -->
      <div class="card" style="width: 20rem;">
        <div class="card-name">
          <h4>Ціна та особливості</h4>
        </div>

        <!-- Метро -->
        <div class="inputbox">
          <label for="">Метро</label>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected disabled>Метро</option>
            <option value="1">до 100м</option>
            <option value="2">до 300м</option>
            <option value="3">до 500м</option>
            <option value="3">до 1км</option>
          </select>
        </div>

        <!-- Зупинка транспорту -->
        <div class="inputbox">
          <label for="">Зупинка транспорту</label>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected disabled>Зупинка транспорту</option>
            <option value="1">до 100м</option>
            <option value="2">до 300м</option>
            <option value="3">до 500м</option>
            <option value="3">до 1км</option>
          </select>
        </div>

        <!-- Продуктові магазини -->
        <div class="inputbox">
          <label for="">Продуктові магазини</label>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected disabled>Продуктові магазини</option>
            <option value="1">до 100м</option>
            <option value="2">до 300м</option>
            <option value="3">до 500м</option>
            <option value="3">до 1км</option>
          </select>
        </div>

        <!-- Парки, сквери -->
        <div class="inputbox">
          <label for="">Парк, сквер</label>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected disabled>Парк, сквер</option>
            <option value="1">до 100м</option>
            <option value="2">до 300м</option>
            <option value="3">до 500м</option>
            <option value="3">до 1км</option>
          </select>
        </div>

        <!-- Паркінг -->
        <div class="inputbox">
          <label for="">Паркінг</label>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected disabled>Паркінг</option>
            <option value="1">на території</option>
            <option value="2">до 300м</option>
            <option value="3">до 500м</option>
            <option value="3">до 1км</option>
          </select>
        </div>

        <!-- Чекбокс 1 -->
        <div>
          <p>Розглядаю</p>
          <div class="container-checkbox">

            <div class="content">
              <label class="checkBox">
                <input id="ch1" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Студент</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="ch2" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Жінка</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="ch3" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Чоловік</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="ch4" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Сім'я</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="ch5" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Діти</span>
              <i></i>
            </div>

          </div>
        </div>

        <!-- Чекбокс 2 -->
        <div>
          <p>Не проти</p>

          <div class="container-checkbox">

            <div class="content">
              <label class="checkBox">
                <input id="ch6" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Котів</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="ch7" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Собак</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="ch8" type="checkbox">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Інше</span>
              <i></i>
            </div>

          </div>
        </div>

        <!-- Кнопки -->
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
        </div>

      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
