  <div class="footer-box">
    <div class="icon-box">
      <a href="https://www.facebook.com/denis.kononov.35"><i class="fab fa-brands fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/kononov.den1s/"><i class="fab fa-brands fa-instagram"></i></a>
      <a href="https://github.com/dkononov-ua"><i class="fab fa-brands fa-git"></i></a>
      <a href="https://t.me/DenisKononov"><i class="fab fa-brands fa-telegram"></i></a>
    </div>
    <div class="footer-copy">
      <span>© Project. Developed by Denys Kononov</span><span> 2023</span><br>
    </div>
  </div>
