@use "../style/presets/" as *;

.footer-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.icon-box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.footer-copy {
  font-weight: normal;
  margin-top: 10px;
  color: $color-text;
  font-size: 15px;
  animation: border-flicker 4s linear infinite;
}

.fab {
  color: $color-icon;
  margin: 10px 15px;
  font-size: 30px;

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0 0 40px $color-accent;
  }
}
