<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div *ngIf="!isContainerVisible" class="container-fluid">

    <div class="container-box col-12">

      <div class="container-left col-lg-6 col-md-5 col-sm-6 col-12">
        <h2>Сформуй угоду за три кроки</h2>
        <div class="btn-box">
          <button class="btn-create" (click)="changeStep(1)" matTooltip="ПЕРШИЙ КРОК"><i
              class="fa-solid fa-1"></i></button>
          <button class="btn-create" (click)="changeStep(2)" matTooltip="ПЕРШИЙ КРОК"><i
              class="fa-solid fa-2"></i></button>
          <button class="btn-create" (click)="changeStep(3)" matTooltip="ПЕРШИЙ КРОК"><i
              class="fa-solid fa-3"></i></button>
          <button class="btn-create" (click)="changeStep(4)" matTooltip="Перегляд"><i
              class="fa-regular fa-circle-check"></i></button>

        </div>

        <h2 *ngIf="currentStep === 1">Перший крок. Оберіть оселю перевірте правильність даних</h2>
        <h2 *ngIf="currentStep === 2">Другий крок. Оберіть орендара</h2>
        <h2 *ngIf="currentStep === 3">Третій крок. Заповніть форму</h2>
        <h2 *ngIf="currentStep === 4">Третій крок. Заповніть форму</h2>
      </div>



      <div class="container-card group col-lg-5 col-md-5 col-sm-6 col-12" *ngIf="currentStep === 1">
        <div class="card-box p-2 col-lg-12 col-md-5 col-sm-6 col-12">
          <div class="card">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img-fluid-house" *ngIf="houseData.imgs?.length > 0">
                    <img [src]="'http://localhost:3000/img/flat/' + houseData.imgs[0].img" alt="Flat Image"
                      class="img-house rounded">
                  </div>
                </div>
                <div class="carousel-item" *ngFor="let image of houseData.imgs?.slice(1)">
                  <div class="img-fluid-house">
                    <img [src]="'http://localhost:3000/img/flat/' + image.img" alt="Flat Image"
                      class="img-house rounded">
                  </div>
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div class="input-mat mt-2 p-2">
              <app-housing-selection></app-housing-selection>
            </div>
              <!-- <div class="content">
                <label class="checkBox">
                  <input id="daily" type="radio" [(ngModel)]="agreement_type" name="month" [value]=0>
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span">Подобово</span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input id="monthly" type="radio" [(ngModel)]="agreement_type" name="daily" [value]=1>
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span">Щомісяця</span>
                <i></i>
              </div> -->
            <div class="item-characteristics p-2">ID оселі: <span class="item-name">{{ houseData.about.flat_id }}</span>
            </div>

            <div class="characteristics-group p-2">

              <mat-form-field appearance="outline" class="input-mat w-50 p-1">
                <mat-label class="label-auto">Місто</mat-label>
                <input matInput type="text" id="city" name="apartment-city"
                  [ngModel]="houseData.flat.city ? houseData.flat.city : ''" placeholder="Місто"
                  [disabled]="isCityDisabled">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-50 p-1">
                <mat-label class="label-auto">Вулиця</mat-label>
                <input matInput type="text" id="street" name="apartment-address"
                  [ngModel]="houseData.flat.street ? houseData.flat.street : ''" placeholder="Вулиця"
                  [disabled]="isStreetDisabled">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-30">
                <mat-label class="label-auto" for="house-number">Будинок:</mat-label>
                <input matInput type="text" id="house-number" name="apartment-address"
                  [ngModel]="houseData.flat.houseNumber ? houseData.flat.houseNumber : ''" placeholder="Номер будинку"
                  [disabled]="isHouseNumberDisabled">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-30">
                <mat-label class="label-auto" for="apartment-number">Квартира:</mat-label>
                <input matInput type="text" id="apartment-number" name="apartment-address"
                  [ngModel]="houseData.flat.apartment ? houseData.flat.apartment : ''" placeholder="Номер квартири"
                  [disabled]="isApartmentNumberDisabled">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-30">
                <mat-label class="label-auto" for="apartment-size">Площа м²:</mat-label>
                <input matInput type="text" id="apartment-size" name="apartment-address"
                  [ngModel]="houseData.param.area ? houseData.param.area : ''" placeholder="м²"
                  [disabled]="isApartmentSizeDisabled">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-70 p-1">
                <mat-label class="label-auto">Сума плати/місяць грн</mat-label>
                <input matInput type="text" id="rent-price" name="apartment-address"
                  [ngModel]="houseData.about.price_m ? houseData.about.price_m : ''"
                  placeholder="сума орендної плати на місяць" [disabled]="isRentPriceDisabled">
              </mat-form-field>

            </div>



          </div>
        </div>
      </div>

      <div class="container-card group col-lg-5 col-md-5 col-sm-6 col-12" *ngIf="currentStep === 2">
        <div class="card-box p-2 col-lg-12 col-md-5 col-sm-6 col-12">

          <div class="card">
            <mat-label>Сторона орендодавця</mat-label>
            <div class="img-fluid">
              <img class="" [src]="'http://localhost:3000/img/users/' +
              (userData.img[0].img ? userData.img[0].img : 'user_default.svg')" alt="User Image">
              <div class="item-box w-50">
                <div class="item-name">{{ userData.inf.lastName }}</div>
                <div class="item-name">{{ userData.inf.firstName }}</div>
                <div class="item-name">{{ userData.inf.surName }}</div>
              </div>
            </div>

            <div class="item-wrapper mt-1 p-3">
              <p class="item-name"><span class="item-description">іменований надалі "Орендодавець"</span></p>
              <p class="item-name"><span class="item-description">User ID:</span> {{ userData.cont.user_id }}</p>

              <mat-form-field class="input-mat p-1" appearance="outline">
                <mat-label class="label-accent">Телефон</mat-label>
                <input type="tel" name="owner_tell" matInput [(ngModel)]="userData.cont.tell" [maxlength]="10"
                  [pattern]="phonePattern">
              </mat-form-field>

              <mat-form-field class="input-mat p-1" appearance="outline">
                <mat-label class="label-accent">Email:</mat-label>
                <input type="tel" name="owner_mail" matInput [(ngModel)]="userData.cont.mail">
              </mat-form-field>

            </div>
          </div>
        </div>

        <div class="card-box p-2 col-lg-12 col-md-5 col-sm-6 col-12">
          <div class="card">
            <div class="input-mat mt-2" *ngIf="subscribers.length > 0">
              <mat-form-field class="list-form p-2" appearance="outline">
                <mat-label class="accent">Орендар</mat-label>
                <mat-select class="list-select" [(value)]="selectedSubscriber">
                  <mat-option disabled value="">Виберіть підписника</mat-option>
                  <mat-option class="list-option" *ngFor="let subscriber of subscribers" [value]="subscriber">
                    {{ subscriber.firstName }} {{ subscriber.lastName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="selectedSubscriber">
              <mat-label>Сторона орендара</mat-label>
              <div class="img-fluid">
                <img class="" [src]="'http://localhost:3000/img/users/' +
                (selectedSubscriber?.img ? selectedSubscriber?.img : 'user_default.svg')" alt="User Image">
                <div class="item-box w-50">
                  <div class="item-name">{{ selectedSubscriber?.lastName }}</div>
                  <div class="item-name">{{ selectedSubscriber?.firstName }}</div>
                  <div class="item-name">{{ selectedSubscriber?.surName }}</div>
                </div>
              </div>

              <div class="item-wrapper mt-1 p-3">
                <p class="item-name"><span class="item-description">іменований надалі "Орендар"</span></p>
                <p class="item-name"><span class="item-description">User ID:</span> {{ selectedSubscriber?.user_id }}
                </p>

                <mat-form-field class="input-mat p-1" appearance="outline">
                  <mat-label class="label-accent">Телефон</mat-label>
                  <input type="tel" name="subscriber_tell" matInput [(ngModel)]="selectedSubscriber.tell"
                    [maxlength]="10" [pattern]="phonePattern">
                </mat-form-field>
                <mat-form-field class="input-mat p-1" appearance="outline">
                  <mat-label class="label-accent">Email:</mat-label>
                  <input type="tel" name="subscriber_mail" matInput [(ngModel)]="selectedSubscriber.mail">
                </mat-form-field>
              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="container-card col-lg-5 col-md-5 col-sm-6 col-12" *ngIf="currentStep === 3">
        <div class="btn-container">
          <button class="btn-info" id="infoButton">Допомога</button>
          <div class="info-menu">
            <p class="info-menu-text"><strong>Меню формування угоди</strong></p>
            <p class="info-menu-text">Для формування угоди потрібно щоб аккаунти користувачів містили інформацію: П.І.Б,
              телефон, контактну пошту.</p>
            <p class="info-menu-text"> У формі обов'язкові поля: дата, термін, та число оплати.</p>
          </div>
        </div>
        <div class="card m-2 p-2">
          <div class="characteristics-group">
            <mat-label>Дата укладання угоди</mat-label>
            <div class="input-mat p-1">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="agreementDate"
                  (ngModelChange)="onDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <mat-label>Термін оренди / число оплати</mat-label>
            <div class="group-select">

              <mat-form-field appearance="outline" class="input-mat w-30 p-1"
                [ngClass]="{ 'required-field': yearsInput?.invalid && yearsInput?.touched }">
                <mat-label class="label-accent" for="years">Роки:</mat-label>
                <input matInput type="number" name="years" placeholder="Роки" min="0" max="10" step="1"
                  [(ngModel)]="years" #yearsInput="ngModel" required>
                <mat-error *ngIf="yearsInput?.invalid && yearsInput?.touched">Це обов'язково</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-30 p-1"
                [ngClass]="{ 'required-field': (monthsInput.invalid && monthsInput.touched) || (formSubmitted && monthsInput.invalid) }">
                <mat-label class="label-accent" for="months">Місяці:</mat-label>
                <input matInput type="number" name="months" placeholder="Місяці" min="0" max="11" [(ngModel)]="months"
                  #monthsInput="ngModel" required>
                <mat-error
                  *ngIf="(monthsInput.invalid && monthsInput.touched) || (formSubmitted && monthsInput.invalid) || !months">Це
                  обов'язково</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-30 p-1">
                <mat-label class="label-accent" for="days">Дні:</mat-label>
                <input matInput type="number" name="days" placeholder="Дні" min="0" max="11" [(ngModel)]="days"
                  #monthsInput="ngModel" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat w-30 p-1">
                <mat-label class="label-accent">Число</mat-label>
                <input matInput type="text" id="rent_due_date" name="rent_due_date" min="1" max="31" placeholder="дата"
                  required [(ngModel)]="rentDueDate" #rentDueDateInput="ngModel">
                <mat-error *ngIf="rentDueDateInput.invalid">Число</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="characteristics-group">
            <div class="input-group">

              <div class="content">
                <mat-label class="mr-2">Штрафні санкції</mat-label>

                <label class="checkBox">
                  <input type="checkbox" [(ngModel)]="isCheckboxPenalty">
                  <div class="transition"></div>
                </label>
                <i></i>
              </div>

              <div>
                <div class="info-text">За несвоєчасне внесення платежів оплачувати пеню
                  з розрахунку відсоток пені за прострочення
                  <span class="accent">"% пені"</span> але не більше максимального відсотку пені
                  <span class="accent">"Max % пені"</span> суми заборгованості.
                </div>

                <mat-form-field appearance="outline" class="input-mat w-50 p-1">
                  <mat-label>% пені</mat-label>
                  <input matInput type="number" id="penalty" name="penalty" min="0" max="100" required
                    [(ngModel)]="penalty" [ngModelOptions]="{standalone: true}" [disabled]="!isCheckboxPenalty"
                    (ngModelChange)="penalty = $event || 0" placeholder=0 value="0">
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-mat w-50 p-1">
                  <mat-label>Max % пені</mat-label>
                  <input matInput type="number" id="max_penalty" name="max_penalty" min="0" max="100" required
                    [(ngModel)]="maxPenalty" [ngModelOptions]="{standalone: true}" [disabled]="!isCheckboxPenalty"
                    value="0">
                </mat-form-field>
              </div>

              <div class="content">
                <mat-label class="mr-2">Додаткові умови</mat-label>

                <label class="checkBox">
                  <input type="checkbox" [(ngModel)]="additional_conditions">
                  <div class="transition"></div>
                </label>
                <i></i>
              </div>

              <div class="form-floating p-1">
                <textarea #textArea class="form-control scrollable-textarea" id="floatingTextarea"
                  [disabled]="!additional_conditions" [(ngModel)]="conditions" name="conditions" (input)="onInput()"
                  [disabled]="!additional_conditions"></textarea>
                <label for="floatingTextarea">
                  <p>Додаткові умови:</p>
                </label>
              </div>


            </div>


          </div>




        </div>
      </div>

      <div class="container-card group col-lg-5 col-md-5 col-sm-6 col-12" *ngIf="currentStep === 4">
        <div class="card p-2">
          <div class="content">
            <mat-label class="mr-2">Сформувати угоду</mat-label>
            <label class="checkBox">
              <input type="checkbox" [(ngModel)]="isCheckboxChecked">
              <div class="transition"></div>
            </label>
            <i></i>
          </div>

          <button class="btn btn-agree mt-2 mb-2" type="submit" (click)="openContainer()">Переглянути деталі
            угоди</button>
          <button class="btn btn-agree" type="submit"
            (click)="isFormEmpty() ? showMessage('А термін угоди, дата оплати?') : sendFormAgreement(subscribers[0])"
            [disabled]="!isCheckboxChecked">Надіслати орендару</button>
          <div *ngIf="message" class="error-message">{{ message }}</div>
        </div>
      </div>



    </div>
  </div>

  <div *ngIf="isContainerVisible" id="agreement-container">
    <div class="agree">
      <div class="close-box">
        <button class="btn-close" type="submit" (click)="closeContainer()"></button>
      </div>
      <div class="box m-2">
        <div class="title-group">
          <img class="logo" src="../../../assets/logo/Discussio (7).svg" alt="">
          <div class="title">Discussio угода. <br> Укладання угоди оренди житлового приміщення.</div>
        </div>
        <h5>Місце та дата укладання Discussio угоди: <span class="accent">{{ houseData.flat.city }},
            {{ agreementDate | date }}</span> </h5>
      </div>
      <div class="flex-column">
        <div class="wrapper-group">
          <div class="agree-wrapper">
            <p class="item-description">Сторона орендодавця</p>
            <p class="item-agree"><span class="item-description">П.І.Б: </span>{{ userData.inf.lastName }} {{
              userData.inf.firstName }} {{ userData.inf.surName }}
            </p>
            <p class="item-agree"><span class="item-description">User ID: </span> {{ userData.cont.user_id }}
            </p>
            <p class="item-agree"><span class="item-description">Телефон: </span> {{ userData.cont.tell }}</p>
            <p class="item-agree"><span class="item-description">Email: </span> {{ userData.cont.mail }}</p>
          </div>

          <div class="agree-wrapper">
            <p class="item-description">Сторона орендара</p>
            <p class="item-agree"><span class="item-description">П.І.Б:</span>{{ selectedSubscriber?.lastName }}
              {{
              selectedSubscriber?.firstName }} {{
              selectedSubscriber?.surName }}
            </p>
            <p class="item-agree"><span class="item-description">User ID:</span> {{ selectedSubscriber?.user_id
              }}
            </p>
            <p class="item-agree"><span class="item-description">Телефон:</span> {{ selectedSubscriber?.tell }}
            </p>
            <p class="item-agree"><span class="item-description">Email:</span> {{ selectedSubscriber?.mail }}
            </p>
            <p></p>
          </div>
        </div>

        <div>
          <p class="item-description">Сторона орендодавця іменований надалі "Орендодавець", з одного боку,
            і Сторона орендара іменований надалі "Орендар", з іншого боку, уклали даний договір про наступне:</p>
        </div>
      </div>
      <div class="container-fluid">
        <ul>1. Предмет договору
          <li>1.1. Орендодавець представляє Орендареві й членам його родини в користування строком на <span
              class="accent"> {{ years }} <div *ngIf="years! > 1">роки</div>
              <div *ngIf="years! < 1">рік</div>
            </span> та
            <span class="accent"> {{ months }} місяці </span>
            квартиру загальною площею: <span class="accent">{{houseData.param.area}} м² </span>
            за адресою: вулиця <span class="accent">{{ houseData.flat.street }}, будинок {{ houseData.flat.houseNumber
              }},
              квартира {{ houseData.flat.apartment }}</span>,
            характеристика якої наведена в акті здачі квартири.
          </li>
          <li>1.2. За згодою сторін договором встановлюється плата за оренду квартири в розмірі
            <span class="accent">{{houseData.about.price_m}}</span> гривень на місяць, до складу якої включені
            пропорційно
            орендованої площі платежі на повне відновлення будинку, витрати на обслуговування й
            ремонт будинку й квартири, витрати по оплаті комунальних і інших послуг.
          </li>
        </ul>

        <ul>2. Обов'язку сторін
          <li>
            2.1. Орендодавець зобов'язується:
          </li>
          <li>
            2.1.1. Надати в оренду належне йому на праві власності житло в придатному для
            проживання стані.
          </li>
          <li>
            2.1.2. Здійснювати утримання будинку й технічних обладнань квартири відповідно до
            вимог користування житловими приміщеннями, утримання житлового будинку і
            прибудинкової території в Україні.
          </li>
          <li>
            2.1.3. Забезпечувати надання комунальних і інших послуг.
          </li>
          <li>
            2.2. Орендар зобов'язується:
          </li>
          <li>
            2.2.1. Використати здану йому за договором оренди квартиру за призначенням.
          </li>
          <li>
            2.2.2. Дотримуватись вимог до користування житловими приміщеннями, утриманням
            житлового будинку й прибудинкової території в Україні.
          </li>
          <li>
            2.2.3. Вчасно повідомляти Орендодавцеві про виявлені несправності елементів квартири
            й будинку.
          </li>
          <li>
            2.2.4. Не пізніше <span class="accent">{{ rentDueDate }} дня місяця</span> вносити плату за оренду.
            За несвоєчасне внесення платежів оплачувати пеню з розрахунку <span class="accent">відсоток пені за
              прострочення: {{ penalty }}%</span> від
            несплаченої суми за кожний день прострочення, але не більше <span class="accent">максимальний відсоток
              пені:
              {{ maxPenalty }}%</span> суми заборгованості.
          </li>
          <li> 2.2.5. Допускати в денний час, а при аваріях і в нічний час, в орендовану квартиру
            працівників Орендодавця або самого Орендодавця, а також представників підприємств по
            обслуговуванню й ремонту житла для проведення огляду й ремонту конструкцій і
            технічних обладнань квартири.
          </li>
          <li> 2.2.6. Звільнити орендоване житлове приміщення після закінчення обумовленого в
            даному договорі строку оренди.
          </li>
        </ul>

        <ul> 3. Права сторін

          <li> 3.1. Орендодавець має право:
          </li>
          <li> 3.1.1. Вимагати від Орендаря дотримання вимог користування житловими приміщеннями,
            утримання житлового будинку й прибудинкової території.
          </li>
          <li> 3.1.2. Вимагати від Орендаря своєчасного внесення плати за оренду.
          </li>
          <li> 3.1.3. Вимагати від Орендаря звільнення житлового приміщення після закінчення строку
            договору оренди.
          </li>
          <li> 3.1.4. Продати Орендареві займану ним квартиру.
          </li>
          <li> 3.2. Орендар має право:
          </li>
          <li> 3.2.1. Вселити в орендоване житлове приміщення незалежно від згоди Орендодавця своїх
            неповнолітніх дітей, дружину (чоловіка) і непрацездатних батьків.
          </li>
          <li> 3.2.2. Вимагати від Орендодавця своєчасного і якісного виконання комплексу робіт із
            утримання житлового будинку, квартири й прибудинкової території, а також надання
            комунальних і інших послуг, передбачених договором оренди.
          </li>
          <li> 3.2.3. Викупити в Орендодавця з його згоди орендоване приміщення, уклавши договір
            купівлі-продажу.
          </li>
          <li> 3.2.4. Вимагати обґрунтування збільшення плати за оренду після укладання договору
            оренди.
          </li>
          <li> 3.2.5. Вимагати перерахунку плати за оренду при невиконанні Орендодавцем обов'язків,
            передбачених у п. п. 2.1.2.
          </li>
        </ul>

        <ul> 4. Відповідальність сторін
          <li> 4.1. Відповідальність Орендодавця:
          </li>
          <li> 4.1.1. Орендодавець відшкодовує Орендареві матеріальний збиток, заподіяний у
            результаті невиконання обов'язків, передбачених у п. п. 2.1.2 даного договору, у
            встановленому законом порядку.
          </li>
          <li> 4.2. Відповідальність Орендаря:
          </li>
          <li> 4.2.1. Орендар відшкодовує Орендодавцеві матеріальний збиток, заподіяний у результаті
            невиконання обов'язків, передбачених у п. п. 2.2.1 і п. п. 2.2.2 даного договору, у
            встановленому законом порядку.
          </li>
        </ul>

        <ul> 5. Заключні умови

          <li> 5.1. Даний договір може бути розірваний із ініціативи кожної зі сторони при наявності
            умов і в порядку, передбаченому житловим законодавством.
          </li>
          <li> 5.2. Виниклі при виконанні даного договору спори між сторонами вирішуються у
            встановленому законом порядку.
          </li>
          <li> 5.3. Даний договір складений в 2-х екземплярах, один із яких перебуває в Орендодавця,
            іншої - в Орендаря.
          </li>
          <li> 5.4. Невід'ємною частиною даного договору є акт здачі квартири Орендареві.
          </li>
          <li> 5.5. Договір набуває чинності з моменту його підписання.
          </li>

        </ul>
        <ul>6. Додаткові умови від власника.
        </ul>

      </div>

      <div class="container-fluid">
        <span class="accent about">{{ conditions }}</span>
      </div>

      <div class="container-fluid">
        <div class="field-box col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="m-2">
            <div class="field-title">Орендодавець:</div>
            <div class="field">
              <div class="input-box">
                <p>Паспорт №</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p>Серія</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p>Виданий</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p>Адреса:</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box-signature">
                <div class="signature-box">
                  <div class="text"> {{userData.inf.lastName}}
                    {{userData.inf.firstName}} {{userData.inf.surName}}</div>
                </div>
                <div class="signature">підпис</div>
              </div>

            </div>
          </div>
        </div>

        <div class="field-box col-lg-6 col-md-6 col-sm-6 col-6 pb-5">
          <div class="m-2">
            <div class="field-title">Орендар:</div>
            <div class="field">
              <div class="input-box">
                <p>Паспорт №</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p>Серія</p>
              </div>

              <div class="field">
                <div class="input-box">
                  <p>Виданий</p>
                </div>
              </div>

              <div class="field">
                <div class="input-box">
                  <p>Адреса:</p>
                </div>
              </div>

            </div>

            <div class="field">
              <div class="input-box-signature">
                <div class="signature-box">
                  <div class="text"> {{selectedSubscriber?.lastName}}
                    {{selectedSubscriber?.firstName}} {{selectedSubscriber?.surName}}
                  </div>
                </div>
                <div class="signature">підпис</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="statusMessage" class="status-message">
  <div>
    <img src="../../../../assets/logo/Discussio (7).svg" alt="Logo">
  </div>
  {{ statusMessage }}
</div>
