@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.status1 {
  // left: 0 !important;
  // top: 40% !important;
  right: 0;
}

.switch-btn-group {
  @include flex-box-column;
  justify-content: center;
  position: relative;
  width: 70px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.btn {
  @include flex-box-column;
  position: relative;
  justify-content: center;
  height: 60px;
  width: 80px;
  background-color: transparent;
  border: none;
  transition: 1s;
  &:hover {
    background-color: transparent;
    transform: scale(1.1);
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      font-size: 36px;
    }
    .t-min {
      color: $color-accent;
    }
  }
  @include s1-s3 {
    flex: 1;
    width: 50px;
  }
  &.active {
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      font-size: 36px;
    }
    .t-min {
      color: $color-accent;
    }
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px $color-accent);
  }
  &:disabled {
    .fa-regular,
    .fa-solid {
      color: $color-gray;
    }
  }
  .fa-solid,
  .fa-regular {
    font-size: 30px;
  }
}

.progress-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  .progress-wrapper {
    display: flex;
    padding: 5px;
    width: calc(100% - 10px);
    border-radius: 20px;
    justify-content: space-around;
    align-items: stretch;
    height: 200px;
    flex-direction: column;
  }
}

.flex-column-box {
  @include flex-box-center;
  flex-direction: column;
  .mini {
    font-size: 12px;
    color: $color-gray;
  }
}

.switch-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  flex-direction: row;
  @include s1-s3 {
    border: none;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }
}
