<div [@top3] class="progress-content">
  <div class="progress-wrapper">
    <h2 class="bold t-med m-2 border-bottom"><strong>Послідовність пошуку оселі</strong></h2>
    <div class="switch-container">

      <div class="flex-column">
        <div class="flex-box">
          <a class="switch-btn-group" [routerLink]="'/search/house'">
            <div class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
              <div class="t-min bold">Пошук Оселі</div>
            </div>
          </a>
          <div class="flex-column-box">
            <i class="fa-solid fa-heart mini"></i>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <div class="flex-box">
          <a class="switch-btn-group" [routerLink]="'/user/tenant/profile'">
            <div class="btn">
              <i class="fa-solid fa-person-hiking"></i>
              <div class="t-min bold">Активація Профілю</div>
            </div>
          </a>
          <div class="flex-column-box">
            <i class="fa-solid fa-arrow-right"></i>
            <i class="fa-solid fa-heart mini"></i>
          </div>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex-box">
          <div class="switch-btn-group">
            <a class="btn" [routerLink]="'/user/discus/subscriptions'">
              <i class="fa-regular fa-heart custom-badge" matBadge="{{counterUserSubscriptions}}"
              [matBadgeHidden]="counterUserSubscriptions === 0"></i>
              <div class="t-min bold">Вподобані</div>
            </a>
          </div>
          <div class="flex-column-box">
            <i class="fa-solid fa-hourglass-start mini"></i>
            <i class="fa-solid fa-arrow-trend-down"></i>
          </div>
        </div>
        <div class="flex-box">
          <div class="switch-btn-group">
            <a class="btn" [routerLink]="'/user/discus/subscribers'">
              <i class="fa-solid fa-people-pulling custom-badge" matBadge="{{counterUserSubscribers}}"
              [matBadgeHidden]="counterUserSubscribers === 0"></i>
              <div class="t-min bold">Пропозиції</div>
            </a>
          </div>
          <div class="flex-column-box">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <i class="fa-solid fa-thumbs-up mini"></i>
          </div>
        </div>
      </div>

      <div class="switch-btn-group">
        <a class="btn" [routerLink]="'/user/discus/discussion'">
          <i class="fa-solid fa-person-walking-luggage custom-badge" matBadge="{{counterUserDiscussio}}"
          [matBadgeHidden]="counterUserDiscussio === 0"></i>
          <div class="t-min bold">Дискусія</div>
        </a>
      </div>

      <i class="fa-solid fa-arrow-right"></i>

      <div class="switch-btn-group">
        <a class="btn" [routerLink]="'/user/agree/about'">
          <i class="fa-solid fa-envelope-open-text custom-badge" matBadge="{{counterUserNewAgree}}"
          [matBadgeHidden]="counterUserNewAgree === 0"></i>
          <div class="t-min bold">Угода</div>
        </a>
      </div>

    </div>
  </div>
</div>
