<div class="container">
  <div>
    <img class="logo" src="../../../assets/logo/logo.svg" alt="">
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">

    <!-- Електронна пошта -->
    <div class="inputbox">
      <input class="form-control" id="email" type="text" placeholder="Email" formControlName="email" required>
      <div *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}</div>
    </div>

    <!-- Пароль -->
    <div class="inputbox">
      <input class="form-control" id="password" type="text" placeholder="Пароль" formControlName="password" required>
      <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
    </div>

    <div class="container-checkbox">
      <div class="checkbox">
        <input type="checkbox" name="checkbox" id="checkbox">
        <label>Запам'ятати мене</label>
      </div>
      <div class="pass-link">
        <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/our-team'">Забули пароль?</a>
      </div>
    </div>



    <button type="button" class="ghost-black" (click)="onSubmit()">
      Увійти
    </button>

    <div class="pass-link">
      <a href="#">Зареєструватись</a>
    </div>



    <span>або скористатися своїм обліковим записом</span>
    <div class="social-container">
      <a href="#"><i class="fab fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-google"></i></a>
    </div>
  </form>
</div>
