<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min">Назад</div>
      </button>
    </div>

    <div class="menu-box">
      <div class="menu-lable">Підписники</div>
      <div class="menu-name">Оселі <i class="fa-solid fa-child-reaching pl-2"></i></div>
    </div>

    <div class="switch-btn-group">
      <app-navigation-house></app-navigation-house>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="!isMobile" class="btn" (click)="onClickMenu(0)" [ngClass]="{ 'active': indexPage === 0}">
        <i class="fa-solid fa-circle-info"></i>
        <div class="t-min bold">Інфо</div>
      </button>
    </div>

    <div class="switch-btn-group ">
      <button class="btn" [disabled]="counterFound === 0 || !isMobile" (click)="onClickMenu(1)"
        [ngClass]="{ 'active': indexPage === 1}">
        <i class="fa-solid fa-people-group"></i>
        <div class="t-min bold">Підписн.</div>
        <div class="status"> {{counterFound}} </div>
      </button>
    </div>

  </div>

  <div class="main-container">

    <div class="card-wrapper col-lg-3 col-md-3 col-sm-12 col-12" *ngIf="!isMobile">
      <div [@right1] class="card-content">
        <div class="flex-box-center t-c p-2 mt-2 w-100">
          <i class="fa-solid fa-child-reaching"></i>
          <p class="t-lar-x bold">Меню Підписників Оселі</p>
          <p class="link-menu-t2">користувачі які хочуть орендувати вашу оселю.</p>
        </div>

        <ul class="t-med mt-2 t-s">
          <span class="t-lar bold p-3">Тут доступні такі можливості:</span>
          <li>Перегляд інформації орендаря.</li>
          <li>Перегляд соціальних мереж орендаря.</li>
          <li>Видалення з підписників.</li>
        </ul>

        <div class="flex-box-center t-c p-2 mt-2">
          <p class="link-menu-t1">Підписники формуються із тих користувачів які вподобали вашу оселю в "Пошуку
            оселі".</p>
          <p class="link-menu-t1">Після ухвалення орендаря він з'явиться в меню "Дискусії оселі".</p>
        </div>

        <a class="b-primary w-90 mt-2" target="_blank" href="https://t.me/discussio_chat">
          <i class="fa-solid fa-headset pr-2"></i> Техпідтримка
        </a>

        <button class="btn-feedback" [routerLink]="'/feedback'" [queryParams]="{ category: 'Підписники' }">
          Є ідея <i class="fa-regular fa-lightbulb"></i> як зробити краще?<br>Можеш запропонувати!
        </button>

      </div>
    </div>

    <div class="card-wrapper col-lg-4 col-md-4 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="card-content">
        <app-cards-list-users></app-cards-list-users>
      </div>
    </div>

    <div [@appearance] class="card-wrapper col-lg-5 col-md-5 col-sm-12 col-12" *ngIf="!isMobile && selectedUserId">
      <div class="card-animation">
        <div class="btn-close-container">
          <div class="btn-close-box">
            <button class="btn-close" (click)="closeUser()"></button>
          </div>
        </div>
        <app-img></app-img>
        <app-info></app-info>
      </div>
    </div>

    <div [@appearance] class="card-wrapper col-lg-5 col-md-5 col-sm-12 col-12" *ngIf="!isMobile && !selectedUserId">
      <div class="status-subscription-wrapper h-100">
        <div [@appearance] class="status-subscription bg-transparent">
          <div class="status-text p-2 t-c">Оберіть <br> користувача</div>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="isMobile">
      <div class="card-wrapper">
        <!-- про меню -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 0">
          <div class="card-content">

            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-child-reaching"></i>
              <p class="t-lar-x bold">Меню Підписників Оселі</p>
              <p class="link-menu-t2">користувачі які хочуть орендувати вашу оселю.</p>
            </div>

            <ul class="t-med mt-2 t-s">
              <span class="t-lar bold p-3">Тут доступні такі можливості:</span>
              <li>Перегляд інформації орендаря.</li>
              <li>Перегляд соціальних мереж орендаря.</li>
              <li>Видалення з підписників.</li>
            </ul>

            <div class="flex-box-center t-c p-2 mt-2">
              <p class="link-menu-t1">Підписники формуються із тих користувачів які вподобали вашу оселю в "Пошуку
                оселі".</p>
              <p class="link-menu-t1">Після ухвалення орендаря він з'явиться в меню "Дискусії оселі".</p>
            </div>

            <div class="btn-group">
              <button class="b-primary" (click)="indexPage = 1">
                <div class="t-med bold white">Перейти до підписників</div>
                <i class="fa-solid fa-arrow-right pl-2"></i>
              </button>
            </div>

            <button class="btn-feedback" [routerLink]="'/feedback'" [queryParams]="{ category: 'Підписники' }">
              Є ідея <i class="fa-regular fa-lightbulb"></i> як зробити краще?<br>Можеш запропонувати!
            </button>

          </div>
        </div>
        <!-- всі картки -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 1">
          <div class="card-content">
            <app-cards-list-users></app-cards-list-users>
          </div>
        </div>
        <!-- інформація про орендаря -->
        <div [@appearance] class="card-animation" *ngIf="indexPage === 2 && selectedUserId">
          <div class="btn-close-container">
            <div class="btn-close-box">
              <button class="btn-close" (click)="closeUser()"></button>
            </div>
          </div>
          <div class="card-content">
            <app-img></app-img>
            <app-info></app-info>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
