<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min white">Назад</div>
      </button>
    </div>

    <div class="menu-box hide-mobile">
      <div class="menu-lable">Меню</div>
      <div class="menu-name">Підписники Оселі</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" (click)="onClickMenu(1)" [ngClass]="{ 'active': indexPage === 1}">
        <i class="fa-solid fa-circle-info"></i>
        <div class="t-min bold">Інфо</div>
      </button>
    </div>

    <div class="hide-pc">
      <div class="switch-btn-group ">
        <button class="btn" [disabled]="subscribers.length === 0" (click)="onClickMenu(0)"
          [ngClass]="{ 'active': indexPage === 0}">
          <i class="fa-solid fa-people-group"></i>
          <div class="t-min bold">Підписники</div>
          <div class="status"> {{subscribers.length}} </div>
        </button>
      </div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [disabled]="!selectedUser" (click)="onClickMenu(2)" [ngClass]="{ 'active': indexPage === 2}">
        <i class="fa-solid fa-child-reaching"></i>
        <div class="t-min bold">Орендарь</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [disabled]="!selectedUser || !reviews" (click)="onClickMenu(3)" [ngClass]="{ 'active': indexPage == 3}">
        <i class="fa-regular fa-star"></i>
        <div class="t-min bold">Відгуки</div>
      </button>
    </div>

  </div>

  <div class="main-container">

    <!-- всі картки -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 hide-mobile">
      <div class="paginator-container">
        <button class="paginator-btn" (click)="decrementOffset()">
          <i class="fa-solid fa-chevron-left"></i></button>
        <div class="paginator-box">
          <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
          <div class="t-min">Всього {{counterFound}}</div>
        </div>
        <button class="paginator-btn" (click)="incrementOffset()">
          <i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="cards-container">
        <div class="card-mini mb-3" *ngFor="let subscriber of subscribers" (click)="selectDiscussion(subscriber)"
          [ngClass]="{ 'selected': subscriber.user_id == selectedUser?.user_id }">
          <div class="card-mini-img-container">
            <img class="card-mini-img"
              [src]="serverPathPhotoUser + (subscriber.img ? subscriber.img : 'user_default.svg')" alt="img">
          </div>
          <div class="card-body">
            <div class="p-1">
              <div class="t-lar bold accent">ID: {{ subscriber.user_id }}</div>
              <div class="t-lar bold">{{ subscriber.lastName }}</div>
              <div class="t-lar-xx bold">{{ subscriber.firstName }}</div>
              <div class="t-med thin">{{ subscriber.surName }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-wrapper">
        <!-- всі картки -->
        <div [@swichCard] class="card-animation hide-pc" *ngIf="indexPage === 0">
          <div class="card-content">
            <div class="paginator-container">
              <button class="paginator-btn" (click)="decrementOffset()">
                <i class="fa-solid fa-chevron-left"></i></button>
              <div class="paginator-box">
                <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
                <div class="t-min">Всього {{counterFound}}</div>
              </div>
              <button class="paginator-btn" (click)="incrementOffset()">
                <i class="fa-solid fa-chevron-right"></i></button>
            </div>

            <div class="cards-container p-2">
              <div class="card-mini mb-3" *ngFor="let subscriber of subscribers" (click)="selectDiscussion(subscriber)"
                [ngClass]="{ 'selected': subscriber.user_id == selectedUser?.user_id }">
                <div class="card-mini-img-container">
                  <img class="card-mini-img"
                    [src]="serverPathPhotoUser + (subscriber.img ? subscriber.img : 'user_default.svg')" alt="img">
                </div>
                <div class="card-body">
                  <div class="p-1">
                    <div class="t-lar bold accent">ID: {{ subscriber.user_id }}</div>
                    <div class="t-lar bold">{{ subscriber.lastName }}</div>
                    <div class="t-lar-xx bold">{{ subscriber.firstName }}</div>
                    <div class="t-med thin">{{ subscriber.surName }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- про меню -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 1">
          <div class="card-content">

            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-child-reaching"></i>
              <p class="t-lar-x bold">Меню Підписників Оселі</p>
              <p class="link-menu-t2">користувачі які хочуть орендувати вашу оселю.</p>
            </div>

            <ul class="t-med mt-2 t-s">
              <span class="t-lar bold p-3">Тут доступні такі можливості:</span>
              <li>Перегляд інформації орендаря.</li>
              <li>Перегляд соціальних мереж орендаря.</li>
              <li>Видалення з підписників.</li>
            </ul>

            <div class="flex-box-center t-c p-2 mt-2">
              <p class="link-menu-t1">Підписники формуються із тих користувачів які вподобали вашу оселю в "Пошуку оселі".</p>
              <p class="link-menu-t1">Після ухвалення орендаря він з'явиться в меню "Дискусії оселі".</p>
            </div>

            <div class="btn-group">
              <button class="btn btn-navigation" [routerLink]="'/subscribers-discus'">
                <div class="t-med bold mr-2">Дискусії оселі</div>
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>

            <div class="btn-group">
              <button class="btn btn-navigation" [routerLink]="'/feedback'" [queryParams]="{ category: 'Підписники' }">
                <div class="t-med bold mr-2">Є ідея як зробити краще?</div>
                <i class="fa-regular fa-lightbulb"></i>
              </button>
            </div>


          </div>
        </div>
        <!-- інформація про орендаря -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 2 && selectedUser">
          <div class="btn-close-container">
            <div class="btn-close-box">
              <button class="btn-close" (click)="indexPage = 1"></button>
            </div>
          </div>
          <div class="card-content">

            <div class="status-container m-2">
              <div class="status-box">
                <div class="status-value" *ngIf="selectedUser.agree_search === 1">Активне</div>
                <div class="status-value" *ngIf="selectedUser.house === 1">Б</div>
                <div class="status-value" *ngIf="selectedUser.flat === 1">Кв</div>
                <div class="status-value" *ngIf="selectedUser.room === 1">К</div>
                <div class="status-value" *ngIf="selectedUser.woman === 1">W</div>
                <div class="status-value" *ngIf="selectedUser.man === 1">M</div>
                <div class="status-value" *ngIf="selectedUser.students === 1">S</div>
                <div class="status-value" *ngIf="selectedUser.family === 1">F</div>
              </div>
              <div class="status-hover">
                <div class="status-hover-label">Допомога</div>
                <div class="status-hover-text">
                  <ul
                    *ngIf="selectedUser.woman === 1 || selectedUser.man === 1 || selectedUser.students === 1 || selectedUser.family === 1">
                    Пошук оселі для:
                    <li *ngIf="selectedUser.woman === 1" class="status-hover-li">
                      <div class="status-value">W</div> - жінки
                    </li>
                    <li *ngIf="selectedUser.man === 1" class="status-hover-li">
                      <div class="status-value">M</div> - чоловіка
                    </li>
                    <li *ngIf="selectedUser.students === 1" class="status-hover-li">
                      <div class="status-value">S</div> - студента
                    </li>
                    <li *ngIf="selectedUser.family === 1" class="status-hover-li">
                      <div class="status-value">F</div> - сім'ї
                    </li>
                  </ul>

                  <ul *ngIf="selectedUser.house === 1 || selectedUser.flat === 1 || selectedUser.room === 1">
                    Пошук по типу оселі:
                    <li *ngIf="selectedUser.house === 1" class="status-hover-li">
                      <div class="status-value">Б</div> - Будинок
                    </li>
                    <li *ngIf="selectedUser.flat === 1" class="status-hover-li">
                      <div class="status-value">Кв</div> - Квартира
                    </li>
                    <li *ngIf="selectedUser.room === 1" class="status-hover-li">
                      <div class="status-value">К</div> - Підійде кімната
                    </li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="copyMessage-box" *ngIf="isCopiedMessage">
              <div class="copyMessage-text">{{isCopiedMessage}}</div>
              <i class="fa-regular fa-copy"></i>
              <div class="t-lar dark bold">Discussio</div>
            </div>

            <div class="container-img">
              <div class="wrapper-img">

                <img class="img-fluid"
                  [src]="serverPathPhotoUser + (selectedUser?.img ? selectedUser?.img : 'user_default.svg')" alt="img">

                <div class="panel-container">
                  <div class="caruesel-container w-100">
                    <div class="carousel w-100">
                      <div class="slide">
                        <button class="slide-item" (click)="copyId()">
                          <div class="slide-item-box">
                            <div class="bold">{{selectedUser.user_id}}</div>
                            <i class="fa-solid fa-fingerprint pl-2"></i>
                          </div>
                          <div class="slide-name">ID<br>власника</div>
                        </button>

                        <button class="slide-item">
                          <div class="slide-item-box">
                            <div class="bold">{{ratingTenant}}</div>
                            <i class="fa-regular fa-star"></i>
                          </div>
                          <div class="slide-name">Рейтинг <br> орендаря</div>
                        </button>

                        <button class="slide-item" (click)="copyMail()" *ngIf="selectedUser.mail">
                          <i class="fa-solid fa-at"></i>
                          <div class="slide-name">Пошта</div>
                        </button>

                        <button class="slide-item" (click)="copyTell()" *ngIf="selectedUser.tell">
                          <i class="fa-solid fa-phone"></i>
                          <div class="slide-name">Номер</div>
                        </button>

                        <a class="slide-item" href="https://www.instagram.com/{{  selectedUser.instagram }}"
                          *ngIf="selectedUser.instagram">
                          <i class="fa-brands fa-instagram"></i>
                          <div class="slide-name">instagram</div>
                        </a>

                        <a class="slide-item" href="https://www.facebook.com//{{  selectedUser.facebook }}"
                          *ngIf="selectedUser.facebook">
                          <i class="fa-brands fa-facebook"></i>
                          <div class="slide-name">facebook</div>
                        </a>

                        <a class="slide-item" href="https://t.me/{{  selectedUser.telegram }}"
                          *ngIf="selectedUser.telegram">
                          <i class="fa-brands fa-telegram"></i>
                          <div class="slide-name">telegram</div>
                        </a>

                        <button class="slide-item" (click)="copyViber()" *ngIf="selectedUser.viber">
                          <i class="fa-brands fa-viber"></i>
                          <div class="slide-name">viber</div>
                        </button>

                      </div>

                      <div class="slide">
                        <button class="slide-item" (click)="copyId()">
                          <div class="slide-item-box">
                            <div class="bold">{{selectedUser.user_id}}</div>
                            <i class="fa-solid fa-fingerprint pl-2"></i>
                          </div>
                          <div class="slide-name">ID<br>власника</div>
                        </button>

                        <button class="slide-item">
                          <div class="slide-item-box">
                            <div class="bold">{{ratingTenant}}</div>
                            <i class="fa-regular fa-star"></i>
                          </div>
                          <div class="slide-name">Рейтинг <br> орендаря</div>
                        </button>

                        <button class="slide-item" (click)="copyMail()" *ngIf="selectedUser.mail">
                          <i class="fa-solid fa-at"></i>
                          <div class="slide-name">Пошта</div>
                        </button>

                        <button class="slide-item" (click)="copyTell()" *ngIf="selectedUser.tell">
                          <i class="fa-solid fa-phone"></i>
                          <div class="slide-name">Номер</div>
                        </button>

                        <a class="slide-item" href="https://www.instagram.com/{{  selectedUser.instagram }}"
                          *ngIf="selectedUser.instagram">
                          <i class="fa-brands fa-instagram"></i>
                          <div class="slide-name">instagram</div>
                        </a>

                        <a class="slide-item" href="https://www.facebook.com//{{  selectedUser.facebook }}"
                          *ngIf="selectedUser.facebook">
                          <i class="fa-brands fa-facebook"></i>
                          <div class="slide-name">facebook</div>
                        </a>

                        <a class="slide-item" href="https://t.me/{{  selectedUser.telegram }}"
                          *ngIf="selectedUser.telegram">
                          <i class="fa-brands fa-telegram"></i>
                          <div class="slide-name">telegram</div>
                        </a>

                        <button class="slide-item" (click)="copyViber()" *ngIf="selectedUser.viber">
                          <i class="fa-brands fa-viber"></i>
                          <div class="slide-name">viber</div>
                        </button>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="flex-box">
              <div class="flex-column p-2">
                <div class="t-lar bold">{{ selectedUser.lastName }}</div>
                <div class="t-min gray">Прізвище</div>
              </div>
              <div class="flex-column p-2">
                <div class="t-lar bold">{{ selectedUser.firstName }}</div>
                <div class="t-min gray">ім'я</div>
              </div>
              <div class="flex-column p-2">
                <div class="t-lar bold">{{ selectedUser.surName }}</div>
                <div class="t-min gray">По батькові</div>
              </div>
            </div>

            <nav class="navbar">

              <button class="link-menu" (click)="approveSubscriber(selectedUser)">
                <div class="flex-column pl-4 w-80">
                  <p class="link-menu-t1">Ухвалити до</p>
                  <p class="link-menu-t2">Дискусії</p>
                </div>
                <div class="link-icon w-20"><i class="fa-regular fa-thumbs-up"></i></div>
              </button>

              <button class="link-menu" (click)="reportUser(selectedUser)">
                <div class="flex-column pl-4 w-80">
                  <p class="link-menu-t1">Відправити</p>
                  <p class="link-menu-t2">Скаргу</p>
                </div>
                <div class="link-icon w-20"><i class="fa-solid fa-masks-theater"></i></div>
              </button>

              <button class="link-menu" (click)="deleteUser(selectedUser)">
                <div class="flex-column pl-4 w-80">
                  <p class="link-menu-t1">Видалити</p>
                  <p class="link-menu-t2">Підписника</p>
                </div>
                <div class="link-icon w-20"><i class="fa-solid fa-user-xmark"></i></div>
              </button>

            </nav>

            <div class="param-box" *ngIf="selectedUser.region || selectedUser.city">
              <div class="t-lar gray t-c p-2">Пошукові параметри
                <p class="t-med">за якими орендарь шукає оселю</p>
              </div>
              <div class="param-label">Локація, шукаю оселю в :</div>
              <div class="param-group p-1">
                <div class="param-field" *ngIf="selectedUser.region">Область :
                  <span class="param-value">{{ selectedUser.region }}</span>
                </div>
                <div class="param-field" *ngIf="selectedUser.city">Місто :
                  <span class="param-value">{{ selectedUser.city }}</span>
                </div>
              </div>
            </div>

            <div class="param-box" *ngIf="selectedUser.price_of || selectedUser.price_to">
              <div class="param-label">Бюджет в грн:</div>
              <div class="param-group p-1">
                <div class="param-field" *ngIf="selectedUser.price_of">Від :
                  <span class="param-value">{{ selectedUser.price_of }} ₴</span>
                </div>
                <div class="param-field" *ngIf="selectedUser.price_to">До:
                  <span class="param-value">{{ selectedUser.price_to }} ₴</span>
                </div>
              </div>
            </div>

            <div class="param-box"
              *ngIf="selectedUser.area_of || selectedUser.area_to || selectedUser.rooms_of || selectedUser.rooms_to || selectedUser.repair_status || selectedUser.balcony">
              <div class="param-label">Параметри оселі:</div>

              <div class="param-group p-1">

                <div class="param-field" *ngIf="selectedUser.area_of || selectedUser.area_to">
                  <div> Площа:
                    <span class="param-value" *ngIf="selectedUser.area_of !== '' ">
                      від {{ selectedUser.area_of }}м²</span>
                    <span class="param-value" *ngIf="selectedUser.area_to !== '' ">
                      до {{ selectedUser.area_to }}м²</span>
                    <span class="param-value" *ngIf="selectedUser.area_of === '' && selectedUser.area_to === ''">
                      Неважливо </span>
                  </div>
                </div>

                <div class="param-field" *ngIf="selectedUser.rooms_of || selectedUser.rooms_to">
                  <div *ngIf="selectedUser.rooms_of !== 0 || selectedUser.rooms_to !== 6 "> Кіл. кімнат:
                    <span class="param-value" *ngIf="selectedUser.rooms_of !== 0 && selectedUser.rooms_of !== null">
                      від {{ selectedUser.rooms_of}}</span>
                    <span class="param-value" *ngIf="selectedUser.rooms_to !== 6">до {{ selectedUser.rooms_to}}</span>
                  </div>
                  <div *ngIf="selectedUser.rooms_of === 0 && selectedUser.rooms_to === 6"> Кіл. кімнат: неважливо </div>
                </div>

                <div class="param-field" *ngIf="selectedUser?.repair_status">Стан оселі:
                  <span class="param-value">{{ selectedUser.repair_status }}</span>
                </div>

                <div class="param-field" *ngIf="selectedUser.balcony">
                  Тип балкону:<span class="param-value">{{ selectedUser.balcony }}</span> </div>
              </div>
            </div>

            <div class="param-box"
              *ngIf="selectedUser.distance_metro || selectedUser.distance_stop || selectedUser.distance_shop || selectedUser.distance_green || selectedUser.distance_parking">
              <div class="param-label">Інфраструктура в доступі:</div>

              <div class="param-group p-1">
                <div class="param-field"
                  *ngIf="selectedUser?.distance_metro !== 0 && selectedUser?.distance_metro !== null">
                  Метро до:<span class="param-value">{{ aboutDistance[selectedUser.distance_metro] }}</span> </div>
                <div class="param-field"
                  *ngIf="selectedUser?.distance_stop !== 0 && selectedUser?.distance_stop !== null">
                  Зупинка до:<span class="param-value">{{ aboutDistance[selectedUser.distance_stop] }}</span> </div>
                <div class="param-field"
                  *ngIf="selectedUser?.distance_shop !== 0 && selectedUser?.distance_shop !== null">
                  Маркет до:<span class="param-value">{{ aboutDistance[selectedUser.distance_shop] }}</span> </div>
                <div class="param-field"
                  *ngIf="selectedUser?.distance_green !== 0 && selectedUser?.distance_green !== null">
                  Парк до:<span class="param-value">{{ aboutDistance[selectedUser.distance_green] }}</span> </div>
                <div class="param-field"
                  *ngIf="selectedUser?.distance_parking !== 0 && selectedUser?.distance_parking !== null">
                  Паркінг:<span class="param-value">{{ aboutDistance[selectedUser.distance_parking] }}</span> </div>
              </div>
            </div>

            <div class="param-box" *ngIf="selectedUser.bunker || selectedUser.animals || selectedUser.purpose_rent">
              <div class="param-label">Особливості:</div>
              <div class="param-group p-1">

                <div class="param-field" *ngIf="selectedUser.purpose_rent">
                  Мета оренди:<span class="param-value">{{ purpose[selectedUser.purpose_rent] }}</span> </div>

                <div class="param-field" *ngIf="selectedUser.bunker">
                  Наявність укриття:<span class="param-value">{{ selectedUser.bunker }}</span> </div>

                <div class="param-field" *ngIf="selectedUser.animals">
                  <div *ngIf="selectedUser.animals !== 'Неважливо'">
                    Домашні улюбленці: <span class="param-value">{{ animals[selectedUser.animals] }} </span> </div>
                  <div *ngIf="selectedUser.animals === 'Неважливо'">Домашні улюбленці: <span class="param-value">
                      Наявність чи відсутність тварин не вказано.</span></div>
                </div>

              </div>
            </div>

            <div class="param-box" *ngIf="selectedUser.flat || selectedUser.house || selectedUser.room">
              <div class="param-label">Розглядаю тип оселі:</div>
              <div class="param-group p-1">
                <div class="param-field" *ngIf="selectedUser?.flat && selectedUser?.flat !== null"><span
                    class="param-value">Квартира</span> </div>
                <div class="param-field" *ngIf="selectedUser?.house && selectedUser?.house !== null"><span
                    class="param-value">Будинок</span> </div>
                <div class="param-field" *ngIf="selectedUser?.room && selectedUser?.room !== null"><span
                    class="param-value">Кімната</span> </div>
              </div>
            </div>

            <div class="param-box" *ngIf="selectedUser.room && selectedUser.room !== 0">
              <div class="param-label">Розглядаю сусіда по оселі:</div>
              <div class="param-group p-1">
                <div class="param-field" *ngIf="selectedUser.looking_man">
                  <span class="param-value">Чоловік</span>
                </div>
                <div class="param-field" *ngIf="selectedUser.looking_woman"><span class="param-value">Жінка</span>
                </div>
                <div class="param-field" *ngIf="!selectedUser.looking_woman && !selectedUser.looking_man"><span
                    class="param-value">Неважливо який сусід по оселі</span> </div>
              </div>
            </div>

            <div class="param-box"
              *ngIf="selectedUser?.years || selectedUser?.mounths || selectedUser?.weeks || selectedUser?.days">
              <div class="param-label">Орієнтовний термін оренди:</div>
              <div class="param-group p-1">

                <div class="param-field" *ngIf="selectedUser?.years && selectedUser?.years !== null">Роки:<span
                    class="param-value">{{ selectedUser.years }}</span></div>

                <div class="param-field" *ngIf="selectedUser?.mounths && selectedUser?.mounths !== null">Місяці:
                  <span class="param-value">{{ selectedUser.mounths }}</span>
                </div>

                <div class="param-field" *ngIf="selectedUser?.weeks && selectedUser?.weeks !== null">Тижні:<span
                    class="param-value">{{ selectedUser.weeks }}</span></div>

                <div class="param-field" *ngIf="selectedUser?.days && selectedUser?.days !== null">Дні:<span
                    class="param-value">{{
                    selectedUser.days }}</span></div>
              </div>
            </div>

            <div class="p-2" *ngIf="selectedUser.about">
              <div class="t-lar dark bold">Додаткова інформація:</div>
              <div class="t-min ">{{selectedUser.about}}</div>
            </div>

          </div>
        </div>
        <!-- Відгуки -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 3 && counterFound !== 0  && selectedUser">
          <div class="btn-close-container">
            <div class="btn-close-box">
              <button class="btn-close" (click)="indexPage = 2"></button>
            </div>
          </div>
          <div class="card-content p-2" *ngIf="reviews">
            <div class="t-lar-x bold gray mb-3">Відгуки власників</div>
            <div [@left3] class="reviews-card" *ngFor="let review of reviews">
              <div class="reviews-group">
                <div class="reviews-person w-70">
                  <div class="reviews-person-img">
                    <div *ngIf="review.reporter && review.reporter.img">
                      <img [src]="serverPathPhotoUser + review.reporter.img" alt="img">
                    </div>
                    <div *ngIf="!review.reporter || !review.reporter.img">
                      <img src="../../../../assets/user_default.svg" alt="img">
                    </div>
                  </div>

                  <div class="reviews-person-info">
                    <p class="bold" *ngIf="review.reporter">{{review.reporter.lastName}}
                      {{review.reporter.firstName}} {{review.reporter.surName}}</p>
                    <p *ngIf="!review.reporter">Аккаунт видалено</p>
                    <p class="t-min gray">Дата відгуку: {{review.info.data |date}}</p>
                  </div>

                </div>
                <div class="review-mark w-30" *ngIf="review.info.mark">
                  <p class="review-mark-number">{{review.info.mark}} </p>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
              <div class="t-med bold mt-2" *ngIf="review.info.about">"{{review.info.about}}"</div>
            </div>
          </div>

          <div class="card-content p-2" *ngIf="!reviews">
            <div class="t-lar-x bold gray mb-3">Відгуків ще немає</div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
