<div class="paginator-container">
  <button class="paginator-btn" (click)="decrementOffset()">
    <i class="fa-solid fa-chevron-left"></i></button>
  <div class="paginator-box">
    <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
    <div class="t-min">Всього {{counterFound}}</div>
  </div>
  <button class="paginator-btn" (click)="incrementOffset()">
    <i class="fa-solid fa-chevron-right"></i></button>
</div>
<div [@right1] class="cards-container p-2">
  <div class="card-mini mb-3" *ngFor="let subscriber of subscriptions" (click)="onFlatSelect(subscriber.flat.flat_id)"
    [ngClass]="{ 'selected': choseFlatId == subscriber.flat.flat_id  }">
    <div class="card-mini-img-container">
      <img class="card-mini-img"
        [src]="subscriber.img && subscriber.img[0] ? serverPath + pathPhotoFlat + subscriber.img[0] : serverPath + pathPhotoFlat + 'housing_default.svg'"
        alt="img">
    </div>
    <div class="card-body">
      <div class="p-1">
        <div class="t-med accent bold">ID: {{ subscriber.flat.flat_id }}</div>
        <div class="t-min">Обл.: {{ subscriber.flat.region}}</div>
        <div class="t-min">м.: {{ subscriber.flat.city}}</div>
        <div class="flex-box" *ngIf="subscriber.flat.option_pay === 0">
          <div class="t-lar bold"> {{ subscriber.flat.price_m | number:'1.0-0' }} </div>
          <div class="t-min bold">₴/міс</div>
        </div>
        <div class="flex-box" *ngIf="subscriber.flat.option_pay !== 0">
          <div class="t-lar bold"> {{ subscriber.flat.price_d | number:'1.0-0' }} </div>
          <div class="t-min bold">₴/добу</div>
        </div>
      </div>
    </div>
  </div>
</div>
