@use "../../style/presets/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  max-height: 50vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.card-container {
  max-height: 60vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.card-group > .card:not(:last-child) {
border-radius: 10px;
}

.card-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card-wrapper {
  display: flex;
  width: 95%;
  height: 200px;
  overflow: hidden;
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-wrapper-group {
  display: flex;
  height: 130px;
  justify-content: space-around;
}

.card-img-container {
  width: 40%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  justify-content: center;
}

.card-img-top {
  height: 100%;
  width: 90%;
  object-fit: cover;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);

  &:hover {
    transition: 0.5s;
    width: 130%;
    height: 100%;
  }
}

.card-wrapper:hover,
.card-wrapper:focus {
  transition: 1s;
}

.card-social-link {
  font-size: 20px;
  display: flex;
  width: 200px;
  justify-content: flex-start;
  flex-direction: row;
}

.card-title {
  font-size: 20px;
}

a {
  margin: 5px 15px;
  padding: 0;
}

.fab {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.btn-deleted {
  background-color: tomato;
  &:hover {
    transition: 0.4s;
    filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 0.733));

    .fa-solid,
    .fa-regular {
      color: rgba(255, 0, 0, 0.733);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.inputbox {
  width: 100%;
  position: relative;
  display: flex;
  margin: 1.2rem 5px 1.5rem 5px;
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
}

mat-form-field {
  width: 90%;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menu {
  width: 100%;
}

.fa-solid {
  font-size: 20px;
}

.btn {
  height: 35px;
}

a.link {
  position: relative;
}

a {
  padding: 10px;
  margin: 10px;
}

.notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.notifications .badge {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  content: "";
}

.card-menu {
  color: rgba(18, 17, 17, 0.8078431373);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.navbar-house {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}



