@use "../../discussi.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.img-fluid {
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
  }
}
.wrapper-img {
  overflow: hidden;
}
