<ng-template #content>
  <div class="btn-box">

    <mat-form-field class="item-select mt-2 p-2" appearance="outline" *ngIf="showInput">
      <mat-label>Назва оселі</mat-label>
      <input id="flat_name" name="flat_name" placeholder="Створіть свою оселю" matInput [(ngModel)]="flat_name" minlength="4"
        maxlength="20" #flatIdInput="ngModel" required="">

      <mat-error *ngIf="flatIdInput?.hasError('required')">
        <mat-error *ngIf="flatIdInput?.touched">Назва обов'язково</mat-error>
      </mat-error>
      <mat-error *ngIf="flatIdInput?.hasError('minlength')">Мінімальна довжина 4 символи</mat-error>
    </mat-form-field>

    <div class="btn-group" *ngIf="showInput">

      <div class="btn-name" *ngIf="flat_name && flatIdInput?.valid">
        <button class="btn-create" (click)="houseCreate()" matTooltip="СТВОРИТИ" ><i
            class="fa-solid fa-circle-check"></i></button>
        <mat-label>Створити оселю</mat-label>
      </div>

      <div class="btn-name">
        <button mat-icon-button class="btn-create btn-deleted" matTooltip="ВІДМІНА" (click)="openBtn()">
          <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <mat-label>Відміна</mat-label>
      </div>

    </div>

    <div class="btn-group" *ngIf="!showInput">

      <div class="btn-name">
        <button class="btn-create" (click)="openBtn()" matTooltip="ДОДАТИ НОВУ ОСЕЛЮ"><i
            class="fa-solid fa-circle-plus"></i>
        </button>
        <mat-label>Додати оселю</mat-label>
      </div>

      <div class="btn-name">
        <button class="btn-create btn-deleted" (click)="openDialog()" mat-icon-button color="warn"
          matTooltip="ВИДАЛИТИ ОСЕЛЮ"><i class="fa-solid fa-circle-minus"></i>
        </button>
        <mat-label>Видалити оселю</mat-label>
      </div>

    </div>

  </div>
</ng-template>

<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
