@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.btn-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  @include s1-s3 {
    align-items: stretch;
    flex-direction: column;
  }
}

.item-select {
  width: 100%;
}

mat-label {
  font-size: 14px;
}

.btn-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-mdc-form-field-error {
  display: flex;
}

.btn-group {
  width: 100%;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: space-around;
  @include s1-s3 {
    justify-content: space-evenly;
  }
}


