@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.btn-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  @include s1-s3 {
    align-items: stretch;
    flex-direction: column;
  }
}

mat-label {
  font-size: 14px;
}

.btn-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-mdc-form-field-error {
  display: flex;
}

.btn-group {
  width: 100%;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: space-around;
  @include s1-s3 {
    justify-content: space-evenly;
  }
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.fa-solid {
  color: $color-white;
}

.btn-deleted {
  background-color: tomato;
  &:hover {
    transition: 0.4s;
    filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 0.733));

    .fa-solid,
    .fa-regular {
      color: rgba(255, 0, 0, 0.733);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}
