<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <app-navbar></app-navbar>
  <div class="container-card">
    <div class="card-box col-lg-3 col-md-4 col-sm-4 col-12 hide-mobile">
      <app-navbar-house></app-navbar-house>
    </div>

    <div class="flex-column">

      <div class="switch-box">

        <div class="flex-column hide-mobile">
          <div class="t-lar-xx bold dark hide-mobile">Чат оселі</div>
          <div class="t-min gray hide-mobile">Тут знаходиться всі чати оселі</div>
        </div>

        <div class="switch-btn-group">
          <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <div class="t-min dark bold">Назад</div>
        </div>

        <div class="switch-btn-group">
          <button class="btn" (click)="openChatCard = false" [ngClass]="{ 'active': openChatCard === false}">
            <i class="fa-regular fa-comments"></i>
          </button>
          <div class="t-min dark bold">Всі чати</div>
        </div>

        <div class="switch-btn-group">
          <button [disabled]="!selectedChat" class="btn" (click)="openChatCard = true"
            [ngClass]="{ 'active': openChatCard === true}">
            <i class="fa-regular fa-comment"></i>
          </button>
          <div class="t-min dark bold">Чат</div>
        </div>

      </div>

      <div class="flex-column">
        <app-chat-house class="chat" *ngIf="openChatCard"></app-chat-house>
        <app-send-message class="send-message" *ngIf="openChatCard"></app-send-message>
      </div>

      <div class="card-box1 w-100" *ngIf="!openChatCard">
        <div class="card-container">
          <div class="cards-container p-2" *ngIf="chats.length === 0">
            <p>У вас поки немає чатів...</p>
          </div>
          <div class="cards-container p-2" *ngIf="chats.length !== 0">
            <div class="card-mini m-2" *ngFor="let chat of chats" (click)="selectChat(chat)"
              [ngClass]="{ 'selected': chat.isSelected}">

              <div class="notification-box" *ngIf="chat.unread !== 0">
                <div class="notification-num">{{chat.unread}}</div>
              </div>

              <div class="card-mini-img-container">

                <ng-container *ngIf="chat.infUser.img[0].img && isLoading">
                  <img class="card-mini-img"
                    [src]="serverPathPhotoUser + (chat.infUser.img[0].img ? chat.infUser.img[0].img : 'user_default.svg')">
                </ng-container>

                <ng-container *ngIf="chat.infUser.img[0].img && !isLoading">
                  <mat-spinner color="warn"></mat-spinner>
                  <img [src]="serverPathPhotoUser + chat.infUser.img[0].img" (load)="isLoading = true" hidden>
                </ng-container>

                <ng-container *ngIf="!chat.infUser.img[0].img">
                  <img class="card-mini-img" src="../../../../assets/user_default.svg" alt="img">
                </ng-container>

              </div>

              <div class="card-body p-1">
                <div class="t-min bold name p-2">{{ chat.infUser.inf.firstName }} {{ chat.infUser.inf.surName }} {{
                  chat.infUser.inf.lastName }} <span class="t-min bold accent">ID:{{ chat.user_id }}</span></div>
                <div class="t-min gray message p-1">{{ chat.lastMessage }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>
