<div class="container-box">
  <div class="box-2">
    <div class="box-1 col-lg-12 col-md-6 col-sm-12 col-12">
      <div class="col-lg-5 col-md-6 col-sm-12 col-12">
        <div class="group p-1">
          <div class="group-transparent m-1 group-left m-1">
            <a class="search-change" [routerLinkActive]="'active'" [routerLink]="'/search/host-house/housingSearch'"
              matTooltip="Пошук оселі"><i class="fa-solid fa-building"></i></a>
            <a class="search-change" [routerLinkActive]="'active'" [routerLink]="'/search/host-tenant/tenantsSearch'"
              matTooltip="Пошук орендаря"><i class="fa-solid fa-users"></i></a>
            <h3>Шукаємо орендара</h3>
          </div>
        </div>
      </div>

      <div class="container-btn">
        <button class="btn" (click)="toggleSearchTerm()" matTooltip="Пошуковий фільтр">
          <i class="fa-solid animate" [class.rotate-up]="isSearchTermCollapsed" [class.rotate-down]="!isSearchTermCollapsed"
            [class.fa-chevron-up]="isSearchTermCollapsed" [class.fa-chevron-down]="!isSearchTermCollapsed"></i>
        </button>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="group heightSet">
          <app-selection-housing></app-selection-housing>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="heightSet">
          <mat-form-field class="search-id" appearance="outline">
            <mat-label><i class="fa-solid fa-magnifying-glass"></i>Знайти по UserID</mat-label>
            <input matInput type="text" (ngModelChange)="searchUserID()" [(ngModel)]="searchQuery" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="container-search" [class.collapsed]="isSearchTermCollapsed">
    <div class="box">
      <div class="group-card col-lg-6 col-md-6 col-sm-12 col-12">


        <div class="group">
          <div class="group-transparent m-1">

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Область</mat-label>
              <input name="flatInfo.region" matInput (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.region"
                placeholder="Виберіть або введіть область" (ngModelChange)="loadCities()"
                [matAutocomplete]="autoRegion">
              <mat-autocomplete #autoRegion="matAutocomplete">
                <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
                  {{ region.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Місто</mat-label>
              <input name="flatInfo.city" matInput (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.city"
                placeholder="Виберіть або введіть місто" (ngModelChange)="loadDistricts()" [matAutocomplete]="autoCity">
              <mat-autocomplete #autoCity="matAutocomplete">
                <mat-option *ngFor="let city of filteredCities" [value]="city.name">
                  {{ city.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          </div>
        </div>


        <div class="group">
          <mat-label class="label-mat">Кого розглядаєте як орендара?</mat-label>
          <div class="group-transparent m-1 border-horizontal">

            <div class="content">
              <label class="checkBox">
                <input id="students" type="checkbox" (ngModelChange)="onSubmitWithDelay()"
                  [(ngModel)]="userInfo.students" name="students">
                <div class="transition"></div>
              </label>
              <span class="text">Студент<span class="status">S</span>
              </span>

              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="woman" type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.woman"
                  name="woman">
                <div class="transition"></div>
              </label>
              <span class="text">Жінка<span class="status">W</span></span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="man" type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.man"
                  name="man">
                <div class="transition"></div>
              </label>
              <span class="text">Чоловік<span class="status">M</span></span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="family" type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.family"
                  name="family">
                <div class="transition"></div>
              </label>
              <span class="text">Сім'я<span class="status">F</span></span>
              <i></i>
            </div>

          </div>
        </div>

        <div class="group">
          <div class="group-transparent m-1">
            <div class="group">
              <mat-label class="label-mat">Здаєте в оренду</mat-label>
              <div class="group-transparent m-1 m-1 border-horizontal">

                <div class="content">
                  <label class="checkBox">
                    <input id="looking_house" type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.house"
                      name="looking_house">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Будинок</span>
                  <i></i>
                </div>

                <div class="content">
                  <label class="checkBox">
                    <input id="looking_flat" type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.flat"
                      name="looking_flat">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Квартира</span>
                  <i></i>
                </div>

                <div class="content">
                  <label class="checkBox">
                    <input id="looking_room" type="checkbox" (ngModelChange)="onSubmitWithDelay()"
                      [(ngModel)]="userInfo.room" name="looking_room">
                    <div class="transition"></div>
                  </label>
                  <span class="text">Кімнату</span>
                  <i></i>
                </div>
              </div>
            </div>

            <div class="group">
              <mat-label class="label-mat">Чи є сусід по кімнаті?</mat-label>
              <div class="group-transparent m-1 m-1 border-horizontal">
                <div class="content">
                  <label class="checkBox">
                    <input id="looking_woman" type="checkbox" (ngModelChange)="onSubmitWithDelay()"
                      [(ngModel)]="userInfo.looking_woman" name="woman">
                    <div class="transition"></div>
                  </label>
                  <span class="text">Жінка</span>
                  <i></i>
                </div>

                <div class="content">
                  <label class="checkBox">
                    <input id="looking_man" type="checkbox" (ngModelChange)="onSubmitWithDelay()"
                      [(ngModel)]="userInfo.looking_man" name="man">
                    <div class="transition"></div>
                  </label>
                  <span class="text">Чоловік</span>
                  <i></i>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="group">
          <mat-label class="label-mat">На який термін</mat-label>
          <div class="group-transparent m-1 border-horizontal">

            <mat-form-field class="item-width-25 m-1" appearance="outline">
              <mat-label>Дні</mat-label>
              <input type="number" name="days" (ngModelChange)="onSubmitWithDelay()" (click)="onDayCountsChange()"
                [(ngModel)]="userInfo.days" [min]="minValueDays" [max]="maxValueDays" matInput>
            </mat-form-field>

            <mat-form-field class="item-width-25 m-1" appearance="outline">
              <mat-label>Тиж.</mat-label>
              <input type="number" name="weeks" (ngModelChange)="onSubmitWithDelay()" (click)="onDayCountsChange()"
                [(ngModel)]="userInfo.weeks" [min]="minValueWeeks" [max]="maxValueWeeks" matInput>
            </mat-form-field>

            <mat-form-field class="item-width-25 m-1" appearance="outline">
              <mat-label>Міс.</mat-label>
              <input type="number" name="months" (ngModelChange)="onSubmitWithDelay()" (click)="onDayCountsChange()"
                [(ngModel)]="userInfo.months" [min]="minValueMonths" [max]="maxValueMonths" matInput>
            </mat-form-field>

            <mat-form-field class="item-width-25 m-1" appearance="outline">
              <mat-label>Роки.</mat-label>
              <input type="number" name="years" (ngModelChange)="onSubmitWithDelay()" (click)="onDayCountsChange()"
                [(ngModel)]="userInfo.years" [min]="minValueYears" [max]="maxValueYears" matInput>
            </mat-form-field>

          </div>
        </div>

        <div class="group">
          <div class="group-transparent m-1">

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Стан оселі</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.repair_status"
                name="repair_status">


                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="Новий">Новий</mat-option>
                <mat-option value="Добрий">Добрий</mat-option>
                <mat-option value="Задовільний">Задовільний</mat-option>
                <mat-option value="Поганий">Поганий</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Мета оренди</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.purpose_rent" name="purpose_rent">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="0">Переїзд</mat-option>
                <mat-option value="1">Відряджання</mat-option>
                <mat-option value="2">Подорож</mat-option>
                <mat-option value="3">Навчання</mat-option>
                <mat-option value="4">Особисті причини</mat-option>
              </mat-select>
            </mat-form-field>


          </div>
        </div>
      </div>

      <div class="group-card col-lg-6 col-md-6 col-sm-12 col-12">

        <div class="group">
          <div class="group-transparent m-1">

            <mat-form-field class="item-width-50 m-1" appearance="outline">
              <mat-label>Площа м²</mat-label>
              <input matInput type="text" [min]="minValue" [max]="maxValue" (ngModelChange)="onSubmitWithDelay()"
                [(ngModel)]="userInfo.area" name="area">
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Кількість кімнат</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.rooms" name="rooms">
                <mat-option [value]="0">Приховати</mat-option>
                <mat-option [value]="1">Однокімнатна</mat-option>
                <mat-option [value]="2">Двокімнатна</mat-option>
                <mat-option [value]="3">Трикімнатна</mat-option>
                <mat-option [value]="4">Чотирьохкімнатна</mat-option>
                <mat-option [value]="5">Більше чотирьох</mat-option>
              </mat-select>
            </mat-form-field>


          </div>
        </div>

        <div class="group">
          <mat-label class="label-mat">Встановіть тип оплати та вартість</mat-label>
          <div class="group-transparent m-1 border-horizontal">

            <mat-form-field class="item-width-50 m-1" appearance="outline">
              <mat-label>Ціна</mat-label>
              <input matInput type="number" [min]="minValue" [max]="maxValue" (ngModelChange)="onSubmitWithDelay()"
                [(ngModel)]="userInfo.price" name="price">
            </mat-form-field>

            <div class="content">
              <label class="checkBox">
                <input id="daily" type="radio" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.option_pay"
                  name="daily" [value]=1>
                <div class="transition"></div>
              </label>
              <span class="text">Доба</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="monthly" type="radio" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.option_pay"
                  name="monthly" [value]=0>
                <div class="transition"></div>
              </label>
              <span class="text">Місяць</span>
              <i></i>
            </div>

          </div>
        </div>

        <div class="group">
          <div class="group-transparent m-1">
            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Парк</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.distance_green"
                name="distance_green">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="100">до 100м</mat-option>
                <mat-option value="300">до 300м</mat-option>
                <mat-option value="500">до 500м</mat-option>
                <mat-option value="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Маркет</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.distance_shop"
                name="distance_shop">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="100">до 100м</mat-option>
                <mat-option value="300">до 300м</mat-option>
                <mat-option value="500">до 500м</mat-option>
                <mat-option value="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Укриття</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.bunker" name="bunker">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="Паркінг">Паркінг</mat-option>
                <mat-option value="В будинку">В будинку</mat-option>
                <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="group">
          <div class="group-transparent m-1">

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Балкон</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.balcony" name="balcony">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="Класичний">Класичний</mat-option>
                <mat-option value="Французький">Французький</mat-option>
                <mat-option value="Лоджія">Лоджія</mat-option>
                <mat-option value="Тераса">Тераса</mat-option>
                <mat-option value="Веранда">Веранда</mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Тварини</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.animals" name="animals">
                <mat-option [value]="''">Приховати</mat-option>
                <mat-option value="1">Без тварин</mat-option>
                <mat-option value="2">За домовленістю</mat-option>
                <mat-option value="3">Можна з тваринами</mat-option>
              </mat-select>
            </mat-form-field>



          </div>
        </div>

        <div class="group">
          <div class="group-transparent m-1">

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Паркінг</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.distance_parking"
                name="distance_parking">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="1">на території</mat-option>
                <mat-option value="100">до 100м</mat-option>
                <mat-option value="300">до 300м</mat-option>
                <mat-option value="500">до 500м</mat-option>
                <mat-option value="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Зупинки</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.distance_stop"
                name="distance_stop">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="100">до 100м</mat-option>
                <mat-option value="300">до 300м</mat-option>
                <mat-option value="500">до 500м</mat-option>
                <mat-option value="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Метро</mat-label>
              <mat-select (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.distance_metro"
                name="distance_metro">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="100">до 100м</mat-option>
                <mat-option value="300">до 300м</mat-option>
                <mat-option value="500">до 500м</mat-option>
                <mat-option value="1000">до 1км</mat-option>
                <mat-option value="2000">до 2км</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
  </div>




</div>
