<div class="container-box">
  <div class="box-2">

    <div class="box-1 col-lg-12 col-md-6 col-sm-12 col-12">

      <div class="group-transparent m-1 group-left m-1">
        <a class="search-change hide-mobile" [routerLinkActive]="'active'" [routerLink]="'/search/host-house/'"
          matTooltip="Пошук оселі"><i class="fa-solid fa-building"></i></a>
        <a class="search-change hide-mobile" [routerLinkActive]="'active'" [routerLink]="'/search/host-tenant/'"
          matTooltip="Пошук орендаря"><i class="fa-solid fa-users"></i></a>
        <div class="searchName">
          <div class="title-page">Шукаємо орендара</div>
          <div class="custom-paginator">
            <button class="paginator-button" (click)="decrementOffset()"><i
                class="fa-solid fa-chevron-left"></i></button>
            <div class="paginator-info">показано
              {{ (pageEvent.pageIndex * pageEvent.pageSize) + 1 }} -
              {{ ((pageEvent.pageIndex + 1) * pageEvent.pageSize) <= optionsFound ? ((pageEvent.pageIndex + 1) *
                pageEvent.pageSize) : optionsFound }} з {{ optionsFound }} знайдених </div>
                <button class="paginator-button" (click)="incrementOffset()"><i
                    class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="container-btn">
          <button class="btn hide-mobile" (click)="toggleSearchTerm()" matTooltip="Пошуковий фільтр">
            <i class="fa-solid animate" [class.rotate-up]="isSearchTermCollapsed"
              [class.rotate-down]="!isSearchTermCollapsed" [class.fa-chevron-up]="isSearchTermCollapsed"
              [class.fa-chevron-down]="!isSearchTermCollapsed"></i>
          </button>
          <div class="numFind hide-pc bold"> {{optionsFound}} <span class="numFind-text">Знайдено</span></div>

        </div>
      </div>


      <div class="mobile-group">

        <div class="heightSet hide-mobile">
          <app-selection-housing></app-selection-housing>
        </div>

        <div class="heightSet hide-mobile">
          <mat-form-field class="search-id " appearance="outline">
            <input matInput type="text" (ngModelChange)="searchByUserID()" placeholder="Знайти по ID"
              [(ngModel)]="searchQuery" />
          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="container-search" [class.collapsed]="isSearchTermCollapsed">
      <div class="box">

        <div class="group-card col-lg-6 col-md-6 col-sm-12 col-12">

          <div class="group hide-pc">
            <mat-form-field class="search-id p-1" appearance="outline">
              <input matInput type="text" (ngModelChange)="searchByUserID()" placeholder="Знайти по ID"
                [(ngModel)]="searchQuery" />
            </mat-form-field>
          </div>

          <div class="group">
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <input name="flatInfo.region" matInput (ngModelChange)="onSubmitWithDelay()" placeholder="Область"
                  [(ngModel)]="userInfo.region" placeholder="Виберіть або введіть область"
                  (ngModelChange)="loadCities()" [matAutocomplete]="autoRegion">
                <mat-autocomplete #autoRegion="matAutocomplete">
                  <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
                    {{ region.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <input name="flatInfo.city" matInput (ngModelChange)="onSubmitWithDelay()" placeholder="Місто"
                  [(ngModel)]="userInfo.city" placeholder="Виберіть або введіть місто" (ngModelChange)="loadRegions()"
                  [matAutocomplete]="autoCity">
                <mat-autocomplete #autoCity="matAutocomplete">
                  <mat-option *ngFor="let city of filteredCities" [value]="city.name">
                    {{ city.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Кого розглядаєте як орендара?</mat-label>
            <div class="group-transparent m-1 border-horizontal">

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.students"
                    name="students">
                  <div class="transition"></div>
                </label>
                <span class="text">Студент<span class="status">S</span>
                </span>

                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.woman"
                    name="woman">
                  <div class="transition"></div>
                </label>
                <span class="text">Жінка<span class="status">W</span></span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.man" name="man">
                  <div class="transition"></div>
                </label>
                <span class="text">Чоловік<span class="status">M</span></span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.family"
                    name="family">
                  <div class="transition"></div>
                </label>
                <span class="text">Сім'я<span class="status">F</span></span>
                <i></i>
              </div>

            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">
              <div class="group">
                <mat-label class="label-mat">Здаєте в оренду</mat-label>
                <div class="group-transparent m-1 m-1 border-horizontal">

                  <div class="content">
                    <label class="checkBox">
                      <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.house"
                        name="have_house">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Будинок</span>
                    <i></i>
                  </div>

                  <div class="content">
                    <label class="checkBox">
                      <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.flat"
                        name="have_flat">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Квартира</span>
                    <i></i>
                  </div>

                  <div class="content">
                    <label class="checkBox">
                      <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.room"
                        name="looking_room">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Кімнату</span>
                    <i></i>
                  </div>
                </div>
              </div>

              <div class="group">
                <mat-label class="label-mat">Сусід по кімнаті?</mat-label>
                <div class="group-transparent m-1 m-1 border-horizontal">
                  <div class="content">
                    <label class="checkBox">
                      <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.looking_woman"
                        name="woman">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Жінка</span>
                    <i></i>
                  </div>

                  <div class="content">
                    <label class="checkBox">
                      <input type="checkbox" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="userInfo.looking_man"
                        name="man">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Чоловік</span>
                    <i></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">На який термін</mat-label>
            <div class="group-transparent m-1 border-horizontal">

              <mat-form-field class="item-width-25 m-1" appearance="outline">
                <input type="number" name="days" (ngModelChange)="onSubmitWithDelay()" placeholder="Дні"
                  (click)="onDayCountsChange()" [(ngModel)]="userInfo.days" [min]="minValueDays" [max]="maxValueDays"
                  matInput>
              </mat-form-field>

              <mat-form-field class="item-width-25 m-1" appearance="outline">
                <input type="number" name="weeks" (ngModelChange)="onSubmitWithDelay()" placeholder="Тиж."
                  (click)="onDayCountsChange()" [(ngModel)]="userInfo.weeks" [min]="minValueWeeks" [max]="maxValueWeeks"
                  matInput>
              </mat-form-field>

              <mat-form-field class="item-width-25 m-1" appearance="outline">
                <input type="number" name="months" (ngModelChange)="onSubmitWithDelay()" placeholder="Міс."
                  (click)="onDayCountsChange()" [(ngModel)]="userInfo.months" [min]="minValueMonths"
                  [max]="maxValueMonths" matInput>
              </mat-form-field>

              <mat-form-field class="item-width-25 m-1" appearance="outline">
                <input type="number" name="years" (ngModelChange)="onSubmitWithDelay()" placeholder="Роки"
                  (click)="onDayCountsChange()" [(ngModel)]="userInfo.years" [min]="minValueYears" [max]="maxValueYears"
                  matInput>
              </mat-form-field>

            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Стан оселі"
                  [(ngModel)]="userInfo.repair_status" name="repair_status">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Новий">Новий</mat-option>
                  <mat-option value="Добрий">Добрий</mat-option>
                  <mat-option value="Задовільний">Задовільний</mat-option>
                  <mat-option value="Поганий">Поганий</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Мета оренди"
                  [(ngModel)]="userInfo.purpose_rent" name="purpose_rent">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="0">Переїзд</mat-option>
                  <mat-option value="1">Відряджання</mat-option>
                  <mat-option value="2">Подорож</mat-option>
                  <mat-option value="3">Навчання</mat-option>
                  <mat-option value="4">Особисті причини</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>

        <div class="group-card col-lg-6 col-md-6 col-sm-12 col-12">

          <div class="group">
            <div class="group-transparent m-1">
              <mat-form-field class="item-width-50 m-1" appearance="outline">
                <input matInput type="text" [min]="minValue" [max]="maxValue" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Площа м²" [(ngModel)]="userInfo.area" name="area">
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Кіл. кімнат" [(ngModel)]="userInfo.rooms"
                  name="rooms">
                  <mat-option [value]="0">Приховати</mat-option>
                  <mat-option [value]="1">Однокімнатна</mat-option>
                  <mat-option [value]="2">Двокімнатна</mat-option>
                  <mat-option [value]="3">Трикімнатна</mat-option>
                  <mat-option [value]="4">Чотирьохкімнатна</mat-option>
                  <mat-option [value]="5">Більше чотирьох</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Встановіть тип оплати та вартість</mat-label>
            <div class="group-transparent m-1 border-horizontal">

              <mat-form-field class="item-width-50 m-1" appearance="outline">
                <input matInput type="number" [min]="minValue" [max]="maxValue" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Ціна" [(ngModel)]="userInfo.price" name="price">
              </mat-form-field>

              <mat-radio-group aria-label="Select an option" [(ngModel)]="userInfo.option_pay"
                (ngModelChange)="onSubmitWithDelay()">
                <mat-radio-button color="warn" [value]="1">Доба</mat-radio-button>
                <mat-radio-button color="warn" [value]="0">Місяць</mat-radio-button>
              </mat-radio-group>

            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Парк"
                  [(ngModel)]="userInfo.distance_green" name="distance_green">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="100">до 100м</mat-option>
                  <mat-option value="300">до 300м</mat-option>
                  <mat-option value="500">до 500м</mat-option>
                  <mat-option value="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Маркет"
                  [(ngModel)]="userInfo.distance_shop" name="distance_shop">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="100">до 100м</mat-option>
                  <mat-option value="300">до 300м</mat-option>
                  <mat-option value="500">до 500м</mat-option>
                  <mat-option value="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Укриття" [(ngModel)]="userInfo.bunker"
                  name="bunker">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Паркінг">Паркінг</mat-option>
                  <mat-option value="В будинку">В будинку</mat-option>
                  <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Балкон" [(ngModel)]="userInfo.balcony"
                  name="balcony">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Класичний">Класичний</mat-option>
                  <mat-option value="Французький">Французький</mat-option>
                  <mat-option value="Лоджія">Лоджія</mat-option>
                  <mat-option value="Тераса">Тераса</mat-option>
                  <mat-option value="Веранда">Веранда</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Тварини" [(ngModel)]="userInfo.animals"
                  name="animals">
                  <mat-option [value]="''">Приховати</mat-option>
                  <mat-option value="1">Без тварин</mat-option>
                  <mat-option value="2">За домовленістю</mat-option>
                  <mat-option value="3">Можна з тваринами</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Паркінг"
                  [(ngModel)]="userInfo.distance_parking" name="distance_parking">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="1">на території</mat-option>
                  <mat-option value="100">до 100м</mat-option>
                  <mat-option value="300">до 300м</mat-option>
                  <mat-option value="500">до 500м</mat-option>
                  <mat-option value="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Зупинки"
                  [(ngModel)]="userInfo.distance_stop" name="distance_stop">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="100">до 100м</mat-option>
                  <mat-option value="300">до 300м</mat-option>
                  <mat-option value="500">до 500м</mat-option>
                  <mat-option value="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Метро"
                  [(ngModel)]="userInfo.distance_metro" name="distance_metro">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="100">до 100м</mat-option>
                  <mat-option value="300">до 300м</mat-option>
                  <mat-option value="500">до 500м</mat-option>
                  <mat-option value="1000">до 1км</mat-option>
                  <mat-option value="2000">до 2км</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
