<app-navbar></app-navbar>
<div class="content-component">

  <div *ngIf="isMobile" class="col-12">
    <app-search-term-house></app-search-term-house>
  </div>

  <div class="main-container">
    <div *ngIf="!isMobile" class="d-flex col-12">
      <div class="col-lg-6 col-md-6">
        <app-search-term-house></app-search-term-house>
        <div [@appearance] class="cards-height">
          <app-cards-list></app-cards-list>
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <app-house></app-house>
      </div>
    </div>
    <div [@appearance] *ngIf="isMobile && indexPage !== 3 && indexPage !== 4 && counterFound > 0">
      <app-cards-list></app-cards-list>
    </div>
    <div *ngIf="isMobile && indexPage === 3">
      <app-house></app-house>
    </div>
  </div>
</div>
