<div class="card-wrapper" *ngIf="filteredUsers">
  <div [@swichCard] #findCards class="find-cards card-animation" (scroll)="onScroll($event)">
    <div class="position-sticky">
      <div class="t-lar bold gray">Показано {{shownCard}}/{{optionsFound}}</div>
    </div>
    <button class="card-mini" *ngFor="let user of filteredUsers; let i = index" (click)="selectUser(user)"
      [class.selected]="selectedUser.user_id === user.user_id">

      <i class="status-value fa-solid fa-person-circle-check" *ngIf="user.checked === 1"></i>

      <div class="card-mini-body p-2 al-fe">

        <div class="flex-box" *ngIf="user.price_of || user.price_to">
          <div mat-raised-button class="param-g flex-column mr-2" *ngIf="user.price_of">
            <div class="bg-g t-lar-x bold white">
              <span>{{ user.price_of | number: '1.1-1' }}
              </span>
            </div>
            <div class="t-min">Бюджет від ₴</div>
          </div>
          <div mat-raised-button class="param-g flex-column" *ngIf="user.price_to">
            <div class="bg-g t-lar-x bold white">
              <span>{{user.price_to | number: '1.1-1'}}</span>
            </div>
            <div class="t-min">Бюджет до ₴</div>
          </div>
        </div>

        <div class="t-lar-x bold white"><span *ngIf="authorizationHouse">{{ user.lastName }} </span>{{ user.firstName }}</div>

        <div class="flex-box t-min">
          <span class="mr-2" *ngIf="user.city">в {{user.city}}</span>
          <span class="mr-2" *ngIf="user.house">Будинок</span>
          <span class="mr-2" *ngIf="user.flat">Квартира</span>
          <span class="mr-2" *ngIf="user.room">Кімната</span>
        </div>

      </div>

      <!-- завантажуємо дефолтне фото користувача якщо фото відсутнє -->
      <ng-container *ngIf="!user.img || user.img === 'user_default.svg'">
        <div class="card-mini-user">
          <img src="../../../../assets/user_default.svg" alt="img">
        </div>
      </ng-container>
      <!-- якщо фото користувача є чекаємо його завантаження і показуємо спінер -->
      <ng-container *ngIf="user.img && user.img !== 'user_default.svg' && !isLoadingImg">
        <div class="card-mini-img">
          <div class="container-loader-mini">
            <mat-spinner color="warn"></mat-spinner>
            <img [src]="serverPath + pathPhotoUser + user.img" alt="img" (load)="isLoadingImg = true" hidden>
            <div class="t-min gray mt-2">Завантаження фото</div>
          </div>
        </div>
      </ng-container>
      <!-- якщо фото користувача завантажилось показуємо фото -->
      <ng-container *ngIf="user.img && user.img !== 'user_default.svg' && isLoadingImg">
        <div class="card-mini-user">
          <img [src]="serverPath + pathPhotoUser + user.img" alt="img">
        </div>
      </ng-container>

    </button>
  </div>
</div>
