@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.card-box {
  @include flex-box;
  justify-content: flex-start;
  align-items: stretch;
  @include s1-s3 {
    flex-direction: column;
  }
}

.card {
  position: relative;
  overflow: hidden;
  height: 600px;
  @include s1-s3 {
    height: auto;
  }
}

.img-fluid {
  border-radius: 20px;
}

.flex-box {
  align-items: stretch;
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
