<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="content-child">

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-animation" [@left2]>
        <div class="card-content">
          <app-main-info></app-main-info>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-animation" [@left2]>
        <div class="card-content">
          <app-parameters></app-parameters>
        </div>
      </div>
    </div>

  </div>
</ng-template>