@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.price {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  justify-content: flex-end;
}

.price_m {
  font-size: 20px;
  color: $color-accent;
  font-weight: 600;
  font-size: 30px;
}

.panel-container {
  background-color: rgba(255, 255, 255, 0.588);
}

.btn-box {
  @include flex-box-row;
  justify-content: space-evenly;
  .btn-group {
    @include flex-box-column;
    transition: 1s;
    .btn {
      margin: 5px 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-weight: 600;
      @include box-shadow;
    }
    .btn-name {
      font-size: 12px;
    }
    .fa-solid,
    .fa-regular {
      color: $color-text;
      font-size: 24px;
    }
  }
}

.btn-panel.active {
  .fa-solid {
    color: $color-accent;
  }
  color: $color-accent;
}

.btn-group.copied {
  transform: scale(1.4);
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 15px;

  @include s1-s3 {
    padding: 10px;
  }
}

.card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 650px;
  width: 97%;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: $color-white;
  position: relative;
  overflow: auto;
  @include s1-s3 {
    height: auto;
    overflow: visible;
    width: 100%;
  }
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  height: 65vh;

  @include s1-s3 {
    height: auto;
  }
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: transform 1s;
    transform: scale(1.2);

    span {
      transition: transform 1s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular,
    .fa-brands {
      color: $color-accent;
      transform: translate(10px) scale(2.5);
      transition: transform 0.5s;
    }
  }
}

mat-raised-button {
  background-color: none;
}

.item-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
}

.fa-solid {
  color: $color-primary;
  font-size: 25px;
}

.fab {
  font-size: 20px;
}

a.link {
  position: relative;
}

.img-container {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;

  .img-wrapper {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

.characteristics-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.item-characteristics {
  font-size: 12px;
  font-weight: 400;
}

.item {
  font-size: 16px;
  font-weight: 400;
  margin-right: 2px;
}

.title-selected-accent {
  font-size: 18px;
  color: $color-accent;
  font-weight: 600;
}

.card.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
  height: 90%;
  width: 90%;
}

.title-selected {
  font-size: 16px;
  color: $color-text;
}

.title-group {
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow:
    5px 2px 2px rgba(0, 0, 0, 0.25),
    2px 1px 2px rgba(0, 0, 0, 0.22);
}

.copyFlatId {
  font-size: 10px;
}

.price {
  font-size: 20px;
}

.switch-box {
  z-index: 50;
  top: -33px;
  left: 20px;
}

.card-animation {
  position: absolute;
  @include s1-s3 {
    margin-top: 15px;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
