@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 15px;

  @include s1-s3 {
    padding: 10px;
  }
}

.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 97%;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: $color-white;
  position: relative;
  @include s1-s3 {
    width: 100%;
  }
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  min-height: 65vh;

  @include s1-s3 {
    min-height: 70vh;
  }
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: transform 1s;
    transform: scale(1.2);

    span {
      transition: transform 1s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular,
    .fa-brands {
      color: $color-accent;
      transform: translate(10px) scale(2.5);
      transition: transform 0.5s;
    }
  }
}

mat-raised-button {
  background-color: none;
}

.copy {
  width: 20px;
  height: 20px;
  background-color: $color-white;
  border: none;
}

.message {
  position: absolute;
  z-index: 9999;
  background-color: $color-white;
  border-radius: 10px;
  color: $color-accent;
  font-size: 15px;
  padding: 10px;
  border: 1px $color-accent solid;
}

.fa-copy {
  color: $color-dark;
  font-size: 20px;
  &:hover {
    transition: 1s;
    color: $color-accent;
    scale: 1.2;
  }
}

.carousel {
  width: 100%;
  position: relative;
}

.fa-solid {
  color: $color-primary;
  font-size: 25px;
}

.fab {
  font-size: 20px;
}

.carousel-inner {
  border-radius: 10px;
}

a.link {
  position: relative;
}

.notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.notifications .badge {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  content: "";
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-menu {
  color: rgba(18, 17, 17, 0.8078431373);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.navbar-house {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.container-sticker {
  z-index: 5;

  position: absolute;
  width: 100%;
  height: 20px;
  top: -10px;
  right: 10px;
  @include s1-s3 {
    top: -15px;
  }
}

.status-container {
  display: flex;
  justify-content: flex-end;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);
}

.offline {
  background-color: $color-primary;
}

.rent-no {
  background-color: $color-primary;
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

.characteristics-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.item-characteristics {
  font-size: 12px;
  font-weight: 400;
}

.item {
  font-size: 24px;
  font-weight: 400;
  margin-right: 2px;
}

.accent {
  font-size: 16px;
  color: $color-accent;
  font-weight: 600;
}

.title-selected-accent {
  font-size: 18px;
  color: $color-accent;
  font-weight: 600;
}

.card.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
  height: 90%;
  width: 90%;
}

.title-selected {
  font-size: 16px;
  color: $color-text;
}

.title-group {
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  padding: 2px 10px;
  margin: 2px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow:
    5px 2px 2px rgba(0, 0, 0, 0.25),
    2px 1px 2px rgba(0, 0, 0, 0.22);
}

.copyFlatId {
  font-size: 10px;
}

.price {
  font-size: 20px;
}

.switch-box {
  z-index: 50;
  top: -33px;
  left: 20px;
}

.card-animation {
  position: absolute;
  @include s1-s3 {
    margin-top: 15px;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
