<nav class="navbar-house">
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-services/host-comun'"><span
    class="link-text">Документи</span><i class="fa-solid fa-passport"></i></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/house-param'"><span
      class="link-text">Реквізити</span><i class="fa-solid fa-money-bill-trend-up"></i></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/subscribers'"><span
      class="link-text">Угоди</span><i class="fa-solid fa-file-contract"></i></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/agreements'"><span
      class="link-text">Підписки</span><i class="fa-solid fa-person-praying"></i></a>
</nav>

