<nav class="navbar-house">
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-services/host-comun'"><span
    class="link-text">Документи</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/house-param'"><span
      class="link-text">Реквізити</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/subscribers'"><span
      class="link-text">Угоди</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/agreements'"><span
      class="link-text">Підписки</span></a>
</nav>

