<div class="group">

  <button class="btn-more w-10" (click)="toggleSmileyPanel()">
    <i class="fa-regular fa-face-smile-beam"></i>
  </button>

  <div class="smiley-panel" *ngIf="isSmileyPanelOpen">
    <button class="btn-more w-10" (click)="toggleSmileyPanel()">
      <i class="fa-regular fa-face-smile-beam"></i>
    </button>
    <div class="smiley-button" *ngFor="let smiley of smileys" (click)="addSmiley(smiley)">{{ smiley }}</div>
  </div>

  <div class="input-box">
    <div class="chat-input col-10">
      <textarea class="input-field" (input)="onInput()" #textArea id="floatingTextarea" matInput
      [(ngModel)]="messageText" (keydown.enter)="sendMessage()"
      placeholder="Напишіть повідомлення" autofocus></textarea>
    </div>

    <button class="btn-send" matTooltip="Надіслати" (click)="sendMessage()" *ngIf="messageText">
      <i class="fa-solid fa-paper-plane fa-2xl"></i>
    </button>
  </div>
</div>
