<div class="btn-group hide-mobile mb-3">
  <div class="account-box">
    <a class="link-btn" [routerLinkActive]="'active'" matTooltip="МІЙ ПРОФІЛЬ" [routerLink]="'/user/info'">
      <img [src]="serverPathPhotoUser + (userInfo?.img[0].img ? userInfo?.img[0].img : 'user_default.svg')"
        alt="User Image">
    </a>
    <div class="account-name" [routerLinkActive]="'active'" [routerLink]="'/user/info'">Профіль</div>
  </div>

  <ng-container>
    <div class="account-box">
      <a class="link-btn" [routerLinkActive]="'active'" matTooltip="МОЇ ОСЕЛІ" [routerLink]="'/house/house-info'">
        <img [src]="serverPathPhotoFlat + (houseInfo?.imgs[0].img ? houseInfo?.imgs[0].img : 'housing_default.svg')"
          alt="Flat Image">
      </a>
      <div class="account-name" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">Оселя</div>
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="!selectedFlatId">
    <div class="account-box">
      <a class="link-btn" [routerLinkActive]="'active'" matTooltip="МОЇ ОСЕЛІ"
        [routerLink]="'/housing-parameters/host/'" (click)="openMenuFlat()">
        <img [src]="serverPathPhotoFlat + (houseInfo?.imgs[0].img ? houseInfo?.imgs[0].img : 'housing_default.svg')"
          alt="Flat Image">
      </a>
      <div class="account-name" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">Оселя</div>
    </div>
  </ng-container> -->
</div>

<div class="navbar-toggle hide-pc" [ngClass]="{'open': isMenuOpen}">
  <div class="account-box">
    <a class="link-btn" [routerLinkActive]="'active'" [routerLink]="'/user/info'">
      <img [src]="serverPathPhotoUser + (userInfo?.img[0].img ? userInfo?.img[0].img : 'user_default.svg')"
        alt="User Image" (click)="openMenuUser()">
    </a>
    <div class="account-name" [routerLinkActive]="'active'" [routerLink]="'/user/info'">Профіль</div>
  </div>

  <ng-container *ngIf="selectedFlatId">
    <div class="account-box">
      <a class="link-btn" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'"
        (click)="openMenuFlat()">
        <img [src]="serverPathPhotoFlat + (houseInfo?.imgs[0].img ? houseInfo?.imgs[0].img : 'housing_default.svg')"
          alt="Flat Image">
      </a>
      <div class="account-name" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">Оселя</div>
    </div>
  </ng-container>

  <ng-container *ngIf="!selectedFlatId">
    <div class="account-box">
      <a class="link-btn" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/'" (click)="openMenuFlat()">
        <img [src]="serverPathPhotoFlat + (houseInfo?.imgs[0].img ? houseInfo?.imgs[0].img : 'housing_default.svg')"
          alt="Flat Image">
      </a>
      <div class="account-name" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">Оселя</div>
    </div>
  </ng-container>

  <a class="nav-link w-30" [routerLinkActive]="'active'" [routerLink]="'/about-project'">Discussio Beta</a>
</div>

<div class="card-box hide-pc col-lg-3 col-md-5 col-sm-6 col-12">
  <div class="card-menu" *ngIf="openUserMenu" (click)="sendMenuClose()">
    <app-navbar-user></app-navbar-user>
  </div>

  <div class="card-menu" *ngIf="openFlatMenu" (click)="sendMenuClose()">
    <app-navbar-house></app-navbar-house>
  </div>
</div>
