@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.navbar {
  display: flex;
  justify-content: flex-start;

  @include s1-s3 {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 99;
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 60%,
      rgba(255, 255, 255, 0.848) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 60%;
    height: 100%;

    top: 0;
    left: -100%;
    transition: left 0.3s ease;
  }
}

.navbar.open {
  left: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.fa-regular,
.fa-solid {
  font-size: 35px;
  transition: 0.4s;
  color: $color-primary;

  &:hover {
    transition: 0.4s;
    color: $color-accent;
  }
  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  border: none;
  height: 3rem;
}
.list-label {
  border: none;
  padding: 0;
}
.list-select {
  border: none;
  font-size: $font-size;
  font-family: $font-main;
  font-weight: bold;
}
.list-option {
  border: none;
  background-color: none;
  font-size: $font-size;
  font-family: $font-main;
  font-weight: bold;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.link-btn {
  display: flex;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  &:hover {
    transition: 0.4s;
    color: $color-accent;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px $color-accent);
  }
  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.rent {
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    color: $color-dark;
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-dark;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-dark;
  }

  &.active {
    color: $color-dark;
    box-shadow: 0px 0px 10px $color-dark;
    border-color: $color-dark;
  }
}

.link-btn:hover {
  background-color: #ccc;
}

.link-btn.with-image {
  position: relative;
  overflow: hidden;
}

.link-btn.with-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link-logo {
  position: relative;
  &:hover {
    transition: 0.2s;
    transform: scale(1.6);
    filter: drop-shadow(2px 2px 20px rgb(0, 0, 0));
  }

  &:active {
    transform: scale(0.8);
    filter: drop-shadow(20px 20px 40px rgb(202, 44, 8));
  }

  &.active {
    filter: drop-shadow(0px 0px 20px rgb(202, 44, 8));
  }
}
.nav-item {
  position: relative;
}

.logo {
  width: 60px;
  height: 60px;
}

.text {
  display: flex;
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  text-transform: capitalize;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s1-s3 {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
  }

  @include s3-s6-max {
    display: none;
  }
}

.navbar-toggle {
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  padding: 10px;
  z-index: 999;
  width: 100%;

  @include s3-s6-max {
    display: none;
  }

  @include s1-s3 {
    width: 100%;
    display: flex;
  }
}

@media print {
  .navbar-toggle {
    display: none;
  }
}
