@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.account-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: transparent;
  .account-name {
    font-size: 12px;
  }

  .account-name.active {
    color: $color-accent;
    font-weight: 600;
  }
}

.link-btn {
  display: flex;
  overflow: hidden;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }

  @include s3-s6-max {
    &:hover {
      transition: 0.4s;
      color: $color-accent;
      transform: scale(1.2);
      filter: drop-shadow(0px 0px 10px $color-accent);
    }

    &:active {
      color: $color-accent;
      transform: scale(0.8);
      box-shadow: 0px 0px 10px $color-accent;
    }
  }

  @include s1-s3 {
    margin: 0 20px;
  }
}

img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.navbar-toggle {
  display: flex;
  align-items: center;
  bottom: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  z-index: 10;
  background-color: $color-white;
  z-index: 999;
}

.nav-link {
  color: $color-text;
  text-transform: capitalize;
  font-size: 14px;
  padding: 5px;
  transition: all 0.4s ease;

  &.active {
    font-weight: bold;
    color: $color-accent;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

.card-menu {
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  @include s1-s3 {
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 15px 70px rgba(0, 0, 0, 0.63);
    border-radius: 0 0 10px 10px;
  }
}

@media print {
  .navbar-toggle {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
