<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container-card">

    <div class="box col-lg-6 col-md-12 col-sm-12 col-12 ">
      <div class="card m-2 p-2 m-2 mt-4" *ngFor="let agreement of agree">
        <div class="img-fluid  mt-2">

          <div class="w-30" *ngIf="agreement.img && agreement.img.length > 0">
            <img [src]="'http://localhost:3000/img/flat/' + agreement.img[0]" alt="Flat Image">
          </div>

          <div class="item-box p-1 w-70">
            <div class="item-name">ID Оселі: {{ agreement.flat.flat_id}} </div>
            <div class="item-name">Строком на: роки {{ agreement.flat.year}} місяці {{agreement.flat.month}}</div>
            <div class="item-name">Сума оплати: {{ agreement.flat.price}}грн</div>
          </div>

        </div>


        <div class="item-wrapper mt-1">
          <div class="item-name-id">ID Угоди: {{ agreement.flat.agreement_id}}</div>
          <div class="btn-group">

            <div class="btn-name">
              <button class="btn-create" matTooltip="Переглянути Угоду" [routerLink]="['/user/uagree-download', agreement.flat.agreement_id]"><span
                  class="material-symbols-outlined">
                  handshake
                </span></button>
              <mat-label>Угода</mat-label>
            </div>

            <div class="btn-name">
              <button class="btn-create" matTooltip="Переглянути Акт" [routerLink]="['/user/uact-view', agreement.flat.agreement_id]"><span
                  class="material-symbols-outlined">
                  note_add
                </span></button>
              <mat-label>Акт</mat-label>
            </div>

          </div>
        </div>



      </div>

    </div>

    <div class="box col-lg-6 col-md-12 col-sm-12 col-12 mt-4">
      <div class="card-info p-2">
        <h2 *ngIf="responseAgree === false">Немає узгоджених угод...</h2>
        <h2 *ngIf="responseAgree !== false">Погоджені угоди...</h2>
        <ul class="mt-4">В цьому меню Ви можете:
          <li class="mt-2">Переглядати список угод які Ви узгодили.</li>
          <li>Переглянути деталі угод.</li>
          <li>Надрукувати угоду.</li>
          <li>Збереги в pdf угоду.</li>
        </ul>

        <p class="text p-3">Створені угоди являються попередньою домовленістью між орендарем і орендодавцем вони не будуть дійсні до
          поки не відбудеться підписання Орендодавцем та Орендарем.</p>
      </div>
    </div>

  </div>

</ng-template>
