@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

.container-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 70vh;
  overflow: auto;
  @include s1-s3 {
    height: 90vh;
    flex-direction: column-reverse;
  }
}

.img-fluid {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 5px;
}

img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.text {
  font-size: 14px;
}

.item-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.131);
  border-radius: 10px;
  padding: 5px 10px;
  flex-direction: column;
}

.label {
  text-align: center;
}

h2 {
  text-align: center;
}

.item-name {
  font-size: 13px;
}

.item-name-id {
  font-size: 10px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s1-s3 {
    display: block;
  }

  @include s3-s6-max {
    display: none;
  }
}
