<nav class="navbar-house">
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/house-param'"><span
      class="link-text">Характеристики</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/subscribers'"><span
      class="link-text">Підписники</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/agreements'"><span
      class="link-text">Документи</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/agreements'"><span
      class="link-text">Угоди</span></a>
  <a class="link-menu" [routerLinkActive]="'active'"
    [routerLink]="'/home-account/host-acc/house/ordering-services'"><span class="link-text">Сервіси</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/home-account/host-acc/house/filling'"><span
      class="link-text">Наповнення</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-services/host-comun'"><span
      class="link-text">Комунальні</span></a>
</nav>
