<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="content-component">
    <div [@left1] class="switch-container" *ngIf="isMobile">

      <div class="switch-btn-group" *ngIf="indexPage === 0 && isMobile">
        <button class="btn" [routerLink]="'/user/info'">
          <i class="fa-solid fa-arrow-left"></i>
          <div class="t-min">Назад</div>
        </button>
      </div>

      <div class="switch-btn-group" *ngIf="indexPage === 1 && isMobile">
        <button class="btn" (click)="indexPage = 0">
          <i class="fa-solid fa-arrow-left"></i>
          <div class="t-min">Назад</div>
        </button>
      </div>

      <div class="menu-box hide-mobile" *ngIf="indexPage === 0 && isMobile">
        <div class="menu-lable">Меню</div>
        <div class="menu-name">Чат Орендаря</div>
      </div>

      <div class="switch-btn-group" *ngIf="indexPage === 0 && isMobile">
        <button class="btn" (click)="indexPage = 0" [ngClass]="{ 'active': indexPage === 0}">
          <i class="fa-solid fa-list"></i>
          <div class="t-min dark bold">Чати</div>
        </button>
      </div>

      <div class="switch-btn-group" *ngIf="indexPage === 0 && isMobile">
        <button class="btn" [disabled]="!chatSelected" (click)="indexPage = 1">
          <i class="fa-regular fa-message"></i>
          <div class="t-min dark bold">Чат</div>
        </button>
      </div>

      <div class="chat-info-container p-1" *ngIf="selectedChat && indexPage === 1">
        <img class="avatar-user1 w-30"
          [src]="serverPath + pathPhotoFlat + (selectedChat.infFlat.imgs[0].img ? selectedChat.infFlat.imgs[0].img : 'housing_default.svg')"
          alt="User Image">
        <div class="t-med bold w-70">
          <div>{{ selectedChat.flat_name }}</div>
          <div class="text-min">Chat ID: {{ selectedChat.chat_id }}</div>
        </div>
      </div>

    </div>
    <div class="main-container">
      <div class="card-wrapper col-lg-5 col-md-5 col-sm-12 col-12" *ngIf="!isMobile">
        <div [@top1] class="card-animation">
          <div class="cards-chat-container p-2" *ngIf="chats.length !== 0">
            <div class="card-mini mb-2" *ngFor="let chat of chats" (click)="selectChat(chat)"
              [ngClass]="{ 'selected': chat.isSelected}">

              <div class="notification-box" *ngIf="chat.unread !== 0">
                <div class="notification-num">{{chat.unread}}</div>
              </div>

              <div class="support" *ngIf="chat.flat_id === 1">
                <p class="support-text">Підтримка</p>
                <i class="fa-solid fa-headset pl-2"></i>
              </div>

              <div class="card-mini-img-container">
                <ng-container *ngIf="chat.infFlat.imgs[0].img && isLoadingImg">
                  <img class="card-mini-img"
                    [src]="serverPath + pathPhotoFlat + (chat.infFlat.imgs[0].img ? chat.infFlat.imgs[0].img : 'housing_default.svg')">
                </ng-container>

                <ng-container *ngIf="chat.infFlat.imgs[0].img && !isLoadingImg">
                  <mat-spinner color="warn"></mat-spinner>
                  <img [src]="serverPath + pathPhotoFlat + chat.infFlat.imgs[0].img" (load)="isLoadingImg = true"
                    hidden>
                </ng-container>

                <ng-container *ngIf="!chat.infFlat.imgs[0].img">
                  <img class="card-mini-img" src="../../../../assets/housing_default.svg" alt="img">
                </ng-container>
              </div>

              <div class="card-mini-bg"></div>

              <div class="card-mini-body p-1">
                <div class="flex-column w-50" *ngIf="chat.unread === 0">
                  <div class="t-med bold">{{ chat.flat_name }}</div>
                </div>
                <div class="flex-column w-50" *ngIf="chat.unread !== 0">
                  <div class="t-med bold">{{ chat.flat_name }}</div>
                  <div class="stringBox">
                    <div class="string"><i class="fa-solid fa-comment-sms pr-2"></i> {{ chat.lastMessage }}</div>
                  </div>
                </div>

              </div>


            </div>
          </div>
          <div class="cards-chat-container" *ngIf="chats.length === 0">
            <div class="flex-column p-2">
              <h3>Тут будуть чати</h3>
              <p>У вас поки немає чатів...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-wrapper col-lg-7 col-md-7 col-sm-12 col-12">
        <div [@top2] class="card-animation" *ngIf="indexPage === 0 && isMobile">
          <div class="cards-chat-container p-2" *ngIf="chats.length !== 0">
            <div class="card-mini mb-2" *ngFor="let chat of chats" (click)="selectChat(chat)"
              [ngClass]="{ 'selected': chat.isSelected}">

              <div class="notification-box" *ngIf="chat.unread !== 0">
                <div class="notification-num">{{chat.unread}}</div>
              </div>

              <div class="support" *ngIf="chat.flat_id === 1">
                <p class="support-text">Підтримка</p>
                <i class="fa-solid fa-headset pl-2"></i>
              </div>

              <div class="card-mini-img-container">
                <ng-container *ngIf="chat.infFlat.imgs[0].img && isLoadingImg">
                  <img class="card-mini-img"
                    [src]="serverPath + pathPhotoFlat + (chat.infFlat.imgs[0].img ? chat.infFlat.imgs[0].img : 'housing_default.svg')">
                </ng-container>

                <ng-container *ngIf="chat.infFlat.imgs[0].img && !isLoadingImg">
                  <mat-spinner color="warn"></mat-spinner>
                  <img [src]="serverPath + pathPhotoFlat + chat.infFlat.imgs[0].img" (load)="isLoadingImg = true"
                    hidden>
                </ng-container>

                <ng-container *ngIf="!chat.infFlat.imgs[0].img">
                  <img class="card-mini-img" src="../../../../assets/housing_default.svg" alt="img">
                </ng-container>
              </div>

              <div class="card-mini-bg"></div>
              <div class="card-mini-body p-1">
                <div class="flex-column w-50" *ngIf="chat.unread === 0">
                  <div class="t-med bold">{{ chat.flat_name }}</div>
                </div>
                <div class="flex-column w-50" *ngIf="chat.unread !== 0">
                  <div class="t-med bold">{{ chat.flat_name }}</div>
                  <div class="stringBox">
                    <div class="string"><i class="fa-solid fa-comment-sms pr-2"></i> {{ chat.lastMessage }}</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="cards-chat-container" *ngIf="chats.length === 0">
            <div class="flex-column p-2">
              <h3>Тут будуть чати</h3>
              <p>У вас поки немає чатів...</p>
            </div>
          </div>
        </div>

        <div [@top2] class="card-animation" *ngIf="indexPage === 1 && chatSelected">
          <div class="card-content">
            <div class="flex-column-chat w-100">
              <app-chat-user class="chat"></app-chat-user>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
