<div class="card-container">

  <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
    <div class="m-2" [@cardAnimation3]>
      <app-house-residents></app-house-residents>
    </div>
  </div>

  <div class="card-box col-lg-8" >
    <div class="card-group">
      <div class="height col-lg-6 col-md-5 col-sm-6 col-12" [@cardAnimation2]>
        <div class="card m-2">
          <div class="card-img-group">
            <div class="card-img-container">
              <img class="card-img-top"
                [src]="'http://localhost:3000/img/users/' + (selectedSubscriber?.photo || 'user_default.svg')"
                alt="User Image">
            </div>

            <div class="card-social-link">
              <a href="{{ selectedSubscriber?.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
              <a href="{{ selectedSubscriber?.telegram }}"><i class="fab fa-brands fa-telegram"></i></a>
              <a href="{{ selectedSubscriber?.viber }}"><i class="fab fa-brands fa-viber"></i></a>
              <a href="{{ selectedSubscriber?.facebook }}"><i class="fab fa-brands fa-facebook"></i></a>
            </div>
          </div>

          <div class="card-body">
            <div class="title-1">{{ selectedSubscriber?.lastName }} {{ selectedSubscriber?.firstName }}</div>
            <div class="title-1">{{ selectedSubscriber?.surName }}</div>
            <div class="title-2"><span class="text-info">Тел.</span><i class="fa-solid fa-phone"></i> {{ selectedSubscriber?.tell }}</div>
            <div class="card-links">
              <a href="#" class="card-link"><span>Переглянути угоду</span><i class="fa-solid fa-file-contract"></i></a>
            </div>
          </div>
          <ul class="resident-list">
            <li class="resident-item p-1">Тут Ви зможете бачити мешканців яких Ви вже додали в оселю.</li>
            <li class="resident-item p-1">Переглядати інформацію про мешканців</li>
            <li class="resident-item p-1">Надавати права доступу до різної інформації про оселю та права її змінювати,
              додавати чи коригувати.</li>
            <li class="resident-item p-1">В цьому меню є можливість додавати мешканців не заключаючи з ними угоду</li>
          </ul>


        </div>
      </div>
      <div class="height col-lg-6 col-md-5 col-sm-6 col-12" [@cardAnimation5]>
        <div class="card m-2" >
          <div class="container-checkbox p-2">
            <h4>Дозволи</h4>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_comunal" type="checkbox" [(ngModel)]="acces_comunal">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_comunal')">Комунальні</span>
                <button class="btn-info" (click)="toggleDescription('acces_comunal')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_comunal')" class="description">
                  <p class="descr"><span class="bold">Комунальні</span> - повний доступ до меню комунальні послуги,
                    створення/видалення послуг, додавання/видалення показників.</p>
                  <button class="close-button" (click)="toggleDescription('acces_comunal')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_filling" type="checkbox" [(ngModel)]="acces_filling">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_filling')">Наповнення оселі</span>
                <button class="btn-info" (click)="toggleDescription('acces_filling')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_filling')" class="description">
                  <p class="descr"><span class="bold">Наповнення оселі</span> - додавання/видаляти, коригування
                    наповнення оселі (меблі, обладнання)</p>
                  <button class="close-button" (click)="toggleDescription('acces_filling')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_subs" type="checkbox" [(ngModel)]="acces_subs">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_subs')">Управління підписниками</span>
                <button class="btn-info" (click)="toggleDescription('acces_subs')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_subs')" class="description">
                  <p class="descr"><span class="bold">Управління підписниками</span> - дозвіл видаляти або
                    підтверджувати до Discusiї підписників.</p>
                  <button class="close-button" (click)="toggleDescription('acces_subs')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_discuss" type="checkbox" [(ngModel)]="acces_discuss">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_discuss')">Управління Discussiєю</span>
                <button class="btn-info" (click)="toggleDescription('acces_discuss')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_discuss')" class="description">
                  <p class="descr"><span class="bold">Управління Discussiєю</span> - дозвіл до меню Discusiї, можливість
                    видаляти підписників з меню Discusiї,
                    спілкуватись з підписниками від імені оселі.</p>
                  <button class="close-button" (click)="toggleDescription('acces_discuss')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_agreement" type="checkbox" [(ngModel)]="acces_agreement">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_agreement')">Управління угодами</span>
                <button class="btn-info" (click)="toggleDescription('acces_agreement')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_agreement')" class="description">
                  <p class="descr"><span class="bold">Управління угодами</span> - дозвіл на укладання та перегляд угод
                    від імені оселі.</p>
                  <button class="close-button" (click)="toggleDescription('acces_agreement')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_citizen" type="checkbox" [(ngModel)]="acces_citizen">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_citizen')">Мешканці оселі</span>
                <button class="btn-info" (click)="toggleDescription('acces_citizen')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_citizen')" class="description">
                  <p class="descr"><span class="bold">Мешканці оселі</span> - дозвіл на перегляд та спілкування з
                    вже доданими мешканцями оселі.</p>
                  <button class="close-button" (click)="toggleDescription('acces_citizen')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_comunal_indexes" type="checkbox" [(ngModel)]="acces_comunal_indexes">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_comunal_indexes')">Додавання
                  показників</span>
                <button class="btn-info" (click)="toggleDescription('acces_comunal_indexes')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_comunal_indexes')" class="description">
                  <p class="descr"><span class="bold">Додавання показників</span> - можна вносити дані по комунальним
                    послугам без
                    можливості їх створення або видалення.</p>
                  <button class="close-button" (click)="toggleDescription('acces_comunal_indexes')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_flat_features" type="checkbox" [(ngModel)]="acces_flat_features">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_flat_features')">Редагування оселі</span>
                <button class="btn-info" (click)="toggleDescription('acces_flat_features')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_flat_features')" class="description">
                  <p class="descr"><span class="bold">Редагування оселі</span> - дозволити редагувати інформацію по оселю.</p>
                  <button class="close-button" (click)="toggleDescription('acces_flat_features')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_services" type="checkbox" [(ngModel)]="acces_services">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_services')">Замовлення послуг</span>
                <button class="btn-info" (click)="toggleDescription('acces_services')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_services')" class="description">
                  <p class="descr"><span class="bold">Замовлення послуг</span> - замовляти послуги з меню послуг.</p>
                  <button class="close-button" (click)="toggleDescription('acces_services')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_flat_chats" type="checkbox" [(ngModel)]="acces_flat_chats">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_flat_chats')">Чат оселі</span>
                <button class="btn-info" (click)="toggleDescription('acces_flat_chats')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_flat_chats')" class="description">
                  <p class="descr"><span class="bold">Чат оселі</span> - дозвіл на перегляд та користування чатом від імені оселі.</p>
                  <button class="close-button" (click)="toggleDescription('acces_flat_chats')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">

                <label class="checkBox">
                  <input id="acces_added" type="checkbox" [(ngModel)]="acces_added">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_added')">Додавати користувачів</span>
                <button class="btn-info" (click)="toggleDescription('acces_added')"><i class="fa-solid fa-info"></i>
                </button>

              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_added')" class="description">
                  <p class="descr"><span class="bold">Додавати користувачів</span> - дозволити додавання нових
                    користувачів до оселі</p>
                  <button class="close-button" (click)="toggleDescription('acces_added')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_agent" type="checkbox" [(ngModel)]="acces_agent">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_agent')">Представник оселі</span>
                <button class="btn-info" (click)="toggleDescription('acces_agent')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_agent')" class="description">
                  <p class="descr"><span class="bold">Представник оселі</span> - тільки одна особа може бути
                    представником, вона буде відображатись від імені оселі при
                    веденні Discusiї з підписниками та укладанні угоди.
                    (якщо треба змінити представника то потрібно видалити з оселі попереднього представника).</p>
                  <button class="close-button" (click)="toggleDescription('acces_agent')">Закрити</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="acces_admin" type="checkbox" [(ngModel)]="acces_admin">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span" (click)="toggleDescription('acces_admin')">Адміністрування</span>
                <button class="btn-info" (click)="toggleDescription('acces_admin')"><i
                    class="fa-solid fa-info"></i></button>
              </div>
              <div class="description-container">
                <div *ngIf="isDescriptionVisible('acces_admin')" class="description">
                  <p class="descr"><span class="bold">Адміністрування</span> - якщо надати доступ до "Дозволити додавати
                    людей" та "Адміністрування" то мешканець
                    отримає можливість надавати дозволи.</p>
                  <button class="close-button" (click)="toggleDescription('acces_admin')">Закрити</button>
                </div>
              </div>
            </div>

            <button class="btn m-1" (click)="addAccess(selectedSubscriber!, acces_added, acces_admin,
                acces_services, acces_comunal, acces_filling, acces_subs, acces_discuss, acces_agreement,
                acces_citizen, acces_comunal_indexes, acces_agent, acces_flat_features, acces_flat_chats)">
              <i class="fa-solid fa-check-double"></i>Підтвердити
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="loader-overlay">
    <div class="loader">
      <img src="../../../../assets/logo/Discussio (7).svg" alt="Logo" class="loader-logo">
    </div>
  </div>
