<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="info-container" *ngIf="helpMenu">
      <div class="info-help-box">

        <div class="info-help-text" *ngIf="helpInfo == 1">
          <span class="accent bold">Комунальні</span>
          - повний доступ до меню комунальні послуги,
          створення/видалення послуг, додавання/видалення показників.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 2">
          <span class="accent bold">Наповнення оселі</span> - додавання/видаляти, коригування
          наповнення оселі (меблі, обладнання)
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 3">
          <span class="accent bold">Управління підписниками</span> - дозвіл видаляти або
          підтверджувати до Discusiї підписників.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 4">
          <span class="accent bold">Управління Discussiєю</span>
          - дозвіл до меню Discusiї, можливість
          видаляти підписників з меню Discusiї,
          спілкуватись з підписниками від імені оселі.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 5">
          <span class="accent bold">Управління угодами</span> - дозвіл на укладання та перегляд угод
          від імені оселі.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 6">
          <span class="accent bold">Мешканці оселі</span> - дозвіл на перегляд та спілкування з
          вже доданими мешканцями оселі.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 7">
          <span class="accent bold">Додавання показників</span> - можна вносити дані по комунальним
          послугам без можливості їх створення або видалення.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 8">
          <span class="accent bold">Редагування оселі</span> - дозволити редагувати інформацію по
          оселю.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 9">
          <span class="accent bold">Замовлення послуг</span> - замовляти послуги з меню послуг.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 10">
          <span class="accent bold">Чат оселі</span> - дозвіл на перегляд та користування чатом від
          імені оселі.
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 11">
          <span class="accent bold">Додавати користувачів</span> - дозволити додавання нових
          користувачів до оселі
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 12">
          <span class="accent bold">Представник оселі</span> - тільки одна особа може бути
          представником, вона буде відображатись від імені оселі при
          веденні Discusiї з підписниками та укладанні угоди.
          (якщо треба змінити представника то потрібно видалити з оселі попереднього представника).
        </div>

        <div class="info-help-text" *ngIf="helpInfo == 13">
          <span class="accent bold">Адміністрування</span> - якщо надати доступ до "Дозволити
          додавати людей" та "Адміністрування" то мешканець отримає можливість надавати дозволи.
        </div>

        <button class="btn" (click)="openHelpMenu(0)">Зрозуміло</button>
      </div>
    </div>

    <div class="switch-box1 p-2">

      <div class="btn-menu1" *ngIf="ownerPage">
        <button class="btn" [ngClass]="{ 'active': indexMenu == 0}" (click)="indexMenu = 0 || indexPersonMenu = 0"
          matTooltip="Власник">
          <i class="fa-solid fa-id-card-clip"></i></button>
        <div class="btn-menu-name">Власник</div>
      </div>

      <div class="btn-menu1">
        <button class="btn" [ngClass]="{ 'active': indexMenu == 1}" (click)="indexMenu = 1 || indexPersonMenu = 0"
          matTooltip="Мешканці">
          <i class="fa-solid fa-users-gear"></i></button>
        <div class="btn-menu-name">Мешканці</div>
      </div>

      <div class="btn-menu1">
        <button class="btn" [ngClass]="{ 'active': indexMenu == 2}" (click)="indexMenu = 2 || indexPersonMenu = 0"
          matTooltip="Додати мешканця"> <i class="fa-solid fa-user-plus"></i> </button>
        <div class="btn-menu-name">Додати</div>
      </div>

      <div class="btn-menu1" *ngIf="indexMenu == 1 || indexMenu == 0">
        <button class="btn" [ngClass]="{ 'active': indexPersonMenu == 0}" (click)="indexPersonMenu = 0"
          matTooltip="Профіль">
          <i class="fa-solid fa-person-half-dress"></i></button>
        <div class="btn-menu-name">Профіль</div>
      </div>

      <div class="btn-menu1" *ngIf="indexMenu == 1 || indexMenu == 0">
        <button class="btn" [ngClass]="{ 'active': indexPersonMenu == 1}" (click)="indexPersonMenu = 1"
          matTooltip="Відгук">
          <i class="fa-regular fa-comment-dots"></i></button>
        <div class="btn-menu-name">Відгук</div>
      </div>

      <div class="btn-menu1" *ngIf="indexMenu == 1">
        <button class="btn" [ngClass]="{ 'active': indexPersonMenu == 2}" (click)="indexPersonMenu = 2"
          matTooltip="Дозволи"> <i class="fa-solid fa-user-gear"></i> </button>
        <div class="btn-menu-name">Дозволи</div>
      </div>

    </div>

    <div class="card-container col-12">
      <div class="col-lg-6 col-md-5 col-sm-6 col-12">

        <div class="wrapper" *ngIf="indexMenu == 0">
          <h1>Власник</h1>
        </div>

        <div class="wrapper" *ngIf="indexMenu == 1">
          <app-house-residents></app-house-residents>
        </div>

        <div class="wrapper p-3" *ngIf="indexMenu == 2">
          <h4>Додати мешканців</h4>
          <app-user-search class="mt-3"></app-user-search>
          <div class="text">Це поле дозволить додати мешканця напряму без створення угоди.</div>
        </div>

      </div>
      <div class="col-lg-6 col-md-5 col-sm-6 col-12">
        <!-- власник -->
        <div class="card" *ngIf="indexMenu == 0">
          <div class="card" *ngIf="indexPersonMenu == 0">
            <div class="img-container">
              <div class="img-wrapper">
                <img class="img-fluid rounded" [src]="serverPathPhotoUser + (ownerInfo?.img || 'user_default.svg')"
                  alt="User Image">
              </div>
              <div class="user-group p-1">
                <div class="social-link-box">
                  <a target="_blank" href="{{ ownerInfo?.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
                  <a target="_blank" *ngIf="ownerInfo?.telegram" href="{{ ownerInfo?.telegram }}"><i
                      class="fab fa-brands fa-telegram"></i></a>
                  <a target="_blank" *ngIf="ownerInfo?.facebook" href="{{ ownerInfo?.facebook }}"><i
                      class="fab fa-brands fa-facebook"></i></a>
                </div>
                <div class="user-group-name">
                  <div class="user-sup-name">Прізвище : </div>
                  <div class="user-name">{{ ownerInfo?.lastName || '?' }}</div>
                </div>

                <div class="user-group-name">
                  <div class="user-sup-name">Ім'я : </div>
                  <div class="user-name">{{ ownerInfo?.firstName || '?' }}</div>
                </div>

                <div class="user-group-name">
                  <div class="user-sup-name">По батькові : </div>
                  <div class="user-name">{{ ownerInfo?.surName || '?' }}</div>
                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <div class="title-group-card">
                <div class="title-selected">User ID: </div>
                <div class="title-selected-accent">{{ ownerInfo?.user_id || '?' }}</div>
              </div>

              <button class="title-group-card" matTooltip="Копіювати" (click)="copyTell()">
                <div class="title-selected">Телефон: </div>
                <div *ngIf="!isCopied" class="title-selected-accent">{{ ownerInfo?.tell }}</div>
                <div *ngIf="isCopied" class="title-selected-accent message"> телефон скопійовано!</div>
              </button>

              <button class="card-btn" (click)="createChat(ownerInfo)">
                <span>Створити чат</span><i class="fa-solid fa-message"></i>
                <div *ngIf="statusMessageChat === true">
                  Чат створено!
                </div>
              </button>

            </div>
          </div>

          <div class="card-body p-2" *ngIf="indexPersonMenu == 1">
            <div class="group-rating">

              <mat-form-field class="w-100">
                <mat-label>Дата відгуку</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="rating.ratingDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="radio-group">
                <mat-radio-group class="w-100" aria-label="Select an option" [(ngModel)]="rating.ratingValue">
                  <mat-radio-button color="warn" [value]="1">1</mat-radio-button>
                  <mat-radio-button color="warn" [value]="2">2</mat-radio-button>
                  <mat-radio-button color="warn" [value]="3">3</mat-radio-button>
                  <mat-radio-button color="warn" [value]="4">4</mat-radio-button>
                  <mat-radio-button color="warn" [value]="5">5</mat-radio-button>
                </mat-radio-group>
              </div>

              <mat-form-field class="form-field w-100">
                <mat-label>Відгук</mat-label>
                <textarea [(ngModel)]="rating.ratingComment" name="menuComment" matInput
                  placeholder="Введіть Ваші побажання, пропозиції."></textarea>
              </mat-form-field>

              <button class="btn" (click)="sendRating(selectedSubscriber)">Відправити</button>

            </div>
          </div>
        </div>

        <!-- орендар -->
        <div *ngIf="indexMenu == 1">
          <div class="card" *ngIf="indexPersonMenu == 0 && selectedSubscriber">
            <div class="img-container">
              <div class="img-wrapper">
                <img class="img-fluid rounded"
                  [src]="serverPathPhotoUser + (selectedSubscriber.photo || 'user_default.svg')" alt="User Image">
              </div>
              <div class="user-group p-1">
                <div class="social-link-box">
                  <a target="_blank" href="{{ selectedSubscriber.instagram }}"><i
                      class="fab fa-brands fa-instagram"></i></a>
                  <a target="_blank" *ngIf="selectedSubscriber.telegram" href="{{ selectedSubscriber.telegram }}"><i
                      class="fab fa-brands fa-telegram"></i></a>
                  <a target="_blank" *ngIf="selectedSubscriber.facebook" href="{{ selectedSubscriber.facebook }}"><i
                      class="fab fa-brands fa-facebook"></i></a>
                </div>
                <div class="user-group-name">
                  <div class="user-sup-name">Прізвище : </div>
                  <div class="user-name">{{ selectedSubscriber.lastName || '?' }}</div>
                </div>

                <div class="user-group-name">
                  <div class="user-sup-name">Ім'я : </div>
                  <div class="user-name">{{ selectedSubscriber.firstName || '?' }}</div>
                </div>

                <div class="user-group-name">
                  <div class="user-sup-name">По батькові : </div>
                  <div class="user-name">{{ selectedSubscriber.surName || '?' }}</div>
                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <div class="title-group-card">
                <div class="title-selected">User ID: </div>
                <div class="title-selected-accent">{{ selectedSubscriber.user_id || '?' }}</div>
              </div>

              <button class="title-group-card" matTooltip="Копіювати" (click)="copyTell()">
                <div class="title-selected">Телефон: </div>
                <div *ngIf="!isCopied" class="title-selected-accent">{{ selectedSubscriber.tell }}</div>
                <div *ngIf="isCopied" class="title-selected-accent message"> телефон скопійовано!</div>
              </button>

              <button class="card-btn" (click)="createChat(selectedSubscriber)">
                <span>Створити чат</span><i class="fa-solid fa-message"></i>
                <div *ngIf="statusMessageChat === true">
                  Чат створено!
                </div>
              </button>

              <button class="card-btn" [routerLinkActive]="'active'"
                [routerLink]="['/agree-create', selectedSubscriber.user_id]"><span>Сформувати угоду</span><i
                  class="fa-solid fa-file-contract"></i></button>

            </div>
          </div>

          <div class="card p-2" *ngIf="indexPersonMenu == 1 && selectedSubscriber">

            <mat-label>Відгук про мешканця</mat-label>

            <div class="acces_group">
              <div class="w-60">
                <div class="user-group-name">
                  <div class="user-sup-name">Прізвище : </div>
                  <div class="user-name">{{ selectedSubscriber.lastName || '?' }}</div>
                </div>

                <div class="user-group-name">
                  <div class="user-sup-name">Ім'я : </div>
                  <div class="user-name">{{ selectedSubscriber.firstName || '?' }}</div>
                </div>
              </div>
              <div class="acces_box w-40">
                <img class="acces_box_img"
                  [src]="serverPathPhotoUser + (selectedSubscriber.photo || 'user_default.svg')" alt="User Image">
              </div>
            </div>

            <div class="group-rating">
              <mat-form-field class="w-100">
                <mat-label>Дата відгуку</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="rating.ratingDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-label>Оцінка рейтигу</mat-label>
              <div class="radio-group">
                <mat-radio-group class="w-100" aria-label="Select an option" [(ngModel)]="rating.ratingValue">
                  <mat-radio-button color="warn" [value]="-10">-10</mat-radio-button>
                  <mat-radio-button color="warn" [value]="-5">-5</mat-radio-button>
                  <mat-radio-button color="warn" [value]="3">0</mat-radio-button>
                  <mat-radio-button color="warn" [value]="5">+5</mat-radio-button>
                  <mat-radio-button color="warn" [value]="10">+10</mat-radio-button>
                </mat-radio-group>
              </div>

              <mat-form-field class="form-field w-100">
                <mat-label>Відгук</mat-label>
                <textarea [(ngModel)]="rating.ratingComment" name="menuComment" matInput
                  placeholder="Введіть Ваші побажання, пропозиції."></textarea>
              </mat-form-field>

              <button class="btn" (click)="sendRating(selectedSubscriber)">Відправити</button>

            </div>
          </div>

          <div class="card p-2" *ngIf="indexPersonMenu == 2 && selectedSubscriber">

            <mat-label>Дозволи мешканця</mat-label>

            <div class="acces_group">
              <div class="w-60">
                <div class="user-group-name">
                  <div class="user-sup-name">Прізвище : </div>
                  <div class="user-name">{{ selectedSubscriber.lastName || '?' }}</div>
                </div>

                <div class="user-group-name">
                  <div class="user-sup-name">Ім'я : </div>
                  <div class="user-name">{{ selectedSubscriber.firstName || '?' }}</div>
                </div>
              </div>
              <div class="acces_box w-40">
                <img class="acces_box_img"
                  [src]="serverPathPhotoUser + (selectedSubscriber.photo || 'user_default.svg')" alt="User Image">
              </div>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_comunal">
                <span class="checkbox-name">Комунальні</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(1)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_filling">
                <span class="checkbox-name">Наповнення оселі</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(2)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_subs">
                <span class="checkbox-name">Управління підписниками</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(3)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_discuss">
                <span class="checkbox-name">Управління Discussiєю</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(4)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_agreement">
                <span class="checkbox-name">Управління угодами</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(5)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_citizen">
                <span class="checkbox-name">Мешканці оселі</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(6)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_comunal_indexes">
                <span class="checkbox-name">Додавання показників</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(7)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_flat_features">
                <span class="checkbox-name">Редагування оселі</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(8)"><i class="fa-solid fa-question"></i></button>
            </div>

            <!-- <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_services">
                <span class="checkbox-name">Замовлення послуг</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(9)"><i class="fa-solid fa-question"></i></button>
            </div> -->

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_flat_chats">
                <span class="checkbox-name">Чат оселі</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(10)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_added">
                <span class="checkbox-name">Додавати користувачів</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(11)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_agent">
                <span class="checkbox-name">Представник оселі</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(12)"><i class="fa-solid fa-question"></i></button>
            </div>

            <div class="checkbox-group">
              <mat-checkbox color="warn" [(ngModel)]="selectedSubscriber.acces_admin">
                <span class="checkbox-name">Адміністрування</span></mat-checkbox>
              <button class="checkbox-btn w-30" (click)="openHelpMenu(13)"><i class="fa-solid fa-question"></i></button>
            </div>

            <button class="btn m-1" (click)="addAccess(selectedSubscriber)">
              <i class="fa-solid fa-check-double"></i>Підтвердити
            </button>

          </div>
        </div>








      </div>
    </div>

  </div>
</ng-template>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
