@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.card {
  margin: 0;
  padding: 0;
  @include s1-s3 {
  }
}

.card-container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  min-height: 65vh;
  max-height: 70vh;
}

.card-group > .card:not(:last-child) {
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    bottom: -100%;
    transition: bottom 1s ease;
  }
}

.wrapper.open {
  @include s1-s3 {
    width: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.337) 100%);
    bottom: 70px;
    top: 0;
  }
}

.wrapper.hide {
  @include s1-s3 {
    display: none;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  @include s1-s3 {
    background-color: $color-white;
    border-radius: 10px;
    padding: 10px;
  }
}

.card-box2 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.mobile {
  @include s1-s3 {
    height: 60px;
  }
}

.card-name {
  display: flex;
}

.card-button {
  width: 100%;
  margin: 5px 0 5px 0;
  height: 45px;
  font-size: 18px;
}

.card-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-link {
  display: flex;
  transition: 0.4s;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px;
  border: 1px solid $color-primary;
  padding: 5px 15px;
  border-radius: 10px;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.card-group {
  display: flex;
  border-radius: 10px;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.height {
  display: flex;
}

.page-name {
  font-weight: 600;
  text-align: center;
}

.btn-menu {
  border: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-white;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 13px;
  left: 15px;
  z-index: 50;
}

.material-symbols-outlined {
  font-size: 30px;
}

.two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.card-img-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

.card-wrapper {
  width: 100%;
  display: flex;
  transition: all 0.3s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 1s;
  }
}

.card-box::-webkit-scrollbar {
  display: none;
}

.card-group > .card:not(:first-child) {
  border-radius: 10px;
}

.card-img-container {
  height: 250px;
  width: 80%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  overflow: hidden;
}

.card-body {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-top {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 2s ease;
  border-radius: 0 10% 50% 0;
  animation: border-animation 5s infinite;

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes border-animation {
  0% {
    border-radius: 0 10% 40% 0;
  }
  25% {
    border-radius: 0 20% 60% 10%;
  }
  50% {
    border-radius: 0 10% 40% 0;
  }
  75% {
    border-radius: 0 20% 60% 10%;
  }
  100% {
    border-radius: 0 10% 40% 0;
  }
}

.resident-item {
  font-size: 14px;
}

.card-social-link {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.title-1 {
  font-size: 20px;
  font-weight: 600;
}

.title-2 {
  font-size: 18px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-info-group {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

.card-info-title {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.fa-phone {
  color: $color-dark !important;
}

.text-info {
  padding: 10px;
  font-size: 0.8em;
  color: $color-dark !important;
}

.fab {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 20px;
}

.btn {
  height: 35px;
}

.chat-container {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  padding: 10px;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message-content {
  flex: 1;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

input[type="text"] {
  font-size: 12px;
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.card-search {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputbox {
  width: 100%;
}

.name {
  margin-bottom: 10px;
}

mat-label {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.item {
  width: 100%;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-checkbox {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  margin: 5px;
  align-items: flex-start;
  flex-direction: column;
}

.content-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descr {
  color: $color-white;
  font-size: 16px;
}

.content {
  position: relative;
}

.checkBox {
  position: relative;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 0 0 2px $color-primary;
}

.checkBox-span {
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: $color-accent;
    font-weight: 600;
    transform: scale(1.1);
  }
}

.bold {
  color: $color-accent;
  font-weight: 600;
}
.btn-info {
  background-color: rgba(255, 255, 255, 0);
  width: 30px;
  height: 30px;
}

.description-container {
  display: flex;
  position: absolute;
  z-index: 9999;
  background-color: rgb(44, 44, 44);
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.description {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.close-button {
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
