@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.card-container {
  display: flex;
}

.card {
  height: 65vh;
  overflow-y: auto;
  justify-content: flex-start;
  @include s1-s3 {
    overflow-y: visible;
    height: auto;
  }
}

.checkbox-group {
  @include flex-box;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $color-primary;

  .checkbox-name {
    font-size: 18px;
    font-family: $font-main;
  }

  .checkbox-btn {
    @include flex-box;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid $color-primary;
  }
}

.card::-webkit-scrollbar {
  display: none;
}

.img-wrapper {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.img-fluid {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.img-container {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.social-link-box {
  height: 50%;
  z-index: 10;
}

.fab {
  transition: 0.4s;
  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.user-group {
  min-width: 40%;
  display: flex;
  height: 100%;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  align-items: flex-end;
}

.user-group-name {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.user-sup-name {
  font-size: 12px;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: $color-text;
}

.title-group-card {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
  justify-content: space-between;
  width: 100%;
}
.title-selected {
  font-size: 18px;
  color: $color-text;
}
.title-selected-accent {
  font-size: 18px;
  color: $color-accent;
  font-weight: 600;
}
.card-btn {
  @include flex-box;
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
  justify-content: space-between;
  font-size: 18px;
  color: $color-text;
  box-shadow:
    5px 2px 2px rgba(0, 0, 0, 0.25),
    2px 1px 2px rgba(0, 0, 0, 0.22);
  transition: 1s;

  &:hover {
    background-color: $color-accent;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
      font-weight: 600;
    }

    .fa-solid,
    .fa-regular {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.switch-box1 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 80px;
  z-index: 50;
  @include s1-s3 {
    background-color: $color-white;
    padding-top: 20px;
    top: 0;
  }
}

.acces_group {
  @include flex-box;
  .acces_box {
    @include flex-box-column;
    .acces_box_img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.card-name {
  font-size: 20px;
  color: $color-accent;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}


.btn-menu1 {
  @include flex-box-column;
  z-index: 10;
  width: 80px;

  .btn {
    @include flex-box-column;
    width: 100%;
    height: 50px;
    z-index: 99;
    color: $color-text;
    background-color: transparent;

    &.active {
      color: $color-white;
      .fa-solid,
      .fa-regular {
        color: $color-accent;
      }
    }

    &:hover {
      color: $color-white;
    }

    @include s1-s3 {
      box-shadow: none;
      background-color: transparent;
    }

    .fa-solid,
    .fa-regular {
      color: $color-text;
      font-size: 30px;
    }
  }

  .btn-menu-name {
    font-size: 12px;
    color: $color-text;
  }
}

.card-container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  min-height: 65vh;
  max-height: 70vh;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  height: 650px;

  @include s1-s3 {
    width: 100%;
    flex-direction: column;
  }
}

.group-rating {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-group {
  display: flex;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
