@use "../../../../style/agree/agree_about.scss";
@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

.switch-content {
  height: 15vh;
}

.card-menu {
  border-radius: 0px;
}

.card {
  justify-content: flex-start;
}

.card-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 85vh;
  overflow: auto;
  .card-animation {
    height: 100%;
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}

.flex-column {
  @include flex-box-column;
}

.flex-box {
  @include flex-box;
}

.link-t {
  @include flex-box;
  @include box-shadow;
  border: none;
  height: 100%;
  color: $color-white;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.683);
  border-radius: 20px;
  .fa-solid {
    color: $color-white;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.791));
  }
}

.link-t:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: not-allowed;
  color: #929292;
  .fa-solid {
    color: #929292;
  }
}

.buble {
  width: 100px;
  height: 100px;
  background-color: $color-white;
  border-radius: 50%;

  .fa-solid {
    font-size: 40px;
    color: $color-dark;
  }
}
