@use "./../../../../style/comun/comun.scss";
@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;

.info-card {
  flex-direction: column;
  position: relative;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }

  @include s3-s6-max {
    justify-content: space-between;
    border-radius: 10px;
    overflow: auto;
    height: 90vh;
    width: 100%;
    // padding: 10px;
    // background-color: $color-white;
  }
  @include s1-s3 {
    height: auto;
  }
}

.flex-box {
  @include flex-box;
  justify-content: space-evenly;
  .flex-column {
    @include flex-box-column;
  }
}

.btn-2 {
  background-color: rgba(78, 42, 42, 0);
  border: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.fa-solid,
.fa-regular {
  font-size: 40px;
  color: $color-white;
  transition: transform 0.5s;
}

.card-mini-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-mini {
  @include flex-box-center;
  margin-bottom: 10px;
  background-color: $color-white;
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 20px;
  border: none;

  box-shadow: 3px 5px 10px $color-dark;
  transition: 1s;
  @include s3-s6-max {
    min-width: 350px;
    max-width: 46%;
    margin: 10px;
  }
  .card-mini-body {
    @include flex-box-center;
    z-index: 105;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, $color-white 20%, transparent 80%);
    .item-box {
      @include flex-box-center;
      color: $color-gray;
      border: none;
      background-color: transparent;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      text-shadow: 0px 0px 4px $color-white;
    }
  }
  .card-mini-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &.selected {
    transition: 1s;
    // color: $color-white;
    font-weight: 600;
    .card-mini-body {
      background-color: $color-accent;
      // background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, $color-accent 100%) !important;
      // .item-box {
      //   color: $color-white;
      // }
    }
  }
}

.addComun {
  background-color: $color-white;
  border-radius: 10px 10px 0 0;
  @include box-shadow;
}

.btn-group-comun {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}

.btn-delete {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  z-index: 20;
  border: none;
  margin: 5px;
  background-color: $color-white;

  .fa-solid {
    color: $color-dark;
    font-size: 20px;
  }
}
