<div class="container-box agree" id="agreement-container">

  <div class="close-box">
    <a class="btn-close" [routerLinkActive]="'active'" [routerLink]="'/user/uagree-review'"></a>
  </div>

  <div class="box m-2">
    <div class="title-group">
      <img class="logo" src="../../../assets/logo/Discussio (7).svg" alt="">
      <div class="title">Discussio угода. <br> Укладання угоди оренди житлового приміщення.</div>
    </div>
    <h5>Місце укладання та дата: <span class="accent">{{ selectedAgreement?.flat?.city }}, {{
        selectedAgreement?.flat?.agreementDate | date
        }}</span>
    </h5>
  </div>
  <div class="container-agree">

    <div class="wrapper-group">
      <div class="agree-wrapper p-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <p class="item-description-agree">Сторона орендодавця</p>
        <p class="item-agree"><span class="item-description-agree">П.І.Б: </span>{{
          selectedAgreement?.flat?.owner_lastName }} {{
          selectedAgreement?.flat?.owner_firstName }} {{ selectedAgreement?.flat?.owner_surName }}
        </p>
        <p class="item-agree"><span class="item-description-agree">User ID: </span> {{
          selectedAgreement?.flat?.owner_id }}</p>
        <p class="item-agree"><span class="item-description-agree">Телефон: </span> {{
          selectedAgreement?.flat?.owner_tell }}</p>
        <p class="item-agree"><span class="item-description-agree">Email: </span> {{
          selectedAgreement?.flat?.owner_email }}</p>
      </div>

      <div class="agree-wrapper p-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <p class="item-description-agree">Сторона орендара</p>
        <p class="item-agree"><span class="item-description-agree">П.І.Б:</span>{{
          selectedAgreement?.flat?.subscriber_lastName }}
          {{
          selectedAgreement?.flat?.subscriber_firstName }} {{selectedAgreement?.flat?.subscriber_surName }}
        </p>
        <p class="item-agree"><span class="item-description-agree">User ID:</span> {{
          selectedAgreement?.flat?.subscriber_id }}
        </p>
        <p class="item-agree"><span class="item-description-agree">Телефон:</span> {{
          selectedAgreement?.flat?.subscriber_tell }}
        </p>
        <p class="item-agree"><span class="item-description-agree">Email:</span> {{
          selectedAgreement?.flat?.subscriber_email }}
        </p>
        <p></p>
      </div>
    </div>

    <div>
      <p class="item-description-agree">Сторона орендодавця іменований надалі "Орендодавець", з одного боку,
        і Сторона орендара іменований надалі "Орендар", з іншого боку, уклали даний договір про наступне:</p>
    </div>

  </div>
  <div class="container-fluid">
    <ul>1. Предмет договору
      <li>1.1. Орендодавець представляє Орендареві й членам його родини в користування строком на <span class="accent">
          {{ selectedAgreement?.flat?.year }} (рік/років)</span>
        <span class="accent"> {{ selectedAgreement?.flat?.month }} (місяць/місяців) </span>
        квартиру загальною площею: <span class="accent">{{selectedAgreement?.flat?.area}} м² </span>
        за адресою: вулиця <span class="accent">{{ selectedAgreement?.flat?.street }}, будинок {{
          selectedAgreement?.flat?.houseNumber
          }},
          квартира {{ selectedAgreement?.flat?.apartment }}</span>,
        характеристика якої наведена в акті здачі квартири.
      </li>
      <li>1.2. За згодою сторін договором встановлюється плата за оренду квартири в розмірі
        <span class="accent">{{selectedAgreement?.flat?.price}}</span> гривень на місяць, до складу якої включені
        пропорційно
        орендованої площі платежі на повне відновлення будинку, витрати на обслуговування й
        ремонт будинку й квартири, витрати по оплаті комунальних і інших послуг.
      </li>
    </ul>

    <ul>2. Обов'язку сторін
      <li>
        2.1. Орендодавець зобов'язується:
      </li>
      <li>
        2.1.1. Надати в оренду належне йому на праві власності житло в придатному для
        проживання стані.
      </li>
      <li>
        2.1.2. Здійснювати утримання будинку й технічних обладнань квартири відповідно до
        вимог користування житловими приміщеннями, утримання житлового будинку і
        прибудинкової території в Україні.
      </li>
      <li>
        2.1.3. Забезпечувати надання комунальних і інших послуг.
      </li>
      <li>
        2.2. Орендар зобов'язується:
      </li>
      <li>
        2.2.1. Використати здану йому за договором оренди квартиру за призначенням.
      </li>
      <li>
        2.2.2. Дотримуватись вимог до користування житловими приміщеннями, утриманням
        житлового будинку й прибудинкової території в Україні.
      </li>
      <li>
        2.2.3. Вчасно повідомляти Орендодавцеві про виявлені несправності елементів квартири
        й будинку.
      </li>
      <li>
        2.2.4. Не пізніше <span class="accent">{{ selectedAgreement?.flat?.rent_due_data }} дня місяця</span>
        вносити плату за
        оренду.
        За несвоєчасне внесення платежів оплачувати пеню з розрахунку <span class="accent">відсоток пені за
          прострочення: {{ selectedAgreement?.flat?.penalty }}%</span> від
        несплаченої суми за кожний день прострочення, але не більше <span class="accent">максимальний відсоток пені:
          {{ selectedAgreement?.flat?.max_penalty }}%</span> суми заборгованості.
      </li>
      <li> 2.2.5. Допускати в денний час, а при аваріях і в нічний час, в орендовану квартиру
        працівників Орендодавця або самого Орендодавця, а також представників підприємств по
        обслуговуванню й ремонту житла для проведення огляду й ремонту конструкцій і
        технічних обладнань квартири.
      </li>
      <li> 2.2.6. Звільнити орендоване житлове приміщення після закінчення обумовленого в
        даному договорі строку оренди.
      </li>
    </ul>

    <ul> 3. Права сторін

      <li> 3.1. Орендодавець має право:
      </li>
      <li> 3.1.1. Вимагати від Орендаря дотримання вимог користування житловими приміщеннями,
        утримання житлового будинку й прибудинкової території.
      </li>
      <li> 3.1.2. Вимагати від Орендаря своєчасного внесення плати за оренду.
      </li>
      <li> 3.1.3. Вимагати від Орендаря звільнення житлового приміщення після закінчення строку
        договору оренди.
      </li>
      <li> 3.1.4. Продати Орендареві займану ним квартиру.
      </li>
      <li> 3.2. Орендар має право:
      </li>
      <li> 3.2.1. Вселити в орендоване житлове приміщення незалежно від згоди Орендодавця своїх
        неповнолітніх дітей, дружину (чоловіка) і непрацездатних батьків.
      </li>
      <li> 3.2.2. Вимагати від Орендодавця своєчасного і якісного виконання комплексу робіт із
        утримання житлового будинку, квартири й прибудинкової території, а також надання
        комунальних і інших послуг, передбачених договором оренди.
      </li>
      <li> 3.2.3. Викупити в Орендодавця з його згоди орендоване приміщення, уклавши договір
        купівлі-продажу.
      </li>
      <li> 3.2.4. Вимагати обґрунтування збільшення плати за оренду після укладання договору
        оренди.
      </li>
      <li> 3.2.5. Вимагати перерахунку плати за оренду при невиконанні Орендодавцем обов'язків,
        передбачених у п. п. 2.1.2.
      </li>
    </ul>

    <ul> 4. Відповідальність сторін
      <li> 4.1. Відповідальність Орендодавця:
      </li>
      <li> 4.1.1. Орендодавець відшкодовує Орендареві матеріальний збиток, заподіяний у
        результаті невиконання обов'язків, передбачених у п. п. 2.1.2 даного договору, у
        встановленому законом порядку.
      </li>
      <li> 4.2. Відповідальність Орендаря:
      </li>
      <li> 4.2.1. Орендар відшкодовує Орендодавцеві матеріальний збиток, заподіяний у результаті
        невиконання обов'язків, передбачених у п. п. 2.2.1 і п. п. 2.2.2 даного договору, у
        встановленому законом порядку.
      </li>
    </ul>

    <ul> 5. Заключні умови

      <li> 5.1. Даний договір може бути розірваний із ініціативи кожної зі сторони при наявності
        умов і в порядку, передбаченому житловим законодавством.
      </li>
      <li> 5.2. Виниклі при виконанні даного договору спори між сторонами вирішуються у
        встановленому законом порядку.
      </li>
      <li> 5.3. Даний договір складений в 2-х екземплярах, один із яких перебуває в Орендодавця,
        іншої - в Орендаря.
      </li>
      <li> 5.4. Невід'ємною частиною даного договору є акт здачі квартири Орендареві.
      </li>
      <li> 5.5. Договір набуває чинності з моменту його підписання.
      </li>
    </ul>

    <ul>6. Додаткові умови від власника.
    </ul>
    <div class="container-fluid">
      <span class="accent about">{{ selectedAgreement?.flat?.about }}</span>
    </div>

  </div>
  <div class="container-fluid">
    <fieldset class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="m-2">
        <div class="field-title">Орендодавець:</div>
        <div class="field">
          <div class="input-box">
            <p>Паспорт №</p>
          </div>
        </div>

        <div class="field">
          <div class="input-box">
            <p>Серія</p>
          </div>
        </div>

        <div class="field">
          <div class="input-box">
            <p>Виданий</p>
          </div>
        </div>

        <div class="field">
          <div class="input-box">
            <p>Адреса:</p>
          </div>
        </div>

        <div class="field">
          <div class="input-box-signature">
            <div class="signature-box">
              <div class="text"> {{selectedAgreement?.flat?.owner_lastName}}
                {{selectedAgreement?.flat?.owner_firstName}} {{selectedAgreement?.flat?.owner_surName}}</div>
            </div>
            <div class="signature">підпис</div>
          </div>
        </div>

      </div>

    </fieldset>

    <fieldset class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="m-2">
        <div class="field-title">Орендар:</div>

        <div class="field">
          <div class="input-box">
            <p>Паспорт №</p>
          </div>
        </div>

        <div class="field">
          <div class="input-box">
            <p>Серія</p>
          </div>

          <div class="field">
            <div class="input-box">
              <p>Виданий</p>
            </div>
          </div>

          <div class="field">
            <div class="input-box">
              <p>Адреса:</p>
            </div>
          </div>

        </div>

        <div class="field">
          <div class="input-box-signature">
            <div class="signature-box">
              <div class="text"> {{selectedAgreement?.flat?.subscriber_lastName}}
                {{selectedAgreement?.flat?.subscriber_firstName}} {{selectedAgreement?.flat?.subscriber_surName}}
              </div>
            </div>
            <div class="signature">підпис</div>
          </div>
        </div>

      </div>

    </fieldset>
  </div>

  <div class="agree-field m-3 p-3">
    <div class="content">
      <div class="mr-3">Із вимогами угоди оренди ознайомлений.</div>
      <label class="checkBox">
        <input type="checkbox" [(ngModel)]="isCheckboxChecked">
        <div class="transition"></div>
      </label>
      <i></i>
    </div>

    <div class="btn-group mt-2">
      <button class="btn m-2" type="submit" [disabled]="!isCheckboxChecked"
        (click)="agreeAgreement(selectedAgreement)">Підтвердити угоду</button>
      <button class="btn m-2" matTooltip="Видалити угоду" (click)="openDialog(this.selectedAgreement)">Відхилити угоду
      </button>
    </div>
  </div>

</div>

<div *ngIf="statusMessage" class="status-message">
  <div>
    <img src="../../../../assets/logo/Discussio (7).svg" alt="Logo">
  </div>
  {{ statusMessage }}
</div>
