<div [@cardAnimation] class="card-box">

  <div class="card m-2 p-2">
    <div class="card-name">
      <h4>Реквізити компанії:</h4>
    </div>

    <form class="form-box">
      <div class="inputbox">
        <input type="number" name="IBAN" required>
        <span>Назва компанії:</span>
        <i class="orange"></i>
      </div>
      <div class="inputbox">
        <input type="number" name="IBAN" required>
        <span>Адреса компанії:</span>
        <i class="orange"></i>
      </div>
      <div class="inputbox">
        <input type="number" name="IBAN" required>
        <span>Сайт компанії:</span>
        <i class="orange"></i>
      </div>
      <div class="inputbox">
        <input type="number" name="IBAN" required>
        <span>Телефон компанії:</span>
        <i class="orange"></i>
      </div>
      <div class="inputbox">
        <input type="number" name="IBAN" required>
        <span>IBAN:</span>
        <i class="orange"></i>
      </div>
      <div class="inputbox">
        <input type="number" name="ЄДРПОУ" required>
        <span>ЄДРПОУ:</span>
        <i class="orange"></i>
      </div>
    </form>

    <!-- Кнопки -->
    <div class="btn-group">
      <button class="btn mt-3"><span class="btn-text">ЗБЕРЕГТИ</span></button>
      <button type="reset" class="btn mt-3 ml-3"><span class="btn-text">СКИНУТИ</span></button>
    </div>

  </div>
</div>


<!-- <div class="container-fluid">
  <div class="container-fluid col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card m-2">
      <div class="card-body">
        <div class="characteristics">
          <h4>Реквізити компанії:</h4>
          <div class="characteristics-group">
            <div class="item-characteristics">Назва компанії: ТОВ "КИЇВСЬКА ОБЛАСНА ЕК</div>
            <div class="item-characteristics">Сайт: www.koec.com.ua</div>
            <div class="item-characteristics">IBAN: UA183226690000026035314586158</div>
            <div class="item-characteristics">ЄДРПОУ: 42094646</div>
            <div class="item-characteristics">РАХУНОК ЗА: Період за який оплата</div>
            <div class="item-characteristics">ОСОБИСТИЙ РАХУНОК: 000400388113</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card m-2">
      <div class="card-body">
        <div class="characteristics">
          <h4>Реквізити компанії:</h4>
          <div class="characteristics-group">
            <div class="item-characteristics">Назва компанії: ТОВ "КИЇВСЬКА ОБЛАСНА ЕК</div>
            <div class="item-characteristics">Сайт: www.koec.com.ua</div>
            <div class="item-characteristics">IBAN: UA183226690000026035314586158</div>
            <div class="item-characteristics">ЄДРПОУ: 42094646</div>
            <div class="item-characteristics">РАХУНОК ЗА: Період за який оплата</div>
            <div class="item-characteristics">ОСОБИСТИЙ РАХУНОК: 000400388113</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card m-2">
      <div class="card-body">
        <h3 class="card-title">Електроенергія</h3>
        <h4 class="card-title">Вибір постачальника</h4>
      </div>
    </div>
  </div>
</div> -->
