@use "../../../../style/presets/" as *;

.container-card {
  width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.card-box {
  display: flex;
  align-items: stretch;
}
.card-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  width: 100%;
  align-items: center;
  max-height: 60vh;
  overflow-y: auto;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 150px;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;

  &:hover,
  :focus {
    transform: scale(1.05);
    background-color: $color-dark;
    color: $color-white;
    font-weight: 600;

    & h4 {
      font-weight: 600;
      color: $color-white;
    }
  }
}
.card {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-img-container {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover,
  :focus {
    width: 70%;
  }
}
.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.name {
  position: absolute;
  right: 0;
  padding-right: 20px;
}
.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
