@use "../../chat.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../send.scss";

.btn {
  @include flex-box-center;
  .fa-solid {
    color: $color-gray;
  }
}

.border-date {
  border-top: 1px solid $color-gray;
}

.name-user {
  top: 0;
  left: 0px;
}

.pr-2 {
  padding-right: 15px;
}

.message-content-user {
  background-color: $color-dark;
  border-radius: 20px 20px 20px 0px;
}

.message-content-owner {
  justify-content: flex-end;
  background-color: $color-dark;
  border-radius: 20px 20px 0px 20px;
}

.unread {
  background-color: $color-accent;
  transform: 1s;
}
