@use "../../../style/presets/" as *;

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.card {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border: none;
}

.container-slider {
  max-width: fit-content;
}

.item-wrapper,
.content-description {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: transform 1s;
    transform: scale(1.2);

    span {
      transition: transform 1s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular,
    .fa-brands {
      color: $color-accent;
      transform: translate(10px) scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.fab {
  font-size: 20px;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.carousel-inner {
  border-radius: 10px;
}

.item-price {
  font-size: 30px;
}

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.btn {
  color: $color-text;
  background-color: $color-white;
  padding: 10px 20px;
  margin: 5px;
  &:hover {
    background-color: $color-accent;
    color: $color-white;
  }
}

a.link {
  position: relative;
}

a {
  padding: 10px;
  margin: 10px;
}

.notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.notifications .badge {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  content: "";
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-flip {
  position: relative;
}

.card-flip-front,
.card-flip-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.card-flip-front {
  transform: rotateY(0deg);
}

.card-flip-back {
  transform: rotateY(180deg);
}

.card-flip-owner {
  background-color: #f2f2f2;
}

.card-flip-property {
  background-color: #d9d9d9;
}

.card-flip .card-flip-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.card-flip h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-flip p {
  margin: 0;
}

.card-flip button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-flip.flipped .card-flip-front {
  transform: rotateY(-180deg);
}

.card-flip.flipped .card-flip-back {
  transform: rotateY(0deg);
}


.rating-box, .description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.rating-box h1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}

.rating-box p {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.rating-box .stars{
  display: flex;
  align-items: center;
  gap: 15px;
}

.rating-box .stars i{
  color: grey;
  font-size: 30px;
  cursor: pointer;
  transition: color .2s ease;
}

.rating-box .stars i.active{
  color: gold;
}


