<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div [@top1] class="card-wrapper">
    <div class="card-content-static w-100 p-2">

      <div class="switch-content">
        <div class="t-lar gray t-c">
          <div>Послуга</div>
          <div class="accent t-lar-x">{{selectedComun}}</div>
        </div>
        <div class="switch-box flex-box w-100">

          <div class="switch-btn-group">
            <button class="btn" (click)="indexPage = 1" [ngClass]="{ 'active': indexPage === 1}">
              <i class="fa-solid fa-cash-register"></i>
              <div class="t-min dark bold">Нараховано</div>
            </button>
          </div>

          <div class="switch-btn-group">
            <button class="btn" (click)="indexPage = 2" [ngClass]="{ 'active': indexPage === 2}">
              <i class="fa-solid fa-cookie-bite"></i>
              <div class="t-min dark bold">Спожити</div>
            </button>
          </div>

          <div class="switch-btn-group">
            <button class="btn" (click)="indexPage = 0" [ngClass]="{ 'active': indexPage === 0}">
              <i class="fa-solid fa-check-to-slot"></i>
              <div class="t-min dark bold">Сплачено</div>
            </button>
          </div>

          <mat-slide-toggle (click)="toggleOptionStat();" color="black">Графік </mat-slide-toggle>

          <!-- <div class="switch-btn-group">
            <button class="btn" (click)="option_stat = 1" [ngClass]="{ 'active': option_stat === 1}">
              <i class="fa-solid fa-chart-column"></i>
              <div class="t-min dark bold">Графік</div>
            </button>
          </div>

          <div class="switch-btn-group">
            <button class="btn" (click)="option_stat = 0" [ngClass]="{ 'active': option_stat === 0}">
              <i class="fa-solid fa-grip"></i>
              <div class="t-min dark bold">Підрахунки</div>
            </button>
          </div> -->

        </div>
      </div>

      <div class="card-box p-2">

        <div class="monthChange w-100 mb-2 mt-2">
          <button class="btn-2 center" (click)="prevYear()">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <div class="bold accent t-lar-xx">{{ selectedYear }} рік</div>
          <button class="btn-2 center" (click)="nextYear()">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>

        <mat-label class="t-lar gray t-c">Сезонні підрахунки <br>
          <span *ngIf="indexPage === 0" class="accent t-lar-xx">Сплачено грн:</span>
          <span *ngIf="indexPage === 1" class="accent t-lar-xx">Нараховано грн:</span>
          <span *ngIf="indexPage === 2" class="accent t-lar-xx">Спожито <span class="unit">{{ selectedUnit
              }}</span></span>
        </mat-label>

        <div class="box" *ngIf="!option_stat">

          <div class="flex-box" *ngIf="indexPage === 0">

            <div class="statBox mb-2">
              <div class="statNum accent">{{totalYearStats?.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Сплачено загалом:</mat-label>
            </div>

            <div class="statBox mb-2">
              <div class="statNum accent">{{totalYearStats?.monthAveragePaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Середнє по місяцю:</mat-label>
            </div>

            <div class="statBox winter mb-2">
              <div class="statNum ">{{winter?.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Сплачено Зима:</mat-label>
            </div>

            <div class="statBox spring mb-2">
              <div class="statNum ">{{spring?.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Сплачено Весна:</mat-label>
            </div>

            <div class="statBox summer ">
              <div class="statNum ">{{summer?.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Сплачено Літо:</mat-label>
            </div>

            <div class="statBox autumn ">
              <div class="statNum ">{{autumn?.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Сплачено Осінь:</mat-label>
            </div>

          </div>

          <div class="flex-box" *ngIf="indexPage === 1">

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats?.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Нараховано загалом:</mat-label>
            </div>

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats?.monthAverageNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Середнє по місяцю:</mat-label>
            </div>

            <div class="statBox winter">
              <div class="statNum ">{{winter?.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Нараховано Зима:</mat-label>
            </div>

            <div class="statBox spring">
              <div class="statNum ">{{spring?.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Нараховано Весна:</mat-label>
            </div>

            <div class="statBox summer">
              <div class="statNum ">{{summer?.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Нараховано Літо:</mat-label>
            </div>

            <div class="statBox autumn">
              <div class="statNum ">{{autumn?.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="t-min ">Нараховано Осінь:</mat-label>
            </div>

          </div>

          <div class="flex-box" *ngIf="indexPage === 2">

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats?.totalConsumption}} <span class="unit">{{ selectedUnit
                  }}</span></div>
              <mat-label class="t-min ">Спожито загалом:</mat-label>
            </div>

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats?.monthAverageConsumption}} <span class="unit">{{ selectedUnit
                  }}</span></div>
              <mat-label class="t-min ">Середнє по місяцю:</mat-label>
            </div>

            <div class="statBox winter">
              <div class="statNum ">{{winter?.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="t-min ">Спожито Зима:</mat-label>
            </div>

            <div class="statBox spring">
              <div class="statNum ">{{spring?.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="t-min ">Спожито Весна:</mat-label>
            </div>

            <div class="statBox summer">
              <div class="statNum ">{{summer?.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="t-min ">Спожито Літо:</mat-label>
            </div>

            <div class="statBox autumn">
              <div class="statNum ">{{autumn?.totalConsumption}} <span class="unit"><span class="unit">{{ selectedUnit
                    }}</span></span></div>
              <mat-label class="t-min ">Спожито Осінь:</mat-label>
            </div>

          </div>

        </div>

        <div class="box" *ngIf="option_stat">

          <div class="progress-container" *ngIf="indexPage === 0">
            <div [@columnAnimation] *ngFor="let season of seasonPayments" class="progress" role="progressbar"
              [ngStyle]="{ 'height': (season.payment / maxPaymentsValue) * 100 + '%' }">
              <div class="progress-bar" [ngStyle]="{ 'height': (season.payment / maxPaymentsValue) * 100 + '%' }">
                {{ season.payment }}
              </div>
              <div class="month-label">{{ season.season }}</div>
            </div>
          </div>

          <div class="progress-container" *ngIf="indexPage === 1">
            <div [@columnAnimation] *ngFor="let season of seasonNeedPay" class="progress" role="progressbar"
              [ngStyle]="{ 'height': (season.needPay / maxNeedPayValue) * 100 + '%' }">
              <div class="progress-bar" [ngStyle]="{ 'height': (season.needPay / maxNeedPayValue) * 100 + '%' }">
                {{ season.needPay }}
              </div>
              <div class="month-label">{{ season.season }}</div>
            </div>
          </div>

          <div class="progress-container" *ngIf="indexPage === 2">
            <div [@columnAnimation] *ngFor="let season of seasonConsumptions" class="progress" role="progressbar"
              [ngStyle]="{ 'height': (season.consumptions / maxConsumptionsValue) * 100 + '%' }">
              <div class="progress-bar"
                [ngStyle]="{ 'height': (season.consumptions / maxConsumptionsValue) * 100 + '%' }">
                {{ season.consumptions }}
              </div>
              <div class="month-label">{{ season.season }}</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</ng-template>