<div class="menu">

  <a [routerLinkActive]="'active'" [routerLink]="'/house/info'"
    [@cardAnimation]="{value: '', params: { delay: animationDelay(0) }}" class="wrapper-img mb-2" *ngIf="houseData">
    <img class="img-fluid"
      [src]="imgFlat ? (serverPath + pathPhotoFlat + imgFlat) : './../../../../assets/housing_default.svg'"
      alt="img mini house">
    <div class="userName pl-2" *ngIf="houseData">
      <p class="t-lar bold">{{houseData.flat.flat_name}}</p>
      <p class="t-min">{{houseData.flat.region }} ID : {{houseData.flat.flat_id}}</p>
    </div>
  </a>

  <div *ngIf="isMobile" [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="menu_title">
    Меню Оселі<i class="fa-regular fa-compass pl-2"></i>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/info'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-user"></i>
        <div class="item-description pl-2">
          <p class="t-med">Дії аккаунту</p>
          <p class="t-min">Інфо оселі</p>
        </div>
      </a>
      <button *ngIf="!section[1]" [@appearance] [ngClass]="{'active': section[1]}" class="link-btn"
        (click)="setSection(1)">
        <i [ngClass]="section[1] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[1]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/info'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-id-badge"></i>
        <div class="item-description pl-2">
          <p class="t-med">Профіль</p>
          <p class="t-min">Оселі</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/control/add'" *ngIf="!houseData"
        (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div class="item-description pl-2">
          <p class="t-med">Вхід</p>
          <p class="t-min">Увійти в профіль</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-gears"></i>
        <div class="item-description pl-2">
          <p class="t-med">Редагувати</p>
          <p class="t-min">Оселю</p>
        </div>
      </a>

      <button *ngIf="houseData" [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}"
        class="link-item subcategory" (click)="logoutHouse()">
        <i class="fa-solid fa-door-open"></i>
        <div class="item-description pl-2">
          <p class="t-med">Вийти</p>
          <p class="t-min">З оселі</p>
        </div>
      </button>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/control'" (click)="closeToogleMenu(3)">
        <i class="fa-solid fa-timeline"></i>
        <div class="item-description pl-2">
          <p class="t-med">Керування</p>
          <p class="t-min">Оселями</p>
        </div>
      </a>
      <button *ngIf="!section[3]" [@appearance] [ngClass]="{'active': section[3]}" class="link-btn"
        (click)="setSection(3)">
        <i [ngClass]="section[3] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[3]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/control/about'" (click)="closeToogleMenu(8)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це?</p>
          <p class="t-min">Профіль оселі</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/control/add'" (click)="closeToogleMenu(3)">
        <i class="fa-solid fa-house-chimney-medical"></i>
        <div class="item-description pl-2">
          <p class="t-med">Створити | Обрати</p>
          <p class="t-min">Видалити оселю</p>
        </div>
      </a>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/discus'" (click)="closeToogleMenu(2)">

        <i class="fa-solid fa-signs-post"></i>

        <div class="item-description pl-2">
          <p class="t-med">Підписки</p>
          <p class="t-min">Та Дискусії</p>
        </div>

        <div *ngIf="!section[4]">
          <i *ngIf="counterHouseSubscriptions !== 0" class="fa-solid fa-people-pulling custom-badge"
            matBadge="{{counterHouseSubscriptions}}"></i>
          <i *ngIf="counterHouseSubscribers !== 0" class="fa-solid fa-child-reaching custom-badge pl-2"
            matBadge="{{counterHouseSubscribers}}"></i>
          <i *ngIf="counterHouseDiscussio !== 0" class="fa-solid fa-person-walking-luggage custom-badge pl-1"
            matBadge="{{counterHouseDiscussio}}"></i>
        </div>

      </a>
      <button *ngIf="!section[4]" [@appearance] [ngClass]="{'active': section[4]}" class="link-btn"
        (click)="setSection(4)">
        <i [ngClass]="section[4] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[4]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/discus/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про систему</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/discus/subscriptions'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-people-pulling custom-badge" matBadge="{{counterHouseSubscriptions}}"></i>
        <div class="item-description pl-2">
          <p class="t-med">Підписки</p>
          <p class="t-min">Мої підписки</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/discus/subscribers'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-child-reaching custom-badge" matBadge="{{counterHouseSubscribers}}"></i>
        <div class="item-description pl-2">
          <p class="t-med">Підписники</p>
          <p class="t-min">Вбодобали оселю</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/discus/discussion'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-person-walking-luggage custom-badge" matBadge="{{counterHouseDiscussio}}"></i>
        <div class="item-description pl-2">
          <p class="t-med">Дискусії</p>
          <p class="t-min">Дискусії оселі</p>
        </div>
      </a>
    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/agree'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-envelope-open-text"></i>
        <div class="item-description pl-2">
          <p class="t-med">Угоди</p>
          <p class="t-min">Оселі</p>
        </div>
      </a>
      <button *ngIf="!section[2]" [@appearance] [ngClass]="{'active': section[2]}" class="link-btn"
        (click)="setSection(2)">
        <i [ngClass]="section[2] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[2]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/agree/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про функцію</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/agree/step'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-shoe-prints"></i>
        <div class="item-description pl-2">
          <p class="t-med">Як створити?</p>
          <p class="t-min">Пояснення</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/agree/create'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-feather-pointed"></i>
        <div class="item-description pl-2">
          <p class="t-med">Створити</p>
          <p class="t-min">Угоду</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/agree/review'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-hourglass-half"></i>
        <div class="item-description pl-2">
          <p class="t-med">Запропоновані</p>
          <p class="t-min">Угоди</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/agree/concluded'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-file-circle-check"></i>
        <div class="item-description pl-2">
          <p class="t-med">Ухвалені </p>
          <p class="t-min">Угоди</p>
        </div>
      </a>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/chat'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-message custom-badge" matBadge="{{counterHouseNewMessage}}"
          [matBadgeHidden]="counterHouseNewMessage === 0"></i>
        <div class="item-description pl-2">
          <p class="t-med">Повідомлення</p>
          <p class="t-min">Чати оселі</p>
        </div>
      </a>
      <!-- <button *ngIf="!section[5]" [@appearance] [ngClass]="{'active': section[5]}" class="link-btn"
        (click)="setSection(5)">
        <i [ngClass]="section[5] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button> -->
    </div>
    <!-- <div class="subcategory-container" *ngIf="section[5]">
    </div> -->
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/search/tenant'" (click)="closeToogleMenu(7)">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="item-description pl-2">
          <p class="t-med">Пошук</p>
          <p class="t-min">Орендаря</p>
        </div>
      </a>
      <button *ngIf="!section[7]" [@appearance] [ngClass]="{'active': section[7]}" class="link-btn"
        (click)="setSection(7)">
        <i [ngClass]="section[7] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>

    <div class="subcategory-container" *ngIf="section[7]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/search/tenant'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-child-reaching"></i>
        <div class="item-description pl-2">
          <p class="t-med">Пошук</p>
          <p class="t-min">Орендаря</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/search/neighbor'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-restroom"></i>
        <div class="item-description pl-2">
          <p class="t-med">Пошук</p>
          <p class="t-min">Сусіда</p>
        </div>
      </a>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/objects'" (click)="closeToogleMenu(8)">
        <i class="fa-solid fa-boxes-packing"></i>
        <div class="item-description pl-2">
          <p class="t-med">Наповнення</p>
          <p class="t-min">Предмети оселі</p>
        </div>
      </a>
      <button *ngIf="!section[8]" [@appearance] [ngClass]="{'active': section[8]}" class="link-btn"
        (click)="setSection(8)">
        <i [ngClass]="section[8] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[8]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/objects/about'" (click)="closeToogleMenu(8)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про функцію</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/objects/add'" (click)="closeToogleMenu(8)">
        <i class="fa-solid fa-boxes-stacked"></i>
        <div class="item-description pl-2">
          <p class="t-med">Додати</p>
          <p class="t-min">Наповнення</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/objects/control'" (click)="closeToogleMenu(8)">
        <i class="fa-solid fa-dolly"></i>
        <div class="item-description pl-2">
          <p class="t-med">Керування</p>
          <p class="t-min">Наповненням</p>
        </div>
      </a>


    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-gears"></i>
        <div class="item-description pl-2">
          <p class="t-med">Редагування</p>
          <p class="t-min">Всі налаштування</p>
        </div>
      </a>
      <button *ngIf="!section[6]" [@appearance] [ngClass]="{'active': section[6]}" class="link-btn"
        (click)="setSection(6)">
        <i [ngClass]="section[6] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>

    <div class="subcategory-container" *ngIf="section[6]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit/address'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-location-dot"></i>
        <div class="item-description pl-2">
          <p class="t-med">Розташування</p>
          <p class="t-min">Локація оселі</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit/param'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-trowel-bricks"></i>
        <div class="item-description pl-2">
          <p class="t-med">Параметри</p>
          <p class="t-min">Характеристики</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit/about'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-users-gear"></i>
        <div class="item-description pl-2">
          <p class="t-med">Особливості</p>
          <p class="t-min">Про оселю</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit/photo'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-images"></i>
        <div class="item-description pl-2">
          <p class="t-med">Фото</p>
          <p class="t-min">Додати фото</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/edit/additionally'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-address-book"></i>
        <div class="item-description pl-2">
          <p class="t-med">Додаткова</p>
          <p class="t-min">Для мешканців</p>
        </div>
      </a>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/communal'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-chart-pie"></i>
        <div class="item-description pl-2">
          <p class="t-med">Статистика</p>
          <p class="t-min">Комунальні</p>
        </div>
      </a>
      <button *ngIf="!section[10]" [@appearance] [ngClass]="{'active': section[10]}" class="link-btn"
        (click)="setSection(10)">
        <i [ngClass]="section[10] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[10]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/communal/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про функцію</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/communal/add'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-sliders"></i>
        <div class="item-description pl-2">
          <p class="t-med">Керування</p>
          <p class="t-min">Статистикою</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/communal/stat-month'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-calendar-day"></i>
        <div class="item-description pl-2">
          <p class="t-med">Місяць</p>
          <p class="t-min">Звіт</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/communal/stat-year'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-chart-pie"></i>
        <div class="item-description pl-2">
          <p class="t-med">Рік</p>
          <p class="t-min">Звіт</p>
        </div>
      </a>


    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/house/residents'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-people-roof"></i>
        <div class="item-description pl-2">
          <p class="t-med">Мешканці</p>
          <p class="t-min">Доступ, відгуки</p>
        </div>
      </a>
      <button *ngIf="!section[9]" [@appearance] [ngClass]="{'active': section[9]}" class="link-btn"
        (click)="setSection(9)">
        <i [ngClass]="section[9] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[9]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/residents/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про функцію</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/residents/resident'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-person-shelter"></i>
        <div class="item-description pl-2">
          <p class="t-med">Мешканці</p>
          <p class="t-min">Список</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/residents/add'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-user-plus"></i>
        <div class="item-description pl-2">
          <p class="t-med">Додати</p>
          <p class="t-min">Мешканця</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/house/residents/owner'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-id-card-clip"></i>
        <div class="item-description pl-2">
          <p class="t-med">Власник</p>
          <p class="t-min">Інформація Контакти</p>
        </div>
      </a>


    </div>
  </div>





</div>
