<div class="menu">

  <ng-container *ngIf="isMobile">

    <div class="d-flex jc-sb w-100">
      <p class="t-lar-xx t-s w-100">Оселя</p>
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item jc-fe"
        [routerLinkActive]="'active'" [routerLink]="'/search/tenant'" (click)="closeToogleMenu()">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="item-description">
          <p class="t-min">Пошук</p>
          <p class="t-med bold text-uppercase">Орендаря</p>
        </div>
      </a>
    </div>

    <div class="category-container" *ngIf="houseData">
      <div class="category">
        <a class="link-item" (click)="closeToogleMenu()" [routerLink]="'/house/info'">
          <picture class="pr-2">
            <img *ngIf="imgFlat" [ngSrc]="imgFlat" alt="img mini house" class="img-fluid" [routerLink]="'/house/info'"
              width="50" height="50" priority>
            <img *ngIf="!imgFlat" [src]="'./../../../../assets/housing_default.svg'" alt="img mini house"
              class="img-fluid" [routerLink]="'/house/info'" width="50" height="50">
          </picture>
          <div class="item-description" *ngIf="!houseData" [routerLink]="'/user/info'">
            <p class="t-lar bold">Оселя</p>
            <p class="t-min">Увійдіть в оселю</p>
          </div>

          <div class="item-description custom-badge" matBadge="a"
            [matBadgeHidden]="houseData && houseData.about.rent !== 1" *ngIf="houseData">
            <p class="t-med bold">{{houseData.flat.flat_name}}</p>
            <p class="t-min">{{houseData.flat.region }} ID : {{houseData.flat.flat_id}}</p>
          </div>
        </a>

        <a class="message" [routerLinkActive]="'active'" [routerLink]="'/house/edit'" (click)="closeToogleMenu()">
          <i class="fa-solid fa-gears"></i>
        </a>

      </div>
      <div class="subcategory-container">

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/chat'" (click)="closeToogleMenu()">
          <i class="fa-solid fa-message custom-badge" matBadge="{{counterHouseNewMessage}}"
            [matBadgeHidden]="counterHouseNewMessage === 0"></i>
          <div class="item-description">
            <p class="t-min">Повід.</p>
            <span class="bage"></span>
          </div>
        </a>

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/discus/subscribers'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-child-reaching custom-badge" matBadge="{{counterHouseSubscribers}}"></i>
          <div class="item-description">
            <p class="t-min">Підписники</p>
          </div>
        </a>

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/discus/subscriptions'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-people-pulling custom-badge" matBadge="{{counterHouseSubscriptions}}"></i>
          <div class="item-description">
            <p class="t-min">Підписки</p>
          </div>
        </a>

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/discus/discussion'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-person-walking-luggage custom-badge" matBadge="{{counterHouseDiscussio}}"></i>
          <div class="item-description">
            <p class="t-min">Дискусії</p>
          </div>
        </a>

         </div>
    </div>

    <div class="category-container">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/control/add'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-timeline"></i>
          <div class="item-description">
            <p class="t-med bold">Керування</p>
            <p class="t-min">Оселею</p>
          </div>
        </a>
        <a *ngIf="!houseData" class="message" [routerLinkActive]="'active'" [routerLink]="'/house/control/add'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        <button *ngIf="houseData" class="message" [routerLinkActive]="'active'" [routerLink]="'/house/control/add'"
          (click)="logoutHouse()">
          <i class="fa-solid fa-door-open"></i>
        </button>
      </div>

      <div class="subcategory-container">

        <button (click)="activateHouseProfile()" class="subcategory" *ngIf="houseData && houseData.about.rent === 0">
          <i class="fa-solid fa-toggle-on"></i>
          <div class="item-description">
            <p class="t-min">Активув.</p>
          </div>
        </button>

        <button (click)="deactivateHouseProfile()" class="subcategory" *ngIf="houseData && houseData.about.rent === 1">
          <i class="fa-solid fa-power-off"></i>
          <div class="item-description">
            <p class="t-min">Деактиву.</p>
          </div>
        </button>

        <a *ngIf="houseData" class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/objects/about'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-boxes-packing"></i>

          <div class="item-description">
            <p class="t-min">Наповнення</p>
            <span class="bage"></span>
          </div>
        </a>

        <a *ngIf="houseData" class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/communal/about'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-chart-pie"></i>
          <div class="item-description">
            <p class="t-min">Статистика</p>
          </div>
        </a>

        <a *ngIf="houseData" class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/residents/about'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-people-roof"></i>
          <div class="item-description">
            <p class="t-min">Мешканці</p>
          </div>
        </a>

      </div>
    </div>

    <div class="category-container" *ngIf="houseData">

      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/agree'" (click)="closeToogleMenu()">
          <i class="fa-solid fa-envelope-open-text"></i>
          <div class="item-description">
            <p class="t-med bold">Угоди</p>
          </div>
        </a>
        <a class="message" [routerLinkActive]="'active'" [routerLink]="'/house/agree/create'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-feather-pointed"></i>
        </a>
      </div>

      <div class="subcategory-container" *ngIf="section[2]">
        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/agree/about'"
          (click)="closeToogleMenu()">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/agree/create'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-feather-pointed"></i>
          <div class="item-description">
            <p class="t-min">Створити</p>
          </div>
        </a>

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/agree/review'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-hourglass-half"></i>
          <div class="item-description">
            <p class="t-min">Запроп.</p>
          </div>
        </a>

        <a class="subcategory" [routerLinkActive]="'active'" [routerLink]="'/house/agree/concluded'"
          (click)="closeToogleMenu()">
          <i class="fa-solid fa-file-circle-check"></i>
          <div class="item-description">
            <p class="t-min">Ухвалені</p>
          </div>
        </a>

      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="!isMobile">

    <div [routerLinkActive]="'active'" [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}"
      class="wrapper-img mb-2">

      <picture>
        <img *ngIf="imgFlat" [ngSrc]="imgFlat" alt="img mini house" class="img-fluid" [routerLink]="'/house/info'"
          width="50" height="50" priority>
        <img *ngIf="!imgFlat" [src]="'./../../../../assets/housing_default.svg'" alt="img mini house" class="img-fluid"
          [routerLink]="'/house/info'" width="50" height="50">
      </picture>

      <a class="userName pl-2" *ngIf="!houseData" [routerLink]="'/house/info'">
        <p class="t-lar bold">Меню Оселі</p>
        <p class="t-min">House Name House ID</p>
      </a>

      <a class="userName pl-2" *ngIf="houseData" [routerLink]="'/house/info'">
        <p class="t-lar bold">{{houseData.flat.flat_name}}</p>
        <p class="t-min">{{houseData.flat.region }} ID : {{houseData.flat.flat_id}}</p>
      </a>
      <a *ngIf="houseData" [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="message"
        [routerLinkActive]="'active'" [routerLink]="'/house/chat'">
        <i class="fa-solid fa-message custom-badge" matBadge="{{counterHouseNewMessage}}"
          [matBadgeHidden]="counterHouseNewMessage === 0"></i>
      </a>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/info'">
          <i class="fa-solid fa-house-user custom-badge"></i>
          <div class="item-description">
            <p class="t-med bold">Профіль</p>
            <p class="t-min">Оселі</p>
          </div>
          <i *ngIf="authorization && houseData" class="fa-solid fa-toggle-on custom-badge pl-1" matBadge="a"
            [matBadgeHidden]="houseData && houseData.about.rent !== 1">
          </i>
        </a>
        <button [@appearance] [ngClass]="{'active': section[1]}" class="link-btn" (click)="setSectionFromBtn(1)">
          <i [ngClass]="section[1] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[1]">
        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/info'">
          <i class="fa-solid fa-id-badge"></i>
          <div class="item-description">
            <p class="t-min">Профіль</p>
            <p class="t-min">Оселі</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/control/add'" *ngIf="!houseData">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <div class="item-description">
            <p class="t-min">Вхід</p>
            <p class="t-min">В профіль</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/edit'">
          <i class="fa-solid fa-gears"></i>
          <div class="item-description">
            <p class="t-min">Редагув.</p>
            <p class="t-min">Оселю</p>
          </div>
        </a>

        <button [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          (click)="logoutHouse()">
          <i class="fa-solid fa-door-open"></i>
          <div class="item-description">
            <p class="t-min">Вийти</p>
            <p class="t-min">З оселі</p>
          </div>
        </button>

        <button (click)="activateHouseProfile()" [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}"
          class="subcategory" *ngIf="houseData && houseData.about.rent === 0">
          <i class="fa-solid fa-toggle-on"></i>
          <div class="item-description">
            <p class="t-min">Активув.</p>
            <p class="t-min">Профіль</p>
          </div>
        </button>

        <button (click)="deactivateHouseProfile()" [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}"
          class="subcategory" *ngIf="houseData && houseData.about.rent === 1">
          <i class="fa-solid fa-power-off"></i>
          <div class="item-description">
            <p class="t-min">Деактиву.</p>
            <p class="t-min">Профіль</p>
          </div>
        </button>

      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/control'">
          <i class="fa-solid fa-timeline"></i>
          <div class="item-description">
            <p class="t-med bold">Керування</p>
            <p class="t-min">Оселями</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[3]}" class="link-btn" (click)="setSectionFromBtn(3)">
          <i [ngClass]="section[3] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[3]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/control/about'">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/control/add'">
          <i class="fa-solid fa-house-chimney-medical"></i>
          <div class="item-description">
            <p class="t-min">Створити</p>
            <p class="t-min">Обрати</p>
          </div>
        </a>

      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/discus'">

          <i class="fa-solid fa-signs-post"></i>

          <div class="item-description">
            <p class="t-med bold">Підписки</p>
            <p class="t-min">Та Дискусії</p>
          </div>

          <div *ngIf="!section[4] && houseData">
            <i *ngIf="counterHouseSubscriptions !== 0" class="fa-solid fa-people-pulling custom-badge pl-1"
              matBadge="{{counterHouseSubscriptions}}"></i>
            <i *ngIf="counterHouseSubscribers !== 0" class="fa-solid fa-child-reaching custom-badge pl-2"
              matBadge="{{counterHouseSubscribers}}"></i>
            <i *ngIf="counterHouseDiscussio !== 0" class="fa-solid fa-person-walking-luggage custom-badge pl-1"
              matBadge="{{counterHouseDiscussio}}"></i>
          </div>

        </a>
        <button [@appearance] [ngClass]="{'active': section[4]}" class="link-btn" (click)="setSectionFromBtn(4)">
          <i [ngClass]="section[4] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[4]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/discus/about'">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/discus/subscriptions'">
          <i class="fa-solid fa-people-pulling custom-badge" matBadge="{{counterHouseSubscriptions}}"></i>
          <div class="item-description">
            <p class="t-min">Підписки</p>
            <p class="t-min">Оселі</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/discus/subscribers'">
          <i class="fa-solid fa-child-reaching custom-badge" matBadge="{{counterHouseSubscribers}}"></i>
          <div class="item-description">
            <p class="t-min">Підписники</p>
            <p class="t-min">Оселі</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/discus/discussion'">
          <i class="fa-solid fa-person-walking-luggage custom-badge" matBadge="{{counterHouseDiscussio}}"></i>
          <div class="item-description">
            <p class="t-min">Дискусії</p>
            <p class="t-min">Оселі</p>
          </div>
        </a>
      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/agree'">
          <i class="fa-solid fa-envelope-open-text"></i>
          <div class="item-description">
            <p class="t-med bold">Угоди</p>
            <p class="t-min">Оселі</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[2]}" class="link-btn" (click)="setSectionFromBtn(2)">
          <i [ngClass]="section[2] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[2]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/agree/about'">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/agree/step'">
          <i class="fa-solid fa-shoe-prints"></i>
          <div class="item-description">
            <p class="t-min">Як</p>
            <p class="t-min">створити?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/agree/create'">
          <i class="fa-solid fa-feather-pointed"></i>
          <div class="item-description">
            <p class="t-min">Створити</p>
            <p class="t-min">Угоду</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/agree/review'">
          <i class="fa-solid fa-hourglass-half"></i>
          <div class="item-description">
            <p class="t-min">Запроп.</p>
            <p class="t-min">Угоди</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/agree/concluded'">
          <i class="fa-solid fa-file-circle-check"></i>
          <div class="item-description">
            <p class="t-min">Ухвалені</p>
            <p class="t-min">Угоди</p>
          </div>
        </a>

      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(6) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/search/tenant'">
          <i class="fa-solid fa-magnifying-glass"></i>
          <div class="item-description">
            <p class="t-med bold">Пошук</p>
            <p class="t-min">Орендаря</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[7]}" class="link-btn" (click)="setSectionFromBtn(7)">
          <i [ngClass]="section[7] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>

      <div class="subcategory-container" *ngIf="section[7]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/user/search/house'" (click)="closeToogleMenu()">
          <i class="fa-solid fa-house-flag"></i>
          <div class="item-description">
            <p class="t-min">Пошук </p>
            <p class="t-min">Оселі</p>
          </div>
        </a>


        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/search/tenant'">
          <i class="fa-solid fa-child-reaching"></i>
          <div class="item-description">
            <p class="t-min">Пошук</p>
            <p class="t-min">Орендаря</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/search/neighbor'">
          <i class="fa-solid fa-restroom"></i>
          <div class="item-description">
            <p class="t-min">Пошук</p>
            <p class="t-min">Сусіда</p>
          </div>
        </a>

      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(7) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/objects'">
          <i class="fa-solid fa-boxes-packing"></i>
          <div class="item-description">
            <p class="t-med bold">Наповнення</p>
            <p class="t-min">Предмети оселі</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[8]}" class="link-btn" (click)="setSectionFromBtn(8)">
          <i [ngClass]="section[8] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[8]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/objects/about'">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/objects/add'">
          <i class="fa-solid fa-boxes-stacked"></i>
          <div class="item-description">
            <p class="t-min">Додати</p>
            <p class="t-min">Наповн.</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/objects/control'">
          <i class="fa-solid fa-dolly"></i>
          <div class="item-description">
            <p class="t-min">Керування</p>
            <p class="t-min">Наповн.</p>
          </div>
        </a>


      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(8) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/edit'">
          <i class="fa-solid fa-gears"></i>
          <div class="item-description">
            <p class="t-med bold">Редагування</p>
            <p class="t-min">Всі налаштування</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[6]}" class="link-btn" (click)="setSectionFromBtn(6)">
          <i [ngClass]="section[6] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>

      <div class="subcategory-container" *ngIf="section[6]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/edit/address'">
          <i class="fa-solid fa-location-dot"></i>
          <div class="item-description">
            <p class="t-min">Локація</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/edit/param'">
          <i class="fa-solid fa-trowel-bricks"></i>
          <div class="item-description">
            <p class="t-min">Параметри</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/edit/about'">
          <i class="fa-solid fa-users-gear"></i>
          <div class="item-description">
            <p class="t-min">Особлив.</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/edit/photo'">
          <i class="fa-solid fa-images"></i>
          <div class="item-description">
            <p class="t-min">Фото</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/edit/additionally'">
          <i class="fa-regular fa-address-book"></i>
          <div class="item-description">
            <p class="t-min">Додатк.</p>
          </div>
        </a>

      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(9) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/communal'">
          <i class="fa-solid fa-chart-pie"></i>
          <div class="item-description">
            <p class="t-med bold">Статистика</p>
            <p class="t-min">Комунальні</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[10]}" class="link-btn" (click)="setSectionFromBtn(10)">
          <i [ngClass]="section[10] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[10]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/communal/about'">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/communal/add'">
          <i class="fa-solid fa-sliders"></i>
          <div class="item-description">
            <p class="t-min">Керув.</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/communal/stat-month'">
          <i class="fa-solid fa-calendar-day"></i>
          <div class="item-description">
            <p class="t-min">Місяць</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/communal/stat-year'">
          <i class="fa-solid fa-chart-pie"></i>
          <div class="item-description">
            <p class="t-min">Рік</p>
          </div>
        </a>


      </div>
    </div>

    <div class="category-container" [@cardAnimation]="{value: '', params: { delay: animationDelay(10) }}">
      <div class="category">
        <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/house/residents'">
          <i class="fa-solid fa-people-roof"></i>
          <div class="item-description">
            <p class="t-med bold">Мешканці</p>
            <p class="t-min">Доступ, відгуки</p>
          </div>
        </a>
        <button [@appearance] [ngClass]="{'active': section[9]}" class="link-btn" (click)="setSectionFromBtn(9)">
          <i [ngClass]="section[9] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
        </button>
      </div>
      <div class="subcategory-container" *ngIf="section[9]">

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/residents/about'">
          <i class="fa-regular fa-circle-question"></i>
          <div class="item-description">
            <p class="t-min">Що це?</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/residents/resident'">
          <i class="fa-solid fa-person-shelter"></i>
          <div class="item-description">
            <p class="t-min">Мешканці</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/residents/add'">
          <i class="fa-solid fa-user-plus"></i>
          <div class="item-description">
            <p class="t-min">Додати</p>
          </div>
        </a>

        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="subcategory"
          [routerLinkActive]="'active'" [routerLink]="'/house/residents/owner'">
          <i class="fa-solid fa-id-card-clip"></i>
          <div class="item-description">
            <p class="t-min">Власник</p>
          </div>
        </a>


      </div>
    </div>

  </ng-container>
</div>
