<div class="footer-box">
  <div class="footer-copy">
    <div class="social-link-container">

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.instagram.com/discussio.ua/">
          <i class="fab fa-brands fa-instagram"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.tiktok.com/@discussio.inc">
          <i class="fab fa-brands fa-tiktok"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank"
          href="https://www.facebook.com/profile.php?id=61554505683668&locale=uk_UA">
          <i class="fab fa-brands fa-facebook"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.youtube.com/@DiscussioUA">
          <i class="fab fa-brands fa-youtube"></i>
        </a>
      </div>

    </div>
    <div class="t-min t-c gray">© Discussio.</div>
    <div class="t-min t-c gray">Developed by Discussio team 2024.</div>
  </div>
</div>
