@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  min-height: 70vh;
}

.footer-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  @include s1-s3 {
    display: none;
  }
}

.icon-box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.footer-copy {
  display: flex;
  font-weight: normal;
  margin-top: 10px;
  color: #000000;
  font-size: 15px;
  animation: border-flicker 4s linear infinite;
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  margin: 0;
  padding: 0;
}

.fab {
  color: $color-icon;
  margin: 10px 15px;
  font-size: 30px;

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0 0 40px $color-accent;
  }
}

@media print {
  .footer-box {
    display: none;
  }
}
