@use "./../../../../style/comun/comun.scss";
@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;

.info-card {
  @include box-shadow;
  flex-direction: column;
  position: relative;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }

  @include s3-s6-max {
    justify-content: space-between;
    border-radius: 10px;
    overflow: auto;
    height: 90vh;
    // padding: 10px;
    background-color: $color-white;
    max-width: 450px;
  }
  @include s1-s3 {
    height: auto;
  }
}

.flex-box {
  display: flex;
  width: 100%;
}

.btn-group {
  width: 100%;
  margin-top: 20px;
  padding: 10px;

  @include s3-s6-max {
    position: sticky;
    bottom: 0;
  }
  @include s1-s3 {
    position: fixed !important;
    bottom: 0;
  }
  .btn {
    @include flex-box-center;
    height: 60px;
    background-color: $color-accent;
  }
}

.status-box {
  border: none;
  background-color: transparent;
}

.flex-column::-webkit-scrollbar {
  display: none;
}

.item-select {
  position: relative;
}

.btn-copy {
  font-size: 30px;
  background-color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 2px;
}
