@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.img-container {
  height: auto;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.img-wrapper {
  display: flex;
  overflow: auto;
}

.prev-img,
.next-img,
.btn-close {
  position: absolute;
  z-index: 99;
  background-color: transparent;
  transition: 0.5s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.277);
  }
}

.prev-img {
  top: 50%;
  left: 0;
  transform: translateY(-50px);
  height: 100px;
  width: 100px;
}

.next-img {
  top: 50%;
  transform: translateY(-50px);
  right: 0;
  height: 100px;
  width: 100px;
}

.btn-close {
  top: 0;
  right: 0;
}
