@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.img-container {
  position: relative;
}

.img-wrapper {
  display: flex;
  overflow: auto;
  position: relative;
}

.prev-img,
.next-img,
.btn-close {
  position: absolute;
  z-index: 99;
  background-color: transparent;
  transition: 0.5s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.277);
  }
}

.prev-img {
  top: 50%;
  left: 0;
  transform: translateY(-50px);
  height: 100px;
  width: 100px;
}

.next-img {
  top: 50%;
  transform: translateY(-50px);
  right: 0;
  height: 100px;
  width: 100px;
}

.zoomGroup {
  position: absolute;
  z-index: 99;
  bottom: 20px;
  left: 50%;
  transform: translateX(-150px);
  height: 100px;
  width: 300px;
  @include flex-box;

  .zoomBtn {
    height: 100px;
    width: 100px;
    border: none;

    background-color: transparent;
    transition: 0.5s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.277);
    }
    .fa-solid {
      font-size: 30px;
      color: $color-text;
    }
  }
}

.btn-close {
  top: 0;
  right: 0;
}


