<h1 class="logo-name bold dark t-c"><strong>Discussio</strong> <span class="t-min bold">Beta</span></h1>
<h2 class="t-min gray t-c bold"><strong>Діскусіо</strong> - об'єднуємо орендодавців та орендарів!</h2>

<div id="carouselExampleDark" class="carousel carousel-dark slide mt-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" id="аккаунт" data-bs-interval="3000">
      <div class="item-box-1">
        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-door-closed"></i><span class="ml-2">
                Створення профілю оселі.</span>
            </div>
          </div>
          <div class="t-min">Можливість для детального опису вашої нерухомості та надання базової інформації мешканцям.
            Розроблений з урахуванням вашого комфорту та простоти використання, дозволяючи легко та швидко
            заповнювати всю необхідну інформацію. Ви зможете розміщувати оголошення про здачу
            в оренду будь-якого типу нерухомості, будь то будинок, квартира чи навіть окрема кімната.
            Важливою особливістю цього інструменту є можливість створювати профілі для різних видів нерухомості та
            об'єднувати їх у одному аккаунті. Це зробить управління різними об'єктами більш зручним та ефективним.
            Крім того, ви також можете надавати доступ до вашого профілю надійним особам, що дозволить їм легко керувати
            нерухомістю.</div>
        </div>
        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/account_creation.jpg" alt="Flat Image">
        </div>
      </div>
    </div>

    <div class="carousel-item" id="наповнення" data-bs-interval="2000">
      <div class="item-box-1">
        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/house_box4.jpg" alt="Flat Image">
        </div>
        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-dolly"></i><span class="ml-2">
                Наповнення оселі.</span>
            </div>
          </div>
          <div class="t-min">Функція, що дозволяє детально описувати та документувати всі об'єкти та предмети, які
            знаходяться в місці проживання. Ця функція надає користувачам доступ до попередньо розроблених шаблонів та
            універсальної форми, яка полегшує процес внесення інформації про речі та їх стан, а також інструкцій щодо
            використання. Завдяки цій можливості, ви зможете докладно описати кожен предмет, його поточний стан та
            навіть
            надати фотографії для кращого візуального представлення. Ця інформація є надзвичайно важливою для формування
            акту прийому-передачі оселі. Після внесення даних, їх можна легко використовувати для створення офіційного
            документа, який фіксує стан та наявність об'єктів в оселі, що дуже корисно при здачі в оренду, продажу або
            будь-яких інших транзакціях, пов'язаних з нерухомістю.</div>
        </div>
      </div>
    </div>

    <div class="carousel-item" id="дискусія">
      <div class="item-box-1">
        <div class="item-description">
          <div class="param-box mt-3 t-c">
            <div class="param-name"><i class="fa-solid fa-building-user"></i><span class="ml-2">
                Пропозиції, вподобання та дискусії. Для орендаря.</span>
            </div>
          </div>
          <div class="t-min flex-box t-c">Ви шукаєте оселю?
            Вам сподобалась знайдені варіанти, підпишиться на них та чекайте коли вас ухвалять до дискусії.
            У вас немає часу на пошук оселі або у вас є свої критерії ідеальної оселі, можна створити "пошуковий профіль
            орендаря" активувати його і чекати пропозицій від власників.
            Коли ви або вас ухвалять до дискусії вам відкриється контактна інформація та додаткові можливості.
          </div>
          <div class="param-box mt-3 t-c">
            <div class="param-name"><i class="fa-solid fa-people-arrows"></i><span class="ml-2">
                Підписники, підписки та дискусії. Для власника.</span>
            </div>
          </div>
          <div class="t-min flex-box t-c">
            Виставили оголошення і ваша оселя сподобалась орендарям, вони будуть вашими підписниками.
            У вас є власні критерії? Хочете самі обрати орендаря? Зайдіть в пошук орендаря та шукайте користувачів яким
            підходять ваші умови та запропонуйте свою оселю підписавшись на них.
            Коли ви або вас ухвалять до дискусії вам відкриється контактна інформація та додаткові можливості.
          </div>
        </div>

        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/man_and_door4.jpg" alt="Flat Image">
        </div>

      </div>
    </div>
    <div class="carousel-item" id="угода">
      <div class="item-box-1">

        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/man_and_agree3.jpg" alt="Flat Image">
        </div>

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-file-signature"></i><span class="ml-2">
                Discussio угода оренди нерухомого майна.</span>
            </div>
          </div>
          <div class="t-min">Наша платформа дозволяє легко та швидко створювати угоди між орендарем та орендодавцем
            всього
            за кілька хвилин. Ви можете згенерувати стандартні умови оренди нерухомого майна або додавати власні
            додаткові
            умови. Після створення угоди, ви можете відправити її орендарю для розгляду та погодження, щоб він міг
            докладно
            з нею ознайомитись та прийняти рішення. Після погодження умов угоди, її можна легко роздрукувати та
            підписати на місці.</div>
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-file-circle-plus"></i><span class="ml-2">
                Акт прийому-передачі оселі.</span>
            </div>
          </div>
          <div class="t-min">Після погодження умов орендної угоди, ви зможете створити акт прийому-передачі оселі. Цей
            акт
            міститиме інформацію про угоду та опис наповнення вашої оселі, яку ви передаєте орендарю, а також показники
            лічильників на момент передачі. Ви зможете надрукувати цей акт та підписати його при зустрічі. Крім того,
            акт
            буде збережений в вашому профілі оселі з детальним описом та фотографіями всіх предметів на момент передачі
            оселі.</div>
        </div>

      </div>
    </div>
    <div class="carousel-item" id="пошук">
      <div class="item-box-1">
        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-magnifying-glass"></i><span class="ml-2">
                Пошук оселі.</span>
            </div>
          </div>
          <div class="t-min">Наша платформа надає вам можливість легко знаходити житло, яке відповідає
            вашим вимогам та вподобанням. Ви можете вибирати оселі з врахуванням різних критеріїв, таких як тип мешканця
            (студент, жінка, чоловік, сім'я), тип оселі (будинок, квартира, кімната), наявність укриття та можливість
            проживання з тваринами, та багато іншого.
            Зручно, що ви можете автоматично переносити ваші параметри з вашого пошукового профілю, що економить вам час
            і
            зусилля, оскільки вам не потрібно постійно заповнювати форму пошуку. Наша система робить пошук оселі
            максимально
            простим та зручним, щоб ви могли знайти ідеальне житло для себе.</div>
        </div>

        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/computer.jpg" alt="Flat Image">
        </div>

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-people-pulling"></i><span class="ml-2">
                Пошук орендаря.</span>
            </div>
          </div>
          <div class="t-min">
            Можливість знаходити профілі потенційних орендарів, які
            відповідають вашим особистим критеріям. Ви можете використовувати різні фільтри, такі як бюджет, мета
            переїзду
            та термін оренди, для пошуку орендарів, які вам підходять. Ви можете також здавати свою оселю тільки на
            якийсь
            конкретний відрізок часу який потрібен орендарю.
            Наша система дозволяє знаходити орендарів, які шукають саме вашу оселю з врахуванням ваших параметрів. Крім
            того, ви можете автоматично переносити параметри вашої оселі у форму пошуку, що робить процес пошуку
            орендарів
            ще зручнішим і швидшим.
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="орендарь">
      <div class="item-box-1">

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-person-shelter"></i><span class="ml-2">
                Пошуковий профіль орендаря.</span>
            </div>
          </div>
          <div class="t-min">Вибір іншого житла - це легко та зручно завдяки "Пошуковому профілю орендаря". Лише три
            кроки
            розділяють вас від ідеального житла.
            Крок перший: Опишіть свої потреби та бажання щодо оселі, вказавши для кого і який формат вам потрібен.
            Крок другий: Встановіть параметри оселі, оцініть інфраструктуру та особливості, які вам важливі.
            Крок третій: Зазначте терміни, бюджет та додаткову інформацію.
            Після активації вашого пошукового профілю, власники нерухомості зможуть надсилати вам пропозиції, які
            відповідають вашим потребам. Це швидкий та ефективний спосіб знайти ідеальне житло для вас.</div>
        </div>

        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/man_and_door1.jpg" alt="Flat Image">
        </div>
      </div>
    </div>
    <div class="carousel-item" id="комунальні">
      <div class="item-box-1">

        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/stats1.jpg" alt="Flat Image">
        </div>

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-chart-pie"></i><span class="ml-2">
                Статистика комунальних.</span>
            </div>
          </div>
          <div class="t-min">За допомогою цієї функції, ви можете створювати комунальні послуги та вибирати різні
            варіанти
            розрахунку витрат. Ви маєте можливість вести свою власну статистику, проводячи детальний розрахунок
            використання
            комунальних ресурсів, таких як вода, газ, електроенергія, тощо.
            Ця функція сприяє обміну даними між орендарем та орендодавцем, дозволяючи точно відслідковувати витрати та
            встановлювати звіти про споживання ресурсів щомісяця. Це робить процес обліку комунальних послуг більш
            прозорим
            та допомагає уникнути спорів між сторонами. Таким чином, ви можете зручно та ефективно керувати комунальними
            послугами в вашій оселі, долати непорозуміння та забезпечувати точний розрахунок витрат.</div>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="дозволи">
      <div class="item-box-1">
        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-people-roof"></i><span class="ml-2">
                Мешканці оселі</span>
            </div>
          </div>
          <div class="t-min">Додавши орендаря до списку мешканців оселі у вас з'являється можливість надавати орендарям
            дозволи до різних функцій оселі. Починаючі від внесення показань лічильників до повного керування оселею з
            можливістью самим шукати собі сусідів по оселі.</div>
        </div>

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-unlock-keyhole"></i><span class="ml-2">
                Дозволи оселі.</span>
            </div>
          </div>
          <div class="t-med gray bold">Адміністрування/представник:</div>
          <div class="t-min">Додавши користувача до оселі його можна зробити адміністратором оселі або представником. Це
            буде корисним якщо ви захочете передати управління оселі членам сім'ї або друзям на момент вашої відсутності
            щоб
            вони мали доступ до інформації про вашу оселю та могли неї керувати</div>
        </div>
        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/key6.jpg" alt="Flat Image">
        </div>
      </div>
    </div>
    <div class="carousel-item" id="оцінювання">
      <div class="item-box-1">

        <div class="item-img-container">
          <img class="item-img" src="../../../assets/example-agree/man_and_door2.jpg" alt="Flat Image">
        </div>

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-regular fa-face-smile"></i> | <i
                class="fa-regular fa-face-frown"></i><span class="ml-2">
                Система оцінювання орендарів.</span>
            </div>
          </div>
          <div class="t-min">Для власників оселі вибір надійного орендаря може стати великим завданням. Щоб допомогти
            власникам обирати порядних та надійних орендарів, ми впроваджуємо систему "Рейтинг орендаря".
            Ця система дає можливість власникам оцінити орендаря, який проживав у їх оселі. Щомісяця
            власник може залишати короткий відгук про орендаря та визначити, на скільки йому було комфортно з
            цим орендарем мати справу.
            Важливість цієї системи полягає в тому, що вона створює атмосферу довіри між власниками та
            орендарями. Вона сприяє розвитку довіри і забезпечує комфортне та безпечне співжиття для обох
            сторін.</div>
        </div>

        <div class="item-description">
          <div class="param-box mt-3">
            <div class="param-name"><i class="fa-solid fa-hands-praying"></i><span class="ml-2">
                Система оцінювання власників.</span>
            </div>
          </div>
          <div class="t-min">Власники також можуть бути
            оцінені та рецензовані, але в контексті "Рейтингу власника оселі". Орендарі висловлюють
            свою думку про власників нерухомості, з якими вони мали справу. Цей рейтинг базується на досвіді орендарів
            та допомагає іншим потенційним орендарям зрозуміти, яким власникам можна довіряти.
            Система "Рейтинг власника оселі" допомагає орендарям приймати
            інформовані рішення щодо оренди житла та створює сприятливу атмосферу відкритості і довіри між сторонами.
            Вона також допомагає власникам покращити якість обслуговування своєї нерухомості та підвищити довіру до них
            серед потенційних орендарів.</div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-footer></app-footer>
