@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.menu-item {
  @include flex-box-center;
  justify-content: space-between;
  width: 250px;
  @include s1-s3 {
    width: auto;
  }
}

.menu {
  @include flex-box-center;
  min-width: 200px;
  width: 100%;
  font-family: $font-main;
  @include s1-s3 {
    min-width: 30px;
  }
}

.t-lar {
  font-family: $font-main;
  font-weight: bold;
}

.matMenu {
  width: 100%;
  padding: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    color: $color-dark;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    &:hover {
      @include box-shadow-i;
      transform: scale(1) !important;
    }
    &.active {
      color: $color-accent;
      @include box-shadow-i;
    }
  }
}

.search-term {
  @include flex-box-center;
  justify-content: space-between;
  border-radius: 10px;
  width: auto;
  position: relative;

  border: 1px solid $color-light-gray;
  background-color: $color-white;
  @include box-shadow;
  padding: 10px;
  &.active {
    background-color: $color-accent;
    color: $color-white;
  }
}

.search-group {
  @include flex-box-center;
  background-color: $color-white;
  border-radius: 0 0 20px 20px;
}

.navigation-container {
  @include flex-box;
  height: 60px;
  width: 100%;
  justify-content: flex-start;
  z-index: 5;
  position: fixed;
  top: 0;
  padding-top: 1rem;

  &.home {
    @include blurred-background($color-white, 0.5);
    @include s1-s3 {
      @include blurred-background($color-accent);
      .fa-magnifying-glass {
        color: $color-white !important;
      }
    }
  }

  @include s1-s3 {
    @include blurred-background($color-white, 0.5);
    z-index: 20;
    padding-top: 0rem !important;
    justify-content: space-between;
    background-image: none !important;
  }

  .icon-box {
    .fa-magnifying-glass {
      font-size: 16px !important;
      color: $color-gray;
    }
  }

  .item-group {
    @include flex-box-column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 80px;
  }

  .menu-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    max-width: 200px;

    @include s1-s3 {
      &.home {
        .t-lar-x,
        .t-lar,
        .t-med {
          color: $color-white;
        }
      }

      width: 100%;
      max-width: 100%;

      .t-lar-x,
      .t-lar,
      .t-med {
        color: $color-dark;
      }
      .menu-box {
        border: none;
      }
    }
  }

  .lobo-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    // Ефект збільшення всієї кнопки при наведенні
    &:hover {
      transform: scale(1.1);
    }

    .logo-img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: relative;
      z-index: 1; // Щоб лого було зверху над анімованими бордерами

      // Анімація логотипу синхронно з хвилями
      animation: logoBounce 2s infinite ease-out;
    }

    // Псевдоелементи для бордерів
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $color-accent; // Початковий колір бордера
      transform: translate(-50%, -50%);
      opacity: 0;
      pointer-events: none; // Щоб анімація не блокувала кліки
      z-index: 0;
    }

    // Перший псевдоелемент (внутрішня хвиля)
    &::before {
      animation: rippleEffect 2s infinite ease-out;
    }

    // Другий псевдоелемент (зовнішня хвиля)
    &::after {
      animation: rippleEffect 2s infinite ease-out 0.5s; // Затримка для другого ефекту
    }
  }

  // Анімація для псевдоелементів (хвиль)
  @keyframes rippleEffect {
    0% {
      width: 40px;
      height: 40px;
      opacity: 0.8;
      border-width: 2px;
    }
    50% {
      width: 60px;
      height: 60px;
      opacity: 0.3;
      border-width: 1px;
    }
    100% {
      width: 80px;
      height: 80px;
      opacity: 0;
      border-width: 1;
    }
  }

  // Анімація логотипу (стиснення під час поштовху)
  @keyframes logoBounce {
    0%,
    100% {
      transform: scale(1); // Початковий розмір
    }
    50% {
      transform: scale(0.95); // Логотип стискається до 90% розміру
    }
  }

  .nav-link {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    height: 50px;
    width: 80px;
    background-color: transparent;
    border: none;
    transition: 1s;

    .fa-solid,
    .fa-regular {
      font-size: 30px;
    }

    @include s1-s3 {
      &.home {
        .fa-solid,
        .fa-regular,
        .t-min {
          color: $color-white;
        }
      }
      flex: 1;
      width: 60px;
      .fa-solid,
      .fa-regular,
      .t-min {
        color: $color-dark;
      }
    }

    &:hover {
      transform: scale(1.02);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }

    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 30px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
      @include s1-s3 {
        &.active {
          .fa-solid,
          .fa-regular,
          .t-min {
            color: $color-dark;
          }
        }
      }
    }

    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
  }
}
