@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-box {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: flex-start;

  @include s1-s3 {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    z-index: 99;
    background-color: $color-white;
    width: 60%;
    height: 100%;

    top: 0;
    left: -100%;
    transition: left 0.3s ease;
  }
}

.navbar-toggle {
  width: 50px;
  height: 50px;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -25px;
  z-index: 999;


  @include s3-s6-max {
    display: none;
  }

  @include s1-s3 {
    display: block;
  }
}

.navbar.open {
  left: 0;
}

.nav-link {
  color: $color-text;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.4s ease;
  letter-spacing: 1px;

  &:hover {
    color: $color-accent;
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow:
      inset -10px -10px 40px rgba(0, 0, 0, 0.105),
      inset 10px 10px 40px rgba(0, 0, 0, 0.105);
  }

  &.active {
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-accent;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.nav-link-logo {
  position: relative;
  &:hover {
    transition: 0.2s;
    transform: scale(1.6);
    filter: drop-shadow(2px 2px 20px rgb(0, 0, 0));
  }

  &:active {
    transform: scale(0.8);
    filter: drop-shadow(20px 20px 40px rgb(202, 44, 8));
  }

  &.active {
    filter: drop-shadow(0px 0px 20px rgb(202, 44, 8));
  }
}

.logo {
  width: 60px;
  height: 60px;
}

.nav-item {
  position: relative;
}

.text {
  display: flex;
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  text-transform: capitalize;
}

.text1 {
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  left: 30px;
  top: 8px;
  text-transform: capitalize;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    z-index: 9999;
    display: none;
  }
}

@media print {
  .navbar {
    display: none;
  }

  .navbar-toggle {
    display: none;
  }
}
