@use "../../style/presets/" as *;

.container-fluid {
  margin-top: 20px;
  display: flex;
}

.navbar-collapse {
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  align-items: stretch;
}

.nav-link {
  color: $color-text;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.4s ease;
  letter-spacing: 1px;

  &:hover {
    color: $color-accent;
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow: inset -10px -10px 40px rgba(0, 0, 0, 0.105), inset 10px 10px 40px rgba(0, 0, 0, 0.105);
  }

  &.active {
    background-color: $color-light;
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-accent;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.105), 10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

a {
  &.active {
    box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.105), 20px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.logo {
  width: 60px;
  height: 60px;
}
