<div class="container-box">
  <nav class="navbar" [ngClass]="{'open': isMenuOpen}">
    <div class="nav-item">
      <a class="nav-link-logo" [routerLinkActive]="'active'" [routerLink]="'/our-team'">
        <!-- <div class="text1">Discussio</div> -->
        <img class="logo" src="../../../assets/logo/Discussio (7).svg" alt="" (click)="closeMenu()">
        <div class="text">Discussio. Beta</div>
      </a>
    </div>

    <div class="hide-pc">
      <app-selection-account></app-selection-account>
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/user/info'" (click)="closeMenu()">Аккаунт</a>
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/comun-page'" (click)="closeMenu()">Про
        послуги</a>
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/our-team'" (click)="closeMenu()">Про проєкт</a>
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/search-page'" (click)="closeMenu()">Пошук</a>
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/feedback'" (click)="closeMenu()">Відгук</a>
    </div>



  </nav>

  <!-- <button class="navbar-toggle" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button> -->
</div>
