@use "../../style/presets/" as *;

.container-fluid {
  margin-top: 20px;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
}

.navbar-nav{
  display: flex;
}

a {
  font-size: 15px;
  border: none;
  padding: 0.5em 1em;
  color: $color-text;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 5px;
}

a:hover {
  background-color: $color-accent;
}

a::before {
  width: 100%;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border-radius: 10px;
  transition: 0.4s ease;
  z-index: -1;
}

a::after {
  height: 100%;
  transition-delay: 0.2s;
  color: $color-accent;
}

.logo {
  width: 160px;
  height: 40px;
}

