@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.navigation-container {
  @include flex-box;
  height: 60px;
  width: 100%;
  justify-content: flex-start;
  z-index: 5;
  position: fixed;
  top: 0;
  padding-top: 1rem;
  background-image: linear-gradient(to top, transparent 0%, $color-primary 40%) !important;

  @include s1-s3 {
    // @include box-shadow;
    z-index: 20;
    padding-top: 0rem !important;
    background-image: none !important;
    background-color: $color-accent;
  }
}

.icon-box {
  .fa-magnifying-glass {
    font-size: 16px !important;
    color: $color-gray;
  }
}


.item-group {
  @include flex-box-column;
  margin: 0;
  padding: 0;
  position: relative;
  width: 80px;
}

.menu-box {
  width: 40%;
  max-width: 200px;
  @include s1-s3 {
    .t-lar,
    .t-med {
      color: $color-white;
    }
    .menu-box {
      border: none;
    }
  }
}

.lobo-box {
  position: relative;
  .logo-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid $color-white;
    @include box-shadow;
    @include s1-s3 {
      box-shadow: none;
    }
  }
  .logo-icon {
    @include flex-box-center;
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    .fa-solid {
      color: $color-white;
      font-size: 20px;
    }
  }
}

.nav-link {
  @include flex-box-column;
  position: relative;
  justify-content: center;
  height: 50px;
  width: 80px;
  background-color: transparent;
  border: none;
  transition: 1s;

  .fa-solid,
  .fa-regular {
    font-size: 30px;
  }

  @include s1-s3 {
    flex: 1;
    width: 50px;
    .fa-solid,
    .fa-regular,
    .t-min {
      color: $color-white;
    }
  }

  &:hover {
    transform: scale(1.1);
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      font-size: 36px;
    }
    .t-min {
      color: $color-accent;
    }
  }

  &.active {
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      font-size: 36px;
    }
    .t-min {
      color: $color-accent;
    }
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px $color-accent);
    @include s1-s3 {
      &.active {
        .fa-solid,
        .fa-regular,
        .t-min {
          color: $color-dark;
        }
      }
    }
  }

  &:disabled {
    .fa-regular,
    .fa-solid {
      color: $color-gray;
    }
  }
}
