@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.status-content {
  @include flex-box-center;
  flex-direction: column;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 15;
  width: 100%;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    box-shadow: -3px 3px 20px -10px ($color-accent, 40%);
  }

  .status-box {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: flex-end;
    width: 100%;
  }

  .status-value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: $color-white-always;
    border-radius: 10px;
    background-color: $color-accent;
    box-shadow:
      2px 3px 10px $color-shadow,
      2px 2px 10px $color-shadow;
    font-size: 12px;
    font-weight: bold;
    .fa-solid,
    .fa-regular {
      font-size: 14px;
      color: $color-white-always;
    }
  }

  .status-metro {
    width: auto !important;
  }

  .status-hover {
    @include flex-box-center;
    min-width: 300px;
    flex-direction: column;
    position: absolute;
    top: 10%;
    background-color: $color-dark;
    border-radius: 20px;
    padding: 8px;
    ul {
      padding: 0;
      margin: 0;
    }
    .status-hover-label {
      color: $color-accent;
      font-weight: 600;
      text-align: center;
      width: 100%;
    }

    .status-hover-text {
      color: $color-white;
      width: 100%;
      .status-hover-li {
        color: $color-white;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-content: flex-start;
  &::-webkit-scrollbar {
    display: none;
  }
  .card-mini {
    @include box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    background-color: $color-gray;
    position: relative;

    min-height: 130px;
    max-height: 300px;

    width: 47%;
    overflow: hidden;
    border-radius: 20px;

    .card-body {
      position: absolute;
      bottom: 0;
      transition: 1s;
      right: 0;
      border-radius: 20px;
      width: 100%;
      height: 160px;
      @include blurred-background($color-dark, 0.5);
      .t-med {
        color: $color-white;
      }
    }

    &:hover {
      .card-body {
        transition: 1s;
        @include blurred-background($color-accent, 0.5);
      }
    }

    &.selected {
      transition: 1s;
      color: $color-white;
      background-color: $color-accent;
      .card-body {
        .t-med {
          color: $color-white;
        }
      }
    }
  }
}

.img-wrapper {
  height: 280px;
  width: 100%;
  .card-mini-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
}

// пагінатор
.paginator-container {
  @include flex-box;
  width: 100%;
  justify-content: space-evenly;
  .paginator-box {
    @include flex-box-column;
  }
  .paginator-btn {
    @include flex-box;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: $color-accent;
    }
  }
}
