@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.no-bg {
  background-color: transparent;
}

.menu-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 180px;
  white-space: nowrap;
  flex-direction: column;
  width: 100%;
}

.message {
  @include flex-box-center;
  width: auto;
  min-width: 60px;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  @include box-shadow;

  @include s3-s6-max {
    &:hover {
      background-color: $color-accent;

      .fa-solid,
      .fa-regular {
        color: $color-accent;
      }
    }
  }

  &.active {
    background-color: $color-dark;
    .fa-solid,
    .fa-regular {
      color: $color-accent;
    }
  }
}

.custom-badge .mat-badge-content {
  background-color: $color-accent;
  color: $color-white;
}

.logo-img {
  width: 30px;
  height: 30px;
  border: 3px solid $color-white;
  border-radius: 50%;
}

.menu {
  position: relative;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  @include s3-s6-max {
    height: calc(100vh - 70px);
    padding: 0px 0px 20px 0px;
    overflow: auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  @include s1-s3 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    // @include box-shadow;

    // background-color: $color-white;
  }
}

.wrapper-img {
  @include flex-box-center;
  position: sticky;
  border-radius: 30px;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  justify-content: center;

  @include s1-s3 {
    @include box-shadow;
    width: 250px;
    background-color: $color-white;
    justify-content: flex-start;
    // border: 1px solid $color-light-gray;
  }
  .userName {
    display: flex;
    flex-direction: column;
    .t-lar {
      border-bottom: 1px solid $color-light-gray;
    }
    @include s1-s3 {
      .t-lar,
      .t-min {
        color: $color-text;
      }
    }
  }
}

.img-fluid {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.menu_title {
  color: $color-dark;
  margin-bottom: 10px;
  text-align: center;
  font-size: $t-med;
  width: 100%;
  .fa-regular {
    color: $color-dark;
    font-size: 25px;
  }
  @include s1-s3 {
    color: $color-white;
    .fa-regular {
      color: $color-white;
    }
  }
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  @include s1-s3 {
    margin: 5px 0px 5px 0px;
    border: 4px solid rgba(191, 191, 191, 0.893);
    border-radius: 20px;
    background-color: rgba(191, 191, 191, 0.893);
    @include box-shadow;
  }

  .category {
    @include flex-box-center;

    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    padding-left: 5px;

    @include s1-s3 {
      margin: 5px 0;
    }

    @include s3-s6-max {
      @include box-shadow;
      background-color: $color-white;
      margin: 0 0 5px 0;
      height: 60px;
      &:hover {
        transform: none;
        background-color: $color-gray;
        @include box-shadow-i;
        .fa-solid,
        .fa-regular,
        .t-med,
        .t-min {
          color: $color-white;
        }
      }
    }

    &:disabled {
      background-color: $color-gray;
      box-shadow: 2px 2px 2px 4px $color-gray;
      .fa-solid,
      .fa-regular,
      .t-med,
      .t-min {
        color: $color-light-gray;
      }
    }

    &.active {
      background-color: $color-dark;
      color: $color-accent;
      @include box-shadow;
      &:hover {
        transform: none;
      }
      .fa-solid,
      .fa-regular,
      .t-med {
        color: $color-white;
      }
      .t-min {
        color: rgba(255, 255, 255, 0.689);
      }
    }
  }
  .subcategory-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .subcategory {
      @include flex-box-center;
      @include box-shadow;
      width: auto;
      min-width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      flex-direction: column;
      padding: 2px;
      margin: 3px;

      @include s3-s6-max {
        height: 70px;
        &:hover {
          transform: none;
          background-color: $color-gray;
          @include box-shadow-i;
          .fa-solid,
          .fa-regular,
          .t-med,
          .t-min {
            color: $color-white;
          }
        }
      }

      &.active {
        border-radius: 20px;
      }
      .item-description {
        align-items: center;
      }

      &:disabled {
        background-color: $color-gray;
        box-shadow: 2px 2px 2px 4px $color-gray;
        .fa-solid,
        .fa-regular,
        .t-med,
        .t-min {
          color: $color-light-gray;
        }
      }

      &.active {
        background-color: $color-dark;
        @include box-shadow;
        &:hover {
          transform: none;
        }
        .fa-solid,
        .fa-regular,
        .t-med,
        .t-min {
          color: $color-white;
        }
      }
    }
  }
}

.category_home {
  width: auto;
}

.link-item {
  @include flex-box-center;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;

  .fa-solid,
  .fa-regular,
  .t-med {
    color: $color-dark;
    font-weight: 600;
  }

  .fa-solid,
  .fa-regular {
    padding-right: 10px;
  }

  .t-min {
    color: $color-gray;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
  }

  @include s1-s3 {
    margin: 0px 0px 2px 10px;
    &.active {
      border-radius: 20px;
      margin: 5px;
    }
  }
}

.item-home {
  @include flex-box-center;
  width: 60px;
  height: 60px;
  flex-direction: column;
  border-radius: 20px;
  margin: 3px;
  padding: 2px;
}

.item-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.link-btn {
  width: 60px;
  background-color: transparent;

  .fa-solid,
  .fa-regular,
  .t-med,
  .t-min {
    @include box-shadow;
    color: $color-white;
    @include s1-s3 {
      color: $color-dark;
    }
  }
  &:hover {
    .fa-solid,
    .fa-regular,
    .t-med,
    .t-min {
      color: $color-accent;
    }
  }
  &.active {
    .fa-solid,
    .fa-regular,
    .t-med {
      color: $color-accent;
    }
  }
}

.btn-group {
  position: sticky;
  bottom: 0;
  z-index: 100;
}
