@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.status-container {
  background-color: transparent;
}

.techSupport {
  position: absolute;
  left: -50px;
  top: 130px;
  z-index: 200;
  transform: rotate(-90deg);
  background-color: $color-accent;
  padding: 5px;
  border-radius: 5px;
  .white {
    color: $color-white;
  }
}

.active {
  color: $color-accent !important;
}

.card-content {
  align-items: stretch !important;
}

.bg-blue {
  background-color: blue !important;
}

.status {
  @include flex-box-center;
  position: absolute;
  right: 5px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  color: $color-white;
  border-radius: 50%;
  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }
}

.card-animation {
  @include s3-s6-max {
    width: 98% !important;
  }
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.geer {
  @include flex-box-center;
  @include hover;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
  z-index: 200;
  background-color: rgba(128, 128, 128, 0.703);
  .fa-solid {
    color: $color-white;
  }
}

.container-img {
  position: relative;
  width: 100%;
  .wrapper-img {
    border-radius: 20px;
    position: relative;
    width: 100%;
    .img-box {
      border-radius: 0px;
      overflow: hidden;
      height: 400px !important;
      width: 100%;
      .img-box-img {
        border-radius: 0px;
        height: 400px !important;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

.panel-container {
  bottom: 0;
  display: flex;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  justify-content: flex-start;
  .wrapper {
    @include flex-box;
    justify-content: space-between;
    width: 100%;
    .btn-panel {
      @include flex-box-column;
      height: 60px;
      border: none;
      background-color: transparent;
      flex: 1;
      justify-content: space-between;
      .panel-icon {
        height: 100%;
        @include flex-box-center;
        .fa-solid,
        .fa-regular {
          font-size: 25px;
          color: $color-dark;
        }
        .fa-star {
          font-size: 15px;
        }
      }
      .t-min {
        font-size: 10px;
      }
      .img-btn {
        @include flex-box;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        width: 80px;
        .fa-solid,
        .fa-regular {
          color: $color-dark;
        }
      }
    }
  }
}

.panel-menu {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  background-color: $color-white;
}

.btn-panel {
  @include flex-box-column;
  height: 50px;
  border: none;
  background-color: transparent;
  flex: 1;
  justify-content: space-between;
  position: relative;
  .panel-icon {
    height: 100%;
    @include flex-box-center;
    .fa-solid,
    .fa-regular,
    .fa-brands {
      font-size: 25px;
      color: $color-dark;
    }
    .fa-star {
      font-size: 15px;
    }
  }
  .t-min {
    font-size: 10px;
  }
  .img-btn {
    @include flex-box;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 80px;
    .fa-solid,
    .fa-regular {
      color: $color-dark;
    }
  }
}
.caruesel-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.caruesel-house {
  justify-content: flex-start;
  display: flex;
  overflow: auto;
  height: 100%;
  .caruesel-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    .caruesel-card {
      min-width: 120px;
      flex-direction: column;
      height: 120px;
      flex: 1;
      transition: 0.2s;
      @include box-shadow;
      @include flex-box-center;
      background-color: white;
      border: none;
      margin: 5px;
      border-radius: 10px;
      .caruesel-icon {
        .fa-calendar {
          font-size: 30px;
        }
        position: relative;
        .caruesel-icon-num {
          position: absolute;
          @include flex-box-center;
          width: 100%;
          top: 6px;
          left: 0px;
          font-weight: bold;
        }
      }
      .caruesel-name {
        font-size: $t-min;
        font-weight: bold;
        color: $color-gray;
      }
      &.active {
        .fa-solid {
          color: $color-accent;
        }
        @include box-shadow-i;
        color: $color-accent;
        .caruesel-name {
          color: $color-accent;
        }
      }
      &:active {
        transform: scale(0.8);
        @include box-shadow-i;
        .fa-solid {
          color: $color-accent;
        }
        .caruesel-name {
          color: $color-accent;
        }
      }
    }
  }
}

.card-mini {
  @include flex-box;
  color: $color-gray;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.792);
  cursor: pointer;
  background-color: $color-white;
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 20px;
  .card-mini-body {
    @include flex-box;
    justify-content: space-between;
    align-items: center;
    z-index: 105;
    // background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0.836) 70%) !important;
    width: 100%;
    height: 100%;
    .btn-pick {
      height: 100%;
      width: 100%;
      border-radius: 20px;
      background-color: transparent;
    }
  }
  .card-mini-img {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: scale-down;
    }
  }
  &.active {
    transition: 1s;
    color: $color-white;
    font-weight: 600;
    // .card-mini-body {
    //   background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, $color-accent 100%) !important;
    // }
  }
}

.selection-housing {
  z-index: 20;
}

.switch-container {
  @include flex-box;
  height: 100px;
  width: 100%;
  justify-content: flex-start;
  z-index: 550 !important;
  position: sticky;
  top: 0;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.197);
  border-top: 1px solid rgba(128, 128, 128, 0.197);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(255, 255, 255) 10%,
    rgb(255, 255, 255) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  @include s1-s3 {
    border: none;
  }

  .switch-btn-group {
    @include flex-box-column;
    position: relative;
    width: 80px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    height: 50px;
    width: 80px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
    }
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
