<div class="container-box">
  <div class="card-box col-lg-5 col-md-5 col-sm-6 col-12">
    <div class="card m-2">

      <div class="img-fluid">
        <img [src]="'http://localhost:3000/img/users/' + (userImg ? userImg : 'user_default.svg')" alt="User Image">
      </div>

      <div class="item-wrapper p-3">
        <h2>{{ user.lastName }}</h2>
        <h2>{{ user.firstName }}</h2>
        <h2>{{ user.surName }}</h2>
        <p>User ID: <span class="accent">{{ user.user_id }}</span></p>
        <p>Телефон: <span class="accent">{{ user.tell }}</span></p>
        <div class="card-social-link">
          <a href="{{ user.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="{{ user.telegram }}"><i class="fab fa-brands fa-telegram"></i></a>
          <a href="{{ user.viber }}"><i class="fab fa-brands fa-viber"></i></a>
          <a href="{{ user.facebook }}"><i class="fab fa-brands fa-facebook"></i></a>
        </div>

      </div>
    </div>
  </div>

  <div [@cardAnimation] class="card-box col-lg-5 col-md-5 col-sm-6 col-12">
    <div class="card m-2 p-3">
      <h3>Так виглядає Ваша картка користувача в Discussio</h3>
      <div class="img-fluid">
        <img class="img-fluid rounded" src="../../../assets/logo/Discussio (7).svg" alt="Логотип">
      </div>

    </div>
  </div>

  <!-- <div class="card-box col-lg-5 col-md-5 col-sm-6 col-12">
    <div class="m-2">
      <div class="card-info p-2">
        <h4>Підписки на оселю:</h4>
        <div class="title p-2">
          <p>Тут Ви зможете бачити оселі на які підписані.</p>
        </div>
        <div class="title-group">
          <div class="title">
            <p>Що робить кнопка ДИСКУСІЯ?</p>
          </div>
          <button class="btn-info col-2 m-3 info" type="button" data-bs-toggle="collapse"
            data-bs-target="#discussionButton" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-info"></i>
          </button>
        </div>

        <div class="collapse" id="discussionButton">
          <div class="card-body-cast">
            <p class="text-info">Вона дозволяє ухвалити користувача для подальшого діалогу між вами в меню ДИСКУСІЯ. В
              меню дискусія більше інформації про її можливості.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
