@use "../../../style/presets/" as *;

.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.item-wrapper,
.content-description {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: transform 1s;
    transform: scale(1.2);

    span {
      transition: transform 1s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular,
    .fa-brands {
      color: $color-accent;
      transform: translate(10px) scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.carousel {
  width: 100%;
  position: relative;
}

.fa-solid {
  color: $color-primary;
  font-size: 25px;
}

.fab {
  font-size: 20px;
}

.carousel-inner {
  border-radius: 10px;
}

.item-price {
  color: $color-dark;
  font-size: 40px;
}

.item-price-year {
  font-size: 30px;
}

.price-box {
  margin-right: 30px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}



a.link {
  position: relative;
}

a {
  padding: 10px;
  margin: 10px;
}

.notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.notifications .badge {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  content: "";
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

.characteristics-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-characteristics {
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
  background-color: $color-primary;
}

.img-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-menu {
  color: rgba(18, 17, 17, 0.8078431373);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.navbar-house {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  color: $color-text;
  height: 35px;
}

.title-group {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.btn-group {
  display: flex;
}

.link-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-white;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}







