@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  width: 100%;
  height: 85vh;
}

.card-content {
  align-items: stretch !important;
}

.status {
  @include flex-box-center;
  position: absolute;
  right: 5px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  color: $color-white;
  border-radius: 50%;
  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }
}

.card-animation {
  width: 95% !important;
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.container-img {
  position: relative;
  width: 100%;
  .wrapper-img {
    border-radius: 20px;
    position: relative;
    width: 100%;
    .img-box {
      border-radius: 0px;
      overflow: hidden;
      height: 400px !important;
      width: 100%;
      .img-box-img {
        border-radius: 0px;
        height: 400px !important;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

.panel-container {
  bottom: 0;
  display: flex;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  justify-content: flex-start;
  .wrapper {
    @include flex-box;
    justify-content: space-between;
    width: 100%;
    .btn-panel {
      @include flex-box-column;
      height: 60px;
      border: none;
      background-color: transparent;
      flex: 1;
      justify-content: space-between;
      .panel-icon {
        height: 100%;
        @include flex-box-center;
        .fa-solid,
        .fa-regular {
          font-size: 25px;
          color: $color-dark;
        }
        .fa-star {
          font-size: 15px;
        }
      }
      .t-min {
        font-size: 10px;
      }
      .img-btn {
        @include flex-box;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        width: 80px;
        .fa-solid,
        .fa-regular {
          color: $color-dark;
        }
      }
    }
  }
}

.panel-menu {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  background-color: $color-white;
}

.btn-panel {
  @include flex-box-column;
  height: 50px;
  border: none;
  background-color: transparent;
  flex: 1;
  justify-content: space-between;
  position: relative;
  .panel-icon {
    height: 100%;
    @include flex-box-center;
    .fa-solid,
    .fa-regular,
    .fa-brands {
      font-size: 25px;
      color: $color-dark;
    }
    .fa-star {
      font-size: 15px;
    }
  }
  .t-min {
    font-size: 10px;
  }
  .img-btn {
    @include flex-box;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 80px;
    .fa-solid,
    .fa-regular {
      color: $color-dark;
    }
  }
}
.caruesel-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.caruesel-house {
  justify-content: flex-start;
  display: flex;
  overflow: auto;
  height: 100%;
  .caruesel-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    .caruesel-card {
      min-width: 120px;
      flex-direction: column;
      height: 120px;
      flex: 1;
      transition: 0.2s;
      @include box-shadow;
      @include flex-box-center;
      background-color: white;
      border: none;
      margin: 5px;
      border-radius: 10px;
      .caruesel-icon {
        .fa-calendar {
          font-size: 30px;
        }
        position: relative;
        .caruesel-icon-num {
          position: absolute;
          @include flex-box-center;
          width: 100%;
          top: 6px;
          left: 0px;
          font-weight: bold;
        }
      }
      .caruesel-name {
        font-size: $t-min;
        font-weight: bold;
        color: $color-gray;
      }
      &.active {
        .fa-solid {
          color: $color-accent;
        }
        @include box-shadow-i;
        color: $color-accent;
        .caruesel-name {
          color: $color-accent;
        }
      }
      &:active {
        transform: scale(0.8);
        @include box-shadow-i;
        .fa-solid {
          color: $color-accent;
        }
        .caruesel-name {
          color: $color-accent;
        }
      }
    }
  }
}
