@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";
@use "../../../style/card_user.scss";

.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}


