<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="content-child">

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-animation" [@swichCard]>
        <div class="card-content">

          <button class="status-container">
            <div class="status-box m-2">
              <i class="fa-solid fa-person-circle-check accent" *ngIf="userInfo.checked === 1"></i>
              <i class="fa-solid fa-person-circle-exclamation gray" *ngIf="userInfo.checked === 0"></i>
              <div class="status-value" *ngIf="userInfo.agree_search === 1">Активне</div>
              <div class="status-value" *ngIf="!userInfo.agree_search || userInfo.agree_search === 0">Не активне</div>
              <div class="status-value" *ngIf="userInfo.house === 1 && userInfo.agree_search === 1">Б</div>
              <div class="status-value" *ngIf="userInfo.flat === 1 && userInfo.agree_search === 1">Кв</div>
              <div class="status-value" *ngIf="userInfo.room === 1 && userInfo.agree_search === 1">К</div>
              <div class="status-value" *ngIf="userInfo.woman === 1 && userInfo.agree_search === 1">W</div>
              <div class="status-value" *ngIf="userInfo.man === 1 && userInfo.agree_search === 1">M</div>
              <div class="status-value" *ngIf="userInfo.students === 1 && userInfo.agree_search === 1">S
              </div>
              <div class="status-value" *ngIf="userInfo.family === 1 && userInfo.agree_search === 1">F</div>
            </div>
            <div class="status-hover">
              <div class="status-hover-label">Допомога</div>
              <div class="status-hover-text t-c">

                <ul>
                  <li *ngIf="userInfo.checked === 1" class="status-hover-li">
                    <i class="fa-solid fa-person-circle-check accent"></i> - Ваш аккаунт
                    перевірений Адміністрацією
                  </li>
                  <li *ngIf="userInfo.checked === 0" class="status-hover-li">
                    <div class="status-value"><i class="fa-solid fa-person-circle-exclamation"></i></div> - Не
                    перевірено адміністрацією. Для того щоб ваш аккаунт
                    був підтверджений надайте посилання на ваші соціальні мережі та очікуйте підтвердження. Перші 1000
                    аккаунтів отримають галочку
                    безкоштовно!
                  </li>
                  <li *ngIf="userInfo.agree_search !== 1" class="status-hover-li">
                    <div class="status-value"><i class="fa-solid fa-person-hiking"></i></div> - Профіль орендаря
                    не активовано
                    <button class="btn bg-accent m-2" [routerLinkActive]="'active'"
                      [routerLink]="'/looking'">Налаштувати</button>
                  </li>
                </ul>

                <div *ngIf="userInfo.agree_search === 1">
                  <ul
                    *ngIf="userInfo.woman === 1 || userInfo.man === 1 || userInfo.students === 1 || userInfo.family === 1">
                    Пошук оселі для:
                    <li *ngIf="userInfo.woman === 1" class="status-hover-li">
                      <div class="status-value">W</div> - жінки
                    </li>
                    <li *ngIf="userInfo.man === 1" class="status-hover-li">
                      <div class="status-value">M</div> - чоловіка
                    </li>
                    <li *ngIf="userInfo.students === 1" class="status-hover-li">
                      <div class="status-value">S</div> - студента
                    </li>
                    <li *ngIf="userInfo.family === 1" class="status-hover-li">
                      <div class="status-value">F</div> - сім'ї
                    </li>
                  </ul>

                  <ul *ngIf="userInfo.house === 1 || userInfo.flat === 1 || userInfo.room === 1">
                    Пошук по типу оселі:
                    <li *ngIf="userInfo.house === 1" class="status-hover-li">
                      <div class="status-value">Б</div> - Будинок
                    </li>
                    <li *ngIf="userInfo.flat === 1" class="status-hover-li">
                      <div class="status-value">Кв</div> - Квартира
                    </li>
                    <li *ngIf="userInfo.room === 1" class="status-hover-li">
                      <div class="status-value">К</div> - Підійде кімната
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </button>

          <div class="copyMessage-box" *ngIf="isCopiedMessage">
            <div class="copyMessage-text">{{isCopiedMessage}}</div>
            <i class="fa-regular fa-copy"></i>
            <div class="t-lar">Discussio</div>
          </div>

          <div class="container-img">
            <button class="btn geer" [routerLink]="'/information-user'"><i class="fa-solid fa-gear"
                matTooltip="Налаштувати профіль"></i></button>
            <div class="wrapper-img">

              <ng-container *ngIf="userImg !== 'user_default.svg' && isLoadingImg">
                <img class="img-fluid" [src]="serverPathPhotoUser + userImg" alt="img">
              </ng-container>

              <ng-container *ngIf="userImg !== 'user_default.svg' && !isLoadingImg">
                <div class="img-fluid">
                  <div class="container-loader-mini">
                    <mat-spinner color="warn"></mat-spinner>
                    <img [src]="serverPathPhotoUser + userImg" (load)="isLoadingImg = true" hidden>
                    <div class="t-min bold gray mt-2">Завантаження фото</div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="!userImg || userImg === 'user_default.svg'">
                <img class="img-fluid" src="../../../../assets/user_default.svg" alt="img">
              </ng-container>

              <div class="panel-container">
                <div class="caruesel-container w-100">
                  <div class="carousel w-100">
                    <div class="slide">
                      <button class="slide-item" (click)="copyId()">
                        <div class="slide-item-box">
                          <div class="bold">{{userInfo.user_id}}</div>
                          <i class="fa-solid fa-fingerprint pl-2"></i>
                        </div>
                        <div class="slide-name">ID<br>користувача</div>
                      </button>

                      <button class="slide-item">
                        <div class="slide-item-box">
                          <div class="bold">{{ratingOwner}}</div>
                          <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="slide-name">Рейтинг <br> власника</div>
                      </button>

                      <button class="slide-item">
                        <div class="slide-item-box">
                          <div class="bold">{{ratingTenant}}</div>
                          <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="slide-name">Рейтинг <br> Орендаря</div>
                      </button>

                      <button class="slide-item" (click)="copyMail()" *ngIf="userInfo.mail">
                        <i class="fa-solid fa-at"></i>
                        <div class="slide-name">Пошта</div>
                      </button>

                      <button class="slide-item" (click)="copyTell()" *ngIf="userInfo.tell">
                        <i class="fa-solid fa-phone"></i>
                        <div class="slide-name">Номер</div>
                      </button>

                      <a class="slide-item" href="https://www.instagram.com/{{  userInfo.instagram }}"
                        *ngIf="userInfo.instagram">
                        <i class="fa-brands fa-instagram"></i>
                        <div class="slide-name">instagram</div>
                      </a>

                      <a class="slide-item" href="https://www.facebook.com//{{  userInfo.facebook }}"
                        *ngIf="userInfo.facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <div class="slide-name">facebook</div>
                      </a>

                      <a class="slide-item" href="https://t.me/{{  userInfo.telegram }}" *ngIf="userInfo.telegram">
                        <i class="fa-brands fa-telegram"></i>
                        <div class="slide-name">telegram</div>
                      </a>

                      <button class="slide-item" (click)="copyViber()" *ngIf="userInfo.viber">
                        <i class="fa-brands fa-viber"></i>
                        <div class="slide-name">viber</div>
                      </button>

                    </div>

                    <div class="slide">
                      <button class="slide-item" (click)="copyId()">
                        <div class="slide-item-box">
                          <div class="bold">{{userInfo.user_id}}</div>
                          <i class="fa-solid fa-fingerprint pl-2"></i>
                        </div>
                        <div class="slide-name">ID<br>користувача</div>
                      </button>

                      <button class="slide-item">
                        <div class="slide-item-box">
                          <div class="bold">{{ratingOwner}}</div>
                          <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="slide-name">Рейтинг <br> власника</div>
                      </button>

                      <button class="slide-item">
                        <div class="slide-item-box">
                          <div class="bold">{{ratingTenant}}</div>
                          <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="slide-name">Рейтинг <br> Орендаря</div>
                      </button>

                      <button class="slide-item" (click)="copyMail()" *ngIf="userInfo.mail">
                        <i class="fa-solid fa-at"></i>
                        <div class="slide-name">Пошта</div>
                      </button>

                      <button class="slide-item" (click)="copyTell()" *ngIf="userInfo.tell">
                        <i class="fa-solid fa-phone"></i>
                        <div class="slide-name">Номер</div>
                      </button>

                      <a class="slide-item" href="https://www.instagram.com/{{  userInfo.instagram }}"
                        *ngIf="userInfo.instagram">
                        <i class="fa-brands fa-instagram"></i>
                        <div class="slide-name">instagram</div>
                      </a>

                      <a class="slide-item" href="https://www.facebook.com//{{  userInfo.facebook }}"
                        *ngIf="userInfo.facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <div class="slide-name">facebook</div>
                      </a>

                      <a class="slide-item" href="https://t.me/{{  userInfo.telegram }}" *ngIf="userInfo.telegram">
                        <i class="fa-brands fa-telegram"></i>
                        <div class="slide-name">telegram</div>
                      </a>

                      <button class="slide-item" (click)="copyViber()" *ngIf="userInfo.viber">
                        <i class="fa-brands fa-viber"></i>
                        <div class="slide-name">viber</div>
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="flex-box border-bottom">
            <div class="flex-column p-2">
              <div class="t-lar bold">{{ userInfo.lastName }}</div>
              <div class="t-min gray">Прізвище</div>
            </div>
            <div class="flex-column p-2">
              <div class="t-lar bold">{{ userInfo.firstName }}</div>
              <div class="t-min gray">ім'я</div>
            </div>
            <div class="flex-column p-2">
              <div class="t-lar bold">{{ userInfo.surName }}</div>
              <div class="t-min gray">По батькові</div>
            </div>
          </div>

          <nav class="navbar">

            <a class="link-menu" [routerLink]="'/search-house'">
              <div class="flex-column w-80">
                <p class="link-menu-t2">Пошук</p>
                <p class="link-menu-t1">Оселі</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-magnifying-glass"></i></div>
            </a>

            <a class="link-menu" [routerLink]="'/user/preview'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Відображення</p>
                <p class="link-menu-t2">Перегляд</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-address-card"></i></div>
            </a>

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/looking'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Профіль</p>
                <p class="link-menu-t2">Орендаря</p>
              </div>
              <div class="link-icon w-20">
                <i class="fa-solid fa-person-hiking" *ngIf="!userInfo.agree_search || userInfo.agree_search === 0"></i>
                <i class="fa-solid fa-person-hiking fa-beat-fade active" *ngIf="userInfo.agree_search === 1"></i>
              </div>
            </a>

            <!-- <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/information-user'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Редагувати</p>
                <p class="link-menu-t2">Профіль</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-gears"></i></div>
            </a> -->

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/house-control/selection-house'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Управління</p>
                <p class="link-menu-t2">Оселею</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-house"></i></div>
            </a>

          </nav>

        </div>
      </div>
    </div>

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="card-animation bg-none" [@left2]>
        <div class="flex-column t-c">

          <div class="t-med">Профіль орендаря
            <span *ngIf="userInfo.agree_search === 1" class="bold accent">Активовано</span>
            <span *ngIf="!userInfo.agree_search || userInfo.agree_search === 0" class="bold">Вимкнено</span>
          </div>

          <div class="t-med" *ngIf="userInfo.agree_search === 1 && userInfo.date">Дата активації
            {{userInfo.date | date}} час {{userInfo.date | date: 'HH:mm:ss'}}
          </div>

          <div class="switch-container p-2">

            <div class="menu-box t-e hide-mobile" [routerLink]="'/house/house-control/'">
              <div class="menu-lable">Управління</div>
              <div class="menu-name">Оселею</div>
            </div>

            <div class="switch-btn-group">
              <button class="btn" [routerLink]="'/house/house-control/add-house'">
                <i class="fa-solid fa-house-chimney-medical"></i>
                <div class="t-min bold">Створення</div>
              </button>
            </div>

            <!-- <div class="switch-btn-group">
              <button class="btn" [ngClass]="{ 'active': indexPage === 1}" (click)="indexPage = 1">
                <i class="fa-solid fa-house-circle-check"></i>
                <div class="t-min bold">Вибір</div>
              </button>
            </div> -->

          </div>

          <div class="selection-housing w-100">
            <app-selection-housing></app-selection-housing>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
