@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.social-link-container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #cbcdcd;
  border-radius: 0 0px 20px 0;
  width: 96%;
  padding: 0 10px;
  align-items: center;

  .social-link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .social-link-icon {
    margin: 0;
    padding: 0 5px 0 5px;
  }

  .social-link-name {
    font-size: 12px;
  }
}

.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.card {
  @include box-shadow;
  display: flex;
  height: 650px;
  overflow: auto;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  @include s1-s3 {
    height: auto;
    overflow: visible;
  }
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.img-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px 20px 20px 0;
}

.fab {
  font-size: 25px;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.item-name {
  font-size: 25px;
  font-weight: 600;
}
.item-info {
  font-size: 14px;
  font-weight: 600;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.logo-fluid {
  height: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 1s;

  &:hover {
    transform: scale(1.2);
  }
}

.logo {
  height: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: auto;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.2);
  }
}



