@use "../../../../style/presets/" as *;

input {
  border: none;
  border-radius: 0;
  width: 70%;
  height: 30px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

ul {
  color: $color-accent;
  font-weight: 600;
  font-size: 12px;
  font-weight: 600;
}

li {
  color: $color-dark;
  font-size: 12px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
}

mat-label {
  font-size: 12px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}

.print-container {
  display: block;
}

.agree {
  width: 100%;
  background-color: $color-white;
  padding: 10px 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.title-group {
  display: flex;
}
.logo {
  width: 10em;
  height: 10em;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2em;
}
.accent {
  font-weight: 600;
}
.container-agree {
  display: flex;
  flex-direction: column;
}
.wrapper-group {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.agree-wrapper {
  width: 50%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
}

.item-agree {
  width: 100%;
  color: $color-accent;
  font-weight: 600;
  border-radius: 10px;
  padding: 2px;
  margin: 2px 5px;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input-box {
  display: flex;
  width: 100%;
  height: 40px !important;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0px 10px;
  position: relative;
}

.signature-box {
  display: flex;
  flex-wrap: wrap;
}

.input-box-signature {
  display: flex;
  width: 100%;
  height: 40px !important;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0px 10px;
  position: relative;
}

.signature {
  color: rgb(54, 54, 54);
  width: 30%;
  height: 30px;
  border-left: 1px solid black;
  padding: 0px 10px;
  font-size: 8px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.item-description-agree {
  color: $color-dark;
}

.about {
  width: 100%;
  min-height: 200px;
  border: 1px solid $color-gray;
}
