@use "../../../../style/input.scss";
@use "../../../../style/circle.scss";
@use "../../../../style/search/search.term.scss";
@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;


.param-value {
  display: flex;
  justify-content: center;
  min-width: 60px;
  .fa-solid,
  .fa-regular {
    font-size: 16px;
    padding-right: 5px;
  }
}

.content {
  margin: 0;
  justify-content: space-around;
  @include s3-s6-max {
    height: calc(100vh - 80px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include s1-s3 {
    height: calc(100vh - 80px - 60px - 7vh);
    overflow: auto;
  }
}

.toggle-group-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
