<div class="card-container">

  <div class="card-box col-lg-8 col-md-12 col-sm-12 col-12">
    <div class="card-group p-3" *ngFor="let subscriber of subscribers" cdkScrollable>
      <div class="card-wrapper  col-lg-12 col-md-5 col-sm-6 col-12 m-2">

        <div class="one card col-lg-8 col-md-5 col-sm-6 col-12">
          <div class="card-img-group">
            <div class="card-img-container">
              <img class="card-img-top" [src]="subscriber.photoUrl" alt="Card image cap">
            </div>
            <div class="card-social-link ">
              <a href="{{ subscriber.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
              <a href="{{ subscriber.telegram }}"><i class="fab fa-brands fa-telegram"></i></a>
              <a href="{{ subscriber.viber }}"><i class="fab fa-brands fa-viber"></i></a>
              <a href="{{ subscriber.facebook }}"><i class="fab fa-brands fa-facebook"></i></a>
            </div>
          </div>

          <div class="card-body">
            <h2 class="card-title">{{subscriber.name}}</h2>
            <div class="card-links">
              <a href="#" class="card-link"><span>Запросити Документи</span><i class="fa-solid fa-passport"></i></a>
              <a href="#" class="card-link"><span>Запросити реквізити</span><i
                  class="fa-solid fa-money-bill-trend-up"></i></a>
              <a href="#" class="card-link"><span>Переглянути угоду</span><i class="fa-solid fa-file-contract"></i></a>
            </div>
            <div class="card-buttons">
              <button class="card-button btn m-1" (click)="toggleChat()" [hidden]="!isAccessClosed">Написати<i class="fa-solid fa-message"></i></button>
              <button class="card-button btn m-1" (click)="toggleAccess()" [hidden]="!isChatClosed">Доступ</button>
            </div>


          </div>
        </div>
        <div class="two col-lg-4 col-md-5 col-sm-6 col-12" [hidden]="isAccessClosed">
          <div class="container-checkbox p-2">
            <button class="btn m-1" (click)="toggleAccess()">Закрити</button>

            <button class="btn m-1" (click)="removeSubscriber(subscriber)"><i
                class="fa-solid fa-user-xmark"></i></button>

            <h3>Дозволити</h3>

            <div class="content">
              <div class="content-group">
                <label class="checkBox">
                  <input id="students" type="checkbox" value="1">
                  <div class="transition"></div>
                </label>
                <span class="checkBox-span">Перегляд комунальних послуг</span>
              </div>
              <p class="descr">Перегляд комунальних послуг</p>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="woman" type="checkbox" value="1">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Вносити показники</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="man" type="checkbox" value="1">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Додавати/видаляти мешканців</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="family" type="checkbox" value="1">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Замовлення послуг</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="family" type="checkbox" value="1">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Замовлення послуг</span>
              <i></i>
            </div>
          </div>
        </div>


      </div>
      <div class="chat-container card col-lg-12 col-md-5 col-sm-6 col-12 m-2" [hidden]="isChatClosed">
        <div class="chat-header">
          <h3>Назва чату</h3>
          <button class="btn m-1" (click)="toggleChat()">Закрити</button>
        </div>
        <div class="chat-messages">
          <div class="message">
            <img class="avatar" src="../../../../assets/photo1.jpg" alt="Фото користувача">
            <div class="message-content">
              <h4>Ім'я користувача</h4>
              <p>Текст повідомлення</p>
            </div>
          </div>
        </div>
        <div class="chat-input">
          <input type="text" placeholder="Напишіть повідомлення">
          <button class="btn m-1">Надіслати</button>
        </div>
      </div>

    </div>
  </div>

  <div class="card-info col-lg-4 col-md-12 col-sm-12 col-12">
    <div class="card-group p-2">
      <h4>Дискусія:</h4>
      <div class="card-info-title p-2">
        <p>Тут Ви зможете бачити користувачів яких ви розглядаєте як орендаторів на вашу оселю, Ви можете спілкуватись
          по умовам оренди оселі, формувати угоду, та надати доступ до оселі орендатору, для того щоб він зміг
          користуватись функціями перегляду комунальних послуг, інформації про оселю, переглядом послуг які діють в
          цій оселі і так далі.</p>
      </div>
      <div class="card-info-group">
        <div class="card-info-content">
          <p>Що робить кнопка ДИСКУСІЯ?</p>
        </div>
        <button class="card-info-button col-2 m-3 info" type="button" data-bs-toggle="collapse"
          data-bs-target="#discussionButton" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-info"></i>
        </button>
      </div>

      <div class="collapse" id="discussionButton">
        <div class="card-body-cast">
          <p class="text-info">Вона дозволяє ухвалити користувача для подальшого діалогу між вами в меню ДИСКУСІЯ. В
            меню дискусія більше інформації про її можливості.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
