@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.fa-regular {
  font-size: 30px;
}

.message-box {
  display: flex;
  width: 40vh;
  flex-direction: column;
  align-items: stretch;
  @include s1-s3 {
    width: 35vh;
  }
}

h3 {
  text-align: center;
}

.accent {
  font-weight: 600;
}

.btn {
  width: 100%;
}

.text1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.text {
  font-size: 14px;
  text-align: center;
  color: $color-gray;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.accent {
  text-align: center;
  color: $color-accent;
  font-weight: 600;
  font-size: 22px;
}
