<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>

  <div class="hide-mobile">
    <div class="card-container">
      <aside class="search-results col-lg-6 col-md-6 col-sm-12 col-12" cdkScrollable *ngIf="filteredUsers">
        <div class="card-wrapper" *ngFor="let user of filteredUsers; let i = index"
          [ngClass]="{ 'selected': selectedUser === user }" (click)="selectUser(user)"
          [style.animation-delay.ms]="i * 100">
          <a class="card-mini m-2" [class.selected]="selectedUser === user" [@slideAnimation]>
            <div class="card-img-container">
              <img class="card-img-top" [src]="serverPathPhotoUser + (user.img ? user.img : 'user_default.svg')"
                alt="User Image">
            </div>
            <div class="card-title">
              <div class="accent">{{ user.lastName }}</div>
              <div class="accent">{{ user.firstName }}</div>

              <div class="item-deskr" *ngIf="user.house && user.house !== null">
                <span class="item-deskr">Будинок</span>
              </div>

              <div class="item-deskr" *ngIf="user.flat && user.flat !== null">
                <span class="item-deskr">Квартира</span>
              </div>

              <div class="item-deskr" *ngIf="user.room && user.room !== null">
                <span class="item-deskr">Кімната</span>
              </div>
            </div>

            <div class="deskr-box">
              <div class="item-characteristics-1" *ngIf="user.years && user.years !== null">Р:<span class="accent">
                  {{ user.years }}</span> </div>

              <div class="item-characteristics-1" *ngIf="user.mounths && user.mounths !== null">
                М:<span class="accent">{{ user.mounths }}</span> </div>

              <div class="item-characteristics-1" *ngIf="user.weeks && user.weeks !== null">
                Т:<span class="accent">{{ user.weeks }}</span> </div>

              <div class="item-characteristics-1" *ngIf="user.days && user.days !== null">Д:<span class="accent">
                  {{ user.days }}</span> </div>
            </div>
          </a>
        </div>

      </aside>

      <div class="search-results-detail col-lg-6 col-md-6 col-sm-12 col-12">

        <div class="card card-selected" *ngIf="!card_info">

          <div class="container-sticker">
            <div class="status-container">
              <div class="status">Інф.</div>
              <div class="status" *ngIf="statusMessage === 'Ви успішно підписались'">Підписані</div>
              <div class="status" *ngIf="statusMessage === 'Ви в дискусії'">Discussiя</div>
            </div>
            <div class="info-menu">
              <div class="info-menu-text">
                <div *ngIf="selectedUser?.data">Дата останього оновлення оголошення {{selectedUser?.data | date}}
                  час {{selectedUser?.data | date: 'HH:mm:ss'}}</div>
                <div *ngIf="statusMessage === 'Ви успішно підписались'">Ви вже підписані на цього орендара.</div>
                <div *ngIf="statusMessage === 'Ви в дискусії'">Ви вже в Дискусії з орендарем.</div>
              </div>
            </div>
          </div>

          <div class="img-container">
            <div class="img-wrapper">
              <img class="img-fluid rounded" [src]="serverPathPhotoUser + (selectedUser?.img || 'user_default.svg')"
                alt="User Image">
            </div>

            <div class="user-group">
              <div class="user-group-name">
                <div class="user-sup-name">Прізвище: </div>
                <div class="user-name">{{ selectedUser?.lastName || '?' }}</div>
              </div>

              <div class="user-group-name">
                <div class="user-sup-name">Ім'я : </div>
                <div class="user-name">{{ selectedUser?.firstName || '?' }}</div>
              </div>

              <div class="user-group-name" *ngIf="selectedUser?.purpose_rent !== null">
                <div class="user-sup-name">Мета оренди: </div>
                <div class="user-name">{{ purpose[selectedUser.purpose_rent] }}</div>
              </div>

              <div class="user-sup-name">Термін оренди: </div>
            </div>
          </div>

          <div class="date-container">
            <div class="date-box" *ngIf="selectedUser.days && selectedUser.days !== null">
              <div class="date">{{ selectedUser.days }}</div>
              <div class="date-name">Дні</div>
            </div>
            <div class="date-box" *ngIf="selectedUser.weeks && selectedUser.weeks !== null">
              <div class="date">{{ selectedUser.weeks }}</div>
              <div class="date-name">Тижні</div>
            </div>
            <div class="date-box" *ngIf="selectedUser.mounths && selectedUser.mounths !== null">
              <div class="date">{{ selectedUser.mounths }}</div>
              <div class="date-name">Місяці</div>
            </div>
            <div class="date-box" *ngIf="selectedUser.years && selectedUser.years !== null">
              <div class="date">{{ selectedUser.years }}</div>
              <div class="date-name">Роки</div>
            </div>
            <div class="btn-box">
              <button class="btn" (click)="card_info = true"><i class="fa-solid fa-info"></i></button>
              <div class="btn-name">Детальніше</div>
            </div>
          </div>

          <div class="card-btn-container">

            <div class="item-box">
              <button mat-raised-button class="btn link"
                [ngClass]="{'unSubscribed': statusMessage === 'Ви успішно відписались', 'subscribed': statusMessage === 'Ви успішно підписались', 'discussion': statusMessage === 'Ви в дискусії'}"
                (click)="onSubmitSbs()">
                <i class="fa-regular fa-heart"
                  *ngIf="statusMessage !== 'Ви успішно підписались' && statusMessage !== 'Ви в дискусії'"></i>
                <i class="fa-solid fa-heart orange" *ngIf="statusMessage === 'Ви успішно підписались'"></i>
                <i class="fa-solid fa-d" *ngIf="statusMessage === 'Ви в дискусії'"></i>
              </button>
            </div>

            <div class="item-box m-1">
              <button mat-raised-button class="btn link" (click)="onPrevCard()">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
            </div>

            <div class="item-box m-1">
              <button mat-raised-button class="btn link" (click)="onNextCard()">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>

          </div>

          <div class="p-2">

            <div class="title-group">
              <div class="title-selected">Область : </div>
              <div class="title-selected-accent">{{ selectedUser?.region || '?' }}</div>
            </div>

            <div class="title-group">
              <div class="title-selected">Місто : </div>
              <div class="title-selected-accent">{{ selectedUser?.city || '?' }}</div>
            </div>

            <div class="title-group" *ngIf="selectedUser?.area_of || selectedUser?.area_to">
              <div class="title-selected">Площа : </div>
              <div class="title-selected-accent" *ngIf="selectedUser?.area_of">від {{ selectedUser?.area_of || '?'
                }}м²
              </div>
              <div class="title-selected-accent" *ngIf="selectedUser?.area_to">до {{ selectedUser?.area_to || '?'
                }}м²
              </div>
            </div>

            <div class="title-group">
              <div class="title-selected">Бюджет : </div>
              <div class="title-selected-accent">{{ selectedUser?.price_of | number }}₴ - {{ selectedUser?.price_to
                |
                number }}₴</div>
            </div>

          </div>

        </div>

        <div class="card p-2 card-selected" *ngIf="card_info && selectedUser">

          <div class="btn-container">
            <div class="btn-box">
              <button class="btn" (click)="card_info = false"><i class="fa-regular fa-circle-xmark"></i></button>
              <div class="btn-name">Основна</div>
            </div>
          </div>

          <div class="container-sticker">

            <div class="status-container">
              <div class="status" *ngIf="selectedUser.house === 1">Б</div>
              <div class="status" *ngIf="selectedUser.flat === 1">Кв</div>
              <div class="status" *ngIf="selectedUser.room === 1">К</div>
              <div class="status" *ngIf="selectedUser.woman === 1">W</div>
              <div class="status" *ngIf="selectedUser.man === 1">M</div>
              <div class="status" *ngIf="selectedUser.students === 1">S</div>
              <div class="status" *ngIf="selectedUser.family === 1">F</div>
            </div>

            <div class="info-menu">
              <div class="accent bold">Допомога</div>
              <div class="info-menu-text">
                <ul
                  *ngIf="selectedUser.woman === 1 || selectedUser.man === 1 || selectedUser.students === 1 || selectedUser.family === 1">
                  Орендар шукає оселю для:
                  <li *ngIf="selectedUser.woman === 1" class="li-group">
                    <div class="status status-small">W</div> - жінки
                  </li>
                  <li *ngIf="selectedUser.man === 1" class="li-group">
                    <div class="status status-small">M</div> - чоловіка
                  </li>
                  <li *ngIf="selectedUser.students === 1" class="li-group">
                    <div class="status status-small">S</div> - студента
                  </li>
                  <li *ngIf="selectedUser.family === 1" class="li-group">
                    <div class="status status-small">F</div> - сім'ї
                  </li>
                </ul>

                <ul *ngIf="selectedUser.house === 1 || selectedUser.flat === 1 || selectedUser.room === 1">
                  Орендар розглядає тип оселі:
                  <li *ngIf="selectedUser.house === 1" class="li-group">
                    <div class="status status-small">Б</div> - Будинок
                  </li>
                  <li *ngIf="selectedUser.flat === 1" class="li-group">
                    <div class="status status-small">Кв</div> - Квартира
                  </li>
                  <li *ngIf="selectedUser.room === 1" class="li-group">
                    <div class="status status-small">К</div> - Підійде кімната
                  </li>
                </ul>

              </div>
            </div>

          </div>

          <div class="param-box" *ngIf="selectedUser.region || selectedUser.city">
            <div class="param-label">Шукаю оселю в :</div>
            <div class="param-group">
              <div class="param-field" *ngIf="selectedUser.region">Область :
                <span class="param-value">{{ selectedUser.region }}</span>
              </div>
              <div class="param-field" *ngIf="selectedUser.city">Місто :
                <span class="param-value">{{ selectedUser.city }}</span>
              </div>
            </div>
          </div>

          <div class="param-box">
            <div class="param-label">Мої пошукові параметри оселі:</div>

            <div class="param-group">

              <div class="param-field">
                <div *ngIf="selectedUser?.area_of || selectedUser.area_to"> Площа:
                  <span class="param-value" *ngIf="selectedUser.area_of">від {{ selectedUser.area_of || '?' }}м²</span>
                  <span class="param-value" *ngIf="selectedUser.area_to">до {{ selectedUser.area_to || '?' }}м²</span>
                </div>
                <div *ngIf="selectedUser?.area_of === '' && selectedUser.area_to === ''">Площа: <span
                    class="param-value"> Неважливо </span></div>
              </div>

              <div class="param-field" *ngIf="selectedUser.rooms_of || selectedUser.rooms_to">
                <div *ngIf="selectedUser.rooms_of !== 0 || selectedUser.rooms_to !== 6 "> Кіл. кімнат:
                  <span class="param-value" *ngIf="selectedUser.rooms_of !== 0 && selectedUser.rooms_of !== null">від {{
                    selectedUser.rooms_of}}</span>
                  <span class="param-value" *ngIf="selectedUser.rooms_to !== 6">до {{ selectedUser.rooms_to}}</span>
                </div>
                <div *ngIf="selectedUser.rooms_of === 0 && selectedUser.rooms_to === 6"> Кіл. кімнат: неважливо </div>
              </div>

              <div class="param-field" *ngIf="selectedUser?.repair_status">Стан оселі:
                <span class="param-value">{{ selectedUser.repair_status }}</span>
              </div>

              <div class="param-field" *ngIf="selectedUser.balcony">
                Тип балкону:<span class="param-value">{{ selectedUser.balcony }}</span> </div>
            </div>
          </div>

          <div class="param-box"
            *ngIf="selectedUser.distance_metro || selectedUser.distance_stop || selectedUser.distance_shop || selectedUser.distance_green || selectedUser.distance_parking">
            <div class="param-label">Інфраструктура в доступі:</div>

            <div class="param-group">
              <div class="param-field"
                *ngIf="selectedUser?.distance_metro !== 0 && selectedUser?.distance_metro !== null">
                Метро до:<span class="param-value">{{ aboutDistance[selectedUser.distance_metro] }}</span> </div>
              <div class="param-field"
                *ngIf="selectedUser?.distance_stop !== 0 && selectedUser?.distance_stop !== null">
                Зупинка до:<span class="param-value">{{ aboutDistance[selectedUser.distance_stop] }}</span> </div>
              <div class="param-field"
                *ngIf="selectedUser?.distance_shop !== 0 && selectedUser?.distance_shop !== null">
                Маркет до:<span class="param-value">{{ aboutDistance[selectedUser.distance_shop] }}</span> </div>
              <div class="param-field"
                *ngIf="selectedUser?.distance_green !== 0 && selectedUser?.distance_green !== null">
                Парк до:<span class="param-value">{{ aboutDistance[selectedUser.distance_green] }}</span> </div>
              <div class="param-field"
                *ngIf="selectedUser?.distance_parking !== 0 && selectedUser?.distance_parking !== null">
                Паркінг:<span class="param-value">{{ aboutDistance[selectedUser.distance_parking] }}</span> </div>
            </div>
          </div>

          <div class="param-box" *ngIf="selectedUser.bunker || selectedUser.animals || selectedUser.purpose_rent">
            <div class="param-label">Особливості:</div>
            <div class="param-group">

              <div class="param-field" *ngIf="selectedUser.purpose_rent">
                Мета оренди:<span class="param-value">{{ purpose[selectedUser.purpose_rent] }}</span> </div>

              <div class="param-field" *ngIf="selectedUser.bunker">
                Наявність укриття:<span class="param-value">{{ selectedUser.bunker }}</span> </div>

              <div class="param-field" *ngIf="selectedUser.animals">
                <div *ngIf="selectedUser.animals !== 'Неважливо'">
                  Домашні улюбленці: <span class="param-value">{{ animals[selectedUser.animals] }} </span> </div>
                <div *ngIf="selectedUser.animals === 'Неважливо'">Домашні улюбленці: <span class="param-value">
                    Наявність чи відсутність тварин не вказано.</span></div>
              </div>

            </div>
          </div>

          <div class="param-box" *ngIf="selectedUser.flat || selectedUser.house || selectedUser.room">
            <div class="param-label">Розглядаю тип оселі:</div>
            <div class="param-group">
              <div class="param-field" *ngIf="selectedUser?.flat && selectedUser?.flat !== null"><span
                  class="param-value">Квартира</span> </div>
              <div class="param-field" *ngIf="selectedUser?.house && selectedUser?.house !== null"><span
                  class="param-value">Будинок</span> </div>
              <div class="param-field" *ngIf="selectedUser?.room && selectedUser?.room !== null"><span
                  class="param-value">Кімната</span> </div>
            </div>
          </div>

          <div class="param-box" *ngIf="selectedUser.room !== 0">
            <div class="param-label">Розглядаю сусіда по оселі:</div>
            <div class="param-group">
              <div class="param-field" *ngIf="selectedUser.looking_man">
                <span class="param-value">Чоловік</span>
              </div>
              <div class="param-field" *ngIf="selectedUser.looking_woman"><span class="param-value">Жінка</span> </div>
              <div class="param-field" *ngIf="!selectedUser.looking_woman && !selectedUser.looking_man"><span
                  class="param-value">Неважливо який сусід по оселі</span> </div>
            </div>
          </div>

          <div class="param-box"
            *ngIf="selectedUser?.years || selectedUser?.mounths || selectedUser?.weeks || selectedUser?.days">
            <div class="param-label">Орієнтовний термін оренди:</div>
            <div class="param-group">

              <div class="param-field" *ngIf="selectedUser?.years && selectedUser?.years !== null">Роки:<span
                  class="param-value">{{ selectedUser.years }}</span></div>

              <div class="param-field" *ngIf="selectedUser?.mounths && selectedUser?.mounths !== null">Місяці:
                <span class="param-value">{{ selectedUser.mounths }}</span>
              </div>

              <div class="param-field" *ngIf="selectedUser?.weeks && selectedUser?.weeks !== null">Тижні:<span
                  class="param-value">{{ selectedUser.weeks }}</span></div>

              <div class="param-field" *ngIf="selectedUser?.days && selectedUser?.days !== null">Дні:<span
                  class="param-value">{{ selectedUser.days }}</span></div>
            </div>
          </div>

          <div class="param-box" *ngIf="selectedUser.about">
            <div class="param-label">Додаткова інформація:</div>
            <div class="param-field">
              <span class="param-value">{{selectedUser.about}}</span>
            </div>
          </div>


        </div>

      </div>

    </div>
  </div>

  <div class="hide-pc">
    <div class="card-container">
      <aside class="search-results col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="indexPage === 1 && filteredUsers">
        <div class="card-wrapper" *ngFor="let user of filteredUsers; let i = index"
          [ngClass]="{ 'selected': selectedUser === user }" (click)="selectUser(user)"
          [style.animation-delay.ms]="i * 100">
          <a class="card-mini m-2" [class.selected]="selectedUser === user" [@slideAnimation]>
            <div class="card-img-container">
              <img class="card-img-top" [src]="serverPathPhotoUser + (user.img ? user.img : 'user_default.svg')"
                alt="User Image">
            </div>
            <div class="card-title">
              <div class="accent">{{ user.lastName }}</div>
              <div class="accent">{{ user.firstName }}</div>

              <div class="item-deskr" *ngIf="user.house && user.house !== null">
                <span class="item-deskr">Будинок</span>
              </div>

              <div class="item-deskr" *ngIf="user.flat && user.flat !== null">
                <span class="item-deskr">Квартира</span>
              </div>

              <div class="item-deskr" *ngIf="user.room && user.room !== null">
                <span class="item-deskr">Кімната</span>
              </div>
            </div>

            <div class="deskr-box">
              <div class="item-characteristics-1" *ngIf="user.years && user.years !== null">Р:<span class="accent">
                  {{ user.years }}</span> </div>

              <div class="item-characteristics-1" *ngIf="user.mounths && user.mounths !== null">
                М:<span class="accent">{{ user.mounths }}</span> </div>

              <div class="item-characteristics-1" *ngIf="user.weeks && user.weeks !== null">
                Т:<span class="accent">{{ user.weeks }}</span> </div>

              <div class="item-characteristics-1" *ngIf="user.days && user.days !== null">Д:<span class="accent">
                  {{ user.days }}</span> </div>
            </div>
          </a>
        </div>

      </aside>

      <div class="mob-100vh col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="indexPage === 2 && filteredUsers">

        <div class="card card-selected">

          <div class="container-sticker">
            <div class="status-container">
              <div class="status">Інф.</div>
              <div class="status" *ngIf="statusMessage === 'Ви успішно підписались'">Підписані</div>
              <div class="status" *ngIf="statusMessage === 'Ви в дискусії'">Discussiя</div>
            </div>
            <div class="info-menu">
              <div class="info-menu-text">
                <div *ngIf="selectedUser?.data">Дата останього оновлення оголошення {{selectedUser?.data | date}}
                  час {{selectedUser?.data | date: 'HH:mm:ss'}}</div>
                <div *ngIf="statusMessage === 'Ви успішно підписались'">Ви вже підписані на цього орендара.</div>
                <div *ngIf="statusMessage === 'Ви в дискусії'">Ви вже в Дискусії з орендарем.</div>
              </div>
            </div>
          </div>

          <div class="img-container">
            <div class="img-wrapper">
              <img class="img-fluid" [src]="serverPathPhotoUser + (selectedUser?.img || 'user_default.svg')"
                alt="User Image">
            </div>

            <div class="user-group p-1">
              <div class="user-group-name">
                <div class="user-sup-name">Прізвище : </div>
                <div class="user-name">{{ selectedUser?.lastName || '?' }}</div>
              </div>

              <div class="user-group-name">
                <div class="user-sup-name">Ім'я : </div>
                <div class="user-name">{{ selectedUser?.firstName || '?' }}</div>
              </div>

              <div class="user-group-name" *ngIf="selectedUser?.purpose_rent !== null">
                <div class="user-sup-name">Мета оренди: </div>
                <div class="user-name">{{ purpose[selectedUser.purpose_rent] }}</div>
              </div>

              <div class="user-sup-name">Термін оренди: </div>

            </div>
          </div>

          <div class="btn-container">
            <div class="date-box" *ngIf="selectedUser.days && selectedUser.days !== null">
              <div class="date">{{ selectedUser.days }}</div>
              <div class="date-name">Дні</div>
            </div>
            <div class="date-box" *ngIf="selectedUser.weeks && selectedUser.weeks !== null">
              <div class="date">{{ selectedUser.weeks }}</div>
              <div class="date-name">Тижні</div>
            </div>
            <div class="date-box" *ngIf="selectedUser.mounths && selectedUser.mounths !== null">
              <div class="date">{{ selectedUser.mounths }}</div>
              <div class="date-name">Місяці</div>
            </div>
            <div class="date-box" *ngIf="selectedUser.years && selectedUser.years !== null">
              <div class="date">{{ selectedUser.years }}</div>
              <div class="date-name">Роки</div>
            </div>
          </div>

          <div class="card-btn-container">

            <div class="item-box m-1">
              <button mat-raised-button class="btn link" (click)="indexPage = 1">
                <i class="fa-solid fa-list"></i>
              </button>
            </div>

            <div class="item-box">
              <button mat-raised-button class="btn link"
                [ngClass]="{'unSubscribed': statusMessage === 'Ви успішно відписались', 'subscribed': statusMessage === 'Ви успішно підписались', 'discussion': statusMessage === 'Ви в дискусії'}"
                (click)="onSubmitSbs()">
                <i class="fa-regular fa-heart"
                  *ngIf="statusMessage !== 'Ви успішно підписались' && statusMessage !== 'Ви в дискусії'"></i>
                <i class="fa-solid fa-heart orange" *ngIf="statusMessage === 'Ви успішно підписались'"></i>
                <i class="fa-solid fa-d" *ngIf="statusMessage === 'Ви в дискусії'"></i>
              </button>
            </div>

            <div class="item-box m-1">
              <button mat-raised-button class="btn link" (click)="onPrevCard()">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
            </div>

            <div class="item-box m-1">
              <button mat-raised-button class="btn link" (click)="onNextCard()">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>

          </div>

          <div class="p-2">

            <div class="title-group">
              <div class="title-selected">Область : </div>
              <div class="title-selected-accent">{{ selectedUser?.region || '?' }}</div>
            </div>

            <div class="title-group">
              <div class="title-selected">Місто : </div>
              <div class="title-selected-accent">{{ selectedUser?.city || '?' }}</div>
            </div>

            <div class="title-group" *ngIf="selectedUser?.area_of || selectedUser?.area_to">
              <div class="title-selected">Площа : </div>
              <div class="title-selected-accent" *ngIf="selectedUser?.area_of">від {{ selectedUser?.area_of || '?'
                }}м²
              </div>
              <div class="title-selected-accent" *ngIf="selectedUser?.area_to">до {{ selectedUser?.area_to || '?' }}м²
              </div>
            </div>

            <div class="title-group">
              <div class="title-selected">Бюджет : </div>
              <div class="title-selected-accent">{{ selectedUser?.price_of | number }}₴ - {{ selectedUser?.price_to |
                number }}₴</div>
            </div>

          </div>

        </div>

        <div class="card card-selected p-2 pt-5">

          <div class="container-sticker">

            <div class="status-container">
              <div class="status" *ngIf="selectedUser.house === 1">Б</div>
              <div class="status" *ngIf="selectedUser.flat === 1">Кв</div>
              <div class="status" *ngIf="selectedUser.room === 1">К</div>
              <div class="status" *ngIf="selectedUser.woman === 1">W</div>
              <div class="status" *ngIf="selectedUser.man === 1">M</div>
              <div class="status" *ngIf="selectedUser.students === 1">S</div>
              <div class="status" *ngIf="selectedUser.family === 1">F</div>
            </div>

            <div class="info-menu">
              <div class="accent bold">Допомога</div>
              <div class="info-menu-text">
                <ul
                  *ngIf="selectedUser.woman === 1 || selectedUser.man === 1 || selectedUser.students === 1 || selectedUser.family === 1">
                  Орендар шукає оселю для:
                  <li *ngIf="selectedUser.woman === 1" class="li-group">
                    <div class="status status-small">W</div> - жінки
                  </li>
                  <li *ngIf="selectedUser.man === 1" class="li-group">
                    <div class="status status-small">M</div> - чоловіка
                  </li>
                  <li *ngIf="selectedUser.students === 1" class="li-group">
                    <div class="status status-small">S</div> - студента
                  </li>
                  <li *ngIf="selectedUser.family === 1" class="li-group">
                    <div class="status status-small">F</div> - сім'ї
                  </li>
                </ul>

                <ul *ngIf="selectedUser.house === 1 || selectedUser.flat === 1 || selectedUser.room === 1">
                  Орендар розглядає тип оселі:
                  <li *ngIf="selectedUser.house === 1" class="li-group">
                    <div class="status status-small">Б</div> - Будинок
                  </li>
                  <li *ngIf="selectedUser.flat === 1" class="li-group">
                    <div class="status status-small">Кв</div> - Квартира
                  </li>
                  <li *ngIf="selectedUser.room === 1" class="li-group">
                    <div class="status status-small">К</div> - Підійде кімната
                  </li>
                </ul>

              </div>
            </div>

          </div>

          <div class="characteristics">
            <div class="characteristics" *ngIf="selectedUser.region || selectedUser.city">
              <div class="characteristics-label">Пошукові параметри :</div>
              <div class="characteristics-group">
                <div class="item-characteristics" *ngIf="selectedUser.region">Область :
                  <span class="item">{{ selectedUser.region }}</span>
                </div>
                <div class="item-characteristics" *ngIf="selectedUser.city">Місто :
                  <span class="item">{{ selectedUser.city }}</span>
                </div>
              </div>
            </div>

            <div class="characteristics-group">

              <div class="item-characteristics" *ngIf="selectedUser.area_of || selectedUser.area_to">
                Площа:
                <span class="item" *ngIf="selectedUser.area_of">від {{ selectedUser.area_of || '?' }}м²</span>
                <span class="item" *ngIf="selectedUser.area_to">до {{ selectedUser.area_to || '?' }}м²</span>
              </div>

              <div class="item-characteristics" *ngIf="selectedUser.area_of || selectedUser.area_to">
                Кіл. кімнат:
                <span class="item" *ngIf="selectedUser?.rooms_of !== 0 && selectedUser?.rooms_of !== null">від {{
                  selectedUser?.rooms_of}}</span>
                <span class="item" *ngIf="selectedUser?.rooms_to !== 0 && selectedUser?.rooms_to !== null">до {{
                  selectedUser?.rooms_to}}</span>
              </div>

              <div class="item-characteristics" *ngIf="selectedUser.repair_status">Стан оселі:
                <span class="item">{{ selectedUser.repair_status }}</span>
              </div>
              <div class="item-characteristics" *ngIf="selectedUser.balcony">
                Тип
                балкону:<span class="item">{{ selectedUser.balcony }}</span> </div>
            </div>
          </div>

          <div class="characteristics"
            *ngIf="selectedUser.distance_metro || selectedUser.distance_stop || selectedUser.distance_shop || selectedUser.distance_green || selectedUser.distance_parking">
            <div class="characteristics-label">Інфраструктура:</div>

            <div class="characteristics-group">
              <div class="item-characteristics"
                *ngIf="selectedUser.distance_metro !== 0 && selectedUser.distance_metro !== null">
                Метро
                до:<span class="item">{{ aboutDistance[selectedUser.distance_metro] }}</span> </div>
              <div class="item-characteristics"
                *ngIf="selectedUser.distance_stop !== 0 && selectedUser.distance_stop !== null">
                Зупинка
                до:<span class="item">{{ aboutDistance[selectedUser.distance_stop] }}</span> </div>
              <div class="item-characteristics"
                *ngIf="selectedUser.distance_shop !== 0 && selectedUser.distance_shop !== null">
                Маркет
                до:<span class="item">{{ aboutDistance[selectedUser.distance_shop] }}</span> </div>
              <div class="item-characteristics"
                *ngIf="selectedUser.distance_green !== 0 && selectedUser.distance_green !== null">
                Парк
                до:<span class="item">{{ aboutDistance[selectedUser.distance_green] }}</span> </div>
              <div class="item-characteristics"
                *ngIf="selectedUser.distance_parking !== 0 && selectedUser.distance_parking !== null">
                Паркінг:<span class="item">{{ aboutDistance[selectedUser.distance_parking] }}</span> </div>
            </div>
          </div>

          <div class="characteristics" *ngIf="selectedUser.bunker || selectedUser.animals">
            <div class="characteristics-label">Особливості:</div>
            <div class="characteristics-group">
              <div class="item-characteristics" *ngIf="selectedUser.bunker">
                Наявність укриття:<span class="item">{{ selectedUser.bunker }}</span> </div>

              <div class="item-characteristics" *ngIf="selectedUser.animals">
                <div *ngIf="selectedUser.animals !== 'Неважливо'">
                  Домашні улюбленці: <span class="item">{{ animals[selectedUser.animals] }} </span> </div>
                <div *ngIf="selectedUser.animals === 'Неважливо'">Домашні улюбленці: <span class="item"> Наявність чи
                    відсутність
                    тварин не вказано.</span></div>
              </div>

            </div>
          </div>

          <div class="characteristics" *ngIf="selectedUser.looking_woman || selectedUser.looking_man">
            <div class="characteristics-label">Розглядаю сусіда по оселі:</div>
            <div class="characteristics-group">
              <div class="item-characteristics" *ngIf="selectedUser.looking_man && selectedUser.looking_man !== null">
                <span class="item">Чоловік</span>
              </div>
              <div class="item-characteristics"
                *ngIf="selectedUser.looking_woman && selectedUser.looking_woman !== null">
                <span class="item">Жінка</span>
              </div>
            </div>
          </div>

          <div class="characteristics"
            *ngIf="selectedUser.years || selectedUser.mounths || selectedUser.weeks || selectedUser.days">
            <div class="characteristics-label">Орієнтовний термін оренди:</div>
            <div class="characteristics-group">

              <div class="item-characteristics" *ngIf="selectedUser.years && selectedUser.years !== null"><span
                  class="item">{{
                  selectedUser.years }}</span>Роки</div>

              <div class="item-characteristics" *ngIf="selectedUser.mounths && selectedUser.mounths !== null">Місяці
                <span class="item">{{ selectedUser.mounths }}</span>
              </div>

              <div class="item-characteristics" *ngIf="selectedUser.weeks && selectedUser.weeks !== null"><span
                  class="item">{{
                  selectedUser.weeks }}</span>Тижні</div>

              <div class="item-characteristics" *ngIf="selectedUser.days && selectedUser.days !== null"><span
                  class="item">{{
                  selectedUser.days }}</span>Дні</div>
            </div>
          </div>

          <div class="characteristics" *ngIf="selectedUser.about">
            <div class="characteristics-label">Додаткова інформація:</div>
            <div class="item-characteristics">{{ selectedUser.about }}</div>
          </div>

        </div>

      </div>
    </div>
  </div>

</ng-template>