<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/user/info'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min">Назад</div>
      </button>
    </div>

    <div class="menu-box">
      <div class="menu-lable">Меню</div>
      <div class="menu-name">Запропоновані Оселі</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" (click)="onClickMenu(1)" [ngClass]="{ 'active': indexPage === 1}">
        <i class="fa-solid fa-circle-info"></i>
        <div class="t-min bold">Інфо</div>
      </button>
    </div>

    <div class="switch-btn-group ">
      <button class="btn" [disabled]="counterFound === 0" (click)="onClickMenu(0)"
        [ngClass]="{ 'active': indexPage === 0}">
        <i class="fa-solid fa-people-group"></i>
        <div class="t-min bold">Пропозиції</div>
        <div class="status"> {{counterFound}} </div>
      </button>
    </div>

  </div>

  <div class="main-container">

    <!-- всі картки -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 hide-mobile" *ngIf="!isMobile">
      <app-cards-list></app-cards-list>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-wrapper">
        <!-- всі картки -->
        <div [@swichCard] class="card-animation hide-pc" *ngIf="indexPage === 0 && isMobile">
          <div class="card-content">
            <app-cards-list></app-cards-list>
          </div>
        </div>
        <!-- про меню -->
        <div [@swichCard] class="card-animation" *ngIf="indexPage === 1">
          <div class="card-content">

            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-house-fire"></i>
              <p class="t-lar-x bold">Меню запропоновані оселі</p>
              <p class="t-min">Власники які підписались на вас і пропонують вам свою оселю.</p>
            </div>

            <span class="t-lar t-c bold p-3">Тут доступні такі можливості:</span>
            <ul class="t-med mt-2 gray t-s">
              <li><i class="fa-regular fa-building p-2"></i>Перегляд інформації про оселю. </li>
              <li><i class="fa-solid fa-child-reaching p-2"></i>Перегляд вудгуків та рейтингу власника. </li>
              <li><i class="fa-solid fa-location-dot p-2"></i>Перегляд локації оселі.</li>
              <li><i class="fa-solid fa-user-xmark p-2"></i>Відхилення пропозиції. </li>
              <li><i class="fa-regular fa-thumbs-up p-2"></i>Ухвалення до дискусії. </li>
            </ul>

            <div class="flex-box-center t-c p-2 mt-2">
              <p class="t-med bold">Отримати пропозицію можна коли на вас підпишуться оселі в меню "Пошук орендаря".</p>
              <p class="t-med bold">Після вашого ухвалення, оселя з'явиться в меню Дискусії.</p>
            </div>

            <div class="btn-group">
              <button class="b-primary" [routerLink]="'/subscribers-discuss'">
                <i class="fa-solid fa-arrow-right pr-2"></i>
                <div class="t-med bold">Меню Дискусій</div>
              </button>
            </div>

            <button class="btn-feedback" [routerLink]="'/feedback'" [queryParams]="{ category: 'Підписники' }">
              Є ідея <i class="fa-regular fa-lightbulb"></i> як зробити краще?<br>Можеш запропонувати!
            </button>

          </div>
        </div>
        <!-- інформація про оселю -->
        <div class="card-animation" *ngIf="indexPage === 2 && chosenFlat">
          <div class="btn-close-container">
            <div class="btn-close-box">
              <button class="btn-close" (click)="indexPage = 1"></button>
            </div>
          </div>
          <div class="card-content" *ngIf="!showOwner">
            <app-img-house></app-img-house>
            <app-info-house></app-info-house>
            <div [@top4] class="p-2">
              <button class="link-menu" (click)="toggleCards()">
                <div class="flex-column w-80">
                  <p class="link-menu-t2">Показати</p>
                  <p class="link-menu-t1" *ngIf="!showOwner">Інформацію Власника</p>
                  <p class="link-menu-t1" *ngIf="showOwner">Інформацію Оселі</p>
                </div>
                <div class="link-icon w-20" *ngIf="showOwner"><i class="fa-regular fa-building"></i></div>
                <div class="link-icon w-20" *ngIf="!showOwner"><i class="fa-solid fa-child-reaching"></i></div>
              </button>
            </div>
            <app-functions-house></app-functions-house>
          </div>
          <div class="card-content" *ngIf="showOwner">
            <app-img></app-img>
            <app-links-box></app-links-box>
            <app-info></app-info>
            <div [@top4] class="p-2">
              <button class="link-menu" (click)="toggleCards()">
                <div class="flex-column w-80">
                  <p class="link-menu-t2">Показати</p>
                  <p class="link-menu-t1" *ngIf="!showOwner">Інформацію Власника</p>
                  <p class="link-menu-t1" *ngIf="showOwner">Інформацію Оселі</p>
                </div>
                <div class="link-icon w-20" *ngIf="showOwner"><i class="fa-regular fa-building"></i></div>
                <div class="link-icon w-20" *ngIf="!showOwner"><i class="fa-solid fa-child-reaching"></i></div>
              </button>
            </div>
            <app-functions-house></app-functions-house>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
