
<div class="card-container p-2">
    <div class="chat-container ">
      <div class="chat-header">
        <h3>Назва чату</h3>
        <button class="close-btn">Закрити</button>
      </div>
      <div class="chat-messages">
        <div class="message">
          <img class="avatar" src="посилання_на_фото_користувача.jpg" alt="Фото користувача">
          <div class="message-content">
            <h4>Ім'я користувача</h4>
            <p>Текст повідомлення</p>
          </div>
        </div>
        <!-- Додати інші повідомлення тут -->
      </div>
      <div class="chat-input">
        <input type="text" placeholder="Напишіть повідомлення">
        <button class="send-btn">Надіслати</button>
      </div>
    </div>

</div>
