@use "../../../style/presets/" as *;

a {
  padding: 0.5em 1em;
}

.container-fluid {
  display: flex;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(80px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.navbar {
  display: flex;
}
