<div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
  <div [@cardAnimation] class="card-box">
    <div class="card m-2 p-2 col-lg-8 col-md-5 col-sm-6 col-12">
      <div class="card-name">
        <h4>Інформація вашої оселі</h4>
      </div>

      <form class="form-box">
        <!-- ПІБ -->
        <div class="inputbox">
          <input type="text" name="ACCOUNT-FOR" required>
          <span>ПІБ:</span>
          <i class="orange"></i>
          <!-- <div *ngIf="formErrors.telegram" class="alert alert-danger">{{formErrors}}</div> -->
        </div>
        <!-- ОСОБИСТИЙ РАХУНОК -->
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>ОСОБИСТИЙ РАХУНОК:</span>
          <i class="orange"></i>
          <!-- <div *ngIf="formErrors.facebook" class="alert alert-danger">{{formErrors}}</div> -->
        </div>
        <!-- РАХУНОК ЗА -->
        <div class="inputbox">
          <input type="text" name="ACCOUNT-FOR" required>
          <span>РАХУНОК ЗА:</span>
          <i class="orange"></i>
          <!-- <div *ngIf="formErrors.telegram" class="alert alert-danger">{{formErrors}}</div> -->
        </div>


        <!-- Показники попередні -->
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Показники попередні:</span>
          <i class="orange"></i>
          <!-- <div *ngIf="formErrors.facebook" class="alert alert-danger">{{formErrors}}</div> -->
        </div>

        <!-- Показники поточні -->
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Показники поточні:</span>
          <i class="orange"></i>
          <!-- <div *ngIf="formErrors.facebook" class="alert alert-danger">{{formErrors}}</div> -->
        </div>

      </form>













      <!-- Кнопки -->
      <div class="btn-group">
        <button class="btn mt-3"><span class="btn-text">ЗБЕРЕГТИ</span></button>
        <button type="reset" class="btn mt-3 ml-3"><span class="btn-text">СКИНУТИ</span></button>
      </div>

    </div>
  </div>

  <div [@cardAnimation] class="card-box">
    <div class="card m-2 p-2 col-lg-3 col-md-5 col-sm-6 col-12">
      <a href=""><div (click)="showMonth('Січень')">Січень</div></a>
      <a href=""><div (click)="showMonth('Лютий')">Лютий</div></a>
      <a href=""><div (click)="showMonth('Березень')">Березень</div></a>
      <a href=""><div (click)="showMonth('Квітень')">Квітень</div></a>
      <a href=""><div (click)="showMonth('Травень')">Травень</div></a>
      <a href=""><div (click)="showMonth('Червень')">Червень</div></a>
      <a href=""><div (click)="showMonth('Липень')">Липень</div></a>
      <a href=""><div (click)="showMonth('Серпень')">Серпень</div></a>
      <a href=""><div (click)="showMonth('Вересень')">Вересень</div></a>
      <a href=""><div (click)="showMonth('Жовтень')">Жовтень</div></a>
      <a href=""><div (click)="showMonth('Листопад')">Листопад</div></a>
      <a href=""><div (click)="showMonth('Грудень')">Грудень</div></a>
    </div>
  </div>

</div>
