<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container">
    <div class="container-print p-5">
      <div class="close-box">
        <a class="btn-close" [routerLinkActive]="'active'" [routerLink]="'/house/filling'"></a>
      </div>
      <div class="print-container">
        <div class="box">
          <div class="card-group col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="box" *ngIf="houseData">
              <div class="title-group">
                <img class="logo" src="../../../assets/logo/Discussio (7).svg" alt="">
                <div class="p-2">
                  <h3 class="title">Discussio угода. </h3>
                  <div class="title">Додаток до угоди. Список меблів, предметів та їх стан на момент
                    передачі оселі в користування орендару</div>
                </div>
              </div>
            </div>

            <div class="box">
              <div class="card-title">Наповнення оселі: </div>
              <div class="card-title"> {{ houseData.flat.city }} {{ houseData.flat.street }} {{
                houseData.flat.houseNumber }}</div>
            </div>

            <div class="box-filling p-2">
              <div *ngFor="let flat of flat_objects" class="card-filling m-2">

                <div class="box">
                  <div class="box-img">
                    <img class="card-img" [src]="getImageSource(flat)" alt="User Image">
                    <img class="icon" [src]="getIconUrl(flat.type_filling, flat.name_filling)"
                      alt="{{ flat.name_filling }} icon" />
                  </div>
                  <div class="card-body">
                    <div class="card-title"><span class="accent">{{ flat.name_filling }} </span></div>
                    <div class="card-title">Тип: {{ flat.type_filling }}</div>
                    <div class="card-title">Стан: {{ selectCondition[flat.condition_filling] }}</div>
                    <div class="card-title">Кількість: {{ flat.number_filling }}</div>
                  </div>
                </div>

                <div class="item-wrapper p-1">
                  <div class="card-title-about">Опис: {{ flat.about_filling }}</div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <button class="btn mt-3" type="submit" (click)="printContainer()">НАДРУКУВАТИ</button>
  </div>
</ng-template>
