@use "../../../../style/presets/" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.container-print {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 140vh;
  background-color: $color-white;
  padding: 10px 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.close-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
}

.box {
  display: flex;
}

.box-filling::-webkit-scrollbar {
  display: none;
}

.box-filling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 80vh;
  overflow: auto;
}
.card-box {
  display: flex;
}

.card-filling {
  cursor: pointer;
  width: 47%;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 10px;
  border: 1px solid gray;
  justify-content: space-between;
  transition: 1s;
  flex-direction: column;
}

.box-img {
  width: 50%;
  position: relative;
}

.card-img {
  border-radius: 10px;
  width: 130px;
  height: 120px;
}

.icon {
  position: absolute;
  background-color: $color-white;
  top: 35%;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  padding: 5px;
  z-index: 99;
}

.card-body {
  display: flex;
  padding: 5px 10px 5px 5px;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.card-title {
  font-size: 14px;
}

.card-title-about {
  font-size: 12px;
}

.accent {
  font-weight: 600;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: $color-card-bg;
  border-radius: 10px;
}

.title-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.logo-name {
  font-size: 30px;
  color: $color-text;
}
