<div class="menu-container">
  <div class="switch-box">
    <div class="switch-btn-group">
      <button [disabled]="disabledBtn" class="btn" (click)="toggleAllMenu(1)">
        <i class="fa-solid fa-bars"></i>
        <div class="t-min bold">Меню</div>
      </button>
    </div>
  </div>
  <div class="menu" (click)="toggleAllMenu(1)" *ngIf="menu[1]">
    <div [@cardAnimation]="{value: '', params: { delay: animationDelay(0) }}" class="t-lar-xx bold white t-e mr-2"
      *ngIf="linkOpen[1]">Меню Користувача
    </div>

    <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link"
      [routerLinkActive]="'active'" [routerLink]="'/house/house-control/selection-house'" *ngIf="linkOpen[1]">
      <i class="fa-solid fa-house-circle-check"></i>
      <div class="flex-column pl-2 t-e">
        <p class="t-lar-x">Управління оселею</p>
        <p class="t-min">Вибір & Створення & Видалення</p>
      </div>
    </a>

    <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link"
      [routerLinkActive]="'active'" [routerLink]="'/user/agree'" *ngIf="linkOpen[1]">
      <i class="fa-solid fa-envelope-open-text"></i>
      <div class="flex-column pl-2 t-e">
        <p class="t-lar-x">Угоди</p>
        <p class="t-min">Запропоновані & укладені</p>
      </div>
    </a>

    <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link"
      [routerLinkActive]="'active'" [routerLink]="'/user/preview'" *ngIf="linkOpen[1]">
      <i class="fa-solid fa-address-card"></i>
      <div class="flex-column pl-2 t-e">
        <p class="t-lar-x">Перегляд</p>
        <p class="t-min">Як виглядає мій профіль</p>
      </div>
    </a>

    <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link"
      [routerLinkActive]="'active'" [routerLink]="'/looking'" *ngIf="linkOpen[1]">
      <i class="fa-solid fa-person-hiking"></i>
      <div class="flex-column pl-2 t-e">
        <p class="t-lar-x">Профіль Орендаря</p>
        <p class="t-min">Налаштування & активація</p>
      </div>
    </a>

    <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link"
      [routerLinkActive]="'active'" [routerLink]="'/information-user'" *ngIf="linkOpen[1]">
      <i class="fa-solid fa-gears"></i>
      <div class="flex-column pl-2 t-e">
        <p class="t-lar-x">Редагувати</p>
        <p class="t-min">Профіль</p>
      </div>
    </a>



  </div>
</div>
