<div class="menu">


  <div [@cardAnimation]="{value: '', params: { delay: animationDelay(0) }}" class="wrapper-img mb-2" *ngIf="userData"
    (click)="closeToogleMenu(2)">
    <img *ngIf="userData.img && userData.img[0].img !== 'user_default.svg'" class="img-fluid"
      [src]="serverPath + pathPhotoUser + userData.img[0].img" alt="img" [routerLink]="'/user/info'">
    <img *ngIf="!userData.img || userData.img[0].img === 'user_default.svg'" class="img-fluid"
      src="../../../assets/user_default.svg" alt="img" [routerLink]="'/user/info'">
    <div class="userName pl-2 pr-2" *ngIf="userData" [routerLink]="'/user/info'">
      <p class="t-lar bold">{{userData.inf.firstName}}</p>
      <p class="t-min">{{userData.inf.lastName}} ID : {{userData.inf.user_id}}</p>
    </div>
    <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="message"
      [routerLinkActive]="'active'" [routerLink]="'/user/chat'" (click)="closeToogleMenu(2)">
      <i class="fa-solid fa-message custom-badge" matBadge="{{counterUserNewMessage}}"
        [matBadgeHidden]="counterUserNewMessage === 0"></i>
    </a>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/info'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-user"></i>
        <div class="item-description pl-2">
          <p class="t-med">Дії аккаунту</p>
          <p class="t-min">Інфо користувача</p>
        </div>
      </a>
      <button *ngIf="!section[1]" [@appearance] [ngClass]="{'active': section[1]}" class="link-btn"
        (click)="setSection(1)">
        <i [ngClass]="section[1] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[1]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/info'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-id-badge"></i>
        <div class="item-description pl-2">
          <p class="t-med">Профіль</p>
          <p class="t-min">Користувача</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/auth/login'" *ngIf="!userData" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div class="item-description pl-2">
          <p class="t-med">Вхід</p>
          <p class="t-min">Увійти в аккаунт</p>
        </div>
      </a>

      <a *ngIf="userData" [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}"
        class="link-item subcategory" [routerLinkActive]="'active'" [routerLink]="'/user/edit'"
        (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-gears"></i>
        <div class="item-description pl-2">
          <p class="t-med">Редагувати</p>
          <p class="t-min">Аккаунт</p>
        </div>
      </a>

      <button [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLink]="'/auth/change-password'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-key"></i>
        <div class="item-description pl-2">
          <p class="t-med">Пароль</p>
          <p class="t-min">Зміна паролю</p>
        </div>
      </button>

      <button *ngIf="userData" [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}"
        class="link-item subcategory" (click)="logout()">
        <i class="fa-solid fa-door-open"></i>
        <div class="item-description pl-2">
          <p class="t-med">Вийти</p>
          <p class="t-min">З аккаунту</p>
        </div>
      </button>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <div class="w-100">
        <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item"
          [routerLinkActive]="'active'" [routerLink]="'/user/tenant'" (click)="closeToogleMenu(2)">

          <i *ngIf="!authorization" class="fa-solid fa-person-hiking custom-badge"></i>

          <i *ngIf="authorization" class="fa-solid fa-person-hiking custom-badge" matBadge="a"
            [matBadgeHidden]="userFeaturesData && userFeaturesData.agree_search !== 1">
          </i>

          <div class="item-description pl-2">
            <p class="t-med">Профіль</p>
            <p class="t-min">Орендаря</p>
          </div>

        </a>
      </div>

      <button *ngIf="!section[3]" [@appearance] [ngClass]="{'active': section[3]}" class="link-btn"
        (click)="setSection(3)">
        <i [ngClass]="section[3] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[3]">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/tenant/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це?</p>
          <p class="t-min">Профіль орендаря</p>
        </div>
      </a>
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/tenant/step'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-shoe-prints"></i>
        <div class="item-description pl-2">
          <p class="t-med">Як активувати?</p>
          <p class="t-min">Пояснення</p>
        </div>
      </a>

      <button (click)="activateTenantProfile()" [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}"
        class="link-item subcategory" *ngIf="userFeaturesData && userFeaturesData.agree_search === 0">
        <i class="fa-solid fa-toggle-on"></i>
        <div class="item-description pl-2">
          <p class="t-med">Активувати</p>
          <p class="t-min">Профіль орендаря</p>
        </div>
      </button>

      <button (click)="deactivateTenantProfile()" [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}"
        class="link-item subcategory" *ngIf="userFeaturesData && userFeaturesData.agree_search === 1">
        <i class="fa-solid fa-power-off"></i>
        <div class="item-description pl-2">
          <p class="t-med">Деактивувати</p>
          <p class="t-min">Профіль орендаря</p>
        </div>
      </button>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/looking'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-gears"></i>
        <div class="item-description pl-2">
          <p class="t-med">Налаштування</p>
          <p class="t-min">Профілю</p>
        </div>
      </a>
    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/discus'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-signs-post"></i>
        <div class="item-description pl-2">
          <p class="t-med">Підписки</p>
          <p class="t-min">Та Дискусії</p>
        </div>

        <div *ngIf="!section[4] && userData">
          <i *ngIf="counterUserSubscriptions !== 0" class="fa-regular fa-heart custom-badge"
            matBadge="{{counterUserSubscriptions}}"></i>
          <i *ngIf="counterUserSubscribers !== 0" class="fa-solid fa-house-fire custom-badge pl-1"
            matBadge="{{counterUserSubscribers}}"></i>
          <i *ngIf="counterUserDiscussio !== 0" class="fa-solid fa-person-walking-luggage custom-badge pl-1"
            matBadge="{{counterUserDiscussio}}"></i>
        </div>

      </a>
      <button *ngIf="!section[4]" [@appearance] [ngClass]="{'active': section[4]}" class="link-btn"
        (click)="setSection(4)">
        <i [ngClass]="section[4] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[4]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/discus/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про систему</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/discus/subscriptions'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-heart custom-badge" matBadge="{{counterUserSubscriptions}}"></i>

        <div class="item-description pl-2">
          <p class="t-med">Вподобані</p>
          <p class="t-min">Мої підписки</p>
          <span class="bage"></span>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/discus/subscribers'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-house-fire custom-badge" matBadge="{{counterUserSubscribers}}"></i>
        <div class="item-description pl-2">
          <p class="t-med">Запропоновані</p>
          <p class="t-min">Мої пропозиції</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/discus/discussion'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-person-walking-luggage custom-badge" matBadge="{{counterUserDiscussio}}"></i>
        <div class="item-description pl-2">
          <p class="t-med">Дискусії</p>
          <p class="t-min">Мої дискусії</p>
        </div>
      </a>
    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree'" (click)="closeToogleMenu(2)">
        <i *ngIf="!authorization" class="fa-solid fa-envelope-open-text "></i>
        <i *ngIf="authorization && userData" class="fa-solid fa-envelope-open-text  custom-badge"
          matBadge="{{userData.agree.total}}" [matBadgeHidden]="userData.agree.total === 0 || section[2]"></i>
        <div class="item-description pl-2">
          <p class="t-med">Угоди</p>
          <p class="t-min">Орендаря</p>
        </div>
      </a>
      <button *ngIf="!section[2]" [@appearance] [ngClass]="{'active': section[2]}" class="link-btn"
        (click)="setSection(2)">
        <i [ngClass]="section[2] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[2]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/about'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-question"></i>
        <div class="item-description pl-2">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Про функцію</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/step'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-shoe-prints"></i>
        <div class="item-description pl-2">
          <p class="t-med">Як отримати?</p>
          <p class="t-min">Пояснення</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/review'" (click)="closeToogleMenu(2)">
        <i *ngIf="!authorization" class="fa-solid fa-hourglass-half fa-envelope-open-text "></i>
        <i *ngIf="authorization" class="fa-solid fa-hourglass-half custom-badge" matBadge="{{userData.agree.total}}"
          [matBadgeHidden]="userData.agree.total === 0 || section[2]"></i>
        <div class="item-description pl-2">
          <p class="t-med">Запропоновані</p>
          <p class="t-min">Угоди</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/concluded'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-file-circle-check"></i>
        <div class="item-description pl-2">
          <p class="t-med">Ухвалені </p>
          <p class="t-min">Угоди</p>
        </div>
      </a>

    </div>
  </div>

  <!-- <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/chat'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-message custom-badge" matBadge="{{counterUserNewMessage}}"
          [matBadgeHidden]="counterUserNewMessage === 0"></i>
        <div class="item-description pl-2">
          <p class="t-med">Повідомлення</p>
          <p class="t-min">Чати користувача</p>
        </div>
      </a>
      <button *ngIf="!section[5]" [@appearance] [ngClass]="{'active': section[5]}" class="link-btn"
        (click)="setSection(5)">
        <i [ngClass]="section[5] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[5]">
    </div>
  </div> -->

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/search/house'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="item-description pl-2">
          <p class="t-med">Пошук</p>
          <p class="t-min">Оселі</p>
        </div>
      </a>
      <button *ngIf="!section[7]" [@appearance] [ngClass]="{'active': section[7]}" class="link-btn"
        (click)="setSection(7)">
        <i [ngClass]="section[7] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[7]">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/search/house'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-house-flag"></i>
        <div class="item-description pl-2">
          <p class="t-med">Пошук </p>
          <p class="t-min">Оселі</p>
        </div>
      </a>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-gears"></i>
        <div class="item-description pl-2">
          <p class="t-med">Редагування</p>
          <p class="t-min">Всі налаштування</p>
        </div>
      </a>
      <button *ngIf="!section[6]" [@appearance] [ngClass]="{'active': section[6]}" class="link-btn"
        (click)="setSection(6)">
        <i [ngClass]="section[6] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>

    <div class="subcategory-container" *ngIf="section[6]">

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/person'" (click)="closeToogleMenu(2)">
        <i class="fa-regular fa-circle-user"></i>
        <div class="item-description pl-2">
          <p class="t-med">Персона</p>
          <p class="t-min">Власна інформація</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/contacts'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-share-nodes"></i>
        <div class="item-description pl-2">
          <p class="t-med">Контакти</p>
          <p class="t-min">Соціальні мережі</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/status'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-sliders"></i>
        <div class="item-description pl-2">
          <p class="t-med">Статуси</p>
          <p class="t-min">Доступи Аккаунту</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/looking'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-person-hiking"></i>
        <div class="item-description pl-2">
          <p class="t-med">Профіль</p>
          <p class="t-min">Орендаря</p>
        </div>
      </a>

      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/delete'" (click)="closeToogleMenu(2)">
        <i class="fa-solid fa-user-minus"></i>
        <div class="item-description pl-2">
          <p class="t-med">Видалення</p>
          <p class="t-min">Видалити профіль</p>
        </div>
      </a>

    </div>
  </div>



</div>
