<div class="menu p-2">

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/info'">
        <i class="fa-regular fa-circle-user"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Мій аккаунт</p>
          <p class="t-min">Ваш профіль користувача</p>
        </div>
      </a>
      <button *ngIf="!section[1]" [@appearance] [ngClass]="{'active': section[1]}" class="link-btn"
        (click)="setSection(1)">
        <i [ngClass]="section[1] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[1]">

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/auth/login'" *ngIf="!userData">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Вхід</p>
          <p class="t-min">Увійти в аккаунт</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit'">
        <i class="fa-solid fa-gears"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Редагувати</p>
          <p class="t-min">Профіль</p>
        </div>
      </a>

      <button [@cardAnimationUp]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        (click)="logout()">
        <i class="fa-solid fa-door-open"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Вийти</p>
          <p class="t-min">Вийти з аккаунту</p>
        </div>
      </button>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(2) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree'">
        <i class="fa-solid fa-envelope-open-text"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Меню угод</p>
          <p class="t-min">Пояснення/Запропоновані/Укладені</p>
        </div>
      </a>
      <button *ngIf="!section[2]" [@appearance] [ngClass]="{'active': section[2]}" class="link-btn"
        (click)="setSection(2)">
        <i [ngClass]="section[2] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[2]">

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/menu'" *ngIf="section[2]">
        <i class="fa-solid fa-circle-info"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Що таке угода?</p>
          <p class="t-min">Про функцію</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/step'" *ngIf="section[2]">
        <i class="fa-solid fa-shoe-prints"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Пояснення</p>
          <p class="t-min">Як отримати угоду</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/rewiew'" *ngIf="section[2]">
        <i class="fa-solid fa-hourglass-half"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Запропоновані</p>
          <p class="t-min">Угоди які вам запропонували</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/agree/concluded'" *ngIf="section[2]">
        <i class="fa-solid fa-file-circle-check"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Ухвалені Угоди</p>
          <p class="t-min">Угоди які ви підтвердили</p>
        </div>
      </a>

    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(3) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/tenant'">
        <i class="fa-solid fa-person-hiking"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Профіль Орендаря</p>
          <p class="t-min">Пояснення/Редагування</p>
        </div>
      </a>
      <button *ngIf="!section[3]" [@appearance] [ngClass]="{'active': section[3]}" class="link-btn"
        (click)="setSection(3)">
        <i [ngClass]="section[3] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[3]">
      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/tenant'" *ngIf="section[3]">
        <i class="fa-regular fa-circle-question"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Що це таке?</p>
          <p class="t-min">Профіль орендаря</p>
        </div>
      </a>
      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/tenant-step'" *ngIf="section[3]">
        <i class="fa-solid fa-shoe-prints"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Пояснення</p>
          <p class="t-min">Як активувати оголошення</p>
        </div>
      </a>
      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/looking'" *ngIf="section[3]">
        <i class="fa-solid fa-gears"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Редагування</p>
          <p class="t-min">Профіль орендаря</p>
        </div>
      </a>
    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(4) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/search-house'">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Пошук Оселі</p>
          <p class="t-min">Відкрити пошук осель</p>
        </div>
      </a>
      <button *ngIf="!section[4]" [@appearance] [ngClass]="{'active': section[4]}" class="link-btn"
        (click)="setSection(4)">
        <i [ngClass]="section[4] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[4]">
      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/subscriptions-user'" *ngIf="section[4]">
        <i class="fa-regular fa-heart pl-2"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Вподобані</p>
          <p class="t-min">Оселі на які ви підписані</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/subscribers-user'" *ngIf="section[4]">
        <i class="fa-solid fa-house-fire pl-2"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Запропоновані</p>
          <p class="t-min">Оселі які підписані на вас</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(3) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/subscribers-discuss'" *ngIf="section[4]">
        <i class="fa-solid fa-person-walking-luggage"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Дискусії</p>
          <p class="t-min">Оселі з якими я в Дискусії</p>
        </div>
      </a>
    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(5) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/chat-user'">
        <i class="fa-solid fa-message"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Повідомлення</p>
          <p class="t-min">Відкрити пошук осель</p>
        </div>
      </a>
      <button *ngIf="!section[5]" [@appearance] [ngClass]="{'active': section[5]}" class="link-btn"
        (click)="setSection(5)">
        <i [ngClass]="section[5] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>
    <div class="subcategory-container" *ngIf="section[5]">
    </div>
  </div>

  <div class="category-container">
    <div class="category">
      <a [@cardAnimation]="{value: '', params: { delay: animationDelay(1) }}" class="link-item"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit'">
        <i class="fa-solid fa-gears"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Редагувати</p>
          <p class="t-min">Налаштування профілю</p>
        </div>
      </a>
      <button *ngIf="!section[6]" [@appearance] [ngClass]="{'active': section[6]}" class="link-btn"
        (click)="setSection(6)">
        <i [ngClass]="section[6] ? 'fa-solid fa-circle-chevron-up' : 'fa-solid fa-circle-chevron-down'"></i>
      </button>
    </div>

    <div class="subcategory-container" *ngIf="section[6]">

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(1) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/person'">
        <i class="fa-regular fa-circle-user"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Персона</p>
          <p class="t-min">Власна інформація</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/contacts'">
        <i class="fa-solid fa-share-nodes"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Контакти</p>
          <p class="t-min">Соціальні мережі</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/status'">
        <i class="fa-solid fa-sliders"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Статуси</p>
          <p class="t-min">Доступи Аккаунту</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/looking'">
        <i class="fa-solid fa-person-hiking"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Профіль</p>
          <p class="t-min">Орендаря</p>
        </div>
      </a>

      <a [@cardAnimationUp]="{value: '', params: { delay: animationDelay(2) }}" class="link-item subcategory"
        [routerLinkActive]="'active'" [routerLink]="'/user/edit/delete'">
        <i class="fa-solid fa-user-minus"></i>
        <div class="flex-column pl-2 t-e">
          <p class="t-med">Видалення</p>
          <p class="t-min">Видалити профіль</p>
        </div>
      </a>



    </div>
  </div>










</div>
