@use "skin" as *;

.btn {
  color: $color-text;
  text-decoration: none;
  border-radius: 10px;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn-1 {
  background-color: $color-accent;
  border: none;
  color: $color-text;
  height: 35px;
  border-radius: 10px;
}

.btn-1 {
  background-color: $color-primary;
  border: none;
  color: $color-text;
  height: 35px;
  border-radius: 10px;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.button-subscribe {
  display: flex;
  position: relative;
  font-size: 20px;
  border: none;
  margin: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: $color-primary;
  transition: 0.6s ease;

  &:hover,
  :focus {
    background-color: $color-accent;
  }
}

.btn-info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.next-arrow-top,
.next-arrow-bottom {
  background-color: $color-primary;
  height: 5px;
  position: absolute;
  top: 50%;
  width: 30%;
}

.next-arrow-top:after,
.next-arrow-bottom:after {
  background-color: $color-accent;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.next-arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
  top: 47%
}

.next-arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.next-arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
  top: 44%
}

.next-arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.next:hover .next-arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.next:hover .next-arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.prev-arrow-top,
.prev-arrow-bottom {
  background-color: $color-primary;
  height: 5px;
  position: absolute;
  top: 50%;
  width: 30%;
}

.prev-arrow-top:after,
.prev-arrow-bottom:after {
  background-color: $color-accent;
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.15s;
}

.prev-arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom left;
  top: 45%;
}

.prev-arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0.15s;
}

.prev-arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  top: 50%;
}

.prev-arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0s;
}

.prev:hover .prev-arrow-top:after {
  left: 0;
  transition-delay: 0s;
}

.prev:hover .prev-arrow-bottom:after {
  right: 0;
  transition-delay: 0.15s;
}
