@use "skin" as *;

.loader {
  width: 100px;
  height: 100px;

  transition: all 0.5s;
  animation: rotation_51512 2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s;

  // border: solid 4px rgba(231, 231, 231, 0);
  // border-top: solid 5px rgb(241, 68, 68);
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.729);
}

.loader-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgb(255, 255, 255);
}

@keyframes rotation_51512 {
  70% {
    box-shadow: 0 0 10px 50px rgba(241, 57, 57, 0.526);
  }

  90% {
    box-shadow: 0 0 10px 50px rgba(241, 57, 57, 0.04);
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.6;
  }
}

.loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the width and height to fit your logo */
  height: 100px;
}

