$color-primary: #CBCDCD;
$color-accent: tomato;
$accordion-icon-color: red;
$color-white: white;
$color-light: rgba(255, 255, 255, 0.686);
$color-dark: #232323;
$color-gray: #7E7F7F;
$color-icon: #232323;
$color-text: #232323;
$color-card-bg: #DEDEDE;
