// $color-primary: #151515;
// $color-accent: tomato;
// $accordion-icon-color: red;
// $color-white: white;
// $color-light: rgba(138, 138, 138, 0.793);
// $color-dark: #a8a7a7;
// $color-gray: #b3b4b4;
// $color-blue: #0949ec;
// $color-icon: #eaeaea;
// $color-text: #dededece;
// $color-card-bg: #DEDEDE;

// стоковий варіант
$color-primary: #cbcdcd;
$color-accent: tomato;
$color-red: rgba(255, 0, 0, 0.692);
$accordion-icon-color: red;
$color-white: white;
$color-light: rgba(138, 138, 138, 0.793);
$color-dark: #232323;
$color-gray: #7e7f7f;
$color-blue: #0949ec;
$color-icon: #000000;
$color-text: #121111ce;
$color-card-bg: #dedede;
