@use "skin" as *;

p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
  font-size: 16px;
}

h4, h5 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: #666;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  max-height: 30vh;
}

textarea::-webkit-scrollbar {
  display: none;
}

.bg-accent {
  background-color: $color-accent !important;
}

.bg-white {
  background-color: $color-white !important;
}

.bg-dark {
  background-color: $color-dark !important;
}

.accent {
  color: $color-accent;
}

.green {
  color: green;
}


.bold {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.dark {
  color: $color-text;
}

.gray {
  color: $color-gray;
}

.blue {
  color: $color-blue;
}

.t-min {
  font-size: 12px;
}

.t-med {
  font-size: 14px;
}

.t-lar-xx {
  font-size: 25px;
}

.t-lar-x {
  font-size: 20px;
}

.t-lar {
  font-size: 16px;
}

.t-s {
  text-align: start;
}

.t-c {
  text-align: center;
}

.t-e {
  text-align: end;
}



