@use "skin" as *;

p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
  font-size: 16px;
}

h4, h5 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: #666;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.accent {
  color: $color-accent;
}

