@use "sass:math";

$font-header: 'Montserrat', sans-serif;
$font-main: 'Montserrat', sans-serif;
$font-size: 16px;
$font-size-menu: 20px;

$font-link: 'Roboto Condensed', sans-serif, 10px;
$font-size-link: 12px;

$s6: 1340px;
$s5: 1200px;
$s4: 992px;
$s3: 768px;
$s2: 576px;
$s1: 1px;


$gap: 20px;

$gap-sm: math.div($gap, 2);
$gap-lg: $gap * 1.5;
$gap-x2: $gap * 2;
$gap-x2: $gap * 2;
$gap-x3: $gap * 3;
$gap-x4: $gap * 4;
$gap-x5: $gap * 5;
