.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-2 {
  padding-right: 5px;
}

.mr-2 {
  margin-right: 5px;
}

.ml-2 {
  margin-left: 5px;
}

.mr-3 {
  margin-right: 10px;
}

.al-fs {
  align-items: flex-start !important;
}

.al-c {
  align-items: center !important;
}

.al-fe {
  align-items: flex-end !important;
}

.alc-sa {
  align-content: space-around !important;
}

.d-flex {
  display: flex; 
}

.jc-sa {
  justify-content: space-around !important;
}

.jc-c {
  justify-content: center !important;
}

.jc-fe {
  justify-content: flex-end !important;
}

.jc-fs {
  justify-content: flex-start !important;
}

.jc-sb {
  justify-content: space-between !important;
}

.jc-se {
  justify-content: space-evenly !important;
}
