
.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.pr-2 {
  padding-right: 5px;
}

.mr-2 {
  margin-right: 5px;
}

.ml-2 {
  margin-left: 5px;
}

.mr-3 {
  margin-right: 10px;
}
