<form [@cardAnimation] class="container-card">
  <div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="card m-2">
      <div class="card-name">
        <h4>Параметри оселі</h4>
      </div>
      <!-- Кількість кімнат -->
      <div class="inputbox">
        <label for="">Кількість кімнат</label>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="metro">
          <option selected disabled>Оберіть кількість кімнат</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">більше 4</option>
        </select>
      </div>
      <!-- Стан квартири -->
      <div class="inputbox">
        <label for="">Стан квартири</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="repair_status">
          <option selected disabled>Оберіть стан квартири</option>
          <option value="1">Новий</option>
          <option value="2">Добрий</option>
          <option value="3">Задовільний</option>
          <option value="3">Поганий</option>
        </select>
      </div>
      <!-- Балкон -->
      <div class="inputbox">
        <label for="">Наявність балкону і його тип</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="repair_status">
          <option selected disabled>Оберіть стан квартири</option>
          <option value="1">Класичний балкон</option>
          <option value="2">Французький балкон</option>
          <option value="3">Лоджія</option>
          <option value="3">Тераса</option>
          <option value="3">Веранда</option>
        </select>
      </div>
      <!-- Площа м² квартири -->
      <div class="inputbox">
        <input required="required" type="number" formControlName="area">
        <span>Площа м²</span>
        <i class="orange"></i>
      </div>
      <!-- Площа м² кухні -->
      <div class="inputbox">
        <input required="required" type="number" formControlName="kitchen_area">
        <span>Площа кухні м²</span>
        <i class="orange"></i>
      </div>
      <!-- Поверх -->
      <div class="inputbox">
        <input required="required" type="number" formControlName="floor">
        <span>Поверх</span>
        <i class="orange"></i>
      </div>
      <!-- Кнопки -->
      <div class="btn-group">
        <button class="btn btn-primary mt-3" (click)="onSubmitSaveHouseParamData()"
          [disabled]="!houseForm.valid">ЗБЕРЕГТИ</button>
        <button class="btn btn-primary mt-3">РЕДАГУВАТИ</button>
        <button type="reset" class="btn btn-secondary mt-3 ml-3">СКИНУТИ</button>
      </div>


    </div>
  </div>

  <div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="card m-2">
      <div class="card-info">
        <p>Стан ремонту квартири</p>
        <button class="btn-info col-2 m-3 info" type="button" data-bs-toggle="collapse" data-bs-target="#repair_status"
          aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-info"></i>
        </button>
        <div class="collapse" id="repair_status">
          <div class="card card-body-cast">
            <p class="text-info">Стан ремонту квартири може бути описаний як:
              Новий: коли ремонт був зроблений недавно і квартира знаходиться в ідеальному стані.
              Добрий: коли ремонт був зроблений декілька років тому, але квартира все ще в гарному стані і не
              потребує
              серйозних ремонтних робіт.
              Задовільний: коли квартира потребує деяких ремонтних робіт, але загалом її стан прийнятний для
              проживання.
              Поганий: коли квартира потребує серйозного ремонту та оновлення і не може бути здачена в оренду без
              попередніх ремонтних робіт.
            </p>
          </div>
        </div>


      </div>
      <div class="card-info">
        <p>Типи балконів</p>
        <button class="btn-info col-2 m-3 info" type="button" data-bs-toggle="collapse" data-bs-target="#balcony"
          aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-info"></i>
        </button>
        <div class="collapse" id="balcony">
          <div class="card card-body-cast">
            <p class="text-info">Існує кілька типів балконів, серед яких можна виділити наступні:
              Класичний балкон: це традиційний тип балкона, що виступає з будівлі. Він може мати різну форму та
              розмір, зазвичай огороджений металевою або скляною перегородкою.
              Французький балкон: це маленький балкон без платформи, зазвичай з відкриваючимися дверима або вікном.
              Французький балкон може бути виконаний з металу або скла.
              Лоджія: це балкон засклений або закритий з трьох сторін, який можна використовувати як простір для
              відпочинку або для зберігання речей. Лоджія може мати різні форми та розміри.
              Тераса: це відкритий простір, зазвичай розташований на даху будівлі або на відкритій площадці, який
              можна використовувати як простір для відпочинку або для вирощування рослин.
              Веранда: це відкритий простір, який прилягає до будівлі та зазвичай огороджений з трьох сторін. Веранда
              може мати різні форми та розміри.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
