@use "../../style/presets/" as *;

.container-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.text {
  text-align: center;
}

.table-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
}

.table-row {
  width: 100%;
  display: flex;
  overflow: hidden;
  color: $color-white;
  border-radius: 10px;
  margin: 5px;
}

.table-cell-30 {
  width: 50px;
  display: flex;
  height: 40px;
  overflow: hidden;
  background-color: $color-gray;
  padding: 10px;
  color: $color-white;
  border-radius: 10px;
  border: 3px solid $color-primary;
  flex-wrap: nowrap;
  flex-direction: row;
}

.table-cell-50 {
  width: 50px;
  display: flex;
  height: 40px;
  overflow: hidden;
  background-color: $color-gray;
  padding: 10px;
  color: $color-white;
  border-radius: 10px;
  border: 3px solid $color-primary;
  flex-wrap: nowrap;
  flex-direction: row;
}

.table-cell-100 {
  width: 100px;
  display: flex;
  height: 40px;
  overflow: hidden;
  background-color: $color-gray;
  padding: 10px;
  color: $color-white;
  border-radius: 10px;
  border: 3px solid $color-primary;
  flex-wrap: nowrap;
  flex-direction: row;
}

.table-cell-200 {
  width: 200px;
  display: flex;
  height: 40px;
  overflow: hidden;
  background-color: $color-gray;
  padding: 10px;
  color: $color-white;
  border-radius: 10px;
  border: 3px solid $color-primary;
  flex-wrap: nowrap;
  flex-direction: row;
}

.card-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 40vh;
  justify-content: space-between;
}

.container-box {
  display: flex;
  width: 100%;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px $color-dark solid;
  border-radius: 10px;
  margin: 10px;
}

.box-item {
  font-size: 25px;
  font-weight: 600;
}

.message-box {
  width: 100%;
}
