<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <a class="btn" [routerLink]="'/'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min">Головна</div>
      </a>
    </div>

    <div class="menu-box">
      <div class="menu-lable">Авторизація</div>
      <div class="menu-name">Користувача</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/auth/login'">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div class="t-min">Вхід</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/auth/registration'">
        <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
        <div class="t-min">Реєстрація</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/auth/change-password'">
        <i class="fa-solid fa-user-secret"></i>
        <div class="t-min">Пароль</div>
      </button>
    </div>

    <!-- <div class="switch-btn-group">
      <button [disabled]="!authorization" class="btn" [routerLinkActive]="'active'" [routerLink]="'/user'">
        <i class="fa-regular fa-circle-user"></i>
        <div class="t-min">Профіль Користувача</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="!authorization" class="btn" (click)="goToHouse()">
        <i class="fa-solid fa-house"></i>
        <div class="t-min">Профіль Оселі</div>
      </button>
    </div> -->

  </div>

  <main class="main-container p-2">
    <router-outlet></router-outlet>
  </main>

</div>
