<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" [routerLink]="'/home/about-project'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min white">На головну</div>
      </button>
    </div>

    <div class="menu-box hide-mobile">
      <div class="menu-lable">Меню</div>
      <div class="menu-name">Авторизації</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/auth/login'">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div class="t-min">Вхід в аккаунт</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/auth/registration'">
        <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
        <div class="t-min">Реєстрація аккаунту</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/auth/change-password'">
        <i class="fa-solid fa-user-secret"></i>
        <div class="t-min">Зміна паролю</div>
      </button>
    </div>

    <!-- <div class="switch-btn-group">
      <button [disabled]="!authorization" class="btn" [routerLinkActive]="'active'" [routerLink]="'/user'">
        <i class="fa-regular fa-circle-user"></i>
        <div class="t-min">Профіль Користувача</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="!authorization" class="btn" (click)="goToHouse()">
        <i class="fa-solid fa-house"></i>
        <div class="t-min">Профіль Оселі</div>
      </button>
    </div> -->

  </div>

  <div class="main-container w-100">
    <main class="main-content">
      <router-outlet></router-outlet>
      <div class="bg-home"></div>
    </main>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>

</div>
