@use "./../../../../style/comun/housing-table.scss";
@use "./../../../../style/shared.scss" as *;
@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;

.table-content {
  height: calc(100vh - 100px - 1rem);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .sticky-top {
    @include flex-box-center;
    background-image: linear-gradient(to top, transparent, $color-primary 20%);
    @include s1-s3 {
      background-image: linear-gradient(to top, transparent, $color-white 20%);
      flex-direction: column;
    }
    .app {
      padding: 10px;
      @include s1-s3 {
        padding: 0px;
      }
    }
  }
  .table-info {
    height: auto;
  }
  .sticky-bottom {
    @include flex-box-column;
    background-image: linear-gradient(to bottom, transparent, $color-primary 10%);
    @include s1-s3 {
      background-image: linear-gradient(to bottom, transparent, $color-white 10%);
    }
  }
}

.btn {
  .fa-solid {
    color: $color-gray !important;
    .fa-solid {
      color: $color-gray !important;
    }
  }
  .t-min {
    color: $color-gray !important;
  }
  &.active {
    filter: none !important;
    color: $color-dark !important;
    .fa-solid {
      color: $color-dark !important;
    }
    .t-min {
      color: $color-dark !important;
    }
  }
}

.howmuch_pay {
  background-color: rgba(255, 166, 0, 0.515);
}

.consumed {
  background-color: rgba(0, 255, 213, 0.617);
}

.payed {
  background-color: rgba(0, 128, 0, 0.344);
}

.differenceOK {
  background-color: rgba(99, 202, 249, 0.669);
}

.difference {
  background-color: rgba(255, 0, 0, 0.429);
}

.th-grid {
  display: grid;
  // justify-content: flex-start;
  flex: 1;
}
