@use "../../style/presets/" as *;
@use "../../style/radio.scss";
@use "../../style/mixins/" as *;
@use "../../style/shared.scss" as *;


.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  @include s3-s6-max {
    background-color: $color-primary !important;
  }
}

.img-fluid2 {
  object-fit: cover;
  height: 300px;
  width: 300px;
  @include s1-s3 {
    width: 100%;
  }
}
