<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" [routerLink]="'/home'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min white">Назад</div>
      </button>
    </div>

    <div class="menu-box">
      <div class="menu-lable">404</div>
      <div class="menu-name">Сторінка не знайдена</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLink]="'/feedback'">
        <i class="fa-solid fa-bug"></i>
        <div class="t-min bold">Відгук</div>
      </button>
    </div>

  </div>

  <div class="main-container">

    <div class="col-lg-3 col-md-3 col-sm-12 col-12 hide-mobile">
      <div class="card-wrapper">
        <div [@right2] class="card-content-static w-100">
          <div class="card-group">
            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-face-meh"></i>
              <p class="t-lar-xx bold mb-2 t-c">Допоможіть нам покращити Discussio</p>
              <p class="t-min bold mb-2">Нам важлива ваша думка!
              </p>
              <p class="t-min mb-2">Якщо десь щось ламається то було би добре дізнатись яким чином. Будемо вдячні за ваш
                відгук та допомогу!
              </p>
              <div class="t-med t-c mt-2 bold">Перейдіть у валадку відгук та опишіть проблему</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

      <h1 class="t-lar-xx t-c p-2">Сторінка незнайдена...</h1>

      <div class="flex-column t-c p-2">
        <img class="img-fluid2" src="../../../assets/news/nema_svitla.png" alt="">
        <p class="t-med t-c">Є вірогідність що нам вимкнули світло... Тому тимчасово відсутня електроенергія на
          нашому сервері. Cпробуйте будь ласка пізніше!
          Дякуємо за розуміння!</p>
      </div>


      <div class="card-group hide-pc mt-3 p-2">
        <div class="flex-box-center t-c p-2 mt-2 w-100">
          <i class="fa-solid fa-face-meh"></i>

          <p class="t-lar-xx bold mb-2 t-c">Допоможіть нам покращити Discussio</p>
          <p class="t-min bold mb-2">Нам важлива ваша думка!
          </p>
          <p class="t-med mb-2">Якщо десь щось ламається то було би добре дізнатись яким чином. Будемо вдячні за ваш
            відгук та допомогу!
          </p>
          <div class="t-med t-c mt-2 bold">Перейдіть у валадку відгук та опишіть проблему</div>
        </div>
      </div>

    </div>



  </div>
</div>
