@use "../../style/presets/" as *;

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-name {
  margin-bottom: 20px;
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1.2rem 5px 1.5rem 5px;
  border-radius: 10px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  right: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #36343487;
  letter-spacing: 00.05em;
  transition: 0.6s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: rgb(0, 0, 0);
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

.alert-danger {
  position: absolute;
  bottom: -2rem;
  background: none;
  color: rgb(242, 132, 132);
  border: none;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  z-index: 30;
  font-size: 13px;
  align-items: center;
}

p {
  color: $color-text;
}

.span {
  display: flex;
  color: $color-primary;
}

