@use "../housing-services.component.scss";
@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.flex-box {
  display: flex;
}

.w-80 {
  width: 80%;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
  height: 76vh;
}

.flex-column {
  justify-content: flex-end;
  height: 70vh;
  overflow: auto;
}

.card-1 {
  position: absolute;
  left: -50%;
  width: 250px;
  height: auto;
  @include box-shadow;
  border-radius: 20px;

  .img-wpapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
    align-items: flex-end;
  }

  .img {
    overflow: hidden;
    height: 68vh;
    width: 100%;
    border-radius: 20px;
    transition: transform 1s;
    object-fit: cover;
    position: relative;

    &:hover {
      transition: transform 1s;
      transform: scale(1.2);
    }
  }
}

.item-select {
  position: relative;
}

.btn-copy {
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 15px;
  border: none;
  border-radius: 5px;
  padding: 2px;
  border-radius: 50%;
  margin-left: 10px;
}
