<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>

  <div class="container-card col-12">

    <div class="container-card col-12">
      <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">

          <div class="img-fluid rounded">
            <img [src]="selectedImageUrl ? selectedImageUrl : defaultImageUrl" alt="...">
            <div class="position-absolute flex-column w-100 p-2">

              <app-select-comun class="w-100"></app-select-comun>
              <div class="flex-box">
                <app-comun-add class="w-70"></app-comun-add>

                <div class="btn-name w-30">
                  <button class="btn-2" (click)="clickShowInput()" matTooltip="Додати коментар про послугу">
                    <i class="fa-solid fa-quote-right"></i>
                  </button>
                  <mat-label>Про послугу</mat-label>
                </div>
              </div>

              <div class="card-body w-100" *ngIf="showInput">
                <div class="form-floating p-1" *ngIf="showInput">
                  <textarea #textArea class="form-control scrollable-textarea" id="floatingTextarea"
                    [(ngModel)]="comunInfo.about_comun" name="about_comun" (input)="onInput()"
                    placeholder="Enter description here"></textarea>
                  <label for="floatingTextarea">
                    <p>Опис послуги:</p>
                  </label>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [@cardAnimation1] class="card-box col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card p-1">

          <mat-label class="group-label">Інформація про компанію:</mat-label>

          <mat-form-field class="item-select p-1" appearance="outline">
            <mat-label>Назва компанії:</mat-label>
            <input name="comunal_company" matInput [(ngModel)]="comunInfo.comunal_company">
          </mat-form-field>

          <mat-form-field class="item-select p-1" appearance="outline">
            <mat-label>Особистий рахунок оселі:</mat-label>
            <input name="personalAccount" matInput [(ngModel)]="comunInfo.personalAccount">
          </mat-form-field>

          <mat-form-field class="item-select p-1" appearance="outline">
            <mat-label>IBAN:</mat-label>
            <input name="iban" matInput [(ngModel)]="comunInfo.iban" [maxlength]="29" pattern="^[A-Za-z0-9]{29}$">
            <mat-error>IBAN повинен містити 29 символів.</mat-error>

          </mat-form-field>

          <mat-form-field class="item-select p-1" appearance="outline">
            <mat-label>ЄДРПОУ:</mat-label>
            <input name="edrpo" matInput [(ngModel)]="comunInfo.edrpo" [maxlength]="8" pattern="^[0-9]{8}$">
            <mat-error>ЄДРПОУ повинен містити 8 цифр.</mat-error>
          </mat-form-field>

          <mat-form-field class="item-select p-1" appearance="outline">
            <mat-label>Адреса компанії:</mat-label>
            <input name="comunal_address" matInput [(ngModel)]="comunInfo.comunal_address">
          </mat-form-field>

          <div>
            <mat-form-field class="item-select p-1 w-50" appearance="outline">
              <mat-label>Оплата/сайт:</mat-label>
              <input name="comunal_site" matInput [(ngModel)]="comunInfo.comunal_site">
            </mat-form-field>

            <mat-form-field class="item-select p-1 w-50" appearance="outline">
              <mat-label>Телефон</mat-label>
              <input type="tel" name="comunal_phone" matInput [(ngModel)]="comunInfo.comunal_phone" [maxlength]="10"
                pattern="^[0-9]{10}$">
              <mat-error>Телефон повинен містити 10 цифр.</mat-error>
            </mat-form-field>

          </div>


          <div class="btn-group">
            <button class="btn flex-box-row" (click)="saveInfo()">
              <i class="icon fa-regular fa-circle-check"></i>
              <div class="t-min">Зберегти</div>
            </button>

            <button class="btn flex-box-row" (click)="clearInfo()">
              <i class="icon fa-solid fa-eraser"></i>
              <div class="t-min">Очистити</div>
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</ng-template>


<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
