<div class="container-card">
  <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card m-2">

      <div class="img-fluid rounded">
        <img [src]="selectedImageUrl || defaultImageUrl" alt="...">
      </div>

      <div class="card-body">
        <h2>{{comunalName}}</h2>
        <p class="card-title">Компанія постачальника послуг</p>
        <div class="card-title-group p-2" style="width: 200px;">
          <h3 class="card-title" style="word-break: break-all">{{ comunalCompany.comunal_company }}</h3>
        </div>

        <p>Тут ви можете детально відстежувати свої рахунки, статистику по спожитому та витрати. Вносити
          показники лічильників, створювати шаблони та зберігати за місяцями та роками.</p>
      </div>

    </div>
  </div>
  <div [@cardAnimation] class="col-lg-6 col-md-12 col-sm-12 col-12">
    <router-outlet></router-outlet>
  </div>
</div>
