<div class="container-card">
  <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card m-2">

      <div class="img-fluid"> <img src="../../assets/energy.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body">
        <h4 class="card-title">Компанія постачальника послуг</h4>
        <h3 class="card-title">Yasno</h3>

        <p>Тариф за спожитий обсяг до 250 кВт·год з ПДВ 1,44 грн/кВт·год</p>
        <p>Тариф при споживанні обсягу понад 250 кВт·год 1,68 грн/кВт·год</p>
      </div>

    </div>
  </div>
  <div [@cardAnimation] class="col-lg-6 col-md-12 col-sm-12 col-12">
    <router-outlet ></router-outlet>
  </div>
</div>

