@use "../housing-services.component.scss";
@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.card-content-static {
  justify-content: space-between !important;
  width: 100% !important;
  overflow: auto;
  @include s3-s6-max {
    background-color: $color-white !important;
    @include box-shadow;
  }
}

.flex-box {
  display: flex;
  width: 100%;
}

.btn-group {
  position: sticky;
  bottom: 0;
  margin: 0;
  .btn {
    height: 60px;
  }
}

.status-box {
  border: none;
  background-color: transparent;
}

.flex-column::-webkit-scrollbar {
  display: none;
}

.item-select {
  position: relative;
}

.btn-copy {
  font-size: 30px;
  background-color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 2px;
}
