<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <div>
        <button class="btn" [routerLink]="'/user/info'">
          <i class="fa-solid fa-arrow-left"></i>
          <div class="t-min white">Назад</div>
        </button>
      </div>
    </div>

    <div class="menu-box hide-mobile">
      <div class="menu-lable">Пошук</div>
      <div class="menu-name">Оселі</div>
    </div>

    <div class="switch-btn-group" *ngIf="isMobile">
      <div>
        <button class="btn" [routerLink]="'/search-house/filter'">
          <i class="fa-solid fa-filter"></i>
          <div class="t-min dark bold">Фільтри</div>
        </button>
      </div>
    </div>

    <div class="switch-btn-group" *ngIf="!isMobile">
      <button [disabled]="optionsFound === 0" class="btn">
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
          <div class="t-min dark bold">Знайдено</div>
          <div class="status">{{optionsFound}} </div>
        </div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="isMobile">
      <button [disabled]="optionsFound === 0" class="btn" [routerLink]="'/search-house/all-cards'">
        <div>
          <i class="fa-solid fa-house-chimney-window"></i>
          <div class="t-min dark bold">Знайдено</div>
          <div class="status">{{optionsFound}} </div>
        </div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="optionsFound < 2" class="btn" mat-button [matMenuTriggerFor]="menu">
        <div *ngIf="this.filterValue === ''">
          <i class="fa-solid fa-shuffle"></i>
          <div class="t-min dark bold">Довільно</div>
        </div>

        <div *ngIf="this.filterValue === '1'">
          <i class="fa-solid fa-arrow-down-short-wide"></i>
          <div class="t-min dark bold">Дешевші</div>
        </div>

        <div *ngIf="this.filterValue === '2'">
          <i class="fa-solid fa-arrow-down-wide-short"></i>
          <div class="t-min dark bold">Дорожчі</div>
        </div>

        <div *ngIf="this.filterValue === '3'">
          <i class="fa-solid fa-arrow-down-9-1"></i>
          <div class="t-min dark bold">Новіші</div>
        </div>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSortSelected('')"><i class="fa-solid fa-shuffle"></i>Довільно</button>
        <button mat-menu-item (click)="onSortSelected('1')"><i class="fa-solid fa-arrow-down-short-wide"></i>
          Дешевші</button>
        <button mat-menu-item (click)="onSortSelected('2')"><i class="fa-solid fa-arrow-down-wide-short"></i>
          Дорожчі</button>
        <button mat-menu-item (click)="onSortSelected('3')"><i class="fa-solid fa-arrow-down-9-1"></i>
          Новіші</button>
      </mat-menu>
    </div>

    <div class="hide-mobile flex-box flex-column">
      <div class="t-lar bold gray">Показані картки</div>
      <div class="t-lar-x bold gray">{{shownCard}} з {{optionsFound}}</div>
    </div>

  </div>

  <div class="main-container">

    <div *ngIf="!isMobile" class="col-lg-3 col-md-3">
      <app-search-term-house></app-search-term-house>
    </div>
    <div *ngIf="!isMobile" class="col-lg-4 col-md-4">
      <app-all-cards></app-all-cards>
    </div>
    <div *ngIf="!isMobile" class="col-lg-5 col-md-5">
      <app-house></app-house>
    </div>

    <router-outlet *ngIf="isMobile"></router-outlet>

    <!-- <div *ngIf="isMobile && indexPage === 0" class="col-12">
      <app-search-term-house></app-search-term-house>
    </div>
    <div *ngIf="isMobile && indexPage === 1" class="col-12">
      <app-all-cards></app-all-cards>
    </div>
    <div *ngIf="isMobile && indexPage === 2" class="col-12">
      <app-house></app-house>
    </div> -->

  </div>
</div>
