* {
  box-sizing: border-box;
}

body {
  max-width: 992px;
  margin: auto;
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

button {
  display: block;
  border: 1px solid darkred;
  padding: 0.5em 1em;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: indigo;
  }
}

nav {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  a {
    display: block;
    border: 1px solid darkred;
    padding: 0.5em 1em;
    border-radius: 10px;

    &.active {
      background-color: tomato;
      color: white;
    }

    &:hover,
    &:focus {
      background-color: cornflowerblue;
      color: white;
      border-color: indigo;
    }
  }
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.phrases {
  list-style: none;
  padding: 0;

  li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 0;
    max-width: 250px;
    border-radius: 7px;
    transition: padding 0.25s;

    &:hover {
      background-color: lightcoral;
      padding-left: 1em;
    }
  }
}

li.nav-item.dropdown::marker {
  color: blue;
  font-size: 1.2em;
}

.btn-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dropdown-menu {
  border-style: none;
}


.dropdown-item {
  margin-bottom: 10px;
}
