@use "../style/presets/" as *;

.container-fluid{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a {
  margin: 10px;
  padding: 0.5em 1em;
  background-color: $color-white;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.153), 10px 4px 4px rgba(0, 0, 0, 0.398), inset 0 0 0 black;

  &.active {
    background-color: $color-accent;
    color: $color-light;
  }

  &:hover {
    background-color: $color-accent;
    color: $color-light;
  }
}

