@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss" as *;

.container-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include s3-s6-max {
    overflow: auto;
    height: 100vh;
  }
  @include s1-s3 {
    height: auto;
  }
}

.content-wrapper {
  @include flex-box-column;
  @include box-shadow;
  height: auto;
  align-items: center;
  background-color: $color-white;
  justify-content: flex-start;
  padding: 10px 10px 80px 10px;
}

.btn-group {
  @include flex-box-center;
  width: 100%;
  @include s3-s6-max {
    position: sticky;
    bottom: 0;
  }
  @include s1-s3 {
    position: fixed !important;
    bottom: 0;
    padding: 10px;
  }
  .btn {
    @include flex-box-center;
    flex: none;
    height: 60px;
    background-color: $color-accent;
    width: 250px;
  }
}

.header {
  @include flex-box-center;
  flex-direction: column;
  position: relative;
}

.wrapper {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.banka {
  height: 300px;
}

.bg-white {
  border-radius: 20px;
}

.logo-box {
  position: relative;
  width: auto;
  height: 100%;
  .logoMin {
    height: 100px;
    width: 100%;
    filter: drop-shadow(0px 10px 25px rgb(41, 41, 41));
  }
}

.btn {
  background-color: $color-accent;
}

.t-min {
  text-align: start;
}

.social-link-container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  padding: 0 10px;
  align-items: center;

  .social-link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    .social-link-icon {
      @include flex-box-center;
      margin: 0;
      padding: 0 5px 0 5px;
      background-color: transparent;
      .fa-solid,
      .fa-regular,
      .fa-brands {
        font-size: 20px;
      }
      .t-min {
        text-transform: capitalize;
        color: $color-gray;
        padding-left: 5px;
      }
      &.active {
        .fa-solid,
        .fa-regular,
        .fa-brands,
        .t-min {
          color: $color-accent;
        }
      }
      &:disabled {
        .fa-solid,
        .fa-regular,
        .fa-brands,
        .t-min {
          color: $color-gray;
        }
      }
    }
    &:hover {
      color: $color-accent;
      transition: 0.4s;
      transform: scale(1.2);
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
      .social-link-icon {
        .fa-solid,
        .fa-regular,
        .fa-brands {
          color: $color-accent;
        }
        .t-min {
          color: $color-accent;
        }
        &:disabled {
          .fa-solid,
          .fa-regular,
          .fa-brands,
          .t-min {
            color: $color-gray;
          }
        }
      }
    }
    &:disabled {
      color: $color-gray;
    }
  }
}

.section-conteiner {
  @include s3-s6-max {
    @include flex-box-center;
  }
  @include s1-s3 {
    flex-direction: column;
  }

  .section-gif {
    @include flex-box-center;
    .gif {
      width: 100%;
      object-fit: cover;
    }
    @include s1-s3 {
      flex-direction: column;
    }
  }

  .section-text {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    @include s1-s3 {
      flex-direction: column;
    }
  }
}

.banka-qr {
  animation: pulse 1s infinite alternate; /* Збільшувати та зменшувати розмір кнопки безкінечно */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  } /* Початковий розмір */
  100% {
    transform: scale(1.1);
  } /* Збільшений розмір */
}

.btn-group {
  width: 250px;
}

.technologies {
  @include flex-box-center;
  flex-wrap: wrap;
  .item-box {
    transition: 1s;
    @include flex-box-center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    .img-logo {
      width: 80px;
      height: 80px;
    }
    &:hover {
      transform: scale(1.1);
      @include box-shadow;
    }
  }
}

img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
  li {
    text-align: start;
    padding: 5px;
  }
}

.our-team {
  padding: 10px 0;
  width: 100%;
  .section-title {
    text-align: center;
    // animation: bounce-in 1s;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }
    @include s1-s3 {
      justify-content: flex-start;
    }
  }

  .row-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .team-member {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    transition: 1s;
    transform: scale(0.96);

    &:hover {
      transform: scale(1);
      // animation: shake 0.5s;
    }

    .team-member-image {
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        // animation: pulse 1s infinite;
      }
    }

    .team-member-info {
      .team-member-name {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .team-member-position {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .team-member-description {
        font-size: 14px;
        margin-bottom: 10px;
      }

      .team-member-social {
        display: flex;
        justify-content: center;
        font-size: 18px;

        a {
          color: #000000;
          margin: 0 10px;
        }
      }
    }
  }

}
