<div class="box-search">
  <div class="item">
    <mat-form-field class="search-id" appearance="outline">
      <mat-label>Додати по UserID</mat-label>
      <input matInput type="text" [(ngModel)]="searchQuery"  placeholder="UserID" />
    </mat-form-field>
  </div>
  <button class="btn-1" type="submit" (click)="onSubmit()" [disabled]="!isValidSearchQuery()"
  [ngClass]="{'disabled-btn': !isValidSearchQuery(), 'enabled-btn': isValidSearchQuery()}" *ngIf="searchQuery">Додати</button>
</div>

<div class="total-card" *ngIf="subscribers">
  <p class="count">Знайдено {{ subscribers.length }}</p>
</div>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
