@use "../../../style/presets/" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.card-menu {
  color: rgba(18, 17, 17, 0.8078431373);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.navbar-acc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-text {
  font-size: 20px;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}


.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  border: none;
  height: 4rem;
  background-color: none;
}
.list-label {
  border: none;
  padding: 0;
}
.list-select {
  border: none;
  font-size: 15px;
}
.list-option {
  border: none;
  border-radius: 10px;
}

