@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss" as *;

.container-content {
  height: 100vh;
  width: 100%;
}
.navbar {
  position: sticky;
  top: 0;
}
.main {
  height: 70vh;
}

.footer {
  bottom: 0;
  position: sticky;
}
