<div [@bot] class="container-info">

  <div class="info-content">
    <div class="img-wrapper">
      <img class="img" src="./../../../../assets/menu/tenants.png" alt="Menu Image" loading="lazy">
      <div class="blure"></div>
    </div>

    <div class="info-wrapper">
      <div class="info">
        <i class="fa-solid fa-person-hiking"></i>
        <p class="t-lar-x bold mb-2">Профіль орендаря</p>
        <h1 class="t-c">Створення та розміщення оголошень про пошук житла</h1>
        <h2 class="t-med bold mb-2 t-c">Наша платформа дозволяє створювати та розміщювати оголошення орендарів про пошук
          оселі.</h2>
        <a class="b-primary mi-wi-250 m-2" [routerLinkActive]="'active'" [routerLink]="'/user/tenant/step'">
          <i class="fa-solid fa-shoe-prints"></i>
          <div class="flex-column pl-2 t-e">
            <p class="t-med white">Пояснення</p>
            <p class="t-min white">Як активувати оголошення</p>
          </div>
        </a>
        <p class="t-med t-c"> Ви детально можете описати всі ваші побажання стосовно нової оселі. Вказати свої
          особливості. Та розмістити оголошення!</p>
        <a class="b-primary mi-wi-250 m-2 b-shadow jc-se" [routerLinkActive]="'active'"
          [routerLink]="authorization ? '/user/tenant/profile' : '/auth/login'"
          [ngClass]="{ 'disabled-link': !authorization }">
          <i class="fa-solid fa-circle-arrow-right"></i>
          <div class="flex-column pl-2">
            <p class="t-med white bold">Розмістити</p>
            <p class="t-med white bold">Оголошення</p>
          </div>
        </a>

        <p class="t-med t-c accent" *ngIf="!authorization">Для цього потрібно бути авторизованим на сайті. Якщо у вас ще немає профілю, ви можете
          зареєструватись.
        </p>

        <p class="t-med t-c">Після налаштування та активації профілю ваше оголошення буде доступне в пошуку орендарів.
          Користувачі у який є профіль оселі зможуть на вас підписуватись.
        </p>

        <a class="t-c p-3" [routerLink]="'/feedback'" [queryParams]="{ category: 'Профіль орендаря' }">
          <div class="t-med bold mr-2 accent">Є ідея як зробити краще? <i class="fa-regular fa-lightbulb accent"></i>
          </div>
        </a>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

</div>
