<div [@bot] class="container-info">

  <div class="info-content">
    <div class="img-wrapper">
      <img class="img" src="./../../../../assets/menu/resident.png" alt="Menu Image" loading="lazy">
      <div class="blure"></div>
    </div>

    <div class="info-wrapper ">
      <div class="info">
        <i class="fa-solid fa-person-hiking"></i>
        <p class="t-lar-x bold mb-2">Як це працює?</p>

        <h1 class="t-c">Мешканці оселі</h1>
        <h2 class="t-med bold mb-2 t-c mt-2">Доступ до інформації оселі та статистики, взаємодія між орендарями та
          орендодавцем. Відгуки та рейтинг. Створення та контроль за угодами оренди.</h2>

        <a class="b-primary mi-wi-250 m-2" [routerLink]="'/house/residents/resident'">
          <i class="fa-solid fa-person-shelter"></i>
          <div class="flex-column pl-2 jc-sa">
            <p class="t-med white">Список</p>
            <p class="t-min white">Мешканців</p>
          </div>
        </a>

        <p class="t-med t-c">Функція надає можливість та інструменти взаємодії орендодавців та орендарів. Не потрібно
          кожен раз пояснювати всю інформацію новим орендарям вона буде доступною після того як орендарь стане мешканцем
          оселі.
        </p>

        <app-house-resident-progress></app-house-resident-progress>

        <h2 class="t-med bold mb-2 t-c mt-2">
          Додавати мешканців можна і напряму без створення угоди
        </h2>

        <a class="b-primary mi-wi-250 m-2" [routerLinkActive]="'active'" [routerLink]="'/house/residents/add'">
          <i class="fa-solid fa-user-plus"></i>
          <div class="flex-column pl-2 jc-sa">
            <p class="t-med white">Додати</p>
            <p class="t-min white">Мешканця</p>
          </div>
        </a>

        <a class="t-c p-3" [routerLink]="'/feedback'" [queryParams]="{ category: 'Мешканці' }">
          <div class="t-med bold mr-2 accent">Є ідея як зробити краще? <i class="fa-regular fa-lightbulb accent"></i>
          </div>
        </a>

      </div>
      <app-footer></app-footer>
    </div>
  </div>

</div>
