<div class="switch-container" *ngIf="isMobile">

  <div class="menu-box hide-mobile">
    <div class="menu-lable">Меню</div>
    <div class="menu-name">Мешканці Оселі</div>
  </div>

  <div class="switch-btn-group" *ngIf="isMobile">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/residents/about'">
      <i class="fa-solid fa-circle-info"></i>
      <div class="t-min">Інфо</div>
    </button>
  </div>

  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/residents/owner'">
      <i class="fa-solid fa-id-card-clip"></i>
      <div class="t-min">Власник.</div>
    </button>
  </div>

  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/residents/resident'">
      <i class="fa-solid fa-people-roof"></i>
      <div class="t-min">Мешканці</div>
    </button>
  </div>

  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/residents/add'">
      <i class="fa-solid fa-user-plus"></i>
      <div class="t-min">Додати</div>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
