
<div class="container-box w-100 p-2">

  <div class="copyMessage-box" *ngIf="isCopiedMessage">
    <div class="copyMessage-text">{{isCopiedMessage}}</div>
    <i class="fa-regular fa-copy"></i>
    <div class="t-lar dark bold">Discussio</div>
  </div>

  <div class="t-lar bold t-c">Допоміжня інформація по оселі</div>
  <div class="t-med t-c gray">Інформація яка може знадобитись під рукою</div>

  <div class="param-box w-100 mt-2">

    <div class="param-group mb-2 flex-column">
      <div class="param-label"><i class="fa-solid fa-location-dot"></i> Локація </div>
      <div class="flex-box">
        <button class="btn param-field" (click)="openMap()">
          Розташування на:<span class="param-value" *ngIf="flatInfo.wifi">Google Maps</span>
        </button>
        <button class="btn-copy" (click)="copyLocation()"><i class="fa-regular fa-clone"></i> </button>
      </div>
    </div>

    <div class="param-group mb-2 flex-column">
      <div class="param-label"><i class="fa-solid fa-wifi"></i> Пароль від WiFi </div>
      <div class="flex-box">
        <div class="param-field">
          Пароль:<span class="param-value" *ngIf="flatInfo.wifi">{{ flatInfo.wifi }} </span>
        </div>
        <button class="btn-copy" (click)="copyWiFi()"><i class="fa-regular fa-clone"></i> </button>
      </div>
    </div>

    <div class="param-group mb-2 flex-column">
      <div class="param-label"><i class="fa-solid fa-person-chalkboard"></i> Ім'я представника ОСББ </div>
      <div class="param-field">
        Ім'я:<span class="param-value" *ngIf="flatInfo.osbb_name">{{ flatInfo.osbb_name }}</span>
      </div>
    </div>

    <div class="param-group mb-2 flex-column">
      <div class="param-label"><i class="fa-solid fa-phone"></i> Номер телефону ОСББ </div>
      <div class="flex-box">
        <div class="param-field">
          Номер телефону:<span class="param-value" *ngIf="flatInfo.osbb_phone">{{ flatInfo.osbb_phone }}</span>
        </div>
        <button class="btn-copy" (click)="copyOsbbPhone()"><i class="fa-regular fa-clone"></i> </button>
      </div>
    </div>

    <div class="param-group mb-2 flex-column">
      <div class="param-label"><i class="fa-regular fa-credit-card"></i> Картка власника оселі для оплати </div>
      <div class="flex-box">
        <div class="param-field">
          Картка:<span class="param-value" *ngIf="flatInfo.pay_card">{{ flatInfo.pay_card }}</span>
        </div>
        <button class="btn-copy" (click)="copyPayCard()"><i class="fa-regular fa-clone"></i> </button>
      </div>
    </div>

    <div class="param-group mb-2 flex-column">
      <div class="param-label"><i class="fa-solid fa-info"></i> Додаткова інформація </div>
      <div class="t-min " *ngIf="flatInfo.info_about">{{ flatInfo.info_about }}</div>
    </div>

    <div class="t-med t-c gray" *ngIf="acces_filling !== 1">
      Редагувати інформацію можна буде коли вам нададуть дозвіл "Редагування оселі" в меню мешканці.
    </div>

    <div class="flex-group p-2" *ngIf="acces_filling !== 1">
      <button class="link-t" [routerLink]="'/house/resident'">
        <span>Дозволи мешканців</span><i class="fa-solid fa-lock p-2"></i>
      </button>
    </div>

    <div class="flex-group p-2" *ngIf="acces_filling === 1">
      <button class="link-t" [routerLink]="'/edit-house/additional-info'">
        <span>Налаштувати</span><i class="fa-solid fa-gear p-2"></i>
      </button>
    </div>

  </div>
</div>




