@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/shared.scss";
@use "../parameters/parameters.component.scss";

.fa-solid, .fa-regular {
  font-size: 20px;
  color: $color-dark;
  width: 30px;
}

.btn-copy {
  @include flex-box;
  // border: 1px solid $color-gray;
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
  margin-left: 10px;
}
