@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  min-height: 70vh;
}

.container-card {
  display: flex;
  flex-direction: column;
  @include s1-s3 {
    height: auto;
    margin-top: 10px;
  }
}

.link-menu {
  position: relative;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.status {
  display: flex;
  position: absolute;
  left: -18px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: tomato;
  color: white;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mobile {
  @include s1-s3 {
    width: 100%;
    margin-top: 10px;
    height: 60px;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}




