<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container-box">
    <div class="container-card hide-mobile col-lg-3 col-md-3 col-sm-12 col-12">
      <div class="m-2">
        <app-selection-housing></app-selection-housing>
        <a [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">Назад</a>

        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-host/subscribers-house'">
          <span class="link-text">Підписники</span>
          <div class="status" *ngIf="counterSubs.status !== 0">{{counterSubs.status}}</div>
        </a>

        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-host/subscriptions-house'">
          <span class="link-text">Підписки</span>
          <div class="status" *ngIf="counterSubscriptions.status !== 0">{{counterSubscriptions.status}}</div>
        </a>

        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-host/subscribers-discus'">
          <span class="link-text">Дискусії</span>
          <div class="status" *ngIf="counterAcceptSubs.status !== 0">{{counterAcceptSubs.status}}</div>
        </a>

      </div>
    </div>

    <div class="hide-pc mobile p-2">
      <app-selection-housing></app-selection-housing>
    </div>

    <div class="container-card col-lg-9 col-md-9 col-sm-12 col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
