<div class="card-container mb-2">

  <app-housing-selection></app-housing-selection>
  <app-user-search></app-user-search>

  <p>Мешканці: <span class="accent">{{ subscribers.length }} </span></p>
</div>

<div class="card-box">
  <div class="card-container p-2">

    <button class="card-wrapper card mb-4" *ngFor="let subscriber of subscribers"
      (click)="onSubscriberSelect(subscriber)" [class.selected]="selectedSubscriber === subscriber">
      <div class="card-img-container">
        <img class="card-img-top"
          [src]="'http://localhost:3000/img/users/' + (subscriber.photo ? subscriber.photo : 'user_default.svg')"
          alt="User Image">
      </div>

      <div class="card-body">
        <div class="card-title">{{ subscriber.lastName }} <br> {{ subscriber.firstName }}</div>
        <div class="btn-group">
          <button class="btn m-1" (click)="removeSubscriber(subscriber.user_id)">
            <i class="fa-solid fa-user-xmark"></i>
          </button>
        </div>
      </div>
    </button>

  </div>
</div>
