<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="content-component">

    <div class="info-container" *ngIf="helpInfo">
      <div class="info-help-box">
        <i class="fa-solid fa-info"></i>

        <div class="t-med bold accent">Меню наповнення</div>
        <div class="t-min white">
          <p class="t-min white">Це меню створено для того щоб власник оселі міг описати об'єкти та техніку яка
            знаходиться в оселі. яку
            передає у користування орендару</p>
          <ul>
            <li>Цей список буде включений в акт прийому-передачі оселі</li>
            <li>Сформований список можна корегувати додаючи чи видаляючи об'єкти</li>
            <li>Для орендаря можна буде формувати такий самий список, яким буде зручно користуватись при переїзді </li>
          </ul>
        </div>
        <button class="btn" (click)="openHelp()">Зрозуміло</button>
      </div>
    </div>

    <div class="switch-container">
      <div class="switch-btn-group">
        <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house'">
          <i class="fa-solid fa-arrow-left"></i>
          <div class="t-min">Назад</div>
        </button>
      </div>

      <div class="menu-box hide-mobile">
        <div class="menu-lable">Меню</div>
        <div class="menu-name">Наповнення Оселі</div>
      </div>

      <div class="hide-pc">
        <div class="switch-btn-group ">
          <button class="btn" (click)="onClickMenu(0)" [ngClass]="{ 'active': indexPage === 0}">
            <i class="fa-solid fa-circle-info"></i>
            <div class="t-min bold">Інфо</div>
          </button>
        </div>
      </div>

      <div class="switch-btn-group">
        <button class="btn" (click)="indexPage = 1" [ngClass]="{ 'active': indexPage == 1}">
          <i class="fa-solid fa-boxes-stacked"></i>
          <div class="t-min dark bold">Огляд</div>
          <div class="counterNum t-lar bold" *ngIf="flat_objects">{{flat_objects.length}}</div>
        </button>
      </div>

      <div class="switch-btn-group">
        <button [disabled]="acces_filling === 0" class="btn" (click)="indexPage = 2"
          [ngClass]="{ 'active': indexPage == 2}">
          <i class="fa-solid fa-boxes-packing"></i>
          <div class="t-min dark bold">Додати</div>
        </button>
      </div>

      <div class="switch-btn-group">
        <button [disabled]="acces_filling === 0" class="btn" (click)="indexPage = 3"
          [ngClass]="{ 'active': indexPage == 3}">
          <i class="fa-solid fa-dolly"></i>
          <div class="t-min dark bold">Видалити</div>
        </button>
      </div>

      <div class="switch-btn-group">
        <button class="btn" [routerLink]="'/house/agree/concluded'">
          <i class="fa-solid fa-people-carry-box"></i>
          <div class="t-min dark bold">Акт</div>
        </button>
      </div>

    </div>

    <div class="main-container">
      <div [@right1] class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12 hide-mobile">
        <div class="card-content-static">
          <div class="card-group">
            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-person-hiking"></i>
              <p class="t-lar-xx bold mb-2 t-c">Меню Наповнення Оселі</p>
              <p class="t-min bold mb-2">Наповнення може додавати і видаляти власник або користувач з відповідним
                доступом.</p>
              <p class="t-min">Лише три
                кроки розділяють вас від ідеального житла. Крок перший: Опишіть свої потреби та бажання щодо оселі,
                вказавши для кого і який формат вам потрібен. Крок другий: Встановіть параметри оселі, оцініть
                інфраструктуру та особливості, які вам важливі. Крок третій: Зазначте терміни, бюджет та додаткову
                інформацію. Після активації вашого пошукового профілю, власники нерухомості зможуть надсилати вам
                пропозиції, які відповідають вашим потребам. Це швидкий та ефективний спосіб знайти ідеальне житло
                для
                вас.
                .</p>
            </div>

            <div class="flex-column border-bottom mt-2">
            </div>

            <div [@left3] class="btn-group w-100 mt-2 hide-pc">
              <button class="btn" (click)="indexPage = 2">
                <div class="t-med dark bold p-2">Почати</div>
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>

            <div class="btn-group mt-2">
              <button class="btn btn-navigation" [routerLink]="'/feedback'" [queryParams]="{ category: 'Наповнення' }">
                <div class="t-med bold mr-2">Є ідея як зробити краще?</div>
                <i class="fa-regular fa-lightbulb"></i>
              </button>
            </div>

          </div>
          <div class="card-background">
            <img class="img" src="../../../../assets/example-agree/house_box3.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">

        <div class="card-wrapper">

          <div [@swichCard] *ngIf="indexPage === 0" class="card-animation hide-pc">
            <div class="card-content-static">
              <div class="card-group">
                <div class="flex-box-center t-c p-2 mt-2 w-100">
                  <i class="fa-solid fa-person-hiking"></i>
                  <p class="t-lar-xx bold mb-2 t-c">Додати наповнення. </p>
                  <p class="t-min bold mb-2">Наповнення може додавати і видаляти власник або користувач з відповідним
                    доступом.</p>
                  <p class="t-min">Лише три
                    кроки розділяють вас від ідеального житла. Крок перший: Опишіть свої потреби та бажання щодо оселі,
                    вказавши для кого і який формат вам потрібен. Крок другий: Встановіть параметри оселі, оцініть
                    інфраструктуру та особливості, які вам важливі. Крок третій: Зазначте терміни, бюджет та додаткову
                    інформацію. Після активації вашого пошукового профілю, власники нерухомості зможуть надсилати вам
                    пропозиції, які відповідають вашим потребам. Це швидкий та ефективний спосіб знайти ідеальне житло
                    для
                    вас.
                    .</p>
                </div>

                <div class="flex-column border-bottom mt-2">
                </div>

                <div [@left3] class="btn-group w-100 mt-2 hide-pc">
                  <button class="btn" (click)="indexPage = 2">
                    <div class="t-med dark bold p-2">Почати</div>
                    <i class="fa-solid fa-arrow-right"></i>
                  </button>
                </div>

                <div class="btn-group mt-2">
                  <button class="btn btn-navigation" [routerLink]="'/feedback'"
                    [queryParams]="{ category: 'Наповнення' }">
                    <div class="t-med bold mr-2">Є ідея як зробити краще?</div>
                    <i class="fa-regular fa-lightbulb"></i>
                  </button>
                </div>

              </div>
              <div class="card-background">
                <img class="img" src="../../../../assets/example-agree/house_box3.jpg" alt="">
              </div>
            </div>
          </div>

          <div [@swichCard] *ngIf="indexPage === 1" class="card-animation">
            <div class="card-content p-2">
              <mat-form-field class="list-form w-100 p-2" appearance="fill">
                <mat-select id="sortSelect" [(ngModel)]="selectedSortOption" (selectionChange)="sortData()"
                  placeholder="Фільтрувати за типом">
                  <mat-option value="">Без фільтрування</mat-option>
                  <mat-option value="Вел. побутова техніка">Вел. побутова техніка</mat-option>
                  <mat-option value="Мал. побутова техніка">Мал. побутова техніка</mat-option>
                  <mat-option value="Кліматична техніка">Кліматична техніка</mat-option>
                  <mat-option value="Меблі">Меблі</mat-option>
                  <mat-option value="Ванна кімната">Ванна кімната</mat-option>
                  <mat-option value="Лічильники">Лічильники</mat-option>
                </mat-select>
                <mat-hint align="end" class="t-min gray">Фільтр наповнення оселі</mat-hint>
              </mat-form-field>

              <div class="box-filling" (panstart)="onPanStart($event)" (panend)="onPanEnd($event)">
                <div *ngFor="let flat of flat_objects" class="card-filling mb-2"
                  [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }" (click)="selectCard(flat)">
                  <div class="box-img w-30" [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }">
                    <img class="card-img" [src]="getImageSource(flat)" alt="User Image">
                    <img class="icon" [src]="getIconUrl(flat.type_filling, flat.name_filling)"
                      alt="{{ flat.name_filling }} icon" />
                  </div>
                  <div class="flex-column w-70 p-2" *ngIf="flat.filling_id !== selectedCard">
                    <div class="t-min">Тип: <span class="accent">{{ flat.type_filling }}</span> </div>
                    <div class="t-min">Назва: <span class="accent">{{ flat.name_filling }}</span> </div>
                    <div class="t-min">Стан: <span class="accent">{{ selectCondition[flat.condition_filling] }}</span>
                    </div>
                    <div class="t-min">Кількість: <span class="accent">{{ flat.number_filling }}</span> </div>
                  </div>
                  <div class="t-min p-2" *ngIf="flat.filling_id === selectedCard">Опис: {{ flat.about_filling }} <span
                      *ngIf="!flat.about_filling">Тут Ви можете описати предмет, його характеристики, стан, правила
                      користування,
                      додати інструкції і т.д</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div [@swichCard] *ngIf="indexPage === 2" class="card-animation">
            <div class="card-content p-2">
              <div class="block-w">
                <button class="info-btn mr-2" (click)="openHelp()">Допомога</button>

                <mat-label class="group-label mb-2">Додати об'єкт</mat-label>

                <mat-form-field class="item-select" appearance="outline">
                  <mat-select [(ngModel)]="selectedType" (ngModelChange)="loadObjects()" placeholder="Виберіть тип"
                    required="">
                    <mat-option *ngFor="let type of objects" [value]="type.type">{{ type.type }}</mat-option>
                  </mat-select>
                  <mat-hint align="end" class="gray">Оберіть тип об'єкту*</mat-hint>
                </mat-form-field>

                <mat-form-field class="item-select" appearance="outline" *ngIf="selectedObject !== 0">

                  <mat-select [(ngModel)]="selectedObject" (ngModelChange)="checkObject()" placeholder="Виберіть назву">
                    <mat-option [value]="0">Свій варіант</mat-option>
                    <mat-option *ngFor="let obj of filteredObjects" [value]="obj.name">
                      <img class="option-icon" [src]="obj.iconUrl" alt="{{ obj.name }} icon">
                      <span class="option-text">{{ obj.name }}</span>
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end" class="gray">Дайте назву об'єкту*</mat-hint>
                </mat-form-field>

                <div class="box-add-custom" *ngIf="selectedObject === 0">
                  <mat-form-field class="item-select" (ngModelChange)="checkObject()" appearance="outline">
                    <input matInput [(ngModel)]="customObject" placeholder="Введіть назву об'єкту">
                    <mat-hint align="end" class="gray">Додати свій об'єкт</mat-hint>
                  </mat-form-field>
                  <div class="btn-close-container">
                    <div class="btn-close-box">
                      <button class="btn-close" (click)="selectedObject = ''"></button>
                    </div>
                  </div>
                </div>

                <div class="group-item">

                  <mat-form-field class="item-select w-25" appearance="outline">
                    <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="objectInfo.number"
                      name="number">
                    <mat-hint align="end" class="gray">Кількість</mat-hint>
                  </mat-form-field>

                  <mat-form-field class="item-select w-75 pl-2" appearance="outline">
                    <mat-select [(ngModel)]="objectInfo.condition" name="condition" placeholder="Виберіть стан">
                      <mat-option *ngFor="let condition of selectCondition | keyvalue" [value]="condition.key">
                        {{ condition.value }}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end" class="gray">Опишіть cтан об'єкту*</mat-hint>
                  </mat-form-field>
                </div>

                <mat-form-field class="textarea-form mt-2">
                  <mat-label>Опис об'єкту:</mat-label>
                  <textarea class="textarea-form" #textArea (input)="onInput()" [(ngModel)]="objectInfo.about" matInput
                    placeholder="Тут Ви можете описати предмет, його характеристики, стан, правила користування, додати інструкції і т.д."></textarea>
                </mat-form-field>

                <div class="add-photo-group">

                  <div class="box-group" *ngIf="cropped">
                    <div *ngIf="cropped"><img class="cropped" [src]="cropped"></div>
                    <p class="btn-name" *ngIf="cropped">Фото додане</p>
                  </div>
                </div>

              </div>
              <div class="btn-group">
                <button [disabled]="!checkObj" class="btn" (click)="_fileInput.click()">
                  <i class="fa-regular fa-image mr-2"></i> Фото
                </button>
                <input #_fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>
                <button [disabled]="!checkObj" class="btn" (click)="saveObject()">
                  <i class="fa-regular fa-circle-check mr-2"></i> Зберегти
                </button>
              </div>

            </div>
          </div>

          <div [@swichCard] *ngIf="indexPage === 3" class="card-animation">
            <div class="card-content p-2">
              <mat-form-field class="list-form w-100 p-2" appearance="fill">
                <mat-select id="sortSelect" [(ngModel)]="selectedSortOption" (selectionChange)="sortData()"
                  placeholder="Фільтрувати за типом">
                  <mat-option value="">Без фільтрування</mat-option>
                  <mat-option value="Вел. побутова техніка">Вел. побутова техніка</mat-option>
                  <mat-option value="Мал. побутова техніка">Мал. побутова техніка</mat-option>
                  <mat-option value="Кліматична техніка">Кліматична техніка</mat-option>
                  <mat-option value="Меблі">Меблі</mat-option>
                  <mat-option value="Ванна кімната">Ванна кімната</mat-option>
                  <mat-option value="Лічильники">Лічильники</mat-option>
                </mat-select>
                <mat-hint align="end" class="t-min gray">Фільтр наповнення оселі</mat-hint>
              </mat-form-field>

              <div class="box-filling" (panstart)="onPanStart($event)" (panend)="onPanEnd($event)">
                <div *ngFor="let flat of flat_objects" class="card-filling mb-2"
                  [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }" (click)="selectCard(flat)">
                  <div class="box-img w-30" [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }">
                    <img class="card-img" [src]="getImageSource(flat)" alt="User Image">
                    <img class="icon" [src]="getIconUrl(flat.type_filling, flat.name_filling)"
                      alt="{{ flat.name_filling }} icon" />
                  </div>
                  <button class="btn-delete flex-box" (click)="deleteObject(flat)" matTooltip="Видалити">
                    <i class="fa-solid fa-xmark"></i></button>

                  <div class="flex-column w-70 p-2" *ngIf="flat.filling_id !== selectedCard">
                    <div class="t-min">Тип: <span class="accent">{{ flat.type_filling }}</span> </div>
                    <div class="t-min">Назва: <span class="accent">{{ flat.name_filling }}</span> </div>
                    <div class="t-min">Стан: <span class="accent">{{ selectCondition[flat.condition_filling] }}</span>
                    </div>
                    <div class="t-min">Кількість: <span class="accent">{{ flat.number_filling }}</span> </div>
                  </div>
                  <div class="t-min p-2" *ngIf="flat.filling_id === selectedCard">Опис: {{ flat.about_filling }} <span
                      *ngIf="!flat.about_filling">Тут Ви можете описати предмет, його характеристики, стан, правила
                      користування,
                      додати інструкції і т.д</span>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</ng-template>

