@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.card {
  height: auto;
  @include s1-s3 {
    height: auto;
  }
}

p,
li {
  font-size: 13px;
}

textarea {
  max-height: 150px;
  overflow: auto;
}

img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;
  transition: transform 1s;
}

.fa-solid {
  color: $color-white;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  @include s1-s3 {
    align-content: flex-start;
    height: 90vh;
  }
}
.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.card-box {
  display: flex;
  @include s1-s3 {
    flex-direction: column;
  }
}

.group-label {
  font-weight: 600;
  color: $color-accent;
}

.item-select {
  font-size: 16px !important;
  width: 100%;
  height: 70px;
}
.option-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.option-text {
  flex: 1;
}
.group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.group-item {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.label-1 {
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}
.input-div {
  cursor: pointer;
  position: relative;
  background-color: $color-dark;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow:
    0px 0px 20px $color-primary,
    inset 0px 0px 10px $color-primary,
    0px 0px 5px rgb(255, 255, 255);
  transition: 1s;

  &:hover {
    background-color: $color-accent;
  }
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.btn-delete {
  z-index: 20;
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  transition: 1s;
  border: none;
  background-color: $color-accent;

  &:hover {
    background-color: $color-dark;
    transform: scale(1.4);
    border: 1px solid $color-dark;
  }
}

.card-info {
  position: relative;
}
.card-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
}

.box-filling {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  overflow: auto;
  align-content: flex-start;
  justify-content: center;
  @include s1-s3 {
    height: auto;
    max-height: 90vh;
  }
}

.box-filling::-webkit-scrollbar {
  display: none;
}

.card-filling {
  cursor: pointer;
  width: 97%;
  height: 130px;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 10px;
  justify-content: space-between;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s;

  &:hover {
    transform: scale(1.05);
    background-color: $color-accent;
  }

  @include s1-s3 {
    width: 94%;
  }
}

.card-add {
  width: 47%;
  min-width: 200px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-img {
  width: 50%;
  position: relative;
}
.card-img {
  border-radius: 10px;

  width: 100%;
  height: 100%;
}
.icon {
  position: absolute;
  background-color: $color-white;
  top: 35%;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  padding: 5px;
  z-index: 20;
}

.card-body {
  display: flex;
  padding: 5px 10px 5px 5px;
  width: 60%;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  overflow: auto;
}
.card-title {
  font-size: 14px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
