<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container-card">
    <div class="box">

      <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12" *ngIf="option === 1">
        <div class="card m-2 p-2">
          <mat-label class="group-label mb-2">Внесіть характеристики предмету</mat-label>

          <mat-form-field class="item-select" appearance="outline">
            <mat-label>Тип предмету</mat-label>
            <mat-select [(ngModel)]="selectedType" (ngModelChange)="loadObjects()" placeholder="Виберіть тип">
              <mat-option *ngFor="let type of objects" [value]="type.type">{{ type.type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-select" appearance="outline">
            <mat-label>Назва предмету </mat-label>
            <input matInput [(ngModel)]="selectedObject" placeholder="Виберіть або введіть послугу"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let obj of filteredObjects" [value]="obj.name">
                <img class="option-icon" [src]="obj.iconUrl" alt="{{ obj.name }} icon" />
                <span class="option-text">{{ obj.name }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="group">
            <div class="group-item">
              <mat-form-field class="item-select w-25 p-1" appearance="outline">
                <mat-label>Кіл.</mat-label>
                <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="objectInfo.number"
                  name="number">
              </mat-form-field>

              <mat-form-field class="item-select w-75 p-1" appearance="outline">
                <mat-label>Стан</mat-label>
                <mat-select [(ngModel)]="objectInfo.condition" name="condition">
                  <mat-option *ngFor="let condition of selectCondition | keyvalue" [value]="condition.key">
                    {{ condition.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="example-full-width mt-2">
            <mat-label>Опис предмету:</mat-label>
            <textarea #textArea id="floatingTextarea" (input)="onInput()" [(ngModel)]="objectInfo.about" matInput
              placeholder="Тут Ви можете описати предмет, його характеристики, стан, правила користування, додати інструкції і т.д."></textarea>
          </mat-form-field>

          <div class="card-1">
            <div class="group">
              <label class="label-1" *ngIf="selectedFile">Обрано: {{ selectedFile.name }}</label>
              <label class="label-1" *ngIf="!selectedFile">Додати фото</label>
              <div class="input-div">
                <i class="icon-up fa-solid fa-cloud-arrow-up" for="upload"></i>
                <input class="input-up" name="file" type="file" id="upload" (change)="onFileSelected($event)">
              </div>
            </div>
          </div>

          <div class="btn-group">
            <button class="btn btn-add mt-2" matTooltip="ЗБЕРЕГТИ" (click)="saveObject()"><i
                class="fa-regular fa-circle-check"></i></button>
          </div>

        </div>
      </div>

      <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12" *ngIf="option === 1">
        <div class="card-info m-2 p-2">
          <button class="btn-back" (click)="option = 2" matTooltip="Назад"><i
              class="fa-solid fa-angle-left"></i></button>

          <h3><strong>Меню наповнення</strong></h3>
          <p>Це меню створено для того щоб власник оселі міг описати предмети та техніку яка знаходиться в оселі. яку
            передає у користування орендару</p>
          <p><strong>Функції</strong></p>
          <ul>
            <li>З цього меню буде братись інформація для утворення списку прийому передачі меблів
              техніки і т.д</li>
            <li>Цю інформацію також можна буде показувати людям з якими у
              вас дискусія щоб вони орієнтувались на те що в оселі вже є для їх комфорту</li>
            <li>Сформований список буде додаватись до шаблону угоди.</li>
            <li>Сформований список буде можна корегувати додаючи чи видаляючи предмети</li>
            <li>Для орендара можна буде формувати такий самий список, яким буде зручно користуватись при переїзді</li>
          </ul>
        </div>
      </div>

      <div class="card-group p-2 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="option === 2">

        <div [@cardAnimation1] class="box-filling p-2">

          <div class="card-add m-2">
            <button class="btn-create" (click)="option = 1" matTooltip="Додати"><i
                class="fa-solid fa-plus"></i></button>
          </div>

          <div class="card-box  col-lg-6 col-md-12 col-sm-12 col-12" *ngIf="flat_objects?.length === 0">
            <div class="m-2 p-2">
              <h3><strong>Меню наповнення</strong></h3>
              <p>Це меню створено для того щоб власник оселі міг описати предмети та техніку яка знаходиться в оселі.
                яку
                передає у користування орендару</p>
              <p><strong>Функції</strong></p>
              <ul>
                <li>З цього меню буде братись інформація для утворення списку прийому передачі меблів
                  техніки і т.д</li>
                <li>Цю інформацію також можна буде показувати людям з якими у
                  вас дискусія щоб вони орієнтувались на те що в оселі вже є для їх комфорту</li>
                <li>Сформований список буде додаватись до шаблону угоди.</li>
                <li>Сформований список буде можна корегувати додаючи чи видаляючи предмети</li>
                <li>Для орендара можна буде формувати такий самий список, яким буде зручно користуватись при переїзді
                </li>
              </ul>
            </div>
          </div>

          <div *ngFor="let flat of flat_objects" class="card-filling m-2"
            [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }" (click)="selectCard(flat)">
            <div class="box-img" [class.selected]="flat.filling_id === selectedCard">
              <img class="card-img" [src]="getImageSource(flat)" alt="User Image">
              <img class="icon" [src]="getIconUrl(flat.type_filling, flat.name_filling)"
                alt="{{ flat.name_filling }} icon" />
            </div>
            <div class="card-body" *ngIf="flat.filling_id !== selectedCard">
              <div class="card-title">Тип: {{ flat.type_filling }}</div>
              <div class="card-title">Назва: {{ flat.name_filling }} </div>
              <div class="card-title">Стан: {{ selectCondition[flat.condition_filling] }}</div>
              <div class="card-title">Кількість: {{ flat.number_filling }}</div>
              <button class="btn-delete" (click)="deleteObject(flat)" matTooltip="Видалити"><i
                  class="fa-solid fa-trash"></i></button>
            </div>
            <div class="card-body" *ngIf="flat.filling_id === selectedCard">
              <div class="card-title">Опис: {{ flat.about_filling }}  <span *ngIf="!flat.about_filling">Тут Ви
                можете описати предмет, його характеристики, стан, правила користування, додати інструкції і
                т.д</span></div>
            </div>
          </div>
        </div>


      </div>




    </div>
  </div>
</ng-template>
