<div class="navbar">
  <nav class="nav">
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/eng-cabinet'"><span class="link-text">Показники </span>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/details'"><span class="link-text">Реквізити </span>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/payment-history'"><span class="link-text">Історія </span>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/service-profile'"><span class="link-text">Оплата </span>
    </a>
  </nav>
</div>
