<div class="navbar">
  <nav class="nav">
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/comun-company/eng-cabinet'"><span class="link-text">Показники </span>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/payment-history'"><span class="link-text">Дані </span>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/comun-statistics'"><span class="link-text">Статистика </span>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/comun-company/service-profile'"><span class="link-text">Оплата </span>
    </a>
  </nav>
</div>
