<div class="navbar">
  <nav class="nav">
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/eng-cabinet'"><span class="link-text">Показники </span><i
        class="fa-solid fa-stapler"></i>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/details'"><span class="link-text">Реквізити </span><i
        class="fa-solid fa-money-check"></i>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/payment-history'"><span class="link-text">Історія </span><i
        class="fa-solid fa-book-open"></i>
    </a>
    <a class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/energy/service-profile'"><span class="link-text">Оплата </span><i
        class="fa-solid fa-credit-card"></i>
    </a>
  </nav>
</div>
