@use "../../../style/mixins/" as *;
@use "../../../style/presets/" as *;
@use "../../../style/shared.scss";
@use "../../search.scss";

.position-sticky {
  @include flex-box-center;
  top: 0;
  z-index: 150;
  background-color: $color-white;
  margin-top: 10px;
  border-radius: 0 0 5px 5px;
  width: 100%;
  @include s3-s6-max {
    display: none;
  }
}
.find-cards {
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0px 10px;
}

.card-wrapper {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

