<div class="container-card">

  <div class="card-box col-lg-3 col-md-5 col-sm-6 col-12">
    <div class="m-2">
      <app-account-selection></app-account-selection>
      <app-house-nav></app-house-nav>
    </div>
  </div>

  <div class="card-box col-lg-5 col-md-5 col-sm-6 col-12">
    <div class="card-container">
      <div class="scrollable-container p-3">
        <div class="mb-2">
          <p>Кількість підписників: {{ subscribers.length }}</p>
        </div>
        <div class="card-wrapper card mb-4" *ngFor="let subscriber of subscribers">
          <div class="card-img-container">
            <img class="card-img-top"
              [src]="'http://localhost:3000/img/users/' + (subscriber.photo ? subscriber.photo : 'user_default.svg')"
              alt="User Image">
          </div>
          <div class="card-social-link">
            <a *ngIf="subscriber.instagram" [href]="subscriber.instagram"><i class="fab fa-brands fa-instagram"></i></a>
            <a *ngIf="subscriber.telegram" [href]="subscriber.telegram"><i class="fab fa-brands fa-telegram"></i></a>
            <a *ngIf="subscriber.viber" [href]="subscriber.viber"><i class="fab fa-brands fa-viber"></i></a>
            <a *ngIf="subscriber.facebook" [href]="subscriber.facebook"><i class="fab fa-brands fa-facebook"></i></a>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ subscriber.lastName }} {{ subscriber.firstName }} <br> {{ subscriber.surName }}</h2>


            <div class="btn-group">
              <button class="btn-1 m-1" (click)="approveSubscriber(subscriber)">ДИСКУСІЯ</button>
              <button class="btn-1 m-1" (click)="removeSubscriber(subscriber)"><i
                  class="fa-solid fa-user-xmark"></i></button>
            </div>
          </div>

        </div>
        <button class="link-btn btn m-1">Завантажити більше підписників</button>


      </div>
    </div>
  </div>

  <div class="card-box col-lg-4 col-md-12 col-sm-12 col-12">
    <div class="m-2">
      <div class="card-info p-2">
        <h4>Підписники на оселю:</h4>
        <div class="title p-2">
          <p>Тут Ви зможете бачити користувачів які підписані на вашу оселю, Ви можете або ухвалити користувача для
            подальшого спілкування або відмовити.</p>
        </div>
        <div class="title-group">
          <div class="title">
            <p>Що робить кнопка ДИСКУСІЯ?</p>
          </div>
          <button class="btn-info col-2 m-3 info" type="button" data-bs-toggle="collapse"
            data-bs-target="#discussionButton" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-info"></i>
          </button>
        </div>

        <div class="collapse" id="discussionButton">
          <div class="card-body-cast">
            <p class="text-info">Вона дозволяє ухвалити користувача для подальшого діалогу між вами в меню ДИСКУСІЯ. В
              меню дискусія більше інформації про її можливості.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
