@use "../../style/presets/" as *;

.wrapper {
  width: 1050px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 auto;
}

.carousel {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 11vh;
  display: flex;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(233, 233, 233, 0.516);
}

.carousel:hover {
}

.carousel:hover .slide {
  animation-play-state: paused;
}

.carousel::before,
.carousel::after {
  position: absolute;
  content: "";
  height: 30vh;
  width: 200px;
  z-index: 1;
  top: 0;
  // background: linear-gradient(to right, $color-primary 0%, transparent 100%);
}

.carousel::before {
  left: 0;
}

.carousel::after {
  transform: rotate(180deg);
  right: 0;
}

.slide {
  display: flex;
  align-items: center;
  height: inherit;
  animation: slideshow 30s linear infinite;
}
.slide__image {
  height: calc(100% - 40px);
  margin: 0 40px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slide-item{
  width: 450px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.105), 0px 0px 4px rgba(0, 0, 0, 0.162);
}

h2{
  margin: 0;
  padding: 0;
  font-size: 25px;
}
