@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.header {
  padding: 20px 10px 10px 10px;

  @include s1-s3 {
    @include box-shadow;
    border-radius: 0px 0px 20px 20px;
    background-color: $color-accent;
    .t-lar-xx,
    .t-lar-x {
      color: $color-white;
    }
  }
  .b-primary {
    font-weight: 600;
    .flex-column {
      .t-med,
      .t-min {
        font-weight: 600;
        color: $color-white;
      }
    }
    @include s1-s3 {
      color: $color-accent;
      background-color: $color-white;
      .fa-regular,
      .fa-solid {
        color: $color-accent;
      }
      .flex-column {
        .t-med,
        .t-min {
          color: $color-accent;
        }
      }
    }
  }
}

.main {
  height: auto;
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  @include s1-s3 {
    justify-content: flex-start;
    .section-conteiner {
      flex-direction: column;
    }
  }
  .section-conteiner {
    @include flex-box-center;
    .section-gif {
      @include flex-box-center;
      .gif {
        width: 100%;
        object-fit: cover;
      }
    }
    .section-text {
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }
  }
  .footer {
    @include flex-box-center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
    background-image: linear-gradient(to bottom, transparent 0%, $color-primary 40%) !important;

    @include s1-s3 {
      background-image: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 30%) !important;
    }
  }
}

.btn-group {
  margin: 0;
  @include flex-box-center;
  @include s1-s3 {
    flex-direction: column;
  }
}

.social-link-container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  padding: 0 10px;
  align-items: center;

  .social-link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    .social-link-icon {
      @include flex-box-center;
      margin: 0;
      padding: 0 5px 0 5px;
      background-color: transparent;
      .fa-solid,
      .fa-regular,
      .fa-brands {
        font-size: 16px;
      }
      .t-min {
        text-transform: capitalize;
        color: $color-gray;
        padding-left: 5px;
      }
      &.active {
        .fa-solid,
        .fa-regular,
        .fa-brands,
        .t-min {
          color: $color-accent;
        }
      }
      &:disabled {
        .fa-solid,
        .fa-regular,
        .fa-brands,
        .t-min {
          color: $color-gray;
        }
      }
    }
    &:hover {
      color: $color-accent;
      transition: 0.4s;
      transform: scale(1.2);
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
      .social-link-icon {
        .fa-solid,
        .fa-regular,
        .fa-brands {
          color: $color-accent;
        }
        .t-min {
          color: $color-accent;
        }
        &:disabled {
          .fa-solid,
          .fa-regular,
          .fa-brands,
          .t-min {
            color: $color-gray;
          }
        }
      }
    }
    &:disabled {
      color: $color-gray;
    }
  }
}
