<app-navbar></app-navbar>
<main class="main">
  <header [@bot3] class="header-wrapper t-c">
    <div class="header">
      <h1><strong>Discussio - перша платформа взаємного пошуку житла</strong> <br>
        <span class="t-lar-x thin">Сервіс створений спеціально для орендарів та орендодавців. </span>
      </h1>
      <div class="btn-group">
        <a class="b-primary mi-wi-250 m-2" [routerLink]="'/about-project'">
          Про Discussio
          <i class="fa-regular fa-circle-right pl-2"></i>
        </a>
      </div>
    </div>
  </header>

  <app-pick-city></app-pick-city>
  <section [@appearance] class="discussio-platform">
    <div class="section-header section-conteiner">
      <section class="section-gif col-lg-6 col-md-6 col-sm-12 col-12">
        <img class="gif" src="./../../../../assets/gif/home.gif" alt="Discussio gif" loading="lazy">
      </section>
      <section class="section-text pb-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <h2><strong>Пошук житла та оренда, пошук орендарів або сусідів.</strong></h2>
        <p>Discussio – це не просто платформа, це справжня екосистема для взаємодії орендодавців та орендарів. Ми
          першими
          в Україні дозволяємо орендарям розміщувати свої побажання щодо пошуку житла за допомогою індивідуального
          профілю
          орендаря. Тепер власники можуть самостійно обирати найкращих кандидатів на свої пропозиції, а орендарі –
          знайти
          ідеальне житло за своїми критеріями. Discussio – це революція у сфері оренди нерухомості, де кожен знаходить
          своє ідеальне рішення.</p>
      </section>
    </div>

    <div class="unique-features">
      <div class="feature-block-container col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="feature-block renters">
          <h2>🔑 Для орендарів</h2>
          <ul>
            <li><i class="fa-solid fa-magnifying-glass pr-2"></i> <strong>Індивідуальний профіль орендаря</strong> –
              створіть свій профіль, вкажіть свої вимоги та
              бюджет. Власники зможуть знайти вас, як найкращого кандидата.</li>
            <li><i class="fa-solid fa-calendar-day pr-2"></i> <strong>Зручне планування термінів оренди</strong> –
              вказуйте бажаний період оренди та отримуйте
              пропозиції, що максимально відповідають вашим вимогам.</li>
            <li><i class="fa-solid fa-restroom pr-2"></i> <strong>Пошук сусідів для спільної оренди</strong> – Discussio
              дозволяє знайти однодумців для
              співжиття, забезпечуючи економію та комфорт.</li>
            <li><i class="fa-solid fa-message pr-2"></i> <strong>Чат з орендодавцями в реальному часі</strong> –
              обговоріть усі деталі та домовтеся про
              перегляд
              житла безпосередньо в додатку.</li>
            <li><i class="fa-solid fa-star pr-2"></i> <strong>Система відгуків та рейтингу орендодавців</strong> –
              довіряйте досвіду інших орендарів та
              обирайте надійних партнерів для співпраці.</li>
            <li>
              <i class="fa-solid fa-shield pr-2"></i>
              <strong>Захист від ріелторів і фішингу</strong> – наша система підписок гарантує, що ви маєте повний
              контроль над комунікацією, ухвалюючи запити на спілкування лише від перевірених користувачів.
            </li>
            <li>
              <i class="fa-regular fa-paper-plane pr-2"></i>
              <strong>Попереднє погодження угоди оренди</strong> – ви маєте можливість оцінити умови оренди і вирішити,
              чи підходять вони вам, ще до особистої зустрічі. Це економить час і зусилля.
            </li>

            <li>
              <i class="fa-solid fa-circle-info pr-2"></i>
              <strong>Інформації про оселю</strong> – можливість переглядати наповнення оселі, інструкції щодо
              користування, корисні контакти, а також звітність. Це допоможе вам бути в курсі стану оселі та оптимально
              використовувати ресурси.
            </li>



          </ul>

          <div class="cta">
            <a class="b-primary mi-wi-250 m-2" [routerLink]="'/user/tenant/profile'">
              Розмістити оголошення
              <i class="fa-solid fa-bullhorn white pl-2"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="feature-block-container col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="feature-block landlords ">
          <h2>📣 Для орендодавців</h2>
          <ul>
            <li><i class="fa-solid fa-sign-hanging pr-2"></i> <strong>Професійне розміщення оголошень</strong> – додайте
              повну інформацію
              про своє житло,
              завантажте якісні фото та особливі параметри, щоб привернути увагу найкращих орендарів.</li>
            <li><i class="fa-solid fa-house-circle-check pr-2"></i> <strong>Управління нерухомістю</strong> – створюйте
              профілі оселі розвивайте їх та керуйте все це з
              однного аккаунту.</li>
            <li><i class="fa-solid fa-handshake-simple pr-2"></i> <strong>Вибір надійних орендарів</strong> –
              ознайомтеся з профілями та рейтингами орендарів, обирайте
              тих, хто найкраще підходить для вашої нерухомості.</li>
            <li>
              <i class="fa-regular fa-hand-spock pr-2"></i>
              <strong>Взаємодійте з орендарями</strong> – у профілі вашої оселі ви можете обговорювати будь-які питання,
              що виникають, а також формувати звіти про комунальні витрати. Це забезпечує прозорість у спілкуванні та
              допомагає уникнути непорозумінь.
            </li>
            <li>
              <i class="fa-solid fa-key pr-2"></i>
              <strong>Гнучкі доступи</strong> – профіль оселі можна налаштовувати для доступу не лише орендарів, але й
              інших осіб, які здійснюватимуть управління. Ви самі вирішуєте, кому і які права надаєте.
            </li>
            <li>
              <i class="fa-solid fa-file-arrow-down pr-2"></i>
              <strong>Формуйте угоди оренди та акти передачі оселі</strong> – легко та зручно укладайте угоди та
              створюйте акти передачі у співпраці з орендарями. Це спрощує процес і робить його більш ефективним.
            </li>
            <li>
              <i class="fa-solid fa-boxes-packing pr-2"></i>
              <strong>Додавайте інформацію наповнення оселі</strong> – слідкуйте за станом вашої нерухомості,
              документуючи
              всі важливі деталі. Це допоможе підтримувати якість і своєчасно реагувати на будь-які зміни.
            </li>

          </ul>
          <div class="cta">
             <a class="b-primary mi-wi-250 m-2" [routerLink]="'/house/control/about'">
              Розмістити оголошення
              <i class="fa-solid fa-bullhorn white pl-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="join-community">
      <h2>Discussio – будуємо спільноту оренди нерухомості разом</h2>
      <p>Наша платформа створює унікальний простір, де орендарі та орендодавці можуть знайти один одного на основі
        взаємних інтересів та потреб. Discussio – це безпечний та зручний спосіб знайти житло або здати його в оренду з
        найвищим рівнем прозорості та ефективності.</p>
      <p>Приєднуйтесь до нашої спільноти сьогодні, щоб зробити процес оренди нерухомості ще простішим та приємнішим!</p>
      <div class="social-link-container p-2">

        <div class="social-link-box">
          <a class="social-link-icon" target="_blank" href="https://t.me/discussio_inc">
            <i class="fab fa-brands fa-telegram"></i>
          </a>
        </div>

        <div class="social-link-box">
          <a class="social-link-icon" target="_blank" href="https://www.instagram.com/discussio.inc">
            <i class="fab fa-brands fa-instagram"></i>
          </a>
        </div>

        <div class="social-link-box">
          <a class="social-link-icon" target="_blank" href="https://www.tiktok.com/@discussio.official">
            <i class="fab fa-brands fa-tiktok"></i>
          </a>
        </div>

        <div class="social-link-box">
          <a class="social-link-icon" target="_blank" href="https://www.facebook.com/discussio.inc">
            <i class="fab fa-brands fa-facebook"></i>
          </a>
        </div>

        <div class="social-link-box">
          <a class="social-link-icon" target="_blank" href="https://www.youtube.com/@discussio.ukraine">
            <i class="fab fa-brands fa-youtube"></i>
          </a>
        </div>

      </div>

      <div class="btn-group" *ngIf="!authorization">
        <a class="b-primary mi-wi-250 m-2" [routerLink]="'/auth/registration'">
          Зареєструватись
          <i class="fa-solid fa-person-walking-dashed-line-arrow-right pl-2"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- <app-posts-last></app-posts-last> -->

  <app-footer class="p-2"></app-footer>
</main>
