@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.container-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.text {
  text-align: start;
  font-weight: 600;
}

.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-box {
  width: 100%;
  height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: auto;
  width: max-content;
}

.table-box::-webkit-scrollbar {
  display: none;
}

.table-row {
  width: 100%;
  display: flex;
  overflow: hidden;
  color: $color-white;
  border-radius: 10px;
  margin: 2px;
  align-items: center;
  justify-content: space-between;
}

.table-cell {
  font-size: 14px;
  height: 45px;
  background-color: $color-gray;
  color: $color-white;
  border-radius: 10px;
  border: 3px solid $color-primary;
  display: flex;
  align-items: center;
}

.table-head {
  height: 30px;
}

.name {
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  color: $color-dark;
  background-color: transparent;
  justify-content: center;
}

.name-1 {
  font-weight: 600;
  justify-content: flex-start;
  padding-left: 5px;
}

.name-2 {
  justify-content: flex-end;
  padding-right: 5px;
}

.wi-30 {
  width: 30px;
}

.wi-50 {
  width: 50px;
}

.wi-80 {
  width: 80px;
}

.wi-100 {
  width: 100px;
}

.wi-150 {
  width: 150px;
}

.wi-200 {
  width: 200px;
}

.card-box {
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.container-box {
  display: flex;
  align-items: center;
  @include s1-s3 {
    flex-direction: column;
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px $color-dark solid;
  border-radius: 10px;
  margin: 10px;
}

.box-item {
  font-size: 25px;
  font-weight: 600;
}

.message-box {
  width: 100%;
}

mat-form-field {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 70px;
  flex-direction: column-reverse;
}



