@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss" as *;

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-animation {
  @include s3-s6-max {
    width: 98% !important;
  }
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}

.card-content-static {
  @include s3-s6-max {
    background-color: $color-primary !important;
  }
}

.btn-close-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  .btn-close-box {
    @include flex-box-column;
    align-items: flex-end;
    padding: 10px;
    .btn-close {
      border: 1px solid $color-gray;
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.disabledNot {
  color: $color-accent !important;
  opacity: 1 !important;
  pointer-events: none;
}

.select-box {
  width: 100%;
  position: relative;
}

.list-label-1 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  color: $color-accent;
  z-index: 2;
}

.list-label-2 {
  top: -10px;
  background-color: $color-white;
  padding: 0 5px;
}

.img-fluid {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;
  border-radius: 20px;
}

.container-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  overflow: hidden;
  height: auto;
}

.accent {
  font-weight: 600;
}

.box_center {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.disabledNot {
  color: $color-accent !important;
  opacity: 1 !important;
  pointer-events: none;
}

.disabledNot1 {
  color: $color-dark !important;
  opacity: 1 !important;
  pointer-events: none;
  font-weight: 600;
}

.item-select {
  width: 100%;
  padding: 5px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content {
  width: 80px;
}

.border-group {
  border-radius: 10px;
  padding: 5px;
  box-shadow:
    1px 10px 10px rgba(0, 0, 0, 0.05),
    1px 10px 10px rgba(0, 0, 0, 0.056);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-box {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.boxSelect {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.card-name {
  display: flex;
}

textarea {
  min-height: 100px;
}

.group-label {
  font-weight: 600;
  text-align: center;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="radio"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

mat-form-field {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 60px;
}

.item-width-50 {
  height: 70px;
  padding: 5px;
  width: 50%;
}

.text {
  text-align: center;
}

.text-1 {
  font-size: 16px;
  @include s1-s3 {
    font-size: 12px;
  }
}

.month-label {
  height: 20px;
  font-size: 16px;
}

.unit {
  font-size: 14px;
}



.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.group-item {
  width: 100%;
  padding: 10px 0;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.group-item-1 {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.stat-label {
  font-size: 25px;
  font-weight: 600;
}

.statBox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 0 10px;
  margin: 5px;
}

.statNum {
  font-size: 30px;
  font-weight: 600;
}

.form-floating {
  width: 100%;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.progress-bar {
  animation: slideFromBottom 800ms ease-in-out;
}

.form-container {
  display: flex;
  width: 100%;
  height: 65px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.list-label {
  color: $color-accent;
  border: none;
  padding: 0;
}

.list-select {
  border: none;
  font-size: 20px;
}

.list-option {
  border: none;
  border-radius: 10px;
}

.monthChange {
  @include flex-box-center;
  justify-content: space-evenly;
}

.btn-2 {
  @include flex-box;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}


