@use "../../../style/presets/" as *;

.container-card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.card-box {
  display: flex;
}

.card {
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: stretch;
}

.form-label {
  align-self: center;
}

.form-select {
  margin-bottom: 10px;
}

.label-item,
.select-item {
  font-size: 10px;
  overflow: hidden;
}

.box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.box-search {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search-id {
  width: 80%;
  display: flex;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.btn-group {
  margin: 0px 10px;
}

.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-light;
  height: 45px;
  font-size: 12px;
}

.icon {
  color: $color-dark;
}

.input-group-text {
  height: 100%;
}

.input-group {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.form-control {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border: none;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-label {
  font-size: 15px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-box {
  display: flex;
}

.inputbox-item::-webkit-scrollbar {
  display: none;
}

.group-label {
  font-weight: 600;
  color: $color-accent;
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 10px;
}

.group-item {
  width: 100%;
  padding: 10px 0;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.group-item-1 {
  width: 100%;
  padding: 10px 0;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 12px;
}

textarea {
  min-height: 150px;
}

.item-select {
  width: 100%;
  height: 70px !important;
}



.form-field {
  height: 80px !important;
}

.form-control {
  height: auto;
  overflow-y: hidden;
  font-size: 13px;

}

.form-field::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.form-control::-webkit-scrollbar {
  width: 0;
  height: 0;
}

textarea {
  height: auto;
  min-height: 200px;
}

.scrollable-textarea {
  height: auto;
  overflow: auto;
}

.form-floating {
  margin-bottom: 15px;

}

.mat-input-container {
  display: flex;
  color: $color-text;
  font-size: 25px;
}

.item-select50 {
  width: 47%;
}

.checkBox-span {
  color: $color-text;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid $color-primary;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px #000000;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #000000;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="radio"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.content {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 40px;
}

.min-value,
.max-value {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
}

.min-value {
  left: 0;
}

.max-value {
  right: 0;
}

.min-slider,
.max-slider {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ddd;
  height: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.min-slider:hover,
.max-slider:hover {
  opacity: 1;
}

.min-slider::-webkit-slider-thumb,
.max-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.min-slider::-moz-range-thumb,
.max-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.min-slider::-webkit-slider-thumb:hover,
.max-slider::-webkit-slider-thumb:hover {
  background-color: #3e8e41;
}

.min-slider::-moz-range-thumb:hover,
.max-slider::-moz-range-thumb:hover {
  background-color: #3e8e41;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-info {
  width: 30px;
  height: 30px;
}

.fa-info {
  font-size: 20px;
}

.card-body-cast {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  border: 2px solid $color-dark;
}

.text-info {
  text-align: center;
  font-size: 0.9em;
  color: $color-accent !important;
}

.btn-close {
  background-color: $color-white !important;
}

.content-info {
  position: relative;
  width: 100%;
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  margin: 5px;
  align-items: flex-start;
  flex-direction: column;
}

.content-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descr {
  color: $color-white;
  font-size: 16px;
}

.bold {
  color: $color-accent;
  font-weight: 600;
}
.btn-info {
  background-color: rgba(255, 255, 255, 0);
  width: 30px;
  height: 30px;
}

.description-container {
  display: flex;
  position: absolute;
  z-index: 9999;
  background-color: rgb(44, 44, 44);
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.description {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.close-button {
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

