<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>

  <div class="info-container" *ngIf="helpRoom || helpPriority || helpPhoto">
    <div class="info-help-box" *ngIf="helpRoom">
      <i class="fa-solid fa-info"></i>

      <div class="info-help-name">Оберіть формат здачі:</div>
      <div class="info-help-text">
        <ul>Варіанти здачі:
          <li>
            <div class="bold">Оселя</div> - якщо здаю в оренду квартиру/будинок повністью.
          </li>
          <li>
            <div class="bold"> Кімната</div> - якщо здаю квартиру/будинок частково або окрему кімнату. Якщо
            шукаю сусіда в
            квартиру/будинок або окрему кімнату.
          </li>
        </ul>
      </div>
      <button class="btn w-100  t-c mt-2" (click)="openHelpRoom()">
        <div class="t-med bold mr-2">Зрозуміло</div>
        <i class="fa-regular fa-square-check"></i>
      </button>
    </div>

    <div class="info-help-box" *ngIf="helpPriority">
      <i class="fa-solid fa-info"></i>

      <div class="info-help-name">Оберіть пріоритетність здачі:</div>
      <div class="info-help-text">
        <ul>Варіанти:
          <div class="status-value"><i class="fa-solid fa-person-dress"></i> - Пріорітетно на поселення в оселю шукаю
            жінок.</div>
          <div class="status-value"><i class="fa-solid fa-person"></i> - Пріорітетно на поселення в оселю шукаю
            чоловіків.</div>
          <div class="status-value"><i class="fa-solid fa-graduation-cap"></i> - Пріорітетно на поселення в оселю шукаю
            студентів.</div>
          <div class="status-value"><i class="fa-solid fa-children"></i> - Пріорітетно на поселення в оселю шукаю сім'ї.
          </div>
        </ul>
      </div>
      <div class="t-min t-c">Це можна комбінувати між собою</div>
      <div class="t-min t-c">Також можете пропонувати ваші варіанти в меню "Залишити відгук" обравши
        "Пріорітетні
        категорії" ті категорії які ви хотіли би бачити</div>

      <button class="btn w-100 btn-navigation" [routerLink]="'/feedback'"
        [queryParams]="{ category: 'Пріорітетні категорії' }">
        <div class="t-med bold mr-2">Запропонувати категорії</div>
        <i class="fa-regular fa-lightbulb"></i>
      </button>

      <button class="btn w-100  t-c mt-2" (click)="openHelpPriority()">
        <div class="t-med bold mr-2">Зрозуміло</div>
        <i class="fa-regular fa-square-check"></i>
      </button>
    </div>

    <div class="info-help-box" *ngIf="helpPhoto">
      <i class="fa-solid fa-info"></i>

      <div class="info-help-name">Які фото можна завантажувати </div>
      <ul class="info-help-text">
        <li>Формат фото: img, jpg, png, jpeg, webp.</li>
        <li>Максимальний розмір фото до 10 мб.</li>
        <li>Максимальна кількість фото 20 шт.</li>
        <li>Перше завантажене фото буде головним фото вашої оселі. Після видалення першого фото головним стане
          наступне.</li>
        <li>Фото видаляються разом з видаленням оселі.</li>
        <li>Фото можна додавати по одному за раз.</li>
      </ul>
      <p class="t-min gray t-c">*Така кількість обмежень буде діяти на період запуску для можливості скоротити
        використання пам'яті на сервері.
      </p>
      <button class="btn w-100  t-c mt-2" (click)="openHelpPhoto()">
        <div class="t-med bold mr-2">Зрозуміло</div>
        <i class="fa-regular fa-square-check"></i>
      </button>
    </div>
  </div>

  <div [@left1] class="content-child">
    <div class="card-wrapper">
      <div class="card-content-static p-2 w-100">
        <div class="t-med bold t-c mb-1">Тут можна вказати пріорітети, вартість та активувати оголошення</div>
        <mat-label class="t-med t-c accent bold">Оберіть пріорітет орендарів* </mat-label>
        <div class="t-min gray">Кого ви розглядаєте як своїх потенційних орендарів?</div>

        <div class="inputbox-group pl-2">
          <button class="info-btn" (click)="openHelpPriority()">Допомога</button>

          <div class="inputbox-group pl-2">

            <div class="content-group">
              <label class="checkBox">
                <input type="checkbox" id="students" name="students" [(ngModel)]="flatInfo.students">
                <div class="transition"></div>
              </label>
              <div class="content-group ml-2">
                <div class="status-static" [ngClass]="{ 'active': flatInfo.students}"><i
                    class="fa-solid fa-graduation-cap"></i></div>
                <div class="ml-2">Студент <span class="gray checkBox-text" *ngIf="flatInfo.students">
                    (В пріорітеті студенти)</span></div>
              </div>
            </div>
          </div>

          <div class="inputbox-group pl-2">
            <div class="content-group">
              <label class="checkBox">
                <input type="checkbox" id="woman" name="woman" [(ngModel)]="flatInfo.woman">
                <div class="transition"></div>
              </label>
              <div class="content-group ml-2">
                <div class="status-static" [ngClass]="{ 'active': flatInfo.woman}"><i
                    class="fa-solid fa-person-dress"></i></div>
                <div class="ml-2">Жінка <span class="gray checkBox-text" *ngIf="flatInfo.woman">
                    (В пріоритеті жінки)</span></div>
              </div>
            </div>
          </div>

          <div class="inputbox-group pl-2">
            <div class="content-group">
              <label class="checkBox">
                <input type="checkbox" id="man" name="man" [(ngModel)]="flatInfo.man">
                <div class="transition"></div>
              </label>
              <div class="content-group ml-2">
                <div class="status-static" [ngClass]="{ 'active': flatInfo.man}"><i class="fa-solid fa-person"></i>
                </div>
                <div class="ml-2">Чоловік <span class="gray checkBox-text" *ngIf="flatInfo.man">(В пріоритеті
                    чоловіки)</span></div>
              </div>
            </div>
          </div>

          <div class="inputbox-group pl-2">
            <div class="content-group">
              <label class="checkBox">
                <input type="checkbox" id="family" name="family" [(ngModel)]="flatInfo.family">
                <div class="transition"></div>
              </label>
              <div class="content-group ml-2">
                <div class="status-static" [ngClass]="{ 'active': flatInfo.family}"><i class="fa-solid fa-children"></i>
                </div>
                <div class="ml-2">Сім'я <span class="gray checkBox-text" *ngIf="flatInfo.family">(В пріоритеті
                    сім'ї)</span></div>
              </div>
            </div>
          </div>

        </div>

        <mat-form-field class="item-select" appearance="outline">
          <mat-select [(ngModel)]="flatInfo.bunker" name="bunker" placeholder="Наявність укриття">
            <mat-option [value]="''">Приховати</mat-option>
            <mat-option value="Паркінг">Підземний паркінг</mat-option>
            <mat-option value="В будинку">Укриття в будинку</mat-option>
            <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
          </mat-select>
          <mat-hint align="start" class="t-min gray">Наявність укриття</mat-hint>
        </mat-form-field>

        <mat-form-field class="item-select" appearance="outline">
          <mat-select [(ngModel)]="flatInfo.animals" name="animals" placeholder="Дозвіл на тварин">
            <mat-option value='Неважливо'>Неважливо</mat-option>
            <mat-option value="0">Без тварин</mat-option>
            <mat-option value="1">Можна з тваринами</mat-option>
            <mat-option value="2">Тільки котики</mat-option>
            <mat-option value="3">Тільки песики</mat-option>
          </mat-select>
          <mat-hint align="start" class="t-min gray">Орендар може мати тварин?</mat-hint>
        </mat-form-field>

        <div class="flex-column">

          <mat-label class="t-med accent bold p-2 pr-2">Формат здачі оселі*</mat-label>
          <button class="info-btn" (click)="openHelpRoom()">Допомога</button>
          <div class="inputbox-group">
            <div class="content">
              <label class="checkBox">
                <input type="radio" name="flatInfo.room" [(ngModel)]="flatInfo.room" [value]="0">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Вся оселя <i class="fa-solid fa-dice-d6 pl-2 gray"></i></span>
              <i></i>
            </div>
            <div class="content">
              <label class="checkBox">
                <input type="radio" name="flatInfo.room" [(ngModel)]="flatInfo.room" [value]="1">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Тільки кімната <i class="fa-solid fa-cube pl-2 gray"></i></span>
              <i></i>
            </div>
          </div>
        </div>

        <!-- <div class="img-wrapper" *ngIf="reloadImg">
          <ng-container>
            <div class="img-fluid">
              <div class="container-loader-mini">
                <mat-spinner color="warn"></mat-spinner>
                <div class="t-med mt-2 gray">Завантаження фото</div>
              </div>
            </div>
          </ng-container>
        </div> -->

        <!-- <div class="flex-column m-2">
          <button class="info-btn" (click)="openHelpPhoto()">Допомога</button>
          <div class="t-lar-xx bold t-c mb-2">Додавання фото оселі </div>
        </div>

        <div class="img-wrapper" *ngIf="!reloadImg">

          <button class="btn btn-delete m-2" (click)="deleteObject(flatImg[currentPhotoIndex].img)"
            matTooltip="Видалити" *ngIf="flatImg[currentPhotoIndex].img !== 'housing_default.svg' ">
            <i class="fa-solid fa-trash-can-arrow-up gray"></i></button>

          <ng-container *ngIf="flatImg && isLoadingImg">
            <div class="img-fluid">
              <img
                [src]="flatImg && flatImg[currentPhotoIndex].img ? serverPathPhotoFlat + flatImg[currentPhotoIndex].img : serverPathPhotoFlat + 'housing_default.svg'"
                alt="img">
            </div>
          </ng-container>

          <ng-container *ngIf="flatImg && !isLoadingImg">
            <div class="img-fluid">
              <div class="container-loader-mini">
                <mat-spinner color="warn"></mat-spinner>
                <img
                  [src]="flatImg && flatImg[currentPhotoIndex].img ? serverPathPhotoFlat + flatImg[currentPhotoIndex].img : serverPathPhotoFlat + 'housing_default.svg'"
                  alt="img" (load)="isLoadingImg = true" hidden>
                <div class="t-med mt-2">Завантаження фото</div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!flatImg">
            <div class="img-fluid">
              <img src="../../../../assets/housing_default.svg" alt="img">
            </div>
          </ng-container>

          <div class="btn-control" *ngIf="flatImg.length > 1">
            <button *ngIf="currentPhotoIndex !== 0" class="prev-img" (click)="prevPhoto()"><i
                class="fa-solid fa-chevron-left"></i></button>
            <button *ngIf="currentPhotoIndex !== flatImg.length - 1" class="next-img" (click)="nextPhoto()"><i
                class="fa-solid fa-chevron-right"></i></button>
          </div>

          <div class="card-1">
            <div class="flex-column t-c">
              <p class="t-lar bold accent">ЗАВАНТАЖИТИ ФОТО</p>
              <p class="t-min dark">Додайте або оновіть фото вашого аккаунту</p>
            </div>
            <div class="input-div">
              <i class="icon-up fa-solid fa-cloud-arrow-up" for="upload"></i>
              <input #_fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>
              <button class="input-up" (click)="_fileInput.click()"> </button>
            </div>
          </div>
        </div> -->

        <div class="flex-column mt-2">
          <mat-label class="t-med t-c accent bold">Оберіть варіант оплати* </mat-label>
          <div class="t-min gray">Цей параметр обов'язковий, без нього оголошення не буде опубліковано.</div>
          <div class="inputbox-group">

            <div class="content">
              <label class="checkBox">
                <input id="daily" type="radio" [(ngModel)]="flatInfo.option_pay" name="daily" [value]=1>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Подобово</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="monthly" type="radio" [(ngModel)]="flatInfo.option_pay" name="monthly" [value]=0>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Щомісяця</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="free" type="radio" [(ngModel)]="flatInfo.option_pay" name="monthly" [value]=2>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Безкоштовно</span>
              <i></i>
            </div>
          </div>
        </div>

        <div class="flex-column">
          <div class="inputbox-group mt-2">
            <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 1">
              <input matInput class="right-align" type="number" [min]="minValue" [max]="maxValue" step="500"
                [(ngModel)]="flatInfo.price_d" name="price_d" pattern="[0-9]*" id="inputPriceD">
              <mat-hint align="start" class="bold">ОПЛАТА ЗА ДЕНЬ, ЦІНА В ГРН*</mat-hint>
              <img matSuffix class="icon pr-2" src="../../../assets/icon-objects/hryvnia_icon.ico" alt="грн">
            </mat-form-field>

            <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 0">
              <input matInput class="right-align" type="number" [min]="minValue" [max]="maxValue" step="500"
                [(ngModel)]="flatInfo.price_m" name="price_m" pattern="[0-9]*" id="inputPriceM">
              <mat-hint align="start" class="bold">ОПЛАТА ЗА МІСЯЦЬ, ЦІНА В ГРН*</mat-hint>
              <img matSuffix class="icon pr-2" src="../../../assets/icon-objects/hryvnia_icon.ico" alt="грн">
            </mat-form-field>

            <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 2">
              <input matInput class="right-align" type="number" [(ngModel)]="flatInfo.price_f" name="price_f" disabled
                id="inputPriceF" placeholder="Безкоштовно">
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="example-full-width mt-2">
          <mat-label>Опис вашого оголошення</mat-label>
          <textarea #textArea matInput id="floatingTextarea" placeholder="Опишіть особливості оселі або оголошення"
            [(ngModel)]="flatInfo.about" (input)="onInput()"></textarea>
        </mat-form-field>

        <div class="btn-group mt-2">

          <button class="btn" (click)="clearInfo()">
            <i class="icon fa-solid fa-eraser"></i> Очистити
          </button>

          <button class="btn" (click)="saveInfo(flatInfo.rent = 0)">
            <i class="fa-regular fa-circle-check"></i> Зберегти
          </button>

          <button class="btn" class="btn" (click)="saveInfo(flatInfo.rent = 1)" *ngIf="flatInfo.rent === 0">
            <i class="fa-solid fa-sign-hanging"></i>
            Активувати
          </button>

          <button class="btn" class="btn" (click)="saveInfo(flatInfo.rent = 0)" *ngIf="flatInfo.rent === 1">
            <i class="fa-solid fa-power-off"></i>
            Деактивувати
          </button>

        </div>

      </div>
    </div>
  </div>

</ng-template>
