@use "../housing-parameters.component.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.status-static {
  @include flex-box-center;
  width: 30px;
  height: 30px;
  background-color: $color-accent;
  color: $color-white;
  border-radius: 50%;

  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }

  @include s1-s3 {
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    .fa-envelope-open-text {
      font-size: 10px;
    }
  }
}

textarea {
  height: auto;
  min-height: 200px;
}

mat-hint {
  font-size: 12px;
  color: $color-accent;
}

.icon {
  width: 20px;
  height: 20px;
}

.right-align {
  text-align: right;
}

.price {
  font-size: 40px;
  font-weight: 600;
}

.flex-column {
  position: relative;
  align-items: flex-start;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.input-div {
  background-color: $color-white;
}

.card-content {
  justify-content: space-between !important;
  align-items: center !important;
}

.card-group {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
}

.item-select {
  flex-direction: column-reverse;
  width: 100%;
  padding: 0 10px 0 10px;
}

.card-box {
  @include flex-box-center;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 85vh;
}

.img-wrapper {
  width: 100%;
  position: relative;
  @include flex-box-center;
  .img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
  }
}

.card-1 {
  @include flex-box-center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, $color-white);
  z-index: 10;
}

.btn-delete {
  @include flex-box-center;
  background-color: rgba(255, 255, 255, 0.389);
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  top: 0;
  right: 0;
  z-index: 30;
}

.btn-control {
  z-index: 20;
}

.btn-group {
  z-index: 100;
}
