<!-- <mat-form-field class="list-form" appearance="fill">
  <mat-select class="list-select" name="selectedMonth" [(ngModel)]="this.selectedMonth"
    (selectionChange)="onSelectionChangeMonth(this.selectedMonth)">
    <mat-option class="list-option" *ngFor="let month of months" [value]="month.name">{{month.name}}
    </mat-option>
  </mat-select>
  <mat-hint align="end" class="t-min gray">Місяць</mat-hint>
</mat-form-field> -->

<div class="flex-box">
  <button (click)="prevMonth()" class="btnYear"><i class="fa-regular fa-circle-left"></i></button>
  <div class="t-lar-xx">
    <span [@top1] class="year" *ngIf="month1">{{ selectedMonth }}</span>
    <span [@top1] class="year" *ngIf="month2">{{ selectedMonth }}</span>
  </div>
  <button (click)="nextMonth()" class="btnYear"><i class="fa-regular fa-circle-right"></i></button>
</div>
