@use "../../../style/discussi.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.he-100 {
  height: 100px;
}

.wrap {
  flex-wrap: wrap;
}

.flex-box {
  justify-content: center;
}


