<div [@top2] class="content-child ">
  <div class="cards-container">

    <div class="flatsOwn border-bottom">
      <div class="t-lar bold t-c">Створити оселю</div>
      <div class="card-mini mb-2">

        <div class="card-mini-body jc-c flex-column p-2" (click)="openBtn()" *ngIf="!showInput">
          <h2>Створити оселю</h2>
          <i class="fa-solid fa-plus"></i>
        </div>

        <div class="card-mini-body flex-wrap p-2" *ngIf="showInput">

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Назва оселі</mat-label>
            <input id="flat_name" name="flat_name" placeholder="Мінімум 4 символи" matInput [(ngModel)]="flat_name"
              minlength="4" maxlength="20" #flatIdInput="ngModel" required>
            <mat-hint align="end" class="t-min gray">Придумайте назву своєї оселі "Моя оселя"</mat-hint>
          </mat-form-field>

          <div class="btn-group w-100">
            <button class="btn" (click)="openBtn()">
              <i class="fa-solid fa-circle-minus"></i>
              <div class="t-min dark bold ml-2">Відмінити</div>
            </button>

            <button class="btn" (click)="houseCreate()" *ngIf="flat_name.length > 3">
              <i class="fa-solid fa-circle-check"></i>
              <div class="t-min dark bold ml-2">Підтвердити</div>
            </button>
          </div>

        </div>

      </div>
    </div>

    <div class="flatsOwn border-bottom" *ngIf="allFlats && allFlats.length > 0">
      <div class="t-lar bold t-c">Власні оселі</div>
      <div class="card-mini mb-2" *ngFor="let flat of allFlats"
        [ngClass]="{ 'selected': chooseFlatID === flat.flat_id }">

        <div class="card-mini-body p-2">
          <button [disabled]="flat.flat_id === selectedFlatId" class="btn-pick" (click)="selectFlat(flat, 2)">
            <div class="t-med bold t-s" *ngIf="chooseFlatID === flat.flat_id">Обрано оселю</div>
            <div class="t-lar-x t-s">{{ flat.flat_name }}</div>
            <div class="t-lar-xx bold t-s">ID: {{ flat.flat_id }}</div>
          </button>

          <div class="btn-group-comun w-20">
            <button class="btn-delete flex-box" (click)="deleteHouse(flat)">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>

        </div>

        <ng-container *ngIf="flat.flat_img && isLoadingImg">
          <div class="card-mini-img">
            <img
              [src]="flat.flat_img ? serverPath + pathPhotoFlat + flat.flat_img : serverPath + pathPhotoFlat + 'housing_default.svg'"
              alt="img">
          </div>
        </ng-container>

        <ng-container *ngIf="flat.flat_img && !isLoadingImg">
          <div class="card-mini-img">
            <div class="container-loader-mini">
              <mat-spinner color="warn"></mat-spinner>
              <img
                [src]="flat.flat_img && flat.flat_img ? serverPath + pathPhotoFlat + flat.flat_img : serverPath + pathPhotoFlat + 'housing_default.svg'"
                alt="img" (load)="isLoadingImg = true" hidden>
              <div class="t-min gray mt-2">Завантаження фото</div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!flat.flat_img">
          <div class="card-mini-img">
            <img src="../../../../assets/housing_default.svg" alt="img">
          </div>
        </ng-container>

      </div>
    </div>

    <div class="flatsTenant border-bottom" *ngIf="allFlatsTenant && allFlatsTenant.length > 0">
      <div class="t-lar bold t-c">Орендовані оселі</div>
      <div class="card-mini mb-2" *ngFor="let flat of allFlatsTenant"
        [ngClass]="{ 'selected': chooseFlatID === flat.flat_id  }">

        <div class="card-mini-body p-2">
          <button class="btn-pick p-2" (click)="selectFlat(flat, 2)">
            <div class="t-med t-s" *ngIf="chooseFlatID === flat.flat_id">Обрано оселю</div>
            <div class="t-lar-x t-s">{{ flat.flat_name }}</div>
            <div class="t-lar-xx t-s">ID: {{ flat.flat_id }}</div>
          </button>
          <div class="btn-group-comun w-20">
            <button class="btn-delete flex-box" (click)="checkAcces(flat)">
              <i class="fa-solid fa-lock-open"></i>
            </button>
          </div>
        </div>

        <ng-container *ngIf="flat.flat_img && isLoadingImg">
          <div class="card-mini-img">
            <img
              [src]="flat.flat_img ? serverPath + pathPhotoFlat + flat.flat_img : serverPath + pathPhotoFlat + 'housing_default.svg'"
              alt="img">
          </div>
        </ng-container>

        <ng-container *ngIf="flat.flat_img && !isLoadingImg">
          <div class="card-mini-img">
            <div class="container-loader-mini">
              <mat-spinner color="warn"></mat-spinner>
              <img
                [src]="flat.flat_img && flat.flat_img ? serverPath + pathPhotoFlat + flat.flat_img : serverPath + pathPhotoFlat + 'housing_default.svg'"
                alt="img" (load)="isLoadingImg = true" hidden>
              <div class="t-min gray mt-2">Завантаження фото</div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!flat.flat_img">
          <div class="card-mini-img">
            <img src="../../../../assets/housing_default.svg" alt="img">
          </div>
        </ng-container>

      </div>
    </div>

  </div>
</div>

<app-status-access></app-status-access>
