@use "../../style/presets/" as *;

a {
  padding: 0.5em 1em;
  border: 1px groove;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.container-fluid {
  flex-wrap: wrap;
}

.owner-container {
  background-color: white;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  border-radius: 10px;
  display: flex;
  box-shadow: 10px 10px 20px 10px rgb(0 0 0 / 50%);
  @keyframes slidein {
    from {
      margin-top: 55%;
    }

    to {
      margin-top: 0%;
    }
  }
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.card-description {
  overflow: hidden;

  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.card-link {
  margin: 10px;
  margin-bottom: 10px;
  color: $color-text;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  transition: 1s;
  border-radius: 10px;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

.card-tenants {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  padding: 0;
}

img {
  height: 300px;
}

.icon-box {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.rating {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease-in-out;
  &.star:hover {
    color: gold;
  }
}

.filled {
  color: gold;
}

.card-pick {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;

  &:hover {
    background: rgba(0, 0, 0, 0.168);
    border-radius: 10px;
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-around;
  margin: 10px;
}

.button-sub {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #666;
  border-radius: 10px;
}

.arrow {
  cursor: pointer;
  height: 60px;
  top: 50%;
  transform: translateX(-20%) translateY(0%);
  transition: transform 0.1s;
  width: 50px;
  height: 100%;
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(20%) translateY(0%) scale(0.9);
}

.arrow2 {
  cursor: pointer;
  height: 60px;
  transform: translateX(20%) translateY(0%) scaleX(-1);
  transition: transform 0.1s;
  width: 50px;
  height: 100%;
}

.arrow-top2,
.arrow-bottom2 {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top2:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom2 {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom2:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow2:hover .arrow-top2:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow2:hover .arrow-bottom2:after {
  right: 0;
  transition-delay: 0s;
}

.arrow2:active {
  transform: translateX(20%) translateY(0%) scale(0.9);
  transform: scaleX(-1);
}

.card {
  background: none;
  box-shadow: none;
  border: none;
}

.item-price {
  font-size: 30px;
}

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}



