<div class="modal">
  <div class="modal-content">
    <h2>Угода</h2>
    <pre>{{ agreementText }}</pre>
    <form (ngSubmit)="onSubmit()">
      <label>
        Ім'я:
        <input type="text" [(ngModel)]="name" name="name">
      </label>
      <label>
        Email:
        <input type="email" [(ngModel)]="email" name="email">
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="agreeToTerms" name="agreeToTerms">Я погоджуюся з умовами угоди
      </label>
      <button type="submit" [disabled]="!agreeToTerms">Підписати угоду</button>
    </form>
  </div>
</div>
