<div [@appearance] class="logo-box">
  <img class="logoMin" src="{{path_logo}}" alt="logo">
  <h2 class="t-lar-x dark t-c">Discussio</h2>
</div>

<h2 [@appearance] class="bold t-c m-2">Вхід в аккаунт</h2>

<div [@appearance] class="form" *ngIf="!logForm">

  <div class="t-med t-c mt-3">Якщо у вас є Google аккаунт увійдіть за допомогою його
  </div>

  <button class="b-primary mi-wi-250 mt-2" (click)="openGoogleAuth()">
    Увійти з гугл <i class="fa-brands fa-google pl-2"></i>
  </button>

  <div class="t-med t-c mt-3">
    Якщо немає то увійдіть через форму
  </div>

  <button class="b-primary mi-wi-250 mt-2" (click)="toogleForm()">
    Вхід через форму <i class="fa-solid fa-right-to-bracket pl-2"></i>
  </button>
</div>

<form [@appearance] class="form" [formGroup]="loginForm" *ngIf="logForm">

  <div *ngIf="timeLeft > 0" class="accent t-c t-med">
    Ви перевисили ліміт введення неправильного коду!
    Форма буде розблокована через {{ timeLeft }} секунд
  </div>

  <mat-form-field class="inputbox" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput class="input-field" id="email" placeholder="Введіть Email" type="text" formControlName="email"
      placeholder="email" required>
    <mat-hint align="start" class="alert alert-danger" *ngIf="formErrors.email">{{formErrors.email}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="inputbox" appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput class="input-field" id="password" [type]="passwordType" name="password" formControlName="password"
      placeholder="Введіть пароль" required maxlength="25" minlength="7">
    <button type="button" (click)="togglePasswordVisibility()" class="see">
      <i class="icon" [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
    </button>
    <mat-hint align="start" class="alert alert-danger" *ngIf="formErrors.password">{{formErrors.password}}</mat-hint>
  </mat-form-field>

  <button class="b-primary mi-wi-250 mt-2" [disabled]="!loginForm.valid" [ngClass]="{'disabled-button': !loginForm.valid}"
    (click)="login()">
    <i class="fa-solid fa-arrow-right-from-bracket pr-2"></i>Увійти
  </button>



</form>
