@use "../../../style/presets/" as *;

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.card-box {
  display: flex;
}

.option-content {
  display: flex;
  align-items: center;
}

.option-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.option-text {
  flex: 1;
}

.label-1 {
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}
.input-div {
  cursor: pointer;
  position: relative;
  background-color: $color-dark;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 20px $color-primary, inset 0px 0px 10px $color-primary,
    0px 0px 5px rgb(255, 255, 255);
  transition: 1s;

  &:hover {
    background-color: $color-accent;
  }
}

li {
  font-size: 14px;
}

p {
  font-size: 14px;
}

.group-label {
  font-weight: 600;
  color: $color-accent;
}

.icon-up {
  color: $color-accent;
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 8s linear infinite;
}

.input-up {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

mat-form-field {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 12px;
}

textarea {
  min-height: 150px;
}

.form-control {
  height: auto;
  overflow-y: hidden;
  font-size: 13px;
}

.form-field::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.form-control::-webkit-scrollbar {
  width: 0;
  height: 0;
}

textarea {
  height: auto;
  min-height: 100px;
}

.scrollable-textarea {
  height: auto;
  overflow: auto;
}

.form-floating {
  margin-bottom: 15px;
}

.group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.group-item {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.item-select {
  font-size: 16px !important;
  width: 100%;
}

.wi-70 {
  width: 69%;
}

.wi-50 {
  width: 47%;
}

.wi-30 {
  width: 30%;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
}

.card-info {
  position: relative;
}

.box-filling::-webkit-scrollbar {
  display: none;
}

.box-filling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 60vh;
  overflow: auto;
}

.card-filling {
  cursor: pointer;
  width: 47%;
  height: 130px;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s;

  &:hover {
    transform: scale(1.05);
    background-color: $color-accent;
  }
}

.selectedCard {
  background-color: $color-dark;
  color: $color-white;
  transition: 2s;
  z-index: 99;
  overflow: auto;
}

.selectedCard::-webkit-scrollbar {
  display: none;
}

.selected {
  display: none;
  transition: opacity 0.5s ease;
}

.box-img {
  width: 50%;
  position: relative;
}

.card-img {
  border-radius: 10px;

  width: 100%;
  height: 100%;
}

.card-body {
  display: flex;
  padding: 5px 10px 5px 5px;
  width: 60%;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.icon {
  position: absolute;
  background-color: $color-white;
  top: 35%;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  padding: 5px;
  z-index: 99;
}

.btn-add {
  width: 100%;
  height: 50px;
}

.btn-delete {
  z-index: 99;
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  transition: 1s;
  border: none;
  background-color: $color-accent;

  &:hover {
    background-color: $color-dark;
    transform: scale(1.4);
    border: 1px solid $color-dark;
  }
}

.btn-back {
  z-index: 99;
  position: absolute;
  right: -20px;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  transition: 1s;
  border: none;
  background-color: $color-accent;

  &:hover {
    background-color: $color-white;
    transform: scale(1.4);
    border: 1px solid $color-dark;
  }
}

.card-title {
  font-size: 14px;
}

.card-add {
  width: 47%;
  min-width: 200px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1 {
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 10px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  flex-direction: column;
}

.fa-solid {
  color: $color-white;
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}
