@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.card-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
  @include s1-s3 {
    justify-content: flex-start;
  }
}

.box-filling::-webkit-scrollbar {
  display: none;
}

.box-filling {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 60vh;
  overflow: auto;
  align-items: flex-start;
  align-content: flex-start;
  @include s1-s3 {
    height: auto;
    overflow: visible;
  }
}
.card-box {
  display: flex;
}

.btn {
  border: 1px solid gray;
  border-radius: 10px;
}

.card-filling {
  cursor: pointer;
  width: 47%;
  height: 130px;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s;

  &:hover {
    transform: scale(1.05);
    background-color: $color-accent;
  }

  @include s1-s3 {
    width: 97%;
  }
}
.box-img {
  width: 50%;
  position: relative;
}
.card-img {
  border-radius: 10px;

  width: 100%;
  height: 100%;
}
.icon {
  position: absolute;
  background-color: $color-white;
  top: 35%;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  padding: 5px;
  z-index: 99;
}
.card-body {
  display: flex;
  padding: 5px 10px 5px 5px;
  width: 60%;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
.card-title {
  font-size: 14px;
}

.selectedCard {
  background-color: $color-dark;
  color: $color-white;
  transition: 2s;
  z-index: 99;
  overflow: auto;
}

.selectedCard::-webkit-scrollbar {
  display: none;
}

.selected {
  display: none;
  transition: opacity 0.5s ease;
}

.item-select {
  font-size: 16px !important;
  width: 100%;
}
