<div class="container-card">
  <div class="card-box col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card m-2">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../assets/kitchen.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../assets/badroom.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../assets/bathroom-vanity-light.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="item-wrapper p-2">
        <h2>ID оселі: {{ house.flat_id }}</h2>

        <div class="content-description">
          <p>Країна: {{ house.country }} Область: {{ house.region }}</p>
          <h3>{{ house.city }}, {{ house.street }} {{ house.houseNumber }}, квартира {{ house.apartment }}</h3>
        </div>

        <div class="card-social-link">
          <a href="{{ user.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="{{ user.telegram }}"><i class="fa-brands fa-telegram"></i></a>
          <a href="{{ user.viber }}"><i class="fa-brands fa-viber"></i></a>
          <a href="{{ user.facebook }}"><i class="fa-brands fa-facebook"></i></a>
        </div>

      </div>
      <div class="price-box">
        <div class="item-price">{{ about.price_m }}<sup>₴/міс</sup>
          <div class="item-actions">
            <button class="btn btn-block btn-outline-success my-2 my-sm-0 item-actions__cart">
              Орендувати
            </button>
            <button class="btn btn-outline-success my-2 my-sm-0">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="item-price">{{ about.price_y }}<sup>₴/рік</sup>
          <div class="item-actions">
            <button class="btn btn-block btn-outline-success my-2 my-sm-0 item-actions__cart">
              Орендувати
            </button>
            <button class="btn btn-outline-success my-2 my-sm-0">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-box col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card m-2 p-2">
      <div class="characteristics">
        <h4>Параметри оселі:</h4>
        <div class="characteristics-group">
          <div class="item-characteristics">Кількість кімнат: {{ param.rooms }}</div>
          <div class="item-characteristics">Статус ремонту: {{ param.repair_status }}</div>
          <div class="item-characteristics">Площа: {{ param.area }}</div>
          <div class="item-characteristics">Площа кухні: {{ param.kitchen_area }}</div>
          <div class="item-characteristics">Балкон: {{ param.balcony }}</div>
          <div class="item-characteristics">Поверх: {{ param.floor }}</div>
          <div class="item-characteristics">{{ about.distance_metro }}</div>
          <div class="item-characteristics">{{ about.distance_stop }}</div>
          <div class="item-characteristics">{{ about.distance_shop }}</div>
          <div class="item-characteristics">{{ about.distance_green }}</div>
          <div class="item-characteristics">{{ about.distance_parking }}</div>
          <div class="item-characteristics">Жінки: {{ about.woman }}</div>
          <div class="item-characteristics">Чоловіки: {{ about.man }}</div>
          <div class="item-characteristics">Сім'ї: {{ about.family }}</div>
          <div class="item-characteristics">Студенти: {{ about.students }}</div>
          <div class="item-characteristics">Тварини: {{ about.animals }}</div>
          <div class="item-characteristics">Приватна квартира: {{ house.private }}</div>
          <div class="item-characteristics">Оренда: {{ house.rent }}</div>
          <div class="item-characteristics">Проживаю: {{ house.live }}</div>
          <div class="item-characteristics">Хто проживає: {{ house.who_live }}</div>
        </div>
      </div>
      <div class="about-text m-2">
        <h4 class="m-2">Про оселю:</h4>
        <p>{{ about.about }}</p>
      </div>
    </div>
  </div>
</div>
