<div class="info-container" *ngIf="helpRoom || helpPriority">
  <div class="info-help-box" *ngIf="helpRoom">
    <i class="fa-solid fa-info"></i>

    <div class="info-help-name">Оберіть формат здачі:</div>
    <div class="info-help-text">
      <ul>Варіанти здачі:
        <li>
          <div class="bold">Оселя</div> - якщо здаю в оренду квартиру/будинок повністью.
        </li>
        <li>
          <div class="bold"> Кімната</div> - якщо здаю квартиру/будинок частково або окрему кімнату. Якщо
          шукаю сусіда в
          квартиру/будинок або окрему кімнату.
        </li>
      </ul>
    </div>
    <button class="btn w-100  t-c mt-2" (click)="openHelpRoom()">
      <div class="t-med bold mr-2">Зрозуміло</div>
      <i class="fa-regular fa-square-check"></i>
    </button>
  </div>

  <div class="info-help-box" *ngIf="helpPriority">
    <i class="fa-solid fa-info"></i>

    <div class="info-help-name">Оберіть пріоритетність здачі:</div>
    <div class="info-help-text">
      <ul>Варіанти:
        <div class="status-value"><i class="fa-solid fa-person-dress"></i> - Пріорітетно на поселення в оселю шукаю
          жінок.</div>
        <div class="status-value"><i class="fa-solid fa-person"></i> - Пріорітетно на поселення в оселю шукаю
          чоловіків.</div>
        <div class="status-value"><i class="fa-solid fa-graduation-cap"></i> - Пріорітетно на поселення в оселю шукаю
          студентів.</div>
        <div class="status-value"><i class="fa-solid fa-children"></i> - Пріорітетно на поселення в оселю шукаю сім'ї.
        </div>
      </ul>
    </div>
    <div class="t-min t-c">Це можна комбінувати між собою</div>
    <div class="t-min t-c">Також можете пропонувати ваші варіанти в меню "Залишити відгук" обравши
      "Пріорітетні
      категорії" ті категорії які ви хотіли би бачити</div>

    <button class="btn w-100 btn-navigation" [routerLink]="'/feedback'"
      [queryParams]="{ category: 'Пріорітетні категорії' }">
      <div class="t-med bold mr-2">Запропонувати категорії</div>
      <i class="fa-regular fa-lightbulb"></i>
    </button>

    <button class="btn w-100  t-c mt-2" (click)="openHelpPriority()">
      <div class="t-med bold mr-2">Зрозуміло</div>
      <i class="fa-regular fa-square-check"></i>
    </button>
  </div>
</div>

<div [@top1] class="info-card">

  <div class="param-wrapper">
    <div class="t-med bold t-c mb-1">Тут можна вказати пріорітети, вартість та активувати оголошення</div>

    <div class="flex-column mt-2 border-top w-100">

      <mat-label class="label">Оберіть варіант оплати*</mat-label>

      <div class="t-min gray">Формат оплати це обов'язковий параметр</div>
      <div class="inputbox-group">

        <div class="content">
          <label class="checkBox">
            <input id="monthly" type="radio" [(ngModel)]="flatInfo.option_pay" name="monthly" [value]=0>
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Щомісяця</span>
          <i></i>
        </div>

        <div class="content">
          <label class="checkBox">
            <input id="daily" type="radio" [(ngModel)]="flatInfo.option_pay" name="daily" [value]=1>
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Подобово</span>
          <i></i>
        </div>

        <div class="content">
          <label class="checkBox">
            <input id="free" type="radio" [(ngModel)]="flatInfo.option_pay" name="monthly" [value]=2>
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Безкоштовно</span>
          <i></i>
        </div>

        <div class="content">
          <label class="checkBox">
            <input id="selling" type="radio" [(ngModel)]="flatInfo.option_pay" name="selling" [value]=3>
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Продаж</span>
          <i></i>
        </div>

      </div>
    </div>

    <div class="inputbox-group mt-2">
      <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 1">
        <input matInput class="right-align" type="number" [min]="minValue" [max]="maxValue" step="500"
          [(ngModel)]="flatInfo.price_d" name="price_d" pattern="[0-9]*" id="inputPriceD">
        <mat-hint align="start" class="bold">ОПЛАТА ЗА ДЕНЬ, ЦІНА В ГРН*</mat-hint>
        <img matSuffix class="icon pr-2" src="../../../assets/icon-objects/hryvnia_icon.ico" alt="грн">
      </mat-form-field>

      <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 0">
        <input matInput class="right-align" type="number" [min]="minValue" [max]="maxValue" step="500"
          [(ngModel)]="flatInfo.price_m" name="price_m" pattern="[0-9]*" id="inputPriceM">
        <mat-hint align="start" class="bold">ОПЛАТА ЗА МІСЯЦЬ, ЦІНА В ГРН*</mat-hint>
        <img matSuffix class="icon pr-2" src="../../../assets/icon-objects/hryvnia_icon.ico" alt="грн">
      </mat-form-field>

      <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 2">
        <input matInput class="right-align" type="number" [(ngModel)]="flatInfo.price_f" name="price_f" disabled
          id="inputPriceF" placeholder="Безкоштовно">
      </mat-form-field>

      <mat-form-field class="price" appearance="outline" *ngIf="flatInfo.option_pay === 3">
        <input matInput class="right-align" type="number" [(ngModel)]="flatInfo.price_s" name="price_s" id="inputPriceS"
          placeholder="Продаж">
        <mat-hint align="start" class="bold">ПРОДАЖ, ЦІНА В ГРН*</mat-hint>
        <img matSuffix class="icon pr-2" src="../../../assets/icon-objects/hryvnia_icon.ico" alt="грн">
      </mat-form-field>

    </div>

    <div class="mt-2 border-top" *ngIf="flatInfo.option_pay !== 3">
      <mat-label class="label action" (click)="openHelpPriority()">Оберіть пріорітет орендарів* <i
          class="fa-solid fa-circle-info"></i></mat-label>
      <div class="t-min gray">Кого ви розглядаєте як своїх потенційних орендарів?</div>

      <div class="inputbox-group pl-2">
        <div class="content-group">
          <label class="checkBox">
            <input type="checkbox" id="students" name="students" [(ngModel)]="flatInfo.students">
            <div class="transition"></div>
          </label>
          <div class="content-group ml-2">
            <div class="status-static" [ngClass]="{ 'active': flatInfo.students}"><i
                class="fa-solid fa-graduation-cap"></i></div>
            <div class="ml-2">Студент <span class="gray checkBox-text" *ngIf="flatInfo.students">
                (В пріорітеті студенти)</span></div>
          </div>
        </div>

        <div class="content-group">
          <label class="checkBox">
            <input type="checkbox" id="woman" name="woman" [(ngModel)]="flatInfo.woman">
            <div class="transition"></div>
          </label>
          <div class="content-group ml-2">
            <div class="status-static" [ngClass]="{ 'active': flatInfo.woman}"><i class="fa-solid fa-person-dress"></i>
            </div>
            <div class="ml-2">Жінка <span class="gray checkBox-text" *ngIf="flatInfo.woman">
                (В пріоритеті жінки)</span></div>
          </div>
        </div>

        <div class="content-group">
          <label class="checkBox">
            <input type="checkbox" id="man" name="man" [(ngModel)]="flatInfo.man">
            <div class="transition"></div>
          </label>
          <div class="content-group ml-2">
            <div class="status-static" [ngClass]="{ 'active': flatInfo.man}"><i class="fa-solid fa-person"></i>
            </div>
            <div class="ml-2">Чоловік <span class="gray checkBox-text" *ngIf="flatInfo.man">(В пріоритеті
                чоловіки)</span></div>
          </div>
        </div>

        <div class="content-group">
          <label class="checkBox">
            <input type="checkbox" id="family" name="family" [(ngModel)]="flatInfo.family">
            <div class="transition"></div>
          </label>
          <div class="content-group ml-2">
            <div class="status-static" [ngClass]="{ 'active': flatInfo.family}"><i class="fa-solid fa-children"></i>
            </div>
            <div class="ml-2">Сім'я <span class="gray checkBox-text" *ngIf="flatInfo.family">(В пріоритеті
                сім'ї)</span></div>
          </div>
        </div>

      </div>
    </div>

    <div class="mt-2 border-top w-100">
      <mat-label class="label">Оберіть особливості оселі</mat-label>

      <mat-form-field class="item-select" appearance="outline">
        <mat-select [(ngModel)]="flatInfo.bunker" name="bunker" placeholder="Наявність укриття">
          <mat-option [value]="''">Приховати</mat-option>
          <mat-option value="Паркінг">Підземний паркінг</mat-option>
          <mat-option value="В будинку">Укриття в будинку</mat-option>
          <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
        </mat-select>
        <mat-hint align="start" class="t-min gray">Наявність укриття</mat-hint>
      </mat-form-field>
      <mat-form-field class="item-select" appearance="outline" *ngIf="flatInfo.option_pay !== 3">
        <mat-select [(ngModel)]="flatInfo.animals" name="animals" placeholder="Дозвіл на тварин">
          <mat-option value='Неважливо'>Неважливо</mat-option>
          <mat-option value="0">Без тварин</mat-option>
          <mat-option value="1">Можна з тваринами</mat-option>
          <mat-option value="2">Тільки котики</mat-option>
          <mat-option value="3">Тільки песики</mat-option>
        </mat-select>
        <mat-hint align="start" class="t-min gray">Орендар може мати тварин?</mat-hint>
      </mat-form-field>
    </div>

    <div class="flex-column w-100 mt-2 border-top" *ngIf="flatInfo.option_pay !== 3">

      <mat-label class="label action" (click)="openHelpRoom()">Формат здачі оселі* <i
          class="fa-solid fa-circle-info"></i></mat-label>

      <div class="inputbox-group">
        <div class="content m-2">
          <label class="checkBox">
            <input type="radio" name="flatInfo.room" [(ngModel)]="flatInfo.room" [value]="0">
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Вся оселя <i class="fa-solid fa-dice-d6 pl-2 gray"></i></span>
          <i></i>
        </div>
        <div class="content m-2">
          <label class="checkBox">
            <input type="radio" name="flatInfo.room" [(ngModel)]="flatInfo.room" [value]="1">
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Тільки кімната <i class="fa-solid fa-cube pl-2 gray"></i></span>
          <i></i>
        </div>
      </div>
    </div>

    <div class="mt-2 border-top w-100">
      <mat-label class="label">Зробіть опис вашого оголошення</mat-label>

      <mat-form-field class="mt-2">
        <textarea appAutoResizeTextarea matInput id="textArea" [(ngModel)]="flatInfo.about"></textarea>
        <label for="textArea" class="label-for">Опис вашого оголошення </label>
      </mat-form-field>
    </div>

  </div>

  <div class="btn-group mt-2">
    <button class="btn flex-box" (click)="saveInfo()">ЗБЕРЕГТИ<i
        class="icon fa-regular fa-circle-check ml-2"></i></button>
  </div>

</div>