<div class="info-container" *ngIf="helpRoom || helpPriority">
  <div class="info-help-box" *ngIf="helpRoom">
    <i class="fa-solid fa-info"></i>

    <div class="info-help-name">Оберіть формат здачі:</div>
    <div class="info-help-text">
      <ul>Варіанти здачі:
        <li>
          <div class="bold">Оселя</div> - якщо здаю в оренду квартиру/будинок повністью.
        </li>
        <li>
          <div class="bold"> Кімната</div> - якщо здаю квартиру/будинок частково або окрему кімнату. Якщо
          шукаю сусіда в
          квартиру/будинок або окрему кімнату.
        </li>
      </ul>
    </div>
    <button class="btn w-100  t-c mt-2" (click)="openHelpRoom()">
      <div class="t-med bold mr-2">Зрозуміло</div>
      <i class="fa-regular fa-square-check"></i>
    </button>
  </div>

  <div class="info-help-box" *ngIf="helpPriority">
    <i class="fa-solid fa-info"></i>

    <div class="info-help-name">Оберіть пріоритетність здачі:</div>
    <div class="info-help-text">
      <ul>Варіанти:
        <div class="status-value"><i class="fa-solid fa-person-dress"></i> - Пріорітетно на поселення в оселю шукаю
          жінок.</div>
        <div class="status-value"><i class="fa-solid fa-person"></i> - Пріорітетно на поселення в оселю шукаю
          чоловіків.</div>
        <div class="status-value"><i class="fa-solid fa-graduation-cap"></i> - Пріорітетно на поселення в оселю шукаю
          студентів.</div>
        <div class="status-value"><i class="fa-solid fa-children"></i> - Пріорітетно на поселення в оселю шукаю сім'ї.
        </div>
      </ul>
    </div>
    <div class="t-min t-c">Це можна комбінувати між собою</div>
    <div class="t-min t-c">Також можете пропонувати ваші варіанти в меню "Залишити відгук" обравши
      "Пріорітетні
      категорії" ті категорії які ви хотіли би бачити</div>

    <button class="btn w-100 btn-navigation" [routerLink]="'/feedback'"
      [queryParams]="{ category: 'Пріорітетні категорії' }">
      <div class="t-med bold mr-2">Запропонувати категорії</div>
      <i class="fa-regular fa-lightbulb"></i>
    </button>

    <button class="btn w-100  t-c mt-2" (click)="openHelpPriority()">
      <div class="t-med bold mr-2">Зрозуміло</div>
      <i class="fa-regular fa-square-check"></i>
    </button>
  </div>
</div>

<mat-label align="start" class="filter-label">Особливості</mat-label>

<p class="t-med gray mb-2">Задавайте способи оплати, особливості оселі, та опис.</p>

<section class="section-chown">
  <mat-label align="start" class="label-section"><i class="fa-solid fa-sign-hanging"></i>
    Виставляю оселю:</mat-label>
  <mat-button-toggle-group name="searchReason" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="searchReason"
    (ngModelChange)="checkReason()" aria-label="Оплата">
    <mat-button-toggle [value]="0">На оренду</mat-button-toggle>
    <mat-button-toggle [value]="1">Для продажу</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section [@appearance] class="section-chown" *ngIf="searchReason === 0">
  <mat-label align="start" class="label-section"><i class="fa-solid fa-calendar-day"></i>
    Варіанти оплати:</mat-label>
  <mat-button-toggle-group name="option_pay" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.option_pay"
    aria-label="Оплата">
    <mat-button-toggle [value]="0">Помісячно</mat-button-toggle>
    <mat-button-toggle [value]="1">Подобово</mat-button-toggle>
    <mat-button-toggle [value]="2">Безкоштовно</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<button class="label action mt-2" (click)="openHelpRoom()">Формат здачі оселі* <i
    class="fa-solid fa-circle-info"></i></button>

<section [@appearance] class="section-chown" *ngIf="flatInfo.option_pay !== 3">
  <mat-label align="start" class="label-section"><i class="fa-solid fa-dice-d6 pl-2 gray"></i>
    В оренду здаю:</mat-label>
  <mat-button-toggle-group name="option_pay" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.room"
    aria-label="Оплата">
    <mat-button-toggle [value]="0">Всю оселю</mat-button-toggle>
    <mat-button-toggle [value]="1">Тільки кімнату</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section class="range-section" *ngIf="flatInfo.option_pay !== undefined && flatInfo.option_pay !== 2">
  <p class="t-lar">Ціна: <span class="bold t-lar-xx">{{ flatInfo.price_m / 1000 | number }}k </span> ₴</p>
  <label for="priceFrom" class="form-label dark" *ngIf="flatInfo.option_pay === 0">За місяць {{ flatInfo.price_m |
    number:'1.0-0'
    }} грн</label>
  <label for="priceFrom" class="form-label dark" *ngIf="flatInfo.option_pay === 1">За добу {{ flatInfo.price_m |
    number:'1.0-0'
    }} грн</label>
  <label for="priceFrom" class="form-label dark" *ngIf="flatInfo.option_pay === 3">Купівля {{ flatInfo.price_m |
    number:'1.0-0'
    }} грн</label>

  <input (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.price_m" type="range" class="form-range"
    [min]="minValue" [max]="maxValue" [step]="step" id="priceFrom">
</section>

<button class="label action mt-2" (click)="openHelpPriority()">Оберіть пріорітет орендарів* <i
    class="fa-solid fa-circle-info"></i></button>

<section class="section-chown" *ngIf="searchReason === 0">
  <mat-label align="start" class="label-section">Здаєте оселю тільки конкретному типу орендарів?</mat-label>

  <div class="flex-box-type p-2">
    <p class="t-med">Студент <i class="fa-solid fa-graduation-cap pr-2"></i></p>
    <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.students" name="students"
      aria-label="students">
      <mat-button-toggle [value]="undefined">Неважливо</mat-button-toggle>
      <mat-button-toggle [value]="0">Ні</mat-button-toggle>
      <mat-button-toggle [value]="1">Так</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="flex-box-type p-2">
    <p class="t-med">Жінка <i class="fa-solid fa-person-dress pr-2"></i></p>
    <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.woman" name="woman"
      aria-label="woman">
      <mat-button-toggle [value]="undefined">Неважливо</mat-button-toggle>
      <mat-button-toggle [value]="0">Ні</mat-button-toggle>
      <mat-button-toggle [value]="1">Так</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="flex-box-type p-2">
    <p class="t-med">Чоловік <i class="fa-solid fa-person pr-2"></i></p>
    <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.man" name="man"
      aria-label="man">
      <mat-button-toggle [value]="undefined">Неважливо</mat-button-toggle>
      <mat-button-toggle [value]="0">Ні</mat-button-toggle>
      <mat-button-toggle [value]="1">Так</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="flex-box-type p-2">
    <p class="t-med">Сім'ї | З дітьми <i class="fa-solid fa-person-breastfeeding pr-2"></i></p>
    <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.family" name="family"
      aria-label="family">
      <mat-button-toggle [value]="undefined">Неважливо</mat-button-toggle>
      <mat-button-toggle [value]="0">Ні</mat-button-toggle>
      <mat-button-toggle [value]="1">Так</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</section>

<section class="section-chown">
  <mat-label align="start" class="label-section"><i class="fa-solid fa-shield-heart"></i> Оселя з
    укриттям?</mat-label>
  <mat-button-toggle-group name="bunker" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.bunker"
    aria-label="Укриття">
    <mat-button-toggle value="Неважливо">Ні</mat-button-toggle>
    <mat-button-toggle value="Паркінг">В паркінгу</mat-button-toggle>
    <mat-button-toggle value="В будинку">В будинку</mat-button-toggle>
    <mat-button-toggle value="Поряд з будинком">Поряд</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section class="section-chown" *ngIf="searchReason === 0">
  <mat-label align="start" class="label-section">Орендарі можуть мати домашніх улюбленців? <i
      class="fa-solid fa-paw"></i></mat-label>
  <mat-button-toggle-group name="bunker" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.animals"
    aria-label="Петс">
    <mat-button-toggle value="0">Ні</mat-button-toggle>
    <mat-button-toggle value="1">Так</mat-button-toggle>
    <mat-button-toggle value="2">Тільки котика</mat-button-toggle>
    <mat-button-toggle value="3">Тільки песика</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section class="flex-box-center mt-2 p-2">
  <mat-label align="start" class="label-section">Опис вашого оголошення або вкажіть те чого вам тут не вистачило <i
      class="fa-solid fa-signature"></i></mat-label>
  <mat-form-field class="mt-2 w-100">
    <textarea appAutoResizeTextarea matInput id="textArea" (ngModelChange)="onSubmitWithDelay()"
      [(ngModel)]="flatInfo.about"></textarea>
  </mat-form-field>
</section>

<div [@appearance] class="btn-group">
  <button class="b-primary mr-2" (click)="setToogleMenu()">
    <i class="fa-regular fa-circle-xmark"></i>
  </button>

  <button [disabled]="totalAbout === 0" class="b-primary mr-2 custom-badge" (click)="clearFilter()"
    matBadge="{{totalAbout}}" [matBadgeHidden]="totalAbout === 0">
    <i class="fa-solid fa-broom"></i>
  </button>

  <button class="b-primary p-2" (click)="saveInfo()">
    <div class="t-med bold white">ЗБЕРЕГТИ</div>
    <i class="fa-regular fa-circle-check pl-2 white"></i>
  </button>
</div>
