@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/shared.scss";

.content-child {
  height: calc(100vh - 100px - 1rem);
  justify-content: center !important ;
  flex-wrap: nowrap !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card-content {
  align-items: stretch !important;
  justify-content: space-between !important;
}

.card-animation {
  @include s3-s6-max {
    width: 98% !important;
  }
}

.statusUserBox {
  @include flex-box-column;
  width: 100%;
  .statusBox {
    @include flex-box-column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.374);
    .statusValue {
      @include flex-box;
      justify-content: space-between;
      padding: 5px;
      width: 100%;
      font-size: $t-min;
    }
    .statusMsg {
      font-size: $t-min;
      color: $color-dark;
      text-transform: lowercase;
    }
  }
}

.ranking-box {
  // border: 1px solid rgba(128, 128, 128, 0.374);
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.096);
  // @include box-shadow;
}

.img-wrapper2 {
  width: 100%;
  height: 30vh;
  .img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.radio-group {
  @include flex-box;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
  .radio-btn {
    @include flex-box;
    position: relative;
    .fa-regular {
      transition: 1s;
      font-size: 30px;
      &.active {
        color: $color-accent;
        transform: scale(1.2);
      }
    }
  }
}


