<div class="main-container">

  <div class="width-param col-md-7 col-sm-12 col-12 p-1" *ngIf="!isMobile">
    <div class="card-item" [@appearance] *ngIf="chosenUser">
      <div class="btn-close-container">
        <div class="btn-close-box">
          <button class="btn-close" (click)="close()"></button>
        </div>
      </div>
      <app-img></app-img>
      <app-info></app-info>
    </div>
    <div class="status-subscription-wrapper h-100" *ngIf="!chosenUser">
      <div [@appearance] class="status-subscription bg-transparent">
        <div class="status-text p-2 t-c">Оберіть <br> мешканця</div>
      </div>
    </div>
  </div>

  <div class="width-param col-lg-5 col-md-5 col-sm-12 col-12 p-1" *ngIf="!isMobile">
    <app-cards-list-users></app-cards-list-users>
  </div>

  <div class="width-param col-12" *ngIf="isMobile">

    <!-- всі картки -->
    <div class="card-item" *ngIf="indexPage === 1">
      <app-cards-list-users></app-cards-list-users>
    </div>

    <div class="card-item" *ngIf="chosenUser && indexPage === 2">
      <div class="btn-close-container">
        <div class="btn-close-box">
          <button class="btn-close" (click)="close()"></button>
        </div>
      </div>
      <app-img></app-img>
      <app-info></app-info>
    </div>

  </div>

</div>

