@use "../../../style/shared.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.flex-column {
  @include flex-box-column;
}

.flex-box {
  @include flex-box;
}

.item-box {
  @include flex-box;
  @include box-shadow;
  width: 95%;
  justify-content: flex-start;
  border-radius: 20px;
  overflow: hidden;
  height: 80px;
  margin: 5px;

  .link-toMenu {
    @include flex-box;
    @include box-shadow;

    height: 100%;
    color: $color-white;
    background-color: $color-accent;
    .fa-solid {
      color: $color-white;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.791));
    }
  }

  .item-d {
    @include flex-box-column;
    margin: 0;
  }
}

.buble {
  width: 100px;
  height: 100px;
  background-color: $color-white;
  border-radius: 50%;

  .fa-solid {
    font-size: 40px;
    color: $color-dark;
  }
}
