<div class="content-child p-3">

  <div [@right] class="t-lar t-c ">
    <p class="bold">Шлях по кроках <br> як налаштувати оселю.</p>
    <div class="t-min gray t-c bold">Після виконання цих кроків та активації ваше оголошення буде розміщено в меню
      "пошук оселі" та доступне для перегляду та підписки.</div>
  </div>

  <div [@right] class="item-box">
    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 1</div>
      <div class="t-min t-c p-1">Після створення оселі заповніть форму в меню "Розтушування".</div>
    </div>

    <button class="link-t w-30 flex-column" [routerLinkActive]="'active'" [routerLink]="'/edit-house/address'">
      <span class="ml-2 t-min">Розтушування</span>
      <i class="fa-solid fa-location-dot ml-2 ml-2"></i>
    </button>
  </div>

  <div [@right1] class="item-box">
    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 2</div>
      <div class="t-min t-c p-1">Заповнюємо форму в меню "Параметри" в якому треба обов'язково
        вказати тип оселі*</div>
    </div>

    <button class="link-t w-30 flex-column" [routerLinkActive]="'active'" [routerLink]="'/edit-house/param'">
      <span class="ml-2 t-min">Параметри</span>
      <i class="fa-solid fa-trowel-bricks ml-2"></i>
    </button>
  </div>

  <div [@right2] class="item-box">
    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 3</div>
      <div class="t-min t-c p-1">Меню "Особливості" обов'язково вказати
        варіанти оплати*, ціну*, формат здачі*, додати фото* та "Активувати"</div>
    </div>

    <button class="link-t w-30 flex-column" [routerLinkActive]="'active'" [routerLink]="'/edit-house/about'">
      <span class="ml-2 t-min">Особливості</span>
      <i class="fa-solid fa-users-gear ml-2"></i>
    </button>
  </div>

  <div [@right3] class="item-box">
    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 4</div>
      <div class="t-min t-c p-1">Обов'язково треба додати як мінімум два фото після чого активувати оголошення в меню
        "Особливості"</div>
    </div>

    <button class="link-t w-30 flex-column" [routerLinkActive]="'active'" [routerLink]="'/edit-house/photo'">
      <span class="ml-2 t-min">Додати фото</span>
      <i class="fa-solid fa-images"></i>
    </button>
  </div>

  <div [@right4] class="item-box">
    <div class="item-d w-70">
      <div class="t-min t-c p-1">Це меню призначено для швидкого доступу та копіювання до часто потрібної інформації. З
        часом воно
        буде поповнюватись новими параметрами</div>
    </div>

    <button class="link-t w-30 flex-column" [routerLinkActive]="'active'" [routerLink]="'/edit-house/additional-info'">
      <span class="ml-2 t-min">Додаткова інформація</span>
      <i class="fa-regular fa-address-book"></i>
    </button>
  </div>

</div>
