@use "../../../style/presets/" as *;

.container-navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.container-card::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card-menu {
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.navbar-house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}
