@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.container-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
}

.card-1 {
  position: absolute;
  left: -40%;
  width: 250px;
  height: 75vh;
  @include box-shadow;
  border-radius: 20px;
}

.card-2 {
  height: 75vh;
  overflow-y: auto;
}

.card-1 {
  .img-fluid-h {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
  }

  .img-h {
    overflow: hidden;
    height: 75vh;
    border-radius: 20px;
    transition: transform 1s;
    object-fit: cover;
    position: relative;

    &:hover {
      transition: transform 1s;
      transform: scale(1.2);
    }
  }
}

.flex-box {
  flex-wrap: wrap;
}

.bg-accent {
  background-color: $color-accent;
  padding: 2px;
  border-radius: 5px;
  width: auto;
  margin: 2px;
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-content: flex-start;

  .card-mini {
    @include flex-box;
    @include box-shadow;
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 96%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
    }
    .card-mini-img-container {
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;
      &:hover {
        width: 55%;
      }
      .card-mini-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    background-color: $color-dark;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
