<ng-container *ngIf="ownFlats && ownFlats.length > 0 || rentedFlats && rentedFlats.length > 0">
  <div class="container-menu">

    <div class="selectedHouse-box">
      <div class="flatName-label">Вибір оселі</div>
      <div class="flatName w-75">{{selectedFlatName}}</div>
      <button class="btn" [matMenuTriggerFor]="menu" aria-label="menu">
        <i class="fa-solid fa-circle-chevron-down"></i>
      </button>
    </div>


    <mat-menu #menu="matMenu" class="mat-menu">
      <mat-optgroup *ngIf="ownFlats && ownFlats.length > 0" label="Власні оселі" class="name-optgroup">
        <mat-option class="list-option" *ngFor="let ownFlat of ownFlats" [value]="ownFlat.flat_id"
          (click)="selectFlat(ownFlat)">
          {{ ownFlat.flat_name }}
        </mat-option>
      </mat-optgroup>
      <ng-container *ngIf="rentedFlats && rentedFlats.length > 0">
        <mat-optgroup label="Орендовані оселі" class="name-optgroup">
          <mat-option class="list-option" *ngFor="let rentedFlat of rentedFlats" [value]="rentedFlat.flat_id"
            (click)="selectFlat(rentedFlat)">
            {{ rentedFlat.flat_name }}
          </mat-option>
        </mat-optgroup>
      </ng-container>
    </mat-menu>

  </div>

</ng-container>

<div *ngIf="loading" class="loader-overlay">
  <app-loader></app-loader>
</div>
