@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.selectedHouse-box {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 5px ;
  margin-top: 5px;
  border: 1px solid $color-gray;
  border-radius: 5px;

  .flatName-label {
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: 12px;
    padding: 0 5px;
    background-color: $color-primary;
    color: $color-accent;
    @include s1-s3 {
      background-color: $color-white;
    }
  }

  .flatName {
    font-size: 18px;
    color: $color-accent;
    font-weight: 600;
  }

  .btn-menu {
    width: 30px;
    height: 30px;
  }

  .fa-solid {
    color: $color-white;
  }
}

.container-menu {
  width: 100%;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: 255px !important;
  max-width: 469px !important;
  overflow: auto;
  position: relative;
}

.name-optgroup {
  font-size: 12px;
  color: $color-accent;
  font-weight: 600;
  width: 300px;
}

.form-container {
  display: flex;
  width: 100%;
  height: 65px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.list-label {
  color: $color-accent;
  border: none;
  padding: 0;
}

.list-select {
  border: none;
  font-size: 20px;
}

.list-option {
  border: none;
  border-radius: 10px;
}
