@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: 400px;
  overflow: auto;
  width: 100%;
  align-content: flex-start;
  @include s1-s3 {
    margin: 0;
    height: 60vh;
  }

  .card-mini {
    @include flex-box;
    @include box-shadow;
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 96%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
    }
    .card-mini-img-container {
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;
      &:hover {
        width: 55%;
      }
      .card-mini-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    background-color: $color-dark;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

