<h2 class="mt-3 p-2">Функції та переваги Discussio</h2>

<nav [@cardAnimation1] class="flex-box" id="навігація">

  <a class="link-anchor" (click)="scrollToAnchor('аккаунт')">
    <span class="link-anchor-text">Оселя</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('наповнення')">
    <span class="link-anchor-text">Наповнення</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('дискусія')">
    <span class="link-anchor-text">Дискусія</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('угода')">
    <span class="link-anchor-text">Угоди</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('пошук')">
    <span class="link-anchor-text">Пошук</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('орендар')">
    <span class="link-anchor-text">Орендар</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('комунальні')">
    <span class="link-anchor-text">Статистика</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('дозволи')">
    <span class="link-anchor-text">Дозволи</span>
  </a>

  <a class="link-anchor" (click)="scrollToAnchor('оцінювання')">
    <span class="link-anchor-text">Оцінювання</span>
  </a>

</nav>

<!-- Створення аккаунту оселі -->
<div [@cardAnimation1] class="flex-column " id="аккаунт">
  <div class="item-box-1">
    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-door-closed"></i><span class="ml-2">
            Створення профілю оселі.</span>
        </div>
      </div>
      <div class="t-min">Можливість для детального опису вашої нерухомості та надання базової інформації мешканцям.
        Розроблений з урахуванням вашого комфорту та простоти використання, дозволяючи легко та швидко
        заповнювати всю необхідну інформацію. Ви зможете розміщувати оголошення про здачу
        в оренду будь-якого типу нерухомості, будь то будинок, квартира чи навіть окрема кімната.
        Важливою особливістю цього інструменту є можливість створювати профілі для різних видів нерухомості та
        об'єднувати їх у одному аккаунті. Це зробить управління різними об'єктами більш зручним та ефективним.
        Крім того, ви також можете надавати доступ до вашого профілю надійним особам, що дозволить їм легко керувати
        нерухомістю.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/house'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Ваша оселя тут</span>
      </button>
    </div>
    <div class="item-img-container">
      <img class="item-img w-400 h-300" src="../../../assets/example-agree/account_creation.jpg" alt="Flat Image">
    </div>
  </div>
</div>

<!-- Наповнення оселі. -->
<div [@cardAnimation1] class="flex-column " id="наповнення">
  <div class="item-box-1">

    <div class="item-img-container">
      <img class="item-img w-400 h-300" src="../../../assets/example-agree/house_box4.jpg" alt="Flat Image">
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-dolly"></i><span class="ml-2">
            Наповнення оселі.</span>
        </div>
      </div>
      <div class="t-min">Функція, що дозволяє детально описувати та документувати всі об'єкти та предмети, які
        знаходяться в місці проживання. Ця функція надає користувачам доступ до попередньо розроблених шаблонів та
        універсальної форми, яка полегшує процес внесення інформації про речі та їх стан, а також інструкцій щодо
        використання. Завдяки цій можливості, ви зможете докладно описати кожен предмет, його поточний стан та навіть
        надати фотографії для кращого візуального представлення. Ця інформація є надзвичайно важливою для формування
        акту прийому-передачі оселі. Після внесення даних, їх можна легко використовувати для створення офіційного
        документа, який фіксує стан та наявність об'єктів в оселі, що дуже корисно при здачі в оренду, продажу або
        будь-яких інших транзакціях, пов'язаних з нерухомістю.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/housing-parameters/host/add-objects'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Наповнення оселі тут</span>
      </button>
    </div>

  </div>
</div>

<!-- Пропозиції, вподобання та дискусій. -->
<div [@cardAnimation1] class="flex-column " id="дискусія">
  <div class="item-box-1">
    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-building-user"></i><span class="ml-2">
            Пропозиції, вподобання та дискусії. Для орендара.</span>
        </div>
      </div>
      <div class="t-min flex-box">Ви шукаєте оселю?
        Вам сподобалась знайдені варіанти, підпишиться на них та чекайте коли вас ухвалять до дискусії.
        Детальніше в меню "Вподобання".
        <button class="link-toMenu flex-box-row" [routerLink]="'/subscribers-host-user/subscriptions-user'">
          <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Вподобання будуть тут</span>
        </button>
        У вас немає часу на пошук оселі або у вас є свої критерії ідеальної оселі, можна створити "пошуковий профіль
        орендара" активувати його і чекати пропозицій від власників.
        Детальніше в меню "Пропозиції".
        <button class="link-toMenu flex-box-row" [routerLink]="'/subscribers-host-user/subscribers-user'">
          <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Пропозиції будуть тут</span>
        </button>
        Коли ви або вас ухвалять до дискусії вам відкриється контактна інформація та додаткові можливості.
        Детальніше в меню "Дискусії".
        <button class="link-toMenu flex-box-row" [routerLink]="'/subscribers-host-user/subscribers-discuss'">
          <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Дискусії будуть тут</span>
        </button>
      </div>
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-people-arrows"></i><span class="ml-2">
            Підписники, підписки та дискусії. Для власника.</span>
        </div>
      </div>
      <div class="t-min flex-box">
        Виставили оголошення і ваша оселя сподобалась орендарам, вони будуть вашими підписниками.
        Детальніше в меню "Підписники".
        <button class="link-toMenu flex-box-row" [routerLink]="'/subscribers-host/subscriptions-house'">
          <i class="fa-solid fa-arrow-right"></i>
          <span class="ml-2">Підписники оселі тут</span>
        </button>
        У вас є власні критерії? Хочете самі обрати орендара? Зайдіть в пошук орендара та шукайте користувачів яким
        підходять ваші умови та запропонуйте свою оселю підписавшись на них.
        Детальніше в меню "Підписки".
        <button class="link-toMenu flex-box-row" [routerLink]="'/subscribers-host/subscribers-house'">
          <i class="fa-solid fa-arrow-right"></i>
          <span class="ml-2">Підписки оселі тут</span>
        </button>
        Коли ви або вас ухвалять до дискусії вам відкриється контактна інформація та додаткові можливості.
        Детальніше в меню "Дискусії оселі".
        <button class="link-toMenu flex-box-row" [routerLink]="'/subscribers-host/subscribers-discus'">
          <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Дискусії оселі тут</span>
        </button>
      </div>
    </div>
    <div class="item-img-container">
      <img class="item-img w-400 h-500" src="../../../assets/example-agree/man_and_door4.jpg" alt="Flat Image">
    </div>
  </div>
</div>

<!-- Discussio угода -->
<div [@cardAnimation1] class="flex-column " id="угода">
  <div class="item-box-1">

    <div class="item-img-container">
      <img class="item-img w-300 h-400" src="../../../assets/example-agree/man_and_agree3.jpg" alt="Flat Image">
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-file-signature"></i><span class="ml-2">
            Discussio угода оренди нерухомого майна.</span>
        </div>
      </div>
      <div class="t-min">Наша платформа дозволяє легко та швидко створювати угоди між орендарем та орендодавцем всього
        за кілька хвилин. Ви можете згенерувати стандартні умови оренди нерухомого майна або додавати власні додаткові
        умови. Після створення угоди, ви можете відправити її орендару для розгляду та погодження, щоб він міг докладно
        її ознайомитись та прийняти рішення. Після погодження умов угоди, її можна легко роздрукувати та підписати на
        місці.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/house/agree-menu'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Discussio угоди тут</span>
      </button>
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-file-circle-plus"></i><span class="ml-2">
            Акт прийому-передачі оселі.</span>
        </div>
      </div>
      <div class="t-min">Після погодження умов орендної угоди, ви зможете створити акт прийому-передачі оселі. Цей акт
        міститиме інформацію про угоду та опис наповнення вашої оселі, яку ви передаєте орендару, а також показники
        лічильників на момент передачі. Ви зможете надрукувати цей акт та підписати його при зустрічі. Крім того, акт
        буде збережений в вашому профілі оселі з детальним описом та фотографіями всіх предметів на момент передачі
        оселі.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/house/agree-menu'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Формування Акту тут</span>
      </button>
    </div>

  </div>
</div>

<!-- пошук -->
<div [@cardAnimation1] class="flex-column " id="пошук">
  <div class="item-box-1">
    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-magnifying-glass"></i><span class="ml-2">
            Пошук оселі.</span>
        </div>
      </div>
      <div class="t-min">Наша платформа надає вам можливість легко знаходити житло, яке відповідає
        вашим вимогам та вподобанням. Ви можете вибирати оселі з врахуванням різних критеріїв, таких як тип мешканця
        (студент, жінка, чоловік, сім'я), тип оселі (будинок, квартира, кімната), наявність укриття та можливість
        проживання з тваринами, та багато іншого.
        Зручно, що ви можете автоматично переносити ваші параметри з вашого пошукового профілю, що економить вам час і
        зусилля, оскільки вам не потрібно постійно заповнювати форму пошуку. Наша система робить пошук оселі максимально
        простим та зручним, щоб ви могли знайти ідеальне житло для себе.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/search/house'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Пошук оселі тут</span>
      </button>
    </div>

    <div class="item-img-container">
      <img class="item-img w-300 h-400" src="../../../assets/example-agree/computer.jpg" alt="Flat Image">
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-people-pulling"></i><span class="ml-2">
            Пошук орендара.</span>
        </div>
      </div>
      <div class="t-min">
        Можливість знаходити профілі потенційних орендарів, які
        відповідають вашим особистим критеріям. Ви можете використовувати різні фільтри, такі як бюджет, мета переїзду
        та термін оренди, для пошуку орендарів, які вам підходять. Ви можете також здавати свою оселю тільки на якийсь
        конкретний відрізок часу який потрібен орендару.
        Наша система дозволяє знаходити орендарів, які шукають саме вашу оселю з врахуванням ваших параметрів. Крім
        того, ви можете автоматично переносити параметри вашої оселі у форму пошуку, що робить процес пошуку орендарів
        ще зручнішим і швидшим.
      </div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/search/tenants'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Пошук орендара тут</span>
      </button>
    </div>
  </div>
</div>

<!-- Пошуковий профіль орендара -->
<div [@cardAnimation1] class="flex-column " id="орендар">
  <div class="item-box-1">

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-person-shelter"></i><span class="ml-2">
            Пошуковий профіль орендара.</span>
        </div>
      </div>
      <div class="t-min">Вибір іншого житла - це легко та зручно завдяки "Пошуковому профілю орендара". Лише три кроки
        розділяють вас від ідеального житла.
        Крок перший: Опишіть свої потреби та бажання щодо оселі, вказавши для кого і який формат вам потрібен.
        Крок другий: Встановіть параметри оселі, оцініть інфраструктуру та особливості, які вам важливі.
        Крок третій: Зазначте терміни, бюджет та додаткову інформацію.
        Після активації вашого пошукового профілю, власники нерухомості зможуть надсилати вам пропозиції, які
        відповідають вашим потребам. Це швидкий та ефективний спосіб знайти ідеальне житло для вас.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/looking'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Пошуковий профіль орендара тут</span>
      </button>
    </div>

    <div class="item-img-container w-500">
      <img class="item-img w-500" src="../../../assets/example-agree/man_and_door1.jpg" alt="Flat Image">
    </div>

  </div>
</div>

<!-- Ведення статистики комунальних платежів. -->
<div [@cardAnimation1] class="flex-column " id="комунальні">
  <div class="item-box-1">

    <div class="item-img-container">
      <img class="item-img w-400 h-300" src="../../../assets/example-agree/stats1.jpg" alt="Flat Image">
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-chart-pie"></i><span class="ml-2">
            Статистика комунальних.</span>
        </div>
      </div>
      <div class="t-min">За допомогою цієї функції, ви можете створювати комунальні послуги та вибирати різні варіанти
        розрахунку витрат. Ви маєте можливість вести свою власну статистику, проводячи детальний розрахунок використання
        комунальних ресурсів, таких як вода, газ, електроенергія, тощо.
        Ця функція сприяє обміну даними між орендарем та орендодавцем, дозволяючи точно відслідковувати витрати та
        встановлювати звіти про споживання ресурсів щомісяця. Це робить процес обліку комунальних послуг більш прозорим
        та допомагає уникнути спорів між сторонами. Таким чином, ви можете зручно та ефективно керувати комунальними
        послугами в вашій оселі, долати непорозуміння та забезпечувати точний розрахунок витрат.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/comun-page'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Статистика комунальних тут</span>
      </button>
    </div>

  </div>
</div>

<!-- Дозволи оселі. -->
<div [@cardAnimation1] class="flex-column " id="дозволи">
  <div class="item-box-1">

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-people-roof"></i><span class="ml-2">
            Мешканці оселі</span>
        </div>
      </div>
      <div class="t-min">Додавши орендара до списку мешканців оселі у вас з'являється можливість надавати орендарам
        дозволи до різних функцій оселі. Починаючі від внесення показань лічильників до повного керування оселею з
        можливістью самим шукати собі сусідів по оселі.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/house/residents'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Меню мешканці оселі тут</span>
      </button>
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-unlock-keyhole"></i><span class="ml-2">
            Дозволи оселі.</span>
        </div>
      </div>
      <div class="t-med gray bold">Адміністрування/представник:</div>
      <div class="t-min">Додавши користувача до оселі його можна зробити адміністратором оселі або представником. Це
        буде корисним якщо ви захочете передати управління оселі членам сім'ї або друзям на момент вашої відсутності щоб
        вони мали доступ до інформації про вашу оселю та могли неї керувати</div>

    </div>



    <div class="item-img-container">
      <img class="item-img w-300 h-300" src="../../../assets/example-agree/key6.jpg" alt="Flat Image">
    </div>

  </div>
</div>

<!-- Система оцінювання -->
<div [@cardAnimation1] class="flex-column " id="оцінювання">
  <div class="item-box-1">

    <div class="item-img-container">
      <img class="item-img w-300 h-600" src="../../../assets/example-agree/man_and_door2.jpg" alt="Flat Image">
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-regular fa-face-smile"></i> | <i class="fa-regular fa-face-frown"></i><span
            class="ml-2">
            Система оцінювання орендарів.</span>
        </div>
      </div>
      <div class="t-min">Для власників оселі вибір надійного орендара може стати великим завданням. Щоб допомогти
        власникам обирати порядних та надійних орендарів, ми впроваджуємо систему "Рейтинг орендара".
        Ця система дає можливість власникам оцінити орендара, який проживав у їх оселі. Щомісяця
        власник може залишати короткий відгук про орендара та визначити, на скільки йому було комфортно з
        цим орендарем мати справу. Ця оцінка формує позитивний або негативний рейтинг орендара.
        Важливість цієї системи полягає в тому, що вона створює атмосферу довіри між власниками та
        орендарами. Якщо орендар має високий рейтинг, це свідчить про його відповідальність, порядність і здатність
        дбати про майно власника. Власники оселі можуть бути впевнені, що їх нерухомість буде в надійних руках.
        З іншого боку, негативний рейтинг може бути сигналом, що потрібно бути обережними при розгляді
        такого орендара. Це допомагає вберегти власників від можливих проблем і зберегти їх майно у належному стані.
        Система "Рейтинг орендара" є важливим інструментом для створення позитивного відношення між власниками
        нерухомості та орендарами. Вона сприяє розвитку довіри і забезпечує комфортне та безпечне співжиття для обох
        сторін.</div>
    </div>

    <div class="item-description">
      <div class="param-box mt-3">
        <div class="param-name"><i class="fa-solid fa-hands-praying"></i><span class="ml-2">
            Система оцінювання власників.</span>
        </div>
      </div>
      <div class="t-min">Власники нерухомості мають важливу роль у процесі оренди житла. Власники також можуть бути
        оцінені та рецензовані, але в контексті "Рейтингу власника оселі". Ця система дозволяє орендарям висловлювати
        свою думку про власників нерухомості, з якими вони мали справу. Цей рейтинг базується на досвіді орендарів та
        допомагає іншим потенційним орендарям зрозуміти, яким власникам можна довіряти та які мають певні особливості.
        Інформація про власників, яку можна знайти у "Рейтингу власника оселі", включає такі аспекти: комунікацію,
        наскільки власник був доступний для спілкування з орендарами і вирішення поточних
        питань. Оцінка того, наскільки власник створював комфортні умови для проживання орендарів,
        включаючи обслуговування та ремонти. Вказівка на те, чи відповідав власник усім угодам і
        зобов'язанням, визначеним у договорі оренди. Система "Рейтинг власника оселі" допомагає орендарям приймати
        інформовані рішення щодо оренди житла та створює сприятливу атмосферу відкритості і довіри між сторонами. Вона
        також допомагає власникам покращити якість обслуговування своєї нерухомості та підвищити довіру до них серед
        потенційних орендарів.</div>
      <button class="link-toMenu flex-box-row" [routerLink]="'/house/residents'">
        <i class="fa-solid fa-arrow-right"></i><span class="ml-2">Оцінювання тут</span>
      </button>
    </div>



  </div>
</div>

<a class="link-anchor" (click)="scrollToAnchor('навігація')">
  <span class="link-anchor-text">Повернутись до навігації</span>
</a>

<app-footer></app-footer>
