<div class="btn-group">
  <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="МІЙ ПРОФІЛЬ" [routerLink]="'/user/info'">
    <div class="img-fluid">
      <img [src]="'http://localhost:3000/img/users/' + (userImg ? userImg : 'user_default.svg')" alt="User Image"
        (error)="useDefaultImage($event)">
    </div>
  </a>
  <ng-container *ngIf="(houses.length > 0)">
    <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="МОЇ ОСЕЛІ" [routerLink]="'/house'">
      <ng-container *ngIf="flatImg !== undefined && flatImg.length > 0">
        <img [src]="'http://localhost:3000/img/flat/' + flatImg[0].img" alt="Flat Image" class="img-fluid rounded">
      </ng-container>
    </a>
  </ng-container>
</div>

<div *ngIf="loading" class="loader-overlay">
  <div class="loader"></div>
</div>
