<div class="container-fluid" [@cardAnimation]>

  <div class="container-fluid">

    <div class="title">
      <h1>Пошук орендаря</h1>
    </div>

    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/housing-search'">Пошук оселі</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/tenants-search'">Пошук орендаря</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/user-interaction'">Домовленість</a>
    </nav>

    <app-search-term></app-search-term>


  </div>

  <div class="container-owner col-6">
    <div class="card-owner" style="width: 20rem;">

      <div class="img-fluid">
        <img src="../../assets/photo1.png" class="card-img-top" alt="...">
      </div>

      <div class="card-description">

        <div class="card-title">
          <h4>Інформація про орендодавця</h4>
        </div>

        <div class="card-text">
          <p>Кононов Денис Анатолійович</p>
        </div>

        <div class="tel">
          <a href="tel:+380677727447">tel: +380677727447</a>
        </div>

        <div class="card-social-link">
          <a href="https://www.facebook.com/denis.kononov.35"><i class="fab fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/kononov.den1s/"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="https://t.me/DenisKononov"><i class="fab fa-brands fa-telegram"></i></a>
        </div>

      </div>

      <div class="card-link">
        <a href="#" class="link"><span>Документи</span><i class="fa-solid fa-passport"></i></a>
        <a href="#" class="link"><span>Угода</span><i class="fa-solid fa-file-contract"></i></a>
      </div>

    </div>

    <div class="card-housing" style="width: 20rem;">

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/badroom.jpg" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/kitchen.jpg" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/bathroom-vanity-light.jpg" class="img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="card-description">

        <div class="card-title">
          <h4>Інформація про оселю</h4>
        </div>

        <div class="card-text">
          <p>Київ, вул Чорнобильська №19. кв №24</p>
        </div>

      </div>

      <div class="card-link">
        <a class="link" [routerLinkActive]="'active'" [routerLink]="'/home-account'"><span>Аккаунт оселі</span><i
            class="fa-sharp fa-solid fa-house-laptop"></i></a>
        <a class="link" [routerLinkActive]="'active'" [routerLink]="'/services'"><span>Послуги</span><i
            class="fa-solid fa-house-signal"></i></a>
        <a class="link" [routerLinkActive]="'active'" [routerLink]="'/services'"><span>Обговорення</span><i
            class="fa-sharp fa-solid fa-message"></i></a>
        <a class="link" [routerLinkActive]="'active'" [routerLink]="'/information-housing'"><span>Опис
            оселі</span><i class="fa-sharp fa-solid fa-house-laptop"></i></a>
      </div>

    </div>

  </div>

  <div class="container-tenants" [@cardAnimation]>

    <button class="prev" (click)="onPrevCard()">
      <div class="prev-arrow-top"></div>
      <div class="prev-arrow-bottom"></div>
    </button>

    <div class="card" *ngIf="currentCard">

      <div class="card-tenants" style="width: 20rem;">

        <div class="img-fluid card-img-top">
          <img [src]="currentCard.image">
        </div>

        <div class="card-description">
          <h4 class="card-title">{{ currentCard.description }}</h4>
          <p class="card-text">{{ currentCard.firstName }} {{ currentCard.lastName }}</p>
          <p>{{ currentCard.tell }}</p>
          <p class="subscriber">{{ currentCard.subscriber }}</p>
        </div>

        <div class="card-rating">

          <div class="card-text">
            <h4>Рейтинг</h4>
          </div>

          <div class="rating-star">
            <span class="star" *ngFor="let star of stars" [class.filled]="star <= currentRating"
              (click)="rate(star)">&#9733;</span>
          </div>

          <div>
            <button class="button-subscribe" (click)="toggleCard()">{{ buttonText }}</button>
          </div>

        </div>

        <div class="card-social-link">
          <a href="https://www.facebook.com/denis.kononov.35"><i class="fab fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/kononov.den1s/"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="https://t.me/DenisKononov"><i class="fab fa-brands fa-telegram"></i></a>
        </div>

        <div class="card-link">
          <a [href]="currentCard.passport" class="link"><span>{{ currentCard.passportText }}</span><i
              class="fa-solid fa-passport"></i></a>
          <a [href]="currentCard.grantAccess" class="link"><span>{{ currentCard.grantAccessText }}</span><i
              class="fa-solid fa-unlock-keyhole"></i></a>
          <a [href]="currentCard.createDeal" class="link"><span>{{ currentCard.createDealText }}</span><i
              class="fa-solid fa-file-contract"></i></a>
        </div>

      </div>

    </div>

    <button class="next" (click)="onNextCard()">
      <div class="next-arrow-top"></div>
      <div class="next-arrow-bottom"></div>
    </button>

  </div>

</div>

<app-footer></app-footer>

