@use "../../style/presets/" as *;

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.navbar {
  justify-content: flex-start;
}

.container-owner {
  display: flex;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.container-card {
  display: flex;
}

.container-tenants {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: stretch;
}

.card-owner,
.card-housing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-tenants {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.501);
  z-index: 2;
}

.card-description {
  padding: 10px;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.card-rating {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: stretch;
}

.star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease-in-out;
}

.star:hover {
  color: gold;
}

.filled {
  color: gold;
}

.button-subscribe {
  font-size: 20px;
  border: none;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: $color-primary;
  border-radius: 10px;
  border: none;
  background-color: none;
  transition: 0.6s ease;

  &:hover,
  :focus {
    background-color: $color-accent;
  }
}

.next {
  z-index: 1;
  cursor: pointer;
  width: 60px;
  height: 100%;

  border: none;
  border-radius: 10px;
  background-color: $color-white;

  transform: translateX(-15%) translateY(0%) scale(0.7);
  transition: transform 0.5s;

  &:hover,
  :focus {
    background-color: $color-accent;
  }
}

.next-arrow-top,
.next-arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.next-arrow-top:after,
.next-arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.next-arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.next-arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.next-arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.next-arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.next:hover .next-arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.next:hover .next-arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.next:active {
  transform: translateX(0%) translateY(0%) scale(1);
}

.prev {
  cursor: pointer;
  width: 60px;
  height: 100%;

  border: none;
  border-radius: 10px;
  background-color: $color-white;

  transform: translateX(15%) translateY(0%) scaleX(-1) scale(0.7);
  transition: transform 0.5s;

  &:hover,
  :focus {
    background-color: $color-accent;
  }
}

.prev-arrow-top,
.prev-arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.prev-arrow-top:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.prev-arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.prev-arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.prev:hover .prev-arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.prev:hover .prev-arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.prev:active {
  transform: translateX(0%) translateY(0%) scale(0.9);
  transform: scaleX(-1);
}

.subscriber {
  background-color: $color-accent;
  border-radius: 10px;
}

.btn {
  &:active {
    background-color: $color-accent;
  }
}
