<div class="group">

  <button class="btn-more w-10" (click)="toggleSmileyPanel()">
    <i class="fa-regular fa-face-smile-beam"></i>
  </button>

  <div class="smiley-panel" *ngIf="isSmileyPanelOpen">
    <button class="btn-more w-10" (click)="toggleSmileyPanel()">
      <i class="fa-regular fa-face-smile-beam"></i>
    </button>
    <div class="smiley-button" *ngFor="let smiley of smileys" (click)="addSmiley(smiley)">{{ smiley }}</div>
  </div>

  <div class="input-box w-90">
    <div class="chat-input col-10">
      <textarea class="input-field" #textArea id="floatingTextarea" matInput
                [(ngModel)]="messageText" (keydown.enter)="sendMessage(selectedFlat)"
                placeholder="Напишіть повідомлення" (click)="preventKeyboardCollapse($event)"></textarea>
    </div>

    <button *ngIf="messageText" class="btn-send" matTooltip="Надіслати" (click)="sendMessage(selectedFlat)">
      <i class="fa-solid fa-paper-plane fa-2xl"></i>
    </button>
  </div>

</div>
