@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

  @include s1-s3 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.link-menu {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }

  @include s1-s3 {
    width: 45%;
    border: 1px solid $color-primary;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
  }
}

.link-text {
  font-size: 14px;
  font-family: $font-main;
}

.fa-solid {
  color: $color-primary;
  font-size: 25px;
}

.status {
  display: flex;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 50;
}

.count {
  font-weight: 600;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s1-s3 {
    display: flex;
    justify-content: flex-start;
  }

  @include s3-s6-max {
    display: none;
  }
}

