<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <nav class="navbar">

    <a class="link-menu hide-pc" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">
      <span class="link-text">Моя оселя</span>
      <div class="link-icon"><i class="fa-solid fa-id-card-clip"></i></div>
    </a>

    <a *ngIf="selectedFlatId" class="link-menu hide-mobile" [routerLinkActive]="'active'"
      [routerLink]="'/house/house-info'">
      <span class="link-text">Моя оселя</span>
      <div class="link-icon"><i class="fa-solid fa-id-card-clip"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_flat_chats === 1" class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/chat'">
      <span class="link-text">Повідомлення</span>
      <div class="link-icon"><i class="fa-regular fa-message"></i></div>
      <div class="status" *ngIf="unreadMessage && unreadMessage !== false">{{unreadMessage}}</div>
    </a>

    <a *ngIf="selectedFlatId && acces_subs === 1" class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/subscribers-host/subscribers-house'">
      <div class="link-text">Підписники<span class="count"
          *ngIf="counterSubs?.status && counterSubs?.status !== false && counterSubs?.status !== 0">({{counterSubs?.status}})</span>
      </div>
      <div class="link-icon"><i class="fa-solid fa-child-reaching"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_subs === 1" class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/subscribers-host/subscriptions-house'">
      <div class="link-text">Підписки<span class="count"
          *ngIf="counterSubscriptions?.status && counterSubscriptions?.status !== false && counterSubscriptions?.status !== 0">({{counterSubscriptions?.status}})</span>
      </div>
      <div class="link-icon"><i class="fa-solid fa-people-pulling"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_discuss === 1" class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/subscribers-host/subscribers-discus'">
      <div class="link-text">Дискусії<span class="count"
          *ngIf="counterAcceptSubs?.status && counterAcceptSubs?.status !== false && counterAcceptSubs?.status !== 0">({{counterAcceptSubs?.status}})</span>
      </div>
      <div class="link-icon"><i class="fa-solid fa-person-walking-luggage"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_agreement === 1" class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/agree-menu'">
      <span class="link-text">Меню угод</span>
      <div class="link-icon"><i class="fa-solid fa-handshake-angle"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_filling" class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/filling'">
      <span class="link-text">Наповнення</span>
      <div class="link-icon"><i class="fa-solid fa-cubes-stacked"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_citizen === 1" class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/resident'">
      <span class="link-text">Мешканці</span>
      <div class="link-icon"><i class="fa-solid fa-people-roof"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_comunal_indexes === 1" class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun'">
      <span class="link-text">Статистика</span>
      <div class="link-icon"><i class="fa-solid fa-chart-pie"></i></div>
    </a>

    <a *ngIf="selectedFlatId && acces_flat_features === 1" class="link-menu" [routerLinkActive]="'active'"
      [routerLink]="'/housing-parameters/host/'">
      <span class="link-text">Редагувати</span>
      <div class="link-icon"><i class="fa-solid fa-gears"></i></div>
    </a>

    <a class="link-menu hide-pc" [routerLinkActive]="'active'" [routerLink]="'/feedback'">
      <span class="link-text">Відгук</span>
      <div class="link-icon"><i class="fa-regular fa-comment-dots"></i></div>
    </a>

  </nav>
</ng-template>
