<nav class="navbar">
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">
    <span class="link-text">Моя оселя</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/chat'">
    <span class="link-text">Повідомлення</span>
    <div class="status" *ngIf="unreadMessage !== false">{{unreadMessage}}</div>
  </a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-menu'">
    <span class="link-text">Меню підписок</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/agree-menu'">
    <span class="link-text">Меню угод</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/filling'">
    <span class="link-text">Наповнення</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/residents'">
    <span class="link-text">Мешканці оселі</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-services/host-comun'">
    <span class="link-text">Комунальні оселі</span></a>
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/address'">
    <span class="link-text">Редагувати <i class="fa-solid fa-gear fa-spin"></i></span></a>
</nav>
