<div class="container-box">
  <div class="card-box-left col-lg-6 col-md-6 col-sm-12 col-12">

    <div class="switch-box">

      <div class="switch-btn-group">
        <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="t-min dark bold">Назад</div>
      </div>

      <div class="switch-btn-group">
        <button class="btn" (click)="onClickMenu(0,0,0)" [ngClass]="{ 'active': indexMenu == 0}">
          <i class="fa-solid fa-circle-info"></i>
        </button>
        <div class="t-min dark bold">Про меню</div>
      </div>

      <div class="switch-btn-group">
        <button class="btn" [disabled]="counterFound === 0" (click)="onClickMenu(1,0,1)"
          [ngClass]="{ 'active': indexMenu == 1}">
          <i class="fa-solid fa-user-group"></i>
        </button>
        <div class="t-min dark bold">Підписки</div>
        <div class="counterNum t-lar bold">{{counterFound}}</div>
      </div>

      <div class="switch-btn-group">
        <button class="btn" [disabled]="!selectedUser" (click)="onClickMenu(1,1,0)"
          [ngClass]="{ 'active': indexPage == 1}">
          <i class="fa-solid fa-user-large"></i>
        </button>
        <div class="t-min dark bold">Орендар</div>
      </div>

    </div>

    <div class="mt-4 p-2 w-100" *ngIf="indexMenu == 0">

      <div class="param-box">
        <div class="param-name"><i class="fa-solid fa-people-pulling"></i> Меню Підписки оселі
          <p class="t-min ">орендарі на яких ви підписались.</p>
        </div>
      </div>

      <ul class="dark mt-2"><span class="bold">Тут доступні такі можливості:</span>
        <li>Перегляд детальної інформації, яку оселю шукає орендар.</li>
        <li>Видалення підписки на орендара.</li>
      </ul>

      <div class="param-box">
        <div class="param-name">
          <p class="t-med ">Підписуватись на орендарів можна в пошуку орендарів.</p>
          <a class="param-name-text link-toMenu" [routerLink]="'/search/tenants'"><i
              class="fa-solid fa-arrow-right"></i><span class="ml-2 accent">пошук орендара</span></a>
          <p class="t-med ">Після ухвалення вашої оселі орендарем, він з'явиться в меню Дискусії оселі.</p>
          <a class="param-name-text link-toMenu" [routerLink]="'/subscribers-host/subscribers-discus'"><i
              class="fa-solid fa-arrow-right"></i><span class="ml-2 accent">Дискусії оселі тут</span></a>
        </div>
      </div>

    </div>

    <div class="mt-4 w-100 hide-mobile" *ngIf="indexMenu == 1">
      <div class="paginator-container">
        <button class="paginator-btn" (click)="decrementOffset()">
          <i class="fa-solid fa-chevron-left"></i></button>
        <div class="paginator-box">
          <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
          <div class="t-min">Всього {{counterFound}}</div>
        </div>
        <button class="paginator-btn" (click)="incrementOffset()">
          <i class="fa-solid fa-chevron-right"></i></button>
      </div>

      <div class="cards-container p-2" *ngIf="counterFound !== 0">
        <div class="card-mini mb-3" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
          [ngClass]="{ 'selected': subscriber.user_id == selectedUser?.user_id }">
          <div class="card-mini-img-container">
            <img class="card-mini-img"
              [src]="serverPathPhotoUser + (subscriber.img ? subscriber.img : 'user_default.svg')" alt="img">
          </div>
          <div class="card-body">
            <div class="p-1">
              <div class="t-lar bold accent">ID: {{ subscriber.user_id }}</div>
              <div class="t-lar">{{ subscriber.lastName }}</div>
              <div class="t-lar">{{ subscriber.firstName }}</div>
              <div class="t-lar">{{ subscriber.surName }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="card-box col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="counterFound !== 0 && indexMenu == 1">

    <!-- всі картки для мобільного -->
    <div [@cardAnimation2] class="card-animation hide-pc" *ngIf="indexMenu == 1 && indexMenuMobile == 1">
      <div class="paginator-container">
        <button class="paginator-btn" (click)="decrementOffset()">
          <i class="fa-solid fa-chevron-left"></i></button>
        <div class="paginator-box">
          <div class="t-lar">Сторінка {{currentPage}} з {{totalPages}} </div>
          <div class="t-min">Всього {{counterFound}}</div>
        </div>
        <button class="paginator-btn" (click)="incrementOffset()">
          <i class="fa-solid fa-chevron-right"></i></button>
      </div>

      <div class="cards-container p-2" *ngIf="counterFound !== 0">
        <div class="card-mini mb-3" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
          [ngClass]="{ 'selected': subscriber.user_id == selectedUser?.user_id }">
          <div class="card-mini-img-container">
            <img class="card-mini-img"
              [src]="serverPathPhotoUser + (subscriber.img ? subscriber.img : 'user_default.svg')" alt="img">
          </div>
          <div class="card-body">
            <div class="p-1">
              <div class="t-lar bold accent">ID: {{ subscriber.user_id }}</div>
              <div class="t-lar">{{ subscriber.lastName }}</div>
              <div class="t-lar">{{ subscriber.firstName }}</div>
              <div class="t-lar">{{ subscriber.surName }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- основна інформація користувача -->
    <div [@cardAnimation2] class="card-animation" *ngIf="indexPage == 1 && !card_info && selectedUser">
      <div class="card">

        <div class="copyMessage-box" *ngIf="isCopiedMessage">
          <div class="copyMessage-text">{{isCopiedMessage}}</div>
          <i class="fa-regular fa-copy"></i>
          <div class="t-lar dark bold">Discussio</div>
        </div>

        <div class="img-fluid">
          <img [src]="serverPathPhotoUser + (selectedUser?.img ? selectedUser?.img : 'user_default.svg')"
            alt="User Image">

          <div class="btn-container">
            <button class="btn-panel" *ngIf="ratingTenant" (click)="indexPage = 3">
              <div class="flex-box">
                <div class="t-lar bold">{{ratingTenant}}</div>
                <div class="t-min">({{numberOfReviews}})</div>
              </div>
              <div class="t-min">Рейтинг</div>
            </button>

            <button class="btn-panel" (click)="card_info = true">
              <i class="fa-solid fa-info"></i>
              <div class="t-min">Деталі</div>
            </button>

            <button class="btn-panel" (click)="openDialog(selectedUser)">
              <i class="fa-solid fa-user-xmark"></i>
              <div class="t-min">Видал.</div>
            </button>

            <button class="btn-panel" (click)="reportUser(selectedUser)"><i class="fa-solid fa-masks-theater"></i>
              <div class="t-min">Скарга</div>
            </button>
          </div>


        </div>

        <div class="param-box">
          <div class="param-label">Бюджет в грн:</div>
          <div class="param-group p-1">
            <div class="param-field" *ngIf="selectedUser.price_of">Від :
              <span class="param-value">{{ selectedUser.price_of }} ₴</span>
            </div>
            <div class="param-field" *ngIf="selectedUser.price_to">До:
              <span class="param-value">{{ selectedUser.price_to }} ₴</span>
            </div>
          </div>
        </div>

        <div class="param-box"
          *ngIf="selectedUser?.years || selectedUser?.mounths || selectedUser?.weeks || selectedUser?.days">
          <div class="param-label">Орієнтовний термін оренди:</div>
          <div class="param-group p-1">

            <div class="param-field" *ngIf="selectedUser?.years && selectedUser?.years !== null">Роки:<span
                class="param-value">{{ selectedUser.years }}</span></div>

            <div class="param-field" *ngIf="selectedUser?.mounths && selectedUser?.mounths !== null">Місяці:
              <span class="param-value">{{ selectedUser.mounths }}</span>
            </div>

            <div class="param-field" *ngIf="selectedUser?.weeks && selectedUser?.weeks !== null">Тижні:<span
                class="param-value">{{ selectedUser.weeks }}</span></div>

            <div class="param-field" *ngIf="selectedUser?.days && selectedUser?.days !== null">Дні:<span
                class="param-value">{{
                selectedUser.days }}</span></div>
          </div>
        </div>

        <div class="item-wrapper p-3">
          <div class="item-name">{{ selectedUser.lastName }}</div>
          <div class="item-name">{{ selectedUser.firstName }}</div>
          <div class="item-name">{{ selectedUser.surName }}</div>
          <div class="item-info">User ID: <span class="accent">{{ selectedUser.user_id }}</span></div>
        </div>
      </div>
    </div>

    <!-- додаткова інформація користувача -->
    <div [@cardAnimation2] class="card-animation" *ngIf="indexPage == 1 && card_info && selectedUser">
      <div class="card">

        <div class="btn-close-container">
          <div class="btn-close-box">
            <button class="btn-close" (click)="card_info = false"></button>
          </div>
        </div>

        <div class="status-container">
          <div class="status-box">
            <div class="status-value" *ngIf="selectedUser.agree_search === 1">Активне</div>
            <div class="status-value" *ngIf="selectedUser.house === 1">Б</div>
            <div class="status-value" *ngIf="selectedUser.flat === 1">Кв</div>
            <div class="status-value" *ngIf="selectedUser.room === 1">К</div>
            <div class="status-value" *ngIf="selectedUser.woman === 1">W</div>
            <div class="status-value" *ngIf="selectedUser.man === 1">M</div>
            <div class="status-value" *ngIf="selectedUser.students === 1">S</div>
            <div class="status-value" *ngIf="selectedUser.family === 1">F</div>
          </div>
          <div class="status-hover">
            <div class="status-hover-label">Допомога</div>
            <div class="status-hover-text">
              <ul
                *ngIf="selectedUser.woman === 1 || selectedUser.man === 1 || selectedUser.students === 1 || selectedUser.family === 1">
                Пошук оселі для:
                <li *ngIf="selectedUser.woman === 1" class="status-hover-li">
                  <div class="status-value">W</div> - жінки
                </li>
                <li *ngIf="selectedUser.man === 1" class="status-hover-li">
                  <div class="status-value">M</div> - чоловіка
                </li>
                <li *ngIf="selectedUser.students === 1" class="status-hover-li">
                  <div class="status-value">S</div> - студента
                </li>
                <li *ngIf="selectedUser.family === 1" class="status-hover-li">
                  <div class="status-value">F</div> - сім'ї
                </li>
              </ul>

              <ul *ngIf="selectedUser.house === 1 || selectedUser.flat === 1 || selectedUser.room === 1">
                Пошук по типу оселі:
                <li *ngIf="selectedUser.house === 1" class="status-hover-li">
                  <div class="status-value">Б</div> - Будинок
                </li>
                <li *ngIf="selectedUser.flat === 1" class="status-hover-li">
                  <div class="status-value">Кв</div> - Квартира
                </li>
                <li *ngIf="selectedUser.room === 1" class="status-hover-li">
                  <div class="status-value">К</div> - Підійде кімната
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="param-box" *ngIf="selectedUser.price_of || selectedUser.price_to">

          <div class="param-name">Пошукові параметри
            <p class="t-min">за якими орендар шукає оселю</p>
            <a class="param-name-text" [routerLink]="'/search/tenants'"><i class="fa-solid fa-arrow-right"></i><span
                class="ml-2">перейти до пошуку орендарів</span></a>
          </div>

          <div class="param-label">Бюджет в грн:</div>
          <div class="param-group p-1">
            <div class="param-field" *ngIf="selectedUser.price_of">Від :
              <span class="param-value">{{ selectedUser.price_of }} ₴</span>
            </div>
            <div class="param-field" *ngIf="selectedUser.price_to">До:
              <span class="param-value">{{ selectedUser.price_to }} ₴</span>
            </div>
          </div>
        </div>

        <div class="param-box" *ngIf="selectedUser.region || selectedUser.city">
          <div class="param-label">Локація, шукаю оселю в :</div>
          <div class="param-group p-1">
            <div class="param-field" *ngIf="selectedUser.region">Область :
              <span class="param-value">{{ selectedUser.region }}</span>
            </div>
            <div class="param-field" *ngIf="selectedUser.city">Місто :
              <span class="param-value">{{ selectedUser.city }}</span>
            </div>
          </div>
        </div>

        <div class="param-box">
          <div class="param-label">Параметри оселі:</div>

          <div class="param-group p-1">

            <div class="param-field">
              <div *ngIf="selectedUser?.area_of || selectedUser.area_to"> Площа:
                <span class="param-value" *ngIf="selectedUser.area_of">від {{ selectedUser.area_of || '?' }}м²</span>
                <span class="param-value" *ngIf="selectedUser.area_to">до {{ selectedUser.area_to || '?' }}м²</span>
              </div>
              <div *ngIf="selectedUser?.area_of === '' && selectedUser.area_to === ''">Площа: <span class="param-value">
                  Неважливо </span></div>
            </div>

            <div class="param-field" *ngIf="selectedUser.rooms_of || selectedUser.rooms_to">
              <div *ngIf="selectedUser.rooms_of !== 0 || selectedUser.rooms_to !== 6 "> Кіл. кімнат:
                <span class="param-value" *ngIf="selectedUser.rooms_of !== 0 && selectedUser.rooms_of !== null">від {{
                  selectedUser.rooms_of}}</span>
                <span class="param-value" *ngIf="selectedUser.rooms_to !== 6">до {{ selectedUser.rooms_to}}</span>
              </div>
              <div *ngIf="selectedUser.rooms_of === 0 && selectedUser.rooms_to === 6"> Кіл. кімнат: неважливо </div>
            </div>

            <div class="param-field" *ngIf="selectedUser?.repair_status">Стан оселі:
              <span class="param-value">{{ selectedUser.repair_status }}</span>
            </div>

            <div class="param-field" *ngIf="selectedUser.balcony">
              Тип балкону:<span class="param-value">{{ selectedUser.balcony }}</span> </div>
          </div>
        </div>

        <div class="param-box"
          *ngIf="selectedUser.distance_metro || selectedUser.distance_stop || selectedUser.distance_shop || selectedUser.distance_green || selectedUser.distance_parking">
          <div class="param-label">Інфраструктура в доступі:</div>

          <div class="param-group p-1">
            <div class="param-field"
              *ngIf="selectedUser?.distance_metro !== 0 && selectedUser?.distance_metro !== null">
              Метро до:<span class="param-value">{{ aboutDistance[selectedUser.distance_metro] }}</span> </div>
            <div class="param-field" *ngIf="selectedUser?.distance_stop !== 0 && selectedUser?.distance_stop !== null">
              Зупинка до:<span class="param-value">{{ aboutDistance[selectedUser.distance_stop] }}</span> </div>
            <div class="param-field" *ngIf="selectedUser?.distance_shop !== 0 && selectedUser?.distance_shop !== null">
              Маркет до:<span class="param-value">{{ aboutDistance[selectedUser.distance_shop] }}</span> </div>
            <div class="param-field"
              *ngIf="selectedUser?.distance_green !== 0 && selectedUser?.distance_green !== null">
              Парк до:<span class="param-value">{{ aboutDistance[selectedUser.distance_green] }}</span> </div>
            <div class="param-field"
              *ngIf="selectedUser?.distance_parking !== 0 && selectedUser?.distance_parking !== null">
              Паркінг:<span class="param-value">{{ aboutDistance[selectedUser.distance_parking] }}</span> </div>
          </div>
        </div>

        <div class="param-box" *ngIf="selectedUser.bunker || selectedUser.animals || selectedUser.purpose_rent">
          <div class="param-label">Особливості:</div>
          <div class="param-group p-1">

            <div class="param-field" *ngIf="selectedUser.purpose_rent">
              Мета оренди:<span class="param-value">{{ purpose[selectedUser.purpose_rent] }}</span> </div>

            <div class="param-field" *ngIf="selectedUser.bunker">
              Наявність укриття:<span class="param-value">{{ selectedUser.bunker }}</span> </div>

            <div class="param-field" *ngIf="selectedUser.animals">
              <div *ngIf="selectedUser.animals !== 'Неважливо'">
                Домашні улюбленці: <span class="param-value">{{ animals[selectedUser.animals] }} </span> </div>
              <div *ngIf="selectedUser.animals === 'Неважливо'">Домашні улюбленці: <span class="param-value">
                  Наявність чи відсутність тварин не вказано.</span></div>
            </div>

          </div>
        </div>

        <div class="param-box" *ngIf="selectedUser.flat || selectedUser.house || selectedUser.room">
          <div class="param-label">Розглядаю тип оселі:</div>
          <div class="param-group p-1">
            <div class="param-field" *ngIf="selectedUser?.flat && selectedUser?.flat !== null"><span
                class="param-value">Квартира</span> </div>
            <div class="param-field" *ngIf="selectedUser?.house && selectedUser?.house !== null"><span
                class="param-value">Будинок</span> </div>
            <div class="param-field" *ngIf="selectedUser?.room && selectedUser?.room !== null"><span
                class="param-value">Кімната</span> </div>
          </div>
        </div>

        <div class="param-box" *ngIf="selectedUser.room !== 0">
          <div class="param-label">Розглядаю сусіда по оселі:</div>
          <div class="param-group p-1">
            <div class="param-field" *ngIf="selectedUser.looking_man">
              <span class="param-value">Чоловік</span>
            </div>
            <div class="param-field" *ngIf="selectedUser.looking_woman"><span class="param-value">Жінка</span> </div>
            <div class="param-field" *ngIf="!selectedUser.looking_woman && !selectedUser.looking_man"><span
                class="param-value">Неважливо який сусід по оселі</span> </div>
          </div>
        </div>

        <div class="param-box"
          *ngIf="selectedUser?.years || selectedUser?.mounths || selectedUser?.weeks || selectedUser?.days">
          <div class="param-label">Орієнтовний термін оренди:</div>
          <div class="param-group p-1">

            <div class="param-field" *ngIf="selectedUser?.years && selectedUser?.years !== null">Роки:<span
                class="param-value">{{ selectedUser.years }}</span></div>

            <div class="param-field" *ngIf="selectedUser?.mounths && selectedUser?.mounths !== null">Місяці:
              <span class="param-value">{{ selectedUser.mounths }}</span>
            </div>

            <div class="param-field" *ngIf="selectedUser?.weeks && selectedUser?.weeks !== null">Тижні:<span
                class="param-value">{{ selectedUser.weeks }}</span></div>

            <div class="param-field" *ngIf="selectedUser?.days && selectedUser?.days !== null">Дні:<span
                class="param-value">{{
                selectedUser.days }}</span></div>
          </div>
        </div>

        <div class="p-2" *ngIf="selectedUser.about">
          <div class="t-lar dark bold">Додаткова інформація:</div>
          <div class="t-min ">{{selectedUser.about}}</div>
        </div>

      </div>
    </div>

    <!-- Відгук -->
    <div [@cardAnimation2] class="card-animation" *ngIf="indexPage == 3 && selectedUser">
      <div class="card card-selected p-2">

        <div class="t-lar-xx">Відгуки власників</div>

        <div class="btn-container-close">
          <div class="flex-box-column p-1">
            <button class="btn-close" (click)="indexPage = 1"></button>
            <div class="t-min">Назад</div>
          </div>
        </div>

        <div *ngIf="reviews">
          <div class="card-reviews p-2 m-2" *ngFor="let review of reviews">
            <div class="flex-box">

              <div class="img-review-wrapper">
                <img class="img-review-fluid"
                  [src]="review.reporter.img && review.reporter.img ? serverPathPhotoUser + review.reporter.img : serverPathPhotoFlat + 'user_default.svg'"
                  alt="img">
              </div>

              <div class="flex-box">
                <div class="t-min">{{review.reporter.firstName}} {{review.reporter.lastName}}
                  {{review.reporter.surName}}</div>
              </div>

              <div class="flex-box">
                <div class="t-min">ID відправника:{{review.info.appraiser}}</div>
              </div>
            </div>
            <div class="flex-column">
              <div class="t-min">Дата відгуку: <span class="accent"> {{review.info.data |date}}</span> Оцінка: <span
                  class="accent"> {{review.info.mark}}</span></div>
              <div class="t-min">{{review.info.about}}</div>
            </div>
          </div>
        </div>

        <div *ngIf="!reviews">
          <div class="t-lar-xx">Відгуків ще немає</div>
        </div>


      </div>
    </div>

  </div>
</div>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
