<div class="container-card">

  <div class="card-box col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card-container">
      <div class="scrollable-container p-3">
        <div class="card-mini mb-4" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
          [ngClass]="{ 'selectedUser': subscriber.user_id == selectedUser?.user_id }">
          <div class="card-img-container">
            <img class="card-img"
              [src]="'http://localhost:3000/img/users/' + (subscriber.img ? subscriber.img : 'user_default.svg')"
              alt="User Image">
          </div>
          <div class="card-body">
            <div class="title-group p-1">
              <div class="title">{{ subscriber.lastName }}</div>
              <div class="title">{{ subscriber.firstName }}</div>
              <div class="title">{{ subscriber.surName }}</div>
            </div>
            <button class="btn-1 m-1" (click)="openDialog(subscriber.user_id)"><i
                class="fa-solid fa-user-xmark"></i></button>
          </div>
        </div>
      </div>

      <mat-paginator class="mb-2" [pageIndex]="pageEvent?.pageIndex" [length]="subscribers.length"
        [pageSize]="pageEvent?.pageSize" [pageSizeOptions]="[6, 12, 24, 100]" (page)="onPageChange($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2 ">

    <div class="switch-box" *ngIf="selectedUser">
      <div class="switch-box-name mr-2">{{ isFeatureEnabled ? 'Параметри пошуку' : 'Профіль' }}</div>
      <button class="toggle-button" (click)="toggleMode()" matTooltip="Змінити">
        <div class="toggle-switch" [class.enabled]="isFeatureEnabled"></div>
      </button>
    </div>

    <div class="card col-12" *ngIf="selectedUser && !isFeatureEnabled">
      <div class="img-wrapper">
        <img class="img-fluid rounded"
          [src]="'http://localhost:3000/img/users/' + (selectedUser?.img || 'user_default.svg')" alt="User Image">
      </div>

      <div class="p-2">
        <div class="title-group-card">
          <div class="title-selected">Прізвище : </div>
          <div class="title-selected-accent">{{ selectedUser?.lastName || '?' }}</div>
        </div>

        <div class="title-group-card">
          <div class="title-selected">Ім'я : </div>
          <div class="title-selected-accent">{{ selectedUser?.firstName || '?' }}</div>
        </div>

        <div class="title-group-card">
          <div class="title-selected">Кіл. кімнат:</div>
          <div class="title-selected-accent">
            <span class="title-selected-accent" *ngIf="selectedUser?.rooms_of !== 0 && selectedUser?.rooms_of !== null">
              від {{ selectedUser?.rooms_of}}
            </span>
            <span class="title-selected-accent" *ngIf="selectedUser?.rooms_to !== 0 && selectedUser?.rooms_to !== null">
              до {{ selectedUser?.rooms_to}}
            </span>
          </div>
        </div>

        <div class="title-group-card">
          <div class="title-selected">Оплата : </div>
          <div class="title-selected-accent">{{option_pay[selectedUser?.option_pay] || '?' }}</div>
        </div>

        <div class="title-group-card">
          <div class="title-selected">Бюджет : </div>
          <div class="title-selected-accent">{{ selectedUser?.price_of | number }}₴ - {{ selectedUser?.price_to |
            number }}₴</div>
        </div>

        <div class="title-group-card" *ngIf="selectedUser?.purpose_rent !== null">
          <div class="title-selected">Мета оренди : </div>
          <div class="title-selected-accent">{{ purpose[selectedUser?.purpose_rent] }}</div>
        </div>

      </div>

    </div>

    <div class="card col-12" *ngIf="selectedUser && isFeatureEnabled">
      <div class="card p-2">

        <div class="characteristics">
          <div class="characteristics-label">Шукаю оселю в :</div>

          <div class="characteristics-group">

            <div class="item-characteristics" *ngIf="selectedUser?.region !== null">Область :<span class="item">{{
                selectedUser?.region || '?' }}</span> </div>

            <div class="item-characteristics" *ngIf="selectedUser?.city !== null">Місто :<span class="item">{{
                selectedUser?.city || '?' }}</span> </div>

          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Параметри оселі:</div>

          <div class="characteristics-group">

            <div class="item-characteristics">
              Площа оселі:
              <span class="item" *ngIf="selectedUser?.area_of !== 'Приховати' && selectedUser?.area_of !== null">
                від {{ selectedUser?.area_of || '?' }}м²
              </span>
              <span class="item" *ngIf="selectedUser?.area_to !== 'Приховати' && selectedUser?.area_to !== null">
                до {{ selectedUser?.area_to || '?' }}м²
              </span>
            </div>

            <div class="item-characteristics"
              *ngIf="selectedUser?.repair_status !== 'Приховати' && selectedUser?.repair_status !== null">Стан
              оселі:<span class="item">{{ selectedUser?.repair_status }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedUser?.balcony !== 'Приховати' && selectedUser?.balcony !== null">Тип
              балкону:<span class="item">{{ selectedUser?.balcony }}</span> </div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Інфраструктура:</div>

          <div class="characteristics-group">
            <div class="item-characteristics"
              *ngIf="selectedUser?.distance_metro !== 0 && selectedUser?.distance_metro !== null">Метро
              до:<span class="item">{{ aboutDistance[selectedUser?.distance_metro] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedUser?.distance_stop !== 0 && selectedUser?.distance_stop !== null">Зупинка
              до:<span class="item">{{ aboutDistance[selectedUser?.distance_stop] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedUser?.distance_shop !== 0 && selectedUser?.distance_shop !== null">Маркет
              до:<span class="item">{{ aboutDistance[selectedUser?.distance_shop] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedUser?.distance_green !== 0 && selectedUser?.distance_green !== null">Парк
              до:<span class="item">{{ aboutDistance[selectedUser?.distance_green] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedUser?.distance_parking !== 0 && selectedUser?.distance_parking !== null">
              Паркінг:<span class="item">{{ aboutDistance[selectedUser?.distance_parking] }}</span> </div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Особливості:</div>
          <div class="characteristics-group">

            <div class="item-characteristics"
              *ngIf="selectedUser?.bunker !== 'Приховати' && selectedUser?.bunker !== null">Наявність
              укриття:<span class="item">{{ selectedUser?.bunker }}</span> </div>
            <div class="item-characteristics" *ngIf="selectedUser?.animals !== '' && selectedUser?.animals !== null">
              Домашні улюбленці: <span class="item">{{ animals[selectedUser?.animals] }} </span> </div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Розглядаю тип оселі:</div>
          <div class="characteristics-group">
            <div class="item-characteristics" *ngIf="selectedUser?.flat && selectedUser?.flat !== null"><span
                class="item">Квартира</span> </div>
            <div class="item-characteristics" *ngIf="selectedUser?.house && selectedUser?.house !== null"><span
                class="item">Будинок</span> </div>
            <div class="item-characteristics" *ngIf="selectedUser?.room && selectedUser?.room !== null"><span
                class="item">Кімната</span> </div>
          </div>
        </div>

        <div class="characteristics" *ngIf="selectedUser?.room && selectedUser?.room !== null">
          <div class="characteristics-label">Розглядаю сусіда по оселі:</div>
          <div class="characteristics-group">
            <div class="item-characteristics" *ngIf="selectedUser?.looking_man && selectedUser?.looking_man !== null">
              <span class="item">Чоловік</span>
            </div>
            <div class="item-characteristics"
              *ngIf="selectedUser?.looking_woman && selectedUser?.looking_woman !== null"><span
                class="item">Жінка</span> </div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Орієнтовний термін оренди:</div>
          <div class="characteristics-group">

            <div class="item-characteristics" *ngIf="selectedUser?.years && selectedUser?.years !== null"><span
                class="item">{{ selectedUser?.years }}</span>Роки</div>

            <div class="item-characteristics" *ngIf="selectedUser?.mounths && selectedUser?.mounths !== null">
              <span class="item">{{ selectedUser?.mounths }}</span>Місяці
            </div>

            <div class="item-characteristics" *ngIf="selectedUser?.weeks && selectedUser?.weeks !== null"><span
                class="item">{{ selectedUser?.weeks }}</span>Тижні</div>

            <div class="item-characteristics" *ngIf="selectedUser?.days && selectedUser?.days !== null"><span
                class="item">{{ selectedUser?.days }}</span>Дні</div>

          </div>
        </div>

      </div>
    </div>

    <div class="card-info p-2 col-12" *ngIf="!selectedUser">
      <p class="mb-4"><strong>Підписки на орендарів </strong> - тут Ви зможете бачити користувачів на яких Ви
        підписались.</p>
      <p><strong>Детальна інформацію</strong> про людину на яку Ви
        підписались буде доступна коли вона вас ухвалить до Дискусії, там Ви вже зможете почати спілкування та
        познайомитись, переглянути соціальні мережі, та перейти до обговорення оренди.</p>
    </div>

  </div>

</div>
