@use "../../../style/presets/" as *;

.container-card {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
}

.switch-box {
  top: -30px;
  right: 10px;
}

.card-box {
  display: flex;
  align-items: stretch;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-container {
  display: flex;
  width: 100%;
  min-height: 60vh;
  max-height: 70vh;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.card-mini {
  cursor: pointer;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img-container {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover,
  :focus {
    width: 60%;
  }
}
.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  border-radius: 10px;
}
.card-social-link {
  font-size: 20px;
  display: flex;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fab {
  font-size: 20px;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: $color-text;
}
.card-title {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

mat-paginator {
  background-color: transparent;
}

.card {
  display: flex;
  justify-content: flex-start;
  min-height: 65vh;
}
.img-wrapper {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.title-group-card {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
}

.title-selected {
  font-size: 18px;
  color: $color-text;
}
.title-selected-accent {
  font-size: 18px;
  color: $color-accent;
  font-weight: 600;
}

.selectedUser {
  background-color: $color-dark;
}

.selectedUser .title {
  color: $color-white;
  font-weight: 600;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.characteristics-label {
  font-size: 16px;
}

.characteristics-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-characteristics {
  font-size: 12px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-primary;
}
.item {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
