@use "../../../style/presets/" as *;

.container-card {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
}

.switch-box {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
  justify-content: flex-start;
}

.btn-1:disabled {
  background-color: rgba(128, 128, 128, 0.132);
}

.btn-1 {
  display: flex;
  height: 40px;
  width: 120px;
  margin: 5px;
  padding: 10px;
  color: rgba(18, 17, 17, 0.8078431373);
  background-color: white;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $color-white;
    background-color: $color-accent;
  }
}

.card-box {
  display: flex;
  align-items: stretch;
  position: relative;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-container {
  display: flex;
  width: 100%;
  min-height: 60vh;
  max-height: 70vh;
  overflow-y: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}
.card-mini {
  cursor: pointer;
  width: 90%;
  height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $color-white;
  border-radius: 10px;
  transition: 1s;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-mini.selectedUser {
  background-color: $color-dark;
  width: 95%;
}

.card-img-container {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover,
  :focus {
    width: 65%;
  }
}

.card-animation {
  width: 95%;
  position: absolute;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  border-radius: 10px;
}
.card-social-link {
  font-size: 20px;
  display: flex;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fab {
  font-size: 20px;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-text;
}
.card-title {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

mat-paginator {
  background-color: transparent;
}

.card {
  display: flex;
  justify-content: flex-start;
  min-height: 65vh;
}

.img-container {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.img-wrapper {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.social-link-box {
  height: 50%;
  z-index: 10;
}

.user-group {
  min-width: 40%;
  display: flex;
  height: 100%;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  align-items: flex-end;
}

.user-group-name {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.user-sup-name {
  font-size: 12px;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.title-group-card {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
  justify-content: space-between;
  box-shadow:
  5px 2px 2px rgba(0, 0, 0, 0.25),
  2px 1px 2px rgba(0, 0, 0, 0.22);

}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-selected {
  font-size: 18px;
  color: $color-text;
}
.title-selected-accent {
  font-size: 18px;
  color: $color-accent;
  font-weight: 600;
}

.selectedUser .title {
  color: $color-white;
  font-weight: 600;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.characteristics-label {
  text-align: center;
  font-size: 16px;
}

.characteristics-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-characteristics {
  font-size: 12px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-primary;
}
.item {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title-1 {
  font-size: 28px;
}

.img-dog {
  height: 250px;
  overflow: hidden;
}

.card-box-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-sticker {
  position: absolute;
  z-index: 9999;
  top: -26px;
  right: 10px;

  width: 100%;
  height: 20px;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.status {
  margin: 0 3px;
  padding: 5px 10px;

  color: white;
  border-radius: 4px;
  background-color: $color-accent;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);

  font-size: 12px;
  font-weight: bold;
}

.btn-container {
  position: relative;
  margin: 0 5px;
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 10;
}

.btn-container:hover .info-menu {
  display: block;
}

.info-menu {
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: $color-dark;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.info-menu-text {
  color: $color-white;
}

.info-menu p {
  margin: 4px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-btn {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
  justify-content: space-between;
  font-size: 18px;
  color: $color-text;
  box-shadow:
  5px 2px 2px rgba(0, 0, 0, 0.25),
  2px 1px 2px rgba(0, 0, 0, 0.22);


  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.chat-box {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.card-chat {
  width: 100%;
  max-height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
}

.card-chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card::-webkit-scrollbar-thumb {
  background-color: transparent;
}
