@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.btn-call {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 0;
}

.btn-copy {
  @include flex-box;
  // border: 1px solid $color-gray;
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
  margin-left: 10px;
}

.btn-open {
  @include flex-box-center;
  @include box-shadow;
  flex-direction: column;
  background-color: $color-white;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
  &:hover {
    @include hover;
  }
  .fa-solid {
    font-size: 30px;
  }
  &.active {
    color: $color-accent;
    .fa-solid {
      color: $color-accent;
    }
  }
}

.flex-box {
  @include flex-box;
  flex-wrap: wrap;
}

.param-g {
  @include flex-box;
  // border: 1px solid $color-gray;
  background-color: transparent;
  border-radius: 10px;
  height: 60px;
  min-width: 50px;
  overflow: hidden;
  padding: 3px;

  .fa-solid,
  .fa-regular {
    font-size: 16px;
    color: $color-dark;
    padding-right: 5px;
  }

  .bg-g {
    @include flex-box;
    height: 70%;
    width: 100%;
    padding: 5px;
  }

  .bg-w {
    @include flex-box;
    border-top: 1px solid rgba(128, 128, 128, 0.331);
    height: 30%;
    width: 100%;
  }
}

// загальні обрані параметри користувача
.param-box {
  .param-name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: $color-text;

    .fa-solid {
      font-size: 30px;
    }
    button {
      border: none;
    }
    .param-name-text {
      @include flex-box;
      font-size: 12px;
      .fa-solid {
        font-size: 16px;
      }
      &:hover {
        color: $color-accent;
      }
    }
  }

  .param-label {
    font-weight: 600;
    font-size: 12px;
    margin: 2px;
    color: $color-accent;
  }

  .param-group {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .param-field {
      @include flex-box-center;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 12px;
      margin: 2px;
      border-radius: 10px;
      padding: 5px;
      background-color: $color-primary;

      .fa-solid,
      .fa-regular {
        font-size: 16px;
        padding: 0px 5px;
      }
    }

    .param-value {
      font-weight: 400;
      font-size: 16px;
      padding: 0px 5px;
      color: $color-text;
    }
  }
}

.item-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
  .fa-solid {
    font-size: 14px;
    padding-left: 5px;
  }
}

.main-param {
  display: flex;
  position: relative;
  @include box-shadow;
  // margin: 10px;
  // border: 15px solid $color-light;
  background-color: $color-white;

  margin: 5px;
  border-radius: 20px;
  overflow: hidden;
  .left {
    @include flex-box-center;
    @include box-shadow;
    border-radius: 0px;
    flex-direction: column;
    width: 25%;
    background-color: $color-light-gray;
    padding: 5px;
    color: $color-gray;
  }
  .right {
    width: 75%;
    padding: 10px;
    text-align: start;
  }
}

.detail {
  @include flex-box-center;
  // align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  padding: 10px;

  // overflow: auto;
  background-color: $color-light;
}

.detail-wrapper {
  @include box-shadow;
  max-width: 500px;
  @include s3-s6-max {
    min-width: 400px;
  }
  @include s1-s3 {
    width: 95%;
  }
  background-color: $color-dark;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  overflow: auto;
  height: 95%;
  .btn-close {
    position: sticky;
    top: 0;
    border-radius: 50%;
  }
}
