<div class="news-content mt-2">

  <!-- <div class="logo-wrapper">
    <img class="logo" src="../../../assets/logo/logo.svg" alt="">
  </div> -->
  <div class="t-c mb-3">
    <h1>Інформація про оновлення Discussio <i class="fa-regular fa-newspaper p-2"></i></h1>
    <p class="t-med t-c gray">Тут буде наша загальна мальнька історія про наш розвиток! Де ми разом з вами спробуємо
      побудувати те чого нам всім не вистачає...
    </p>
  </div>

  <div class="news">
    <img class="img-fluid2" src="../../../assets/news/nema_svitla.png" alt="">
    <div class="jc-c flex-column t-c p-2">
      <div class="t-min">Сповіщення: 22.05.24</div>
      <p class="t-lar-xx m-2">Не вдається зайти на свою сторінку або зареєструватись? 😔</p>
      <p class="t-med m-2">Наш сервер працює від звичайної мережі та має малий запас автономності. Тому при тривалих
        вимкненнях електрики можливі тимчасові незручності у вигляді помилок входу в аккаунт. Сподіваємось на ваше
        розуміння.</p>
      <p class="t-med m-2">Якщо у вас є бажання та можливість допомогти нам з автономністю, ви можете зробити це задонативши нам на
        банку.
      </p>

      <button class="btn b-primary m-2" [routerLink]="'/home/support-us'">
        <i class="fa-solid fa-arrow-right pr-2"></i>
        Сторінка допомоги
      </button>
    </div>
  </div>

  <div class="flex-news">
    <div class="img-fluid">
      <img src="../../../assets/news1.png" alt="">
    </div>
    <div class="jc-c flex-column t-c p-2">
      <div class="t-min">Оновлення: 01.05.24</div>
      <p class="t-lar-xx m-2">Додана авторизація та реєстрація за гугл аккаунтом.</p>
      <button class="btn b-primary m-2" [routerLink]="'/auth/registration'">
        <i class="fa-solid fa-right-to-bracket pr-2"></i>
        Зареєструватись
      </button>
    </div>
  </div>

  <div class="flex-news">
    <div class="jc-c flex-column t-c p-2">
      <div class="t-min">Оновлення: 24.04.24</div>
      <p class="t-lar-xx m-2">Додана можливість переглянути як виглядає ваш профіль орендаря в пошуку та в дискусії.</p>
      <button class="btn b-primary m-2" [routerLink]="'/user/preview'">
        <i class="fa-solid fa-arrow-right pr-2"></i>
        Переглянути
      </button>
      <p class="t-lar-xx m-2">Створена інформативнка сторінка пошуку. Пошук відкритий до перегляду не зареєстровому
        користувачу.</p>
      <button class="btn b-primary m-2" [routerLink]="'/discussio-search'">
        <i class="fa-solid fa-arrow-right pr-2"></i>
        Переглянути
      </button>
    </div>
    <div class="img-fluid">
      <img src="../../../assets/news2.png" alt="">
    </div>
  </div>

  <div class="news">
    <i class="fa-solid fa-info"> </i>
    <p class="t-lar accent bold">15.04.24</p>
    <ol class="news-list t-lar bold">Заохочення:
      <li class="news-item"> Перші 1000 аккаунтів отримають статус підтвердженого аккаунту <i
          class="fa-solid fa-person-circle-check accent p-2"></i> від Discussio БЕЗКОШТОВНО! </li>
      <div class="t-min gray">При умові що профіль користувача буде заповнений відповідним чином для можливості
        перевірки
      </div>
    </ol>
    <div class="t-med gray">Пропонуйте також свої варіанти як можемо привабити першу аудиторію? Запропонувати їх можна
      тут <button class="news_link btn p-2 bg-accent" [routerLink]="'/feedback'"
        [queryParams]="{ category: 'Пропоную' }">Відгук
        <i class="fa-regular fa-lightbulb pl-2"></i></button></div>
  </div>

  <div class="news">
    <i class="fa-solid fa-info"> </i>
    <p class="t-lar accent bold">11.04.24</p>
    <ol class="news-list t-lar bold">Оновлення:
      <li class="news-item"> Оновлено систему шифрування паролю. Змініть ваш пароль! (Вхід/Відновити пароль). </li>
      <li class="news-item"> Додано перевірку на кількість спроб введення коду безпеки.</li>
    </ol>
  </div>

  <div class="news">
    <i class="fa-solid fa-info"> </i>
    <p class="t-lar accent bold">09.04.24</p>
    <ol class="news-list t-lar bold">Оновлення:
      <li class="news-item"> Всі аккаунти користувачів та оселей які було створено до 10.04.24 було очищено. Якщо у
        вас був аккаунт натисніть <button class="news_link btn bg-accent" (click)="logout()">очистити дані кешу</button>
        та
        зареєструйтесь заново. Ми запускаємо сайт в роботу в тестовому режимі. </li>
    </ol>
    <p class="t-min t-c">Можна користуватись функціоналом нашого сайту за призначенням. За фейкові
      аккаунти і
      неправдивість оголошень відбувається бан. Про всі негаразти та збої пишіть сюди
      <button class="news_link btn bg-accent" [routerLink]="'/feedback'">Відгук <i
          class="fa-solid fa-bug pl-2"></i></button>
      Біля кожної сторінки з профілями є
      примітка скарга. Всі скарги будуть розглянуті. Питання стосовно співпраці, пропозицій пишіть на пошту <span
        class="accent">{{gmail}}</span> або в
      наших соціальних мережах. Дякую за увагу та приємного користування!
    </p>
  </div>

</div>
