@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;
@use "./../../../../style/search/search.scss";
@use "./../../../../style/shared.scss";

.full-container-img {
  top: calc(-100px - 1rem);
  .full-wrapper-img {
    @include s3-s6-max {
      .next-img,
      .prev-img,
      .btn-close {
        background-color: $color-accent;
        height: 100px;
        width: 100px;
      }
      background-color: transparent;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.869) 10%, rgba(62, 62, 62, 0.84) 90%, rgba(0, 0, 0, 0) 100%);
      justify-content: center;
    }
    .full-img-fluid {
      @include box-shadow;
      height: 80%;
    }
  }
}

.card-content {
  align-items: stretch !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.card-wrapper {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.card-animation {
  &::-webkit-scrollbar {
    display: none !important;
  }
  @include s3-s6-max {
    width: 98% !important;
  }
}
