<ng-container *ngIf="loading; else content">
  <div class="container-loader-mini">
    <mat-spinner color="warn"></mat-spinner>
  </div>
</ng-container>

<ng-template #content>

  <div class="group1" *ngIf="selectedUser">
    <img class="avatar-user1"
      [src]="serverPathPhotoUser + (selectedUser.photoUser ? selectedUser.photoUser : 'user_default.svg')"
      alt="User Image">
    <div class="name-user1">
      <div>{{ selectedUser.lastName }} {{ selectedUser.firstName }} </div>
      <div class="text-min">{{ selectedUser.surName }} Chat ID: {{ selectedUser.chat_id }}</div>
    </div>
  </div>

  <div class="container-chat" *ngIf="selectedUser">

    <div class="chat" id="chatContainer" #chatContainer>

      <div class="btn-more-box ">
        <button class="btn btn-more" (click)="loadPreviousMessages()" *ngIf="messageALL.length > 49"><i class="fa-solid fa-chevron-up"></i></button>
      </div>

      <div class="chat-messages-read"  *ngIf="allMessages.length !== 0">
        <div *ngFor="let message of allMessages">

          <ng-container *ngIf="message.user_id === selectedSubscriberID && message.is_read === 1">

            <div class="chat-container-user">
              <div class="user-message message p-2" [ngClass]="{ 'read': message.is_read === 1 }">
                <div class="avatar-wrapper-user">
                  <div class="name-user">
                    <div class="accent-name">{{ selectedUser.lastName }} {{ selectedUser.firstName }} <span
                        class="time">{{ message.time }} </span></div>
                  </div>
                </div>
                <div class="message-content-user">
                  <div class="message-text-user"><i class="fa-solid fa-check-double"></i>{{ message.message }}</div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="message.flat_id !== null && message.is_read === 1">

            <div class="chat-container-owner">
              <div class="owner-message message p-2" [ngClass]="{ 'read': message.is_read === 1 }">
                <div class="avatar-wrapper-owner">
                  <div class="name-owner">
                    <div class="accent-name">
                      <span class="time">{{ message.time }}</span> {{ houseData.flat.flat_name }}
                    </div>
                  </div>
                </div>
                <div class="message-content-owner">
                  <p class="message-text-owner">{{ message.message }}<i class="fa-solid fa-check-double"></i></p>
                </div>
              </div>
            </div>

          </ng-container>

        </div>
      </div>

      <div class="chat-messages-unread" *ngIf="allMessagesNotRead.length !== 0">
        <div class="chat" *ngFor="let messagesNotRead of allMessagesNotRead">
          <ng-container *ngIf="messagesNotRead.user_id === selectedUser?.user_id && messagesNotRead.is_read === 0">

            <div class="chat-container-user">
              <div class="user-message message p-2" [ngClass]="{ 'unread': messagesNotRead.is_read === 0 }">
                <div class="avatar-wrapper-user">
                  <div class="name-user">
                    <div class="accent-name">{{ selectedUser.lastName }} {{ selectedUser.firstName }} <span
                        class="time">{{
                        messagesNotRead.time }} </span></div>
                  </div>
                </div>
                <div class="message-content-user">
                  <div class="message-text-user"><i class="fa-solid fa-check" *ngIf="messagesNotRead.time"></i>{{
                    messagesNotRead.message }}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="messagesNotRead.flat_id !== null && messagesNotRead.is_read === 0">
            <div class="chat-container-owner">
              <div class="owner-message message p-2" [ngClass]="{ 'unread': messagesNotRead.is_read === 0 }">
                <div class="avatar-wrapper-owner">
                  <div class="name-owner">
                    <div class="accent-name"><span class="time">{{ messagesNotRead.time }}</span> {{
                      houseData.flat.flat_name }}</div>
                  </div>
                </div>
                <div class="message-content-owner">
                  <p class="message-text-owner"><i class="fa-solid fa-check" *ngIf="messagesNotRead.time"></i>{{
                    messagesNotRead.message }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

      <div *ngIf="allMessages.length == 0 && allMessagesNotRead.length == 0">
        <p class="t-lar gray t-c p-3">Повідомлення відсутні...</p>
      </div>

    </div>
  </div>

</ng-template>
