<div [@top] class="t-c filter-btn-wrapper p-2">
  <button class="btn-search m-1" (click)="clearFilter()">
    <div class="flex-column t-s">
      <p class="t-min">Очистити</p>
      <p class="t-min">Фільтри</p>
    </div>
    <i class="fa-solid fa-broom pl-2"></i>
  </button>

  <button [disabled]="!myDataExist" class="btn-search m-1" (click)="loadDataFlat()"
    [ngClass]="{ 'active': myData == true}">
    <div class="flex-column t-s">
      <p class="t-min">Пошук по</p>
      <p class="t-min">Моїй оселі</p>
    </div>
    <i class="fa-solid fa-house-circle-check"></i>
  </button>

  <button class="btn-search m-1" (click)="toogleLocation()" [ngClass]="{ 'active': collapseLocation == true}">
    <div class="flex-column t-s">
      <p class="t-min">Фільтр по</p>
      <p class="t-min">Локації</p>
    </div>
    <i class="fa-solid fa-map-location-dot"></i>
  </button>

  <button class="btn-search m-1" (click)="toogleTime()" [ngClass]="{ 'active': collapseTime == true}">
    <div class="flex-column t-s">
      <p class="t-min">Фільтр по</p>
      <p class="t-min">Термінам</p>
    </div>
    <i class="fa-regular fa-hourglass-half"></i>
  </button>

  <button class="btn-search m-1" (click)="toogleFeatures()" [ngClass]="{ 'active': collapseFeatures == true}">
    <div class="flex-column t-s">
      <p class="t-min">Фільтр по</p>
      <p class="t-min">Орендарю</p>
    </div>
    <i class="fa-solid fa-user-tag"></i>
  </button>

  <button class="btn-search m-1" (click)="toogleHouseParam()" [ngClass]="{ 'active': collapseHouseParam == true}">
    <div class="flex-column t-s">
      <p class="t-min">Фільтр по</p>
      <p class="t-min">Оселі</p>
    </div>
    <i class="fa-solid fa-house-circle-check"></i>
  </button>
</div>
<div [@top] class="t-c filter-wrapper" *ngIf="collapseTime">
  <div class="t-c filter-window">

    <div class="d-flex flex-column">
      <button class="btn-search m-1" (click)="toogleTime()">
        <i class="fa-regular fa-circle-xmark"></i>
        Закрити фільтр
      </button>
    </div>

    <mat-label align="start">На який термін здаєте оселю?</mat-label>
    <section>
      <mat-form-field class="item-select p-1" appearance="outline">
        <input type="number" name="days" (ngModelChange)="onSubmitWithDelay()" placeholder="Дні"
          (click)="onDayCountsChange()" [(ngModel)]="userInfo.days" [min]="minValueDays" [max]="maxValueDays" matInput>
        <mat-hint>Дні</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <input type="number" name="weeks" (ngModelChange)="onSubmitWithDelay()" placeholder="Тиж."
          (click)="onDayCountsChange()" [(ngModel)]="userInfo.weeks" [min]="minValueWeeks" [max]="maxValueWeeks"
          matInput>
        <mat-hint>Тижні</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <input type="number" name="months" (ngModelChange)="onSubmitWithDelay()" placeholder="Міс."
          (click)="onDayCountsChange()" [(ngModel)]="userInfo.months" [min]="minValueMonths" [max]="maxValueMonths"
          matInput>
        <mat-hint>Місяці</mat-hint>

      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <input type="number" name="years" (ngModelChange)="onSubmitWithDelay()" placeholder="Роки"
          (click)="onDayCountsChange()" [(ngModel)]="userInfo.years" [min]="minValueYears" [max]="maxValueYears"
          matInput>
        <mat-hint>Роки</mat-hint>

      </mat-form-field>
    </section>
    <div [@appearance] class="btn-group">
      <button [disabled]="optionsFound === 0" class="b-primary" (click)="toogleAll()">
        <div class="t-med bold white">Всього Знайдено</div>
        <i class="fa-solid fa-arrow-right pl-2"></i>
        <div class="t-lar-xx bold white pl-2">{{optionsFound}}</div>
      </button>
    </div>
  </div>
</div>
<div [@top] class="t-c filter-wrapper" *ngIf="collapseFeatures">
  <div class="t-c filter-window">

    <div class="d-flex flex-column">
      <button class="btn-search m-1" (click)="toogleFeatures()">
        <i class="fa-regular fa-circle-xmark"></i>
        Закрити фільтр
      </button>
    </div>

    <mat-form-field class="item-select p-1" appearance="outline">
      <input matInput type="text" (ngModelChange)="searchByUserID()" placeholder="Знайти по ID"
        [(ngModel)]="searchQuery" />
      <mat-icon matSuffix><i class="fa-solid fa-magnifying-glass"></i></mat-icon>
      <mat-hint align="start">Знайти орендаря по ID</mat-hint>
    </mat-form-field>

    <section>

      <mat-label align="start">Орендарь шукає оселю</mat-label>
      <mat-radio-group class="flex-box" [(ngModel)]="userInfo.option_pay" (ngModelChange)="onSubmitWithDelay()">
        <mat-radio-button color="warn" [value]="1">Доба</mat-radio-button>
        <mat-radio-button color="warn" [value]="0">Місяць</mat-radio-button>
        <mat-radio-button color="warn" [value]="2">Безкоштовно</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="item-select" floatLabel="always" appearance="outline"
        *ngIf="userInfo.option_pay !== undefined">
        <input matInput class="right-align" step="1000" type="number" [min]="minValue" [max]="maxValue" placeholder="0"
          [(ngModel)]="userInfo.price" name="price" (ngModelChange)="onSubmitWithDelay()">
        <mat-hint align="start" *ngIf="userInfo.option_pay === 0">Оренда за місяць (грн)</mat-hint>
        <mat-hint align="start" *ngIf="userInfo.option_pay === 1">Оренда за добу (грн)</mat-hint>
      </mat-form-field>
    </section>

    <mat-label align="start">Тип орендарів яким я пропоную оселю</mat-label>
    <section class="checkbox-section">
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.students">Студенти</mat-checkbox>
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.woman">Жінки</mat-checkbox>
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.man">Чоловіки</mat-checkbox>
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.family">Сім'ї</mat-checkbox>
    </section>

    <mat-label align="start">Особливості орендарів</mat-label>
    <section>
      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Укриття" [(ngModel)]="userInfo.bunker"
          name="bunker">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="Неважливо">Неважливо</mat-option>
          <mat-option value="Паркінг">Паркінг</mat-option>
          <mat-option value="В будинку">В будинку</mat-option>
          <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-shield-heart"></i></mat-icon>
        <mat-hint align="start">В оселі є укриття?</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Тварини" [(ngModel)]="userInfo.animals"
          name="animals">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="0">Без тварин</mat-option>
          <mat-option value="1">Можна з тваринами</mat-option>
          <mat-option value="2">Тільки котики</mat-option>
          <mat-option value="3">Тільки песики</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-paw"></i></mat-icon>
        <mat-hint align="start">Орендарь може мати тварин?</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Мета оренди" [(ngModel)]="userInfo.purpose_rent"
          name="purpose_rent">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="Неважливо">Неважливо</mat-option>
          <mat-option value="0">Переїзд</mat-option>
          <mat-option value="1">Відряджання</mat-option>
          <mat-option value="2">Подорож</mat-option>
          <mat-option value="3">Навчання</mat-option>
          <mat-option value="4">Особисті причини</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-head-side-virus"></i></mat-icon>
        <mat-hint align="start">Обрати причину?</mat-hint>
      </mat-form-field>
    </section>

    <div [@appearance] class="btn-group">
      <button [disabled]="optionsFound === 0" class="b-primary" (click)="toogleAll()">
        <div class="t-med bold white">Всього Знайдено</div>
        <i class="fa-solid fa-arrow-right pl-2"></i>
        <div class="t-lar-xx bold white pl-2">{{optionsFound}}</div>
      </button>
    </div>

  </div>
</div>
<div [@top] class="t-c filter-wrapper" *ngIf="collapseHouseParam">
  <div class="t-c filter-window">

    <div class="d-flex flex-column">
      <button class="btn-search m-1" (click)="toogleHouseParam()">
        <i class="fa-regular fa-circle-xmark"></i>
        Закрити фільтр
      </button>
    </div>

    <mat-label align="start">Параметри вашої оселі</mat-label>
    <section class="checkbox-section">
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.house">Будинок</mat-checkbox>
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.flat">Квартира</mat-checkbox>
      <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="userInfo.room">Кімнату</mat-checkbox>
    </section>

    <div [@top] class="t-c" *ngIf="userInfo.room">
      <mat-label align="start">В оселі вже є мешканці?</mat-label>
      <section class="checkbox-section">
        <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
          [(ngModel)]="userInfo.looking_woman">Жінка</mat-checkbox>
        <mat-checkbox color="warn" class="example-margin" (ngModelChange)="onSubmitWithDelay()"
          [(ngModel)]="userInfo.looking_man">Чоловік</mat-checkbox>
      </section>
    </div>

    <section>
      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Стан оселі" [(ngModel)]="userInfo.repair_status"
          name="repair_status">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="Неважливо">Неважливо</mat-option>
          <mat-option value="Новий">Новий</mat-option>
          <mat-option value="Добрий">Добрий</mat-option>
          <mat-option value="Задовільний">Задовільний</mat-option>
          <mat-option value="Поганий">Поганий</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-paint-roller"></i></mat-icon>
        <mat-hint align="start">Стан оселі</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <input matInput type="text" [min]="minValue" [max]="maxValue" (ngModelChange)="onSubmitWithDelay()"
          placeholder="Площа м²" [(ngModel)]="userInfo.area" name="area">
        <mat-icon matSuffix><i class="fa-solid fa-compass-drafting"></i></mat-icon>
        <mat-hint align="start">Площа оселі м²</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Кіл. кімнат" [(ngModel)]="userInfo.rooms"
          name="rooms">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option [value]="0">Неважливо</mat-option>
          <mat-option [value]="1">Однокімнатна</mat-option>
          <mat-option [value]="2">Двокімнатна</mat-option>
          <mat-option [value]="3">Трикімнатна</mat-option>
          <mat-option [value]="4">Чотирьохкімнатна</mat-option>
          <mat-option [value]="5">Більше чотирьох</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-hotel"></i></mat-icon>
        <mat-hint align="start">Кількість кімнат</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Балкон" [(ngModel)]="userInfo.balcony"
          name="balcony">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="Неважливо">Неважливо</mat-option>
          <mat-option value="Класичний">Класичний</mat-option>
          <mat-option value="Французький">Французький</mat-option>
          <mat-option value="Лоджія">Лоджія</mat-option>
          <mat-option value="Тераса">Тераса</mat-option>
          <mat-option value="Веранда">Веранда</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-regular fa-eye"></i></mat-icon>
        <mat-hint align="start">Тип балкону</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Парк" [(ngModel)]="userInfo.distance_green"
          name="distance_green">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="100">до 100м</mat-option>
          <mat-option value="300">до 300м</mat-option>
          <mat-option value="500">до 500м</mat-option>
          <mat-option value="1000">до 1км</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-tree"></i></mat-icon>
        <mat-hint align="start">Відстань до парку</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Маркет" [(ngModel)]="userInfo.distance_shop"
          name="distance_shop">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="100">до 100м</mat-option>
          <mat-option value="300">до 300м</mat-option>
          <mat-option value="500">до 500м</mat-option>
          <mat-option value="1000">до 1км</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-basket-shopping"></i></mat-icon>
        <mat-hint align="start">Відстань до маркету</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Паркінг" [(ngModel)]="userInfo.distance_parking"
          name="distance_parking">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="1">на території</mat-option>
          <mat-option value="100">до 100м</mat-option>
          <mat-option value="300">до 300м</mat-option>
          <mat-option value="500">до 500м</mat-option>
          <mat-option value="1000">до 1км</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-car-side"></i></mat-icon>
        <mat-hint align="start">Відстань до паркінгу</mat-hint>
      </mat-form-field>

      <mat-form-field class="item-select p-1" appearance="outline">
        <mat-select (ngModelChange)="onSubmitWithDelay()" placeholder="Зупинки" [(ngModel)]="userInfo.distance_stop"
          name="distance_stop">
          <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
          <mat-option value="100">до 100м</mat-option>
          <mat-option value="300">до 300м</mat-option>
          <mat-option value="500">до 500м</mat-option>
          <mat-option value="1000">до 1км</mat-option>
        </mat-select>
        <mat-icon matSuffix><i class="fa-solid fa-bus"></i></mat-icon>
        <mat-hint align="start">Відстань до зупинки</mat-hint>
      </mat-form-field>
    </section>
    <div [@appearance] class="btn-group">
      <button [disabled]="optionsFound === 0" class="b-primary" (click)="toogleAll()">
        <div class="t-med bold white">Всього Знайдено</div>
        <i class="fa-solid fa-arrow-right pl-2"></i>
        <div class="t-lar-xx bold white pl-2">{{optionsFound}}</div>
      </button>
    </div>
  </div>
</div>
<div [@top] class="t-c filter-wrapper" *ngIf="collapseLocation">
  <div class="t-c filter-window">

    <div class="d-flex flex-column">
      <button class="btn-search m-1" (click)="toogleLocation()">
        <i class="fa-regular fa-circle-xmark"></i>
        Закрити фільтр
      </button>

      <div class="p-2" *ngIf="chownCity">
        <button class="btn-close bg-white p-2" (click)="clearFilter()"></button>
        <div class="flex-column t-s">
          <p class="t-med bold">{{chownCity.name}}</p>
          <p class="t-min">{{chownCity.population | number:'1.0-0'}}</p>
          <img class="card-img" [src]="chownCity.icon" alt="User Image">
        </div>
      </div>
    </div>

    <mat-label align="start">Локація</mat-label>
    <section>
      <mat-form-field class="item-select p-1" appearance="outline" *ngIf="userInfo.country">
        <mat-label for="country">Країна</mat-label>
        <input disabled name="userInfo.country" id="country" matInput [(ngModel)]="userInfo.country"
          placeholder="Виберіть або введіть мікрорайон">
        <mat-icon matSuffix><i class="fa-solid fa-flag gray"></i></mat-icon>
        <mat-hint align="end" class="t-min gray">В розробці</mat-hint>
      </mat-form-field>

      <mat-form-field [@top1] class="item-select p-1" appearance="outline">
        <mat-label for="city">Місто</mat-label>
        <input #cityInput name="userInfo.city" id="city" matInput [(ngModel)]="userInfo.city"
          placeholder="Виберіть або введіть місто" (ngModelChange)="onCityInputChange(userInfo.city)"
          [matAutocomplete]="autoCity">
        <mat-autocomplete #autoCity="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities" [value]="city.cityUa"
            (onSelectionChange)="ifSelectedCity(city)">
            {{ city.shortCityTypeUa }} {{ city.cityUa }}, <span *ngIf="city.districtUa"> р-н {{ city.districtUa
              }},</span>
            обл.{{ city.regionUa }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix><i class="fa-solid fa-city"></i></mat-icon>
      </mat-form-field>

      <mat-form-field [@appearance] class="item-select p-1" appearance="outline" *ngIf="userInfo.city">
        <mat-label for="city">Область</mat-label>
        <input #regionInput name="userInfo.region" id="region" matInput placeholder="Почніть вводити область"
          [(ngModel)]="userInfo.region" (ngModelChange)="onRegionsInputChange(userInfo.region)"
          [matAutocomplete]="autoRegion">
        <mat-autocomplete #autoRegion="matAutocomplete">
          <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
            {{ region.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix><i class="fa-solid fa-earth-europe"></i></mat-icon>
      </mat-form-field>

      <mat-form-field [@appearance] class="item-select p-1" appearance="outline" *ngIf="userInfo.city">
        <mat-label for="district">Район</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="userInfo.district"
          (ngModelChange)="onDistrictInputChange()" placeholder="Виберіть або введіть район" name="userInfo.district"
          id="district">
        <mat-icon matSuffix><i class="fa-solid fa-mountain-city gray"></i></mat-icon>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let district of filteredDistricts" [value]="district.district">
            {{ district.district }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field [@appearance] class="item-select p-1" appearance="outline"
        *ngIf="userInfo.city && userInfo.district">
        <mat-label for="micro_district">Мікрорайон</mat-label>
        <input name="userInfo.micro_district" id="micro_district" matInput [(ngModel)]="userInfo.micro_district"
          placeholder="Введіть мікрорайон" (ngModelChange)="onSubmitWithDelay()">
        <mat-icon matSuffix><i class="fa-solid fa-building-flag gray"></i></mat-icon>
      </mat-form-field>
    </section>

    <div [@top1] class="t-c" *ngIf="userInfo.city && metroExists">
      <mat-label align="start">Метро</mat-label>
      <section>
        <mat-form-field class="item-select p-1" appearance="outline">
          <mat-label for="metrocolor">Лінія метро</mat-label>
          <mat-select placeholder="Виберіть лінію" [(ngModel)]="userInfo.metrocolor" name="metrocolor"
            (selectionChange)="onLineSelect(userInfo.metrocolor)" (ngModelChange)="onSubmitWithDelay()">
            <mat-option *ngFor="let line of lines" [value]="line.name"> {{ line.name }} </mat-option>
          </mat-select>
          <mat-hint align="end">Виберіть лінію метро</mat-hint>
          <mat-icon matSuffix><i class="fa-solid fa-code-branch"></i></mat-icon>
        </mat-form-field>

        <mat-form-field [@appearance] class="item-select p-1" appearance="outline" *ngIf="userInfo.metrocolor">
          <mat-label for="metroname">Станція метро</mat-label>
          <mat-select placeholder="Виберіть станцію" [(ngModel)]="userInfo.metroname" name="metroname"
            (ngModelChange)="onSubmitWithDelay()">
            <mat-option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</mat-option>
          </mat-select>
          <mat-hint align="end">Виберіть станцію метро</mat-hint>
          <mat-icon matSuffix><i class="fa-solid fa-archway"></i></mat-icon>
        </mat-form-field>

        <mat-form-field class="item-select p-1" appearance="outline">
          <mat-label for="distance_metro">Відстань до метро</mat-label>
          <mat-select placeholder="До метро" [(ngModel)]="userInfo.distance_metro" name="distance_metro"
            (ngModelChange)="onSubmitWithDelay()">
            <mat-option *ngFor="let distance of distanceConfiq" [value]="distance.value">
              {{ distance.name }}</mat-option>
          </mat-select>
          <mat-hint align="end">Відстань до метро</mat-hint>
          <mat-icon matSuffix><i class="fa-solid fa-arrows-left-right-to-line"></i></mat-icon>
        </mat-form-field>
      </section>
    </div>

    <div class="city-box p-2" *ngIf="!userInfo.city">
      <button *ngFor="let item of cities" (click)="pickCity(item)" class="btn-city m-1">
        <div class="flex-column t-s">
          <img class="card-img" [src]="item.icon" alt="region image">
          <p class="t-med bold">{{item.name}}</p>
          <p class="t-min">{{item.population | number:'1.0-0'}}</p>
        </div>
      </button>
    </div>

    <div [@appearance] class="btn-group">
      <button [disabled]="optionsFound === 0" class="b-primary" (click)="toogleAll()">
        <div class="t-med bold white">Всього Знайдено</div>
        <i class="fa-solid fa-arrow-right pl-2"></i>
        <div class="t-lar-xx bold white pl-2">{{optionsFound}}</div>
      </button>
    </div>

  </div>
</div>
