@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.menu-container {
  @include flex-box-center;
  width: 100%;
  padding: 5px;
}

.btn {
  background-color: transparent;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.menu {
  @include flex-box-center;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.736);

  .link {
    &:disabled {
      background-color: $color-gray;
      box-shadow: 2px 2px 2px 4px $color-gray;
      color: rgb(82, 82, 82);
      .fa-solid,
      .fa-regular {
        color: rgb(82, 82, 82);
      }
    }
    @include flex-box-center;
    border: none;
    height: 6vh;
    padding: 5px;
    justify-content: space-between;
    margin: 7px;
    position: relative;
    background-color: $color-white;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;
    min-width: 350px;
    box-shadow: 2px 2px 2px 4px $color-white;
    .status {
      @include flex-box-center;
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-15px);
      width: 30px;
      height: 30px;
      background-color: $color-accent;
      color: $color-white;
      border-radius: 50%;

      .fa-envelope-open-text {
        color: $color-white;
        font-size: 15px;
      }
    }
  }
  .link.active {
    background-color: $color-accent;
    color: $color-white;
    box-shadow: 2px 2px 2px 4px $color-accent;
    .fa-solid,
    .fa-regular {
      color: $color-white;
    }
  }
}
