<div class="p-2" [@top4] *ngIf="chosenFlat">
  <button class="link-menu" *ngIf="currentLocation === '/subscribers-user'" (click)="approveSubscriber(choseFlatId)">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Перейти до</p>
      <p class="link-menu-t1">Дискусії</p>
    </div>
    <div class="link-icon w-20"><i class="fa-regular fa-thumbs-up"></i></div>
  </button>

  <button class="link-menu" *ngIf="currentLocation === '/subscribers-discuss'" (click)="goToComun()">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Статистика</p>
      <p class="link-menu-t1">Оселі</p>
    </div>
    <div class="link-icon w-20"><i class="fa-solid fa-chart-pie"></i></div>
  </button>

  <button class="link-menu" (click)="deleteSubscriber(chosenFlat)">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Видалити</p>
      <p class="link-menu-t1">Оселю</p>
    </div>
    <div class="link-icon w-20"><i class="fa-solid fa-user-xmark"></i></div>
  </button>

  <button class="link-menu" (click)="reportHouse(chosenFlat)">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Надіслати</p>
      <p class="link-menu-t1">Скаргу</p>
    </div>
    <div class="link-icon w-20"><i class="fa-solid fa-masks-theater"></i></div>
  </button>

  <button class="link-menu" (click)="copyToClipboard(chosenFlat.flat.flat_id, 'ID оселі ' + chosenFlat.flat.flat_id)">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Копіювати</p>
      <p class="link-menu-t1">ID Оселі</p>
    </div>
    <div class="link-icon w-20"><i class="fa-solid fa-fingerprint"></i></div>
  </button>

  <a class="link-menu" *ngIf="chosenFlat.flat.region && chosenFlat.flat.city && chosenFlat.flat.street"
    (click)="openMap()">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Відкрити</p>
      <p class="link-menu-t1">Локацію Оселі на мапі</p>
    </div>
    <div class="link-icon w-20"><i class="fa-solid fa-location-dot"></i></div>
  </a>

  <button class="link-menu" *ngIf="currentLocation === '/subscribers-discuss' && !chatExists" (click)="createChat(chosenFlat.flat.flat_id)">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Створити</p>
      <p class="link-menu-t1">Чат</p>
    </div>
    <div class="link-icon w-20"><i class="fa-regular fa-message"></i></div>
  </button>

  <button class="link-menu" *ngIf="currentLocation === '/subscribers-discuss' && chatExists" (click)="openChat()">
    <div class="flex-column w-80">
      <p class="link-menu-t2">Надіслати</p>
      <p class="link-menu-t1">Повідомлення</p>
    </div>
    <div class="link-icon w-20"><i class="fa-regular fa-message"></i></div>
  </button>
</div>
