@use "./../../../../style/comun/housing-table.scss";
@use "./../../../../style/shared.scss" as *;
@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;

.btn {
  font-family: $font-main !important;
  .fa-solid {
    font-size: 16px;
  }
}

.table-content {
  height: calc(100vh - 100px - 1rem);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .sticky-top {
    z-index: 10 !important;
    flex-wrap: wrap;
    @include flex-box-center;
    background-image: linear-gradient(to top, transparent, $color-primary 20%);
    @include s1-s3 {
      background-image: linear-gradient(to top, transparent, $color-white 20%);
      flex-direction: column;
    }
    .app {
      padding: 10px;
      @include s1-s3 {
        padding: 0px;
      }
    }
  }
  .table-info {
    height: auto;
  }
  .sticky-bottom {
    @include flex-box-center;
    z-index: 10 !important;
    background-image: linear-gradient(to bottom, transparent, $color-primary 10%);
    @include s1-s3 {
      background-image: linear-gradient(to bottom, transparent, $color-white 10%);
    }
  }
}

td {
  &.selected {
    background-color: rgba(133, 133, 133, 0.417);
  }
}

.btn {
  .fa-solid {
    color: $color-gray !important;
    .fa-solid {
      color: $color-gray !important;
    }
  }
  .t-min {
    color: $color-gray !important;
  }
  &.active {
    filter: none !important;
    color: $color-dark !important;
    .fa-solid {
      color: $color-dark !important;
    }
    .t-min {
      color: $color-dark !important;
    }
  }
}
