<div class="container-fluid" [@cardAnimation]>


  <div class="container-fluid">
    <div class="title">
      <h1>Пошук оселі</h1>
    </div>

    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/housing-search'">Пошук оселі</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/tenants-search'">Пошук орендаря</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/user-interaction'">Домовленість</a>
    </nav>

    <app-search-term></app-search-term>


  </div>

  <div class="container-tenants col-4">
    <div class="card-tenants" style="width: 20rem;">

      <div class="img-fluid">
        <img src="../../assets/photo2.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-description">
        <h4 class="card-title">Інформація про орендаря</h4>
        <p class="card-text">Олійник Максим Анатолійович</p>
        <a href="tel:+380677727447" class="tel">tel: +380677727447</a>
      </div>

      <div class="card-rating">

        <div class="card-text">
          <h4>Рейтинг</h4>
        </div>

        <div class="rating-star">
          <span class="star" *ngFor="let star of stars" [class.filled]="star <= currentRating"
            (click)="rate(star)">&#9733;</span>
        </div>

      </div>

      <div class="card-social-link">
        <a href="https://www.facebook.com/denis.kononov.35"><i class="fab fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/kononov.den1s/"><i class="fab fa-brands fa-instagram"></i></a>
        <a href="https://t.me/DenisKononov"><i class="fab fa-brands fa-telegram"></i></a>
      </div>


      <div class="card-link">
        <a href="#" class="link"><span>Документи</span><i class="fa-solid fa-passport"></i></a>
      </div>

    </div>
  </div>

  <div class="container-owner-card col-8">

    <button class="prev" (click)="onPrevCard()">
      <div class="prev-arrow-top"></div>
      <div class="prev-arrow-bottom"></div>
    </button>

    <div class="container-owner">

      <div class="card-owner" style="width: 18rem;">

        <div class="img-fluid card-img-top">
          <img [src]="currentCard.image">
        </div>

        <div class="card-description">
          <h4 class="card-title">{{ currentCard.description }}</h4>
          <p class="card-text">{{ currentCard.firstName }} {{ currentCard.lastName }}</p>
          <p>{{ currentCard.tell }}</p>
        </div>

        <div class="card-rating">

          <div class="card-text">
            <h4>Рейтинг</h4>
          </div>

          <div class="rating-star">
            <span class="star" *ngFor="let star of stars" [class.filled]="star <= currentRating"
              (click)="rate(star)">&#9733;</span>
          </div>

        </div>


        <div class="card-social-link">
          <a href="https://www.facebook.com/denis.kononov.35"><i class="fab fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/kononov.den1s/"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="https://t.me/DenisKononov"><i class="fab fa-brands fa-telegram"></i></a>
        </div>


        <div class="card-link">
          <a [href]="currentCard.passport" class="link"><span>{{ currentCard.passportText }}</span><i
              class="fa-solid fa-passport"></i></a>
        </div>


      </div>

      <div class="card-housing" style="width: 18rem;">

        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="currentCard.imageCarousel">
            </div>
            <div class="carousel-item">
              <img [src]="currentCard.imageCarousel1">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card-description">

          <div class="card-title">
            <h4>{{ currentCard.descriptionHouse }}</h4>
          </div>

          <div class="card-text">
            <p>{{ currentCard.address }}</p>
          </div>

        </div>

        <div class="price-box">
          <h2 class="card-text">{{ currentCard.price}}</h2>
          <div class="item-actions">
            <button class="btn">
              Орендувати
            </button>
            <button class="btn">Підписатись
              <i class="fas fa-heart" aria-hidden="true"></i>
            </button>

          </div>
        </div>

        <div class="card-link">
          <a [href]="currentCard.homeAccount" class="link"><span>{{ currentCard.homeAccountText }}</span><i
              class="fa-solid fa-passport"></i></a>
          <a [href]="currentCard.createDeal" class="link"><span>{{ currentCard.createDealText }}</span><i
              class="fa-solid fa-file-contract"></i></a>
        </div>


      </div>

    </div>

    <button class="next" (click)="onNextCard()">
      <div class="next-arrow-top"></div>
      <div class="next-arrow-bottom"></div>
    </button>

  </div>

</div>
