@use "../../style/presets/" as *;

.navbar{
  justify-content: flex-start;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.price{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-card {
  display: flex;
}

.card-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characteristics{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.characteristics-list {
  background-color: $color-light;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.card-rating {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease-in-out;
}

.star:hover {
  color: gold;
}

.filled {
  color: gold;
}

