@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}


.our-team {
  padding: 10px 0;

  .section-title {
    text-align: center;
    // animation: bounce-in 1s;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include s1-s3 {
      justify-content: flex-start;
    }
  }

  .row-mid {
    display: flex;
    justify-content: center;
  }

  .team-member {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    transition: 1s;

    &:hover {
      transform: scale(1.1);
      // animation: shake 0.5s;
    }

    .team-member-image {
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        // animation: pulse 1s infinite;
      }
    }

    .team-member-info {
      .team-member-name {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .team-member-position {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .team-member-description {
        font-size: 14px;
        margin-bottom: 10px;
      }

      .team-member-social {
        display: flex;
        justify-content: center;
        font-size: 18px;

        a {
          color: #000000;
          margin: 0 10px;

          // &:hover {
          //   color: $color-accent;
          //   animation: swing 0.5s;
          // }
        }
      }
    }
  }
  // @keyframes bounce-in {
  //   0% {
  //     transform: translateY(-100px);
  //     opacity: 0;
  //   }
  //   100% {
  //     transform: translateY(0);
  //     opacity: 1;
  //   }
  // }

  // @keyframes shake {
  //   0% {
  //     transform: translateX(0);
  //   }
  //   25% {
  //     transform: translateX(-10px);
  //   }
  //   50% {
  //     transform: translateX(10px);
  //   }
  //   75% {
  //     transform: translateX(-10px);
  //   }
  //   100% {
  //     transform: translateX(0);
  //   }
  // }

  // @keyframes pulse {
  //   0% {
  //     transform: scale(1);
  //   }
  //   50% {
  //     transform: scale(1.1);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }
  // @keyframes swing {
  //   0% {
  //     transform: rotate(0deg);
  //   }
  //   25% {
  //     transform: rotate(15deg);
  //   }
  //   50% {
  //     transform: rotate(-10deg);
  //   }
  //   75% {
  //     transform: rotate(5deg);
  //   }
  //   100% {
  //     transform: rotate(0deg);
  //   }
  // }
}
