@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.wrapper {
  @include flex-box;
  overflow: hidden;
  height: 100%;
  img {
    @include box-shadow;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.flex-box {
  @include flex-box;
}

.flex-column {
  @include flex-box-column;
}

.fab {
  font-size: 25px;
}
