@use "../../style/presets/" as *;

.our-team {
  padding: 10px 0;

  .section-title {
    text-align: center;
    animation: bounce-in 1s;
  }

  .container-card {
    display: flex;
    flex-direction: column;
  }

  .row-mid {
    display: flex;
    justify-content: center;
  }

  .team-member {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.05);
      animation: shake 0.5s;
    }

    .team-member-image {
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        animation: pulse 1s infinite;
      }
    }

    .team-member-info {
      .team-member-name {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .team-member-position {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .team-member-description {
        font-size: 14px;
        margin-bottom: 10px;
      }

      .team-member-social {
        display: flex;
        justify-content: center;
        font-size: 18px;

        a {
          color: #000000;
          margin: 0 10px;

          &:hover {
            color: #007bff;
            animation: swing 0.5s;
          }
        }
      }
    }
  }
  @keyframes bounce-in {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

video {
  margin-top: 1rem;
  width: 30rem;
  border-radius: 10px;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-title {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 2rem;
  line-height: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

h4 {
  margin-bottom: 2rem;
}

h5 {
margin-top: 2rem;
}

.description {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.title {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  transition: .2s;
  &:hover {
    transform: scale(1.1);
  }
}


img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.text {
  text-align: center;
}

.slide-in {
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-out {
  animation: slide-out 0.5s ease-in-out;
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20%);
  }
}



