@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.status-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(29, 29, 29, 0.833);
  color: $color-white;
  z-index: 99999;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  animation: typing 1s linear forwards;
  opacity: 0;
}

.status-message-logo {
  width: 120px;
  height: 120px;
}

.status-message-text {
  color: $color-white-always;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.status-message-name {
  color: $color-white-always;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


