@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

  @include s1-s3 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.link-menu {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.4s;
  width: 100%;
  justify-content: flex-end;

  @include s3-s6-max {
    &:hover {
      color: $color-accent;
      transition: 0.4s;
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

      span {
        transition: 0.4s;
        transform: translate(-5px) scale(1.1);
        font-weight: 600;
      }

      .fa-solid,
      .fa-regular {
        color: $color-accent;
        transform: translate(5px) scale(1.1);
        transition: 0.4s;
      }
    }
  }

  @include s1-s3 {
    width: 45%;
    border: 1px solid $color-primary;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    justify-content: space-between;
  }

  .link-icon {
    padding: 0 10px;
  }
}

.link-text {
  font-size: 14px;
  font-family: $font-main;
  @include s1-s3 {
    font-size: 12px;
  }
}

.fa-solid,
.fa-regular {
  color: $color-text;
  font-size: 25px;
}

.status {
  display: flex;
  position: absolute;
  right: 10px;
  top: -5px;
  width: 25px;
  height: 25px;
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 50;
  &:hover {
    transform: translate(5px) scale(1.1);
  }
}

.count {
  font-weight: 600;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
