@use "../../../style/presets/" as *;

.card-box {
  height: 50vh;
  width: 100%;
  overflow: auto;
}

.card-box::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accent {
  color: $color-accent;
  font-weight: 600;
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  border-radius: 50%;
  height: 130px;
  transition: all 0.3s ease;

  &:hover,
  :focus {
    transform: scale(1.05);
  }
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  align-items: center;
  align-content: center;
}

.card-title {
  position: absolute;
  bottom: -35px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  background-color: $color-white;
  border-radius: 5px;
}

h2 {
  margin: 0;
}

.selected .card-title {
  font-size: 16px;
  padding: 5px;
  color: $color-accent;
  font-weight: 600;
}

.selected .card-body  {
  border: 4px solid $color-accent;
}

.selected {
  transition: 2s;
  border-radius: 50%;
  transform: scale(1.1);
  z-index: 999;
}

.card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 50%;
}



.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-name {
  display: flex;
}

.card-img-container {
  position: relative;
  width: 120px;
  height: 120px;
  transition: all 0.3s ease;
}

.card-img-top {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  transition: all 0.3s ease;
}

.card-social-link {
  font-size: 20px;
  display: flex;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin: 1px 15px;
  padding: 0;
}

.accent {
  color: $color-accent;
  font-weight: 600;
}


.btn {
  color: $color-text;
  height: 35px;
}

.title-group {
  width: 100%;
  display: flex;
  border: 1px solid $color-primary;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-container {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

input {
  height: 100px;
}

.message-content {
  flex: 1;
}

.chat-input {
  display: flex;
  align-items: stretch;
  padding: 10px;
  border-top: 1px solid #ddd;
  flex-direction: column;
}

.container-sticker.input[type="text"] {
  font-size: 12px;
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.container-sticker {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;
  top: -10px;
  right: 10px;
}

.status-container {
  display: flex;
  justify-content: flex-end;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);
}


