@use "../../../style/presets/" as *;

.card-box {
  height: 50vh;
  width: 100%;
  overflow: auto;
}

.card-box::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.accent {
  color: $color-accent;
  font-weight: 600;
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 90px;
  transition: all 0.3s ease;

  &:hover,
  :focus {
    transform: scale(1.05);
  }
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.card-title {
  font-size: 16px;
  margin: 3px 3px 0 0;
  padding: 0;
}

.card-body {
  width: 60%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.selected {
  background-color: #f0f0f0;
  border-color: $color-dark;
}


.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-name {
  display: flex;
}

.card-img-container {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover,
  :focus {
    width: 70%;
  }
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-social-link {
  font-size: 20px;
  display: flex;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin: 1px 15px;
  padding: 0;
}

.fab {
  font-size: 20px;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.card.selected {
  color: $color-white;
  background-color: $color-dark;
  transition: 1s;
  height: 120px;
}

.accent {
  color: $color-accent;
  font-weight: 600;
}

.card.selected .card-img-container {
  width: 50%;
}

.btn {
  color: $color-text;
  height: 35px;
}

.title-group {
  width: 100%;
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-white;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.chat-header.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.chat-container {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

input {
  height: 100px;
}

.message-content {
  flex: 1;
}

.chat-input {
  display: flex;
  align-items: stretch;
  padding: 10px;
  border-top: 1px solid #ddd;
  flex-direction: column;
}

.container-sticker.input[type="text"] {
  font-size: 12px;
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.card.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
}


.container-sticker {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;
  top: -10px;
  right: 10px;
}

.status-container {
  display: flex;
  justify-content: flex-end;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);
}


