<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="card-container">
    <div class="cards-container p-2" *ngIf="chats.length === 0">
      <h3>Тут будуть чати</h3>
      <p>У вас поки немає чатів...</p>
    </div>

    <div class="cards-container p-2" *ngIf="chats.length !== 0">
      <div class="card-mini mb-3" *ngFor="let chat of chats" (click)="selectChat(chat)"
        [ngClass]="{ 'selected': chat.isSelected}">

        <div class="notification-box" *ngIf="chat.unread !== 0">
          <div class="notification-num">{{chat.unread}}</div>
        </div>

        <div class="card-mini-img-container">
          <img class="card-mini-img"
            [src]="serverPathPhotoFlat + (chat.infFlat.imgs[0].img ? chat.infFlat.imgs[0].img : 'user_default.svg')"
            alt="img">
        </div>
        <div class="card-body">
          <div class="t-med name bold ">Оселя: {{ chat.flat_name }} <br> <span class="accent"> ID оселі: {{ chat.flat_id }}</span></div>
          <div class="t-min message">{{ chat.lastMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
