<div class="container">
    <h1>Our Developers</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../assets/photo1.png" alt="Developer 1">
                <div class="card-content">
                    <h3>Developer 1</h3>
                    <p>Front-end Developer</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit faucibus libero, vel
                        volutpat velit hendrerit a. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/photo2.jpg" alt="Developer 2">
                <div class="card-content">
                    <h3>Developer 2</h3>
                    <p>Back-end Developer</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit faucibus libero, vel
                        volutpat velit hendrerit a. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
</div>