@use "../../style/presets/" as *;

.container-card {
  display: flex;
  align-items: stretch;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.card-name {
  display: contents;
  margin-bottom: 20px;
}

.form-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.card-box {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.box {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.box-watch {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1.2rem 5px 1.5rem 5px;
  border-radius: 10px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  right: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #36343487;
  letter-spacing: 00.05em;
  transition: 0.6s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: rgb(0, 0, 0);
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

.alert-danger {
  position: absolute;
  bottom: -2rem;
  background: none;
  color: rgb(242, 132, 132);
  border: none;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  z-index: 30;
  font-size: 13px;
  align-items: center;
}

p {
  color: $color-light;
}

.btn-group {
  display: flex;
  width: 100%;
}

.btn {
  color: $color-primary;
  height: 45px;

  &:hover {
    color: black;
  }
  &.active {
    background-color: white;
    color: $color-accent;
  }
}

.btn {
  color: $color-primary;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.2s ease;
  letter-spacing: 1px;

  &:hover {
    color: black;
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow: inset -10px -10px 40px rgba(0, 0, 0, 0.105), inset 10px 10px 40px rgba(0, 0, 0, 0.105);
  }

  &.active {
    color: black;
    letter-spacing: 5px;
    font-weight: bold;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.105), 10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}


.btn-text {
  font-size: 0.8em;
}

.span {
  display: flex;
  color: $color-primary;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

.form-control {
  width: 100%;
  background: none;
  border: 2px solid $color-accent;
  color: $color-white;
}

.link-text {
  font-size: 20px;
}

.link-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.link-item {
  display: flex;
  justify-content: center;
  transition: 0.4s;
  background-color: $color-white;
  padding: 5px;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

select {
  background-color: $color-accent;
  border-radius: 10px;
  padding: 5px;
}

.link-box {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.105), 10px 20px 40px rgba(0, 0, 0, 0.162);
  display: flex;
  background-color: $color-white;
  border-radius: 20px;
  align-content: center;
  flex-direction: column;
}

.card-date {
  overflow: hidden;
}

.month-list {
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.month {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.watch {
  background-color: $color-white;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid $color-accent;
  height: 500px;
  border-left: 1px solid rgb(189, 189, 189);
}

