@use "../../style/presets/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-card {
  display: flex;
  align-items: stretch;
}

.card {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.card-name {
  display: contents;
  margin-bottom: 20px;
}

.form-box {
  display: flex;
}

.card-box {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}

.box {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.box-watch {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1.2rem 5px 1.5rem 5px;
  border-radius: 10px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  right: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #36343487;
  letter-spacing: 00.05em;
  transition: 0.6s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: rgb(0, 0, 0);
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

.alert-danger {
  position: absolute;
  bottom: -2rem;
  background: none;
  color: rgb(242, 132, 132);
  border: none;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  z-index: 30;
  font-size: 13px;
  align-items: center;
}

.btn-group {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn {
  color: $color-primary;
  height: 45px;

  &:hover {
    color: black;
  }
  &.active {
    background-color: white;
    color: $color-accent;
  }
}

.btn {
  color: $color-primary;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.2s ease;
  letter-spacing: 1px;

  &:hover {
    color: black;
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow: inset -10px -10px 40px rgba(0, 0, 0, 0.105), inset 10px 10px 40px rgba(0, 0, 0, 0.105);
  }

  &.active {
    color: black;
    letter-spacing: 5px;
    font-weight: bold;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.105), 10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.btn-save {
  background-color: rgba(0, 128, 0, 0.154) !important;
}

.btn-save {
  display: flex;
  border: none;
  background-color: tomato;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));


    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.fa-solid,
.fa-regular {
  color: rgba(33, 33, 33, 0.75);
}


.btn-text {
  font-size: 0.8em;
}

.span {
  display: flex;
  color: $color-primary;
}

.box-item {
  display: flex;
}

.form-floating {
  color: black;
}

.form-control {
  color: black;
}

.scrollable-textarea {
  color: black;
}

textarea {
  position: relative;
  resize: both;
  min-width: 100%;
  max-width: fit-content;
  overflow-y: auto;
}

textarea {
  height: auto;
  min-height: 80px;
}

.scrollable-textarea {
  height: auto;
  overflow: auto;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

.form-control {
  width: 100%;
  background: none;
  border: 2px solid $color-accent;
}

.link-text {
  font-size: 20px;
}

.link-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.link-item {
  display: flex;
  justify-content: center;
  transition: 0.4s;
  background-color: $color-white;
  padding: 5px;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.link-box {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.105), 10px 20px 40px rgba(0, 0, 0, 0.162);
  display: flex;
  background-color: $color-white;
  border-radius: 20px;
  align-content: center;
  flex-direction: column;
}

.date-box {
  display: flex;
  justify-content: space-around;
}

p {
  color: $color-text;
  font-size: 14px;
}

h4 {
  margin-bottom: 10px;
}
