<app-navbar-comun></app-navbar-comun>

<div class="card-box">

  <div [@cardAnimation] class="container-card col-lg-5 col-md-5 col-sm-12 col-12">
    <div class="card m-2 p-2">
      <div class="card-name">
        <h4>Статистика</h4>
        <h4>за весь рік</h4>
      </div>

      <form class="form-box">
        <div class="inputbox">
          <input type="text" name="ACCOUNT-FOR" required>
          <span>Спожито загалом/рік:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Оплачено загалом/рік:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="text" name="ACCOUNT-FOR" required>
          <span>δ/міс оплата:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>δ/міс спожито:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>δ/міс оплата прогнозоване:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>δ/міс спож. прогнозоване:</span>
          <i class="orange"></i>
        </div>
      </form>
    </div>
  </div>

  <div [@cardAnimation] class="container-card col-lg-5 col-md-5 col-sm-12 col-12">
    <div class="card m-2 p-2">
      <div class="card-name">
        <h4>Статистика</h4>
        <h4>за обраний період</h4>
      </div>

      <form class="form-box">
        <div class="inputbox">
          <input type="text" name="ACCOUNT-FOR" required>
          <span>Спожито:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Оплачено:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="text" name="ACCOUNT-FOR" required>
          <span>Попередні показники:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Поточні показники:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Тариф:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input type="number" name="PERSONAL-ACCOUNT" required>
          <span>Розрахунок:</span>
          <i class="orange"></i>
        </div>
      </form>

      <!-- Кнопки -->
      <div class="btn-group">
        <button class="btn mt-3"><span class="btn-text">ЗБЕРЕГТИ</span></button>
        <button type="reset" class="btn mt-3 ml-3"><span class="btn-text">СКИНУТИ</span></button>
      </div>

    </div>
  </div>

  <div [@cardAnimation] class="container-card col-lg-2 col-md-2 col-sm-4 col-4">
    <div class="box-watch m-2 p-2">
      <div class="link-box p-2">
        <div class="card-date">
          <div class="month-list" (wheel)="onMouseWheel($event)">
            <div class="month" *ngFor="let month of months">
              <a href="" class="link-item">{{ month }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="watch p-1">
        <div class="card-date">
        </div>
      </div>
    </div>
  </div>

</div>
