@use "../../style/presets/" as *;

.container-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: stretch;
}

.disabledNot {
  color: $color-accent !important;
  opacity: 1 !important;
  pointer-events: none;
}

.item-select {
  width: 100%;
  height: 60px !important;
}

.item-group {
  display: flex;
  height: 70px;
}

// .border-group {
//   border-radius: 10px;
//   padding: 5px;
//   box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.05), 1px 10px 10px rgba(0, 0, 0, 0.056);
// }

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-box {
  display: flex;
}

.card-name {
  display: flex;
}

.btn-group {
  display: flex;
}

.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-light;
  height: 45px;
  font-size: 12px;
}

textarea {
  min-height: 100px;
}

.group-label {
  font-weight: 600;
  text-align: center;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="radio"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

mat-form-field {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.item-select {
  width: 100%;
}

.item-width-50 {
  width: 47%;
}
