<app-navbar-comun></app-navbar-comun>

<div class="box-date">
  <div class="list p-2">
    <mat-form-field class="list-form" appearance="outline">
      <mat-label class="list-label">Рік</mat-label>
      <mat-select class="list-select" name="selectedYear" [(ngModel)]="selectedYear"
        (selectionChange)="onSelectionChangeYear()" required>
        <mat-option class="list-option" *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="list p-2">
    <mat-form-field class="list-form" appearance="outline">
      <mat-label class="list-label">Місяць</mat-label>
      <mat-select class="list-select" name="selectedMonth" [(ngModel)]="selectedMonth"
        (selectionChange)="onSelectionChangeMonth()" required>
        <mat-option class="list-option" *ngFor="let month of months" [value]="month">
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>


<div class="card-box">
  <div [@cardAnimation] class="container-card col-lg-6 col-md-6 col-sm-12 col-12">

    <div class="card m-2 p-2">
      <div class="card-name">
        <h4>Статистика</h4>
      </div>

      <form class="form-box" [formGroup]="comunStatisticsYear">
        <div class="inputbox">
          <input required="required" type="number" id="totalPaid" name="totalPaid" formControlName="totalPaid">
          <span>Оплачено загалом/рік:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="monthAveragePaid" name="monthAveragePaid"
            formControlName="monthAveragePaid">
          <span>δ/міс оплата:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="monthPredictedPaid" name="monthPredictedPaid"
            formControlName="monthPredictedPaid">
          <span>δ/міс оплата прогнозоване:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="totalConsumption" name="totalConsumption"
            formControlName="totalConsumption">
          <span>Спожито загалом/рік:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="monthAverageConsumption" name="monthAverageConsumption"
            formControlName="monthAverageConsumption">
          <span>δ/міс спожито:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="monthPredictedConsumption" name="monthPredictedConsumption"
            formControlName="monthPredictedConsumption">
          <span>δ/міс спож. прогнозоване:</span>
          <i class="orange"></i>
        </div>
      </form>
    </div>
  </div>

  <div [@cardAnimation] class="container-card col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card m-2 p-2">
      <div class="card-name">
        <h4>Статистика</h4>
      </div>

      <form class="form-box" [formGroup]="comunStatisticsMonth">
        <div class="inputbox">
          <input required="required" type="number" id="consumed" name="consumed" formControlName="consumed">
          <span>Спожито:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="howmuch_pay" name="howmuch_pay" formControlName="howmuch_pay">
          <span>Оплачено:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="comunal_before" name="comunal_before"
            formControlName="comunal_before">
          <span>Попередні показники:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="comunal_now" name="comunal_now"
            formControlName="comunal_now">
          <span>Поточні показники:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="tariff" name="tariff" formControlName="tariff">
          <span>Тариф:</span>
          <i class="orange"></i>
        </div>
        <div class="inputbox">
          <input required="required" type="number" id="calculation" name="calculation" formControlName="calculation">
          <span>Розрахунок:</span>
          <i class="orange"></i>
        </div>
      </form>

      <div class="btn-group">
        <button class="btn btn-primary mt-3" (click)="onSubmitSaveComunStatisticsMonth()">ЗБЕРЕГТИ</button>
        <button type="reset" class="btn btn-secondary mt-3 ml-3" (click)="resetComunStatistics()">СКИНУТИ</button>
      </div>

    </div>
  </div>
</div>
