<div class="content-component">
  <div class="switch-container">

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min white">Назад</div>
      </button>
    </div>

    <div class="menu-box hide-mobile">
      <div class="menu-lable">Меню</div>
      <div class="menu-name">Налаштування Оселі</div>
    </div>

    <div class="hide-pc">
      <div class="switch-btn-group">
        <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/edit-house/instruction'">
          <i class="fa-solid fa-shoe-prints"></i>
          <div class="t-min bold">Кроки</div>
        </button>
      </div>
    </div>

    <div class="switch-btn-group" *ngIf="acces_admin === 1 && acces_flat_features === 1">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/edit-house/address'">
        <i class="fa-solid fa-location-dot"></i>
        <div class="t-min">Розт.</div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="acces_admin === 1 && acces_flat_features === 1">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/edit-house/param'">
        <i class="fa-solid fa-trowel-bricks"></i>
        <div class="t-min">Парам.</div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="acces_admin === 1 && acces_flat_features === 1">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/edit-house/photo'">
        <i class="fa-solid fa-images"></i>
        <div class="t-min">Фото</div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="acces_flat_features === 1">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/edit-house/about'">
        <i class="fa-solid fa-users-gear"></i>
        <div class="t-min">Особл.</div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="acces_flat_features === 1">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/edit-house/additional-info'">
        <i class="fa-regular fa-address-book"></i>
        <div class="t-min">Додат.</div>
      </button>
    </div>
  </div>
  
  <div class="main-container">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 hide-mobile">
      <div class="card-wrapper">
        <div class="card-content w-100">
          <app-instruction></app-instruction>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
