<div class="container-fluid">
  <h2>Home account</h2>
  <div class="container-fluid utility-payments-container">
    <div class="card" style="width: 18rem;">
      <div class="img-fluid"> <img src="../../assets/photo1.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Інформація про орендодавця</h4>
        <p class="card-text">Кононов Денис Анатолійович</p>
        <a href="tel:+380677727447" class="tel">tel: +380677727447</a>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Документи <i class="fa-solid fa-passport"></i></a>
        <a href="#" class="card-link">Запросити доступ <i class="fa-solid fa-handshake-angle"></i></a>
        <a href="#" class="card-link">Запросити реквізити <i class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="img-fluid"><img src="../../assets/previewlist-314.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Інформація про оселю</h4>
        <p class="card-text">Адреса</p>
        <p class="card-text">м.Київ, вулиця Чорнобильська 19, <br> квартира 29</p>
      </div>
      <div class="card-body">
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'">Послуги <i
            class="fa-sharp fa-solid fa-house-laptop"></i></a>
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'">Замовлення послуг <i
            class="fa-solid fa-truck-fast"></i></a>
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'">Зауваження <i
            class="fa-sharp fa-solid fa-message"></i></a>
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'">Оплата послуг <i
            class="fa-solid fa-credit-card"></i></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="img-fluid"> <img src="../../assets/photo2.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Інформація про орендатора</h4>
        <p class="card-text">Селіверстов Віталій Сергійович</p>
        <a href="tel:+380677727447" class="tel">tel: +380677727447</a>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Документи <i class="fa-solid fa-passport"></i></a>
        <a href="#" class="card-link">Надати доступ <i class="fa-solid fa-handshake-angle"></i></a>
        <a href="#" class="card-link">Запросити реквізити <i class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>
    </div>

  </div>