<div class="container-fluid">
  <div class="container-title">
    <h1>Home account</h1>
    <p>Ця сторінка створена для взаємодії орендодавця з орендатором. <br> Вона дає можливість додавати та видаляти зі списку
      проживаючих аккаунти орендувальників. Дає можливість переглядати доступні послуги, замовляти нові. Для зручності можна прив'язувати
      карти для оплати всіх послуг в пару кліків.</p>
  </div>
  <div class="container-fluid utility-payments-container">
    <div class="card" style="width: 18rem;">
      <div class="img-fluid"> <img src="../../assets/photo1.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Інформація про орендодавця</h4>
        <p class="card-text">Кононов Денис Анатолійович</p>
        <a href="tel:+380677727447" class="tel">tel: +380677727447</a>
      </div>
      <div class="card-body">
        <a href="#" class="card-link"><span>Документи</span><i class="fa-solid fa-passport"></i></a>
        <a href="#" class="card-link"><span>Запросити доступ</span><i class="fa-solid fa-handshake-angle"></i></a>
        <a href="#" class="card-link"><span>Запросити реквізити</span><i class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="img-fluid"><img src="../../assets/previewlist-314.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Інформація про оселю</h4>
        <p class="card-text">Адреса</p>
        <p class="card-text">м.Київ, вулиця Чорнобильська 19, <br> квартира 29</p>
      </div>
      <div class="card-body">
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'"><span>Послуги</span><i
            class="fa-sharp fa-solid fa-house-laptop"></i></a>
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'"><span>Замовлення послуг</span><i
            class="fa-solid fa-truck-fast"></i></a>
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'"><span>Обговорення</span><i
            class="fa-sharp fa-solid fa-message"></i></a>
        <a class="card-link" [routerLinkActive]="'active'" [routerLink]="'/services'"><span>Оплата послуг</span><i
            class="fa-solid fa-credit-card"></i></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="img-fluid"> <img src="../../assets/photo2.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Інформація про орендатора</h4>
        <p class="card-text">Селіверстов Віталій Сергійович</p>
        <a href="tel:+380677727447" class="tel">tel: +380677727447</a>
      </div>
      <div class="card-body">
        <a href="#" class="card-link"><span>Документи</span><i class="fa-solid fa-passport"></i></a>
        <a href="#" class="card-link"><span>Надати доступ</span><i class="fa-solid fa-handshake-angle"></i></a>
        <a href="#" class="card-link"><span>Запросити реквізити</span><i class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>
    </div>

  </div>
