@use "../housing-services.component.scss";
@use "../../style/shared.scss" as *;
@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.year {
  font-size: 40px;
  font-weight: 600;
}

.btnYear {
  background-color: transparent;
  padding: 5px;
  .fa-regular {
    color: $color-gray;
  }
}

