.form-box {
  width: 100%;
  display: flex;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-around;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  border: none;
  height: 4rem;
  background-color: none;
}
.list-label {
  border: none;
  padding: 0;
}
.list-select {
  border: none;
  font-size: 20px;
}
.list-option {
  border: none;
  border-radius: 10px;
}
