<div *ngIf="rent">

  <div class="status-container">
    <div class="status-box">
      <div class="status-value" *ngIf="HouseInfo.room === 1">К</div>
      <div class="status-value" *ngIf="HouseInfo.option_flat === 1">Будинок</div>
      <div class="status-value" *ngIf="HouseInfo.option_flat === 2">Кв</div>
      <div class="status-value" *ngIf="HouseInfo.woman === 1">W</div>
      <div class="status-value" *ngIf="HouseInfo.man === 1">M</div>
      <div class="status-value" *ngIf="HouseInfo.students === 1">S</div>
      <div class="status-value" *ngIf="HouseInfo.family === 1">F</div>
    </div>
    <div class="status-hover">
      <div class="status-hover-label">Допомога</div>
      <div class="status-hover-text">
        <ul *ngIf="HouseInfo.woman === 1 || HouseInfo.man === 1 || HouseInfo.students === 1 || HouseInfo.family === 1">
          Пошук орендара:
          <li *ngIf="HouseInfo.woman === 1" class="status-hover-li">
            <div class="status-value">W</div> - жінки
          </li>
          <li *ngIf="HouseInfo.man === 1" class="status-hover-li">
            <div class="status-value">M</div> - чоловіка
          </li>
          <li *ngIf="HouseInfo.students === 1" class="status-hover-li">
            <div class="status-value">S</div> - студента
          </li>
          <li *ngIf="HouseInfo.family === 1" class="status-hover-li">
            <div class="status-value">F</div> - сім'ї
          </li>
        </ul>

        <ul *ngIf="HouseInfo.option_flat || HouseInfo.room === 1">
          Здаю оселю, тип оселі:
          <li *ngIf="HouseInfo.option_flat === 1" class="status-hover-li">
            <div class="status-value">Б</div> - Будинок
          </li>
          <li *ngIf="HouseInfo.option_flat === 2" class="status-hover-li">
            <div class="status-value">Кв</div> - Квартира
          </li>
          <li *ngIf="HouseInfo.room === 1" class="status-hover-li">
            <div class="status-value">К</div> - Кімната
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="param-box ">
    <div class="param-name  mt-4">Мої параметри оселі
      <p class="t-min ">за якими мене знайдуть в пошуку</p>
      <a class="param-name-text" [routerLink]="'/housing-parameters/host/about'"><i
          class="fa-solid fa-arrow-right"></i><span class="ml-2">перейти щоб деактивувати</span></a>
    </div>
  </div>

  <div class="param-box ">
    <div class="param-label">Параметри оселі:</div>
    <div class="param-group">
      <div class="param-field" *ngIf="HouseInfo.option_flat">
        <div *ngIf="HouseInfo.room === 1">
          Здаю:<span class="param-value"> Кімнату </span>
        </div>

        <div *ngIf="HouseInfo.option_flat === 1">
          Тип оселі:<span class="param-value"> Будинок </span>
        </div>

        <div *ngIf="HouseInfo.option_flat === 2">
          Тип оселі:<span class="param-value"> Квартира </span>
        </div>
      </div>

      <div class="param-field" *ngIf="HouseInfo.area !== 'Приховати' && HouseInfo.area !== null">
        Площа:<span class="param-value">{{ HouseInfo.area }}м²</span> </div>

      <div class="param-field" *ngIf="HouseInfo.repair_status !== 'Приховати' && HouseInfo.repair_status !== null">Стан
        оселі:<span class="param-value">{{ HouseInfo.repair_status }}</span> </div>

      <div class="param-field" *ngIf="HouseInfo.rooms !== 'Приховати' && HouseInfo.rooms !== null">
        Кімнат:<span class="param-value">{{ HouseInfo.rooms }}</span> </div>

      <div class="param-field" *ngIf="HouseInfo.floor && HouseInfo.floor !== null">Поверх:<span class="param-value">{{
          HouseInfo.floor }}</span> </div>

      <div class="param-field" *ngIf="HouseInfo.balcony">Тип
        балкону:<span class="param-value">{{ HouseInfo.balcony }}</span> </div>

      <div class="param-field" *ngIf="HouseInfo.kitchen_area !== 'Приховати' && HouseInfo.kitchen_area !== null">Площа
        кухні:<span class="param-value">{{ HouseInfo.kitchen_area }}м²</span> </div>
    </div>
  </div>

  <div class="param-box"
    *ngIf="HouseInfo.distance_metro || HouseInfo.distance_stop || HouseInfo.distance_shop || HouseInfo.distance_green || HouseInfo.distance_parking">
    <div class="param-label">Інфраструктура:</div>
    <div class="param-group">
      <div class="param-field" *ngIf="HouseInfo.distance_metro && HouseInfo.distance_metro !== null">Метро
        до:<span class="param-value">{{ aboutDistance[HouseInfo.distance_metro] }}</span> </div>
      <div class="param-field" *ngIf="HouseInfo.distance_stop && HouseInfo.distance_stop !== null">Зупинка
        до:<span class="param-value">{{ aboutDistance[HouseInfo.distance_stop] }}</span> </div>
      <div class="param-field" *ngIf="HouseInfo.distance_shop && HouseInfo.distance_shop !== null">Маркет
        до:<span class="param-value">{{ aboutDistance[HouseInfo.distance_shop] }}</span> </div>
      <div class="param-field" *ngIf="HouseInfo.distance_green && HouseInfo.distance_green !== null">Парк
        до:<span class="param-value">{{ aboutDistance[HouseInfo.distance_green] }}</span> </div>
      <div class="param-field" *ngIf="HouseInfo.distance_parking && HouseInfo.distance_parking !== null">
        Паркінг до:<span class="param-value">{{ aboutDistance[HouseInfo.distance_parking] }}</span> </div>
    </div>
  </div>

  <div class="param-box">
    <div class="param-label">Особливості:</div>
    <div class="param-group">

      <div class="param-field" *ngIf="HouseInfo.option_pay !== null">Оплата:<span class="param-value">{{
          option_pay[HouseInfo.option_pay] }}</span> </div>

      <div class="param-field" *ngIf="HouseInfo.bunker !== 'Приховати' && HouseInfo.bunker !== null">Наявність
        укриття:<span class="param-value">{{ HouseInfo.bunker }}</span> </div>
      <div class="param-field" *ngIf="HouseInfo.animals && HouseInfo.animals !== null">Дозвіл на тварин: <span
          class="param-value">{{ animals[HouseInfo.animals] }} </span> </div>
    </div>
  </div>

  <div class="p-2" *ngIf="HouseInfo.about">
    <div class="t-lar dark bold">Додаткова інформація:</div>
    <div class="t-min ">{{ HouseInfo.about }}</div>
  </div>

</div>

<div *ngIf="!rent">
  <a class="stub-card-link" [routerLink]="'/housing-parameters/host/about'">
    <img class="stub-card-logo" src="{{path_logo}}" alt="logo">
    <p class="t-lar accent bold t-c">"Пошуковий профіль оселі"</p>
    <p class="t-min bold t-c">Вимкнено, натисніть сюди для його активації</p>
  </a>
  <p class="t-lar gray mt-3 t-c">Тут будуть параметри вашої оселі і те як їх бачать орендарі в Discussio.
    Заповніть форму та чекайте коли на Вас підпишуться орендарі.</p>
</div>
