@use "../../../style/presets/" as *;

.container-box {
  display: flex;
}

.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.container-slider {
  max-width: fit-content;
}

.item-wrapper,
.content-description {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: transform 1s;
    transform: scale(1.2);

    span {
      transition: transform 1s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular,
    .fa-brands {
      color: $color-accent;
      transform: translate(10px) scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.fab {
  font-size: 20px;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.carousel-inner {
  border-radius: 10px;
}



.btn {
  color: $color-text;
  background-color: $color-white;
  padding: 10px 20px;
  margin: 5px;
  &:hover {
    background-color: $color-accent;
    color: $color-white;
  }
}

a.link {
  position: relative;
}

a {
  padding: 10px;
  margin: 10px;
}

.notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.notifications .badge {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  content: "";
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.characteristics-label {
  font-size: 16px;
}

.characteristics-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-characteristics {
  font-size: 12px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-primary;
}

.item-characteristics-price {
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}

.item {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}

.forWho {
  color: $color-accent;
  font-size: 16px;
  margin: 2px;
  border-radius: 10px;
}

.about {
  font-size: 13px;
}

.container-sticker {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;
  top: -26px;
  right: 10px;
}

.status-container {
  display: flex;
  justify-content: flex-end;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);
}

.param {
  background-color: $color-dark;
}
