<div class="status-container">
  <div class="status-box">
    <div class="status-value" *ngIf="about.room === 1">К</div>
    <div class="status-value" *ngIf="param.option_flat === 1">Будинок</div>
    <div class="status-value" *ngIf="param.option_flat === 2">Кв</div>
    <div class="status-value" *ngIf="about.woman === 1">W</div>
    <div class="status-value" *ngIf="about.man === 1">M</div>
    <div class="status-value" *ngIf="about.students === 1">S</div>
    <div class="status-value" *ngIf="about.family === 1">F</div>
  </div>
  <div class="status-hover">
    <div class="status-hover-label">Допомога</div>
    <div class="status-hover-text">
      <ul *ngIf="about.woman === 1 || about.man === 1 || about.students === 1 || about.family === 1">
        Пошук орендара:
        <li *ngIf="about.woman === 1" class="status-hover-li">
          <div class="status-value">W</div> - жінки
        </li>
        <li *ngIf="about.man === 1" class="status-hover-li">
          <div class="status-value">M</div> - чоловіка
        </li>
        <li *ngIf="about.students === 1" class="status-hover-li">
          <div class="status-value">S</div> - студента
        </li>
        <li *ngIf="about.family === 1" class="status-hover-li">
          <div class="status-value">F</div> - сім'ї
        </li>
      </ul>

      <ul *ngIf="param.option_flat || about.room === 1">
        Здаю оселю, тип оселі:
        <li *ngIf="param.option_flat === 1" class="status-hover-li">
          <div class="status-value">Б</div> - Будинок
        </li>
        <li *ngIf="param.option_flat === 2" class="status-hover-li">
          <div class="status-value">Кв</div> - Квартира
        </li>
        <li *ngIf="about.room === 1" class="status-hover-li">
          <div class="status-value">К</div> - Кімната
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="param-box ">
  <div class="param-name  mt-4">Мої параметри оселі
    <p class="t-min ">за якими мене знайдуть в пошуку</p>
    <a class="param-name-text" [routerLink]="'/housing-parameters/host/about'"><i class="fa-solid fa-arrow-right"></i><span
        class="ml-2">перейти щоб деактивувати</span></a>
  </div>

  <div class="param-label">Параметри оселі:</div>
  <div class="param-group">
    <div class="param-field" *ngIf="param.option_flat">
      <div *ngIf="about.room === 1">
        Здаю:<span class="param-value"> Кімнату </span>
      </div>

      <div *ngIf="param.option_flat === 1">
        Тип оселі:<span class="param-value"> Будинок </span>
      </div>

      <div *ngIf="param.option_flat === 2">
        Тип оселі:<span class="param-value"> Квартира </span>
      </div>
    </div>


    <div class="param-field" *ngIf="param.area !== 'Приховати' && param.area !== null">
      Площа:<span class="param-value">{{ param.area }}м²</span> </div>

    <div class="param-field" *ngIf="param.repair_status !== 'Приховати' && param.repair_status !== null">Стан
      оселі:<span class="param-value">{{ param.repair_status }}</span> </div>

    <div class="param-field" *ngIf="param.rooms !== 'Приховати' && param.rooms !== null">
      Кімнат:<span class="param-value">{{ param.rooms }}</span> </div>

    <div class="param-field" *ngIf="param.floor !== 0 && param.floor !== null">Поверх:<span class="param-value">{{
        param.floor }}</span> </div>

    <div class="param-field" *ngIf="param.balcony">Тип
      балкону:<span class="param-value">{{ param.balcony }}</span> </div>

    <div class="param-field" *ngIf="param.kitchen_area !== 'Приховати' && param.kitchen_area !== null">Площа
      кухні:<span class="param-value">{{ param.kitchen_area }}м²</span> </div>

  </div>
</div>

<div class="param-box"
  *ngIf="about.distance_metro || about.distance_stop || about.distance_shop || about.distance_green || about.distance_parking">
  <div class="param-label">Інфраструктура:</div>
  <div class="param-group">
    <div class="param-field" *ngIf="about.distance_metro !== 0 && about.distance_metro !== null">Метро
      до:<span class="param-value">{{ aboutDistance[about.distance_metro] }}</span> </div>
    <div class="param-field" *ngIf="about.distance_stop !== 0 && about.distance_stop !== null">Зупинка
      до:<span class="param-value">{{ aboutDistance[about.distance_stop] }}</span> </div>
    <div class="param-field" *ngIf="about.distance_shop !== 0 && about.distance_shop !== null">Маркет
      до:<span class="param-value">{{ aboutDistance[about.distance_shop] }}</span> </div>
    <div class="param-field" *ngIf="about.distance_green !== 0 && about.distance_green !== null">Парк
      до:<span class="param-value">{{ aboutDistance[about.distance_green] }}</span> </div>
    <div class="param-field" *ngIf="about.distance_parking !== 0 && about.distance_parking !== null">
      Паркінг до:<span class="param-value">{{ aboutDistance[about.distance_parking] }}</span> </div>
  </div>
</div>

<div class="param-box">
  <div class="param-label">Особливості:</div>
  <div class="param-group">

    <div class="param-field" *ngIf="about.option_pay !== null">Оплата:<span class="param-value">{{
        option_pay[about.option_pay] }}</span> </div>

    <div class="param-field" *ngIf="about.bunker !== 'Приховати' && about.bunker !== null">Наявність
      укриття:<span class="param-value">{{ about.bunker }}</span> </div>
    <div class="param-field" *ngIf="about.animals !== 0 && about.animals !== null">Дозвіл на тварин: <span
        class="param-value">{{ animals[about.animals] }} </span> </div>
  </div>
</div>

<div class="p-2" *ngIf="about.about">
  <div class="t-lar dark bold">Додаткова інформація:</div>
  <div class="t-min ">{{ about.about }}</div>
</div>
