<div class="btn-group">
  <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="МІЙ ПРОФІЛЬ" [routerLink]="'/user/info'">
    <div class="img-fluid">
      <img [src]="'http://localhost:3000/img/users/' + (userImg ? userImg : 'user_default.svg')" alt="User Image" class="img-fluid rounded">
    </div>
  </a>
  <ng-container *ngIf="houses.length > 0 || houses === null || houses === undefined">
    <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="МОЇ ОСЕЛІ" [routerLink]="'/house'">
      <img [src]="'http://localhost:3000/img/flat/' + flatImg[0].img" alt="Flat Image" class="img-fluid rounded">
    </a>
  </ng-container>
</div>

<ng-container *ngIf="houses.length > 0 || houses === null || houses === undefined">
  <mat-form-field class="list-form mb-3" appearance="outline">
    <mat-label>ОСЕЛЯ</mat-label>
    <mat-select class="list-select" [(value)]="selectedFlatId" (selectionChange)="onSelectionChange()">
      <mat-option disabled value="">виберіть оселю</mat-option>
      <mat-option class="list-option" *ngFor="let house of houses" [value]="house.name">{{house.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<div *ngIf="loading" class="loader-overlay">
  <div class="loader"></div>
</div>

