@use "../../style/presets/" as *;

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.fa-regular,
.fa-solid {
  font-size: 35px;
  transition: 0.4s;
  color: $color-primary;

  &:hover {
    transition: 0.4s;
    color: $color-accent;
  }
  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  border: none;
  height: 3rem;
}
.list-label {
  border: none;
  padding: 0;
}
.list-select {
  border: none;
  font-size: $font-size;
  font-family: $font-main;
  font-weight: bold;
}
.list-option {
  border: none;
  background-color: none;
  font-size: $font-size;
  font-family: $font-main;
  font-weight: bold;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.link-btn {
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));


  &:hover {
    transition: 0.4s;
    color: $color-accent;
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 10px $color-accent);
  }
  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.rent {
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    color: $color-dark;
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-dark;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-dark;
  }

  &.active {
    color: $color-dark;
    box-shadow: 0px 0px 10px $color-dark;
    border-color: $color-dark;
  }
}

.link-btn:hover {
  background-color: #ccc;
}

.link-btn.with-image {
  position: relative;
  overflow: hidden;
}

.link-btn.with-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
