@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.content-component {
  @include flex-box;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;

  .container-content {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.header {
  @include s1-s3 {
    height: auto;
  }
}

.categories-box {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-primary;
  @include flex-box-center;
  justify-content: flex-start;
  overflow-x: auto;
  width: 100%;
  @include s1-s3 {
    background-color: $color-white;
  }

  .categories {
    padding: 3px;
    margin: 1px 2px 0 0;
    // background-color: $color-white;
    @include box-shadow;
    border-radius: 5px;
    .fa-regular,
    .fa-solid {
      font-size: 16px;
      color: $color-gray;
    }
    &.selected {
      background-color: $color-accent;
      color: $color-white;
      .fa-regular,
      .fa-solid {
        font-size: 16px;
        color: $color-white;
      }
    }
  }
}

.post {
  @include flex-box-center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: flex-start;
  background-color: $color-white;
  transform: scale(0.96);
  transition: 1s;
  height: 400px;
  overflow: hidden;
  @include box-shadow;
  border-radius: 10px;
  @include s1-s3 {
    height: auto;
    overflow: visible;
  }

  .card-text {
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-white;
    .fa-solid {
      font-size: 14px;
    }
  }

  &:hover {
    transform: scale(1);
  }
  .img-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    @include flex-box-center;
    .img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      overflow: hidden;
      z-index: 1;
      @include s1-s3 {
        height: auto;
        max-height: 250px;
      }
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    z-index: 10;

    @include s1-s3 {
      height: auto;
    }
  }
  .btn-group {
    position: fixed;
    bottom: 0;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, transparent 0%, $color-primary 40%) !important;
  @include s1-s3 {
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, $color-white 40%) !important;
    padding-bottom: 0px;
  }
}

.btn-group {
  @include flex-box-center;
  .b-primary {
    border: none;
  }
}

.post-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.decor {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 5px dotted rgba(128, 128, 128, 0.519);
  height: 15px;
  border-radius: 10px 10px 0px 0px;
  background-color: $color-white;
  z-index: 10;
  overflow: hidden;
}

.status-content {
  @include flex-box-center;
  flex-direction: column;
  top: 10px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    box-shadow: -3px 3px 20px -10px ($color-accent, 40%);
  }

  .status-box {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }

  .status-value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: auto;
    height: 30px;
    padding: 5px;
    color: $color-white-always;
    border-radius: 10px;
    background-color: $color-gray;
    box-shadow:
      2px 3px 10px $color-shadow,
      2px 2px 10px $color-shadow;
    font-size: 12px;
    font-weight: bold;
    .fa-solid,
    .fa-regular {
      font-size: 14px;
      color: $color-white-always;
    }
  }
}
