@use "style/mixins/" as *;
@use "style/presets/" as *;

.body-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  @include s1-s3 {
    padding: 0;
    margin: 0;
    background-color: $color-white;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  @media print {
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.container::-webkit-scrollbar {
  display: none;
}
