@use "style/mixins/" as *;
@use "style/presets/" as *;

.body-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  @include s1-s3 {
    width: 100%;
    height: 100vh;
    background-color: $color-white;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  @include s1-s3 {
    padding: 0;
    margin: 0;
  }
}

.container2 {
  justify-content: center;
  @include s1-s3 {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}

.container.open {
  @include s1-s3 {
    flex-direction: column-reverse;
  }
}

.mobile {
  @include s1-s3 {
    background-color: $color-white;
    width: 100%;
    height: 100vh;
    padding-bottom: 30px;
    overflow: auto;
    overflow-x: hidden;
  }
}

.btn-menu {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px 0 0 10px;
  width: 40px;
  height: 60px;
  padding: 5px;
  top: 75%;
  right: 0;
  z-index: 200;
  font-size: 14px;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.334);
  .fa-solid {
    color: $color-white;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.account {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;

  @include s1-s3 {
    width: 100%;
    flex-direction: column;
    z-index: 150;
    position: absolute;
    top: -100%;
    transition: top 1s ease;
  }
}

.account.open {
  @include s1-s3 {
    width: 100%;
    height: 10vh;
    background-color: $color-white;
    top: 0;
    align-items: flex-start;
  }
}

.account.hide {
  @include s1-s3 {
    display: none;
  }
}

@media print {
  .body-container {
    overflow-x: visible;
    height: auto;
  }

  .mobile.open {
    height: auto;
  }

  .mobile {
    height: auto;
  }
}
