<div class="body-container" [ngClass]="{'home': isHomePage}">

  <ng-container *ngIf="nextBG && !isMobile">
    <picture [@fadeIn] class="bg">
      <img class="bg-img" [src]="currentImage">
    </picture>
  </ng-container>

  <div class="container" [ngClass]="{'menuActive': menu}">
    <router-outlet></router-outlet>
  </div>

  <ng-container *ngIf="statusMessage">
    <app-status-message></app-status-message>
  </ng-container>

  <ng-container *ngIf="menu">
    <app-menu></app-menu>
  </ng-container>

  <ng-container *ngIf="loading">
    <app-loader></app-loader>
  </ng-container>

</div>
