<div class="body-container">
  <div class="container" >
    <app-navbar class="hide-mobile" *ngIf="isAccountOpenStatus === true"></app-navbar>
    <div class="mobile" [ngClass]="{'open': isChatOpenStatus}">
      <router-outlet></router-outlet>
    </div>
    <app-selection-account class="hide-pc" [ngClass]="{'open': isChatOpenStatus}" *ngIf="isAccountOpenStatus === true"></app-selection-account>
    <app-footer class="hide-mobile" *ngIf="isAccountOpenStatus === true"></app-footer>
  </div>
</div>




