@use "style/mixins/" as *;
@use "style/presets/" as *;

.body-container {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
}

.top {
  position: sticky;
  top: 0;
  @media print {
    display: none;
  }
}

.menu {
  position: sticky;
  bottom: 0;
  z-index: 100;
  @media print {
    display: none;
  }
}

.container {
  background-color: $color-white;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;

  @media print {
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
}

@media print {
  .body-container {
    height: auto;
    overflow-x: visible;
  }

  .hide-print {
    display: none;
  }

  .mobile::-webkit-scrollbar {
    display: none;
  }
}
