@use "style/mixins/" as *;
@use "style/presets/" as *;

.bg {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;
  .bg-img {
    object-fit: cover;
    height: 100%;
    width: 50%;
  }
}

.body-container {
  @include flex-box-center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  &.home {
    background-color: $color-white;
  }
  @include s1-s3 {
    height: auto;
  }
  @media print {
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  @include s1-s3 {
    padding: 0;
    margin: 0;
    background-color: $color-white;
    height: auto;
  }
  @media print {
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.container::-webkit-scrollbar {
  display: none;
}
