@use "style/mixins/" as *;
@use "style/presets/" as *;

.body-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  @include s1-s3 {
    width: 100%;
    height: 100vh;
    }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include s1-s3 {
    padding: 0;
    margin: 0;
  }
}

.mobile {
  @include s1-s3 {
    background-color: $color-white;
    overflow-x: hidden;
    width: 100%;
    height: 90vh;
    overflow: auto;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s1-s3 {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
  }

  @include s3-s6-max {
    display: none;
  }
}

@media print {
  .body-container {
    overflow-x: visible;
  }
}
