@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss" as *;
@use "../../../style/radio.scss" as *;

.icon {
  color: $color-dark;
  width: 20px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 0;
  &:hover {
    color: $color-accent;
    .fa-solid {
      color: $color-accent;
    }
  }
}

mat-form-field {
  color: $color-text !important;
  width: 100%;
}

mat-select,
input,
mat-hint,
span {
  color: $color-text !important;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  &.action {
    cursor: pointer;
    color: $color-accent !important;
    .fa-solid {
      color: $color-accent;
      font-size: 14px;
    }
  }
}

.label-for {
  color: $color-gray;
  font-size: 14px;
}

.btn-group {
  width: 100%;
  margin-top: 20px;
  padding: 10px;

  @include s3-s6-max {
    position: sticky;
    bottom: 0;
  }
  @include s1-s3 {
    position: fixed !important;
    bottom: 0;
  }
  .btn {
    @include flex-box-center;
    height: 60px;
    background-color: $color-accent;
    color: $color-white;
    .fa-solid,
    .fa-regular {
      color: $color-white;
    }
  }
}

.switch-container {
  @include flex-box;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  justify-content: space-around !important;

  .switch-btn-group {
    @include flex-box-column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
      color: $color-dark;
    }
    .t-min {
      color: $color-dark;
    }
  }
}

.param-wrapper {
  @include flex-box-center;
  padding: 10px;
  flex-direction: column;
  @include s3-s6-max {
    padding-bottom: 0px;
  }
  @include s1-s3 {
    padding: 10px 10px 80px 10px;
  }
}

.info-card {
  @include box-shadow;
  flex-direction: column;
  position: relative;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  @include s3-s6-max {
    justify-content: space-between;
    border-radius: 10px;
    overflow: auto;
    height: 90vh;
    // padding: 10px;
    background-color: $color-white;
    max-width: 450px;
  }
  @include s1-s3 {
    height: auto;
  }
}

.link-t {
  width: 250px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-content {
  justify-content: space-between !important;
  align-items: center !important;
}

.card-group {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
}
.card-content-static {
  background-color: transparent !important;
}
.item-select {
  flex-direction: column-reverse;
  width: 100%;
}

.card-box {
  @include flex-box-center;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 85vh;
}

.content-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-box {
  @include box-shadow;
  @include flex-box-column;
  border-radius: 10px;
  .flex-box {
    justify-content: flex-start;
  }
}

.img-wrapper {
  width: 100%;
  position: relative;
  @include flex-box-center;
  .img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
  }
}

.btn-control {
  z-index: 20;
}

.card-1 {
  @include flex-box-center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, $color-white);
  z-index: 10;
}

.btn-delete {
  @include flex-box-center;
  background-color: rgba(255, 255, 255, 0.389);
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  top: 0;
  right: 0;
  z-index: 30;
}
