@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.container-house {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  @include s1-s3 {
    display: flex;
    height: 65vh;
    align-items: flex-start;
    justify-content: center;
  }
}

.card-container::-webkit-scrollbar {
  display: none;
}

.section::-webkit-scrollbar {
  display: none;
}

.img-container {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-wrapper {
  display: flex;
  overflow: hidden;
}

.prev-img,
.next-img {
  position: absolute;
  width: 50px;
  top: 0;
  height: 100%;
  z-index: 99;
  border: none;
  background-color: transparent;
  transition: 0.5s;
  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.277);
    .fa-solid {
      color: $color-accent;
      transform: scale(1.8);
      padding: 5px;
    }
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.541);
  }
}

.prev-img {
  left: 0;
}

.next-img {
  right: 0;
}

.section {
  height: 75vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  justify-content: flex-start;
  @include s1-s3 {
    margin-top: 10px;
    display: flex;
    height: 70vh;
  }
}

.section.hide {
  @include s1-s3 {
    display: none;
  }
}

.section-1 {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  @include s1-s3 {
    background-color: $color-white;
    overflow: auto;
    height: 83vh;
    padding-bottom: 10px;
  }
}

.section-1.hide {
  @include s1-s3 {
    display: none;
  }
}

.section-1.open {
  @include s1-s3 {
    width: 100%;
    display: flex;
    position: absolute;
    top: 10vh;
    z-index: 50;
    align-content: flex-start;
  }
}

.section-2 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.card-container {
  width: 100%;
  overflow: auto;
}

.card-house {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.card-wrapper {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.3s ease;
  align-items: center;
  width: 100%;
  height: 150px;
  justify-content: flex-start;
}

.card-mini {
  position: relative;
  background-color: $color-white;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 90%;
  box-shadow:
    10px 2px 15px rgba(0, 0, 0, 0.25),
    10px 3px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  @include s1-s3 {
    width: 100%;
  }
}

.card-img-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 60%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.card-img-container:hover,
.card-img-container:focus {
  width: 80%;
  height: 100%;
}

h2 {
  justify-content: center;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-wrapper:hover,
.card-wrapper:focus {
  transform: scale(1.05);
}

.card-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-selected {
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
}

.fa-heart {
  font-size: 30px;
  color: $color-primary;
}

$subscribed-color-1: rgb(255, 255, 255);
$subscribed-color-2: rgb(240, 80, 52);
$subscribed-color-3: rgb(240, 80, 52);

.subscribed,
.discussion {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 50%;
    opacity: 1;
    animation: rotateRing 5s linear infinite;
    pointer-events: none;
    border: 1px solid transparent;
    border-top-color: $subscribed-color-1;
    border-right-color: $subscribed-color-2;
    border-bottom-color: $subscribed-color-3;
    box-shadow:
      10px 15px 25px $subscribed-color-1,
      1px 1px 15px $subscribed-color-2,
      1px 1px 15px $subscribed-color-3;
  }

  &.subscribed::before {
    animation: rotateRing 3s linear infinite;
  }
}

@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.subscribed {
  color: white;
}

.discussion {
  background-color: $color-accent;
  color: white;
}

.img-fluid {
  z-index: 1;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

h4 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.fab {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.next {
  display: flex;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.prev {
  display: flex;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.btn-sbs {
  display: flex;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.link,
.location {
  color: $color-text;
  transition: all 0.4s ease;
  letter-spacing: 1px;

  &:hover {
    background-color: $color-gray;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }

  &.active {
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-accent;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.orange {
  color: $color-accent;
}

.white {
  color: $color-white;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen-image {
  max-width: 100%;
  max-height: 100vh;
}

mat-paginator {
  display: flex;
  background-color: transparent;
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(1.5);
      transition: transform 0.5s;
    }
  }
}

.accent {
  font-size: 16px;
  color: $color-accent;
  font-weight: 600;
}

.title-selected-accent {
  font-size: 16px;
  color: $color-accent;
  font-weight: 600;
}

.card-mini.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
  height: 90%;
  width: 90%;
  @include s1-s3 {
    width: 100%;
  }
}

.title-selected {
  font-size: 16px;
  color: $color-text;
}

.title-group {
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow:
    5px 2px 2px rgba(0, 0, 0, 0.25),
    2px 1px 2px rgba(0, 0, 0, 0.22);
}

.card-title {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  padding: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
  justify-content: center;
}

.title {
  display: flex;
  font-family: "Roboto Condensed", sans-serif, 10px;
  font-size: 14px;
  justify-content: flex-end;
  margin: 2px;
  padding: 2px;
  align-items: center;
}

.item-box {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.price {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  justify-content: flex-end;
}

.map {
  height: 300px;
  border-radius: 10px;
}

.title-about {
  font-size: 14px;
}

.message {
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: $color-accent;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.characteristics-label {
  font-size: 16px;
}

.characteristics-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-characteristics {
  font-size: 12px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-primary;
}

.item-characteristics-price {
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}

.item {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}

.container-sticker {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 20px;
  top: -15px;
  right: 10px;
  @include s1-s3 {
    top: 3px;
  }
}

.card-logo {
  display: flex;
  justify-content: space-around;
  color: rgba(39, 39, 39, 0.656);
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.status {
  margin: 0 3px;
  padding: 5px 10px;

  color: white;
  border-radius: 4px;
  background-color: $color-accent;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);

  font-size: 12px;
  font-weight: bold;
}

.container-sticker:hover .info-menu {
  display: block;
}

.info-menu {
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: $color-dark;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.info-menu-text {
  color: $color-white;
}

.info-menu p {
  margin: 4px 0;
}

a {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.item-characteristics-1 {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-white;
  color: $color-dark;
}

.item-deskr {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.deskr-box {
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.img-wrapper {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.user-group {
  min-width: 40%;
  display: flex;
  height: 100%;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  align-items: flex-end;
}

.user-group-name {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.user-sup-name {
  font-size: 12px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

.user-name {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

.btn-menu {
  border: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-white;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 15px;
  z-index: 50;
}

.material-symbols-outlined {
  font-size: 30px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
