<ng-container *ngIf="userInfo">

  <mat-label align="start" class="filter-label">Статуси</mat-label>

  <p class="t-med gray mb-2">Відслідковування статусів аккаунту.</p>

  <div class="status-box">
    <label class="checkBox">
      <input type="checkbox" [(ngModel)]="userParam.add_in_flat">
      <div class="transition"></div>
    </label>
    <details>
      <summary class="t-med bold">Додавати в оселю
        <span class="thin gray"> детальніше... </span>
      </summary>
      <p class="t-med italic"> Дозволяє власнику оселі додати вас до
        мешканців напряму без формування угоди.</p>
    </details>
  </div>

  <div class="status-box">
    <div class="t-min t-c bold">Дата створення аккаунту</div>
    <div class="flex-box w-100">

      <div class="flex-column p-2">
        <i class="fa-solid fa-calendar-day"></i>
      </div>

      <div class="flex-column p-2">
        <div class="t-lar-x bold t-c">{{userInfo.data_create | date}}</div>
      </div>
    </div>
  </div>

  <div class="status-box" *ngIf="userInfo.data_unban">
    <div class="t-min t-c">Дата розблокування</div>
    <div class="t-lar-x bold t-c">{{userInfo.data_unban | date}}</div>
  </div>

  <div class="status-box">
    <div class="t-min t-c bold">Стату перевірки аккаунту на бан</div>
    <div class="flex-box w-100">

      <div class="flex-column p-2">
        <i class="fa-solid fa-circle-check pr-2" *ngIf="userInfo.banned === 0"></i>
        <i class="fa-solid fa-ban pr-2" *ngIf="userInfo.banned === 1"></i>
      </div>

      <div class="flex-column p-2">
        <div class="t-lar-x bold t-c" *ngIf="userInfo.banned === 0">Розблоковано</div>
        <div class="t-lar-x bold t-c" *ngIf="userInfo.banned === 1">Заблокований</div>
      </div>
    </div>

  </div>

  <div class="status-box">
    <div class="t-min t-c bold">Стату перевірки аккаунту</div>
    <div class="flex-box w-100">

      <div class="flex-column p-2">
        <i class="fa-solid fa-user-check pr-2" *ngIf="userInfo.checked === 1"></i>
        <i class="fa-solid fa-user-clock pr-2" *ngIf="userInfo.checked === 0"></i>
      </div>

      <div class="flex-column p-2">
        <div class="t-lar-x bold t-c" *ngIf="userInfo.checked === 0">Не підтверджений</div>
        <div class="t-lar-x bold t-c" *ngIf="userInfo.checked === 1">Підтверджений</div>
      </div>
    </div>

  </div>

  <div [@appearance] class="btn-group">
    <button class="b-primary mr-2" (click)="setToogleMenu()">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>

    <button class="b-primary p-2" (click)="saveParamsUser()">
      <div class="t-med bold white">ЗБЕРЕГТИ</div>
      <i class="fa-regular fa-circle-check pl-2 white"></i>
    </button>
  </div>
</ng-container>