<div class="content-child p-3">
  <div [@left1] class="t-lar t-c ">
    <p class="bold">Покроково як створити <br> Discussio угоду</p>
    <p class="t-min gray">Я власник оселі і хочу створити угоду з орендарем</p>
  </div>

  <div [@left2] class="item-box">
    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 1 Створення угоди</div>
      <div class="t-min t-c p-1">Угоду можна сформувати лише з орендарями з якими у вас є дискусія.</div>
    </div>

    <button [disabled]="counterFound === 0 || !counterFound" class="link-t w-30 flex-column"
      (click)="goToAgreeCreate()">
      <span class="ml-2 t-min">Формувати <br> доступно {{counterFound}}</span>
      <i class="fa-solid fa-file-lines"></i>
    </button>
  </div>

  <div [@left3] class="item-box">

    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 2 Надсилаємо угоду</div>
      <div class="t-min t-c p-1">Очікуємо підтвердження умов угоди від орендаря. Її можна скасувати в надісланих
        угодах.</div>
    </div>

    <button [disabled]="numSendAgree === 0 || !numSendAgree" (click)="onClickMenu(2)" class="link-t w-30 flex-column">
      <span class="ml-2 t-min">Надіслані <br> у вас {{numSendAgree}}</span>
      <i class="fa-solid fa-hourglass-half"></i>
    </button>
  </div>

  <div [@left4] class="item-box">

    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 3 Формування акту</div>
      <div class="t-min t-c p-1">На основі ухваленої угоди формуємо акт прийому-передачі оселі.</div>
    </div>

    <button [disabled]="numConcludedAgree === 0 || !numConcludedAgree" class="link-t w-30 flex-column"
      (click)="onClickMenu(3)">
      <span class="ml-2 t-min">Ухвалені <br> у вас {{numConcludedAgree}}</span>
      <i class="fa-solid fa-file-circle-check"></i>
    </button>
  </div>

  <div [@left5] class="item-box mb-4">

    <div class="item-d w-70">
      <div class="t-med gray bold">Крок 4 Мешканець</div>
      <div class="t-min t-c p-1">Після формування акту можна додати мешканців, тим самим надати доступ
        до інформації про оселю</div>
    </div>

    <button class="link-t w-30 flex-column" (click)="onClickMenu(3)">
      <span class="ml-2 t-min">Додати мешканців</span>
      <i class="fa-solid fa-people-roof"></i>
    </button>
  </div>
</div>
