@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.h-100 {
  height: 80px !important;
}

.switch-container {
  @include flex-box;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  justify-content: space-around !important;
  // background-color: $color-accent;
  @include blurred-background($color-white);

  .switch-btn-group {
    @include flex-box-column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 60px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    color: $color-dark;
    height: 50px;
    width: 60px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
      color: $color-dark;
    }
    .t-min {
      color: $color-dark;
    }
  }
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.width-param {
  @include s3-s6-max {
    padding: 10px;
  }
}

.component-wrapper {
  display: flex;
  @include box-shadow;
  justify-content: flex-start;
  background-color: $color-white;
  border-radius: 20px;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  @include s3-s6-max {
    min-height: 650px;
  }
  @include s1-s3 {
    border-radius: 0px;
  }
}
