@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.width-param {
  @include s3-s6-max {
    padding: 10px;
  }
}

.component-wrapper {
  display: flex;
  @include box-shadow;
  justify-content: flex-start;
  background-color: $color-white;
  border-radius: 20px;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  @include s3-s6-max {
    min-height: 650px;
  }
  @include s1-s3 {
    border-radius: 0px;
  }
}
