<div class="message-box">
  <mat-dialog-content>

    <div *ngIf="data.flatSub === 'subscribers'">
      <div class="text1">Видалити підписника</div>
      <p class="accent">{{data.firstName}} {{data.lastName}}?</p>
    </div>

    <div *ngIf="data.flatSub === 'subscriptions'">
      <div class="text1">Скасувати підписку на</div>
      <p class="accent">{{data.firstName}} {{data.lastName}}?</p>
    </div>

    <div *ngIf="data.flatSub === 'discussio'">
      <div class="text1">Видалити дискусію з</div>
      <p class="accent">{{data.firstName}} {{data.lastName}}?</p>
      <p class="text">Для повернення після видалення, його треба буде додавати через підписки.</p>
    </div>



  </mat-dialog-content>
  <mat-dialog-actions class="box" align="end">
    <button class="btn m-2" mat-button mat-dialog-close>Ні</button>
    <button class="btn m-2" mat-button [mat-dialog-close]="true">Так</button>
  </mat-dialog-actions>
</div>
