@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/shared.scss";

.container-info {
  position: relative;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content-wrapper {
  @include flex-box-column;
  @include box-shadow;
  height: auto;
  align-items: center;
  background-color: $color-white;
  justify-content: flex-start;
  @include s3-s6-max {
    height: 100vh;
    overflow: hidden;
  }
}

.btn-group {
  z-index: 10;
  width: 250px;
}

.post {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  transition: 1s;
  width: 100%;
  background-color: white;
  overflow: hidden;
  @include s1-s3 {
    overflow: auto;
    display: block;
    flex-direction: column;
  }

  .img-wrapper {
    position: relative;
    float: left; /* Картинка буде розташована зліва */
    margin-right: 15px; /* Відступ між картинкою і текстом */
    margin-bottom: 10px; /* Відступ знизу картинках, щоб текст не прилипав до неї */
    width: 50%;
    height: 100%;
    overflow: hidden;
    @include s1-s3 {
      width: 100%;
      height: auto;
      max-height: 500px;
      border-radius: 0px;
      margin: 0;
    }
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    @include s3-s6-max {
      height: 100%;
      overflow: auto;
    }
    @include s1-s3 {
      height: auto;
      width: 100%;
    }
  }

  .blure {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    right: 0;
    top: 0;
    background-image: linear-gradient(to right, transparent 60%, $color-white 95%) !important;
    @include s1-s3 {
      background-image: linear-gradient(to bottom, transparent 60%, $color-white 95%) !important;
    }
  }

  .img {
    height: 100%;
    width: 100%; /* Змінюється в залежності від ширини img-wrapper */
    object-fit: cover;
  }

  .card-text {
    overflow: hidden; /* Очищення float */
    padding-bottom: 20px;
  }
}

.footer {
  padding-bottom: 20px;
  @include s1-s3 {
    padding-bottom: 0px;
  }
}
