<div class="container-info p-2">

  <div [@top2] class="content-wrapper mt-2" *ngIf="post">
    <div class="post">
      <div [@right1] class="img-wrapper">
        <img *ngIf="post.image" class="img" [src]="post.image" alt="Post Image" loading="lazy">
        <img *ngIf="!post.image" class="img" src="../../../assets/logo/discussio.png" alt="Post Image" loading="lazy">
        <div class="blure"></div>
      </div>
      <div class="title-wrapper p-2">
        <h1 [@top4] class="card-title t-c bold">{{ post.title }}</h1>
        <p [@top3] class="t-min">{{ post.author }} {{ post.formattedDate }}</p>

        <div [@top3] class="btn-group">
          <button class="b-primary m-1" (click)="shareLink(post.slug)" target="_blank">
            <div class="white">Поділитись</div>
            <i class="fa-solid fa-share-from-square pl-2"></i>
          </button>
        </div>

        <div [@top2] class="card-text mt-2 pl-3" [innerHTML]="sanitizeContent(post.content)"></div>

        <a class="b-primary m-1" *ngIf="post.link" [href]="post.link" target="_blank">
          Посилання <i class="fa-solid fa-link pl-2"></i>
        </a>

        <app-footer></app-footer>

      </div>
    </div>
  </div>

  <div [@top1] class="btn-group">
    <a class="btn" (click)="goBack()">
      <i class="fa-solid fa-arrow-left white pr-2"></i>
      <div class="t-min white">Назад</div>
    </a>
  </div>

</div>
