@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.text {
  text-align: center;
}

.text-1 {
  font-size: 16px;
  @include s1-s3 {
    font-size: 12px;
  }
}

.accent {
  font-weight: 600;
}
.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  width: 100%;
  padding: 0 5px 0 5px;
}

.btn {
  color: $color-dark;
  font-size: 18px;

  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.container-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
  height: 60vh;
  justify-content: flex-start;
}

.box {
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.container-box::-webkit-scrollbar {
  display: none;
}

.progress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  position: relative;
  height: 50px;
}

.progress-bar {
  color: $color-dark;
  z-index: 1;
  height: 100%;
  min-width: 60px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  background-image: linear-gradient(to right, #4caf50, #ffffff);
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.month-label {
  z-index: 5;
  position: absolute;
  font-size: 16px;
}

.num-label {
  font-size: 20px;
}
