<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container-card">
    <app-select-year class="w-100"></app-select-year>
    <div [@left1] class="switch-box mt-2">

      <div class="switch-btn-group">
        <button class="btn" (click)="option_stat = 2" [ngClass]="{ 'active': option_stat === 2}">
          <i class="fa-solid fa-cash-register"></i>
          <div class="t-min dark bold">Нараховано</div>
        </button>
      </div>

      <div class="switch-btn-group">
        <button class="btn" (click)="option_stat = 3" [ngClass]="{ 'active': option_stat === 3}">
          <i class="fa-solid fa-cookie-bite"></i>
          <div class="t-min dark bold">Спожити</div>
        </button>
      </div>

      <div class="switch-btn-group">
        <button class="btn" (click)="option_stat = 1" [ngClass]="{ 'active': option_stat === 1}">
          <i class="fa-solid fa-check-to-slot"></i>
          <div class="t-min dark bold">Сплачено</div>
        </button>
      </div>

    </div>
    <div class="container-box" *ngIf="!noData">
      <div class="box" *ngIf="option_stat === 2">
        <div class="progress-container">
          <div class="progress m-1" [@columnAnimation] *ngFor="let season of dataForGraph" role="progressbar">
            <div class="month-label">{{ season.comunal_name }}</div>
            <div class="progress-bar"
              [ngStyle]="{ 'width': (season.total_calc_howmuch_pay / maxPaymentsValue) * 100 + '%' }">
              <span class="num-label">{{season.total_calc_howmuch_pay }}₴</span>
            </div>

          </div>
        </div>
      </div>

      <div class="box" *ngIf="option_stat === 1">
        <div class="progress-container">
          <div class="progress m-1" [@columnAnimation] *ngFor="let season of dataForGraph" role="progressbar">
            <div class="month-label">{{ season.comunal_name }}</div>
            <div class="progress-bar" [ngStyle]="{ 'width': (season.total_howmuch_pay / maxNeedPayValue) * 100 + '%' }">
              <span class="num-label">{{season.total_howmuch_pay }}₴</span>
            </div>

          </div>
        </div>
      </div>

      <div class="box" *ngIf="option_stat === 3">
        <div class="progress-container">
          <div class="progress m-1" [@columnAnimation] *ngFor="let season of dataForGraph" role="progressbar">
            <div class="month-label">{{ season.comunal_name }}</div>
            <div class="progress-bar"
              [ngStyle]="{ 'width': (season.total_consumed / maxConsumptionsValue) * 100 + '%' }">
              <span class="num-label">{{season.total_consumed }}</span>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div [@left3] class="table-container" *ngIf="noData">
      <h4 class="p-2 mt-3">Статистики за цей час немає...</h4>
    </div>

  </div>

</ng-template>
