.form-check-inline{
  display: flex;
  flex-direction: row;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  background-color: aliceblue;
  margin: 10px;
}

.container-fluid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-agree{
  display: flex;
}

.container-owner{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.container-tenant{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

a{
  background: none;

  &:hover {
    color: black;
  }
}

.btn {
  width: 100%;
  height: 60px;
}
