<div class="container-img">
  <app-status-data-house></app-status-data-house>

  <div class="wrapper-img" *ngIf="house">

    <div [@top2] *ngIf="!photoExists">
      <img class="img-fluid" src="../../../../assets/housing_default.svg" loading="lazy">
    </div>

    <div [@top2] *ngIf="photoExists">
      <img class="img-fluid" [src]="serverPath + pathPhotoFlat + house.photos[currentPhotoIndex].img" alt="img-house"
        (click)="openFullScreenImage(house.photos)" loading="lazy">
    </div>

    <div [@top2] *ngIf="house.photos.length > 1">
      <button *ngIf="currentPhotoIndex !== 0" class="prev-img" (click)="prevPhoto()"><i
          class="fa-solid fa-chevron-left"></i></button>
      <button *ngIf="currentPhotoIndex !== house.photos.length - 1" class="next-img" (click)="nextPhoto()"><i
          class="fa-solid fa-chevron-right"></i></button>
    </div>

    <div [@top] class="decor"></div>
  </div>

  <div [@left2] class="func" *ngIf="currentLocation !== '/house'">
    <app-functions-house></app-functions-house>
  </div>

</div>
