<div class="container-dis">

  <div class="switch-box">
    <button class="btn" [ngClass]="{ 'active': indexPage == 1}" (click)="indexPage = 1">Оселя</button>
    <button class="btn" [ngClass]="{ 'active': indexPage == 2}" (click)="indexPage = 2">Чат</button>
    <button class="btn" [ngClass]="{ 'active': indexPage == 3}" (click)="indexPage = 3">Представник</button>
    <button class="btn" [ngClass]="{ 'active': indexPage == 4}" (click)="indexPage = 4">Характеристики</button>
  </div>

  <div class="container-box">

    <div class="card-box col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="subscriptions.length !== 0">

      <div class="card-container mb-2">
        <h3>Тут будуть Discusiї</h3>
        <p>Ухалено: <span class="accent">{{ subscriptions.length }} Discussio</span></p>
      </div>

      <div class="card-container p-2">
        <button class="card-wrapper card-mini mb-4" (click)="selectFlatId(subscriber.flat_id)"
          [ngClass]="{ 'selected': selectedFlatId == subscriber.flat_id }" *ngFor="let subscriber of subscriptions">
          <div class="card-img-container">
            <img class="card-img"
              [src]="subscriber.flatImg && subscriber.flatImg[0] ? 'http://localhost:3000/img/flat/' + subscriber.flatImg[0] : 'http://localhost:3000/img/flat/housing_default.svg'"
              alt="Flat Image">
          </div>

          <div class="card-body">
            <div class="card-title">{{ subscriber.flat_id }} <br> {{ subscriber.price_m }} ₴/міс</div>
            <div class="btn-group">
              <button class="btn m-1" (click)="openDialog(subscriber.flat_id)">
                <i class="fa-solid fa-user-xmark" matTooltip="Видалити Дискусію"></i>
              </button>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="card-box col-lg-6 col-md-6 col-sm-12 col-12">

      <div [@cardAnimation2] class="card card-animation m-2" *ngIf="indexPage === 1">

        <div *ngIf="selectedFlat">
          <div class="img-container">
            <div class="img-wrapper">
              <img class="img-fluid"
                [src]="selectedFlat.img && selectedFlat.img[currentPhotoIndex] ? 'http://localhost:3000/img/flat/' + selectedFlat.img[currentPhotoIndex] : 'http://localhost:3000/img/flat/housing_default.svg'"
                alt="Flat Image">
            </div>
            <div *ngIf="selectedFlat?.img.length > 1">
              <button *ngIf="currentPhotoIndex !== 0" class="prev-img" (click)="prevPhoto()"><i
                  class="fa-solid fa-chevron-left"></i></button>
              <button *ngIf="currentPhotoIndex !== selectedFlat?.img.length - 1" class="next-img"
                (click)="nextPhoto()"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>
        </div>

        <div class="item-copy">
          <div class="item-characteristics">ID оселі: <span class="item">{{ selectedFlat?.flat.flat_id }}</span>
          </div>
          <button class="copy" (click)="copyFlatId()" matTooltip="Копіювати"><i class="fa-regular fa-copy"></i></button>
          <div *ngIf="isCopied" class="message">ID оселі було скопійовано!</div>
        </div>

        <div class="card-text p-1">

          <div class="title-group">
            <div class="title-selected">Ціна: </div>
            <div class="title-selected-accent">{{ selectedFlat?.flat.price_m }}<sup>₴/міс</sup></div>
          </div>

          <div class="title-group">
            <div class="title-selected">Область : </div>
            <div class="title-selected-accent">{{ selectedFlat?.flat.region }}</div>
          </div>

          <div class="title-group">
            <div class="title-selected">Місто : </div>
            <div class="title-selected-accent">{{ selectedFlat?.flat.city }}</div>
          </div>

          <div class="title-group">
            <div class="title-selected">Вулиця : </div>
            <div class="title-selected-accent">{{ selectedFlat?.flat.street }}</div>
          </div>

          <div class="title-group">
            <div class="title-selected">Будинок : </div>
            <div class="title-selected-accent">{{ selectedFlat?.flat.houseNumber }}</div>
          </div>

          <div class="title-group">
            <div class="title-selected">Квартира : </div>
            <div class="title-selected-accent">{{ selectedFlat?.flat.apartment }}</div>
          </div>
        </div>
      </div>

      <div [@cardAnimation2] class="card card-animation m-2 card-chat" *ngIf="indexPage === 2">
        <app-chat-user></app-chat-user>
      </div>

      <div [@cardAnimation2] class="card card-animation m-2" *ngIf="indexPage === 3">

        <div class="container-sticker">
          <div class="status-container">
            <div class="status online" *ngIf="isOnline">Online</div>
            <div class="status offline" *ngIf="isOffline">Offline</div>
          </div>
        </div>

        <div class="img-fluid">
          <img [src]="'http://localhost:3000/img/users/' + (ownerImg ? ownerImg : 'user_default.svg')" alt="User Image">
        </div>

        <div class="card-social-link">
          <a *ngIf="instagram" href="{{ instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
          <a *ngIf="telegram" href="{{ telegram }}"><i class="fab fa-brands fa-telegram"></i></a>
          <a *ngIf="viber" href="{{ viber }}"><i class="fab fa-brands fa-viber"></i></a>
          <a *ngIf="facebook" href="{{ facebook }}"><i class="fab fa-brands fa-facebook"></i></a>
        </div>

        <div class="card-text p-1">
          <p>Інформація про представника:</p>
          <p>User ID : {{ user_id }}</p>
          <div class="title-group">
            <div class="title-selected">Прізвище : </div>
            <div class="title-selected-accent">{{ lastName }}</div>
          </div>

          <div class="title-group">
            <div class="title-selected">Ім'я : </div>
            <div class="title-selected-accent">{{ firstName }}</div>
          </div>

          <div class="title-group">
            <div class="title-selected">По батькові : </div>
            <div class="title-selected-accent">{{ surName }}</div>
          </div>

          <div class="title-group" *ngIf="tell">
            <div class="title-selected">Телефон : </div>
            <div class="title-selected-accent">{{ tell }}</div>
          </div>

          <div class="title-group" *ngIf="mail">
            <div class="title-selected">Пошта : </div>
            <div class="title-selected-accent">{{ mail }}</div>
          </div>

          <div class="btn-group">
            <button class="btn" (click)="indexPage = 2"><span>Написати</span></button>
            <button class="btn" (click)="createChat(selectedFlat)"><span>Створити чат</span></button>
          </div>



        </div>


      </div>

      <div [@cardAnimation2] class="card card-animation m-2 p-2" *ngIf="indexPage === 4">
        <div class="container-sticker">
          <div class="status-container">
            <span class="text"
              *ngIf="selectedFlat?.flat.family === 1 || selectedFlat?.flat.woman === 1 || selectedFlat?.flat.man === 1 || selectedFlat?.flat.students === 1">ПРІОРИТЕТНО</span>
            <div class="status rent-yes" *ngIf="selectedFlat?.flat.woman === 1" matTooltip="Жінки">W</div>
            <div class="status rent-yes" *ngIf="selectedFlat?.flat.man === 1" matTooltip="Чоловіки">M</div>
            <div class="status rent-yes" *ngIf="selectedFlat?.flat.students === 1" matTooltip="Студенти">S</div>
            <div class="status rent-yes" *ngIf="selectedFlat?.flat.family === 1" matTooltip="Сім'ї">F</div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Параметри оселі:</div>

          <div class="characteristics-group">
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.repair_status !== 'Приховати' && selectedFlat?.flat.repair_status !== null">Стан
              оселі:<span class="item">{{ selectedFlat?.flat.repair_status }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.floor !== 0 && selectedFlat?.flat.floor !== null">Поверх:<span class="item">{{
                selectedFlat?.flat.floor }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.balcony !== 'Приховати' && selectedFlat?.flat.balcony !== null">Тип
              балкону:<span class="item">{{ selectedFlat?.flat.balcony }}</span> </div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Інфраструктура:</div>

          <div class="characteristics-group">
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.distance_metro !== 0 && selectedFlat?.flat.distance_metro !== null">Метро
              до:<span class="item">{{ aboutDistance[selectedFlat?.flat.distance_metro] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.distance_stop !== 0 && selectedFlat?.flat.distance_stop !== null">Зупинка
              до:<span class="item">{{ aboutDistance[selectedFlat?.flat.distance_stop] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.distance_shop !== 0 && selectedFlat?.flat.distance_shop !== null">Маркет
              до:<span class="item">{{ aboutDistance[selectedFlat?.flat.distance_shop] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.distance_green !== 0 && selectedFlat?.flat.distance_green !== null">Парк
              до:<span class="item">{{ aboutDistance[selectedFlat?.flat.distance_green] }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.distance_parking !== 0 && selectedFlat?.flat.distance_parking !== null">
              Паркінг:<span class="item">{{ aboutDistance[selectedFlat?.flat.distance_parking] }}</span> </div>
          </div>
        </div>

        <div class="characteristics">
          <div class="characteristics-label">Особливості:</div>
          <div class="characteristics-group">
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.bunker !== 'Приховати' && selectedFlat?.flat.bunker !== null">Наявність
              укриття:<span class="item">{{ selectedFlat?.flat.bunker }}</span> </div>
            <div class="item-characteristics"
              *ngIf="selectedFlat?.flat.animals !== '0' && selectedFlat?.flat.animals !== null">Дозвіл на тварин: <span
                class="item">{{ selectedFlat?.flat.animals }}</span> </div>
          </div>
        </div>
        <div class="characteristics" *ngIf="selectedFlat?.flat.about">
          <div class="characteristics-label">Про оселю:</div>

          <div class="characteristics-group">
            <div class="item-characteristics about">{{ selectedFlat?.flat.about }}</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>