@use "../../../style/presets/" as *;

a {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 300px;
  transition: transform 1s;
  object-fit: cover;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-mini.selected {
  transition: 1s;
  color: white;
  background-color: $color-dark;
}

.prev-img,
.next-img {
  position: absolute;
  width: 50px;
  top: 0;
  height: 100%;
  z-index: 99;
  border: none;
  background-color: transparent;
  transition: 0.5s;
  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.277);
    .fa-solid {
      color: $color-accent;
      transform: scale(1.8);
      padding: 5px;
    }
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.541);
  }
}

.container-dis {
  display: flex;
  align-content: center;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}
.switch-box {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: flex-start;
  height: 40px;
}
.btn {
  margin: 5px;
  padding: 10px 20px;

  color: $color-text;
  background-color: $color-white;
  &:hover {
    color: $color-white;
    background-color: $color-accent;
  }
}
.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 65vh;
  max-height: 70vh;
}
.card-box {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

.accent {
  color: $color-accent;

  font-size: 16px;
  font-weight: 600;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 150px;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: none;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  &:hover,
  :focus {
    transform: scale(1.05);
  }
}
.card-mini {
  width: 90%;
  height: 130px;
  display: flex;
  justify-content: center;
}
.card-img-container {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover,
  :focus {
    width: 60%;
  }
}
.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card {
  justify-content: flex-start;
}
.card-animation {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img-container {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img-wrapper {
  display: flex;
  overflow: hidden;
}
.img-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.prev-img {
  left: 0;
}

.next-img {
  right: 0;
}
.item-copy {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 15px;
}
.item-characteristics {
  margin: 2px;
  padding: 2px 5px;

  border-radius: 10px;
  background-color: $color-primary;

  font-size: 12px;
  font-weight: 400;
}
.item {
  margin: 2px;
  padding: 5px;

  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
}
.copy {
  width: 20px;
  height: 20px;

  border: none;
  background-color: $color-white;
}

.title-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin: 2px;
  padding: 2px 10px;

  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  box-shadow:
    5px 2px 2px rgba(0, 0, 0, 0.25),
    2px 1px 2px rgba(0, 0, 0, 0.22);
}
.title-selected {
  color: $color-text;

  font-size: 18px;
}
.title-selected-accent {
  color: $color-accent;

  font-size: 20px;
  font-weight: 600;
}
.card-chat {
  max-height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
}

.card-chat::-webkit-scrollbar {
  display: none;
}

.container-sticker {
  position: absolute;
  z-index: 9999;
  top: -26px;
  right: 10px;

  width: 100%;
  height: 20px;
}
.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.status {
  margin: 0 3px;
  padding: 5px 10px;

  color: white;
  border-radius: 4px;
  background-color: $color-accent;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);

  font-size: 12px;
  font-weight: bold;
}
.card-social-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 24px;
}
.fab {
  transition: 0.4s;
  font-size: 25px;
  margin: 10px;
  padding: 0px 10px;

  &:hover {
    transition: 0.4s;
    transform: scale(2);
    color: $color-accent;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.characteristics-label {
  font-size: 16px;
}
.characteristics-group {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  border-bottom: 1px solid #dddddd;
}

.characteristics {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}
.about {
  font-size: 13px;
}
