@use "../../style/presets/" as *;

a {
  padding: 0.5em 1em;
  margin-top: 10px;
  cursor: pointer;
}

.disabled-link {
  pointer-events: none;
}


.container-fluid {
  display: flex;
}

.card-link,
button {
  padding: 0.5em 1em;
  border-radius: 10px;

  margin: 0;
  margin-top: 10px;
  color: $color-text;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-static {
  z-index: 10;
  box-shadow: 20px 14px 40px rgba(0, 0, 0, 0.655), 0 10px 20px rgba(0, 0, 0, 0.558);
}

.card-slide {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.335), 0 0px 0px rgba(0, 0, 0, 0.22);
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

