@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

// карусель фото
.container-img {
  position: relative;
  width: 100%;

  .wrapper-img {
    // border-radius: 20px 20px 0px 0px;
    position: relative;
    overflow: hidden;
    .img-fluid {
      box-shadow: 1px 1px 30px 1px $color-dark;
      cursor: pointer;
      transition: 1s;
      height: 350px;
      width: 100%;
      border-radius: 0px;
      overflow: hidden;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.decor {
  box-shadow: 1px 1px 30px 1px $color-dark;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  border-radius: 20px 20px 0 0;
  background-color: $color-white;
  z-index: 10;
}

.func {
  @include box-shadow;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 40;
  background-color: $color-white;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
}
