<div class="container-img">

  <app-status-data></app-status-data>

  <div class="wrapper-img">
    <ng-container *ngIf="chosenFlat.owner.img && isLoadingImg">
      <img [@top2] class="img-fluid"
        [src]="serverPath + pathPhotoUser + (chosenFlat.owner.img ? chosenFlat.owner.img : 'user_default.svg')"
        alt="img"> </ng-container>

    <ng-container *ngIf="chosenFlat.owner.img && !isLoadingImg">
      <div class="img-fluid">
        <div class="container-loader-mini">
          <mat-spinner color="warn"></mat-spinner>
          <img [src]="serverPath + pathPhotoUser + chosenFlat.owner.img" (load)="isLoadingImg = true"
            hidden>
          <div class="t-min bold gray mt-2">Завантаження фото</div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!chosenFlat.owner.img">
      <img class="img-fluid" src="../../../../assets/user_default.svg" alt="img">
    </ng-container>

    <div class="info-panel">
    </div>
    <div [@top] class="decor"></div>

  </div>
</div>


