@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/agree/agree.doc.scss";
@use "../../../../style/radio.scss";
@use "../../../../style/shared.scss";

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.margin-top {
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.fa-solid {
  color: $color-dark;
}

.material-symbols-outlined {
  color: $color-white;
  font-size: 35px;
  @include s1-s3 {
    font-size: 25px;
  }
}

.description {
  font-size: 20px;
  @include s1-s3 {
    font-size: 14px;
  }
}

.btn-group {
  border-radius: 20px;
  .btn {
    @include flex-box-row;
    background-color: $color-accent;
  }
}

.group {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

.carousel-item {
  .img-fluid-h {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
  }

  .img-h {
    overflow: hidden;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    transition: transform 1s;
    object-fit: cover;
    position: relative;

    &:hover {
      transition: transform 1s;
      transform: scale(1.2);
    }
  }
}

.card-1 {
  position: absolute;
  left: -36%;
  width: 250px;
  height: auto;
  @include box-shadow;
  border-radius: 20px;
}

.card-2 {
  height: 160px;
  width: 100%;
  @include flex-box-row;
  @include box-shadow;
  overflow: hidden;
  border-radius: 10px;
  .img-fluid-h {
    height: 100%;
    .img-h {
      height: 100%;
      border-radius: 0;
      object-fit: cover;
    }
  }
}

.box-1 {
  @include flex-box-column;
  align-items: flex-end;
}

.bg-w {
  background-color: $color-white;
  padding: 5px;
  border-radius: 5px;
}

.card {
  width: 100%;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
}

.card-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-mat {
  height: 65px !important;
}

.characteristics-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  // border-bottom: 1px solid $color-primary;
}

.label-auto {
  color: $color-dark;
  font-size: 16px;
}

.img-fluid {
  display: flex;
  justify-content: space-evenly;
  height: 110px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.item-description {
  color: $color-text;
  font-size: 12px;
  margin-top: 5px;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-card-bg;
  border-radius: 10px;
  padding: 5px 10px;
}

.label-accent {
  color: $color-accent;
  font-size: 14px;
}

.accent {
  font-weight: 600;
  color: $color-accent;
}

.list-select {
  border: none;
  font-family: $font-main;
  font-size: $font-size;
  font-weight: bold;
}
.list-option {
  border: none;
  background-color: none;

  font-family: $font-main;
  font-size: $font-size;
  font-weight: bold;
}

.btn-container {
  position: relative;
  margin: 0 20px;
  position: absolute;
  right: 0;
  top: -20px;
  background-color: $color-accent;
  @include s1-s3 {
    top: -5px;
    z-index: 50;
  }
}

.btn-info {
  display: block;
  background-color: $color-accent;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  font-size: 14px;
}

.btn-container:hover .info-menu {
  display: block;
}

.info-menu {
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: $color-dark;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.info-menu-text {
  color: $color-white;
}

.info-menu p {
  margin: 4px 0;
}

.group-select {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 12px;
}

.form-floating {
  margin-bottom: 15px;
  width: 100%;
}

textarea {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-radius: 10px;
}

.img-fluid-house {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 300px;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.flex-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-house {
  overflow: hidden;
  height: 300px;
  width: 100%;
  border-radius: 20px;
  transition: transform 1s;
  object-fit: cover;
  position: relative;

  &:hover {
    transition: transform 1s;
    transform: scale(1.2);
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.754);
  z-index: 5;
  border-radius: 20px;
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.logo-name {
  font-size: 30px;
  color: $color-text;
}

.logo-a {
  width: 200px;
  height: 200px;
}

.btn-agree {
  width: 100%;
  height: 100px;
}

.btn-agree.active {
  width: 100%;
  height: 100px;
  background-color: $color-accent;
  transition: 1s;
  &:hover {
    color: $color-white;
    font-size: 20px;
    background-color: $color-dark;
  }
}

.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

