@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

.container-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.indicator-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.indicator {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: $color-gray;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}

.margin-top {
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.active-step {
  transition: 3s;
  transform: scale(1.6);
  background-color: $color-accent;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.material-symbols-outlined {
  @include s1-s3 {
    font-size: 14px;
  }
}

.fa-solid {
  color: $color-white;
}

.material-symbols-outlined {
  color: $color-white;
  font-size: 35px;
  @include s1-s3 {
    font-size: 25px;
  }
}

.description {
  font-size: 20px;
  @include s1-s3 {
    font-size: 14px;
  }
}

.btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
    justify-content: center;
  }
}
.btn-next {
  width: 150px;
  height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-accent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid $color-gray;
  &:hover {
    background-color: $color-dark;
    color: $color-white;
  }
  @include s1-s3 {
    height: 40px;
    margin: 5px;
    font-size: 16px;
    width: 100px;
  }
}

.group {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  width: 100%;
  justify-content: flex-start;
  min-height: 65vh;
}

.card-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;
  transition: transform 1s;
}

.img-fluid-house {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 300px;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.img-house {
  overflow: hidden;
  height: 300px;
  width: 100%;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;
  position: relative;

  &:hover {
    transition: transform 1s;
    transform: scale(1.2);
  }
}

.input-mat {
  height: 70px !important;
}

.item-name {
  color: $color-dark;
  font-size: 18px;
  font-weight: 600;
}
.characteristics-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-primary;
}

.label-auto {
  color: $color-dark;
  font-size: 16px;
}

.img-fluid {
  display: flex;
  justify-content: space-evenly;
  height: 110px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.item-description {
  color: $color-text;
  font-size: 12px;
  margin-top: 5px;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-card-bg;
  border-radius: 10px;
  padding: 5px 10px;
}

.label-accent {
  color: $color-accent;
  font-size: 14px;
}

.accent {
  font-weight: 600;
  color: $color-accent;
}

.list-select {
  border: none;
  font-family: $font-main;
  font-size: $font-size;
  font-weight: bold;
}
.list-option {
  border: none;
  background-color: none;

  font-family: $font-main;
  font-size: $font-size;
  font-weight: bold;
}

.btn-container {
  position: relative;
  margin: 0 20px;
  position: absolute;
  right: 0;
  top: -20px;
  background-color: $color-accent;
  @include s1-s3 {
    top: -5px;
    z-index: 99;
  }
}

.btn-info {
  display: block;
  background-color: $color-accent;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  font-size: 14px;
}

.btn-container:hover .info-menu {
  display: block;
}

.info-menu {
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: $color-dark;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.info-menu-text {
  color: $color-white;
}

.info-menu p {
  margin: 4px 0;
}

.group-select {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 12px;
}
.form-floating {
  margin-bottom: 15px;
  width: 100%;
}

textarea {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-radius: 10px;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.614);
  z-index: 5;
  border-radius: 10px;
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.logo-name {
  font-size: 30px;
  color: $color-text;
}

.logo-a {
  width: 200px;
  height: 200px;
}

.btn-agree {
  width: 100%;
  height: 100px;
}

.btn-agree.active {
  width: 100%;
  height: 100px;
  background-color: $color-accent;
  transition: 1s;
  &:hover {
    color: $color-white;
    font-size: 20px;
    background-color: $color-dark;
  }
}

.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.agree {
  position: relative;
  width: 100%;
  background-color: $color-white;
  padding: 20px 50px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  @include s1-s3 {
    padding: 10px 20px;
  }
}
.close-box {
  position: absolute;
  top: 0;
  right: 0;
  @include s1-s3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.btn-close {
  width: 40px;
  height: 40px;
  background-color: $color-white;
  border-radius: 50%;
  border: 1px solid $color-accent;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-1 {
  font-size: 20px;
}

.title-box {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.logo-group {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  width: 150px;
}

.logo-name {
  font-size: 16px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  @include s1-s3 {
    font-size: 20px;
  }
}

.wrapper-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.agree-wrapper {
  width: 50%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
}

.item-agree {
  width: 100%;
  color: $color-accent;
  font-weight: 600;
  border-radius: 10px;
  padding: 2px;
  margin: 2px 5px;
}

.about {
  width: 100%;
  min-height: 200px;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  font-size: 12px;
}

.input-box {
  display: flex;
  width: 100%;
  height: 40px !important;
  align-items: flex-end;
  border-bottom: 1px solid $color-gray;
  padding: 0px 10px;
  position: relative;
}

.signature-box {
  display: flex;
  flex-wrap: wrap;
}

.input-box-signature {
  display: flex;
  width: 100%;
  height: 40px !important;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0px 10px;
  position: relative;
  justify-content: space-between;
}

.signature {
  color: rgb(54, 54, 54);
  width: 30%;
  height: 30px;
  padding: 0px 10px;
  font-size: 8px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.mat-form {
  height: 70px !important;
}

ul {
  width: 100%;
  color: $color-accent;
  font-weight: 600;
  font-size: 12px;
  font-weight: 600;
}

li {
  color: $color-dark;
  font-size: 12px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
}

input[disabled] {
  font-weight: 600;
  color: $color-text;
  font-size: 16px;
  width: 100%;
}

mat-label {
  text-align: center;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
