@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/radio.scss";
@use "../../../../style/shared.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.switch-content {
  height: 15vh;
  width: 100%;
}

.card-content {
  justify-content: space-between !important;
  position: relative;
  .flex-column {
    width: 100%;
  }
}

.btn-group {
  bottom: 10px;
}

.group {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-inner {
  @include s1-s3 {
    border-radius: 0px;
  }
}

.carousel-item {
  .img-fluid-h {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .img-h {
    overflow: hidden;
    height: calc(100vh - 100px - 1rem - 20px);
    width: 100%;
    border-radius: 20px;
    transition: transform 1s;
    object-fit: cover;
    position: relative;
    @include s1-s3 {
      border-radius: 0px;
      height: calc(100vh - 100px - 1rem);
    }
  }
}

.card-1 {
  position: absolute;
  left: -36%;
  width: 250px;
  height: auto;
  @include box-shadow;
  border-radius: 20px;
}

.card-2 {
  height: 160px;
  width: 100%;
  @include flex-box-row;
  @include box-shadow;
  overflow: hidden;
  border-radius: 10px;
  .img-fluid-h {
    height: 100%;
    .img-h {
      height: 100%;
      border-radius: 0;
      object-fit: cover;
    }
  }
}

.box-1 {
  @include flex-box-column;
  align-items: flex-end;
}

.bg-w {
  background-color: $color-white;
  padding: 5px;
  border-radius: 5px;
}

.card {
  width: 100%;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
  height: 100%;
}

.card-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-mat {
  height: 65px !important;
}

.characteristics-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.label-auto {
  color: $color-dark;
  font-size: 16px;
}

.img-fluid {
  display: flex;
  justify-content: space-evenly;
  height: 110px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.item-description {
  color: $color-text;
  font-size: 12px;
  margin-top: 5px;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-card-bg;
  border-radius: 10px;
  padding: 5px 10px;
}

.label-accent {
  color: $color-accent;
  font-size: 14px;
}

.list-select {
  border: none;
  font-family: $font-main;
  font-size: $font-size;
  font-weight: bold;
}

.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 12px;
}

.form-floating {
  margin-bottom: 15px;
  width: 100%;
}

textarea {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-radius: 10px;
}

.flex-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
