<app-navbar></app-navbar>

<div>
  <div class="container-fluid">

    <div class="container-box">
      <app-account-nav></app-account-nav>

      <div class="btn-group">
        <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="МІЙ ПРОФІЛЬ" [routerLink]="'/user'">
          <div class="img-fluid">
            <img
              [src]="'http://localhost:3000/img/users/' + (selectedSubscriber?.photo ? selectedSubscriber?.photo : 'user_default.svg')"
              alt="User Image" class="img-fluid rounded">
          </div>
        </a>
        <div class="group">
          <ng-container *ngIf="subscribers.length > 0">
            <mat-form-field class="list-form mb-3" appearance="outline">
              <mat-label>Підписники</mat-label>
              <mat-select class="list-select" [(value)]="selectedSubscriber"
                (selectionChange)="onSelectionChange(selectedSubscriber)">
                <mat-option disabled value="">Виберіть підписника</mat-option>
                <mat-option class="list-option" *ngFor="let subscriber of subscribers" [value]="subscriber">
                  {{ subscriber.firstName }} {{ subscriber.lastName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" mask="00.00.0000" placeholder="Дата укладання угоди"
              formControlName="dob" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Виберіть дату з календаря</mat-hint>
          </mat-form-field>

        </div>
      </div>
    </div>

    <div class="container-box">
      <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="card m-2">

          <div class="img-fluid">
            <img
              [src]="'http://localhost:3000/img/users/' + (userData.img[0].img ? userData.img[0].img : 'user_default.svg')"
              alt="User Image">
          </div>

          <div class="item-wrapper p-3">

            <h5>Сторона орендодавця П.І.Б</h5>
            <h2>{{ userData.inf.lastName }}</h2>
            <h2>{{ userData.inf.firstName }}</h2>
            <h2>{{ userData.inf.surName }}</h2>
            <p>іменований надалі "Орендодавець"</p>
            <!-- <div class="input-group">
              <mat-form-field appearance="outline" class="input-mat-5">
                <mat-label>Свідоцтво власника Nо.</mat-label>
                <input matInput type="text" name="certificate_number" placeholder="Свідоцтво власника Nо."
                  class="form-control">
              </mat-form-field>
            </div> -->


            <p>User ID орендодавця: {{ userData.inf.user_id }}</p>
            <p>Телефон: {{ userData.inf.tell }}</p>
            <p>Email: {{ userData.inf.mail }}</p>

          </div>

        </div>
      </div>

      <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="card m-2">
          <div class="img-fluid">
            <img
              [src]="'http://localhost:3000/img/users/' + (selectedSubscriber?.photo ? selectedSubscriber?.photo : 'user_default.svg')"
              alt="User Image">
          </div>
          <div class="item-wrapper p-3">
            <h5>Сторона орендара П.І.Б</h5>

            <h2>{{ selectedSubscriber?.lastName }}</h2>
            <h2>{{ selectedSubscriber?.firstName }}</h2>
            <h2>{{ selectedSubscriber?.surName }}</h2>
            <p>іменований надалі "Орендар"</p>

            <p>User ID орендара: {{ selectedSubscriber?.user_id }}</p>
            <p>Телефон: {{ selectedSubscriber?.tell }}</p>
            <p>Email: {{ selectedSubscriber?.mail }}</p>
          </div>
        </div>
      </div>

      <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="card m-2">

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="img-wrapper" *ngIf="houseData.imgs?.length > 0">
                  <img [src]="'http://localhost:3000/img/flat/' + houseData.imgs[0].img" alt="Flat Image"
                    class="img-fluid-2 rounded">
                </div>
              </div>
              <div class="carousel-item" *ngFor="let image of houseData.imgs?.slice(1)">
                <div class="img-wrapper">
                  <img [src]="'http://localhost:3000/img/flat/' + image.img" alt="Flat Image"
                    class="img-fluid-2 rounded">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="characteristics-group">
            <div class="item-characteristics">ID оселі: <span class="item">{{ houseData.about.flat_id }}</span>
            </div>

            <div class="group-select p-2">
              <p>Термін здачі в оренду</p>

              <p>1. Предмет договору</p>
              <p>1.1. Орендодавець представляє Орендареві й членам його родини в користування строком на</p>

              <mat-form-field appearance="outline" class="input-mat-1">
                <input matInput type="number" name="lease-term-months" placeholder="Місяці" min="1" max="12">
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-mat-1">
                <input matInput type="number" name="lease-term-years" placeholder="Роки" min="1" max="10" step="1">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat-1">
                <mat-label for="apartment-size">Квартиру площею м²:</mat-label>
                <input matInput type="text" id="apartment-size" name="apartment-address"
                  [ngModel]="houseData.param.area ? houseData.param.area : ''" placeholder="м²">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat-3">
                <mat-label>Місто</mat-label>
                <input matInput type="text" id="city" name="apartment-city"
                  [ngModel]="houseData.flat.city ? houseData.flat.city : ''" placeholder="Місто">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat-3">
                <mat-label>Вулиця</mat-label>
                <input matInput type="text" id="street" name="apartment-address"
                  [ngModel]="houseData.flat.street ? houseData.flat.street : ''" placeholder="Вулиця">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat-1">
                <mat-label for="house-number">будинок:</mat-label>
                <input matInput type="text" id="house-number" name="apartment-address"
                  [ngModel]="houseData.flat.houseNumber ? houseData.flat.houseNumber : ''" placeholder="Номер будинку">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-mat-1">
                <mat-label for="apartment-number">квартира:</mat-label>
                <input matInput type="text" id="apartment-number" name="apartment-address"
                  [ngModel]="houseData.flat.apartment ? houseData.flat.apartment : ''" placeholder="Номер квартири">
              </mat-form-field>
              <p>1.2. За згодою сторін договором встановлюється плата за оренду квартири в розмірі</p>
              <div class="input-group">
                <mat-form-field appearance="outline" class="input-mat-4">
                  <mat-label>Сума орендної плати на місяць</mat-label>
                  <input matInput type="text" id="rent-price" name="apartment-address"
                    [ngModel]="houseData.about.price_m ? houseData.about.price_m : ''"
                    placeholder="сума орендної плати на місяць">
                </mat-form-field>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>








    <h1>Укладання угоди оренди житлового приміщення.</h1>

    <div class="container-fluid">


      <div class="form-check-inline">
        <div class="form-control">
          <h5>Місце укладання та дата</h5>
          <label for="city"></label>
          <input class="form-control" type="text" id="city" placeholder="Місто" name="city">
          <label for="day"></label>
          <input class="form-control" type="number" id="day" name="day" placeholder="Число:" min="1" max="31">
          <label for="month">Місяць:</label>
          <select class="form-control" id="month" name="month">
            <option value="01">Січень</option>
            <option value="02">Лютий</option>
            <option value="03">Березень</option>
            <option value="04">Квітень</option>
            <option value="05">Травень</option>
            <option value="06">Червень</option>
            <option value="07">Липень</option>
            <option value="08">Серпень</option>
            <option value="09">Вересень</option>
            <option value="10">Жовтень</option>
            <option value="11">Листопад</option>
            <option value="12">Грудень</option>
          </select>

          <label for="year">Рік:</label>
          <input class="form-control" type="number" id="year" name="year" min="1900" max="2100">

        </div>

        <div class="form-control">
          <h5>Сторона орендодавця</h5>
          <input class="form-control" type="text" name="certificate_number" placeholder="Свідоцтво власника Nо.">
          <input class="form-control" type="text" name="owner_name" placeholder="Прізвище ім'я по батькові">іменований
          надалі
          "Орендодавець", з одного боку, і
        </div>

        <div class="form-control">
          <h5>Сторона орендара</h5>
          <input class="form-control" type="text" name="tenant_name" placeholder="Прізвище ім'я по батькові">іменований
          надалі "Орендар", з
          іншого боку,
          уклали
          даний договір про наступне:
        </div>

      </div>

      <ul>1. Предмет договору
        <li>1.1. Орендодавець представляє Орендареві й членам його родини в користування строком на
          <input class="form-control" type="number" id="lease-term" name="lease-term" placeholder="Дні" required min="1"
            max="365">
          <input class="form-control" type="number" name="lease-term" placeholder="Місяці" min="1" max="12">
          <input class="form-control" type="number" name="lease-term" placeholder="Роки" min="1" max="10" step="1">
          квартиру загальною площею м²<label for="apartment-size"></label>
          <input class="form-control" type="number" id="apartment-size" name="apartment-size"
            placeholder="площа квартири м²" required>
          за адресою:<label for="apartment-address"></label>
          <input class="form-control" type="text" id="apartment-address" name="apartment-address"
            placeholder="адреса квартири" required>,
          характеристика якої наведена в акті здачі квартири.
        </li>
        <li>1.2. За згодою сторін договором встановлюється плата за оренду квартири в розмірі
          <label for="rent-amount"></label>
          <input class="form-control" type="number" id="rent-amount" name="rent-amount"
            placeholder="cума орендної плати на місяць" required>
          гривень на місяць, до складу якої включені
          пропорційно
          орендованої площі платежі на повне відновлення будинку, витрати на обслуговування й
          ремонт будинку й квартири, витрати по оплаті комунальних і інших послуг.
        </li>
      </ul>

      <ul>2. Обов'язку сторін
        <li>
          2.1. Орендодавець зобов'язується:
        </li>
        <li>
          2.1.1. Надати в оренду належне йому на праві власності житло в придатному для
          проживання стані.
        </li>
        <li>
          2.1.2. Здійснювати утримання будинку й технічних обладнань квартири відповідно до
          вимог користування житловими приміщеннями, утримання житлового будинку і
          прибудинкової території в Україні.
        </li>
        <li>
          2.1.3. Забезпечувати надання комунальних і інших послуг.
        </li>
        <li>
          2.2. Орендар зобов'язується:
        </li>
        <li>
          2.2.1. Використати здану йому за договором оренди квартиру за призначенням.
        </li>
        <li>
          2.2.2. Дотримуватись вимог до користування житловими приміщеннями, утриманням
          житлового будинку й прибудинкової території в Україні.
        </li>
        <li>
          2.2.3. Вчасно повідомляти Орендодавцеві про виявлені несправності елементів квартири
          й будинку.
        </li>
        <li>
          2.2.4. Не пізніше цього дня місяця вносити плату за оренду <label for="rent_due_date"> </label>
          <input class="form-control" type="number" id="rent_due_date" name="rent_due_date" min="1" max="31"
            placeholder="число" required>.
          <br> За несвоєчасне внесення
          платежів оплачувати пеню з розрахунку <label for="penalty_percentage">відсоток пені за прострочення:</label>
          <input class="form-control" type="number" id="penalty_percentage" name="penalty_percentage" min="0" max="100"
            required> % від
          несплаченої суми за кожний день прострочення,<br>
          але не більше <label for="max_penalty_percentage">Максимальний відсоток пені:</label>
          <input class="form-control" type="number" id="max_penalty_percentage" name="max_penalty_percentage" min="0"
            max="100" required> %
          суми заборгованості.
        </li>
        <li> 2.2.5. Допускати в денний час, а при аваріях і в нічний час, в орендовану квартиру
          працівників Орендодавця або самого Орендодавця, а також представників підприємств по
          обслуговуванню й ремонту житла для проведення огляду й ремонту конструкцій і
          технічних обладнань квартири.
        </li>
        <li> 2.2.6. Звільнити орендоване житлове приміщення після закінчення обумовленого в
          даному договорі строку оренди.
        </li>
      </ul>

      <ul> 3. Права сторін

        <li> 3.1. Орендодавець має право:
        </li>
        <li> 3.1.1. Вимагати від Орендаря дотримання вимог користування житловими приміщеннями,
          утримання житлового будинку й прибудинкової території.
        </li>
        <li> 3.1.2. Вимагати від Орендаря своєчасного внесення плати за оренду.
        </li>
        <li> 3.1.3. Вимагати від Орендаря звільнення житлового приміщення після закінчення строку
          договору оренди.
        </li>
        <li> 3.1.4. Продати Орендареві займану ним квартиру.
        </li>
        <li> 3.2. Орендар має право:
        </li>
        <li> 3.2.1. Вселити в орендоване житлове приміщення незалежно від згоди Орендодавця своїх
          неповнолітніх дітей, дружину (чоловіка) і непрацездатних батьків.
        </li>
        <li> 3.2.2. Вимагати від Орендодавця своєчасного і якісного виконання комплексу робіт із
          утримання житлового будинку, квартири й прибудинкової території, а також надання
          комунальних і інших послуг, передбачених договором оренди.
        </li>
        <li> 3.2.3. Викупити в Орендодавця з його згоди орендоване приміщення, уклавши договір
          купівлі-продажу.
        </li>
        <li> 3.2.4. Вимагати обґрунтування збільшення плати за оренду після укладання договору
          оренди.
        </li>
        <li> 3.2.5. Вимагати перерахунку плати за оренду при невиконанні Орендодавцем обов'язків,
          передбачених у п. п. 2.1.2.
        </li>
      </ul>

      <ul> 4. Відповідальність сторін
        <li> 4.1. Відповідальність Орендодавця:
        </li>
        <li> 4.1.1. Орендодавець відшкодовує Орендареві матеріальний збиток, заподіяний у
          результаті невиконання обов'язків, передбачених у п. п. 2.1.2 даного договору, у
          встановленому законом порядку.
        </li>
        <li> 4.2. Відповідальність Орендаря:
        </li>
        <li> 4.2.1. Орендар відшкодовує Орендодавцеві матеріальний збиток, заподіяний у результаті
          невиконання обов'язків, передбачених у п. п. 2.2.1 і п. п. 2.2.2 даного договору, у
          встановленому законом порядку.
        </li>
      </ul>

      <ul> 5. Заключні умови

        <li> 5.1. Даний договір може бути розірваний із ініціативи кожної зі сторони при наявності
          умов і в порядку, передбаченому житловим законодавством.
        </li>
        <li> 5.2. Виниклі при виконанні даного договору спори між сторонами вирішуються у
          встановленому законом порядку.
        </li>
        <li> 5.3. Даний договір складений в 2-х екземплярах, один із яких перебуває в Орендодавця,
          іншої - в Орендаря.
        </li>
        <li> 5.4. Невід'ємною частиною даного договору є акт здачі квартири Орендареві.
        </li>
        <li> 5.5. Договір набуває чинності з моменту його підписання.
        </li>

      </ul>
    </div>

    <div class="container-agree">
      <fieldset class="container-owner">
        <h2>Орендодавець:</h2>
        <label for="landlord_passport_number">Паспорт №</label>
        <input class="form-control" type="text" id="landlord_passport_number" name="landlord_passport_number"
          placeholder="Номер" required>
        <label for="landlord_passport_series">Серія </label>
        <input class="form-control" type="text" id="landlord_passport_series" name="landlord_passport_series"
          placeholder="Серія" required><br><br>

        <label for="landlord_passport_issued">Виданий</label>
        <input class="form-control" type="text" id="landlord_passport_issued" name="landlord_passport_issued"
          placeholder="Місце видачі" required><br><br>

        <label for="landlord_address">Адреса:</label>
        <input class="form-control" type="text" id="landlord_address" name="landlord_address"
          placeholder="Адреса орендодавця" required><br><br>

        <label for="landlord_name">Орендодавець</label>
        <input class="form-control" type="text" id="landlord_name" name="landlord_name" placeholder="Ім'я орендодавця"
          required><br><br>


      </fieldset>

      <fieldset class="container-tenant">
        <h2>Орендар:</h2>
        <label for="tenant_passport_number">Паспорт №</label>
        <input class="form-control" type="text" id="tenant_passport_number" name="tenant_passport_number"
          placeholder="Номер" required>
        <label for="tenant_passport_series">Серія </label>
        <input class="form-control" type="text" id="tenant_passport_series" name="tenant_passport_series"
          placeholder="Серія" required><br><br>

        <label for="tenant_passport_issued">Виданий</label>
        <input class="form-control" type="text" id="tenant_passport_issued" name="tenant_passport_issued"
          placeholder="Місце видачі" required><br><br>

        <label for="tenant_address">Адреса:</label>
        <input class="form-control" type="text" id="tenant_address" name="tenant_address" placeholder="Адреса орендаря"
          required><br><br>

        <label for="tenant_name">Орендар</label>
        <input class="form-control" type="text" id="tenant_name" name="tenant_name" placeholder="Ім'я орендаря"
          required><br><br>

        <label for="agreement"><input type="checkbox" id="agreement" name="agreement" required>Із вимогами користування
          житловими приміщеннями, утриманням житлового будинку й прибудинкової території ознайомлений.</label><br>



        <button class="btn" type="submit"><a [routerLinkActive]="'active'"
            [routerLink]="'/payments'">Домовленість</a></button>


      </fieldset>
    </div>

    <button class="btn">Завантажити PDF</button>

  </div>

</div>
