
@use "../../style/presets/" as *;

.form-check-inline{
  display: flex;
  flex-direction: row;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  background-color: aliceblue;
  margin: 10px;
}

.container-fluid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-agree{
  display: flex;
}

.container-owner{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.container-tenant{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

a{
  background: none;

  &:hover {
    color: black;
  }
}

.btn {
  width: 100%;
  height: 60px;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.group {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: transform 1s;
    transform: scale(1.2);

    span {
      transition: transform 1s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular,
    .fa-brands {
      color: $color-accent;
      transform: translate(10px) scale(2.5);
      transition: transform 0.5s;
    }
  }
}

mat-raised-button {
  background-color: none;
}

.copy {
  width: 20px;
  height: 20px;
  background-color: $color-white;
  border: none;
}

.message {
  position: absolute;
  z-index: 9999;
  background-color: $color-white;
  border-radius: 10px;
  color: $color-accent;
  font-size: 15px;
  padding: 10px;
  border: 1px $color-accent solid;
}

.fa-copy {
  color: $color-dark;
  font-size: 20px;
  &:hover {
    transition: 1s;
    color: $color-accent;
    scale: 1.2;
  }
}

.carousel {
  width: 100%;
  position: relative;
}

.fa-solid {
  color: $color-primary;
  font-size: 25px;
}

.fab {
  font-size: 20px;
}

.carousel-inner {
  border-radius: 10px;
}

a.link {
  position: relative;
}

.title-name {
  font-size: 16px;
  text-align: center;
  color: $color-dark;
  margin: 5px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

.notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.notifications .badge {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  content: "";
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-fluid {
  height: 200px;
  width: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.item-name {
  font-size: 18px;
  color: $color-accent;
}

.item-description {
  color: $color-text;
  font-size: 12px;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-menu {
  color: rgba(18, 17, 17, 0.8078431373);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.navbar-house {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.container-sticker {
  z-index: 9999;

  position: absolute;
  width: 100%;
  height: 20px;
  top: -26px;
  right: 10px;
}

.status-container {
  display: flex;
  justify-content: flex-end;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);
}

.offline {
  background-color: $color-primary;
}

.rent-no {
  background-color: $color-primary;
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

.characteristics-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.item-characteristics {
  font-size: 12px;
  font-weight: 400;
}

.item {
  font-size: 24px;
  font-weight: 400;
  margin-right: 2px;
}

.accent {
  color: $color-accent;
}

.title-selected-accent {
  font-size: 20px;
  color: $color-accent;
  font-weight: 600;
}

.card.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
  height: 90%;
  width: 90%;
}

.title-selected {
  font-size: 18px;
  color: $color-text;
}

.title-group {
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  padding: 2px 10px;
  margin: 2px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25), 2px 1px 2px rgba(0, 0, 0, 0.22);
}

.copyFlatId {
  font-size: 10px;
}


.price-box {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.item-price {
  font-size: 35px;
}

.item-price-year {
  font-size: 20px;
}

.fa-regular,
.fa-solid {
  font-size: 35px;
  transition: 0.4s;
  color: $color-primary;

  &:hover {
    transition: 0.4s;
    color: $color-accent;
  }
  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  border: none;
  height: 3rem;
}
.list-label {
  border: none;
  padding: 0;
}
.list-select {
  border: none;
  font-size: $font-size;
  font-family: $font-main;
  font-weight: bold;
}
.list-option {
  border: none;
  background-color: none;
  font-size: $font-size;
  font-family: $font-main;
  font-weight: bold
}

.group-select {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.input-mat-1 {
  padding: 0 !important;

  margin-top: 10px;
  width: 100px;
}

.input-mat-2 {
  margin-top: 10px;
  width: 120px;
}

.input-mat-3 {
  margin-top: 10px;
  width: 150px;
}

.input-mat-4 {
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
}

.input-mat-5 {
  margin-top: 10px;
  width: 100%;
}

.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 10px;
}

input {
  height: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid-2 {
  height: 300px;
}

.btn-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.link-btn{
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    color: $color-accent;
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.link-btn:hover {
  background-color: #ccc;
}

.link-btn.with-image {
  position: relative;
  overflow: hidden;
}

.link-btn.with-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* затемнення фону */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  border: solid 4px rgba(231, 231, 231, 0);
  border-top: solid 5px rgb(241, 68, 68);
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotation_51512 2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s;
}















