<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container-title col-6">
    <h1>Послуги</h1>
    <h5>Ця сторінка створена для перегляду послуг які діють за закріпленою адресою. Вона дає можливість відслідковувати
      щомісячні витрати, та зручним способом вести статистику: споживання, витрат, передавати інформацію по показникам від орендара до власника.</h5>

    <h2 class="description">Статистика вашої оселі,<br> в зручним та сучасному<br> сервісі.</h2>

    <button class="btn-create" (click)="goToHostComun()"><i class="fa-solid fa-circle-chevron-right"></i></button>
    <p>Перейти до послуг</p>

    <div class="logo-wrapper">
      <img class="logo" src="../../../assets/logo/logoGif.gif" alt="">
    </div>

  </div>

  <div class="container-card col-6">

    <div class="slide-1" style="width: 24rem;">
      <div class="img-fluid"> <img src="../../../assets/example-comun/comun.jpg" alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Комунальні послуги</h3>
        <p class="card-title">Тут ви можете детально відстежувати свої рахунки, статистику по спожитому та витрати.
          Вносити показники лічильників, створювати шаблони та зберігати за місяцями та роками.</p>
      </div>
      <div class="card-body">
        <a class="link"><span>Передати показники</span></a>
        <a class="link"><span>Переглянути реквізити</span></a>
      </div>
    </div>

    <div [@cardAnimation1] class="slide-2" style="width: 24rem;">
      <div class="img-fluid"> <img src="../../../assets/example-comun/comun_water.jpg" alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Водопостачання</h3>
        <p class="card-title">Тут ви можете детально відстежувати свої рахунки, статистику по спожитому та витрати.
          Вносити показники лічильників, створювати шаблони та зберігати за місяцями та роками.</p>
      </div>
      <div class="card-body">
        <a class="link"><span>Передати показники</span><i class="fa-solid fa-handshake-angle"></i></a>
        <a class="link"><span>Переглянути реквізити</span><i class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>
    </div>

  </div>

</div>
<app-footer></app-footer>
