<app-navbar></app-navbar>
<div class="content-component">

  <div *ngIf="isMobile" class="col-12">
    <app-search-term-tenants></app-search-term-tenants>
  </div>

  <div class="main-container">

    <div *ngIf="!isMobile" class="d-flex col-12">
      <div class="col-lg-6 col-md-6">
        <app-search-term-tenants></app-search-term-tenants>
        <div [@appearance] class="cards-height">
          <app-cards-list-users></app-cards-list-users>
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <app-profile></app-profile>
      </div>
    </div>

    <div [@appearance] *ngIf="isMobile && indexPage !== 3 && indexPage !== 4 && counterFound > 0">
      <app-cards-list-users></app-cards-list-users>
    </div>

    <div *ngIf="isMobile && indexPage === 3">
      <app-profile></app-profile>
    </div>

  </div>
</div>
