<app-navbar></app-navbar>
<div class="content-component">
  <div class="switch-container" *ngIf="isMobile">

    <div class="switch-btn-group">
      <button class="btn" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min">Назад</div>
      </button>
    </div>

    <!-- <div class="menu-box">
      <h1 class="menu-lable">Пошук</h1>
      <h2 class="menu-name">Орендаря <i class="fa-solid fa-magnifying-glass pl-2"></i></h2>
    </div> -->

    <div class="switch-btn-group hide-mobile" *ngIf="!authorizationHouse">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/control/add'">
        <i class="fa-solid fa-house-circle-check"></i>
        <div class="t-min">Оселя</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="!houseData || acces_subs !== 1" class="btn" [routerLink]="'/house/discus/subscriptions'">
        <i class="fa-solid fa-people-pulling"></i>
        <div class="t-min bold">Підписки</div>
        <div class="status" *ngIf="counterHouseSubscriptions && counterHouseSubscriptions !== 0">
          {{counterHouseSubscriptions}} </div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="isMobile">
      <button class="btn" (click)="indexPage = 1" [ngClass]="{ 'active': indexPage === 1}">
        <i class="fa-solid fa-filter"></i>
        <div class="t-min bold">Фільтр</div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="!isMobile">
      <button [disabled]="counterFound === 0 || blockBtnStatus" class="btn">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="t-min bold">Знайдено</div>
        <div class="status" *ngIf="!blockBtnStatus">{{counterFound}}</div>
        <div class="status" *ngIf="blockBtnStatus"> <mat-spinner color="dark"></mat-spinner>
        </div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="isMobile">
      <button [disabled]="counterFound === 0 || blockBtnStatus" class="btn" (click)="indexPage = 2"
        [ngClass]="{ 'active': indexPage === 2}">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="t-min bold">Знайдено</div>
        <div class="status" *ngIf="!blockBtnStatus">{{counterFound}}</div>
        <div class="status" *ngIf="blockBtnStatus"> <mat-spinner color="dark"></mat-spinner>
        </div>
      </button>
    </div>

  </div>

  <div class="main-container">

    <div *ngIf="!isMobile" class="col-lg-3 col-md-3">
      <app-search-term-tenants></app-search-term-tenants>
    </div>

    <div *ngIf="!isMobile" class="col-lg-4 col-md-4">
      <app-cards-list-users></app-cards-list-users>
    </div>

    <div *ngIf="!isMobile" class="col-lg-5 col-md-5">
      <app-profile></app-profile>
    </div>

    <div *ngIf="isMobile && indexPage === 1">
      <app-search-term-tenants></app-search-term-tenants>
    </div>

    <div *ngIf="isMobile && indexPage === 2">
      <app-cards-list-users></app-cards-list-users>
    </div>

    <div *ngIf="isMobile && indexPage === 3">
      <app-profile></app-profile>
    </div>

    <div [@appearance] class="btn-group" *ngIf="isMobile && indexPage === 1">
      <button [disabled]="counterFound === 0" class="b-primary" (click)="indexPage = 2">
        <div class="t-med bold white">Всього Знайдено</div>
        <i class="fa-solid fa-arrow-right pl-2"></i>
        <div class="t-lar-xx bold white pl-2">{{counterFound}}</div>
      </button>
    </div>


  </div>
</div>
