@use "../../../style/discussi.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.switch-box {
  justify-content: flex-start;
  @include s1-s3 {
    overflow-x: auto;
  }
  .switch-btn-group {
    .btn {
      width: 80px;
    }
  }
}


.flex-column-chat {
  @include flex-box-column;
  align-items: stretch;
  position: relative;
  .send-message {
    @include s1-s3 {
      width: 100%;
      position: fixed;
      z-index: 200;
      bottom: 0;
    }
  }
}
