@use "../../../style/presets/" as *;

.container-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.card {
  width: 100%;
  display: flex;
  background-color: rgba(18, 17, 17, 0.792);
  color: white;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: stretch;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-box {
  display: flex;
}

.card-name {
  display: flex;
}

.btn-group {
  display: flex;
}
.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-light;
  height: 45px;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  font-size: 0.9em;
  color: $color-white !important;
}

.form-select {
  background-color: none;
  &:hover {
    background-color: $color-white;
  }
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1em 5px 1em 5px;
  border-radius: 10px;
  flex-direction: column;
  align-items: stretch;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  right: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #8f8f8f87;
  letter-spacing: 00.05em;
  transition: 0.6s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: white;
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

.img-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

select {
  font-size: 16px;
  padding: 5px;
  color: $color-accent;
  background: $color-primary;
  border: 1px groove $color-accent;
  border-radius: 10px;
}

.card-body-cast {
  background: none;
}

.input-cast {
  font-size: 16px;
  color: $color-accent;
  background: none;
  border-radius: 10px;
  padding: 10px;
  border: 2px groove $color-accent;
  &:focus-visible {
    border: 2px groove $color-accent;
  }
}


.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}
.form-control {
  width: 100%;
  background: none;
  border: 2px solid $color-accent;
  color: $color-white;
}
.btn-create {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: tomato;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.796);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  border: solid 4px rgba(231, 231, 231, 0);
  border-top: solid 5px tomato;
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotation_51512 2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s;
}

@keyframes rotation_51512 {
  70% {
    box-shadow: 0px 0px 10px 50px tomato;
  }

  90% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.04);
  }

  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}

