<div class="container-box">
  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-host-user/subscribers-user'">
    <span class="link-text">Підписники</span>
    <div class="status" *ngIf="counterSubs?.status !== 0">{{counterSubs?.status}}</div>
  </a>

  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-host-user/subscriptions-user'">
    <span class="link-text">Підписки</span>
    <div class="status" *ngIf="counterSubscriptions?.status !== 0">{{counterSubscriptions?.status}}</div>
  </a>

  <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers-host-user/subscribers-discuss'">
    <span class="link-text">Дискусії</span>
    <div class="status" *ngIf="counterAcceptSubs?.status !== 0">{{counterAcceptSubs?.status}}</div>
  </a>
</div>
