@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

// Кнопки функціоналу
.link-menu {
  @include flex-box-center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 60px;
  color: $color-text;
  text-align: start;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.154);
  border: 1px solid rgba(128, 128, 128, 0.237);
  .link-menu-t1 {
    font-size: $t-med;
  }
  .link-menu-t2 {
    font-weight: 600;
    font-size: 20px;
  }
  .link-icon {
    padding: 0 10px;
  }
  .link-text {
    font-size: 14px;
    font-family: $font-main;
  }
  .fa-solid,
  .fa-regular {
    color: $color-text;
    font-size: 30px;
  }
  &:hover {
    transform: scale(1.1);
    border-radius: 0px;
    color: $color-accent;
    transition: 1s;
    filter: drop-shadow(0px 0px 10px $color-accent);
    .link-menu-t2,
    .link-menu-t1 {
      color: $color-accent;
    }
    .flex-column {
      transform: translateX(40px);
      transition: 1s;
    }
    .link-icon {
      transform: translateX(-40px);
      transition: 1s;
    }
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transition: 1s;
    }
  }
  &.active {
    transform: scale(1.1);
    color: $color-accent;
    transition: 1s;
    filter: drop-shadow(0px 0px 10px $color-accent);
    .link-menu-t2,
    .link-menu-t1 {
      color: $color-accent;
    }
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transition: 1s;
    }
  }
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
  }
}
