<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="content-child">

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-animation" [@swichCard]>
        <div class="card-content">

          <button class="btn geer" [routerLink]="'/information-user'"><i class="fa-solid fa-gear"
              matTooltip="Налаштувати профіль"></i></button>

          <app-img></app-img>
          <app-links-box></app-links-box>
          <app-info></app-info>

          <nav class="navbar">

            <a class="link-menu" [routerLink]="'/discussio-search'">
              <div class="flex-column w-80">
                <p class="link-menu-t2">Пошук</p>
                <p class="link-menu-t1">Discussio</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-magnifying-glass"></i></div>
            </a>

            <a class="link-menu" [routerLink]="'/user/preview'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Відображення</p>
                <p class="link-menu-t2">Перегляд</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-address-card"></i></div>
            </a>

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/looking'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Профіль</p>
                <p class="link-menu-t2">Орендаря</p>
              </div>
              <div class="link-icon w-20">
                <i class="fa-solid fa-person-hiking" *ngIf="!userInfo.agree_search || userInfo.agree_search === 0"></i>
                <i class="fa-solid fa-person-hiking fa-beat-fade active" *ngIf="userInfo.agree_search === 1"></i>
              </div>
            </a>

            <!-- <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/information-user'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Редагувати</p>
                <p class="link-menu-t2">Профіль</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-gears"></i></div>
            </a> -->

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/house-control/selection-house'">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Управління</p>
                <p class="link-menu-t2">Оселею</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-house"></i></div>
            </a>

            <a class="link-menu" target="_blank" href="https://t.me/discussio_chat" *ngIf="isMobile">
              <div class="flex-column w-80">
                <p class="link-menu-t1">Технічна</p>
                <p class="link-menu-t2">Підтримка <i class="fa-brands fa-telegram"></i></p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-headset"></i></div>
            </a>

          </nav>

        </div>
      </div>
    </div>

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="card-animation bg-none" [@left2]>
        <div class="flex-column t-c">

          <div class="switch-container p-2">

            <div class="menu-box t-e hide-mobile" [routerLink]="'/house/house-control/'">
              <div class="menu-lable">Управління</div>
              <div class="menu-name">Оселею</div>
            </div>

            <div class="switch-btn-group">
              <button class="btn" [routerLink]="'/house/house-control/add-house'">
                <i class="fa-solid fa-house-chimney-medical"></i>
                <div class="t-min bold">Створення</div>
              </button>
            </div>

            <!-- <div class="switch-btn-group">
              <button class="btn" [ngClass]="{ 'active': indexPage === 1}" (click)="indexPage = 1">
                <i class="fa-solid fa-house-circle-check"></i>
                <div class="t-min bold">Вибір</div>
              </button>
            </div> -->

          </div>

          <div class="selection-housing w-100">
            <app-selection-housing></app-selection-housing>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>