@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.google-auth-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.googleForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.form {
  min-width: 350px;
}

.content {
  padding-top: 50px;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}

.logo-name {
  font-size: 6rem;
}

.inputbox {
  position: relative;
  display: flex;
  width: 100%;
}

.input-email {
  height: 100px;
}

.card-box-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  // height: 25vh;
  position: relative;
  @include s1-s3 {
    height: auto;
    justify-content: flex-start;
  }
}

a {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  color: $color-accent;
  display: inline;
}

.alert-danger {
  color: $color-accent;
  font-size: 12px;
  left: 0;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 150px;
  width: 100%;
  filter: drop-shadow(0px 10px 25px rgb(52, 52, 52));
}

.logoMin {
  height: 100px;
  width: 100%;
  filter: drop-shadow(0px 10px 25px rgb(41, 41, 41));
}

.box-agree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-none {
  border: none;
  width: 100%;
  background-color: transparent;
  font-weight: 600;
  color: $color-accent;
  @include s3-s6-max {
    &:hover {
      color: $color-accent;
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }
  }
}

.btn-none.disabled-button {
  color: $color-gray;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input-field {
  width: 100%;
}

.see {
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
  background: none;
  border: none;
}

.error-message {
  font-size: 12px;
  color: rgba(255, 0, 0, 0.663);
}

.fa-solid,
.fa-regular {
  font-size: 18px;
  color: $color-dark;
}
