<div class="container-box">
  <div class="card-box col-lg-3 col-md-5 col-sm-6 col-12">
    <div class="m-2">
      <app-account-nav></app-account-nav>

      <nav class="navbar-house">
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/contacts'"><span
            class="link-text">Контакти</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/cards'"><span
            class="link-text">Реквізити</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/files'"><span
            class="link-text">Угоди</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/subscriptions'"><span
            class="link-text">Підписки</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/information-user'"><span
            class="link-text">Редагувати <i class="fa-solid fa-gear"></i></span></a>
      </nav>
    </div>
  </div>
  <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
    <div class="card m-2">

      <div class="img-fluid">
        <img [src]="'http://localhost:3000/img/users/' + (userImg ? userImg : 'user_default.svg')" alt="User Image">
      </div>

      <div class="item-wrapper p-3">
        <p>Власник:</p>
        <h1>{{ user.lastName }} {{ user.firstName }} {{ user.surName }}</h1>
        <p>Телефон: {{ user.tell }}</p>
        <p>Email для листування: {{ user.mail }}</p>
        <div class="card-social-link">
          <a href="{{ user.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="{{ user.telegram }}"><i class="fa-brands fa-telegram"></i></a>
          <a href="{{ user.viber }}"><i class="fa-brands fa-viber"></i></a>
          <a href="{{ user.facebook }}"><i class="fa-brands fa-facebook"></i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="card-box col-lg-5 col-md-5 col-sm-6 col-12">
    <div class="m-2 p-3">
      <div class="item-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
