<div class="container-box">

  <div class="card-box col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="m-2">
      <app-account-selection></app-account-selection>
      <!-- <app-account-nav></app-account-nav> -->

      <nav class="navbar-house">
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/info'"><span class="link-text">Мій
            аккаунт</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/chat-host'"><span
            class="link-text">Повідомлення</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/subscriptions'"><span
            class="link-text">Підписки</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/subscribe'"><span
            class="link-text">Підписники</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/host-discussio'"><span
            class="link-text">Discussiї</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/uagree-menu'"><span class="link-text">Угоди
            оренди</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/information-user'"><span
            class="link-text">Редагувати <i class="fa-solid fa-gear"></i></span></a>
      </nav>
    </div>
  </div>

  <div class="card-box col-lg-9 col-md-9 col-sm-12 col-12">
    <router-outlet></router-outlet>
  </div>

</div>
