<div class="container-box">

  <div class="card-box col-lg-3 col-md-5 col-sm-6 col-12">
    <div class="m-2">
      <app-account-nav></app-account-nav>
      <nav class="navbar-house">
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/info'"><span
            class="link-text">Користувач</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/contacts'"><span
            class="link-text">Контакти</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/cards'"><span
            class="link-text">Реквізити</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/files'"><span
            class="link-text">Угоди</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/subscriptions'"><span
            class="link-text">Підписки</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/user/discussion-user'"><span
            class="link-text">Дискусія</span></a>
        <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/information-user'"><span
            class="link-text">Редагувати <i class="fa-solid fa-gear"></i></span></a>
      </nav>
    </div>
  </div>

  <div class="card-box col-lg-9 col-md-5 col-sm-6 col-12">
    <router-outlet></router-outlet>
  </div>

</div>
