<div [@top1] class="info-card" *ngIf="houseData">
  <div class="card-content p-2">

    <div class="status-container">
      <div class="status-box">
        <div class="status-value">Допомога</div>
      </div>
      <div class="status-hover">
        <div class="status-hover-label">Допомога</div>
        <div class="status-hover-text">
          <p class="t-med white p-2">Перевірте
            правильність заповнення даних. Редагувати інформацію про оселю можна в налаштуваннях оселі. Внесення
            документу на прово власності не обов'язкове, якщо Ви не бажаєте
            передавати цю інформацію до моменту фактичного підписання угоди, його можна буде внести при
            зустрічи в шаблон сформованої угоди</p>
        </div>
      </div>
    </div>

    <div class="flex-column border-bottom mt-4">
      <div class="t-med">Назва оселі</div>
      <div class="t-lar-x bold"> {{houseData.flat.flat_name}} </div>
    </div>

    <div class="flex-column border-bottom">
      <div class="t-med">ID Оселі</div>
      <div class="t-lar-x bold"> {{houseData.flat.flat_id}} </div>
    </div>

    <div class="flex-column border-bottom">
      <div class="t-med">Місто</div>
      <div class="t-lar-x bold"> {{houseData.flat.city}} </div>
    </div>

    <div class="flex-column border-bottom">
      <div class="t-med">Вулиця</div>
      <div class="t-lar-x bold"> {{houseData.flat.street}} </div>
    </div>

    <div class="flex-column border-bottom">
      <div class="t-med">Будинок:</div>
      <div class="t-lar-x bold"> {{houseData.flat.houseNumber}} </div>
    </div>

    <div class="flex-column border-bottom">
      <div class="t-med">Квартира:</div>
      <div class="t-lar-x bold"> {{houseData.flat.apartment}} </div>
    </div>

    <div class="flex-column border-bottom">
      <div class="t-med">Площа м²:</div>
      <div class="t-lar-x bold"> {{houseData.param.area}} </div>
    </div>

    <div class="t-med mt-2 ">Права на власність:</div>
    <mat-form-field class="input-mat w-100 mb-2" appearance="outline">
      <mat-label>Номер документу</mat-label>
      <input type="text" name="ownership" matInput [(ngModel)]="ownership">
    </mat-form-field>

  </div>

  <div class="card-content p-2 ">
    <div class="status-container">
      <div class="status-box">
        <div class="status-value">Допомога</div>
      </div>
      <div class="status-hover">
        <div class="status-hover-label">Допомога</div>
        <div class="status-hover-text">
          <p class="t-med white p-2">Обов'язково потрібно обрати орендаря.
            Та перевірити правильність заповнення даних. Без внесених даних пошти та телефону угода не сформується</p>
        </div>
      </div>
    </div>

    <div class="box-1 w-100">
      <div class="t-lar bold">{{ userData.inf?.lastName }} {{ userData.inf?.firstName }} {{ userData.inf?.surName
        }}
      </div>
      <div class="t-med"><span class="bold accent">ID: {{ userData.cont?.user_id }}</span> іменований надалі
        <span class="bold accent">"Орендодавець"</span>
      </div>
      <div class="card-2">
        <div class="img-fluid-h w-30">
          <img class="img-h" [src]="serverPath + pathPhotoUser +
                  (userData.img[0].img ? userData.img[0].img : 'user_default.svg')" alt="img">
        </div>
        <div class="flex-column bg-w w-70">
          <mat-form-field class="input-mat w-100 p-1" appearance="outline">
            <mat-label>Телефон</mat-label>
            <input type="tel" name="owner_tell" matInput [(ngModel)]="userData.cont.tell" [maxlength]="10"
              [pattern]="phonePattern" required>
            <mat-icon matSuffix><i class="fa-solid fa-phone"></i></mat-icon>
          </mat-form-field>

          <mat-form-field class="input-mat w-100 p-1" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="mail" name="owner_mail" matInput [(ngModel)]="userData.cont.mail" required>
            <mat-icon matSuffix><i class="fa-solid fa-at"></i></mat-icon>
          </mat-form-field>


        </div>
      </div>
    </div>

    <mat-form-field class="mat-form w-100 mt-2" appearance="outline">
      <mat-select class="list-select" [(value)]="selectedSubscriber" placeholder="Орендарь">
        <mat-option class="list-option" *ngFor="let subscriber of subscribers" [value]="subscriber">
          {{ subscriber.firstName }} {{ subscriber.lastName }}
          <span class="t-med accent" *ngIf="subscriber.id === 'citizen'">Мешканець</span>
          <span class="t-med accent" *ngIf="!subscriber.id">Дискусія</span>
        </mat-option>

      </mat-select>
      <mat-icon matSuffix><i class="fa-solid fa-person-walking-luggage"></i></mat-icon>
      <mat-hint class="gray" align="start">Оберіть орендаря</mat-hint>
    </mat-form-field>

    <div [@left] class="box-1 w-100" *ngIf="selectedSubscriber">
      <div class="t-lar bold">{{ selectedSubscriber?.lastName }} {{ selectedSubscriber?.firstName }} {{
        selectedSubscriber?.surName }}
      </div>
      <div class="t-med"><span class="bold accent">ID: {{ selectedSubscriber?.user_id }}</span> іменований
        надалі
        <span class="bold accent">"Орендар"</span>
      </div>
      <div class="card-2">
        <div class="img-fluid-h w-30">
          <img class="img-h" [src]="serverPath + pathPhotoUser +
                  (selectedSubscriber?.img ? selectedSubscriber?.img : 'user_default.svg')" alt="img">
        </div>
        <div class="flex-column bg-w w-70">
          <mat-form-field class="input-mat w-100 p-1" appearance="outline">
            <mat-label>Телефон</mat-label>
            <input type="tel" name="owner_tell" matInput [(ngModel)]="selectedSubscriber.tell" [maxlength]="10"
              [pattern]="phonePattern" required>
            <mat-icon matSuffix><i class="fa-solid fa-phone"></i></mat-icon>
          </mat-form-field>

          <mat-form-field class="input-mat w-100 p-1" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="mail" name="owner_mail" matInput [(ngModel)]="selectedSubscriber.mail" required>
            <mat-icon matSuffix><i class="fa-solid fa-at"></i></mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>

  <div class="card-content p-2 ">

    <div class="status-container">
      <div class="status-box">
        <div class="status-value">Допомога</div>
      </div>
      <div class="status-hover">
        <div class="status-hover-label">Допомога</div>
        <div class="status-hover-text">
          <p class="t-med white p-2">Обов'язково потрібно вказати:
          <ul class="p-4">
            <li class="t-med white">дату формування угоди</li>
            <li class="t-med white">суму оплати</li>
            <li class="t-med white">число оплати</li>
          </ul>
          <p class="t-med white p-2">Інші параметри можуть бути заповнені при зустрічі

        </div>
      </div>
    </div>

    <mat-form-field class="mt-3 w-100" appearance="outline">
      <input matInput [matDatepicker]="picker" [(ngModel)]="agreementDate" (ngModelChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint class="gray" align="start">Дата укладання угоди</mat-hint>

    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      <mat-hint class="gray" align="start">Термін оренди:</mat-hint>
    </mat-form-field>

    <div class="characteristics-group mt-1" *ngIf="houseData.about.option_pay == 0">
      <div class="info-text w-50">Орендна плата за використання квартири та майна за місяць становить:</div>
      <mat-form-field appearance="outline" class="input-mat w-50 p-1">
        <mat-label class="label-auto">Сума плати</mat-label>

        <input matInput type="number" id="price_m" name="price_m" [(ngModel)]="rentPrice"
          (ngModelChange)="updateRentPrice($event)" placeholder="сума">
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1" *ngIf="houseData.about.option_pay == 1">
      <div class="info-text w-50">Орендна плата за використання квартири та майна за добу становить:</div>
      <mat-form-field appearance="outline" class="input-mat w-50 p-1">
        <mat-label class="label-auto">Сума плати</mat-label>
        <input matInput type="number" id="price_m" name="price_d" [(ngModel)]="rentPrice"
          (ngModelChange)="updateRentPrice($event)" placeholder="сума">
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text w-50">Заставна сума яка повертається Орендодавцем після закінчення цієї угоди:
      </div>
      <mat-form-field appearance="outline" class="input-mat w-50 p-1">
        <mat-label class="label-accent">Сума застава</mat-label>
        <input matInput type="number" id="depositPayment" name="depositPayment" placeholder="Сума застава" required
          [(ngModel)]="depositPayment" #depositPaymentInput="ngModel">
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text w-50">Оплату комунальних здійснює:</div>
      <div class="content w-25">
        <label class="checkBox">
          <input id="whoPayComunOwner" type="radio" [(ngModel)]="whoPayComun" name="whoPayComunOwner" [value]=0>
          <div class="transition"></div>
        </label>
        <span class="info-text">Орендодавець</span>
        <i></i>
      </div>
      <div class="content w-25">
        <label class="checkBox">
          <input id="whoPayComunTenant" type="radio" [(ngModel)]="whoPayComun" name="whoPayComunTenant" [value]=1>
          <div class="transition"></div>
        </label>
        <span class="info-text">Орендар</span>
        <i></i>
      </div>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text w-70">Орендна плата вноситься не пізніше заданого числа місяця</div>
      <mat-form-field appearance="outline" class="input-mat w-30 p-1">
        <mat-label class="label-accent">Число</mat-label>
        <input matInput type="number" id="rent_due_date" name="rent_due_date" min="1" max="31" placeholder="Число"
          required [(ngModel)]="rentDueDate" #rentDueDateInput="ngModel">
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text w-70">Термін через який Орендодавець передасть Орендарю Об'єкт нерухомості з
        моменту
        підписання цієї угоди</div>
      <mat-form-field appearance="outline" class="input-mat w-30 p-1">
        <mat-label class="label-accent">Днів</mat-label>
        <input matInput type="number" id="transferHouse" name="transferHouse" min="1" max="31" placeholder="Днів"
          required [(ngModel)]="transferHouse">
      </mat-form-field>
    </div>

  </div>

  <div class="card-content p-2">

    <div class="characteristics-group mt-3">
      <div class="info-text w-75">Розірвання/зміна угоди, з повідомленням про це не менше
        ніж за таку кількість днів</div>
      <mat-form-field appearance="outline" class="input-mat w-25 p-1">
        <mat-label class="label-accent" for="dateAgreeBreakUp">Днів</mat-label>
        <input matInput type="number" name="dateAgreeBreakUp" placeholder="Днів" min="0" max="90"
          [(ngModel)]="dateAgreeBreakUp" required>
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text w-75">Кількість разів на місяць Орендодавець може відвідувати оселю з метою
        технічного огляду/профілактики/обслуговування </div>
      <mat-form-field appearance="outline" class="input-mat w-25 p-1">
        <mat-label class="label-accent" for="numberVisits">Раз</mat-label>
        <input matInput type="number" name="numberVisits" placeholder="Раз" min="0" max="30" [(ngModel)]="numberVisits"
          required>
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text">Майно, що передається буде використовуватися для проживання перелічених осіб:
      </div>
      <mat-form-field class="input-mat w-100 p-1" appearance="outline">
        <mat-label class="label-accent">Проживатимуть:</mat-label>
        <input type="text" name="personsReside" matInput [(ngModel)]="personsReside">
      </mat-form-field>
    </div>

    <div class="characteristics-group mt-1">
      <div class="info-text w-75">Звільнити і здати Орендодавцю Об'єкт після
        закінчення/розірвання терміну дії угоди через </div>
      <mat-form-field appearance="outline" class="input-mat w-25 p-1">
        <mat-label class="label-accent" for="vacateHouse">Днів</mat-label>
        <input matInput type="number" name="vacateHouse" placeholder="Днів" min="0" max="30" [(ngModel)]="vacateHouse"
          required>
      </mat-form-field>
    </div>

    <mat-form-field class="w-100 mt-2">
      <mat-label>Додаткові умови</mat-label>
      <textarea #textArea id="floatingTextarea" [(ngModel)]="conditions" matInput
        placeholder="Введіть Ваші умови які додадуться до стандартного шаблону угоди."></textarea>
    </mat-form-field>

    <div class="flex-box p-2 w-100 mb-2">
      <div class="t-med t-c">Я перевірив, дані внесені вірно.</div><i class="fa-solid fa-list-check pl-2"></i>
      <div class="content pl-2">
        <label class="checkBox">
          <input type="checkbox" [(ngModel)]="isCheckboxChecked">
          <div class="transition"></div>
        </label>
        <i></i>
      </div>
    </div>

  </div>

  <div class="btn-group">
    <a class="btn" [routerLink]="'/house/info'">
      <i class="fa-solid fa-arrow-left white pr-2"></i>
      <div class="t-min white">Назад</div>
    </a>

    <button class="btn" [disabled]="!isCheckboxChecked" (click)="createAgreement()">
      <i class="fa-solid fa-paper-plane"></i>
      <div class="t-med dark bold p-2">Надіслати</div>
    </button>
  </div>
  
  <div *ngIf="message" class="error-message">{{ message }}</div>

</div>
