<div class="card-box">

  <div class="box-2">
    <div class="box-1 col-lg-12 col-md-6 col-sm-12 col-12">

      <div class="col-lg-5 col-md-6 col-sm-12 col-12">
        <div class="group p-1">
          <div class="group-transparent group-left m-1">
            <a class="search-change" [routerLinkActive]="'active'" [routerLink]="'/search/host-house/housingSearch'"
              matTooltip="Пошук оселі"><i class="fa-solid fa-building"></i></a>
            <a class="search-change" [routerLinkActive]="'active'" [routerLink]="'/search/host-tenant/tenantsSearch'"
              matTooltip="Пошук орендаря"><i class="fa-solid fa-users"></i></a>
            <div class="searchName">
              <div class="title-page">Шукаємо оселю</div>
              <div class="custom-paginator">
                <button class="paginator-button" (click)="decrementOffset()"><i
                    class="fa-solid fa-chevron-left"></i></button>
                <div class="paginator-info">показано
                  {{ (pageEvent.pageIndex * pageEvent.pageSize) + 1 }} -
                  {{ ((pageEvent.pageIndex + 1) * pageEvent.pageSize) <= optionsFound ? ((pageEvent.pageIndex + 1) *
                    pageEvent.pageSize) : optionsFound }} з {{ optionsFound }} знайдених </div>
                    <button class="paginator-button" (click)="incrementOffset()"><i
                        class="fa-solid fa-chevron-right"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="container-btn">
          <button class="btn mr-2" (click)="toggleSearchTerm()" matTooltip="Пошуковий фільтр">
            <i class="fa-solid animate" [class.rotate-up]="isSearchTermCollapsed"
              [class.rotate-down]="!isSearchTermCollapsed" [class.fa-chevron-up]="isSearchTermCollapsed"
              [class.fa-chevron-down]="!isSearchTermCollapsed"></i>
          </button>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 col-12">
          <mat-form-field class="item-select m-1" appearance="outline">
            <mat-label>Сортування</mat-label>
            <mat-select [(ngModel)]="filterData" name="bunker">
              <mat-option [value]="''">Неважливо</mat-option>
              <mat-option [value]="1">Дешевші</mat-option>
              <mat-option [value]="2">Дорожчі</mat-option>
              <mat-option [value]="3">Новіші</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="heightSet">
            <mat-form-field class="search-id" appearance="outline">
              <mat-label><i class="fa-solid fa-magnifying-glass"></i>Знайти оселю по ID</mat-label>
              <input matInput type="text" [(ngModel)]="searchQuery" (input)="searchByID()" />

            </mat-form-field>
          </div>
        </div>

      </div>
    </div>

    <div class="container-search" [class.collapsed]="isSearchTermCollapsed">
      <div class="box">

        <div class="group-card col-md-6 col-sm-12 col-12">

          <div class="group">
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Ціна (від)</mat-label>
                <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="price_of" name="price_of"
                  (ngModelChange)="onSubmitWithDelay()">
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Ціна (до)</mat-label>
                <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="price_to" name="price_to"
                  (ngModelChange)="onSubmitWithDelay()">
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Стан</mat-label>
                <mat-select [(ngModel)]="repair_status" name="repair_status" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="1">Новий</mat-option>
                  <mat-option value="2">Добрий</mat-option>
                  <mat-option value="3">Задовільний</mat-option>
                  <mat-option value="3">Поганий</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Для кого шукаємо?</mat-label>
            <div class="group-transparent m-1 border-horizontal">
              <div class="content">
                <label class="checkBox">
                  <input id="students" type="checkbox" [(ngModel)]="students" name="students"
                    (ngModelChange)="onSubmitWithDelay()" [value]="students">
                  <div class="transition"></div>
                </label>
                <span class="text">Студент<span class="status">S</span>
                </span>

                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input id="woman" type="checkbox" [(ngModel)]="woman" name="woman"
                    (ngModelChange)="onSubmitWithDelay()" [value]="woman">
                  <div class="transition"></div>
                </label>
                <span class="text">Жінка<span class="status">W</span></span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input id="man" type="checkbox" [(ngModel)]="man" name="man" (ngModelChange)="onSubmitWithDelay()"
                    [value]="man">
                  <div class="transition"></div>
                </label>
                <span class="text">Чоловік<span class="status">M</span></span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input id="family" type="checkbox" [(ngModel)]="family" name="family"
                    (ngModelChange)="onSubmitWithDelay()" [value]="family">
                  <div class="transition"></div>
                </label>
                <span class="text">Сім'я<span class="status">F</span></span>
                <i></i>
              </div>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Місцезнаходження / укриття</mat-label>
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Область</mat-label>
                <input name="flatInfo.region" (ngModelChange)="onSubmitWithDelay()" matInput
                  [(ngModel)]="selectedRegion" placeholder="Виберіть або введіть область" (ngModelChange)="loadCities()"
                  [matAutocomplete]="autoRegion">
                <mat-autocomplete #autoRegion="matAutocomplete">
                  <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
                    {{ region.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Місто</mat-label>
                <input name="flatInfo.city" (ngModelChange)="onSubmitWithDelay()" matInput [(ngModel)]="selectedCity"
                  placeholder="Виберіть або введіть місто" (ngModelChange)="loadRegion()" [matAutocomplete]="autoCity">
                <mat-autocomplete #autoCity="matAutocomplete">
                  <mat-option *ngFor="let city of filteredCities" [value]="city.name">
                    {{ city.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Укриття</mat-label>
                <mat-select [(ngModel)]="bunker" name="bunker">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Паркінг">Паркінг</mat-option>
                  <mat-option value="В будинку">В будинку</mat-option>
                  <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Площа м² оселі / кухні</mat-label>
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>від</mat-label>
                <mat-select [(ngModel)]="area_of" name="area_of" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="10">10м²</mat-option>
                  <mat-option value="20">20м²</mat-option>
                  <mat-option value="30">30м²</mat-option>
                  <mat-option value="40">40м²</mat-option>
                  <mat-option value="50">50м²</mat-option>
                  <mat-option value="60">60м²</mat-option>
                  <mat-option value="70">70м²</mat-option>
                  <mat-option value="80">80м²</mat-option>
                  <mat-option value="90">90м²</mat-option>
                  <mat-option value="100">100м²</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>до</mat-label>
                <mat-select [(ngModel)]="area_to" name="area_to" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="10">10м²</mat-option>
                  <mat-option value="20">20м²</mat-option>
                  <mat-option value="30">30м²</mat-option>
                  <mat-option value="40">40м²</mat-option>
                  <mat-option value="50">50м²</mat-option>
                  <mat-option value="60">60м²</mat-option>
                  <mat-option value="70">70м²</mat-option>
                  <mat-option value="80">80м²</mat-option>
                  <mat-option value="90">90м²</mat-option>
                  <mat-option value="100">100м²</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Кухня</mat-label>
                <mat-select [(ngModel)]="kitchen_area" name="kitchen_area" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="10">до 10м²</mat-option>
                  <mat-option value="20">до 20м²</mat-option>
                  <mat-option value="30">до 30м²</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="group-card col-md-6 col-sm-12 col-12">

          <div class="group">
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>кім. від</mat-label>
                <mat-select [(ngModel)]="rooms_of" name="rooms_of" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="1">Однокімнатна</mat-option>
                  <mat-option value="2">Двокімнатна</mat-option>
                  <mat-option value="3">Трикімнатна</mat-option>
                  <mat-option value="4">Чотири і більше</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>кім. від</mat-label>
                <mat-select [(ngModel)]="rooms_to" name="rooms_to" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="1">Однокімнатна</mat-option>
                  <mat-option value="2">Двокімнатна</mat-option>
                  <mat-option value="3">Трикімнатна</mat-option>
                  <mat-option value="4">Чотири і більше</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Балкон</mat-label>
                <mat-select [(ngModel)]="balcony" name="balcony" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="Класичний">Класичний балкон</mat-option>
                  <mat-option value="Французький">Французький балкон</mat-option>
                  <mat-option value="Лоджія">Лоджія</mat-option>
                  <mat-option value="Тераса">Тераса</mat-option>
                  <mat-option value="Веранда">Веранда</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">
              <div class="group">
                <mat-label class="label-mat">Що шукаєте?</mat-label>
                <div class="group-transparent m-1 border-horizontal">

                  <div class="content">
                    <label class="checkBox">
                      <input id="looking_house" type="radio" [(ngModel)]="option_flat"
                        (ngModelChange)="onSubmitWithDelay()" name="looking_house" [value]=1>
                      <div class="transition"></div>
                    </label>
                    <span class="text">Будинок</span>
                    <i></i>
                  </div>

                  <div class="content">
                    <label class="checkBox">
                      <input id="looking_flat" type="radio" [(ngModel)]="option_flat"
                        (ngModelChange)="onSubmitWithDelay()" name="looking_flat" [value]=2>
                      <div class="transition"></div>
                    </label>
                    <span class="text">Квартира</span>
                    <i></i>
                  </div>

                  <div class="content">
                    <label class="checkBox">
                      <input id="room" type="checkbox" [(ngModel)]="room" (ngModelChange)="onSubmitWithDelay()"
                        name="room">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Кімната</span>
                    <i></i>
                  </div>

                </div>
              </div>

              <div class="group">
                <mat-label class="label-mat">Оплата за</mat-label>
                <div class="group-transparent m-1 border-horizontal">
                  <div class="content">
                    <label class="checkBox">
                      <input id="daily" type="radio" [(ngModel)]="option_pay" (ngModelChange)="onSubmitWithDelay()"
                        name="daily" [value]=1>
                      <div class="transition"></div>
                    </label>
                    <span class="text">Добу</span>
                    <i></i>
                  </div>

                  <div class="content">
                    <label class="checkBox">
                      <input id="monthly" type="radio" [(ngModel)]="option_pay" (ngModelChange)="onSubmitWithDelay()"
                        name="monthly" [value]=0>
                      <div class="transition"></div>
                    </label>
                    <span class="text">Місяць</span>
                    <i></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Паркінг / транспорт / метро</mat-label>
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Паркінг</mat-label>
                <mat-select [(ngModel)]="distance_parking" name="distance_parking"
                  (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="1">на території</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Зупинки</mat-label>
                <mat-select [(ngModel)]="distance_stop" name="distance_stop" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Метро</mat-label>
                <mat-select [(ngModel)]="distance_metro" name="distance_metro" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                  <mat-option [value]="2000">до 2км</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Інфраструктура</mat-label>
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Парк</mat-label>
                <mat-select [(ngModel)]="distance_green" name="distance_green" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Маркет</mat-label>
                <mat-select [(ngModel)]="distance_shop" name="distance_shop" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-label>Тварини</mat-label>
                <mat-select [(ngModel)]="animals" name="animals" (ngModelChange)="onSubmitWithDelay()">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Без тварин">Без тварин</mat-option>
                  <mat-option value="За домовленістю">За домовленістю</mat-option>
                  <mat-option value="Можна з тваринами">Можна з тваринами</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
