@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

mat-form-field {
  width: 120px;
  height: 50px !important;
}

mat-label {
  display: flex;
  font-size: 15px;
  color: tomato;
  align-items: center;
  justify-content: center;
}

.fa-magnifying-glass {
  font-size: 20px;
  margin-right: 10px;
  color: $color-dark;
}

.count {
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-page {
  font-size: 20px;
  text-transform: uppercase;
}

.accent {
  font-weight: 600;
  font-size: 26px;
}

.heightSet {
  width: 200px;
  height: 60px;
  @include s1-s3 {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}

.box-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  align-items: center;
  @include s1-s3 {
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
}

.box-1 {
  width: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  align-items: center;
  @include s1-s3 {
    justify-content: flex-end;
    width: 100%;
  }
}

.box {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.card-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.group-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-radius: 5px;
}

.group-transparent {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px !important;
}

.label-mat {
  position: absolute;
  top: -3px;
  left: 50;
  font-size: 12px;
  font-weight: 600;
  color: $color-accent;
  background-color: $color-primary;
  padding: 0 8px;
  margin-left: 5px;
  border-radius: 5px;
}

.noBg {
  background-color: transparent;
}

.border-horizontal {
  border-top: 1px solid $color-gray;
}

.content {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  @include s1-s3 {
    width: 76px;
  }
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);
}

.item-select {
  width: 100%;
}

.search-id {
  width: 100%;
}

.item-width-25 {
  width: 25%;
}

.item-width-50 {
  width: 50%;
}

.text {
  font-size: 14px;
}

.group-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include s1-s3 {
    justify-content: flex-end;
    padding-right: 20px;
  }
}

.search-change {
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover {
    transition: 0.4s;
    color: $color-accent;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-accent;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.container-search {
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 1000px;
}

.container-search.collapsed {
  max-height: 0;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease;
}

.container-btn {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    position: fixed;
    width: 60px;
    top: 15px;
    left: 15px;
    z-index: 99;
  }
}

.btn {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow:
    5px 5px 20px rgba(0, 0, 0, 0.105),
    5px 5px 20px rgba(0, 0, 0, 0.162);

  &:hover {
    color: $color-accent;
    box-shadow:
      5px 5px 20px rgba(244, 79, 2, 0.991),
      5px 5px 20px rgba(0, 0, 0, 0.162);
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow:
      5px 5px 20px rgba(244, 79, 2, 0.991),
      5px 5px 20px rgba(0, 0, 0, 0.162);
  }

  @include s1-s3 {
    width: 60px;
    height: 60px;
  }
}

.animate {
  transition: transform 1.5s;
  transform-origin: center;
}

.animate.rotate-up {
  transform: rotate(180deg);
}

.animate.rotate-down {
  transform: rotate(-180deg);
}

.container-search {
  overflow: hidden;
  transition: max-height 1s;
  max-height: 100vh;
}

.container-search.collapsed {
  overflow: hidden;
  transition: max-height 1s;
  max-height: 0;
}

.fa-solid {
  color: $color-dark;
}

.custom-paginator {
  display: flex;
  width: 100%;
  align-items: center;
}

.paginator-count {
  display: flex;
}

.paginator-info {
  display: flex;
  font-size: 13px;
}

.paginator-button {
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.bg-orange {
  background-color: $color-accent;
}

.custom-select {
  background-color: transparent;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
