<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
<div class="card-box">

  <div class="box-2">
    <div class="box-1 col-lg-12 col-md-6 col-sm-12 col-12">

      <div class="group-transparent group-left">
        <a class="search-change hide-mobile" [routerLinkActive]="'active'" [routerLink]="'/search/host-house/'"
          matTooltip="Пошук оселі"><i class="fa-solid fa-building"></i></a>
        <a class="search-change hide-mobile" [routerLinkActive]="'active'" [routerLink]="'/search/host-tenant/'"
          matTooltip="Пошук орендаря"><i class="fa-solid fa-users"></i></a>
        <div class="searchName">
          <div class="title-page">Шукаємо оселю</div>
          <div class="custom-paginator">
            <button class="paginator-button" (click)="decrementOffset()"><i
                class="fa-solid fa-chevron-left"></i></button>
            <div class="paginator-info">показано
              {{ (pageEvent.pageIndex * pageEvent.pageSize) + 1 }} -
              {{ ((pageEvent.pageIndex + 1) * pageEvent.pageSize) <= optionsFound ? ((pageEvent.pageIndex + 1) *
                pageEvent.pageSize) : optionsFound }} з {{ optionsFound }} знайдених </div>
                <button class="paginator-button" (click)="incrementOffset()"><i
                    class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>

        </div>

        <div class="container-btn">
          <button class="btn hide-mobile" (click)="toggleSearchTerm()" matTooltip="Пошуковий фільтр">
            <i class="fa-solid animate" [class.rotate-up]="isSearchTermCollapsed"
              [class.rotate-down]="!isSearchTermCollapsed" [class.fa-chevron-up]="isSearchTermCollapsed"
              [class.fa-chevron-down]="!isSearchTermCollapsed"></i>
          </button>
          <div class="numFind hide-pc bold"> {{optionsFound}} <span class="numFind-text">Знайдено</span></div>
        </div>
      </div>

      <div class="mobile-group">
        <div class="heightSet">
          <mat-form-field class="item-select" appearance="outline">
            <mat-select [(ngModel)]="filterData" name="bunker" (ngModelChange)="onSubmitWithDelay()"
              placeholder="Сортування" placeholder="Сортування">
              <mat-option [value]="''">Неважливо</mat-option>
              <mat-option [value]="1">Дешевші</mat-option>
              <mat-option [value]="2">Дорожчі</mat-option>
              <mat-option [value]="3">Новіші</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="heightSet">
          <mat-form-field class="search-id" appearance="outline">
            <input placeholder="Знайти по ID" matInput type="text" [(ngModel)]="searchQuery" (input)="searchByID()" />
          </mat-form-field>
        </div>

      </div>


    </div>

    <div class="container-search" [class.collapsed]="isSearchTermCollapsed">
      <div class="box">

        <div class="group-card col-md-6 col-sm-12 col-12">

          <div class="group">
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="price_of" name="price_of"
                  (ngModelChange)="onSubmitWithDelay()" placeholder="Ціна від">
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="price_to" name="price_to"
                  (ngModelChange)="onSubmitWithDelay()" placeholder="Ціна до">
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="repair_status" name="repair_status" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Стан">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="1">Новий</mat-option>
                  <mat-option value="2">Добрий</mat-option>
                  <mat-option value="3">Задовільний</mat-option>
                  <mat-option value="3">Поганий</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Для кого шукаємо?</mat-label>
            <div class="group-transparent m-1 border-horizontal">
              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" [(ngModel)]="students" name="students" (ngModelChange)="onSubmitWithDelay()"
                    [value]="students">
                  <div class="transition"></div>
                </label>
                <span class="text">Студент<span class="status">S</span>
                </span>

                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" [(ngModel)]="woman" name="woman" (ngModelChange)="onSubmitWithDelay()"
                    [value]="woman">
                  <div class="transition"></div>
                </label>
                <span class="text">Жінка<span class="status">W</span></span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" [(ngModel)]="man" name="man" (ngModelChange)="onSubmitWithDelay()"
                    [value]="man">
                  <div class="transition"></div>
                </label>
                <span class="text">Чоловік<span class="status">M</span></span>
                <i></i>
              </div>

              <div class="content">
                <label class="checkBox">
                  <input type="checkbox" [(ngModel)]="family" name="family" (ngModelChange)="onSubmitWithDelay()"
                    [value]="family">
                  <div class="transition"></div>
                </label>
                <span class="text">Сім'я<span class="status">F</span></span>
                <i></i>
              </div>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Місцезнаходження / укриття</mat-label>
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <input name="flatInfo.region" (ngModelChange)="onSubmitWithDelay()" matInput
                  [(ngModel)]="selectedRegion" placeholder="Область" (ngModelChange)="loadCities()"
                  [matAutocomplete]="autoRegion">
                <mat-autocomplete #autoRegion="matAutocomplete">
                  <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
                    {{ region.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <input name="flatInfo.city" (ngModelChange)="onSubmitWithDelay()" placeholder="Місто" matInput
                  [(ngModel)]="selectedCity" (ngModelChange)="loadRegion()" [matAutocomplete]="autoCity">
                <mat-autocomplete #autoCity="matAutocomplete">
                  <mat-option *ngFor="let city of filteredCities" [value]="city.name">
                    {{ city.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="bunker" (ngModelChange)="onSubmitWithDelay()" placeholder="Укриття"
                  name="bunker">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Паркінг">Паркінг</mat-option>
                  <mat-option value="В будинку">В будинку</mat-option>
                  <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Площа м² оселі / кухні</mat-label>
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="area_of" name="area_of" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="від м²">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="10">10м²</mat-option>
                  <mat-option value="20">20м²</mat-option>
                  <mat-option value="30">30м²</mat-option>
                  <mat-option value="40">40м²</mat-option>
                  <mat-option value="50">50м²</mat-option>
                  <mat-option value="60">60м²</mat-option>
                  <mat-option value="70">70м²</mat-option>
                  <mat-option value="80">80м²</mat-option>
                  <mat-option value="90">90м²</mat-option>
                  <mat-option value="100">100м²</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="area_to" name="area_to" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="від м²">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="10">10м²</mat-option>
                  <mat-option value="20">20м²</mat-option>
                  <mat-option value="30">30м²</mat-option>
                  <mat-option value="40">40м²</mat-option>
                  <mat-option value="50">50м²</mat-option>
                  <mat-option value="60">60м²</mat-option>
                  <mat-option value="70">70м²</mat-option>
                  <mat-option value="80">80м²</mat-option>
                  <mat-option value="90">90м²</mat-option>
                  <mat-option value="100">100м²</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="kitchen_area" name="kitchen_area" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Кухня м²">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="10">до 10м²</mat-option>
                  <mat-option value="20">до 20м²</mat-option>
                  <mat-option value="30">до 30м²</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="group-card col-md-6 col-sm-12 col-12">

          <div class="group">
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="rooms_of" name="rooms_of" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="кім. від">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="1">Однокімнатна</mat-option>
                  <mat-option value="2">Двокімнатна</mat-option>
                  <mat-option value="3">Трикімнатна</mat-option>
                  <mat-option value="4">Чотири і більше</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="rooms_to" name="rooms_to" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="кім. до">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="1">Однокімнатна</mat-option>
                  <mat-option value="2">Двокімнатна</mat-option>
                  <mat-option value="3">Трикімнатна</mat-option>
                  <mat-option value="4">Чотири і більше</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="balcony" name="balcony" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Балкон">
                  <mat-option [value]="null">Неважливо</mat-option>
                  <mat-option value="Класичний">Класичний балкон</mat-option>
                  <mat-option value="Французький">Французький балкон</mat-option>
                  <mat-option value="Лоджія">Лоджія</mat-option>
                  <mat-option value="Тераса">Тераса</mat-option>
                  <mat-option value="Веранда">Веранда</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <div class="group-transparent m-1">
              <div class="group">
                <mat-label class="label-mat">Що шукаєте?</mat-label>
                <div class="group-transparent m-1 border-horizontal">

                  <mat-radio-group aria-label="Select an option" [(ngModel)]="option_flat"
                    (ngModelChange)="onSubmitWithDelay()">
                    <mat-radio-button color="warn" value="1">Будинок </mat-radio-button>
                    <mat-radio-button color="warn" value="2">Квартира </mat-radio-button>
                  </mat-radio-group>

                  <div class="content">
                    <label class="checkBox">
                      <input type="checkbox" [(ngModel)]="room" (ngModelChange)="onSubmitWithDelay()" name="room">
                      <div class="transition"></div>
                    </label>
                    <span class="text">Кімната</span>
                    <i></i>
                  </div>

                </div>
              </div>

              <div class="group">
                <mat-label class="label-mat">Оплата за</mat-label>
                <div class="group-transparent m-1 border-horizontal">

                  <mat-radio-group class="radio-group" aria-label="Select an option" [(ngModel)]="option_pay"
                    (ngModelChange)="onSubmitWithDelay()">
                    <mat-radio-button color="warn" class="green"  [value]="1">Добу</mat-radio-button>
                    <mat-radio-button color="warn" [value]="0">Місяць</mat-radio-button>
                  </mat-radio-group>

                </div>
              </div>



            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Паркінг / транспорт / метро</mat-label>
            <div class="group-transparent m-1">

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="distance_parking" name="distance_parking" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Паркінг">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="1">на території</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="distance_stop" name="distance_stop" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Зупинки">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="distance_metro" name="distance_metro" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Метро">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                  <mat-option [value]="2000">до 2км</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="group">
            <mat-label class="label-mat">Інфраструктура</mat-label>
            <div class="group-transparent m-1">
              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="distance_green" name="distance_green" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Парк">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="distance_shop" name="distance_shop" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Маркет">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option [value]="100">до 100м</mat-option>
                  <mat-option [value]="300">до 300м</mat-option>
                  <mat-option [value]="500">до 500м</mat-option>
                  <mat-option [value]="1000">до 1км</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-select m-1" appearance="outline">
                <mat-select [(ngModel)]="animals" name="animals" (ngModelChange)="onSubmitWithDelay()"
                  placeholder="Тварини">
                  <mat-option [value]="''">Неважливо</mat-option>
                  <mat-option value="Без тварин">Без тварин</mat-option>
                  <mat-option value="За домовленістю">За домовленістю</mat-option>
                  <mat-option value="Можна з тваринами">Можна з тваринами</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
</ng-template>
