<div class="card-box col-lg-3 col-md-5 col-sm-6 col-12">
  <div class="m-2">
    <app-account-nav></app-account-nav>

    <nav class="navbar-house">
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/parameters'"><span
          class="link-text">Характеристики</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/documents'"><span
          class="link-text">Документи</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/order-services'"><span
          class="link-text">Послуги</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/house/furniture'"><span
          class="link-text">Наповнення</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/subscribers'">
        <span class="link-text">Підписники</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/host-discussio-h'">
        <span class="link-text">Discussio</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/residents'"><span
          class="link-text">Мешканці</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/comun-page'"><span
          class="link-text">Комунальні</span></a>
      <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/address'"><span
          class="link-text">Редагувати <i class="fa-solid fa-gear fa-spin"></i></span></a>
    </nav>
  </div>
</div>
