<div class="container-fluid">
  <div class="switch-box p-2 hide-pc">

    <div class="btn-menu">
      <a class="btn" [routerLinkActive]="'active'" (click)="indexPage = 1"
        [routerLink]="'/housing-parameters/host/photo'" (click)="onToggleMenu()"><span class="link-text">
          <i class="fa-solid fa-images"></i></span>
      </a>
    </div>

    <div class="btn-menu">
      <a class="btn" [routerLinkActive]="'active'" (click)="indexPage = 1"
        [routerLink]="'/housing-parameters/host/address'"><span class="link-text">
          <i class="fa-solid fa-location-dot"></i></span>
      </a>
    </div>
    <div class="btn-menu">
      <a class="btn" [routerLinkActive]="'active'" (click)="indexPage = 1"
        [routerLink]="'/housing-parameters/host/param'" (click)="onToggleMenu()"><span class="link-text">
          <i class="fa-solid fa-trowel-bricks"></i></span>
      </a>
    </div>

    <div class="btn-menu">
      <a class="btn" [routerLinkActive]="'active'" (click)="indexPage = 1"
        [routerLink]="'/housing-parameters/host/add-objects'" (click)="onToggleMenu()"><span class="link-text">
          <i class="fa-solid fa-dolly"></i></span>
      </a>
    </div>

    <div class="btn-menu">
      <a class="btn" [routerLinkActive]="'active'" (click)="indexPage = 1"
        [routerLink]="'/housing-parameters/host/about'" (click)="onToggleMenu()"><span class="link-text">
          <i class="fa-solid fa-users-gear"></i></span>
      </a>
    </div>

  </div>
  <div class="container-navbar hide-mobile">
    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/information-user'">Профіль корустувача</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/address'">Профіль оселі</a>
    </nav>
  </div>
  <div class="container-card">

    <div class="wrapper hide-mobile col-lg-3 col-md-5 col-sm-6 col-12">
      <div class="card-box">
        <div class="card-menu">
          <app-selection-housing></app-selection-housing>
          <nav *ngIf="selectedFlatId && selectedFlatId !== null">
            <a [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">Назад</a>

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/photo'"
              (click)="onToggleMenu()"><span class="link-text">Додати фото</span>
              <i class="fa-solid fa-images"></i>
            </a>

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/address'"
              (click)="onToggleMenu()"><span class="link-text ">Розташування</span>
              <i class="fa-solid fa-location-dot ml-2"></i>
            </a>
            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/param'"
              (click)="onToggleMenu()"><span class="link-text">Параметри</span>
              <i class="fa-solid fa-trowel-bricks"></i>
            </a>

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/add-objects'"
              (click)="onToggleMenu()"><span class="link-text">Наповнення</span>
              <i class="fa-solid fa-dolly"></i>
            </a>

            <a class="link-menu" [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/about'"
              (click)="onToggleMenu()"><span class="link-text">Особливості</span>
              <i class="fa-solid fa-users-gear"></i>
            </a>
            
          </nav>
          <app-add-house></app-add-house>
        </div>
      </div>
    </div>

    <div class="card-box1 col-lg-8 col-md-5 col-sm-6 col-12" *ngIf="!selectedFlatId">
      <div class="col-lg-6 col-sm-12 p-3">
        <h1>Створіть нову оселю.</h1>
        <h3>Тут ви зможете створювати нові оселі, або видаляти їх.</h3>
        <p>Для створення оселі натисніть кнопку <span class="bold">"створити оселю"</span> та введіть її назву.
          Кількість
          оселей які можна
          створювати наразі необмежено.</p>
      </div>
    </div>

    <div class="hide-pc p-2 col-lg-8 col-md-5 col-sm-6 col-12">

      <div class="box">
        <app-selection-housing class="w-75"></app-selection-housing>

        <button class="btn-add" (click)="onAddHouse()">
          <ng-container *ngIf="addHouse; else removeHouse">
            <i class="fa-solid fa-xmark"></i>
          </ng-container>
          <ng-template #removeHouse>
            <i class="fa-solid fa-plus"></i>
          </ng-template>
        </button>
      </div>
      <app-add-house *ngIf="addHouse"></app-add-house>
    </div>

    <div class="col-lg-8 col-md-5 col-sm-6 col-12" *ngIf="!addHouse">
      <router-outlet *ngIf="selectedFlatId"></router-outlet>
    </div>
  </div>
</div>
