@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  @include s1-s3 {
    width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    width: 100%;
  }
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  @include s1-s3 {
    height: 90vh;
  }
}

.container-card::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.btn-menu {
  border: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-white;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 13px;
  left: 15px;
  z-index: 999999;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    bottom: -100%;
    transition: bottom 1s ease;
  }
}

.wrapper.open {
  @include s1-s3 {
    width: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.337) 100%);
    bottom: 70px;
    top: 0;
  }
}

.wrapper.hide {
  @include s1-s3 {
    display: none;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  @include s1-s3 {
  }
}

.card-menu {
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  @include s1-s3 {
    justify-content: flex-end;
    background-color: $color-white;
    border: 1px solid $color-primary;
    border-radius: 10px 10px 0 0;
    padding: 10px 5px 40px;
  }
}

.mobile {
  @include s1-s3 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}

.material-symbols-outlined {
  font-size: 30px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
