@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";
@use "../../../style/navbar.scss";

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  height: 75vh;
  align-content: flex-start;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: baseline;
  .navigation-link {
    &:hover {
      color: $color-accent;
      transform: scale(1.2);
      .fa-solid {
        color: $color-accent;
      }
    }
  }
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.container-card::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
p {
  text-align: center;
}

.box {
  display: flex;
  height: 60px !important;
  align-items: center;
  justify-content: space-around;
}

.btn-add {
  background-color: transparent;
  border: 1px solid #7e7f7f;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-box {
  justify-content: flex-start;
  @include s1-s3 {
    overflow-x: auto;
  }
  .switch-btn-group {
    .btn {
      width: 50px;
      text-transform: capitalize;

      &.active {
        .fa-solid {
          filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        }

        .t-min {
          color: $color-accent;
        }
      }
    }

    a {
      margin: 0;
      padding: 0;
    }
  }
}

.btn-menu {
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.material-symbols-outlined {
  font-size: 30px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    width: 100%;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    top: -100%;
    transition: top 1s ease;
  }
}

.wrapper.open {
  @include s1-s3 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    top: 0;
  }
}

.wrapper.hide {
  @include s1-s3 {
    display: none;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  @include s1-s3 {
  }
}

.card-box1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-fluid {
  height: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 1s;

  &:hover {
    transform: scale(1.2);
  }
}

.card {
  height: 60vh;
}

.logo {
  height: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: auto;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.2);
  }
}

.navbar {
  justify-content: flex-start;
  align-items: flex-start;
}

.material-symbols-outlined {
  font-size: 30px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
