@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  height: 75vh;
  align-content: flex-start;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  @include s1-s3 {
    width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    width: 100%;
  }
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  @include s1-s3 {
    height: 90vh;
  }
}

.container-card::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.box {
  display: flex;
  height: 60px !important;
  justify-content: space-around;
}

.btn-add {
  background-color: transparent;
  border: 1px solid $color-gray;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.switch-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 80px;
  z-index: 50;
  @include s1-s3 {
    background-color: $color-white;
    padding-top: 20px;
    top: 0;
  }
}

.btn-menu {
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.material-symbols-outlined {
  font-size: 30px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  z-index: 99;
  color: $color-text;
  &.active {
    background-color: $color-white;
    color: $color-white;
    .fa-solid,
    .fa-regular {
      color: $color-accent;
    }
  }
  &:hover {
    color: $color-white;
  }

  @include s1-s3 {
    box-shadow: none;
    background-color: transparent;
  }

  .fa-solid,
  .fa-regular {
    color: $color-text;
    font-size: 30px;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    width: 100%;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    top: -100%;
    transition: top 1s ease;
  }
}

.wrapper.open {
  @include s1-s3 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    top: 0;
  }
}

.wrapper.hide {
  @include s1-s3 {
    display: none;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  @include s1-s3 {
  }
}

.card-box1 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.logo-fluid {
  height: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 1s;

  &:hover {
    transform: scale(1.2);
  }
}

.card {
  height: 60vh;
}

.logo {
  height: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: auto;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.2);
  }
}

.card-menu {
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  @include s1-s3 {
    justify-content: flex-end;
    background-color: $color-white;
    border: 1px solid $color-primary;
    border-radius: 0 0 10px 10px;
    padding: 20px 10px;
  }
}

.mobile {
  @include s1-s3 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.link-text {
  font-size: $font-size;
  font-family: $font-main;
}

.material-symbols-outlined {
  font-size: 30px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
