@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss" as *;

.wrapper {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  .img {
    object-fit: cover;
    height: 91vh;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.917);
}

.flex-column {
  display: flex;
  position: relative;
  z-index: 10;
  height: 90vh;
}

.logoMin {
  height: 100px;
  width: 100%;
  filter: drop-shadow(0px 10px 25px rgb(41, 41, 41));
}

.btn {
  background-color: $color-accent;
}
