<div class="flex-box-column p-2">

  <!-- <div class="logo-box">
    <img class="logoMin" src="{{path_logo}}" alt="logo">
  </div> -->

  <div [@top1] class="t-lar-xx bold t-c p-2 mt-3"><strong>Привіт! <br> Допоможіть нам з розвитком Discussio!</strong>
  </div>

  <div [@top2] class="gray t-lar bold p-2 t-c">
    Наша команда працює на волонтерських засадах і не стягує плату за користування додатком або сайтом. Ми прагнемо
    реалізувати всі наші плани та зробити наш сервіс по-справжньому зручним і корисним для людей.
  </div>

  <div [@top3] class="gray t-med p-2 t-c">
    Якщо ви зацікавлені у розвитку нашого проєкту, і наші ідеї та плани вам близькі, ми будемо раді вашій підтримці. Ваш
    внесок допоможе нам реалізувати заплановані покращення та розширити функціональність нашого сервісу. Ми прагнемо
    створити щось дійсно корисне і зручне для наших користувачів, і ваша допомога є неоціненною в досягненні цієї мети.
    Незалежно від розміру вашої підтримки, кожен внесок має значення і сприяє розвитку нашої спільної справи.
  </div>

  <div [@top3] class="flex-column">
    <a target="_blank" href="https://send.monobank.ua/jar/4ehuCXVdzw">
      <img class="banka" src="../../../assets/banka.png" alt="img">
    </a>
    <p class="t-med p-2 accent">Для переходу відскануй або клікни на QR-code</p>
  </div>

  <app-footer></app-footer>
  <div class="btn-group">
    <a class="btn" [routerLink]="'/'">
      <i class="fa-solid fa-arrow-left white pr-2"></i>
      <div class="t-min white">Назад</div>
    </a>
  </div>
</div>

