@use "../../style/presets/" as *;

.navbar {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.card-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.form {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
}

.form-label {
  align-self: center;
}

.range {
  flex-direction: column;
}

.search {
  width: 100%;
}

.search-input {
  width: 100%;
}

.chek-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-select {
  margin-bottom: 10px;
}

.label-item,
.select-item {
  font-size: 10px;
  overflow: hidden;
}

.inputbox-item::-webkit-scrollbar {
  display: none;
}

.group-label {
  font-weight: 600;
  color: $color-accent;
}

.inputbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.box-search {
  width: 76%;
  position: relative;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
}

.search-id {
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.box-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menu {
  width: 100%;
}

.btn {
  height: 35px;
}

.input-group-text {
  height: 100%;
}

.input-group {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
}

.form-control {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border: none;
}

.checkbox-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

mat-form-field {
  width: 120px;
  height: 80px;
}

mat-label {
  font-size: 15px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.price-box {
  display: flex;
}

.group {
  margin: 5px;
  padding: 2px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25), 5px 2px 2px rgba(0, 0, 0, 0.22);
  background-color: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0.426);
  border-radius: 10px;
}

.group-item {
  display: flex;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.content {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 40px;
}

.min-value,
.max-value {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
}

.min-value {
  left: 0;
}

.max-value {
  right: 0;
}

.min-slider,
.max-slider {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ddd;
  height: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.min-slider:hover,
.max-slider:hover {
  opacity: 1;
}

.min-slider::-webkit-slider-thumb,
.max-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.min-slider::-moz-range-thumb,
.max-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.min-slider::-webkit-slider-thumb:hover,
.max-slider::-webkit-slider-thumb:hover {
  background-color: #3e8e41;
}

.min-slider::-moz-range-thumb:hover,
.max-slider::-moz-range-thumb:hover {
  background-color: #3e8e41;
}
