@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";
@use "../../style/card_user.scss";

.card {
  justify-content: flex-start;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 65vh;
  align-content: flex-start;
  @include s1-s3 {
    min-height: 0vh;
    height: 83vh;
    align-content: flex-start;
  }
}

.card-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  @include s1-s3 {
    width: 100%;
    height: auto;
    top: 0;
  }
}

.card-chat {
  @include box-shadow;
  background-color: $color-white;
  height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  @include s1-s3 {
    height: 90vh;
  }
}

.card-chat::-webkit-scrollbar {
  display: none;
}

.card-animation {
  position: absolute;
  width: 100%;
  margin: 10px;
  height: 650px;

  @include s1-s3 {
    height: 86vh;
    margin-top: 15px;
    width: 95%;
    overflow: auto;
  }
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.paginator-container {
  @include flex-box;
  width: 100%;
  justify-content: space-evenly;
  .paginator-box {
    @include flex-box-column;
  }
  .paginator-btn {
    @include flex-box;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: $color-accent;
    }
  }
}

.switch-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 60px;
  z-index: 50;
  @include s1-s3 {
    height: 80px;
    background-color: $color-white;
    padding-top: 10px;
    top: 0;
  }

  .switch-btn-group {
    @include flex-box-column;
    position: relative;
  }
}

.counterNum {
  @include flex-box;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  background-color: $color-gray;
  border-radius: 50%;
  color: $color-white;
}

.btn-container {
  @include flex-box;
  background-color: rgb(255, 255, 255);
  height: 70px;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-evenly;
  .img-btn-box {
    @include flex-box-column;
    .img-btn {
      @include flex-box;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      width: 50px;
      height: 50px;
      &:hover {
        background-color: $color-accent;
        @include box-shadow;
      }
      .fa-solid {
        color: $color-dark;
      }
    }
  }
}

.btn-close-container {
  position: sticky;
  right: 0;
  top: 20px;
  z-index: 300;
  .btn-close-box {
    @include flex-box-column;
    align-items: flex-end;
    padding: 10px;
    .btn-close {
      border: 1px solid $color-gray;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: 55vh;
  overflow: auto;
  width: 100%;
  align-content: flex-start;
  @include s1-s3 {
    margin: 0;
    height: 78vh;
  }

  .card-mini {
    @include flex-box;
    @include box-shadow;
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 96%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
    }
    .card-mini-img-container {
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;
      &:hover {
        width: 55%;
      }
      .card-mini-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    background-color: $color-dark;
  }
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.container-img {
  position: relative;
  .wrapper-img {
    height: 400px;
    border-radius: 20px;
    position: relative;
    .img-box {
      border-radius: 0px;
      overflow: hidden;
      height: 350px !important;
      .img-box-img {
        border-radius: 0px;
        height: 350px !important;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

.img-fluid {
  height: 350px;
}

.flex-box-row {
  justify-content: space-around;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .room {
    height: 40px;
    font-size: 36px;
    color: $color-text;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
  }
}

.copyMessage-box {
  @include pos-abs-l;
  @include flex-box-column;
  justify-content: center;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.78);
  height: 650px;
  width: 100%;
  color: $color-text;
  .fa-regular {
    color: $color-text;
    font-size: 48px;
  }
  .copyMessage-text {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
