@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.btn-group {
  .btn {
    background-color: rgba(128, 128, 128, 0.321);
    &:hover {
      background-color: $color-accent;
    }
  }
}

.card-box {
  @include flex-box-column;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 75vh;

  .card-menu {
    @include flex-box;
    height: 100%;
    width: 95%;
    flex-direction: column;
    align-items: stretch;
  }
}

.card-animation::-webkit-scrollbar {
  display: none;
}
