<div class="card-container">
  <app-account-nav></app-account-nav>
  <div class="mb-2">
    <p>Кількість дискусій: {{ subscribers.length }}</p>
  </div>
  <button class="card-wrapper card mb-4" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
    [class.selected]="selectedSubscriber === subscriber">
    <div class="card-img-container">
      <img class="card-img-top"
        [src]="'http://localhost:3000/img/users/' + (subscriber.photo ? subscriber.photo : 'user_default.svg')"
        alt="User Image">
    </div>
    <div class="card-social-link">
      <a *ngIf="subscriber.instagram" [href]="subscriber.instagram"><i class="fab fa-brands fa-instagram"></i></a>
      <a *ngIf="subscriber.telegram" [href]="subscriber.telegram"><i class="fab fa-brands fa-telegram"></i></a>
      <a *ngIf="subscriber.viber" [href]="subscriber.viber"><i class="fab fa-brands fa-viber"></i></a>
      <a *ngIf="subscriber.facebook" [href]="subscriber.facebook"><i class="fab fa-brands fa-facebook"></i></a>
    </div>
    <div class="card-body">
      <div class="card-title">{{ subscriber.lastName }} <br> {{ subscriber.firstName }}</div>
      <div class="btn-group">
        <button class="btn m-1" (click)="removeSubscriber(subscriber.user_id)">
          <i class="fa-solid fa-user-xmark"></i>
        </button>
      </div>
    </div>
  </button>
</div>