<form [formGroup]="aboutHouse" [@cardAnimation] class="container-card">
  <div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="card m-2">
      <!-- Відстань -->
      <div class="card-name">
        <h4>Інфраструктура</h4>
      </div>
      <!-- Метро -->
      <div class="inputbox">
        <label for="">Метро</label>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
          formControlName="distance_metro">
          <option selected disabled>Метро</option>
          <option value="1">до 100м</option>
          <option value="2">до 300м</option>
          <option value="3">до 500м</option>
          <option value="4">до 1км</option>
        </select>
      </div>

      <!-- Зупинка транспорту -->
      <div class="inputbox">
        <label for="">Зупинка транспорту</label>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
          formControlName="distance_stop">
          <option selected disabled>Зупинка транспорту</option>
          <option value="1">до 100м</option>
          <option value="2">до 300м</option>
          <option value="3">до 500м</option>
          <option value="4">до 1км</option>
        </select>
      </div>

      <!-- Продуктові магазини -->
      <div class="inputbox">
        <label for="">Продуктові магазини</label>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="distance_shop">
          <option selected disabled>Продуктові магазини</option>
          <option value="1">до 100м</option>
          <option value="2">до 300м</option>
          <option value="3">до 500м</option>
          <option value="4">до 1км</option>
        </select>
      </div>

      <!-- Парки, сквери -->
      <div class="inputbox">
        <label for="">Парк, сквер</label>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
          formControlName="distance_green">
          <option selected disabled>Парк, сквер</option>
          <option value="1">до 100м</option>
          <option value="2">до 300м</option>
          <option value="3">до 500м</option>
          <option value="4">до 1км</option>
        </select>
      </div>

      <!-- Паркінг -->
      <div class="inputbox">
        <label for="">Паркінг</label>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
          formControlName="distance_parking">
          <option selected disabled>Паркінг</option>
          <option value="5">на території</option>
          <option value="1">до 100м</option>
          <option value="2">до 300м</option>
          <option value="3">до 500м</option>
          <option value="4">до 1км</option>
        </select>
      </div>

      <!-- Тварини -->
      <div class="inputbox">
        <label for="">Дозвіл на тварин</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="animals">
          <option selected disabled>Дозвіл на тварин</option>
          <option value="1">Без тварин</option>
          <option value="2">За попередньою домовленістю</option>
          <option value="3">Можна з тваринами</option>
        </select>
      </div>

    </div>
  </div>

  <div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="card m-2">
      <!-- Ціна та особливості -->
      <div class="card-name">
        <h4>Ціна та особливості</h4>
      </div>

      <!-- Укриття -->
      <div class="inputbox">
        <label for="">Наявність укриття</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="bunker">
          <option selected disabled>Наявність укриття</option>
          <option value="10">Підземний паркінг</option>
          <option value="11">Є повноцінне укриття в будинку</option>
          <option value="12">Є укриття поряд з будинком</option>
          <option value="13">Немає</option>
        </select>
      </div>

      <!-- Чекбокс 1 -->
      <div>
        <p>Розглядаю</p>
        <div class="container-checkbox">

          <div class="content">
            <label class="checkBox">
              <input id="students" type="checkbox" formControlName="students">
              <div class="transition"></div>
            </label>
            <span class="checkBox-span">Студент</span>
            <i></i>
          </div>

          <div class="content">
            <label class="checkBox">
              <input id="woman" type="checkbox" formControlName="woman">
              <div class="transition"></div>
            </label>
            <span class="checkBox-span">Жінка</span>
            <i></i>
          </div>

          <div class="content">
            <label class="checkBox">
              <input id="man" type="checkbox" formControlName="man">
              <div class="transition"></div>
            </label>
            <span class="checkBox-span">Чоловік</span>
            <i></i>
          </div>

          <div class="content">
            <label class="checkBox">
              <input id="family" type="checkbox" formControlName="family">
              <div class="transition"></div>
            </label>
            <span class="checkBox-span">Сім'я</span>
            <i></i>
          </div>

        </div>
      </div>

      <!-- Опис оселі -->
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="about"></textarea>
        <label for="floatingTextarea"><p>Опис оселі:</p></label>
      </div>

      <!-- Ціна за місяць -->
      <div class="">
        <label for="">Ціна за місяць</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inputPriceM"
            aria-label="Dollar amount (with dot and two decimal places)" formControlName="price_m" placeholder="0 грн">
          <span class="input-group-text">₴</span>
        </div>
      </div>

      <!-- Ціна за рік -->
      <div class="">
        <label for="">Ціна за рік</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inputPriceY"
            aria-label="Dollar amount (with dot and two decimal places)" formControlName="price_y" placeholder="0 грн">
          <span class="input-group-text">₴</span>
        </div>
      </div>

      <!-- Кнопки -->
      <div class="btn-group">
        <button class="btn btn-primary mt-3" (click)="saveAboutHouse()" (click)="onSubmitSaveAboutHouse()"
          (click)="saveAboutHouse()">ЗБЕРЕГТИ</button>
        <button class="btn btn-primary mt-3" (click)="editAboutHouse()">РЕДАГУВАТИ</button>
        <button type="reset" class="btn btn-secondary mt-3 ml-3" (click)="resetAboutHouse()">СКИНУТИ</button>
      </div>
    </div>
  </div>
</form>
