@use "../../../style/presets/" as *;

.container-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
}

.card {
  width: 100%;
  display: flex;
  background-color: rgba(18, 17, 17, 0.792);
  color: white;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: stretch;
}

textarea {
  position: relative;
  resize: both;
  min-width: 100%;
  max-width: fit-content;
  overflow-y: auto;
}


.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-name {
  display: flex;
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1em 5px 1em 5px;
  border-radius: 10px;
  flex-direction: column;
  align-items: stretch;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  right: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #8f8f8f87;
  letter-spacing: 00.05em;
  transition: 0.6s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: white;
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

select {
  font-size: 16px;
  padding: 5px;
  color: $color-accent;
  background: $color-primary;
  border: 1px groove $color-accent;
  border-radius: 10px;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: white;
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

.alert-danger {
  position: absolute;
  bottom: -2rem;
  background: none;
  color: rgb(242, 132, 132);
  border: none;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  z-index: 30;
  font-size: 13px;
  align-items: center;
}

.container-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.content {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  display: flex;
}
.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-light;
  height: 45px;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  font-size: 0.9em;
  color: $color-white !important;
}

.form-control {
  height: auto;
  overflow-y: hidden; /* Сховати вертикальну прокрутку */
}

.form-control.resizable {
  resize: vertical; /* Дозволяємо зміну висоти тільки по вертикалі */
}

textarea {
  height: auto;
  min-height: 200px; /* це можна змінити на бажану висоту мінімального розміру */
}

.scrollable-textarea {
  height: auto;
  overflow: auto;
}






