  <div class="characteristics">
    <h4>Статус оселі:</h4>
    <div class="characteristics-group">
      <div class="item-characteristics">Показувати на сайті: {{ checkBox[house.private] }}</div>
      <div class="item-characteristics">Здаю в оренду: {{ checkBox[house.rent] }}</div>
      <div class="item-characteristics">Проживаю: {{ checkBox[house.live] }}</div>
      <div class="item-characteristics">Хто проживає: {{ checkBox[house.who_live] }}</div>
    </div>
  </div>
  <div class="characteristics">
    <h4>Параметри оселі:</h4>
    <div class="characteristics-group">
      <div class="item-characteristics">Стан оселі: {{ options[param.repair_status] }}</div>
      <div class="item-characteristics">Поверх: {{ param.floor }}</div>
      <div class="item-characteristics">Тип балкону: {{ options[param.balcony] }}</div>
      <div class="item-characteristics">Наявність укриття: {{ options[about.bunker] }}</div>
      <div class="item-characteristics">Метро: {{ aboutDistance[about.distance_metro] }}</div>
      <div class="item-characteristics">Зупинка: {{ aboutDistance[about.distance_stop] }}</div>
      <div class="item-characteristics">Маркет: {{ aboutDistance[about.distance_shop] }}</div>
      <div class="item-characteristics">Парк: {{ aboutDistance[about.distance_green] }}</div>
      <div class="item-characteristics">Паркінг: {{ aboutDistance[about.distance_parking] }}</div>
    </div>
  </div>

  <div class="characteristics">
    <h4>Розглядаю:</h4>
    <div class="characteristics-group">
      <div class="item-characteristics">Жінки: {{ checkBox[about.woman] }}</div>
      <div class="item-characteristics">Чоловіки: {{ checkBox[about.man] }}</div>
      <div class="item-characteristics">Сім'ї: {{ checkBox[about.family] }}</div>
      <div class="item-characteristics">Студенти: {{ checkBox[about.students] }}</div>
      <div class="item-characteristics">Тварини: {{ checkBoxAnimals[about.animals] }}</div>
    </div>
  </div>

  <div class="characteristics">
    <h4>Про оселю:</h4>
    <div class="characteristics-group">
      <p>{{ about.about }}</p>
    </div>
  </div>
