@use "../housing-parameters.component.scss";
@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.list-label-1 {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 0 2px 0 2px;
  left: 10px;
}
