<div class="param-wrapper  p-2 mt-4">
  <div class="param-box">
    <div class="t-med t-c dark bold">Те що треба під рукою
      <p class="t-min ">додаткова інформація про оселю та її налаштування</p>
    </div>
  </div>
  <div class="box flex-column" *ngIf="selectedFlatId">
    <mat-label class="t-min gray t-c">Додайте ім'я та контакти представника будинку для того щоб можна було
      вирішити
      питання які виникнуть стосовно будинку</mat-label>
    <mat-label class="group-label mt-2">Управління будинком/ОСББ</mat-label>

    <div class="inputbox-group">
      <mat-form-field class="item-select w-50 p-1" appearance="outline">
        <mat-label>Телефон</mat-label>
        <input type="tel" name="osbb_phone" matInput [(ngModel)]="flatInfo.osbb_phone" [maxlength]="10"
          [pattern]="phonePattern">
        <mat-icon matSuffix><i class="fa-solid fa-phone"></i></mat-icon>
      </mat-form-field>

      <mat-form-field class="item-select w-50 p-1" appearance="outline">
        <mat-label>Ім'я</mat-label>
        <input name="osbb_name" matInput [(ngModel)]="flatInfo.osbb_name">
        <mat-icon matSuffix><i class="fa-solid fa-person-chalkboard"></i></mat-icon>
      </mat-form-field>
    </div>

    <mat-label class="group-label">Налаштування оселі</mat-label>
    <mat-form-field class="item-select" appearance="outline">
      <mat-label>Пароль WiFi</mat-label>
      <input placeholder="Введіть пароль від WiFi" name="wifi" matInput [(ngModel)]="flatInfo.wifi">
      <mat-icon matSuffix><i class="fa-solid fa-wifi"></i></mat-icon>
    </mat-form-field>

    <mat-label class="group-label">Картка власника для оплати</mat-label>
    <mat-form-field class="item-select" appearance="outline">
      <mat-label>Картка для оплати</mat-label>
      <input ngxMask="'0000 0000 0000 0000'" placeholder="0000 0000 0000 0000" [maxLength]="19" name="pay_card" matInput
        [(ngModel)]="flatInfo.pay_card" (input)="formatCreditCard($event)">
      <mat-icon matSuffix><i class="fa-regular fa-credit-card"></i></mat-icon>
    </mat-form-field>

  </div>

  <div class="param-box mt-2">
    <div class="t-med t-c dark bold">Додаткова інформація
      <p class="t-min gray">вкажіть ваші застереження, інструкції абощо для ваших орендарів</p>
    </div>
  </div>

  <mat-form-field class="mt-2">
    <textarea appAutoResizeTextarea matInput id="textArea" [(ngModel)]="flatInfo.info_about"></textarea>
    <label for="textArea">
      <p>Додаткова інформація про оселю:</p>
    </label>
  </mat-form-field>

</div>

<div [@appearance] class="btn-group">
  <button class="b-primary mr-2" (click)="setToogleMenu()">
    <i class="fa-regular fa-circle-xmark"></i>
  </button>

  <button [disabled]="activeFilter === 0" class="b-primary mr-2 custom-badge" (click)="clearInfo()"
    matBadge="{{activeFilter}}" [matBadgeHidden]="activeFilter === 0">
    <i class="fa-solid fa-broom"></i>
  </button>

  <button class="b-primary p-2" (click)="saveInfo()">
    <div class="t-med bold white">ЗБЕРЕГТИ</div>
    <i class="fa-regular fa-circle-check pl-2 white"></i>
  </button>
</div>
