<div class="container-fluid">
  <thead>
    <h1>Список послуг які надаються за адресою <a href=""></a></h1>
  </thead>
  <table>
    <tr>
      <th>Назва послуги</th>
      <th>Назва сервісу</th>
      <th>Номер особового рахунку</th>
      <th>Останні показники</th>
      <th>Сума до сплати</th>
      <th>Сплатити</th>
    </tr>
    <tr>
      <td>Електроенергія</td>
      <td>Yasno</td>
      <td>42 15 23 64 97</td>
      <td></td>
      <td></td>
      <td><a href="#">Pay now</a></td>
    </tr>
    <tr>
      <td>Газ</td>
      <td>Ukrnafta</td>
      <td>64 43 83 40 72</td>
      <td></td>
      <td></td>
      <td><a href="#">Pay now</a></td>

    </tr>
    <tr>
      <td>Вода</td>
      <td>Вишнівський водоканал</td>
      <td>18 40 67 87 32</td>
      <td></td>
      <td></td>
      <td><a href="#">Pay now</a></td>

    </tr>
    <tr>
      <td>Сміття</td>
      <td>Вишнівська ОСББ</td>
      <td>23 44 78 94 64</td>
      <td></td>
      <td></td>
      <td><a href="#">Pay now</a></td>

    </tr>
    <tr>
      <td>Домофон</td>
      <td>Цифрал</td>
      <td>11 94 54 32 59</td>
      <td></td>
      <td></td>
      <td><a href="#">Pay now</a></td>

    </tr>
    <tr>
      <td>Інтернет</td>
      <td>Lanet</td>
      <td>16 33 62 63 64</td>
      <td>-</td>
      <td>200 грн</td>
      <td><a href="#">Pay now</a></td>

    </tr>
  </table>

  <h2>Карта для оплати</h2>


</div>
