<div class="container-fluid">
  <nav class="navbar">
    <a [routerLinkActive]="'active'" [routerLink]="'/energy'">Energy</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/water'">Water</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/cleaning'">Cleaning</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/gas'">Gas</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/internet'">Internet</a>
  </nav>
</div>
<div class="container-fluid">
  <div class="container-title col-6">
    <h1>Services</h1>
    <h5>Ця сторінка створена для перегляду послуг які діють за закріпленою адресою. Вона дає можливість відслідковувати
      щомісячні витрати, та зручним способом оплачувати комунальні платежі в пару кліків</h5>

    <h2 class="description">Оплатити комунальні,<br> в зручним та сучасному додатку.</h2>

  </div>
  <div class="container-card col-6">
    <div class="slide-1" style="width: 24rem;">
      <div class="img-fluid"> <img src="../../assets/energy.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Електроенергія</h3>
        <h4 class="card-title">Вибір постачальника</h4>
      </div>
      <div class="card-body">
        <a href="#" class="card-link"><span>Змінити постачальника</span></a>
        <a href="#" class="card-link"><span>Переглянути реквізити</span></a>
      </div>
    </div>
    <div class="slide-2" style="width: 24rem;">
      <div class="img-fluid"> <img src="../../../assets/water.jfif" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3 class="card-title">Водопостачання</h3>
        <h4 class="card-title">Вибір постачальника</h4>
      </div>
      <div class="card-body">
        <a href="#" class="card-link"><span>Змінити постачальника</span><i class="fa-solid fa-handshake-angle"></i></a>
        <a href="#" class="card-link"><span>Переглянути реквізити</span><i
            class="fa-solid fa-money-bill-trend-up"></i></a>
      </div>

    </div>

  </div>

</div>
