@use "../style/presets/" as *;

a {
  font-family: $font-main;
  color: $color-text;
  overflow: hidden;

  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  border-radius: 10px;

  &.active {
    background-color: $color-accent;
    color: white;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-accent;
    border-color: rgb(255, 255, 255);
  }
}

.container-fluid{
  max-width: 1000px;
  display: flex;
}

.container-title{
  width: 50vh;
}

.container-card{
  display: flex;

}

.slide-1 {
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 0 0 0 black;
    animation: mymove 4s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;

  @keyframes mymove {
    from {  box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 100px 0 0 rgba(0, 0, 0, 0);
    }
    to {box-shadow: inset 0 10px 2px black, 0 10px 20px black, inset 1000px 10px 10px rgb(230, 230, 230);
    }
  }
}

.slide-2{
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
  background-color: white;
  box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 0 0 0 black;

  animation-duration: 2s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      margin-left: 45%;
    }

    to {
      margin-left: 150px;
    }
  }
}

.card-body{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
}

.container-servise{
  display: flex;
}

span {
  transition: transform 1s;
}

.card-link{
  margin: 0;
  margin-bottom: 10px;
  color: $color-text;
  background-color: $color-gray-dark;
  display: flex;
  justify-content: space-between;
}

img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.img-fluid{
  overflow: hidden;
}

.list-group {
  overflow: hidden;
}

.fa-solid, .fa-regular {
  color: $color-icon;
  font-size: 25px;
  transition: transform 1s;

}

.btn-link{
  text-decoration: none;
  border-radius: 5px;
}

.input-group{
margin-bottom: 10px;
}

h2{
  margin-top: 40px;
  padding: 20px;
  color: rgba(5, 5, 5, 0.821);
  background-image: linear-gradient(to left, #ffffff00, rgba(94, 94, 94, 0.09));
  border-radius: 10px;
}

h4{
  margin-right: 250px;
}

h5{
  width: 300px;
}

h2 {
  width: 500px;
  color: $color-text;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: printed_text 1.5s steps(100);
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

