@use "../housing-services.component.scss";
@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss" as *;

.info-container {
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 50;
  flex-direction: column;
  align-items: center;
  .info-help-box {
    color: $color-white;
    width: 100%;
    .fa-solid {
      color: $color-white;
    }
  }
}

.card-content-static {
  @include s3-s6-max {
    background-color: $color-white !important;
  }
}

.full-container-img {
  height: 100vh;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 500;
  overflow: auto;
  .full-wrapper-img {
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.377);
    .full-img-fluid {
      @include box-shadow;
      border-radius: 20px;
      height: 100%;
      width: auto;
    }
  }
}

.switch-content {
  height: 8vh;
  justify-content: space-evenly;
}
.btn-calc {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-box {
  height: 92vh;
  overflow: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.flex-box {
  display: flex;
}

.comun-card {
  @include flex-box-column;
  position: relative;
  width: 100%;
}

.btn-group {
  margin: 0;
  .btn {
    height: 60px;
  }
}

.card-1 {
  width: 100%;
  position: relative;
  border-radius: 20px;
  .addText {
    @include flex-box-center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.789);
    border: none;
  }
  .img-wpapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
    align-items: flex-end;
  }

  .img {
    overflow: hidden;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
  }
}

.item-select {
  position: relative;
}

.btn-copy {
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 15px;
  border: none;
  border-radius: 5px;
  padding: 2px;
  border-radius: 50%;
  margin-left: 10px;
}

.flex-box {
  justify-content: space-evenly;
  .fa-solid {
    font-size: 15px;
  }
}

.flex-column {
  @include flex-box-column;
}

.img-comun-box {
  height: 200px;
  overflow: hidden;
  position: relative;
  .img-comun {
    height: 200px;
  }
  .cropped-text {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    border-radius: 10px;
    @include flex-box;
    background-color: rgba(90, 86, 86, 0.591);
    .cropped-text1 {
      color: $color-white;
    }
  }
}

.border-t {
  border-top: 1px solid $color-primary;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  align-items: stretch;
  justify-content: space-between;
  overflow: auto;
  position: relative;
}

.about {
  font-size: 13px;
}

.description {
  font-size: 13px;
  font-style: italic;
}

.formula {
  font-size: 13px;
  font-weight: 600;
}

.name {
  text-align: center;
}

.card-btn-container {
  border-radius: 10px;
}

.add-photo-group {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;

  .add-photo-label {
    width: 50%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 15px;
    color: $color-accent;
    font-weight: 600;
  }

  .box-group {
    @include flex-box-column;
    position: relative;

    .btn-name {
      font-size: 12px;
      text-align: center;
    }
  }

  .add-photo-box {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 1s;

    &:hover {
      background-color: $color-dark;
    }
  }

  .add-photo-icon {
    color: $color-accent;
    font-size: 30px;
    animation: iconflicker 8s linear infinite;
  }

  .add-photo-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.wrap {
  flex-wrap: wrap;
}

.item {
  @include flex-box;
  margin: 2px;
  border-radius: 10px;
  padding: 2px;
}

.wrapper-comun {
  width: 100%;
  height: 82vh;
  z-index: 5;
  position: relative;
  border-radius: 20px;

  .comun-card {
    @include flex-box-center;
    overflow: auto;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-white;
    border-radius: 20px;
    z-index: 100;
    width: 100%;
    align-items: stretch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
