<mat-label align="start" class="filter-label">Локація</mat-label>

<div class="t-c t-med gray">Оберіть або введіть місто і область оселі.</div>

<div *ngIf="flatInfo">

  <div class="inputbox-group jc-c">
    <div class="flex-column" *ngIf="!locationLink">
      <div class="t-min">Локація формується після збереження</div>
    </div>

    <div class="flex-column" *ngIf="locationLink">
      <div class="t-min">Перевірте правильність наданих даних це впливає на точність локації</div>
    </div>

    <a class="location" href="{{ locationLink }}" target="_blank" *ngIf="locationLink">
      <i class="fa-solid fa-map-location"></i>
      <div class="t-min bold">Локація</div>
    </a>
  </div>

  <div class="p-2" *ngIf="chownCity">
    <div class="flex-column t-с">
      <p class="t-med bold">{{chownCity.region}} область</p>
      <p class="t-min">населення області - {{chownCity.regionPopulation | number:'1.0-0'}}</p>
      <img class="card-img w-20" [src]="chownCity.icon" alt="flat.Image">
    </div>
  </div>

  <section class="section" *ngIf="flatInfo.flat">
    <mat-form-field class="item-select p-1" appearance="outline" *ngIf="flatInfo.flat.country">
      <mat-label for="country">Країна</mat-label>
      <input disabled name="flatInfo.flat.country" id="country" matInput (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="flatInfo.flat.country" placeholder="Виберіть або введіть мікрорайон">
      <mat-icon matSuffix><i class="fa-solid fa-flag gray"></i></mat-icon>
      <mat-hint align="end" class="t-min gray">В розробці</mat-hint>
    </mat-form-field>

    <mat-form-field [@top1] class="item-select p-1" appearance="outline">
      <mat-label for="city">Місто</mat-label>
      <input #cityInput name="flatInfo.flat.city" id="city" matInput [(ngModel)]="flatInfo.flat.city"
        placeholder="Виберіть або введіть місто" (ngModelChange)="onCityInputChange(flatInfo.flat.city)"
        [matAutocomplete]="autoCity">
      <mat-autocomplete #autoCity="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities" [value]="city.cityUa"
          (onSelectionChange)="ifSelectedCity(city)">
          {{ city.shortCityTypeUa }} {{ city.cityUa }}, <span *ngIf="city.districtUa"> р-н {{ city.districtUa
            }},</span>
          обл.{{ city.regionUa }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix><i class="fa-solid fa-city"></i></mat-icon>
    </mat-form-field>

    <!-- <mat-form-field [@appearance] class="item-select p-1" appearance="outline" *ngIf="flatInfo.flat.city">
    <mat-label for="city">Область</mat-label>
    <input disabled readonly #regionInput name="flatInfo.flat.region" id="region" matInput placeholder="Почніть вводити область"
      [(ngModel)]="flatInfo.flat.region" (ngModelChange)="onRegionsInputChange(flatInfo.flat.region)"
      [matAutocomplete]="autoRegion">
    <mat-autocomplete #autoRegion="matAutocomplete">
      <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
        {{ region.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix><i class="fa-solid fa-earth-europe"></i></mat-icon>
  </mat-form-field> -->

    <mat-form-field [@appearance] class="item-select p-1" appearance="outline"
      *ngIf="flatInfo.flat.city && filteredDistricts || flatInfo.flat.district">
      <mat-label for="district">Район міста</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="flatInfo.flat.district"
        (ngModelChange)="onDistrictInputChange()" placeholder="Виберіть або введіть район" name="flatInfo.flat.district"
        id="district">
      <mat-icon matSuffix><i class="fa-solid fa-mountain-city gray"></i></mat-icon>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let district of filteredDistricts" [value]="district.district">
          {{ district.district }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field [@appearance] class="item-select p-1" appearance="outline"
      *ngIf="flatInfo.flat.city && flatInfo.flat.district">
      <mat-label for="micro_district">Мікрорайон</mat-label>
      <input name="flatInfo.flat.micro_district" id="micro_district" matInput (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="flatInfo.flat.micro_district" placeholder="Введіть мікрорайон">
      <mat-icon matSuffix><i class="fa-solid fa-building-flag gray"></i></mat-icon>
    </mat-form-field>
  </section>

  <div class="city-box p-2" *ngIf="!flatInfo.flat.city">
    <button *ngFor="let item of cities" (click)="pickCity(item)" class="btn-city m-1">
      <div class="flex-column t-s">
        <img class="card-img" [src]="item.icon" alt="region image">
        <p class="t-med bold">{{item.name}}</p>
        <p class="t-min">{{item.population | number:'1.0-0'}}</p>
      </div>
    </button>
  </div>

  <section class="section">
    <mat-form-field [@top1] class="item-select p-1" appearance="outline"
      *ngIf="cityData || flatInfo.flat.city ||  flatInfo.flat.street">
      <mat-label for="city">Вулиця</mat-label>
      <input name="flatInfo.flat.street" id="street" matInput [(ngModel)]="flatInfo.flat.street"
        placeholder="Введіть вулицю" (ngModelChange)="onStreetInputChange(flatInfo.flat.street)"
        [matAutocomplete]="autoStreet">
      <mat-autocomplete #autoStreet="matAutocomplete">
        <mat-option *ngFor="let street of filteredStreets" [value]="street.streetUa"
          (onSelectionChange)="ifSelectedStreet(street)">
          {{ street.streetUa }} {{ street.cityUa }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix><i class="fa-solid fa-road "></i></mat-icon>
      <mat-hint align="end" class="t-min">Обов'язково для локації</mat-hint>
    </mat-form-field>

    <mat-form-field [@top1] class="item-select p-1" appearance="outline"
      *ngIf="streetData || flatInfo.flat.street || flatInfo.flat.houseNumber">
      <mat-label for="city">Номер будинку</mat-label>
      <input name="flatInfo.flat.houseNumber" id="houseNumber" matInput [(ngModel)]="flatInfo.flat.houseNumber"
        placeholder="Введіть номер будинку" (ngModelChange)="onHouseNumberInputChange(flatInfo.flat.houseNumber)"
        [matAutocomplete]="autoHouseNumber">
      <mat-autocomplete #autoHouseNumber="matAutocomplete">
        <mat-option *ngFor="let houseNumber of filteredHouses" [value]="houseNumber.houseNumberUa"
          (onSelectionChange)="ifSelectedHouseNumber(houseNumber)">
          {{ houseNumber.houseNumberUa }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix><i class="fa-solid fa-house-flag"></i></mat-icon>
      <mat-hint align="end" class="t-min">Обов'язково для локації</mat-hint>
    </mat-form-field>

    <mat-form-field [@top1] class="item-select p-1" appearance="outline"
      *ngIf="houseNumberData || flatInfo.flat.houseNumber || flatInfo.flat.flat_index">
      <mat-label for="flat_index">Індекс</mat-label>
      <input name="flatInfo.flat.flat_index" id="flat_index" matInput [(ngModel)]="flatInfo.flat.flat_index"
        placeholder="Введіть поштовий індекс">
      <mat-icon matSuffix><i class="fa-solid fa-envelopes-bulk"></i></mat-icon>
      <mat-hint align="end" class="t-min">Обов'язково для локації</mat-hint>
    </mat-form-field>

    <mat-form-field [@top1] class="item-select p-1" appearance="outline"
      *ngIf="houseNumberData || flatInfo.flat.houseNumber || flatInfo.flat.apartment">
      <mat-label for="apartment">Номер квартири</mat-label>
      <input name="flatInfo.flat.apartment" id="apartment" matInput [(ngModel)]="flatInfo.flat.apartment"
        placeholder="Введіть номер квартири">
      <mat-icon matSuffix><i class="fa-solid fa-door-closed"></i></mat-icon>
    </mat-form-field>
  </section>

  <section [@top1] class="t-c w-100" *ngIf="flatInfo.flat.city && metroExists">
    <mat-label align="start">Метро</mat-label>

    <section class="section-chown">
      <mat-label align="start" class="label-section"><i class="fa-solid fa-code-branch"></i>
        Лінія метро:</mat-label>
      <mat-button-toggle-group name="metrocolor" (ngModelChange)="onSubmitWithDelay()"
        [(ngModel)]="flatInfo.param.metrocolor" (ngModelChange)="onLineSelect(flatInfo.param.metrocolor)"
        aria-label="Метро" [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
        <mat-button-toggle *ngFor="let line of lines" [value]="line.name">{{ line.name }}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="section-chown">
      <mat-label align="start" class="label-section"><i class="fa-solid fa-arrows-left-right-to-line"></i>
        Метро в радіусі до:</mat-label>
      <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.flat.distance_metro"
        name="distance_metro" aria-label="Відстань до метро"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
        <mat-button-toggle *ngFor="let distance of distanceConfiq" [value]="distance.value">
          {{ distance.name }}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="section-chown">
      <mat-form-field [@appearance] class="item-select p-1" appearance="outline" *ngIf="flatInfo.param.metrocolor">
        <mat-label for="metroname">Станція метро</mat-label>
        <mat-select placeholder="Виберіть станцію" (ngModelChange)="onSubmitWithDelay()"
          [(ngModel)]="flatInfo.param.metroname" name="metroname">
          <mat-option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</mat-option>
        </mat-select>
        <mat-hint align="end">Виберіть станцію метро</mat-hint>
        <mat-icon matSuffix><i class="fa-solid fa-archway"></i></mat-icon>
      </mat-form-field>

    </section>
  </section>

  <section *ngIf="flatInfo.flat.city && flatInfo.flat.region">

    <section class="section-chown">
      <mat-label align="start" class="label-section"><i class="fa-solid fa-tree"></i>
        Парк в радіусі до:</mat-label>
      <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.flat.distance_green"
        name="distance_green" aria-label="Відстань до парку"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
        <mat-button-toggle *ngFor="let distance of distanceConfiq" [value]="distance.value">
          {{ distance.name }}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="section-chown">
      <mat-label align="start" class="label-section"><i class="fa-solid fa-basket-shopping"></i>
        Маркет в радіусі до:</mat-label>
      <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.flat.distance_shop"
        name="distance_shop" aria-label="Відстань до маркету"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
        <mat-button-toggle *ngFor="let distance of distanceConfiq" [value]="distance.value">
          {{ distance.name }}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="section-chown">
      <mat-label align="start" class="label-section"><i class="fa-solid fa-car-side"></i>
        Паркінг в радіусі до:</mat-label>
      <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.flat.distance_parking"
        name="distance_parking" aria-label="Відстань до паркінгу"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
        <mat-button-toggle *ngFor="let distance of distanceConfiq" [value]="distance.value">
          {{ distance.name }}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="section-chown">
      <mat-label align="start" class="label-section"><i class="fa-solid fa-bus"></i>
        Зупинка в радіусі до:</mat-label>
      <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.flat.distance_stop"
        name="distance_stop" aria-label="Відстань до зупинки"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
        <mat-button-toggle *ngFor="let distance of distanceConfiq" [value]="distance.value">
          {{ distance.name }}</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </section>
</div>

<div [@appearance] class="btn-group">
  <button class="b-primary mr-2" (click)="setToogleMenu()">
    <i class="fa-regular fa-circle-xmark"></i>
  </button>

  <button [disabled]="activeFilterLocation === 0" class="b-primary mr-2 custom-badge" (click)="clearFilterLocation()"
    matBadge="{{activeFilterLocation}}" [matBadgeHidden]="activeFilterLocation === 0">
    <i class="fa-solid fa-broom"></i>
  </button>

  <button class="b-primary p-2" (click)="saveInfo()">
    <div class="t-med bold white">ЗБЕРЕГТИ</div>
    <i class="fa-regular fa-circle-check pl-2 white"></i>
  </button>
</div>
