@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

input[disabled] {
  font-weight: 600;
  color: $color-text;
  font-size: 16px;
  width: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: flex-start;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-solid {
  color: $color-white;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
}
.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.indicator-box {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.indicator {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: $color-gray;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}

.margin-top {
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.description {
  font-size: 20px;
  @include s1-s3 {
    font-size: 14px;
  }
}

.btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 10px;
    justify-content: center;
  }
}
.btn-next {
  width: 150px;
  height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-accent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid $color-gray;
  &:hover {
    background-color: $color-dark;
    color: $color-white;
  }
  @include s1-s3 {
    height: 40px;
    margin: 5px;
    font-size: 16px;
    width: 100px;
  }
}

.active-step {
  transition: 3s;
  transform: scale(1.6);
  background-color: $color-accent;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.material-symbols-outlined {
  font-size: 20px;
}

.material-symbols-outlined {
  font-size: 30px;
  @include s1-s3 {
    font-size: 25px;
  }
}

.icon {
  color: $color-dark
}

.group {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.group-item {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.group-label {
  text-align: center;
  font-weight: 600;
  color: $color-accent;
  @include s1-s3 {
    text-align: left;
  }
}

.card-animation {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 10px;
  position: absolute;
  width: 90%;
  margin: 10px;
  min-height: 60vh;
  padding: 20px;

  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  @include s1-s3 {
    padding: 10px;
    width: 98%;
    margin-top: 10px;
    min-height: 65vh;
  }
}

.card-animation.open {
  @include s1-s3 {
    min-height: 90vh;
  }
}

.btn-container {
  position: relative;
  margin: 0 20px;
  position: absolute;
  right: 0;
  top: -20px;
  background-color: $color-accent;
  @include s1-s3 {
    top: -10px;
    right: -15px;
    z-index: 999;
  }
}

.btn-info {
  display: block;
  background-color: $color-accent;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  font-size: 14px;
}

.btn-container:hover .info-menu {
  display: block;
}

.info-menu {
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: $color-dark;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.info-menu-text {
  color: $color-white;
}

.info-menu p {
  margin: 4px 0;
}

.accent {
  font-weight: 600;
  color: $color-accent;
}

.item-select {
  height: 65px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);
}

.checkBox-span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
}

.checkBox-span1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  @include s1-s3 {
    padding: 0;
    width: 100%;
  }
}

.btn-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px 20px;
  z-index: 99;
  color: $color-text;
  background-color: $color-white;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  &.active {
    color: $color-white;
    background-color: $color-accent;
  }
  &:hover {
    color: $color-white;
    background-color: $color-dark;
  }

  @include s1-s3 {
    box-shadow: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.page-name {
  font-weight: 600;
}

img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;
  transition: transform 1s;
}

.status-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
  font-size: 24px;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  animation: typing 1s linear forwards;
  opacity: 0;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}




