@use "../../../style/presets/" as *;

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.card-box {
  display: flex;
}

.card {
  width: 100%;
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.form-label {
  align-self: center;
}

.range {
  flex-direction: column;
}

.search {
  width: 100%;
}

.search-input {
  width: 100%;
}

.chek-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-select {
  margin-bottom: 10px;
}

.label-item,
.select-item {
  font-size: 10px;
  overflow: hidden;
}

.box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.box-search {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search-id {
  width: 80%;
  display: flex;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.box-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menu {
  width: 100%;
}

.btn {
  height: 35px;
}

.input-group-text {
  height: 100%;
}

.input-group {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.form-control {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border: none;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-form-field {
  width: 120px;
  height: 80px;
}

mat-label {
  font-size: 15px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}


.price-box {
  display: flex;
}

.inputbox-item::-webkit-scrollbar {
  display: none;
}

.group-label {
  font-weight: 600;
  color: $color-accent;
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 10px;
}

.group-item {
  width: 100%;
  padding: 10px 0;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.group-item-1 {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-mdc-form-field {
  box-sizing: border-box;
  width: 100%;
  height: 60px !important;
  position: relative;
}

.item-select {
  width: 100%;
}

.item-select50 {
  width: 47%;
}

.checkBox-span {
  color: $color-text;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid $color-primary;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px #000000;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #000000;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.checkBox input[type="radio"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.content {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-1 {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 40px;
}

.min-value,
.max-value {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
}

.min-value {
  left: 0;
}

.max-value {
  right: 0;
}

.min-slider,
.max-slider {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ddd;
  height: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.min-slider:hover,
.max-slider:hover {
  opacity: 1;
}

.min-slider::-webkit-slider-thumb,
.max-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.min-slider::-moz-range-thumb,
.max-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.min-slider::-webkit-slider-thumb:hover,
.max-slider::-webkit-slider-thumb:hover {
  background-color: #3e8e41;
}

.min-slider::-moz-range-thumb:hover,
.max-slider::-moz-range-thumb:hover {
  background-color: #3e8e41;
}

.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);
}

.card-1 {
  width: 100%;
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-div {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 20px $color-primary, inset 0px 0px 10px $color-primary,
    0px 0px 5px rgb(255, 255, 255);
  transition: 1s;

  &:hover {
    background-color: $color-dark;
  }
}

.icon-up {
  color: $color-accent;
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 8s linear infinite;
}

.input-up {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
