<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container-fluid">

    <div class="container-navbar">
      <h4 class="page-name hide-pc mt-2">Налаштування пасивного пошуку</h4>

      <nav class="navbar hide-mobile">
        <a [routerLinkActive]="'active'" [routerLink]="'/user/info'"><i class="icon fa-solid fa-chevron-left"></i></a>
        <a [routerLinkActive]="'active'" [routerLink]="'/information-user'">Профіль корустувача</a>
        <a [routerLinkActive]="'active'" [routerLink]="'/housing-parameters/host/address'">Профіль оселі</a>
        <a [routerLinkActive]="'active'" [routerLink]="'/looking'">Пошук оселі</a>
      </nav>
    </div>

    <div class="container-card">


      <div class="container-left p-2 col-lg-6 col-md-5 col-sm-6 col-12">
        <h2 class="hide-mobile">Формування пошукових параметрів</h2>

        <div class="indicator-box">
          <button [ngClass]="{'active-step': currentStep === 1}" class="indicator"
            (click)="changeStep(currentStep = 1)"><i class="fa-solid fa-1"></i></button>
          <button [ngClass]="{'active-step': currentStep === 2}" class="indicator"
            (click)="changeStep(currentStep = 2)"><i class="fa-solid fa-2"></i></button>
          <button [ngClass]="{'active-step': currentStep === 3}" class="indicator"
            (click)="changeStep(currentStep = 3)"><i class="fa-solid fa-3"></i></button>
          <button [ngClass]="{'active-step': currentStep === 4}" class="indicator"
            (click)="changeStep(currentStep = 4)"><span class="material-symbols-outlined">
              all_match
            </span></button>
        </div>

        <div class="margin-top hide-mobile">
          <div class="description" *ngIf="currentStep === 1"><span class="bold">Перший крок</span> - опишіть мету
            пошуку,
            приблизний або точний час оренди, оберіть формат житла, вкажіть для кого ви шукаєте оселю та кого би можливо
            хотіли бачити як сусіда.</div>
          <div class="description" *ngIf="currentStep === 2"><span class="bold">Другий крок</span> - оберіть область та
            місто в якому ви хочете знайти оселю. Оберіть зручне розташування інфраструктури для вас.</div>
          <div class="description" *ngIf="currentStep === 3"><span class="bold">Третій крок</span>
            - оберіть параметри бажаної оселі. Всі ці параметри не є обов'язковими. В подальшому планується додати і
            вибір бажаних предметів, меблів та техніки.</div>
          <div class="description" *ngIf="currentStep === 4"><span class="bold">Четвертий крок</span>
            - тут ви можете вказати чи є у вас домашні улюбленці, ваш бюджет, бажаний варіант оплати внести додаткові
            побажання. Опублікувати чи зняти оголошення.</div>
        </div>

        <div class="btn-group">
          <button *ngIf="currentStep > 1" class="btn-next" (click)="changeStep(currentStep - 1)"
            [disabled]="currentStep === 1">НАЗАД</button>
          <button *ngIf="currentStep < 4" class="btn-next" (click)="changeStep(currentStep + 1)"
            [disabled]="currentStep === 4">ДАЛІ</button>
        </div>
      </div>

      <div class="container-card col-lg-5 col-md-5 col-sm-6 col-12">
        <div [@cardAnimation] *ngIf="currentStep === 1" class="card-animation">

          <div class="btn-container">
            <button class="btn-info" id="infoButton">Допомога</button>
            <div class="info-menu">
              <div class="accent">Картка №1</div>
              <span class="info-menu-text">Перший крок - опишіть мету пошуку,
                приблизний або точний час оренди, оберіть формат житла, вкажіть для кого ви шукаєте оселю та кого би
                можливо хотіли бачити як сусіда. Всі ці поля не обов'язкові але власники оселі краще будуть розуміти чи
                підходить
                оселя для вас.</span>
            </div>
          </div>

          <mat-form-field class="item-select m-1" appearance="outline">
            <mat-label>Мета оренди</mat-label>
            <mat-select [(ngModel)]="userInfo.purpose_rent" name="purpose_rent">
              <mat-option [value]="''">Неважливо</mat-option>
              <mat-option value="0">Переїзд</mat-option>
              <mat-option value="1">Відряджання</mat-option>
              <mat-option value="2">Подорож</mat-option>
              <mat-option value="3">Навчання</mat-option>
              <mat-option value="4">Особисті причини</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-label class="group-label">Формат житла</mat-label>
          <div class="group-item">

            <div class="content">
              <label class="checkBox">
                <input id="looking_house" type="checkbox" [(ngModel)]="userInfo.house" name="housing">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Будинок</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="looking_flat" type="checkbox" [(ngModel)]="userInfo.flat" name="housing">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Квартира</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="looking_room" type="checkbox" [(ngModel)]="userInfo.room" name="housing">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Кімната</span>
              <i></i>
            </div>

          </div>

          <mat-label class="group-label">Термін оренди</mat-label>
          <div class="group-item">

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Дні</mat-label>
              <input type="number" name="userInfo.days" (click)="onDayCountsChange()" [(ngModel)]="userInfo.days"
                [min]="minValueDays" [max]="maxValueDays" matInput>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Тиж.</mat-label>
              <input type="number" name="userInfo.weeks" (click)="onDayCountsChange()" [(ngModel)]="userInfo.weeks"
                [min]="minValueWeeks" [max]="maxValueWeeks" matInput>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Міс.</mat-label>
              <input type="number" name="userInfo.months" (click)="onDayCountsChange()" [(ngModel)]="userInfo.mounths"
                [min]="minValueMounths" [max]="maxValueMounths" matInput>
            </mat-form-field>

            <mat-form-field class="item-select m-1" appearance="outline">
              <mat-label>Роки.</mat-label>
              <input type="number" name="userInfo.years" (click)="onDayCountsChange()" [(ngModel)]="userInfo.years"
                [min]="minValueYears" [max]="maxValueYears" matInput>
            </mat-form-field>

          </div>

          <mat-label class="group-label">Для кого шукаємо?</mat-label>
          <div class="group-item">

            <div class="content">
              <label class="checkBox">
                <input id="students" type="checkbox" [(ngModel)]="userInfo.students" name="students">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Студент<span class="status">S</span>
              </span>

              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="woman" type="checkbox" [(ngModel)]="userInfo.woman" name="woman">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Жінка<span class="status">W</span></span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="man" type="checkbox" [(ngModel)]="userInfo.man" name="man">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Чоловік<span class="status">M</span></span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="family" type="checkbox" [(ngModel)]="userInfo.family" name="family">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Сім'я<span class="status">F</span></span>
              <i></i>
            </div>

          </div>

          <mat-label class="group-label mt-2">Пріорітет сусіда по оселі</mat-label>
          <div class="group-item">
            <div class="content">
              <label class="checkBox">
                <input id="looking_woman" type="checkbox" [(ngModel)]="userInfo.looking_woman" name="woman">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span1">Жінка<span class="status">W</span></span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="looking_man" type="checkbox" [(ngModel)]="userInfo.looking_man" name="man">
                <div class="transition"></div>
              </label>
              <span class="checkBox-span1">Чоловік<span class="status">M</span></span>
              <i></i>
            </div>
          </div>

        </div>

        <div [@cardAnimation] *ngIf="currentStep === 2" class="card-animation">

          <div class="btn-container">
            <button class="btn-info" id="infoButton">Допомога</button>
            <div class="info-menu">
              <div class="accent bold">Картка №2</div>
              <div class="info-menu-text"><span class="bold">Другий крок</span> - оберіть область та
                місто в якому ви хочете знайти оселю. Оберіть зручне розташування інфраструктури для вас. Обов'язковими
                параметрами тут є місто та область.</div>
            </div>
          </div>

          <mat-label class="group-label">Місцерозташування</mat-label>

          <mat-form-field class="item-select m-1 mt-3" appearance="outline">
            <mat-label>Область</mat-label>
            <input name="flatInfo.region" matInput [(ngModel)]="userInfo.region"
              placeholder="Виберіть або введіть область" (ngModelChange)="loadCities()" [matAutocomplete]="autoRegion">
            <mat-autocomplete #autoRegion="matAutocomplete">
              <mat-option *ngFor="let region of filteredRegions" [value]="region.name">
                {{ region.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="item-select m-1" appearance="outline">
            <mat-label>Місто</mat-label>
            <input name="flatInfo.city" matInput [(ngModel)]="userInfo.city" placeholder="Виберіть або введіть місто"
              (ngModelChange)="loadDistricts()" [matAutocomplete]="autoCity">
            <mat-autocomplete #autoCity="matAutocomplete">
              <mat-option *ngFor="let city of filteredCities" [value]="city.name">
                {{ city.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-label class="group-label">Інфраструктура</mat-label>

          <div class="group">
            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Парк</mat-label>
              <mat-select [(ngModel)]="userInfo.distance_green" name="distance_green">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="100">до 100м</mat-option>
                <mat-option [value]="300">до 300м</mat-option>
                <mat-option [value]="500">до 500м</mat-option>
                <mat-option [value]="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Маркет</mat-label>
              <mat-select [(ngModel)]="userInfo.distance_shop" name="distance_shop">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="100">до 100м</mat-option>
                <mat-option [value]="300">до 300м</mat-option>
                <mat-option [value]="500">до 500м</mat-option>
                <mat-option [value]="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="group">
            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Укриття</mat-label>
              <mat-select [(ngModel)]="userInfo.bunker" name="bunker">
                <mat-option [value]="''">Неважливо</mat-option>
                <mat-option value="Паркінг">Паркінг</mat-option>
                <mat-option value="В будинку">В будинку</mat-option>
                <mat-option value="Поряд з будинком">Поряд з будинком</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-label class="group-label">Паркінг / транспорт</mat-label>

          <div class="group">
            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Паркінг</mat-label>
              <mat-select [(ngModel)]="userInfo.distance_parking" name="distance_parking">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="1">на території</mat-option>
                <mat-option [value]="100">до 100м</mat-option>
                <mat-option [value]="300">до 300м</mat-option>
                <mat-option [value]="500">до 500м</mat-option>
                <mat-option [value]="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Зупинки</mat-label>
              <mat-select [(ngModel)]="userInfo.distance_stop" name="distance_stop">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="100">до 100м</mat-option>
                <mat-option [value]="300">до 300м</mat-option>
                <mat-option [value]="500">до 500м</mat-option>
                <mat-option [value]="1000">до 1км</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <mat-label class="group-label" *ngIf="userInfo.distance_metro">Метро</mat-label>
          <div class="group"
            *ngIf="userInfo.region === 'Київська' && userInfo.city === 'Київ' || userInfo.region === 'Харківська' && userInfo.city === 'Харків' || userInfo.region === 'Дніпропетровська' && userInfo.city === 'Дніпро'">
            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Метро</mat-label>
              <mat-select [(ngModel)]="userInfo.distance_metro" name="distance_metro">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="100">до 100м</mat-option>
                <mat-option [value]="300">до 300м</mat-option>
                <mat-option [value]="500">до 500м</mat-option>
                <mat-option [value]="1000">до 1км</mat-option>
                <mat-option [value]="2000">до 2км</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select w-50 p-1" appearance="outline">
              <mat-label>Станція</mat-label>
              <input name="flatInfo.metro" matInput [(ngModel)]="userInfo.metro"
                placeholder="Виберіть або введіть станцію" (ngModelChange)="loadStations()"
                [matAutocomplete]="autoMetro">
              <mat-autocomplete #autoMetro="matAutocomplete">
                <mat-option *ngFor="let station of filteredStations" [value]="station.name">
                  {{ station.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


          </div>

        </div>

        <div [@cardAnimation] *ngIf="currentStep === 3" class="card-animation">

          <div class="btn-container">
            <button class="btn-info" id="infoButton">Допомога</button>
            <div class="info-menu">
              <div class="accent bold">Картка №3</div>
              <div class="info-menu-text"><span class="bold">Третій крок</span>
                - оберіть параметри бажаної оселі. Всі ці параметри не є обов'язковими. В подальшому планується додати і
                вибір бажаних предметів, меблів та техніки.</div>
            </div>
          </div>

          <mat-label class="group-label">Стан та параметри оселі</mat-label>
          <mat-form-field class="item-select m-1" appearance="outline">
            <mat-label>Стан</mat-label>
            <mat-select [(ngModel)]="userInfo.repair_status" name="repair_status">
              <mat-option [value]="''">Неважливо</mat-option>
              <mat-option value="Новий">Новий</mat-option>
              <mat-option value="Добрий">Добрий</mat-option>
              <mat-option value="Задовільний">Задовільний</mat-option>
              <mat-option value="Поганий">Поганий</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-label class="group-label">Площа м² оселі</mat-label>
          <div class="group-item">
            <mat-form-field class="item-select50 m-1" appearance="outline">
              <mat-label>від</mat-label>
              <mat-select [(ngModel)]="userInfo.area_of" name="area_of">
                <mat-option [value]=''>Неважливо</mat-option>
                <mat-option value="10.00">10м²</mat-option>
                <mat-option value="20.00">20м²</mat-option>
                <mat-option value="30.00">30м²</mat-option>
                <mat-option value="40.00">40м²</mat-option>
                <mat-option value="50.00">50м²</mat-option>
                <mat-option value="60.00">60м²</mat-option>
                <mat-option value="70.00">70м²</mat-option>
                <mat-option value="80.00">80м²</mat-option>
                <mat-option value="90.00">90м²</mat-option>
                <mat-option value="100.00">100м²</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select50 m-1" appearance="outline">
              <mat-label>до</mat-label>
              <mat-select [(ngModel)]="userInfo.area_to" name="area_to">
                <mat-option [value]=''>Неважливо</mat-option>
                <mat-option value="10.00">10м²</mat-option>
                <mat-option value="20.00">20м²</mat-option>
                <mat-option value="30.00">30м²</mat-option>
                <mat-option value="40.00">40м²</mat-option>
                <mat-option value="50.00">50м²</mat-option>
                <mat-option value="60.00">60м²</mat-option>
                <mat-option value="70.00">70м²</mat-option>
                <mat-option value="80.00">80м²</mat-option>
                <mat-option value="90.00">90м²</mat-option>
                <mat-option value="100.00">100м²</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-label class="group-label">Кількість кімнат</mat-label>
          <div class="group-item">
            <mat-form-field class="item-select50 m-1" appearance="outline">
              <mat-label>від</mat-label>
              <mat-select [(ngModel)]="userInfo.rooms_of" name="rooms_of">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="5">5+</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="item-select50 m-1" appearance="outline">
              <mat-label>до</mat-label>
              <mat-select [(ngModel)]="userInfo.rooms_to" name="rooms_to">
                <mat-option [value]="0">Неважливо</mat-option>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="5">5+</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <mat-label class="group-label">Тип балкону</mat-label>
          <mat-form-field class="item-select m-1" appearance="outline">
            <mat-label>Балкон</mat-label>
            <mat-select [(ngModel)]="userInfo.balcony" name="balcony">
              <mat-option [value]="''">Неважливо</mat-option>
              <mat-option value="Класичний">Класичний</mat-option>
              <mat-option value="Французький">Французький</mat-option>
              <mat-option value="Лоджія">Лоджія</mat-option>
              <mat-option value="Тераса">Тераса</mat-option>
              <mat-option value="Веранда">Веранда</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div [@cardAnimation] *ngIf="currentStep === 4" class="card-animation">

          <div class="btn-container">
            <button class="btn-info" id="infoButton">Допомога</button>
            <div class="info-menu">
              <div class="accent bold">Картка №4</div>
              <div class="info-menu-text"><span class="bold">Четвертий крок</span>
                - тут ви можете вказати чи є у вас домашні улюбленці, ваш бюджет, бажаний варіант оплати внести
                додаткові побажання. Опублікувати чи зняти оголошення.
              </div>
            </div>
          </div>

          <mat-label class="group-label">Будете не одні?</mat-label>

          <mat-form-field class="item-select m-1" appearance="outline">
            <mat-label>Домашні улюбленці</mat-label>
            <mat-select [(ngModel)]="userInfo.animals" name="animals">
              <mat-option [value]="''">Приховати</mat-option>
              <mat-option value="0">Без тварин</mat-option>
              <mat-option value="1">Є Котики</mat-option>
              <mat-option value="2">Є Песики</mat-option>
              <mat-option value="3">Є Песики/Котики</mat-option>
              <mat-option value="4">Є багато різного</mat-option>
              <mat-option value="5">Є щось цікавіше</mat-option>
            </mat-select>
          </mat-form-field>



          <mat-label class="group-label">На яку ціну орієнтуєтесь?</mat-label>
          <div class="group-item">

            <mat-form-field class="item-select50 m-1" appearance="outline">
              <mat-label>Ціна (від)</mat-label>
              <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="userInfo.price_of"
                name="price_of">
            </mat-form-field>

            <mat-form-field class="item-select50 m-1" appearance="outline">
              <mat-label>Ціна (до)</mat-label>
              <input matInput type="number" [min]="minValue" [max]="maxValue" [(ngModel)]="userInfo.price_to"
                name="price_to">
            </mat-form-field>

          </div>

          <mat-form-field class="example-full-width mt-2">
            <mat-label>Додаткові умови</mat-label>
            <textarea #textArea id="floatingTextarea" [(ngModel)]="userInfo.about" matInput
              placeholder="Введіть важливі вам критерії пошуку оселі."></textarea>
          </mat-form-field>

          <mat-label class="group-label">Як хочете платити?</mat-label>
          <div class="group-item">

            <div class="content">
              <label class="checkBox">
                <input id="daily" type="radio" [(ngModel)]="userInfo.option_pay" name="daily" [value]=1>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Подобово</span>
              <i></i>
            </div>

            <div class="content">
              <label class="checkBox">
                <input id="monthly" type="radio" [(ngModel)]="userInfo.option_pay" name="monthly" [value]=0>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Щомісяця</span>
              <i></i>
            </div>
          </div>

          <mat-label class="group-label">Опубліковуємо оголошення?</mat-label>
          <div class="group-item">

            <div class="content">
              <label class="checkBox">
                <input id="agree_search" type="radio" [(ngModel)]="userInfo.agree_search" name="agree_search_yes"
                  [value]=1>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Так!</span>
              <i></i>
            </div>


            <div class="content">
              <label class="checkBox">
                <input id="agree_search" type="radio" [(ngModel)]="userInfo.agree_search" name="agree_search_no"
                  [value]=0>
                <div class="transition"></div>
              </label>
              <span class="checkBox-span">Ні</span>
              <i></i>
            </div>

          </div>



          <div class="btn-group">
            <button class="btn w-75" style="background-color: rgba(255, 99, 71, 0.575);" matTooltip="ЗБЕРЕГТИ"
              (click)="saveInfo()"><i class="icon fa-regular fa-circle-check"></i></button>
            <button class="btn w-25" matTooltip="ОЧИСТИТИ" (click)="clearInfo()"><i
                class="icon fa-solid fa-eraser"></i></button>
          </div>

        </div>
      </div>

    </div>
  </div>
</ng-template>


<div *ngIf="statusMessage" class="status-message">
  <div><img src="../../../../assets/logo/Discussio (7).svg" alt="Logo"></div>{{ statusMessage }}
</div>
