@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss" as *;

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-content {
  align-items: center !important;
  justify-content: space-between !important;
}

.btn-help {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: $color-accent;
}

.card-animation {
  height: calc(100% - 20px) !important;
  @include s1-s3 {
    height: 100% !important;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.fa-solid {
  color: $color-text;
}

.btn-group {
  justify-content: center;
  border-radius: 20px;
}

.t-l {
  text-align: left;
}

li {
  padding: 3px;
}

.flex-box {
  align-items: flex-start;
  justify-content: flex-start;
  @include s1-s3 {
    flex-direction: column;
  }
}

.flex-box-column {
  justify-content: flex-start;
  align-items: flex-start;
}

.card-img {
  overflow: visible;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.item-select {
  width: 100%;
  font-size: 16px;
  flex-direction: column-reverse;
  @include s1-s3 {
    font-size: 16px;
  }
}

mat-hint {
  font-size: 12px;
  color: $color-accent;
}

mat-label {
  font-size: 14px;
}

.btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.right-align {
  text-align: right;
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  @include s3-s6-max {
    background-color: $color-primary !important;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
