@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss" as *;
@use "../../../style/radio.scss";

.item-box {
  @include flex-box;
  @include box-shadow;
  width: 100%;
  justify-content: flex-start;
  border-radius: 20px;
  margin-top: 10px;
  height: 120px;
  background-color: $color-white;

  .link-t {
    @include flex-box;
    @include box-shadow;
    border: none;
    color: $color-white;
    height: 100%;
    .fa-solid {
      color: $color-white;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.791));
    }
    &.active {
      background-color: $color-accent;
    }
  }

  .link-t:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: not-allowed;
    color: #929292;
    .fa-solid {
      color: #929292;
    }
  }

  .item-d {
    @include flex-box-column;
    margin: 0;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-content {
  align-items: center !important;
  justify-content: space-between !important;
}

.btn-help {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: $color-accent;
}

.card-animation {
  height: calc(100% - 20px) !important;
  @include s1-s3 {
    height: 100% !important;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.fa-solid {
  color: $color-text;
}

.btn-group {
  justify-content: center;
  border-radius: 20px;
}

.t-l {
  text-align: left;
}

li {
  padding: 3px;
}

.flex-box {
  align-items: flex-start;
  justify-content: flex-start;
  @include s1-s3 {
    flex-direction: column;
  }
}

.flex-box-column {
  justify-content: flex-start;
  align-items: flex-start;
}

.card-img {
  overflow: visible;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.item-select {
  width: 100%;
  font-size: 16px;
  flex-direction: column-reverse;
  @include s1-s3 {
    font-size: 16px;
  }
}

mat-hint {
  @include flex-box-center;
  color: $color-gray;
  font-size: 12px;
  .green {
    color: green !important;
  }
  .red {
    color: red !important;
  }
  .fa-regular,
  .fa-solid {
    font-size: 12px;
    margin-right: 10px;
  }
}

mat-label {
  font-size: 14px;
}

.btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.right-align {
  text-align: right;
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  @include s3-s6-max {
    background-color: $color-primary !important;
  }
}

.status-static {
  @include flex-box-center;
  width: 35px;
  height: 35px;
  background-color: $color-gray;
  color: $color-white;
  border-radius: 50%;
  transition: 1s;
  &.active {
    background-color: $color-accent !important;
    width: 40px;
    height: 40px;
    @include box-shadow-a;
    @include s1-s3 {
      width: 35px;
      height: 35px;
    }
  }
  .fa-solid, .fa-regular {
    color: $color-white;
  }

  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }

  @include s1-s3 {
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    .fa-envelope-open-text {
      font-size: 10px;
    }
  }
}

.checkBox {
  &:disabled {
    color: $color-white;
  }
}

.checkBox-text {
  transform: 1s;
  font-size: 12px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
