@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/radio.scss";

.container-card {
  @include flex-box;
  align-items: flex-start;
  justify-content: space-between;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 650px;
  @include s1-s3 {
    height: 14vh;
  }
}

.indicator-box {
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  @include s1-s3 {
    margin-top: 15px;
  }
}

.indicator {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: $color-gray;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}

.btn-next {
  width: 150px;
  height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-accent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid $color-gray;
  &:hover {
    background-color: $color-dark;
    color: $color-white;
  }
  @include s1-s3 {
    height: 40px;
    margin: 5px;
    font-size: 16px;
    width: 100px;
  }
}

.active-step {
  transition: 3s;
  transform: scale(1.6);
  background-color: $color-accent;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4 {
  font-size: 20px;
}

.card-box {
  position: relative;
  height: 650px;
  @include s1-s3 {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 120px;
  }
}

.card-animation {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  @include flex-box;
  position: relative;
  padding: 10px;
  width: 400px;
  height: 650px;
  justify-content: space-evenly;
  @include s1-s3 {
    height: 600px;
    width: 100%;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.item-select {
  width: 100%;
  font-size: 16px;
  flex-direction: column-reverse;
  @include s1-s3 {
    font-size: 16px;
  }
}

mat-hint {
  font-size: 12px;
  color: $color-accent;
}

mat-label {
  font-size: 14px;
}

.right-align {
  text-align: right;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-box {
  @include flex-box-row;
  justify-content: space-evenly;
  .btn-group {
    @include flex-box-column;
    transition: 1s;
    .btn {
      margin: 5px 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-weight: 600;
      @include box-shadow;
    }
    .btn-name {
      font-size: 12px;
    }
    .fa-solid,
    .fa-regular {
      color: $color-text;
      font-size: 24px;
    }
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
