<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="card-box">

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="card-greeting">
        <div class="card-box-logo">
          <div class="logo-box">
            <img class="logo" src="{{path_logo}}" alt="logo">
          </div>
        </div>
        <div class="flex-column">
          <h1 class="bold dark t-c"><strong>Discussio</strong></h1>
          <h2 class="t-lar t-c p-2"><strong>Ми об'єднуємо орендодавців та орендарів!</strong></h2>
          <div class="t-med t-c p-2">Надаємо зручний <strong>пошук оселі</strong> та <strong> пошук
              орендаря</strong>. Інструменти для <strong> управління нерухомістью</strong></div>
        </div>
        <div [@top2] class="btn-group" *ngIf="indexCard === 3">
          <button class="btn m-2 update" (click)="indexCard = 0">РЕЄСТРАЦІЯ</button>
          <button class="btn m-2 update" (click)="indexCard = 1">ВХІД</button>
        </div>
      </div>
    </div>

    <main class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="indexCard === 3 && isMobile">
      <div [@top1] class="card-animation ">
        <div class="t-lar-xx dark bold">Вас вітає!</div>
        <div class="card-box-logo">
          <div class="logo-box">
            <img class="logo" src="{{path_logo}}" alt="logo">
            <div class="flex-column">
              <h1 class="dark t-c"><strong>Discussio</strong></h1>
              <h2 class="t-lar t-c p-2"><strong>Ми об'єднуємо орендодавців та орендарів!</strong></h2>
              <div class="t-med t-c p-2">Надаємо інструменти для зручного <strong>пошуку оселі, орендарів та
                  керування оселею.</strong></div>
            </div>
          </div>
        </div>
        <div class="btn-group3">
          <button class="btn m-2" (click)="indexCard = 0">РЕЄСТРАЦІЯ</button>
          <button class="btn m-2" (click)="indexCard = 1">ВХІД</button>
        </div>
      </div>
    </main>

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12"
      *ngIf="indexCard === 2 || indexCard === 1 || indexCard === 0">
      <div [@swichCard] *ngIf="indexCard === 0" class="card-animation">
        <div class="card1 p-2">

          <div class="logo-box">
            <img class="logoMin" src="{{path_logo}}" alt="logo">
            <div class="t-lar-x dark t-c">Discussio</div>
          </div>

          <div *ngIf="indexBtn === 1">
            <div class="t-lar-xx bold t-c dark border-bottom w-100">Реєстрація</div>
            <div class="t-med gray mt-2 t-c">Якщо у вас вже є обліковий запис</div>
            <button (click)="indexCard = 1" class="btn-none t-lar mb-2">вхід в аккаунт тут</button>
          </div>

          <div *ngIf="indexBtn === 2">
            <div class="t-lar-xx bold t-c dark border-bottom w-100">Перевірка пошти</div>
            <button (click)="indexCard = 1" class="btn-none t-lar mb-2">вхід в аккаунт тут</button>
            <div class="t-med dark t-c mt-2 mb-2">Якщо вказана пошта належить вам введіть код підтвердження який ми вам
              надіслали
            </div>
          </div>

          <form class="form" (ngSubmit)="registration()" [formGroup]="registrationForm">

            <div *ngIf="timeLeft > 0" class="accent t-c t-med">
              Ви перевисили ліміт введення неправильного коду!
              Форма буде розблокована через {{ timeLeft }} секунд
            </div>

            <mat-form-field class="inputbox" *ngIf="indexBtn === 1" (click)="picker.open()">
              <mat-label>Дата народження</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" type="text" [readonly]="true"
                placeholder="Оберіть дату з календаря" id="dob" formControlName="dob">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="validateAgeMessage" class="error-message">{{validateAgeMessage}}</div>
            </mat-form-field>

            <mat-form-field class="inputbox" appearance="fill" *ngIf="indexBtn === 1">
              <mat-label>Вкажіть ваш Email</mat-label>
              <input matInput id="regEmail" type="email" formControlName="regEmail" minlength="7" maxlength="30"
                required class="input-field">
              <mat-hint align="start" class="alert alert-danger"
                *ngIf="formErrors.regEmail">{{formErrors.regEmail}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="inputbox " appearance="fill" *ngIf="indexBtn === 1">
              <mat-label>Придумайте пароль</mat-label>
              <input matInput id="regPassword" type="password" formControlName="regPassword" minlength="7"
                maxlength="25" required class="input-field" [type]="passwordType">
              <button type="button" (click)="togglePasswordVisibility()" class="see">
                <i class="icon"
                  [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
              </button>
              <mat-hint align="start" class="alert alert-danger"
                *ngIf="formErrors.regPassword">{{formErrors.regPassword}}</mat-hint>
            </mat-form-field>

          </form>

          <button class="btn"
            [disabled]="formErrors.regEmail || !registrationForm.valid || !agreementAccepted || !validateAgeDate"
            [ngClass]="{'disabled-button': formErrors.regEmail || !registrationForm.valid || !agreementAccepted || !validateAgeDate}"
            (click)="registrationCheck()" *ngIf="indexBtn === 1">
            Зареєструватись
          </button>

          <mat-form-field class="form-field item-select p-1 w-100" appearance="outline" *ngIf="indexBtn === 2">
            <mat-label>Код підтвердження пошти</mat-label>
            <div class="mat-input-container">
              <input matInput [disabled]="timeLeft > 0" type="password" id="passwordCheck" [(ngModel)]="emailCheckCode" name="passwordCheck"
                placeholder="Введіть код який прийшов вам на email">
            </div>
          </mat-form-field>

          <div class="btn-group" *ngIf="indexBtn === 2">
            <button class="btn m-2" (click)="indexBtn = 1">Назад</button>
            <button class="btn m-2" [disabled]="!emailCheckCode" (click)="registration()">Підтвердити</button>
          </div>

          <div class="box-agree p-2" *ngIf="indexBtn === 1">
            <label class="checkBox">
              <input type="checkbox" [disabled]="timeLeft > 0" [(ngModel)]="agreementAccepted" name="agreementAccepted">
              <div class="transition"></div>
            </label>
            <p class="t-min w-75 p-2 t-c">Реєструючись я погоджуюсь з <a class="bold" [routerLinkActive]="'active'"
                [routerLink]="'/home/user-licence'">угодою користувача</a></p>
          </div>

        </div>
      </div>
      <div [@swichCard] *ngIf="indexCard === 1" class="card-animation">
        <div class="card1 p-2">

          <div class="logo-box">
            <img class="logoMin" src="{{path_logo}}" alt="logo">
            <div class="t-lar-x dark t-c">Discussio</div>
          </div>

          <div class="t-lar-xx bold t-c dark border-bottom w-100">Вхід в аккаунт</div>
          <div class="t-med gray dark mt-2 t-c">Якщо у вас ще немає облікового запису</div>
          <button (click)="indexCard = 0" class="btn-none t-lar mb-2">зареєструйтесь тут</button>

          <form class="form" [formGroup]="loginForm">

            <div *ngIf="timeLeft > 0" class="accent t-c t-med">
              Ви перевисили ліміт введення неправильного коду!
              Форма буде розблокована через {{ timeLeft }} секунд
            </div>

            <mat-form-field class="inputbox" appearance="fill">
              <mat-label>Введіть Email</mat-label>
              <input matInput class="input-field" id="email" type="text" formControlName="email" placeholder="email"
                required>
              <mat-hint align="start" class="alert alert-danger"
                *ngIf="formErrors.email">{{formErrors.email}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="inputbox" appearance="fill">
              <mat-label>Введіть пароль</mat-label>
              <input matInput class="input-field" id="password" [type]="passwordType" name="password"
                formControlName="password" placeholder="Пароль" required maxlength="25" minlength="7">
              <button type="button" (click)="togglePasswordVisibility()" class="see">
                <i class="icon"
                  [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
              </button>
              <mat-hint align="start" class="alert alert-danger"
                *ngIf="formErrors.password">{{formErrors.password}}</mat-hint>
            </mat-form-field>

            <button class="btn" [disabled]="!loginForm.valid" [ngClass]="{'disabled-button': !loginForm.valid}"
              (click)="login()">Увійти</button>

          </form>

          <div class="t-min t-c mt-2">Якщо забули пароль введіть пошту на яку
            ви реєстрували свій аккаунт та перейдіть за посиланням <button [disabled]="formErrors.email || timeLeft > 0"
              (click)="sendCodeForChangePass()" class="btn-none mt-2"
              [ngClass]="{'disabled-button': formErrors.email}">Відновити пароль
            </button></div>
        </div>
      </div>
      <div [@swichCard] *ngIf="indexCard === 2" class="card-animation">
        <div class="card1 p-2">

          <div class="logo-box">
            <img class="logoMin" src="{{path_logo}}" alt="logo">
            <div class="t-lar-x dark t-c">Discussio</div>
          </div>

          <div class="text-box border-bottom">
            <div class="t-lar-xx bold dark t-c">Зміна паролю</div>
            <div class="t-med bold dark t-c">Код відправлений на пошту:</div>
            <div class="t-med bold accent t-c">{{emailAcc}}</div>
          </div>

          <div class="t-med bold dark mt-2 t-c">Якщо треба новий обліковий запис</div>
          <button (click)="indexCard = 0" class="btn-none t-lar">зареєструйтесь тут</button>

          <form class="form mt-2" (ngSubmit)="onChangePassword()" [formGroup]="changePassForm">

            <div *ngIf="timeLeft > 0" class="accent t-c t-med">
              Ви перевисили ліміт введення неправильного коду!
              Форма буде розблокована через {{ timeLeft }} секунд
            </div>

            <mat-form-field class="inputbox" appearance="outline" *ngIf="indexBtn === 1">
              <mat-label>Новий пароль</mat-label>
              <input matInput id="changePassword" type="password" formControlName="changePassword" minlength="7"
                maxlength="25" required class="input-field" [type]="passwordType">
              <button type="button" (click)="togglePasswordVisibility()" class="see">
                <i class="icon"
                  [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
              </button>
              <div *ngIf="passStrengthMessage && passStrengthMessage !== 'ok'" class="error-message">
                {{passStrengthMessage}}</div>
            </mat-form-field>

            <mat-form-field class="inputbox" appearance="outline" *ngIf="indexBtn === 1">
              <mat-label>Повторіть пароль</mat-label>
              <input matInput id="changePassword1" type="password" formControlName="changePassword1" minlength="7"
                maxlength="25" required class="input-field" [type]="passwordType1" aria-disabled="false">
              <button type="button" (click)="togglePasswordVisibility1()" class="see">
                <i class="icon"
                  [class]="passwordType1 === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
              </button>
              <div *ngIf="passMatchMessage && passMatchMessage !== 'ok' " class="error-message">{{passMatchMessage}}
              </div>
              <div *ngIf="formErrors.changePassword1" class="alert alert-danger">{{formErrors.changePassword1}}</div>
            </mat-form-field>
          </form>

          <mat-form-field class="form-field item-select w-100" appearance="outline">
            <mat-label>Код підтвердження пошти</mat-label>
            <div class="mat-input-container">
              <input matInput [disabled]="timeLeft > 0" type="text" id="changePassCode" [(ngModel)]="changePassCode" name="changePassCode"
                placeholder="Введіть код який прийшов вам на email">
            </div>
          </mat-form-field>

          <button class="btn" [disabled]="!changePassCode || passMatchMessage !== 'ok' || passStrengthMessage !== 'ok'"
            (click)="onChangePassword()">
            Підтвердити
          </button>

        </div>
      </div>
    </div>

  </div>
</ng-template>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
