@use "../../style/presets/" as *;

.container-reg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-white;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100% !important;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}

.card-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}



.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
}

.switch-box {
  position: relative;
}

.text {
  font-size: 12px;
  text-align: center;
}

a {
  padding: 0;
  margin: 0;
  text-transform: lowercase;
  color: $color-accent;
  display: inline;
}

.alert-danger {
  position: absolute;
  bottom: -22px;
  color: $color-accent;
  font-size: 12px;
  left: 0;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  overflow: hidden;
}

.logo {
  height: 150px;
  width: 100%;
}

p {
  text-align: center;
  font-size: 12px;
}

.inputbox {
  position: relative;
  display: flex;
  width: 100%;
}

.btn {
  height: 50px;
  font-size: 18px;
  color: $color-white;
  background-color: $color-gray;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.text-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-weight: 600;
}

.btn-none {
  border: none;
  background-color: transparent;
  font-weight: 600;
  &:hover {
    color: $color-accent;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input-field {
  width: 100%;
}

.see {
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
  background: none;
  border: none;
}

h1 {
  font-weight: 600;
}

.img-statusMessage {
  height: 200px;
  width: 200px;
}

.status-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
  font-size: 24px;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  animation: typing 1s linear forwards;
  opacity: 0;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {

  .logo {
    height: 130px;
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .card {
    bottom: 0;
    width: 100%;
    height: 65%;
  }

  .card-box {
    height: 350px;
  }
}
