<div class="container-reg">

  <div class="container">

    <div class="card-box col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="box w-75">
        <div class="logo-box">
          <img class="logo" src="../../../assets/logo/Discussio (7).svg" alt="">
          <h1 class="title-name">Discussio</h1>
          <h3 class="title-text">Зручна та ефективна система управління Вашою оселею</h3>
        </div>
        <div class="logo-box hide-mobile" >
          <div class="text"> © Discussio. Simplify property management with Discussio.
            Developed by Discussio team 2023.</div>
        </div>
      </div>
    </div>

    <div class="card-box col-lg-6 col-md-6 col-sm-12 col-12">

      <div class="card m-2 p-2" *ngIf="!isFeatureEnabled" [@cardAnimation2]>

        <div class="text-box border-bottom">
          <h2>Зареєструватись</h2>
        </div>

        <div class="text-box">
          <p>Зареєструйтесь для входу </p>
          <button (click)="toggleMode()" class="btn-none">або увійдіть в аккаунт.</button>
        </div>

        <form class="form" (ngSubmit)="registration()" [formGroup]="registrationForm">

          <mat-form-field class="inputbox w-75 mt-2" appearance="outline">
            <mat-label>Ім'я користувача</mat-label>
            <input matInput class="input-field" id="userName" type="text" formControlName="userName"
              placeholder="Ім'я користувача" required maxlength="15" minlength="3">
            <div *ngIf="formErrors.userName" class="alert alert-danger">{{formErrors.userName}}</div>
          </mat-form-field>

          <mat-form-field class="inputbox w-75" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput class="input-field" id="email" type="text" formControlName="email" placeholder="email"
              required>
            <div *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}</div>
          </mat-form-field>

          <mat-form-field class="inputbox w-75" appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput class="input-field" id="password" [type]="passwordType" name="password"
              formControlName="password" placeholder="Пароль" required maxlength="25" minlength="7">
            <button type="button" (click)="togglePasswordVisibility()" class="see">
              <i class="icon"
                [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
            </button>
            <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
          </mat-form-field>

          <button class="btn w-75" [disabled]="!registrationForm.valid || !agreementAccepted">Зареєструватись</button>
        </form>

        <div class="content">
          <label class="checkBox">
            <input id="students" type="checkbox" [(ngModel)]="agreementAccepted" name="agreementAccepted">
            <div class="transition"></div>
          </label>
          <p>Реєструючись на цьому сайті я погоджуюсь з <a [routerLinkActive]="'active'"
              [routerLink]="'/user-licence'">угодою користувача</a></p>
        </div>

      </div>

      <div class="card m-2 p-2" *ngIf="isFeatureEnabled" [@cardAnimation2]>

        <div class="text-box border-bottom">
          <h2>Увійти</h2>
        </div>

        <div class="text-box">
          <p>Якщо у вас є обліковий запис, увійдіть тут</p>
          <button (click)="toggleMode()" class="btn-none">або зареєструйтесь.</button>
        </div>

        <form class="form" [formGroup]="loginForm">
          <mat-form-field class="inputbox w-75" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput class="input-field" id="email" type="text" formControlName="email" placeholder="email"
              required>
            <div *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}</div>
          </mat-form-field>

          <mat-form-field class="inputbox w-75" appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput class="input-field" id="password" [type]="passwordType" name="password"
              formControlName="password" placeholder="Пароль" required maxlength="25" minlength="7">
            <button type="button" (click)="togglePasswordVisibility()" class="see">
              <i class="icon"
                [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
            </button>
            <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
          </mat-form-field>

          <button class="btn w-75" [disabled]="!loginForm.valid" (click)="onSubmit()">
            Увійти
          </button>
        </form>



        <p>Забули пароль?</p>


      </div>

    </div>

  </div>
</div>


<div *ngIf="statusMessage" class="status-message">
  <div><img class="img-statusMessage" src="../../../../assets/logo/Discussio (7).svg" alt="Logo"></div>{{ statusMessage
  }}
</div>
