@use "../../style/presets/" as *;

a {
  padding: 0.5em 1em;
}

h4{
  overflow: hidden;
}

.tel {
  border: none;
  color: black;
}


.utility-payments-container{
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  margin: auto;
}

.card{
  width: 100%;
  background-color: $color-gray-light;
  box-shadow: inset 0 10px 2px black, 10px 10px 20px black, inset 0 30px 0 black;
}

.two {
  height: 500px;
  margin-right: 50px;
  margin-top: 70%;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  border-radius: 10px;

  @keyframes slidein {
    from {
      margin-top: 70%;
    }

    to {
      margin-top: 0%;
    }
  }
}

.three {
  margin-top: 80%;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  @keyframes slidein {
    from {
      margin-top: 80%;
    }

    to {
      margin-top: 0%;
    }
  }
}

.card-body{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
}

span {
  transition: transform 1s;
}

.card-link{
  margin: 0;
  margin-bottom: 10px;
  color: $color-text;
  background-color: $color-gray-dark;
  display: flex;
  justify-content: space-between;
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-light;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid, .fa-regular {
      color: $color-accent;
      transform: translate(-230px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img{
  width: 100%;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.img-fluid{
  overflow: hidden;
}

.list-group {
  overflow: hidden;
}

.fa-solid, .fa-regular {
  color: $color-icon;
  font-size: 25px;
  transition: transform 1s;
}


.carousel-inner{
  border-radius: 10px;
}

