@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

.container-card {
  width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  @include s1-s3 {
    flex-direction: column-reverse;
    padding: 10px;
  }
}

.card-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  width: 100%;
  align-items: center;
  max-height: 60vh;
  overflow-y: auto;
}


.card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 150px;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover,
  :focus {
    transform: scale(1.05);
  }
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card-box {
  display: flex;
  align-items: stretch;
}

.card-name {
  display: flex;
}

.card-img-container {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover,
  :focus {
    width: 60%;
  }
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-social-link {
  font-size: 20px;
  display: flex;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin: 5px 15px;
  padding: 0;
}

.fab {
  font-size: 20px;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.btn {
  color: $color-text;
  height: 35px;
}

.title-group {
  width: 100%;
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.btn-group {
  display: flex;
}

p {
  line-height: 2em;
}

.link-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-white;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.card-wrapper.deleting {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.btn.active {
  background-color: $color-accent;
  color: white;
}

.btn-1 {
  width: 70px;
}

.card.selected {
  height: 300px;
  border: 1px solid $color-accent;
  box-shadow: 0 0 10px $color-accent;
}

.characteristics {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.characteristics-label {
  font-size: 16px;
}

.characteristics-group {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
}

.item-characteristics {
  font-size: 12px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-white;
}

.item-characteristics-price {
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}

.item {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 5px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}




