<!-- про меню -->
<div class="content-child">
  <div class="card-wrapper hide-mobile col-lg-6 col-md-6 col-sm-12 col-12">
    <app-uagree-step></app-uagree-step>
  </div>
  <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
    <div [@left1] class="card-content-static">
      <div class="card-group">
        <div class="flex-box-center t-c p-2 mt-2 w-100">
          <i class="fa-solid fa-handshake-simple"></i>
          <p class="t-lar-x bold mb-2">Меню Угоди Орендаря</p>
          <p class="t-min bold mb-2">Тут будуть угоди які вам пропонують або які вже ухвалені.</p>
          <p class="t-min">Наша платформа дозволяє легко та швидко створювати угоди між орендарем та орендодавцем всього за кілька
            хвилин. Згенерувати стандартні умови оренди нерухомого майна або додавати власні додаткові умови.
            Після створення угоди, вона направляється орендарю для розгляду та погодження, щоб він міг докладно з
            нею ознайомитись та прийняти рішення. Після погодження умов угоди, її можна легко роздрукувати та підписати
            на місці.</p>
        </div>

        <div class="btn-group mt-2">
          <button class="btn btn-navigation" [routerLink]="'/feedback'" [queryParams]="{ category: 'Угоди' }">
            <div class="t-med bold mr-2">Є ідея як зробити краще?</div>
            <i class="fa-regular fa-lightbulb"></i>
          </button>
        </div>

      </div>
      <div class="card-background">
        <img class="img" src="../../../../../assets/example-agree/man_and_door4.jpg" alt="">
      </div>
    </div>
  </div>
</div>
