<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="agreement-container" id="agreement-container" *ngIf="selectedAgreement">
    <div class="agree print-only">
      <div class="page">
        <div class="title-box m-2">
          <div class="title-group w-70">
            <div class="title-text">Додаток № 1 до Договору оренди {{selectedAgreement.flat.agreement_id}} нерухомого
              майна вiд {{selectedAgreement?.flat?.agreementDate | date}}</div>
            <div class="title">АКТ прийому-передачі житлового приміщення</div>
            <div class="title-text">Дата: <span class="accent"> {{selectedAgreement?.flat?.dateAgreeStart | date}}
              </span>
              <div class="title-text">Цей Акт складено до виконання Угоди оренди нерухомого майна укладеного між</div>
            </div>
          </div>

          <div class="title-group w-30">
            <div class="box">
              <img class="logo" src="{{path_logo}}" alt="logo">
              <div class="text">© Discussio. Угода</div>
            </div>
          </div>
        </div>

        <div class="flex-column border-top mb-2">
          <div class="wrapper-group border-bottom pb-1 mb-1">
            <div class="agree-wrapper ">
              <div class="text">Сторона орендодавця</div>
              <div class="text ">П.І.Б:<span class="accent">
                  {{ selectedAgreement?.flat?.owner_lastName }}{{ selectedAgreement?.flat?.owner_firstName }}
                  {{ selectedAgreement?.flat?.owner_surName }}</span>
              </div>
              <div class="text">User ID: <span class="text accent">{{ selectedAgreement?.flat?.owner_id }}</span>
              </div>
              <div class="text">Телефон:<span class="text accent">{{ selectedAgreement?.flat?.owner_tell }}</span>
              </div>
              <div class="text">Email:<span class="text accent">{{ selectedAgreement?.flat?.owner_email }}</span>
              </div>
            </div>
            <div class="agree-wrapper">
              <div class="text">Сторона орендаря</div>
              <div class="text ">П.І.Б:<span class="accent">
                  {{selectedAgreement?.flat?.subscriber_lastName }}{{selectedAgreement?.flat?.subscriber_firstName }}
                  {{selectedAgreement?.flat?.subscriber_surName}}</span>
              </div>
              <div class="text">User ID: <span class="text accent">{{ selectedAgreement?.flat?.subscriber_id }}</span>
              </div>
              <div class="text">Телефон:<span class="text accent">{{ selectedAgreement?.flat?.subscriber_tell }}</span>
              </div>
              <div class="text">Email:<span class="text accent">{{ selectedAgreement?.flat?.subscriber_email }}</span>
              </div>
            </div>
          </div>
          <div class="text"> Ми, що нижче підписалися, Орендодавець, з одного боку, і Орендар, з
            іншого боку, склали цей Акт про те, що
            відповідно до зазначеного вище Договору Орендодавець передав, а Орендар прийняв у тимчасове оплатне
            користування (оренду)
          </div>
          <div class="text">
            <span class="accent"
              *ngIf="selectedAgreement?.flat?.option_flat == 1 && selectedAgreement?.flat?.room == 0">будинок</span>
            <span class="accent"
              *ngIf="selectedAgreement?.flat?.option_flat == 2 && selectedAgreement?.flat?.room == 0">квартиру</span>
            <span class="accent"
              *ngIf="selectedAgreement?.flat?.room == 1 && selectedAgreement?.flat?.option_flat == 1">кімнату в
              будинку</span>
            <span class="accent"
              *ngIf="selectedAgreement?.flat?.room == 1 && selectedAgreement?.flat?.option_flat == 2">кімнату в
              квартирі</span>
            <span *ngIf="!selectedAgreement?.flat?.option_flat">___________________________</span>
            <span class="accent">ID оселі: {{ selectedAgreement?.flat?.flat_id }}</span>, площею:
            <span class="accent">{{selectedAgreement?.flat?.area}} м²</span>, об'єкт знаходиться за адресою:
            <span class="accent"> вулиця {{ selectedAgreement?.flat?.street }},
              будинок {{ selectedAgreement?.flat?.houseNumber }}, квартира
              {{ selectedAgreement?.flat?.apartment }}</span>
            Орендодавець передав Об'єкт нерухомості в користування в придатному для використання за призначенням стані.
            Орендар зобов'язується забезпечити збереження та повернути Орендодавцеві Об'єкт нерухомості в належному
            стані, з
            урахуванням нормального фізичного зносу.
            Момент передачі в користування Об'єкту нерухомості зафіксований вірно:
          </div>
          <div class="meter-container">

            <div class="meter-box p-2">
              <div class="meter_name">Лічильника електроенергії кВт :</div>
              <span class="meter_reading" *ngIf="selectedAct?.electro">{{selectedAct?.electro}} кВт.</span>
              <span *ngIf="!selectedAct?.electro" class="meter_reading"></span>
            </div>

            <div class="meter-box p-2">
              <div class="meter_name">Лічильника холодної води м³ :</div>
              <span class="meter_reading" *ngIf="selectedAct?.cold_water">{{selectedAct?.cold_water}} м³.</span>
              <span *ngIf="!selectedAct?.cold_water" class="meter_reading"></span>
            </div>

            <div class="meter-box p-2">
              <div class="meter_name">Лічильника гарячої води м³ :</div>
              <span class="meter_reading" *ngIf="selectedAct?.hot_water">{{selectedAct?.hot_water}}</span>
              <span *ngIf="!selectedAct?.hot_water" class="meter_reading"></span>
            </div>

            <div class="meter-box p-2">
              <div class="meter_name">Лічильника газу м³ :</div>
              <span class="meter_reading" *ngIf="selectedAct?.gas">{{selectedAct?.gas}} м³.</span>
              <span *ngIf="!selectedAct?.gas" class="meter_reading"></span>
            </div>

          </div>
        </div>

        <div class="container-box">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="m-2">
              <div class="text bold">Орендодавець:</div>
              <div class="input-box">
                <div class="text w-75"> {{selectedAgreement?.flat?.owner_lastName}}
                  {{selectedAgreement?.flat?.owner_firstName}} {{selectedAgreement?.flat?.owner_surName}}</div>
                <div class="signature w-25">підпис</div>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6 pb-5">
            <div class="m-2">
              <div class="text bold">Орендар:</div>

              <div class="input-box">
                <div class="text w-75"> {{selectedAgreement?.flat?.subscriber_lastName}}
                  {{selectedAgreement?.flat?.subscriber_firstName}} {{selectedAgreement?.flat?.subscriber_surName}}
                </div>
                <div class="signature w-25">підпис</div>
              </div>

            </div>
          </div>
        </div>
        <div class="page-number">Сторінка 1/2</div>
      </div>

      <div class="page pt-3">
        <div class="flex-column">

          <div class="title-group">
            <div class="title-text">Доповнення* до Додаток № 1 до Договору оренди
              {{selectedAgreement?.flat?.agreement_id}} нерухомого
              майна вiд {{selectedAgreement?.flat?.agreementDate | date}}</div>
            <div class="title-text">Список наповнення оселі, меблі/предмети/техніка.</div>
          </div>

          <div *ngIf="!this.flat_objects">
            <ul>
              <li>1.</li>
              <li>2.</li>
              <li>3.</li>
              <li>4.</li>
              <li>5.</li>
              <li>6.</li>
              <li>7.</li>
              <li>8.</li>
              <li>9.</li>
              <li>11.</li>
              <li>12.</li>
              <li>13.</li>
              <li>14.</li>
              <li>15.</li>
              <li>16.</li>
              <li>17.</li>
              <li>18.</li>
              <li>19.</li>
              <li>20.</li>
            </ul>

          </div>

          <div *ngIf="this.flat_objects" class="box-filling mt-3">
            <div *ngFor="let flat of flat_objects" class="card-filling m-2 p-1">
              <div class="card-name">{{ flat.name_filling }} {{ flat.number_filling }}шт.</div>
              <div class="card-body">
                <img class="icon" [src]="getIconUrl(flat.type_filling, flat.name_filling)" alt="icon">
                <div class="text-about">
                  Тип: <span class="accent">{{ flat.type_filling }}</span>
                  Стан: <span class="accent">{{ selectCondition[flat.condition_filling] }}</span>
                  <span *ngIf="flat.about_filling"> Опис: {{ flat.about_filling }}</span>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="container-box">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="m-2">
              <div class="text bold">Орендодавець:</div>
              <div class="input-box">
                <div class="text w-75"> {{selectedAgreement?.flat?.owner_lastName}}
                  {{selectedAgreement?.flat?.owner_firstName}} {{selectedAgreement?.flat?.owner_surName}}</div>
                <div class="signature w-25">підпис</div>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6 pb-5">
            <div class="m-2">
              <div class="text bold">Орендар:</div>

              <div class="input-box">
                <div class="text w-75"> {{selectedAgreement?.flat?.subscriber_lastName}}
                  {{selectedAgreement?.flat?.subscriber_firstName}} {{selectedAgreement?.flat?.subscriber_surName}}
                </div>
                <div class="signature w-25">підпис</div>
              </div>

            </div>
          </div>
        </div>
        <div class="page-number">Сторінка 2/2</div>
      </div>
      <div class="btn-group mt-2 w-100">

        <button class="btn" (click)="goBack()">
          <i class="fa-solid fa-arrow-left"></i> Назад
        </button>

        <button class="btn" (click)="print()">
          <i class="fa-regular fa-file-pdf"></i>Друкувати
        </button>

      </div>
    </div>
  </div>

</ng-template>
