<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="content-child">

    <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
      <div [@top1] class="card-animation">

        <div class="sticky-top bg-white t-c" *ngIf="isMobile">
          <div class="flex-column">

            <div class="t-lar-xx mt-2 ">Перегляд мого профілю</div>

            <div class="btn-group p-2">
              <button [ngClass]="{ 'active': indexPage == 0}" class="btn" (click)="indexPage = 0">
                <div class="" *ngIf="indexPage === 0">В ПОШУКУ ОРЕНДАРЯ</div>
                <i class="fa-solid fa-magnifying-glass p-2"></i>
              </button>
              <button [ngClass]="{ 'active': indexPage == 1}" class="btn" (click)="indexPage = 1">
                <div class="" *ngIf="indexPage === 1">В ДИСКУСІЇ</div>
                <i class="fa-solid fa-person-walking-luggage p-2"></i>
              </button>
            </div>

            <div class="flex-column mb-2" *ngIf="indexPage === 0">
              <p class="t-med bold mt-2">Так ваш профіль виглядає в пошуку орендаря.</p>
              <p class="t-min">Ми не показуємо ваші контакти, соціальні мережі та по батькові, до поки ви самі не
                ухвалите оселю до Дискусії.</p>
            </div>
            <div class="flex-column" *ngIf="indexPage === 1">
              <p class="t-med bold mt-2">Так ваш профіль виглядає в Дискусії.</p>
              <p class="t-min">А також якщо ви підписуєтесь на оселю то ваша інформація відображається власнику
                оселі як в Дискусії.</p>
            </div>



          </div>
        </div>

        <div [@top1] class="card-content"
          *ngIf="indexPage === 0 && userInfo.agree_search !== 0 && userInfo.agree_search !== null">
          <div class="status-container">
            <div class="status-box m-2">
              <div class="status-value" *ngIf="userInfo.agree_search === 1">Активне</div>
              <div class="status-value" *ngIf="userInfo.house === 1">Б</div>
              <div class="status-value" *ngIf="userInfo.flat === 1">Кв</div>
              <div class="status-value" *ngIf="userInfo.room === 1">К</div>
              <div class="status-value" *ngIf="userInfo.woman === 1">W</div>
              <div class="status-value" *ngIf="userInfo.man === 1">M</div>
              <div class="status-value" *ngIf="userInfo.students === 1">S</div>
              <div class="status-value" *ngIf="userInfo.family === 1">F</div>
            </div>
            <div class="status-hover">
              <div class="status-hover-label">Допомога</div>
              <div class="status-hover-text">
                <ul
                  *ngIf="userInfo.woman === 1 || userInfo.man === 1 || userInfo.students === 1 || userInfo.family === 1">
                  Пошук оселі для:
                  <li *ngIf="userInfo.woman === 1" class="status-hover-li">
                    <div class="status-value">W</div> - жінки
                  </li>
                  <li *ngIf="userInfo.man === 1" class="status-hover-li">
                    <div class="status-value">M</div> - чоловіка
                  </li>
                  <li *ngIf="userInfo.students === 1" class="status-hover-li">
                    <div class="status-value">S</div> - студента
                  </li>
                  <li *ngIf="userInfo.family === 1" class="status-hover-li">
                    <div class="status-value">F</div> - сім'ї
                  </li>
                </ul>

                <ul *ngIf="userInfo.house === 1 || userInfo.flat === 1 || userInfo.room === 1">
                  Пошук по типу оселі:
                  <li *ngIf="userInfo.house === 1" class="status-hover-li">
                    <div class="status-value">Б</div> - Будинок
                  </li>
                  <li *ngIf="userInfo.flat === 1" class="status-hover-li">
                    <div class="status-value">Кв</div> - Квартира
                  </li>
                  <li *ngIf="userInfo.room === 1" class="status-hover-li">
                    <div class="status-value">К</div> - Підійде кімната
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="container-img">
            <button class="btn geer" [routerLink]="'/looking'">
              <i class="fa-solid fa-gear" matTooltip="Налаштувати профіль орендаря"></i>
            </button>
            <div class="wrapper-img">

              <!-- якщо фото немає -->
              <ng-container *ngIf="!userImg || userImg === 'user_default.svg'">
                <div class="img-fluid">
                  <img src="../../../../assets/user_default.svg" alt="img">
                </div>
              </ng-container>

              <!-- якщо фото користувача є чекаємо його завантаження і показуємо спінер -->
              <ng-container *ngIf="userImg && userImg !== 'user_default.svg' && !isLoadingImg">
                <div class="img-fluid">
                  <div class="container-loader-mini">
                    <mat-spinner color="warn"></mat-spinner>
                    <img [src]="serverPath + pathPhotoUser + userImg" alt="img" (load)="isLoadingImg = true" hidden>
                    <div class="t-min gray mt-2">Завантаження фото</div>
                  </div>
                </div>
              </ng-container>

              <!-- фото користувача -->
              <ng-container *ngIf="userImg && userImg !== 'user_default.svg' && isLoadingImg">
                <div class="img-fluid">
                  <img [src]="serverPath + pathPhotoUser + userImg" alt="img">
                </div>
              </ng-container>
              <div class="panel-container">
                <div class="wrapper">

                  <div class="flex-column">
                    <div mat-raised-button class="flex-column" *ngIf="userInfo.firstName">
                      <div class="t-lar-xx bold dark">{{ userInfo.firstName }}</div>
                    </div>
                    <div mat-raised-button class="flex-column" *ngIf="userInfo.lastName">
                      <div class="t-lar-xx bold dark">{{ userInfo.lastName }}</div>
                    </div>
                  </div>

                  <button disabled class="btn-panel">
                    <div class="panel-icon">
                      <div class="t-lar-xx bold">{{ratingTenant}}<i class="fa-regular fa-star"></i></div>
                    </div>
                    <div class="t-min">Рейтинг</div>
                  </button>

                  <button class="btn-panel" disabled>
                    <div class="panel-icon">
                      <i class="fa-solid fa-masks-theater"></i>
                    </div>
                    <div class="t-min">Скарга</div>
                  </button>

                </div>
              </div>

            </div>
          </div>

          <div class="card-btn-container jc-sa w-100">
            <div class="item-box">
              <button disabled mat-raised-button class="btn-sub link">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>

            <div class="item-box m-1">
              <button disabled mat-raised-button class="btn-sub link">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
            </div>

            <div class="item-box m-1">
              <button disabled mat-raised-button class="btn-sub link">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>
          </div>

          <div class="p-2">

            <div class="flex-box jc-sa w-100">

              <div class="item-box p-2" *ngIf="userInfo.region">
                <div mat-raised-button class="flex-column">
                  <div class="t-lar bold">{{ userInfo.region }}</div>
                  <div class="t-min">Область</div>
                </div>
              </div>

              <div class="item-box p-2" *ngIf="userInfo.city">
                <div mat-raised-button class="flex-column">
                  <div class="t-lar bold">{{ userInfo.city }}</div>
                  <div class="t-min">Місто</div>
                </div>
              </div>

              <div class="item-box" *ngIf="userInfo.price_of">
                <div mat-raised-button class="flex-column">
                  <div class="t-lar bold accent">{{ userInfo.price_of }}₴</div>
                  <div class="t-min">Бюджет від</div>
                </div>
              </div>

              <div class="item-box" *ngIf="userInfo.price_to">
                <div mat-raised-button class="flex-column">
                  <div class="t-lar bold accent">{{ userInfo.price_to }}₴</div>
                  <div class="t-min">Бюджет до</div>
                </div>
              </div>

            </div>

            <div class="flex-box">

              <div class="item-box p-2" *ngIf="userInfo.purpose_rent">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar bold">{{ purpose[userInfo.purpose_rent] }}</div>
                  <div class="t-min bg-w">Мета оренди</div>
                </div>
              </div>

              <div class="item-box  p-2" *ngIf="totalDays">
                <div mat-raised-button class="param-g flex-column">
                  <div class="bg-g t-lar bold">{{totalDays}}</div>
                  <div class="t-min bg-w">Днів</div>
                </div>
              </div>

            </div>

            <div class="param-box" *ngIf="userInfo.region || userInfo.city">
              <div class="param-label">Шукаю оселю в :</div>
              <div class="param-group">
                <div class="param-field" *ngIf="userInfo.region">Область :
                  <span class="param-value">{{ userInfo.region }}</span>
                </div>
                <div class="param-field" *ngIf="userInfo.city">Місто :
                  <span class="param-value">{{ userInfo.city }}</span>
                </div>
              </div>
            </div>

            <div class="param-box">
              <div class="param-label">Мої пошукові параметри оселі:</div>

              <div class="param-group">

                <div class="param-field">
                  <div *ngIf="userInfo.area_of || userInfo.area_to"> Площа:
                    <span class="param-value" *ngIf="userInfo.area_of">від {{ userInfo.area_of || '?' }}м²</span>
                    <span class="param-value" *ngIf="userInfo.area_to">до {{ userInfo.area_to || '?' }}м²</span>
                  </div>
                  <div *ngIf="userInfo.area_of === '' && userInfo.area_to === ''">Площа: <span class="param-value">
                      Неважливо </span></div>
                </div>

                <div class="param-field" *ngIf="userInfo.rooms_of || userInfo.rooms_to">
                  <div *ngIf="userInfo.rooms_of !== 0 || userInfo.rooms_to !== 6 "> Кіл. кімнат:
                    <span class="param-value" *ngIf="userInfo.rooms_of !== 0 && userInfo.rooms_of !== null">від {{
                      userInfo.rooms_of}}</span>
                    <span class="param-value" *ngIf="userInfo.rooms_to !== 6">до {{ userInfo.rooms_to}}</span>
                  </div>
                  <div *ngIf="userInfo.rooms_of === 0 && userInfo.rooms_to === 6"> Кіл. кімнат: неважливо </div>
                </div>

                <div class="param-field" *ngIf="userInfo.repair_status">Стан оселі:
                  <span class="param-value">{{ userInfo.repair_status }}</span>
                </div>

                <div class="param-field" *ngIf="userInfo.balcony">
                  Тип балкону:<span class="param-value">{{ userInfo.balcony }}</span> </div>
              </div>
            </div>

            <div class="param-box"
              *ngIf="userInfo.distance_metro || userInfo.distance_stop || userInfo.distance_shop || userInfo.distance_green || userInfo.distance_parking">
              <div class="param-label">Інфраструктура в доступі:</div>

              <div class="param-group">
                <div class="param-field" *ngIf="userInfo.distance_metro !== 0 && userInfo.distance_metro !== null">
                  Метро до:<span class="param-value">{{ aboutDistance[userInfo.distance_metro] }}</span> </div>
                <div class="param-field" *ngIf="userInfo.distance_stop !== 0 && userInfo.distance_stop !== null">
                  Зупинка до:<span class="param-value">{{ aboutDistance[userInfo.distance_stop] }}</span> </div>
                <div class="param-field" *ngIf="userInfo.distance_shop !== 0 && userInfo.distance_shop !== null">
                  Маркет до:<span class="param-value">{{ aboutDistance[userInfo.distance_shop] }}</span> </div>
                <div class="param-field" *ngIf="userInfo.distance_green !== 0 && userInfo.distance_green !== null">
                  Парк до:<span class="param-value">{{ aboutDistance[userInfo.distance_green] }}</span> </div>
                <div class="param-field" *ngIf="userInfo.distance_parking !== 0 && userInfo.distance_parking !== null">
                  Паркінг:<span class="param-value">{{ aboutDistance[userInfo.distance_parking] }}</span> </div>
              </div>
            </div>

            <div class="param-box" *ngIf="userInfo.bunker || userInfo.animals || userInfo.purpose_rent">
              <div class="param-label">Особливості:</div>
              <div class="param-group">

                <div class="param-field" *ngIf="userInfo.purpose_rent">
                  Мета оренди:<span class="param-value">{{ purpose[userInfo.purpose_rent] }}</span> </div>

                <div class="param-field" *ngIf="userInfo.bunker">
                  Наявність укриття:<span class="param-value">{{ userInfo.bunker }}</span> </div>

                <div class="param-field" *ngIf="userInfo.animals">
                  <div *ngIf="userInfo.animals !== 'Неважливо'">
                    Домашні улюбленці: <span class="param-value">{{ animals[userInfo.animals] }} </span> </div>
                  <div *ngIf="userInfo.animals === 'Неважливо'">Домашні улюбленці: <span class="param-value">
                      Наявність чи відсутність тварин не вказано.</span></div>
                </div>

              </div>
            </div>

            <div class="param-box" *ngIf="userInfo.flat || userInfo.house || userInfo.room">
              <div class="param-label">Розглядаю тип оселі:</div>
              <div class="param-group">
                <div class="param-field" *ngIf="userInfo.flat && userInfo.flat !== null"><span
                    class="param-value">Квартира</span> </div>
                <div class="param-field" *ngIf="userInfo.house && userInfo.house !== null"><span
                    class="param-value">Будинок</span> </div>
                <div class="param-field" *ngIf="userInfo.room && userInfo.room !== null"><span
                    class="param-value">Кімната</span> </div>
              </div>
            </div>

            <div class="param-box" *ngIf="userInfo.room !== 0">
              <div class="param-label">Розглядаю сусіда по оселі:</div>
              <div class="param-group">
                <div class="param-field" *ngIf="userInfo.looking_man">
                  <span class="param-value">Чоловік</span>
                </div>
                <div class="param-field" *ngIf="userInfo.looking_woman"><span class="param-value">Жінка</span> </div>
                <div class="param-field" *ngIf="!userInfo.looking_woman && !userInfo.looking_man"><span
                    class="param-value">Неважливо який сусід по оселі</span> </div>
              </div>
            </div>

            <div class="param-box" *ngIf="userInfo.years || userInfo.mounths || userInfo.weeks || userInfo.days">
              <div class="param-label">Орієнтовний термін оренди:</div>
              <div class="param-group">

                <div class="param-field" *ngIf="userInfo.years && userInfo.years !== null">Роки:<span
                    class="param-value">{{ userInfo.years }}</span></div>

                <div class="param-field" *ngIf="userInfo.mounths && userInfo.mounths !== null">Місяці:
                  <span class="param-value">{{ userInfo.mounths }}</span>
                </div>

                <div class="param-field" *ngIf="userInfo.weeks && userInfo.weeks !== null">Тижні:<span
                    class="param-value">{{ userInfo.weeks }}</span></div>

                <div class="param-field" *ngIf="userInfo.days && userInfo.days !== null">Дні:<span
                    class="param-value">{{ userInfo.days }}</span></div>
              </div>
            </div>

            <div class="param-box" *ngIf="userInfo.about">
              <div class="param-label">Додаткова інформація:</div>
              <div class="param-field">
                <span class="param-value">{{userInfo.about}}</span>
              </div>
            </div>

          </div>
          <div class="btn-group p-2" *ngIf="isMobile">
            <button class="btn active" [routerLink]="'/user/info'">Назад</button>
          </div>
        </div>

        <div [@top1] class="card-content al-c jc-c" *ngIf="indexPage === 0 && !userInfo.agree_search">
          <i class="fa-solid fa-person-hiking t-c accent"></i>
          <p class="t-lar accent bold t-c">"Профіль Орендаря" <br> Вимкнено</p>
          <div class="flex-group">
            <button class="link-t" [routerLink]="'/looking'">
              <span class="m-2">Налаштувати</span><i class="fa-solid fa-gear"></i>
            </button>
          </div>
          <p class="t-med gray t-c mt-3">Тут буде інформація <br> про параметри пошуку
            оселі, яку ви <br> заповните та активуєте в <br> "Профілі Орендаря".</p>

          <div class="btn-group p-2" *ngIf="isMobile">
            <button class="btn active" [routerLink]="'/user/info'">Назад</button>
          </div>
        </div>

        <div [@top1] class="card-content" *ngIf="indexPage === 1">

          <div class="status-container m-2">
            <div class="status-box">
              <div class="status-value" *ngIf="userInfo.agree_search === 1">Активне</div>
              <div class="status-value" *ngIf="userInfo.house === 1">Б</div>
              <div class="status-value" *ngIf="userInfo.flat === 1">Кв</div>
              <div class="status-value" *ngIf="userInfo.room === 1">К</div>
              <div class="status-value" *ngIf="userInfo.woman === 1">W</div>
              <div class="status-value" *ngIf="userInfo.man === 1">M</div>
              <div class="status-value" *ngIf="userInfo.students === 1">S</div>
              <div class="status-value" *ngIf="userInfo.family === 1">F</div>
            </div>
            <div class="status-hover">
              <div class="status-hover-label">Допомога</div>
              <div class="status-hover-text">
                <ul
                  *ngIf="userInfo.woman === 1 || userInfo.man === 1 || userInfo.students === 1 || userInfo.family === 1">
                  Пошук оселі для:
                  <li *ngIf="userInfo.woman === 1" class="status-hover-li">
                    <div class="status-value">W</div> - жінки
                  </li>
                  <li *ngIf="userInfo.man === 1" class="status-hover-li">
                    <div class="status-value">M</div> - чоловіка
                  </li>
                  <li *ngIf="userInfo.students === 1" class="status-hover-li">
                    <div class="status-value">S</div> - студента
                  </li>
                  <li *ngIf="userInfo.family === 1" class="status-hover-li">
                    <div class="status-value">F</div> - сім'ї
                  </li>
                </ul>

                <ul *ngIf="userInfo.house === 1 || userInfo.flat === 1 || userInfo.room === 1">
                  Пошук по типу оселі:
                  <li *ngIf="userInfo.house === 1" class="status-hover-li">
                    <div class="status-value">Б</div> - Будинок
                  </li>
                  <li *ngIf="userInfo.flat === 1" class="status-hover-li">
                    <div class="status-value">Кв</div> - Квартира
                  </li>
                  <li *ngIf="userInfo.room === 1" class="status-hover-li">
                    <div class="status-value">К</div> - Підійде кімната
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="copyMessage-box" *ngIf="isCopiedMessage">
            <div class="copyMessage-text">{{isCopiedMessage}}</div>
            <i class="fa-regular fa-copy"></i>
            <div class="t-lar dark bold">Discussio</div>
          </div>

          <div class="container-img">
            <button class="btn geer" [routerLink]="'/looking'">
              <i class="fa-solid fa-gear" matTooltip="Налаштувати профіль орендаря"></i>
            </button>
            <div class="wrapper-img">

              <!-- якщо фото немає -->
              <ng-container *ngIf="!userImg || userImg === 'user_default.svg'">
                <div class="img-fluid">
                  <img src="../../../../assets/user_default.svg" alt="img">
                </div>
              </ng-container>

              <!-- якщо фото користувача є чекаємо його завантаження і показуємо спінер -->
              <ng-container *ngIf="userImg && userImg !== 'user_default.svg' && !isLoadingImg">
                <div class="img-fluid">
                  <div class="container-loader-mini">
                    <mat-spinner color="warn"></mat-spinner>
                    <img [src]="serverPath + pathPhotoUser + userImg" alt="img" (load)="isLoadingImg = true" hidden>
                    <div class="t-min gray mt-2">Завантаження фото</div>
                  </div>
                </div>
              </ng-container>

              <!-- фото користувача -->
              <ng-container *ngIf="userImg && userImg !== 'user_default.svg' && isLoadingImg">
                <div class="img-fluid">
                  <img [src]="serverPath + pathPhotoUser + userImg" alt="img">
                </div>
              </ng-container>

              <div class="panel-container">
                <div class="caruesel-container w-100">
                  <div class="carousel w-100">
                    <div class="slide">
                      <button class="slide-item" (click)="copyId()">
                        <div class="slide-item-box">
                          <div class="bold">{{userInfo.user_id}}</div>
                          <i class="fa-solid fa-fingerprint pl-2"></i>
                        </div>
                        <div class="slide-name">ID<br>орендаря</div>
                      </button>

                      <button class="slide-item">
                        <div class="slide-item-box">
                          <div class="bold">{{ratingTenant}}</div>
                          <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="slide-name">Рейтинг <br> орендаря</div>
                      </button>

                      <button class="slide-item" (click)="copyMail()" *ngIf="userInfo.mail">
                        <i class="fa-solid fa-at"></i>
                        <div class="slide-name">Пошта</div>
                      </button>

                      <button class="slide-item" (click)="copyTell()" *ngIf="userInfo.tell">
                        <i class="fa-solid fa-phone"></i>
                        <div class="slide-name">Номер</div>
                      </button>

                      <a class="slide-item" href="https://www.instagram.com/{{  userInfo.instagram }}"
                        *ngIf="userInfo.instagram">
                        <i class="fa-brands fa-instagram"></i>
                        <div class="slide-name">instagram</div>
                      </a>

                      <a class="slide-item" href="https://www.facebook.com//{{  userInfo.facebook }}"
                        *ngIf="userInfo.facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <div class="slide-name">facebook</div>
                      </a>

                      <a class="slide-item" href="https://t.me/{{  userInfo.telegram }}" *ngIf="userInfo.telegram">
                        <i class="fa-brands fa-telegram"></i>
                        <div class="slide-name">telegram</div>
                      </a>

                      <button class="slide-item" (click)="copyViber()" *ngIf="userInfo.viber">
                        <i class="fa-brands fa-viber"></i>
                        <div class="slide-name">viber</div>
                      </button>

                    </div>

                    <div class="slide">
                      <button class="slide-item" (click)="copyId()">
                        <div class="slide-item-box">
                          <div class="bold">{{userInfo.user_id}}</div>
                          <i class="fa-solid fa-fingerprint pl-2"></i>
                        </div>
                        <div class="slide-name">ID<br>орендаря</div>
                      </button>

                      <button class="slide-item">
                        <div class="slide-item-box">
                          <div class="bold">{{ratingTenant}}</div>
                          <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="slide-name">Рейтинг <br> орендаря</div>
                      </button>

                      <button class="slide-item" (click)="copyMail()" *ngIf="userInfo.mail">
                        <i class="fa-solid fa-at"></i>
                        <div class="slide-name">Пошта</div>
                      </button>

                      <button class="slide-item" (click)="copyTell()" *ngIf="userInfo.tell">
                        <i class="fa-solid fa-phone"></i>
                        <div class="slide-name">Номер</div>
                      </button>

                      <a class="slide-item" href="https://www.instagram.com/{{  userInfo.instagram }}"
                        *ngIf="userInfo.instagram">
                        <i class="fa-brands fa-instagram"></i>
                        <div class="slide-name">instagram</div>
                      </a>

                      <a class="slide-item" href="https://www.facebook.com//{{  userInfo.facebook }}"
                        *ngIf="userInfo.facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <div class="slide-name">facebook</div>
                      </a>

                      <a class="slide-item" href="https://t.me/{{  userInfo.telegram }}" *ngIf="userInfo.telegram">
                        <i class="fa-brands fa-telegram"></i>
                        <div class="slide-name">telegram</div>
                      </a>

                      <button class="slide-item" (click)="copyViber()" *ngIf="userInfo.viber">
                        <i class="fa-brands fa-viber"></i>
                        <div class="slide-name">viber</div>
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="flex-box">
            <div class="flex-column p-2">
              <div class="t-lar bold">{{ userInfo.lastName }}</div>
              <div class="t-min gray">Прізвище</div>
            </div>
            <div class="flex-column p-2">
              <div class="t-lar bold">{{ userInfo.firstName }}</div>
              <div class="t-min gray">ім'я</div>
            </div>
            <div class="flex-column p-2">
              <div class="t-lar bold">{{ userInfo.surName }}</div>
              <div class="t-min gray">По батькові</div>
            </div>
          </div>

          <nav class="navbar">

            <button class="link-menu" disabled>
              <div class="flex-column pl-4 w-80">
                <p class="link-menu-t1">Відправити</p>
                <p class="link-menu-t2">Скаргу</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-masks-theater"></i></div>
            </button>

            <button class="link-menu" disabled>
              <div class="flex-column pl-4 w-80">
                <p class="link-menu-t1">Видалити</p>
                <p class="link-menu-t2">Дискусію</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-user-xmark"></i></div>
            </button>

            <button class="link-menu" disabled>
              <div class="flex-column pl-4 w-80">
                <p class="link-menu-t1">Створити</p>
                <p class="link-menu-t2">Угоду</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-file-contract"></i></div>
            </button>

            <button class="link-menu" disabled>
              <div class="flex-column pl-4 w-80">
                <p class="link-menu-t1">Створити</p>
                <p class="link-menu-t2">Чат</p>
              </div>
              <div class="link-icon w-20"><i class="fa-solid fa-message"></i></div>
            </button>

          </nav>

          <div class="param-box" *ngIf="userInfo.region || userInfo.city">
            <div class="t-lar gray t-c p-2">Пошукові параметри
              <p class="t-med">за якими орендарь шукає оселю</p>
            </div>
            <div class="param-label">Локація, шукаю оселю в :</div>
            <div class="param-group p-1">
              <div class="param-field" *ngIf="userInfo.region">Область :
                <span class="param-value">{{ userInfo.region }}</span>
              </div>
              <div class="param-field" *ngIf="userInfo.city">Місто :
                <span class="param-value">{{ userInfo.city }}</span>
              </div>
            </div>
          </div>

          <div class="param-box" *ngIf="userInfo.price_of || userInfo.price_to">
            <div class="param-label">Бюджет в грн:</div>
            <div class="param-group p-1">
              <div class="param-field" *ngIf="userInfo.price_of">Від :
                <span class="param-value">{{ userInfo.price_of }} ₴</span>
              </div>
              <div class="param-field" *ngIf="userInfo.price_to">До:
                <span class="param-value">{{ userInfo.price_to }} ₴</span>
              </div>
            </div>
          </div>

          <div class="param-box"
            *ngIf="userInfo.area_of || userInfo.area_to || userInfo.rooms_of || userInfo.rooms_to || userInfo.repair_status || userInfo.balcony">
            <div class="param-label">Параметри оселі:</div>

            <div class="param-group p-1">

              <div class="param-field" *ngIf="userInfo.area_of || userInfo.area_to">
                <div> Площа:
                  <span class="param-value" *ngIf="userInfo.area_of !== '' ">
                    від {{ userInfo.area_of }}м²</span>
                  <span class="param-value" *ngIf="userInfo.area_to !== '' ">
                    до {{ userInfo.area_to }}м²</span>
                  <span class="param-value" *ngIf="userInfo.area_of === '' && userInfo.area_to === ''">
                    Неважливо </span>
                </div>
              </div>

              <div class="param-field" *ngIf="userInfo.rooms_of || userInfo.rooms_to">
                <div *ngIf="userInfo.rooms_of !== 0 || userInfo.rooms_to !== 6 "> Кіл. кімнат:
                  <span class="param-value" *ngIf="userInfo.rooms_of !== 0 && userInfo.rooms_of !== null">
                    від {{ userInfo.rooms_of}}</span>
                  <span class="param-value" *ngIf="userInfo.rooms_to !== 6">до {{ userInfo.rooms_to}}</span>
                </div>
                <div *ngIf="userInfo.rooms_of === 0 && userInfo.rooms_to === 6"> Кіл. кімнат: неважливо </div>
              </div>

              <div class="param-field" *ngIf="userInfo.repair_status">Стан оселі:
                <span class="param-value">{{ userInfo.repair_status }}</span>
              </div>

              <div class="param-field" *ngIf="userInfo.balcony">
                Тип балкону:<span class="param-value">{{ userInfo.balcony }}</span> </div>
            </div>
          </div>

          <div class="param-box"
            *ngIf="userInfo.distance_metro || userInfo.distance_stop || userInfo.distance_shop || userInfo.distance_green || userInfo.distance_parking">
            <div class="param-label">Інфраструктура в доступі:</div>

            <div class="param-group p-1">
              <div class="param-field" *ngIf="userInfo.distance_metro !== 0 && userInfo.distance_metro !== null">
                Метро до:<span class="param-value">{{ aboutDistance[userInfo.distance_metro] }}</span> </div>
              <div class="param-field" *ngIf="userInfo.distance_stop !== 0 && userInfo.distance_stop !== null">
                Зупинка до:<span class="param-value">{{ aboutDistance[userInfo.distance_stop] }}</span> </div>
              <div class="param-field" *ngIf="userInfo.distance_shop !== 0 && userInfo.distance_shop !== null">
                Маркет до:<span class="param-value">{{ aboutDistance[userInfo.distance_shop] }}</span> </div>
              <div class="param-field" *ngIf="userInfo.distance_green !== 0 && userInfo.distance_green !== null">
                Парк до:<span class="param-value">{{ aboutDistance[userInfo.distance_green] }}</span> </div>
              <div class="param-field" *ngIf="userInfo.distance_parking !== 0 && userInfo.distance_parking !== null">
                Паркінг:<span class="param-value">{{ aboutDistance[userInfo.distance_parking] }}</span> </div>
            </div>
          </div>

          <div class="param-box" *ngIf="userInfo.bunker || userInfo.animals || userInfo.purpose_rent">
            <div class="param-label">Особливості:</div>
            <div class="param-group p-1">

              <div class="param-field" *ngIf="userInfo.purpose_rent">
                Мета оренди:<span class="param-value">{{ purpose[userInfo.purpose_rent] }}</span> </div>

              <div class="param-field" *ngIf="userInfo.bunker">
                Наявність укриття:<span class="param-value">{{ userInfo.bunker }}</span> </div>

              <div class="param-field" *ngIf="userInfo.animals">
                <div *ngIf="userInfo.animals !== 'Неважливо'">
                  Домашні улюбленці: <span class="param-value">{{ animals[userInfo.animals] }} </span> </div>
                <div *ngIf="userInfo.animals === 'Неважливо'">Домашні улюбленці: <span class="param-value">
                    Наявність чи відсутність тварин не вказано.</span></div>
              </div>

            </div>
          </div>

          <div class="param-box" *ngIf="userInfo.flat || userInfo.house || userInfo.room">
            <div class="param-label">Розглядаю тип оселі:</div>
            <div class="param-group p-1">
              <div class="param-field" *ngIf="userInfo.flat && userInfo.flat !== null"><span
                  class="param-value">Квартира</span> </div>
              <div class="param-field" *ngIf="userInfo.house && userInfo.house !== null"><span
                  class="param-value">Будинок</span> </div>
              <div class="param-field" *ngIf="userInfo.room && userInfo.room !== null"><span
                  class="param-value">Кімната</span> </div>
            </div>
          </div>

          <div class="param-box" *ngIf="userInfo.room && userInfo.room !== 0">
            <div class="param-label">Розглядаю сусіда по оселі:</div>
            <div class="param-group p-1">
              <div class="param-field" *ngIf="userInfo.looking_man">
                <span class="param-value">Чоловік</span>
              </div>
              <div class="param-field" *ngIf="userInfo.looking_woman"><span class="param-value">Жінка</span>
              </div>
              <div class="param-field" *ngIf="!userInfo.looking_woman && !userInfo.looking_man"><span
                  class="param-value">Неважливо який сусід по оселі</span> </div>
            </div>
          </div>

          <div class="param-box" *ngIf="userInfo.years || userInfo.mounths || userInfo.weeks || userInfo.days">
            <div class="param-label">Орієнтовний термін оренди:</div>
            <div class="param-group p-1">

              <div class="param-field" *ngIf="userInfo.years && userInfo.years !== null">Роки:<span
                  class="param-value">{{ userInfo.years }}</span></div>

              <div class="param-field" *ngIf="userInfo.mounths && userInfo.mounths !== null">Місяці:
                <span class="param-value">{{ userInfo.mounths }}</span>
              </div>

              <div class="param-field" *ngIf="userInfo.weeks && userInfo.weeks !== null">Тижні:<span
                  class="param-value">{{ userInfo.weeks }}</span></div>

              <div class="param-field" *ngIf="userInfo.days && userInfo.days !== null">Дні:<span class="param-value">{{
                  userInfo.days }}</span></div>
            </div>
          </div>

          <div class="p-2" *ngIf="userInfo.about">
            <div class="t-lar dark bold">Додаткова інформація:</div>
            <div class="t-min ">{{userInfo.about}}</div>
          </div>

          <div class="btn-group p-2" *ngIf="isMobile">
            <button class="btn active" [routerLink]="'/user/info'">Назад</button>
          </div>

        </div>
      </div>
    </div>

    <div class="card-wrapper col-lg-5 col-md-5 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="card-animation bg-none" [@swichCard]>
        <div class="card-content t-c p-2">
          <div class="flex-column">

            <div class="t-lar-xx mt-2 ">Перегляд мого профілю</div>

            <div class="btn-group p-2">
              <button [ngClass]="{ 'active': indexPage == 0}" class="btn" (click)="indexPage = 0">
                <div class="" *ngIf="indexPage === 0">В ПОШУКУ ОРЕНДАРЯ</div>
                <i class="fa-solid fa-magnifying-glass p-2"></i>
              </button>
              <button [ngClass]="{ 'active': indexPage == 1}" class="btn" (click)="indexPage = 1">
                <div class="" *ngIf="indexPage === 1">В ДИСКУСІЇ</div>
                <i class="fa-solid fa-person-walking-luggage p-2"></i>
              </button>
            </div>

            <div class="flex-column mb-2" *ngIf="indexPage === 0">
              <p class="t-med bold mt-2">Так ваш профіль виглядає в пошуку орендаря.</p>
              <p class="t-min">Ми не показуємо ваші контакти, соціальні мережі та по батькові, до поки ви самі не
                ухвалите оселю до Дискусії.</p>
            </div>
            <div class="flex-column" *ngIf="indexPage === 1">
              <p class="t-med bold mt-2">Так ваш профіль виглядає в Дискусії.</p>
              <p class="t-min">А також якщо ви підписуєтесь на оселю то ваша інформація відображається власнику
                оселі як в Дискусії.</p>
            </div>

            <div class="btn-group p-2">
              <button class="btn active" [routerLink]="'/user/info'">Назад</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
