@use "../presets/" as *;
@use "../mixins/" as *;
@use "../shared.scss" as *;



.item-box {
  @include flex-box;
  @include box-shadow;
  width: 95%;
  justify-content: flex-start;
  border-radius: 20px;
  overflow: hidden;
  height: 100px;
  margin: 5px;

  .link-t {
    @include flex-box;
    @include box-shadow;
    border: none;
    height: 100%;
    color: $color-white;
    background-color: $color-accent;
    .fa-solid {
      color: $color-white;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.791));
    }
  }

  .link-t:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: not-allowed;
    color: #929292;
    .fa-solid {
      color: #929292;
    }
  }

  .item-d {
    @include flex-box-column;
    margin: 0;
  }
}

.container-card {
  @include flex-box-column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

h3 {
  text-align: center;
}

ul {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
}

li {
  padding: 3px;
}

.t-description {
  font-size: 12px;
}

.img-container {
  @include flex-box;
  position: relative;

  .img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    @include box-shadow;
  }

  .img2 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .blur {
    border-radius: 50%;
    position: absolute;
    top: -6;
    left: -6;
    height: 202px;
    width: 202px;
    z-index: 20;
    // border: 5px solid  $color-primary;
    box-shadow: inset 0px 0px 30px 40px $color-primary;
    // box-shadow: inset 30px 30px 30px $color-primary;
    @include s1-s3 {
      box-shadow: inset 0px 0px 30px 40px $color-white;
    }
  }
}

.flex-box-row {
  align-items: center;
}

// .flex-box {
//   justify-content: flex-start;
// }

.link-toMenu {
  position: relative;
  border: none;
  background-color: transparent;
  margin: 0;
  color: $color-accent;
  padding: 5px;
  .fa-solid {
    color: $color-accent;
  }
}

.fa-solid {
  color: $color-text;
}

.link-toMenu:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: not-allowed;
  color: #929292;
  .fa-solid {
    color: #929292;
  }
}

.counterNum {
  @include flex-box;
  position: absolute;
  top: 4px;
  right: 14px;
  width: 20px;
  height: 20px;
  background-color: $color-accent;
  border-radius: 50%;
  color: $color-white;
}

.card-animation {
  position: absolute;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.flex-box {
  align-items: flex-start;
  @include s1-s3 {
    width: 100%;
    flex-wrap: wrap;
  }
}

.card-menu {
  height: 550px;
  overflow: hidden;
  border-radius: 20px;
  @include flex-box;
  @include box-shadow;
  align-items: flex-start;
  position: relative;

  .param-box {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.831);
  }

  .img-wrapper {
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    .img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
