<ng-template #content>

  <div class="container">
    <div class="container-card">
      <div [@cardAnimation4] class="card-box col-lg-3 col-md-4 col-sm-4 col-12">
        <app-account-nav></app-account-nav>
        <h5>Тут будуть Ваші чати</h5>
        <app-chat-rooms></app-chat-rooms>
      </div>

      <div [@cardAnimation1] class="card-box col-lg-5 col-md-8 col-sm-8 col-12">
        <div class="chat m-2">
          <app-chat-house></app-chat-house>
        </div>
      </div>

      <div [@cardAnimation2] class="card-box col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="m-2">
          <div class="card-info p-2">
            <h4>Discussio чат:</h4>
            <div class="title p-2">
              <p>Тут Ви зможете бачити користувачів з якими у Вас Discussiя, обмінюйтесь повідомленнями з потенційними
                орендарами або вже з машканцями оселі.</p>
            </div>
            <div class="title-group">
              <div class="title">
                <p>Як створити чат?</p>
              </div>
              <button class="btn-info col-2 m-3 info" type="button" data-bs-toggle="collapse"
                data-bs-target="#discussionButton" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-info"></i>
              </button>
            </div>

            <div class="collapse" id="discussionButton">
              <div class="card-body-cast">
                <p class="text-info">Чат створюється в меню Discussiя, там ви зможете обрати людину яку Ви затвердили та
                  створити з нею переписку.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-container *ngIf="loading; else content">
  <div class="loader-overlay">
    <div class="loader">
      <img src="../../../../assets/logo/Discussio (7).svg" alt="Logo" class="loader-logo">
    </div>
  </div>
</ng-container>
