@use "../../../style/presets/" as *;

.chat {
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  padding: 30px 5px 20px 5px;
}

.chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chat::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container-card{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-box {
  display: flex;
  flex-direction: column;
}

.title-group {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.link-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-white;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

