.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
}

.form-select{
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  padding: 10px;
}

button {
  border: none;
}


