<div class="container-fluid">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
    <button class="btn btn-outline-secondary" type="button" id="search-addon">Search</button>
  </div>

  <div class="form">

    <!-- Область -->
    <div class="inputbox">
      <label for="">Область</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value="1">Вінницька</option>
        <option value="2">Волинська</option>
        <option value="3">Дніпропетровська</option>
        <option value="4">Донецька</option>
        <option value="5">Житомирська</option>
        <option value="6">Закарпатська</option>
        <option value="7">Запорізька</option>
        <option value="8">Івано-Франківська</option>
        <option value="9">Київська</option>
        <option value="10">Кіровоградська</option>
        <option value="11">Луганська</option>
        <option value="12">Львівська</option>
        <option value="13">Миколаївська</option>
        <option value="14">Одеська</option>
        <option value="15">Полтавська</option>
        <option value="16">Рівненська</option>
        <option value="17">Сумська</option>
        <option value="18">Тернопільська</option>
        <option value="19">Харківська</option>
        <option value="20">Херсонська</option>
        <option value="21">Хмельницька</option>
        <option value="22">Черкаська</option>
        <option value="23">Чернівецька</option>
        <option value="24">Чернігівська</option>
      </select>
    </div>

    <!-- Місто -->
    <div class="inputbox">
      <label for="">Місто</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected disabled>Місто</option>
        <option value="1">Київ</option>
        <option value="2">Житомир</option>
        <option value="3">Чернігів</option>
      </select>
    </div>

    <!-- Кількість кімнат -->
    <div class="inputbox">
      <label for="">Кількість кімнат</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected disabled>Кількість кімнат</option>
        <option value="1">Одна</option>
        <option value="2">Дві</option>
        <option value="3">Три</option>
        <option value="3">Більше</option>
      </select>
    </div>

    <!-- Рейтинг -->
    <div class="inputbox">
      <label for="">Рейтинг</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Рейтинг</option>
        <option value="1">від 2</option>
        <option value="1">від 3</option>
        <option value="2">від 4</option>
        <option value="3">5</option>
      </select>
    </div>

    <!-- Площа -->
    <div class="inputbox">
      <label for="">Площа</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected disabled>Площа</option>
        <option value="1">до 30m2</option>
        <option value="2">до 40m2</option>
        <option value="3">до 50m2</option>
        <option value="3">до 60m2 і більше</option>
      </select>
    </div>

  </div>
</div>
