<div class="switch-container" *ngIf="isMobile">

  <div class="switch-btn-group" *ngIf="!selectedName">
    <button class="btn" [routerLink]="'/house'">
      <i class="fa-solid fa-arrow-left"></i>
      <div class="t-min">Назад</div>
    </button>
  </div>

  <div class="switch-btn-group" *ngIf="selectedName">
    <button class="btn" (click)="backToDiscus()">
      <i class="fa-solid fa-arrow-left"></i>
      <div class="t-min">Назад</div>
    </button>
  </div>

  <div class="menu-box hide-mobile">
    <div class="menu-lable">Меню</div>
    <div class="menu-name">Статистика Оселі</div>
  </div>

  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/communal/about'">
      <i class="fa-solid fa-circle-info"></i>
      <div class="t-min dark bold">Інфо</div>
    </button>
  </div>

  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/communal/add'">
      <i class="fa-solid fa-sliders"></i>
      <div class="t-min dark bold">Керув.</div>
    </button>
  </div>

  <!-- <div class="switch-btn-group" *ngIf="!selectedName">
      <button [disabled]="!selectedComun" class="btn" [routerLinkActive]="'active'" [routerLink]="'/communal/history'">
        <i class="fa-solid fa-pen"></i>
        <div class="t-min dark bold">Внесен.</div>
      </button>
    </div> -->


  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/communal/stat-month'">
      <i class="fa-solid fa-calendar-day"></i>
      <div class="t-min dark bold">Місяць</div>
    </button>
  </div>

  <div class="switch-btn-group">
    <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/communal/stat-year'">
      <i class="fa-solid fa-chart-pie"></i>
      <div class="t-min dark bold">Рік</div>
    </button>
  </div>

  <app-select-month hiden class="hide-pc hide-mobile"></app-select-month>
  <app-select-year hiden class="hide-pc hide-mobile"></app-select-year>

</div>

<router-outlet></router-outlet>
