<div class="content-component">

  <div class="switch-container">

    <div class="switch-btn-group" *ngIf="!selectedName">
      <button class="btn" [routerLink]="'/house'">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min">Назад</div>
      </button>
    </div>

    <div class="switch-btn-group" *ngIf="selectedName">
      <button class="btn" (click)="backToDiscus()">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="t-min">Назад</div>
      </button>
    </div>

    <div class="menu-box hide-mobile">
      <div class="menu-lable">Меню</div>
      <div class="menu-name">Статистика Оселі</div>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/communal/about'">
        <i class="fa-solid fa-circle-info"></i>
        <div class="t-min dark bold">Інфо</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/communal/add'">
        <i class="fa-solid fa-sliders"></i>
        <div class="t-min dark bold">Керув.</div>
      </button>
    </div>

    <!-- <div class="switch-btn-group" *ngIf="!selectedName">
      <button [disabled]="!selectedComun" class="btn" [routerLinkActive]="'active'" [routerLink]="'/communal/history'">
        <i class="fa-solid fa-pen"></i>
        <div class="t-min dark bold">Внесен.</div>
      </button>
    </div> -->


    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/communal/stat-month'">
        <i class="fa-solid fa-calendar-day"></i>
        <div class="t-min dark bold">Місяць</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/communal/stat-year'">
        <i class="fa-solid fa-chart-pie"></i>
        <div class="t-min dark bold">Рік</div>
      </button>
    </div>

    <app-select-month hiden class="hide-pc hide-mobile"></app-select-month>
    <app-select-year hiden class="hide-pc hide-mobile"></app-select-year>

  </div>

  <div class="main-container">

    <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-12 hide-mobile" *ngIf="!isMobile">
      <div class="card-wrapper">
        <div [@right1] class="card-content-static w-100">
          <div class="card-group">
            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-chart-line"></i>
              <p class="t-lar-xx bold mb-2 t-c">Статистика Оселі</p>
              <p class="t-min bold mb-2">Вносіть та діліться інформацією про статистичні дані комунальних послуг оселі.
                Переглядайте
                стистику по споживанню та витратам.</p>
            </div>

            <ul class="t-med mt-2 t-s">
              <span class="t-lar bold p-3">Тут доступні такі можливості:</span>
              <li class="mt-2">Створення послуг.</li>
              <li>Внесення показників.</li>
              <li>Місячний звіт.</li>
              <li>Сезоний звіт.</li>
              <li>Річний звіт.</li>
              <li>Річний графік.</li>
            </ul>

            <div class="btn-group mt-2">
              <button class="btn btn-navigation" [routerLink]="'/feedback'" [queryParams]="{ category: 'Статистика' }">
                <div class="t-med bold mr-2">Є ідея як зробити краще?</div>
                <i class="fa-regular fa-lightbulb"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-12" *ngIf="!isMobile">
      <app-comun-add></app-comun-add>
    </div> -->

    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
