@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-content {
  justify-content: space-between !important;
  align-items: center !important;
}

.card-group {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
}
.card-content-static {
  background-color: $color-primary !important;
}
.item-select {
  flex-direction: column-reverse;
  width: 100%;
  padding: 0 10px 0 10px;
}

.card-box {
  @include flex-box-center;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 85vh;
}

.img-wrapper {
  width: 100%;
  position: relative;
  @include flex-box-center;
  .img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
  }
}

.card-1 {
  @include flex-box-center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.879);
  // background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, $color-white);
  z-index: 10;
}

.content-group {
  @include flex-box-center;
  justify-content: space-evenly;
}

.status-box {
  @include box-shadow;
  @include flex-box-column;
  border-radius: 10px;
  .flex-box {
    justify-content: flex-start;
  }
}
