@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  @include s1-s3 {
    align-content: flex-start;
    height: 83vh;
  }
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  @include s1-s3 {
    width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  @include s1-s3 {
    width: 100%;
  }
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  @include s1-s3 {
    height: 75vh;
  }
}

.card {
  width: 100%;
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.card-transparent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-1 {
  width: 100%;
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item-select {
  width: 100%;
  height: 60px !important;
}

.input-file {
  width: 100%;
}

.input-file-item {
  display: flex;
  width: 100%;
}

.container-box {
  display: flex;
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1.2rem 5px 1.5rem 5px;
  border-radius: 10px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: $color-dark;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

p {
  color: $color-dark;
}

.btn-group {
  display: flex;
  width: 100%;
}

.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-dark;
  height: 45px;
  font-size: 16px;
}

.btn-1 {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-dark;
  height: 45px;
  font-size: 16px;
}

.btn-exit {
  font-size: 20px;
  background-color: $color-accent;
}

.btn:disabled {
  color: coral;
  background-color: rgba(255, 0, 0, 0.21);
  font-weight: bolder;
}

.btn-text {
  font-size: 0.8em;
}

.card-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.icon {
  background: none !important;
  position: relative !important;
  font-size: 18px;
  color: $color-dark;
}

.span {
  display: flex;
}

.flex-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-box {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.input-group {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  display: flex;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    height: 250px;
  }
}
img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;
  border-radius: 10px;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

mat-label {
  font-family: $font-main;
  font-size: 13px;
  font-weight: 400;
  color: $color-dark;
}

.label-1 {
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}

.label {
  cursor: pointer;
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}

.input-div {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 20px $color-primary, inset 0px 0px 10px $color-primary,
    0px 0px 5px rgb(255, 255, 255);
  transition: 1s;

  &:hover {
    background-color: $color-dark;
  }
}

.icon-up {
  color: $color-accent;
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 8s linear infinite;
}

.input-up {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


.container-checkbox {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  margin: 5px;
  align-items: flex-start;
  flex-direction: column;
}

.content-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descr {
  color: $color-white;
  font-size: 16px;
}

.content {
  position: relative;
}

.checkBox {
  position: relative;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 0 0 2px $color-primary;
}

.checkBox-span {
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: $color-accent;
    font-weight: 600;
    transform: scale(1.1);
  }
}

.bold {
  color: $color-accent;
  font-weight: 600;
}
.btn-info {
  background-color: rgba(255, 255, 255, 0);
  width: 30px;
  height: 30px;
}

.description-container {
  display: flex;
  position: absolute;
  z-index: 99;
  background-color: rgb(44, 44, 44);
  top: -50px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.description {
  font-size: 12px;
}

.close-button {
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-change {
  display: flex;
  border: 1px solid $color-gray;
  background-color: $color-white;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  align-items: center;
  justify-content: center;
  transition: 1s;
  &:hover {
    background-color: $color-accent;
    transform: scale(1.2);
  }
}

.material-symbols-outlined {
  font-size: 30px;
}

.btn-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px 20px;
  z-index: 99;
  color: $color-text;
  background-color: $color-white;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  &.active {
    color: $color-white;
    background-color: $color-accent;
  }
  &:hover {
    color: $color-white;
    background-color: $color-dark;
  }

  @include s1-s3 {
    box-shadow: none;
  }
}

.card-animation {
  background-color: $color-white;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  margin: 10px;
  height: 65vh;
  overflow: auto;

  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  @include s1-s3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    width: 95%;
    height: 74vh;
  }
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.switch-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 80px;
  z-index: 50;
  @include s1-s3 {
    background-color: $color-white;
    padding-top: 20px;
    top: 0;
  }
}

.btn-menu {
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.material-symbols-outlined {
  font-size: 30px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  z-index: 99;
  color: $color-text;
  &.active {
    background-color: $color-white;
    color: $color-white;
    .fa-solid,
    .fa-regular {
      color: $color-accent;
    }
  }
  &:hover {
    color: $color-white;
  }

  @include s1-s3 {
    box-shadow: none;
    background-color: transparent;
  }

  .fa-solid,
  .fa-regular {
    color: $color-text;
    font-size: 30px;
  }
}



.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}




