@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

mat-select,
input,
mat-hint,
mat-label,
span {
  color: $color-text !important;
}

.switch-container {
  @include flex-box;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  z-index: 40;
  position: sticky;
  top: 0;
  justify-content: space-around !important;
  background-color: $color-white;

  .switch-btn-group {
    @include flex-box-column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
    }
  }
}

.info-card {
  @include flex-box-center;
  flex-direction: column;
  background-color: $color-white;
  @include box-shadow;
  padding: 10px;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  border-radius: 10px;
  @include s3-s6-max {
    max-width: 500px;
  }
}

.link-t {
  width: 250px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-content {
  justify-content: space-between !important;
  align-items: center !important;
}

.card-group {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
}
.card-content-static {
  background-color: transparent !important;
}
.item-select {
  flex-direction: column-reverse;
  width: 100%;
  padding: 0 10px 0 10px;
}

.card-box {
  @include flex-box-center;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 85vh;
}

.img-wrapper {
  width: 100%;
  position: relative;
  @include flex-box-center;
  flex-wrap: wrap;
  .img-fluid {
    width: 50%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card-1 {
  @include flex-box-center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.content-group {
  @include flex-box-center;
  justify-content: space-evenly;
}

.status-box {
  @include box-shadow;
  @include flex-box-column;
  border-radius: 10px;
  .flex-box {
    justify-content: flex-start;
  }
}
