<div [@top1] class="info-card" *ngIf="userCont && userInfo">
  <mat-label class="t-c t-lar bold accent">Контактні дані</mat-label>
  <div class="w-100 flex-column">
    <div class="t-min t-c">Пошта при реєстрації</div>
    <div class="t-med bold t-c">{{userInfo.user_mail}}</div>
  </div>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label class="flex-box"><i class="fa-solid fa-at"></i><span class="accent"> Контактна
        пошта*</span></mat-label>
    <input name="userCont.mail" matInput [(ngModel)]="userCont.mail">
    <mat-hint align="end" class="t-min gray">Для формування угод</mat-hint>
  </mat-form-field>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label class="flex-box"><i class="fa-solid fa-phone"></i><span class="accent">
        Телефон*</span></mat-label>
    <input type="tel" name="userCont.tell" matInput [(ngModel)]="userCont.tell" [maxlength]="10"
      [pattern]="phonePattern">
    <mat-hint align="end" class="t-min gray">Для формування угод</mat-hint>
  </mat-form-field>
  <mat-label class="label"></mat-label>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label><i class="fa-solid fa-plus"><i class="fa-solid fa-phone"></i></i>Додатковий
      телефон</mat-label>
    <input type="tel" name="userCont.phone_alt" matInput [(ngModel)]="userCont.phone_alt" [maxlength]="10"
      [pattern]="phonePattern">
  </mat-form-field>
  <mat-label class="t-c t-lar bold accent">Посилання на мене</mat-label>
  <div class="t-min gray t-c">Соцільні мережі допоможуть користувачам у прийнятті рішень, та для зручного
    спілкування.</div>
  <div class="t-min accent">Вводити потрібно тільки частку User</div>
  <mat-form-field class="item-select mt-2" appearance="outline">
    <mat-label class="flex-box"><i class="fa-brands fa-telegram"></i><span class="">
        https://t.me/</span><span class="accent">user</span>
    </mat-label>
    <input name="userCont.telegram" matInput [(ngModel)]="userCont.telegram">
  </mat-form-field>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label class="flex-box"><i class="fa-brands fa-facebook"></i><span class="">
        https://www.facebook.com/</span><span class="accent">user</span></mat-label>
    <input name="userCont.facebook" matInput [(ngModel)]="userCont.facebook">
  </mat-form-field>
  <mat-form-field class="item-select" appearance="outline">
    <mat-label class="flex-box"><i class="fa-brands fa-instagram"></i><span class="">
        https://www.instagram.com/</span><span class="accent">user</span></mat-label>
    <input name="userCont.instagram" matInput [(ngModel)]="userCont.instagram">
  </mat-form-field>
  <mat-label class="label"></mat-label>
  <mat-form-field class="item-select mb-2" appearance="outline">
    <mat-label><i class="fa-brands fa-viber"></i>Viber номер телефону</mat-label>
    <input type="tel" name="userCont.phone_alt" matInput [(ngModel)]="userCont.viber" [maxlength]="10"
      [pattern]="phonePattern">
  </mat-form-field>
  <div class="btn-group">
    <button class="btn" (click)="saveInfoCont()">
      <div class="t-min">ЗБЕРЕГТИ</div>
      <i class="fa-regular fa-circle-check ml-2"></i>
    </button>
  </div>
</div>
