@use "./../presets/" as *;
@use "./../mixins/" as *;
@use "./../shared.scss";
@use "./../input.scss";


.toggle-group-column {
  display: flex;
  width: auto;
  @include s1-s3 {
    max-width: 96%;
    flex-direction: column;
  }
}

.cards-height {
  @include s3-s6-max {
    border-radius: 20px;
    height: calc(100vh - 80px - 150px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include s1-s3 {
    height: auto;
  }
}

.custom-badge .mat-badge-content {
  background-color: $color-accent;
  color: $color-white;
}

.filter-count {
  color: $color-white;
  font-size: $t-med;
  text-transform: lowercase;
  background-color: $color-gray;
  border-radius: 10px;
  padding: 5px;
  &.active {
    background-color: $color-accent;
  }
}





.filter-btn-wrapper {
  @include flex-box-center;
  flex-direction: column;
  position: relative;
  width: 100%;
  @include s1-s3 {
    flex-direction: column;
  }
}

.btn-group-filter {
  @include flex-box-center;
}

.btn-search {
  @include flex-box-center;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 10px;
  height: 60px;
  width: auto;
  .fa-solid,
  .fa-regular {
    color: $color-dark;
    padding: 5px;
  }
  @include s1-s3 {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    .t-min {
      font-size: $t-med;
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
    }
  }
  &:disabled {
    background-color: $color-light-gray;
    .fa-solid,
    .fa-regular {
      color: $color-gray;
    }
    &:hover {
      background-color: $color-light-gray;
      .t-min,
      .fa-solid,
      .fa-regular {
        color: $color-gray;
      }
    }
  }
  &:hover {
    background-color: $color-accent;
    .t-min,
    .fa-solid,
    .fa-regular {
      color: $color-white;
    }
  }
}

.btn-city {
  @include flex-box-center;
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  height: 120px;
  width: 100%;
  max-width: 120px;

  transition: 1s;
  &:hover {
    .flex-column {
      @include blurred-background($color-gray);
      border-radius: 20px;
      padding: 10px;
    }
    .card-img {
      z-index: 0;
      transform: scale(1.1);
    }
    .t-med,
    .t-min {
      font-size: 20px;
      z-index: 10;
      color: $color-white;
    }
  }
  .t-med {
    border-bottom: 1px solid $color-gray;
  }
}

.city-box {
  @include flex-box-center;
  flex-wrap: wrap;
  @include s1-s3 {
    justify-content: space-evenly;
  }
}

.content-component {
  overflow: auto;
  padding-top: 60px;
  @include s1-s3 {
    height: auto;
  }
}

.pb-10 {
  padding-bottom: 120px;
}

.switch-container {
  @include flex-box;
  height: 60px !important;
  margin-top: 20px;
  z-index: 15 !important;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  justify-content: space-around !important;
  // background-color: $color-accent;
  // @include blurred-background($color-white);

  .switch-btn-group {
    @include flex-box-column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    position: relative;
    justify-content: center;
    color: $color-dark;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
    }
    @include s1-s3 {
      flex: 1;
      width: 50px;
    }
    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
      .t-min {
        color: $color-accent;
      }
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
    &:disabled {
      .fa-regular,
      .fa-solid {
        color: $color-gray;
      }
    }
    .fa-solid,
    .fa-regular {
      font-size: 30px;
      color: $color-dark;
    }
    .t-min {
      color: $color-dark;
    }
  }
}

.flex-box {
  flex-wrap: wrap;
}

.status {
  top: 14px !important;
  right: 5px !important;
}

.card-wrapper {
  border-radius: 0px !important;
  @include s1-s3 {
    height: auto !important;
  }
}

.main-container {
  display: flex;
  // flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  @include s3-s6-max {
    height: 100% !important;
  }
  @include s1-s3 {
    height: auto !important;
  }
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  flex-direction: column !important;
  border-radius: 0px !important;
  @include s1-s3 {
    overflow: visible !important;
  }
  @include s3-s6-max {
    background-color: transparent !important;
  }
}

.users-switch {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-animation {
  justify-content: space-evenly;
  height: auto;
}

.users {
  height: 80vh;
}

.switch-content {
  height: 12vh;
}

.card-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 88vh;
  .card-box-filter {
    @include flex-box-column;
    height: 100%;
    justify-content: space-between;
  }
}

.box {
  @include flex-box;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: $t-max;
  font-weight: 600;
  .box-btn {
    background-color: transparent;
    &:active {
      background-color: $color-accent;
    }
  }
}



mat-radio-group {
  display: flex;
  justify-content: center;
}

mat-label {
  font-size: 12px;
  color: $color-text;
}

mat-hint {
  font-size: 12px;
  color: $color-accent;
}

.item-disabled {
  color: $color-gray;
}

.mat-icon.mat-icon {
  width: 25px;
  height: 25px;
  padding: 4px;
  margin-right: 5px;
}

.right-align {
  text-align: right;
}

.icon {
  width: 10px;
  margin-right: 10px;
  height: 15px;
}



.fa-solid,
.fa-regular {
  color: $color-text;
}

