@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.btn-close-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 300;
  .btn-close-box {
    @include flex-box-column;
    align-items: flex-end;
    padding: 10px;
    .btn-close {
      border: 1px solid $color-gray;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.chat-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: column;
  // .chat {
  //   position: static;
  //   top: 0;
  //   border-radius: 20px 20px 0 0;
  //   background-color: $color-white;
  //   width: 100%;
  //   height: 90vh;
  // }

  .send-message {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    z-index: 1000;
  }
}

.container-card {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.card-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.card-box1 {
  z-index: 60;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: left 1s ease;
  border-radius: 10px;
  align-items: stretch;
}

.notification-box {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  .notification-num {
    @include flex-box;
    margin: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-accent;
    color: $color-white;
    font-size: 14px;
  }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: auto;
  overflow: auto;
  width: 100%;
  margin: 0;
  align-content: flex-start;
  justify-content: center;
  .card-mini {
    @include flex-box;
    @include box-shadow;
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 96%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
    }
    .card-mini-img-container {
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;
      &:hover {
        width: 55%;
      }
      .card-mini-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    background-color: $color-dark;
  }
}

.name {
  position: absolute;
  top: 0;
  height: 30px;
  border-radius: 10px;
}

.message {
  position: absolute;
  top: 70px;
  border-radius: 10px;
}

// перемикач мобільний
.switch-box {
  position: sticky;
  top: 0;
  @include flex-box;
  background-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.824) 100%);

  width: 100%;
  justify-content: space-around;
  z-index: 50;

  .switch-btn-group {
    @include flex-box-column;
    position: relative;
    width: 70px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    justify-content: center;
    height: 50px;
    width: 80px;
    background-color: transparent;
    border: none;

    .t-min {
      font-size: 8px;
      text-transform: uppercase;
    }

    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }

      .t-min {
        color: $color-accent;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .fa-solid,
    .fa-regular {
      color: $color-text;
      font-size: 30px;
    }
  }
}

.flex-column-chat {
  @include flex-box-column;
  align-items: stretch;
  position: relative;
  height: 80vh;

  .chat {
    height: 90%;
  }
  .send-message {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 200;
    bottom: 0;
  }
}
