@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.notification-box {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
    .notification-num {
      @include flex-box;
      margin: 5px;
      padding: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-accent;
      color: $color-white;
      font-size: 14px;
    }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: 650px;
  overflow: auto;
  width: 100%;
  align-content: flex-start;
  justify-content: flex-start;
  @include s1-s3 {
    margin: 0;
    height: auto;
  }

  .card-mini {
    @include flex-box;
    @include box-shadow;
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 240px;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
    }
    .card-mini-img-container {
      @include flex-box-center;
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;
      &:hover {
        width: 55%;
      }
      .card-mini-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }

    @include s1-s3 {
      width: 96%;
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    background-color: $color-dark;
  }
}

.name {
  position: absolute;
  top: 0;
  height: 30px;
  border-radius: 10px;
}

.message {
  position: absolute;
  top: 70px;
  border-radius: 10px;
}
