@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.group {
  width: 100%;
  position: sticky;
  height: 10vh;
  z-index: 10;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.362);
  border: 1px solid rgba(1, 19, 12, 0.2);
  padding: 2px;
  justify-content: flex-start;
  z-index: 550;

  @include s1-s3 {
    border-radius: 0;
  }
}

.btn-more {
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  &:hover {
    transform: scale(1.2);
  }
}
.smiley-panel {
  @include box-shadow;
  position: absolute;
  left: 0;
  bottom: 60px;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  height: 200px;
  transition: 1s;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: auto;
  background-color: $color-white;
  border-radius: 10px;
  z-index: 200;
}

.smiley-panel::-webkit-scrollbar {
  display: none;
}
.smiley-button {
  font-size: 24px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

.smiley-button:hover {
  transform: scale(1.1);
}

.input-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.chat-input {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.input-field {
  left: 50px;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  min-height: 55px;
  font-size: 14px;
  z-index: 100;
}

.btn-send {
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  transition: 1s;

  &:disabled {
    .fa-solid {
      color: $color-gray;
    }
  }

  .t-min {
    font-size: 8px;
    text-transform: uppercase;
  }

  .fa-solid {
    color: $color-accent;
  }
}

