@use "./../presets/" as *;
@use "./../mixins/" as *;

.smiley-panel {
  @include box-shadow;
  position: absolute;
  left: 0;
  bottom: 60px;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  height: 200px;
  transition: 1s;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: auto;
  background-color: $color-white;
  border-radius: 10px;
  z-index: 200;
}

.smiley-panel::-webkit-scrollbar {
  display: none;
}
.smiley-button {
  font-size: 24px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

.group {
  width: 100%;
  position: sticky;
  z-index: 10;
  bottom: 0;
  background-color: $color-white;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding: 2px;
  justify-content: flex-start;
  z-index: 550;
}

.btn-more {
  border: none;
  height: 50px;
  margin: 5px;
  background-color: transparent;
}

.input-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.chat-input {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50px;
  border-radius: 10px;
  min-height: 30px;
  max-height: 80px;
  font-size: 14px;
  z-index: 100;
}

.btn-send {
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  transition: 1s;

  &:disabled {
    .fa-solid {
      color: $color-gray;
    }
  }

  .t-min {
    font-size: 8px;
    text-transform: uppercase;
  }

  .fa-solid {
    color: $color-accent;
  }
}

.chat-box {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  #typing {
    color: $color-gray;
    width: 100%;
    height: 0;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition:
      0.3s height ease-in-out,
      0.3s opacity ease-in-out;
    &.active {
      height: 80px;
      opacity: 1;
    }
    span:not(.n) {
      background-color: $color-gray;
      width: 10px;
      height: 10px;
      margin-top: 20px;
      display: inline-block;
      border-radius: 50%;
      &:nth-child(1) {
        animation: typing 1.2s infinite;
      }
      &:nth-child(2) {
        animation: typing 1.2s infinite 0.1s;
      }
      &:nth-child(3) {
        animation: typing 1.2s infinite 0.2s;
      }
    }
  }
  > .chat-box-footer {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    > #chat_input {
      color: $color-dark;
      font-size: $font-size;
      background-color: #d2d2d2;
      width: 100%;
      height: 45px;
      max-height: 70px;
      border: none;
      padding: 10px 15px;
      resize: none;
      box-sizing: border-box;
      border-radius: 10px;
      transition: 0.3s background-color;
      &:focus {
        background-color: #efefef;
      }
    }
    > #send {
      background: none;
      border: none;
      padding: 5px;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}

textarea {
  height: 65px !important;
  min-height: 50px !important;
  overflow: auto;
}

@keyframes typing {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  outline: none;
}
