@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";


.card-group {
  background-image: linear-gradient(to top, transparent 0%, $color-white 30%) !important;
}

.content-child {
  justify-content: flex-start;
}

mat-form-field {
  flex-direction: column-reverse;
  margin-bottom: 10px;
}
