<div class="content-child">
  <div [@left1] class="card-wrapper col-lg-8 col-md-8 col-sm-12 col-12">
    <div class="cards-container p-2">
      <div class="card-mini mb-3" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
        [ngClass]="{ 'selected': selectedSubscriberId == subscriber.user_id  }">
        <div class="card-mini-img-container">
          <img class="card-mini-img"
            [src]="serverPath + pathPhotoUser + (subscriber.photo ? subscriber.photo : 'user_default.svg')" alt="img">
        </div>
        <div class="card-body">
          <div class="p-1">
            <div class="t-lar bold accent">ID: {{ subscriber.user_id }}</div>
            <div class="t-lar bold">{{ subscriber.lastName }}</div>
            <div class="t-lar-xx bold">{{ subscriber.firstName }}</div>
            <div class="t-med thin">{{ subscriber.surName }}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subscribers && subscribers.length === 0">
      <div class="t-lar-xx">В цій оселі мешканці відсутні...</div>
    </div>
  </div>
</div>
