@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

.container-card {
  @include flex-box;
  height: 600px;
  overflow: auto;
  flex-wrap: wrap;
}

.flex-box-row {
  @include flex-box-row;
  @include s1-s3 {
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.card-btn {
  @include flex-box-column;
  // border: 1px solid $color-gray;
  border-radius: 20px;

  .btn-group {
    width: 100%;
    .btn {
      @include flex-box;
      @include box-shadow;
      justify-content: flex-start;
      background-color: $color-white;
      &:hover {
        background-color: $color-accent;
      }

      .fa-solid {
        color: $color-text;
      }
    }
  }
}

.card-body {
  @include flex-box-column;
  align-items: flex-start;
}

.card-agree {
  @include flex-box-column;
  // @include box-shadow;
  align-items: flex-start;
  // border: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  // border-radius: 20px;
  // background-color: rgba(255, 255, 255, 0.631);
}

.img-wrapper {
  @include flex-box;
  overflow: hidden;
  .img-fluid {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
