@use "../../../style/presets/" as *;

.container-dis {
  display: flex;
  align-content: center;
  align-items: stretch;
  flex-direction: column;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 50vh;

  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-chat {
  width: 100%;
  max-height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
}

.card-chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.about {
  font-size: 13px;
}

.item-wrapper,
.content-description {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.price-box {
  position: relative;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin-right: 30px;
}

.item-price {
  font-size: 35px;
}

.item-price-year {
  font-size: 20px;
}

.characteristics-label {
  font-size: 16px;
}

.item-characteristics {
  margin: 2px;
  padding: 2px 5px;

  border-radius: 10px;
  background-color: $color-primary;

  font-size: 12px;
  font-weight: 400;
}

.item-characteristics-price {
  margin: 2px;
  padding: 5px;

  border-radius: 10px;

  font-size: 14px;
  font-weight: 400;
}

.item {
  margin: 2px;
  padding: 5px;

  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
}

.characteristics-group {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  border-bottom: 1px solid #dddddd;
}

.characteristics {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}

.img-fluid {
  display: flex;
  flex-direction: column;

  width: 100%;
}

img {
  overflow: hidden;

  width: 100%;
  height: 300px;

  transition: transform 1s;

  object-fit: cover;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-social-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 24px;
}

.card-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-link {
  font-size: 14px;
  display: flex;
  transition: 0.4s;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px 10px;
  border: 1px solid $color-primary;
  padding: 5px 15px;
  border-radius: 10px;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.link-text {
  font-family: $font-main;
  font-size: $font-size;
}

.container-sticker.input[type="text"] {
  flex: 1;

  margin-right: 10px;
  padding: 8px;

  border: 1px solid #dddddd;
  border-radius: 4px;

  font-size: 12px;
}

.container-sticker {
  position: absolute;
  z-index: 9999;
  top: -26px;
  right: 10px;

  width: 100%;
  height: 20px;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.status {
  margin: 0 3px;
  padding: 5px 10px;

  color: white;
  border-radius: 4px;
  background-color: $color-accent;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.22);

  font-size: 12px;
  font-weight: bold;
}

.btn {
  margin: 5px;
  padding: 10px 20px;

  color: $color-text;
  background-color: $color-white;
  &:hover {
    color: $color-white;
    background-color: $color-accent;
  }
}

a {
  margin: 10px;
  padding: 10px;
}

.copy {
  width: 20px;
  height: 20px;

  border: none;
  background-color: $color-white;
}

.fa-copy {
  color: $color-dark;

  font-size: 20px;
  &:hover {
    transition: 1s;

    color: $color-accent;

    scale: 1.2;
  }
}

.copyFlatId {
  font-size: 10px;
}

.item-copy {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 15px;
}

.fa-solid {
  color: $color-primary;

  font-size: 25px;
}

.fab {
  transition: 0.4s;

  font-size: 25px;

  &:hover {
    transition: 0.4s;
    transform: scale(2);

    color: $color-accent;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.offline {
  background-color: $color-primary;
}

.rent-no {
  background-color: $color-primary;
}

.accent {
  color: $color-accent;

  font-size: 16px;
  font-weight: 600;
}

.title-selected-accent {
  color: $color-accent;

  font-size: 20px;
  font-weight: 600;
}

.card.selected {
  width: 90%;
  height: 90%;

  transition: 1s;

  color: white;
  background-color: $color-dark;
}

.title-selected {
  color: $color-text;

  font-size: 18px;
}

.title-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin: 2px;
  padding: 2px 10px;

  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25), 2px 1px 2px rgba(0, 0, 0, 0.22);
}

.switch-box {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: flex-start;
  height: 40px;
}

.switch-box-name {
  margin: 0;
  margin-left: 10px;
}

.toggle-button {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;

  width: 90px;
  height: 20px;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.toggle-text {
  margin-left: 10px;

  font-size: 20px;
}

.toggle-switch {
  position: absolute;

  width: 45px;
  height: 20px;

  transition: transform 0.3s ease;

  border-radius: 10px;
  background-color: $color-accent;
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.25),
    10px 10px 5px rgba(0, 0, 0, 0.22);
}

.toggle-switch.enabled {
  transform: translateX(45px);

  background-color: #4caf50;
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.25),
    10px 10px 5px rgba(0, 0, 0, 0.22);
}
