@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

p {
  font-size: 16px;
  line-height: 1.3rem;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}

h4 {
  font-weight: 600;
}

h5 {
  margin-top: 2rem;
}

.container-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container-card::-webkit-scrollbar {
  display: none;
}

.card-box {
  width: 100%;
  height: 60vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: auto;
  @include s1-s3 {
    height: 80vh;
  }
}

.card-box-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include s1-s3 {
    height: 90vh;
    justify-content: flex-start;
    display: flex;
  }
}

.card-box-abs1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  @include s1-s3 {
    align-items: flex-start;
    overflow: auto;
    height: 85vh;
    justify-content: center;
  }
}

.card-box-abs3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include s1-s3 {
    height: 60vh;
    flex-direction: column;
  }
}

.img-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.logoImg {
  width: 200px;
  height: 200px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.text {
  width: 100%;
  text-align: center;
  font-family: $font-header;
}

.text-0 {
  font-size: 38px;
}

.text-1 {
  font-size: 20px;
  line-height: 2.2rem;
  padding: 0px 10px 20px 10px;
}

.text-2 {
  font-size: 16px;
  line-height: 1.8rem;
  padding: 0px 10px 20px 10px;
}

.gif-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include s1-s3 {
    background-color: $color-primary;
    width: 100%;
    height: 240px;
    margin: 0;
    padding: 0;
  }
}

.gif-box2 {
  @include s1-s3 {
    flex-direction: row;
  }
}
.gif-logo {
  width: 100%;
  transition: 0.2s;
  @include s1-s3 {
    margin-top: 20px;
    width: 200px;
  }
}
.bg-mob {
  @include s1-s3 {
    z-index: 999;
    background-color: $color-primary;
    margin: 0;
    padding: 0;
  }
}

.title {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include s1-s3 {
    padding: 0px;
  }
}

.box {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  overflow: auto;
  @include s1-s3 {
    padding: 0px;
  }
}

.box::-webkit-scrollbar {
  display: none;
}

.mob-1 {
  @include s1-s3 {
    width: 50%;
  }
}

.beta-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-img {
  display: flex;
  flex-wrap: wrap;
  @include s1-s3 {
    display: none;
  }
}
.img-beta {
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.img-beta1 {
  width: 180px;
  height: 180px;
}

.img-beta2 {
  width: 130px;
  height: 130px;
}

.img-beta3 {
  width: 200px;
  height: 200px;
}
.indicator-box {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 15px;
}

.indicator {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: $color-gray;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: center;
  align-items: center;
  @include s1-s3 {
    width: 40px;
    height: 40px;
    margin: 2px;
  }
}

.btn-group {
  // position: absolute;
  // bottom: 10%;
  // left: 50%;
  // width: 400px;
  // transform: translateX(-200px);
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: center;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.btn-next {
  width: 150px;
  height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-accent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid $color-gray;
  &:hover {
    background-color: $color-dark;
    color: $color-white;
  }
  @include s1-s3 {
    height: 40px;
    margin: 5px;
    font-size: 16px;
    width: 100px;
  }
}

.active-step {
  transition: 3s;
  transform: scale(1.3);
  background-color: $color-accent;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.material-symbols-outlined {
  font-size: 20px;
}

.material-symbols-outlined {
  font-size: 30px;
  @include s1-s3 {
    font-size: 25px;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.name {
  position: relative;
}

.beta {
  position: absolute;
  top: -10px;
  right: -20px;
  font-size: 16px;
}
