@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.footer {
  position: sticky;
  bottom: 0;
  @include flex-box-center;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  @include s3-s6-max {
    margin-top: 5vh;
  }
  @include s1-s3 {
    background-image: linear-gradient(to top, $color-white 0%, $color-white 60%, transparent 100%);
  }
}

.c-0 {
  z-index: 0;
  padding-top: 5vh;
}

.c-1 {
  z-index: 1;
}

.c-2 {
  z-index: 2;
}

.c-3 {
  z-index: 3;
}

.c-4 {
  z-index: 4;
}

.c-5 {
  z-index: 5;
}

.c-6 {
  z-index: 6;
}

/* CSS для анімації набору тексту */
.t-lar {
  overflow: hidden; /* Приховуємо текст, який не вміщується в область відображення */
  white-space: nowrap; /* Вимикаємо перенесення тексту */
  animation: typing 3.5s steps(80, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn-next {
  animation: pulse 0.5s infinite alternate; /* Збільшувати та зменшувати розмір кнопки безкінечно */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  } /* Початковий розмір */
  100% {
    transform: scale(1.1);
  } /* Збільшений розмір */
}

.title {
  padding-top: 20px;
  @include s1-s3 {
    border-top: 1px solid $color-light;
  }
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.791) !important;
}
.link-licence {
  background-color: transparent;
  &:disabled {
    color: $color-gray;
  }
}

.box-agree {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  transition: 5s;
  scroll-behavior: smooth;
}

a {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.content-wrapper {
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
  @include s3-s6-max {
    height: calc(100vh - 100px - 1rem);
    // padding: 20px 0 30px 0;
  }
  @include s1-s3 {
    overflow: visible;
    height: calc(100vh - 100px);
    padding: 10px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .conteiner-content {
    display: flex;
    // height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    @include s1-s3 {
      background-color: $color-white;
      padding: 0px;
      height: auto;
      justify-content: flex-start;
    }
    .text {
      text-align: center;
    }
  }
}

.update {
  @include flex-box-center;
  background-color: $color-accent;
  @include box-shadow;
  color: $color-white-always;
  width: 250px;
  .fa-regular,
  .fa-solid {
    color: $color-white-always;
    transition: 1s;
  }
  transition: 1s;
  &:hover {
    transition: 0.4s;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px $color-accent);
    .fa-regular,
    .fa-solid {
      transform: scale(1.6);
      filter: drop-shadow(0px 0px 10px $color-accent);
      padding-right: 20px;
    }
  }
  &:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }
}

.btn-home {
  margin: 30px;
  transition: 1s;
  background-color: transparent;
  border: none;

  .fa-solid {
    font-size: 30px;
    color: $color-gray;
  }
  &:hover {
    .fa-solid {
      color: $color-accent;
    }
    background-color: transparent;
    color: $color-accent;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px $color-accent);
  }
}

.flex-box {
  @include flex-box-center;
  justify-content: space-between;
  .gif-box {
    @include flex-box-center;
    flex-direction: column;
    // height: 100%;
    position: relative;
    .home-img {
      width: 100%;
      object-fit: cover;
    }

    .home-img2 {
      width: 100%;
      object-fit: cover;
      filter: drop-shadow(2px 2px 8px $color-dark);
    }
  }
  .flex-column {
    // width: 40%;
    @include flex-box-center;
    flex-direction: column;
  }
  @include s1-s3 {
    flex-wrap: wrap;
    flex-direction: column;
    .gif-box {
      width: 100%;
      .home-img,
      .home-img2 {
        width: 100%;
      }
    }
    .flex-column {
      width: 100%;
    }
  }
}

.btn-group {
  @include s1-s3 {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.btn-next {
  @include flex-box-center;
  // background-color: $color-accent;
  // @include box-shadow;
  background-color: transparent;
  color: $color-white;
  width: 250px;
  border-radius: 20px;
  padding: 5px;
  .fa-regular,
  .fa-solid {
    font-size: 40px;
    color: $color-accent;
    transition: 1s;
  }
  transition: 1s;
  margin: 10px;
  &:hover {
    background-color: $color-white;
    font-weight: 600;
    transition: 0.4s;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px $color-accent);
    .fa-regular,
    .fa-solid {
      transform: scale(1.6);
      filter: drop-shadow(0px 0px 10px $color-accent);
      padding-right: 30px;
    }
  }
}

.content-component {
  background-color: $color-white !important;
  border-radius: 20px;
  @include box-shadow;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.logoImg {
  width: 150px;
}

.gif-logo {
  width: 350px;
}

.social-link-container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  padding: 0 10px;
  align-items: center;

  .social-link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    .social-link-icon {
      @include flex-box-center;
      margin: 0;
      padding: 0 5px 0 5px;
      background-color: transparent;
      .fa-solid,
      .fa-regular,
      .fa-brands {
        font-size: 16px;
      }
      .t-min {
        text-transform: capitalize;
        color: $color-gray;
        padding-left: 5px;
      }
      &.active {
        .fa-solid,
        .fa-regular,
        .fa-brands,
        .t-min {
          color: $color-accent;
        }
      }
      &:disabled {
        .fa-solid,
        .fa-regular,
        .fa-brands,
        .t-min {
          color: $color-gray;
        }
      }
    }
    &:hover {
      color: $color-accent;
      transition: 0.4s;
      transform: scale(1.2);
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
      .social-link-icon {
        .fa-solid,
        .fa-regular,
        .fa-brands {
          color: $color-accent;
        }
        .t-min {
          color: $color-accent;
        }
        &:disabled {
          .fa-solid,
          .fa-regular,
          .fa-brands,
          .t-min {
            color: $color-gray;
          }
        }
      }
    }
    &:disabled {
      color: $color-gray;
    }
  }
}
