<div class="conteiner-box">

  <div class="conteiner-content al-c">
    <div class="img-box">
      <img class="logoImg" src="{{path_logo}}" alt="logo">
    </div>
    <h2>Вітаємо Вас в</h2>
    <h1 class="bold">Discussio</h1>
    <h2 class="text mb-4">Першій Українській соціальні мережі для нерухомості.</h2>
    <h3 class="text">Тут ми розповімо про проєкт та наші плани.</h3>
    <p class="text t-c">Ми сподіваємось, що реалізація нашої ідеї зможе допомогти облегшити питання пов'язані з
      організацією пошуку оселі, комунікацію між орендодавцем та орендарем та питаннями які стосуються
      керування оселею. Наш проєкт являється добровільною ініціативою і розрахований на допомогу людям і наразі є
      цілком безкоштовний.</p>
    <button class="btn-home w-100 t-c" (click)="scrollToAnchor('container1')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div id="container1" class="conteiner-content al-c" *ngIf="containers['container1']">
    <div class="flex-box">
      <div class="gif-box w-60 t-c">
        <img class="home-img" src="../../../assets/home1.png" alt="">
      </div>
      <div class="flex-column w-40 p-3 t-c">
        <h3 class="bg-mob"><span class="bold"> Discussio - це не лише пошук оселі та орендарів. </span></h3>
        <p class="t-lar-x">Ми забезпечимо не лише новий підхід до пошуку житла та
          орендарів, але й інструменти для легкого управління оселею.
        </p>
      </div>
    </div>
    <button class="btn-home w-100 t-c" (click)="scrollToAnchor('container2')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div id="container2" class="conteiner-content al-c flex-column" *ngIf="containers['container2']">
    <div class="flex-box w-100">
      <div class="flex-column w-40 p-3 t-c">
        <h3 class="bg-mob"><span class="bold"> Discussio угода оренди нерухомого майна. </span></h3>
        <p class="t-lar-x">
          Наша платформа дозволяє легко та швидко створювати угоди між орендарем та орендодавцем всього за кілька
          хвилин. Ви можете згенерувати стандартні умови оренди нерухомого майна або додавати власні додаткові умови.
        </p>
      </div>
      <div class="gif-box w-60 t-c">
        <img class="home-img" src="../../../assets/home4.png" alt="">
      </div>
    </div>
    <button class="btn-home w-100 t-c" (click)="scrollToAnchor('container3')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div id="container3" class="conteiner-content al-c" *ngIf="containers['container3']">
    <div class="flex-box w-100">
      <div class="gif-box w-50">
        <img class="home-img2" src="../../../assets/home5.png" alt="">
      </div>
      <div class="flex-column w-50 p-3 t-c">
        <h3 class="bg-mob"><span class="bold"> Discussio - соціальна мережа для нерухомості. </span></h3>
        <p class="t-lar-x">Discussio допоможе створити спільноту власників нерухомості та орендарів,
          спростить процеси ведення нерухомості та співпраці , інтегруючи функціональність соціальної мережі та
          інструменти для оптимізації управління нерухомістю.
        </p>
      </div>
    </div>
    <button class="btn-home w-100 t-c" (click)="scrollToAnchor('container4')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div id="container4" [@top2] class="conteiner-content" *ngIf="containers['container4']">
    <app-home-page></app-home-page>
  </div>

</div>
