@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

html {
  transition: 5s;
  scroll-behavior: smooth;
}

.flex-column {
  overflow: auto;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.btn-home {
  margin: 30px;
  transition: 1s;
  background-color: transparent;
  border: none;

  .fa-solid {
    font-size: 30px;
    color: $color-gray;
  }
  &:hover {
    .fa-solid {
      color: $color-accent;
    }
    background-color: transparent;
    color: $color-accent;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px $color-accent);
  }
}

.flex-box {
  @include flex-box-center;
  justify-content: space-between;
  .gif-box {
    @include flex-box-center;
    width: 50%;
    .home-img {
      width: 100%;
      filter: drop-shadow(2px 2px 8px $color-dark);
    }

    .home-img2 {
      width: 350px;
      filter: drop-shadow(2px 2px 8px $color-dark);
    }
  }
  .flex-column {
    width: 40%;
    @include flex-box-center;
    flex-direction: column;
  }
  @include s1-s3 {
    flex-wrap: wrap;
    flex-direction: column;
    .gif-box {
      width: 100%;
      .home-img,
      .home-img2 {
        width: 100%;
      }
    }
    .flex-column {
      width: 100%;
    }
  }
}

.conteiner-content {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 128, 128, 0.115);
  @include s1-s3 {
    height: auto;
    justify-content: flex-start;
  }
  .text {
    text-align: center;
  }
}

.logoImg {
  width: 150px;
}

.gif-logo {
  width: 350px;
}
