<div class="flex-column">

  <div [@bot] id="container0" class="conteiner-content al-c">
    <div class="flex-box w-100">
      <div class="flex-column p-3 t-c col-lg-7 col-md-7 col-sm-12 col-12">

        <button class="btn update m-2" [routerLink]="'/home/update'">
          <i class="fa-regular fa-circle-up pr-2"></i>Останні Оновлення
        </button>

        <h1><strong>Discussio</strong></h1>
        <!-- <h2 class="text mb-4">Це перша Українська соціальні мережа для нерухомості!</h2> -->
        <h3><strong>Оренда & здача оселі</strong></h3>
        <h5 class="text t-c m-2"><strong>Ми створюємо спільноту орендодавців та орендарів!</strong>
          Спрощуємо процеси їх співпраці, в форматі соціальної мережі та з
          інструментами для управління оселею.
        </h5>

        <!-- <button class="btn update m-2" [routerLink]="'/auth/registration'">
          <i class="fa-solid fa-right-to-bracket pr-2"></i>
          Зареєструватись
        </button> -->

        <div class="box-agree">
          <label class="checkBox">
            <input type="checkbox" [(ngModel)]="agreementAccepted" name="agreementAccepted">
            <div class="transition"></div>
          </label>
          <p class="t-min w-75 t-c">Реєструючись я погоджуюсь з <button [disabled]="agreementAccepted" class="link-licence accent"
              [routerLinkActive]="'active'" [routerLink]="'/home/user-licence'">угодою
              користувача</button>
          </p>
        </div>

        <button [disabled]="!agreementAccepted" class="btn update m-2" (click)="openGoogleRegistration()">
          Зареєструватись з <i class="fa-brands fa-google pl-2"></i>
        </button>

        <p class="t-min mt-2 gray">
          Вже зареєстровані у нас?
        </p>

        <button class="btn update m-2" [routerLink]="'/auth/login'">
          Увійти в аккаунт  <i class="fa-solid fa-right-to-bracket pl-2"></i>
        </button>

        <!-- <button class="btn update m-2" (click)="openGoogleAuth()">
          Увійти з <i class="fa-brands fa-google pl-2"></i>
        </button> -->

        <p class="t-min mt-2 gray">
          Наш проєкт являється добровільною ініціативою і розрахований на допомогу людям в пошуку або здачі житла без
          ріелторів. Проект наразі є цілком безкоштовний!
        </p>

        <h4 class="mt-2">Приєднуйтесь до нас!</h4>
        <div class="social-link-container p-2">

          <div class="social-link-box">
            <a class="social-link-icon" target="_blank" href="https://t.me/discussio_inc">
              <i class="fab fa-brands fa-telegram"></i>
            </a>
          </div>

          <div class="social-link-box">
            <a class="social-link-icon" target="_blank" href="https://www.instagram.com/discussio.inc/">
              <i class="fab fa-brands fa-instagram"></i>
            </a>
          </div>

          <div class="social-link-box">
            <a class="social-link-icon" target="_blank" href="https://www.tiktok.com/@discussio.site">
              <i class="fab fa-brands fa-tiktok"></i>
            </a>
          </div>

          <div class="social-link-box">
            <a class="social-link-icon" target="_blank"
              href="https://www.facebook.com/profile.php?id=61554505683668&locale=uk_UA">
              <i class="fab fa-brands fa-facebook"></i>
            </a>
          </div>

          <div class="social-link-box">
            <a class="social-link-icon" target="_blank" href="https://www.youtube.com/@discussio.ukraine">
              <i class="fab fa-brands fa-youtube"></i>
            </a>
          </div>

        </div>

      </div>

      <div class="gif-box t-c col-lg-5 col-md-5 col-sm-12 col-12">
        <img class="home-img" src="../../../assets/gif/discussio.gif" alt="">
        <button *ngIf="!containers['container1']" class="btn-next t-c" (click)="scrollToAnchor('container1')">
          <i class="fa-solid fa-circle-chevron-down pr-2"></i>
          <p>Наші функції</p>
        </button>
      </div>
    </div>
    <!-- <button *ngIf="!containers['container1']" class="btn-home w-100 t-c" (click)="scrollToAnchor('container1')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button> -->
  </div>

  <div [@bot] id="container1" class="conteiner-content al-c flex-column" *ngIf="containers['container1']">
    <div class="flex-box w-100">
      <div class="gif-box t-c col-lg-5 col-md-5 col-sm-12 col-12">
        <iframe class="tiktok" src="https://www.tiktok.com/embed/v2/7364325880501374209" width="320" height="560" frameborder="0"></iframe>

        <button *ngIf="!containers['container2']" class="btn-next t-c" (click)="scrollToAnchor('container2')">
          <i class="fa-solid fa-circle-chevron-down pr-2"></i>
          <p>Інші функції</p>
        </button>
      </div>
      <div class="flex-column p-3 t-c col-lg-7 col-md-7 col-sm-12 col-12">

        <img class="home-img" width="320" src="../../../assets/gif/search.gif" alt="">

        <h3 class="bg-mob"><span class="bold"> Пошук осель & Пошук орендарів
          </span></h3>

        <button class="btn update m-2" [routerLink]="'/discussio-search'">
          Пошук Discussio<i class="fa-solid fa-magnifying-glass pl-2"></i>
        </button>

        <p class="text t-c">
          Надаємо вам можливість легко <strong>знайти житло</strong> <i class="fa-solid fa-house-laptop pl-2"></i>, яке
          відповідає вашим вимогам та вподобанням. Ви
          можете вибирати оселі з врахуванням різних критеріїв та багато
          іншого. Наша система робить <strong>пошук оселі</strong> максимально <strong>простим та зручним</strong>. <br>
          <i class="fa-solid fa-people-pulling pr-2"></i> Можливість <strong>знаходити орендарів</strong>, які
          відповідають
          вашим особистим критеріям. Ви можете
          використовувати різні фільтри, такі як бюджет, мета переїзду та термін оренди, для <strong>пошуку
            орендарів</strong>, які вам
          підходять.
        </p>
      </div>
    </div>
    <button *ngIf="!containers['container2']" class="btn-home w-100 t-c" (click)="scrollToAnchor('container2')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div [@bot] id="container2" class="conteiner-content al-c flex-column" *ngIf="containers['container2']">
    <div class="flex-box w-100">

      <div class="gif-box t-c col-lg-5 col-md-5 col-sm-12 col-12">
        <iframe class="tiktok" src="https://www.tiktok.com/embed/v2/7365979982872546561" width="320" height="560" frameborder="0"></iframe>
        <button *ngIf="!containers['container3']" class="btn-next t-c mt-2" (click)="scrollToAnchor('container3')">
          <i class="fa-solid fa-circle-chevron-down pr-2"></i>
          <p>Інші функції</p>
        </button>
      </div>

      <div class="flex-column p-3 t-c col-lg-7 col-md-7 col-sm-12 col-12">
        <img class="home-img" width="320" src="../../../assets/gif/agree.gif" alt="">
        <h3 class="bg-mob"><span class="bold"> Створення автоматичних угод & та актів. </span></h3>
        <p class="text t-c">
          Наша платформа дозволяє легко та швидко <strong>створити угоду оренди</strong> <i
            class="fa-regular fa-file-pdf pl-2 pr-2"></i> між орендарем
          та орендодавцем всього за кілька
          хвилин. Ви можете згенерувати стандартні умови оренди нерухомого майна або додавати власні додаткові умови.
          Після чого вам стане доступним <strong>створення акту прийома-передачі оселі</strong> <i
            class="fa-solid fa-file-invoice-dollar pl-2 pr-2"></i>. Вам залишається лише зустрітись та
          підписати цю угоду.
        </p>
      </div>

    </div>
    <button *ngIf="!containers['container3']" class="btn-home w-100 t-c" (click)="scrollToAnchor('container3')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div [@bot] id="container3" class="conteiner-content al-c flex-column" *ngIf="containers['container3']">
    <div class="flex-box w-100">
      <div class="gif-box t-c col-lg-5 col-md-5 col-sm-12 col-12">
        <img class="home-img" src="../../../assets/gif/raiting.gif" alt="">
        <button *ngIf="!containers['container4']" class="btn-next t-c" (click)="scrollToAnchor('container4')">
          <i class="fa-solid fa-circle-chevron-down pr-2"></i>
          <p>Інші функції</p>
        </button>
      </div>
      <div class="flex-column p-3 t-c col-lg-7 col-md-7 col-sm-12 col-12">
        <h3 class="bg-mob"><span class="bold"> Рейтинг <i class="fa-regular fa-face-smile-beam  pl-2 pr-2"></i> | <i
              class="fa-regular fa-face-frown  pl-2 pr-2"></i> орендодавця & орендаря. </span></h3>
        <p class="text t-c">
          Для власників оселі вибір надійного орендаря може стати великим завданням. Щоб допомогти власникам обирати
          порядних та надійних орендарів, ми впроваджуємо систему <strong>"Рейтинг орендаря"</strong>.
          Власники також можуть бути оцінені та рецензовані, але в контексті <strong>"Рейтингу власника оселі"</strong>.
          Орендарі
          висловлюють свою думку про власників нерухомості, з якими вони мали справу. Цей рейтинг базується на досвіді
          орендарів та допомагає іншим потенційним орендарям зрозуміти, яким власникам можна довіряти.</p>
      </div>
    </div>
    <button *ngIf="!containers['container4']" class="btn-home w-100 t-c" (click)="scrollToAnchor('container4')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div [@bot] id="container4" class="conteiner-content al-c flex-column" *ngIf="containers['container4']">
    <div class="flex-box w-100">
      <div class="gif-box t-c col-lg-5 col-md-5 col-sm-12 col-12">
        <img class="home-img" src="../../../assets/gif/stat.gif" alt="">
        <button *ngIf="!containers['container5']" class="btn-next t-c" (click)="scrollToAnchor('container5')">
          <i class="fa-solid fa-circle-chevron-down pr-2"></i>
          <p>Інші функції</p>
        </button>
      </div>
      <div class="flex-column p-3 t-c col-lg-7 col-md-7 col-sm-12 col-12">
        <h3 class="bg-mob"><span class="bold"> Статистика оселі <i class="fa-solid fa-chart-pie pl-2"></i>. </span></h3>
        <p class="text t-c">
          Ви можете <strong>створювати комунальні послуги</strong> та вибирати різні варіанти розрахунку
          витрат. Ви маєте можливість <strong>вести свою власну статистику</strong>, проводячи детальний розрахунок
          використання
          комунальних ресурсів. Ця функція сприяє обміну даними між орендарем
          та орендодавцем, дозволяючи точно відслідковувати витрати та встановлювати звіти про споживання ресурсів
          щомісяця. Це робить процес обліку комунальних послуг більш прозорим та допомагає уникнути спорів між
          сторонами.
        </p>
      </div>
    </div>
    <button *ngIf="!containers['container5']" class="btn-home w-100 t-c" (click)="scrollToAnchor('container5')"><i
        class="fa-solid fa-chevron-down fa-beat-fade"></i></button>
  </div>

  <div [@bot] id="container5" class="conteiner-content al-c flex-column" *ngIf="containers['container5']">
    <div class="flex-box w-100">
      <div class="gif-box t-c col-lg-5 col-md-5 col-sm-12 col-12">
        <img class="home-img" src="../../../assets/gif/obj.gif" alt="">
        <button class="btn-next t-c" [routerLink]="'/home/opportunities'">
          <i class="fa-solid fa-circle-info pr-2"></i>
          <p>Детальніше про функції</p>
        </button>
      </div>
      <div class="flex-column p-3 t-c col-lg-7 col-md-7 col-sm-12 col-12">
        <h3 class="bg-mob"><span class="bold"> Наповнення оселі <i class="fa-solid fa-boxes-packing pl-2"></i> </span>
        </h3>
        <p class="text t-c">
          Можливість детально описувати та <strong>документувати всі об'єкти та предмети</strong>, які знаходяться в
          місці
          проживання. Ця функція надає користувачам доступ до попередньо розроблених шаблонів та універсальної форми,
          яка полегшує процес внесення інформації про речі та їх стан, а також інструкцій щодо використання. Завдяки цій
          можливості, ви зможете докладно <strong>описати кожен предмет</strong>, його поточний стан та навіть надати
          фотографії для
          кращого візуального представлення. Ця інформація є надзвичайно важливою для формування акту прийому-передачі
          оселі.
        </p>
      </div>
    </div>
    <button class="btn update m-2" (click)="scrollToAnchor('container0')"> <i class="fa-solid fa-arrow-up pr-2"></i>
      На початок</button>
  </div>

</div>
