<div class="container-main">
  <div class="container-card">
    <div class="card-box">
      <div [@cardAnimation1] *ngIf="currentStep === 0" class="card-box-abs">
        <div class="img-box">
          <img class="logoImg" src="{{path_logo}}" alt="logo">
        </div>
        <h2>Вітаємо Вас в</h2>
        <div class="name">
          <h1 class="bold">Discussio</h1>
          <p class="bold beta">Beta</p>
        </div>
        <h2 class="text">Тут ми розповімо про проєкт та наші плани.</h2>
        <p class="text">Ми сподіваємось, що реалізація нашої ідеї зможе допомогти облегшити питання пов'язані з
          організацією пошуку оселі, комунікацію між орендодавцем та орендарем та питаннями які стосуються
          керування оселею. Наш проєкт являється добровільною ініціативою і розрахований на допомогу людям і наразі є
          цілком безкоштовний.</p>
      </div>
      <div [@cardAnimation1] *ngIf="currentStep === 1" class="card-box-abs1">

        <div>
          <div class="gif-box">
            <img class="gif-logo" src="../../../assets/logo/logoGif.gif" alt="">
            <h2 class="bg-mob"><span class="bold"> Discussio</span> - це не лише пошук житла та орендарів</h2>
          </div>

          <div class="title hide-pc p-3">
            <p class="text-1">Ми забезпечимо не лише новий підхід до<span class="bold accent"> пошуку житла та
                орендарів</span>, але й інструменти для легкого
              <span class="bold accent">управління оселею</span>. Одним
              кліком ви можете створювати <span class="bold accent">автоматичні угоди</span>, ділитися <span
                class="bold accent">комунальними статистичними даними</span> та шукати ідеальних
              орендаторів, орендарів та сусідів. З нами ви контролюєте свій життєвий простір та насолоджуєтеся
              спільнотою
              яку обрали ви.
            </p>
          </div>
        </div>

        <div class="title hide-mobile">
          <p class="text-1">Ми забезпечимо не лише новий підхід до<span class="bold accent"> пошуку житла та
              орендарів</span>, але й інструменти для легкого
            <span class="bold accent">управління оселею</span>. Одним
            кліком ви можете створювати <span class="bold accent">автоматичні угоди</span>, ділитися <span
              class="bold accent">комунальними статистичними даними</span> та шукати ідеальних
            орендаторів, орендарів та сусідів. З нами ви контролюєте свій життєвий простір та насолоджуєтеся
            спільнотою
            яку обрали ви.
          </p>
        </div>

      </div>
      <div [@cardAnimation1] *ngIf="currentStep === 2" class="card-box-abs1">

        <div>

          <div class="gif-box gif-box2">
            <img class="gif-logo mob-1" src="../../../assets/logo/gif-1.gif" alt="">
            <h2 class="bold mob-1">Discussio - це <span class="bold accent"> соціальна платформа</span></h2>
          </div>

          <div class="title hide-pc">
            <p class="text-2"><span class="bold accent ">Соціальна платформа для нерухомості</span> - це поєднання
              формату звичної для всіх соціальної мережі та ділова платформа одночасно, вона об'єднує в
              собі низку потужних інструментів для пошуку оселі, знаходження орендарів та оптимізації управління
              нерухомістю.
              За допомогою цієї платформи користувачі можуть створювати особисті облікові записи для своєї нерухомості,
              отримувати доступ до детальних статистичних даних про комунальні витрати, легко укладати автоматичні угоди
              та акти, а також спілкуватися з іншими користувачами через вбудований чат.

              <span class="bold">Ця платформа допомагає створити спільноту власників нерухомості та орендарів,
                спрощує процеси ведення нерухомості та співпраці
                , інтегруючи функціональність соціальної мережі та інструменти для оптимізації
                управління нерухомістю.</span> У майбутньому в планах додавати до цієї платформи різноманітні сервіси
              та
              послуги, розширювати її функціональність забезпечивши ще більше можливостей для користувачів у сфері
              нерухомості.
            </p>
          </div>

        </div>

        <div class="title hide-mobile">
          <p class="text-2"><span class="bold accent">Соціальна платформа для нерухомості</span> - це поєднання
            формату звичної для всіх соціальної мережі та ділова платформа одночасно, вона об'єднує в
            собі низку потужних інструментів для пошуку оселі, знаходження орендарів та оптимізації управління
            нерухомістю.
            За допомогою цієї платформи користувачі можуть створювати особисті облікові записи для своєї нерухомості,
            отримувати доступ до детальних статистичних даних про комунальні витрати, легко укладати автоматичні угоди
            та акти, а також спілкуватися з іншими користувачами через вбудований чат.

            <span class="bold">Ця платформа допомагає створити спільноту власників нерухомості та орендарів,
              спрощує процеси ведення нерухомості та співпраці
              , інтегруючи функціональність соціальної мережі та інструменти для оптимізації
              управління нерухомістю.</span> У майбутньому в планах додавати до цієї платформи різноманітні сервіси та
            послуги, розширювати її функціональність забезпечивши ще більше можливостей для користувачів у сфері
            нерухомості.
          </p>

        </div>

      </div>
      <div [@cardAnimation1] *ngIf="currentStep === 3" class="box col-lg-12 p-3">

        <div class="text"><span class="bold">Перед запуском</span> рекламної компанії та просуванням продукту ми хотіли протестувати з вашою
          допомогою
          декілька перших сценаріїв використання які доступні вже зараз. І отримати від вас відгуки які можна залишити
          по кожному меню у вкладці "відгук". Всі дані які ви будете вносити після Beta тесту будуть видалені, тому
          інформацію зараз можна вносити умовну (параметри аккаунту, параметри оселі, угоди, акти, фото тощо) але бажано наближену до
          реальності.</div>

        <div class="indicator-box">
          <button [ngClass]="{'active-step': currentScenario === 1}" class="indicator"
            (click)="changeScenario(currentScenario = 1)"><i class="fa-solid fa-1"></i></button>
          <button [ngClass]="{'active-step': currentScenario === 2}" class="indicator"
            (click)="changeScenario(currentScenario = 2)"><i class="fa-solid fa-2"></i></button>
        </div>

        <div *ngIf="currentScenario === 1">
          <h2>Перевірте Discussio як власник оселі</h2>
          <ul><span class="bold">Сценарії використання:</span>
            <li>1.Заповніть ваш профіль.</li>
            <li>2.Створіть оселю, заповніть форми (місцерозташування, характеристики, особливості, додайте фото) та
              розмістіть оголошення.</li>
            <li>3.Наповніть оселю об'єктами (меблі, техніка, предмети тощо).</li>
            <li>4.Створіть комунальні послуги внесіть дані по витратам.</li>
            <li>5.Перевірте правильність роботи пошуку орендара, застосовуйте фільтри.</li>
            <li>6.Чекайте на підписки орендарів або самі знайдіть орендара, перейдіть до Дискусії.</li>
            <li>7.Створіть чат з орендарем, поспілкуйтесь про умови угоди.</li>
            <li>8.Створіть угоду та акт з орендарем.</li>
            <li>9.Після заключення угоди додайте орендара в мешканці</li>
            <li>10.Надайте орендару доступи до взаємодії з вашою оселею.</li>
            <li>11.Залиште відгук про те що вам сподобалось або не сподобалось у вкладці відгук.</li>
          </ul>
        </div>

        <div *ngIf="currentScenario === 2">
          <h2>Перевірте Discussio як орендар</h2>
          <ul><span class="bold">Сценарії використання:</span>
            <li>1.Заповніть ваш профіль.</li>
            <li>2.Заповніть профіль пасивного пошука та розмістіть оголошення.</li>
            <li>3.Перевірте правильність роботи пошуку оселі, застосовуйте фільтри.</li>
            <li>3.Чекайте на підписки орендодавців або самі знайдіть оселю, перейдіть до Дискусії.</li>
            <li>4.Створіть чат з оселею, поспілкуйтесь про умови угоди.</li>
            <li>5.Подивіться статистичні дані по комунальним оселі.</li>
            <li>6.Чекайте запропоновану угоду від оселі.</li>
            <li>7.Подивіться шаблон запропонованої угоди, збережіть його як pdf.</li>
            <li>8.Після ухвалення деталей угоди попросіть додати вас до мешканців</li>
            <li>9.Перегляньте доступи які можуть бути вам надані оселею</li>
            <li>10.Попросіть власника надати вам доступи які ви би хотіли та перевірте їх.</li>
            <li>11.Залиште відгук про те що вам сподобалось або не сподобалось у вкладці відгук.</li>
          </ul>
        </div>

      </div>

    </div>
  </div>
  <div class="btn-group">
    <button *ngIf="currentStep > 0" class="btn-next" (click)="changeStep(currentStep - 1)"
      [disabled]="currentStep === 0">НАЗАД</button>
    <button *ngIf="currentStep < 3" class="btn-next" (click)="changeStep(currentStep + 1)"
      [disabled]="currentStep === 3">ДАЛІ</button>
    <button *ngIf="currentStep === 3" class="btn-next" [routerLinkActive]="'active'"
      [routerLink]="'/information-user'">ПОЧАТИ</button>
  </div>
</div>
