<div class="navbar">
  <nav class="nav">
    <a [routerLinkActive]="'active'" [routerLink]="'/housing-search'">Пошук оселі</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/tenants-search'">Пошук орендаря</a>
  </nav>
</div>

<div class="box-search">
  <div class="item">
    <mat-form-field class="search-id" appearance="outline">
      <mat-label>Знайти оселю по HouseID</mat-label>
      <input matInput type="text" [(ngModel)]="searchQuery" (input)="startTimer()" />
    </mat-form-field>
  </div>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div class="col-12 p-2 price">
    <div class="inputbox m-1 range">
      <div class="name">
        <p>Оберіть ціну за місяць</p>
      </div>

      <div class="inputbox m-1">
        <div class="input-group">
          <span class="input-group-text">від</span>
          <input type="number" class="form-control" [min]="minValue" [max]="maxValue" formControlName="price_of">
        </div>
        <div class="input-group">
          <span class="input-group-text">до</span>
          <input type="number" class="form-control" [min]="minValue" [max]="maxValue" formControlName="price_to">
        </div>
      </div>
    </div>

    <div class="container-checkbox">
      <div class="checkbox-box">
        <div class="content">
          <label class="checkBox">
            <input id="students" type="checkbox" formControlName="students" value="students">
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Студент</span>
          <i></i>
        </div>

        <div class="content">
          <label class="checkBox">
            <input id="woman" type="checkbox" formControlName="woman" value="woman">
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Жінка</span>
          <i></i>
        </div>

        <div class="content">
          <label class="checkBox">
            <input id="man" type="checkbox" formControlName="man" value="man">
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Чоловік</span>
          <i></i>
        </div>

        <div class="content">
          <label class="checkBox">
            <input id="family" type="checkbox" formControlName="family" value="family">
            <div class="transition"></div>
          </label>
          <span class="checkBox-span">Сім'я</span>
          <i></i>
        </div>

      </div>
    </div>
  </div>

</form>


<form class="form-box" (submit)="onSubmit()">
  <div class="name">
    <p>Фільтр</p>
  </div>
  <div class="container-box col-12">
    <div class="box">
      <div class="inputbox m-1">
        <mat-form-field appearance="fill" cdkScrollable>
          <mat-label>Область</mat-label>
          <mat-select [(ngModel)]="selectedRegion" name="selectedRegion">
            <mat-option [value]="''">Всі області</mat-option> <!-- Додано опцію для невибраного значення -->
            <mat-option *ngFor="let region of regions" [value]="region.name">{{ region.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Місто</mat-label>
          <mat-select [(ngModel)]="selectedCity" name="selectedCity">
            <mat-option [value]="''">Всі міста</mat-option> <!-- Додано опцію для невибраного значення -->
            <mat-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Площа (від)</mat-label>
          <mat-select  name="minArea">
            <mat-option [value]="null">Неважливо</mat-option>
            <mat-option value="10">10м2</mat-option>
            <mat-option value="20">20м2</mat-option>
            <mat-option value="30">30м2</mat-option>
            <mat-option value="40">40м2</mat-option>
            <mat-option value="50">50м2</mat-option>
            <mat-option value="60">60м2</mat-option>
            <mat-option value="70">70м2</mat-option>
            <mat-option value="80">80м2</mat-option>
            <mat-option value="90">90м2</mat-option>
            <mat-option value="100">100м2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Площа (до)</mat-label>
          <mat-select  name="maxArea">
            <mat-option [value]="null">Неважливо</mat-option>
            <mat-option value="10">10м2</mat-option>
            <mat-option value="20">20м2</mat-option>
            <mat-option value="30">30м2</mat-option>
            <mat-option value="40">40м2</mat-option>
            <mat-option value="50">50м2</mat-option>
            <mat-option value="60">60м2</mat-option>
            <mat-option value="70">70м2</mat-option>
            <mat-option value="80">80м2</mat-option>
            <mat-option value="90">90м2</mat-option>
            <mat-option value="100">100м2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Кількість кімнат</mat-label>
          <mat-select [(ngModel)]="selectedRooms" name="selectedRooms">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4+</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Стан квартири</mat-label>
          <mat-select [(ngModel)]="selectedRepair_status" name="selectedRepair_status">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="1">Новий</mat-option>
            <mat-option value="2">Добрий</mat-option>
            <mat-option value="3">Задовільний</mat-option>
            <mat-option value="3">Поганий</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Кухня</mat-label>
          <mat-select [(ngModel)]="selectedKitchen_area" name="selectedKitchen_area">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="1">до 10m2</mat-option>
            <mat-option value="2">до 20m2</mat-option>
            <mat-option value="3">до 30m2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="box">
      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Паркінг</mat-label>
          <mat-select [(ngModel)]="selectedDistance_parking" name="selectedDistance_parking">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="1">на території</mat-option>
            <mat-option value="100">до 100м</mat-option>
            <mat-option value="300">до 300м</mat-option>
            <mat-option value="500">до 500м</mat-option>
            <mat-option value="1000">до 1км</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Парк, сквер</mat-label>
          <mat-select [(ngModel)]="selectedDistance_green" name="selectedDistance_green">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="100">до 100м</mat-option>
            <mat-option value="300">до 300м</mat-option>
            <mat-option value="500">до 500м</mat-option>
            <mat-option value="1000">до 1км</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Продуктові магазини</mat-label>
          <mat-select [(ngModel)]="selectedDistance_shop" name="selectedDistance_shop">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="2">до 100м</mat-option>
            <mat-option value="3">до 300м</mat-option>
            <mat-option value="3">до 500м</mat-option>
            <mat-option value="3">до 1км</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Зупинка транспорту</mat-label>
          <mat-select [(ngModel)]="selectedDistance_stop" name="selectedDistance_stop">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="2">до 100м</mat-option>
            <mat-option value="3">до 300м</mat-option>
            <mat-option value="3">до 500м</mat-option>
            <mat-option value="3">до 1км</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Метро</mat-label>
          <mat-select [(ngModel)]="selectedDistance_metro" name="selectedDistance_metro">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="1">до 100м</mat-option>
            <mat-option value="2">до 300м</mat-option>
            <mat-option value="3">до 500м</mat-option>
            <mat-option value="4">до 1км</mat-option>
            <mat-option value="5">до 2км</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputbox m-1">
        <mat-form-field appearance="fill">
          <mat-label>Дозвіл на тварин</mat-label>
          <mat-select [(ngModel)]="selectedAnimals" name="selectedAnimals">
            <mat-option [value]="''">Неважливо</mat-option>
            <mat-option value="1">Без тварин</mat-option>
            <mat-option value="2">За попередньою домовленістю</mat-option>
            <mat-option value="3">Можна з тваринами</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Застосувати фільтр</button>

</form>
