

<div class="w-100" *ngIf="!houseData">
  <div [@cardAnimation1] class="dark t-s pl-2">
    <div class="t-lar-xx bold">Вибір оселі</div>
    <div class="t-med">Оберіть або створіть оселю</div>
  </div>
  <app-selection-housing></app-selection-housing>
</div>

<div class="flex-box" *ngIf="houseData">
  <div class="col-lg-9 col-md-9 col-sm-12 col-12">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="statusMessage" class="status-message">
  <div class="status-message-text">{{ statusMessage }}</div>
  <img class="status-message-logo" src="{{path_logo}}" alt="logo">
  <div class="status-message-name">Discussio</div>
</div>
