@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    margin-top: 10px;
  }
}

.mobile {
  @include s1-s3 {
    height: 60px;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
