@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
  align-items: flex-start;
  align-content: flex-start;
  @include s1-s3 {
    min-height: 90vh;
  }
}

.container-noFlat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
  align-items: stretch;
  align-content: center;
  flex-direction: column;
  @include s1-s3 {
    min-height: 90vh;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    margin-top: 10px;
  }
}

h1, h3, p {
  text-align: center;
}

.card-box2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include s1-s3 {
    height: 90vh;
    margin-top: 10px;
  }
}

.mobile {
  @include s1-s3 {
    height: 60px;
  }
}

.mobile-param {
  @include s1-s3 {
    margin-top: 10px;
    padding: 0 10px
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
