@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
  align-items: flex-start;
  align-content: flex-start;
}

h2, h5 {
  text-align: center;
}

.container-noFlat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
  align-items: stretch;
  align-content: center;
  flex-direction: column;
  @include s1-s3 {
    min-height: 90vh;
  }
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  @include s1-s3 {
    margin-top: 10px;
  }
}

h1, h3, p {
  text-align: center;
}

.card-box-pick {
  @include flex-box-column;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 100%;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
