@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.card-box {
  @include flex-box-column;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;

  .card-animation {
    @include flex-box-column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 80vh;
    .card-menu {
      @include flex-box;
      height: 100%;
      width: 95%;
      overflow-y: auto;
    }
    .select-card {
      @include flex-box;
      height: 100%;
      width: 95%;
      overflow-y: auto;
      align-items: flex-start;
      justify-content: flex-start;

      .flex-column {
        @include flex-box-column;
      }
    }
  }
}

.card-animation::-webkit-scrollbar {
  display: none;
}
