<div class="content-component">

  <app-navbar></app-navbar>

  <div class="main-container">

    <div class="col-lg-3 col-md-3 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="card-wrapper">
        <div [@right1] class="card-content-static w-100">
          <div class="card-group">
            <div class="flex-box-center t-c p-2 mt-2 w-100">
              <i class="fa-solid fa-house"></i>
              <p class="t-lar-xx bold mb-2 t-c">Профіль Оселі</p>
              <p class="t-min bold mb-2">Головна сторінка профілю оселі.
              </p>
              <p class="t-min mb-2">Тут ви можете бачити: Інформацію по вибраній оселі.
                Доступні функції оселі. Сповіщення про повідомлення, дискусії та угоди.</p>
            </div>

            <button class="btn-feedback" [routerLink]="'/feedback'" [queryParams]="{ category: 'Профіль оселі' }">
              Є ідея <i class="fa-regular fa-lightbulb"></i> як зробити краще?<br>Можеш запропонувати!
            </button>

            <a class="b-primary w-90 mt-2" target="_blank" href="https://t.me/discussio_chat">
              <i class="fa-solid fa-headset pr-2"></i> Техпідтримка
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-lg-5 col-md-5 col-sm-12 col-12">
      <div class="card-animation">
        <div class="card-content">
          <button class="btn geer" (click)="goToEdit()"
            *ngIf="acces_flat_features === 1 && acces_admin === 1 && acces_added === 1">
            <i class="fa-solid fa-gear" matTooltip="Налаштування оселі"></i>
          </button>
          <app-img-house></app-img-house>
          <app-house-rent-progress></app-house-rent-progress>
          <div class="mb-2" *ngIf="isMobile">
            <app-info-house></app-info-house>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper hide-mobile col-lg-4 col-md-5 col-sm-12 col-12" *ngIf="!isMobile">
      <div class="flex-column">
        <app-info-house></app-info-house>
      </div>
    </div>

  </div>

</div>