@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.chat {
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  display: flex;
  border-radius: 10px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.686);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  justify-content: flex-start;
  flex-direction: column-reverse;

  @include s1-s3 {
    height: 100vh;
  }
}



.chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chat::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  @include s1-s3 {
    align-items: center;
    height: 100vh;
  }
}

.card-box1 {
  display: flex;
  flex-direction: column;
  z-index: 60;
  align-items: flex-start;

  @include s1-s3 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transition: left 1s ease;
    border-radius: 10px;
  }
}

.title-group {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

h5,
p {
  text-align: center;
}

h5 {
  font-weight: 600;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.btn-close1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  top: 30px;
  right: 10px;
  z-index: 200;
  background-color: $color-primary;
  border-radius: 50%;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  &:active {
    color: $color-white;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;
  }
}

.btn-hide {
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  &:hover {
    transition: 0.4s;
    color: $color-accent;
    transform: scale(1.1);
  }
}

.btn-menu {
  border: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-white;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 15px;
  z-index: 99;
}

.btn-hide-pc {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1000;
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
