@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.container-noChat {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  width: 300px;
}
.img-fluid {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
}

.group-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 22px;
  text-align: center;
}

.text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.container-chat {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  @include s1-s3 {
    min-height: 90vh;
  }
}

.container-chat-messages {
  display: flex;
  align-items: stretch;
  position: relative;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
}

.group1 {
  width: 100%;
  position: sticky;
  height: 150px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 100%);
  z-index: 50;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  justify-content: space-between;
  flex-direction: column;
  @include s1-s3 {
    position: sticky;
    height: 10vh;
    top: 0;
    left: -100%;
  }
}

.avatar-user1 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  top: 5px;
  left: 5px;
  border: 2px solid rgba(93, 90, 90, 0.856);
}

.name-user1 {
  position: absolute;
  display: flex;
  left: 70px;
  font-size: 20px;
  justify-content: flex-start;
  font-weight: 600;
  flex-direction: column;
}

.text-min {
  font-size: 12px;
}

.chat {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
}

.chat-messages-read,
.chat-messages-unread {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 5px 5px 5px;
}

.chat-messages::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.chat-container-user,
.chat-container-owner {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.chat-container-user {
  justify-content: flex-start;
}

.chat-container-owner {
  justify-content: flex-end;
}

.user-message {
  flex-direction: column;
  display: flex;
  min-width: 100px;
  background-color: rgba(93, 90, 90, 0.856);
  border-radius: 10px 10px 10px 0px;
}

.owner-message {
  flex-direction: column;
  display: flex;
  min-width: 100px;
  background-color: $color-dark;
  border-radius: 10px 10px 0px 10px;
}

.message {
  position: relative;
  display: flex;
  clear: both;
  z-index: 10;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px;
}

.message-content {
  width: 100%;
}

.message-content-owner,
.message-content-user {
  display: flex;
  overflow: hidden;
  width: auto;
  max-width: 300px;
  padding: 12px 0 0 0;
}

.message-content-owner {
  justify-content: flex-end;
}

.message-text-user,
.message-text-owner {
  color: $color-white;
  font-size: 16px;
}

.avatar-wrapper-user,
.avatar-wrapper-owner {
  position: absolute;
  top: -20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.avatar-wrapper-user {
  left: 0;
  flex-direction: row-reverse;
}

.avatar-wrapper-owner {
  right: 0;
}

.name-user,
.name-owner {
  width: 200px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
}

.name-owner {
  justify-content: flex-end;
  right: 0px;
  top: 0;
}

.name-user {
  top: 0;
  left: 0px;
}

.accent-name {
  color: $color-accent;
  font-size: 13px;
}

.time {
  color: $color-dark;
  font-weight: 300;
}

.group {
  width: 100%;
  position: sticky;
  height: 70px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.362);
  border: 1px solid rgba(1, 19, 12, 0.2);
  padding: 2px;
  justify-content: flex-start;
}

.btn-more {
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  &:hover {
    transform: scale(1.2);
  }
}

.smiley-panel {
  position: absolute;
  left: 0;
  bottom: 60px;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  height: 200px;
  transition: 1s;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: auto;
  background-color: $color-white;
  border-radius: 10px;
  z-index: 150;
}

.smiley-panel::-webkit-scrollbar {
  display: none;
}

.smiley-button {
  font-size: 24px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

.smiley-button:hover {
  transform: scale(1.1);
}

.input-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.chat-input {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.input-field {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 73%;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  min-height: 55px;
  font-size: 16px;
  border: none;
  // border: 1px solid $color-text;
  z-index: 100;
}
.btn-send {
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  transition: 1s;
  &:hover {
    color: $color-accent;
  }
}

.fa-paper-plane {
  &:hover {
    color: $color-accent;
  }
}

.unread {
  background-color: $color-accent;
  transform: 1s;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

.fab {
  transition: 0.4s;
  font-size: 25px;
  &:hover {
    transition: 0.4s;
    transform: scale(2);
    color: $color-accent;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.fa-check-double,
.fa-check {
  color: $color-accent;
  font-size: 12px;
}

.fa-check {
  color: $color-dark;
}

input {
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(245, 222, 179, 0);
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
