@use "presets/" as *;
@use "mixins/" as *;
@use "shared.scss";
@use "card_user.scss";

.card {
  justify-content: flex-start;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 65vh;
  align-content: flex-start;
  @include s1-s3 {
    min-height: 0vh;
    height: 83vh;
    align-content: flex-start;
  }
}

.card-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  @include s1-s3 {
    width: 100%;
    height: auto;
    top: 0;
  }
}

.card-chat {
  @include box-shadow;
  background-color: $color-white;
  height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  justify-content: space-between;
  @include s1-s3 {
    height: 90vh;
  }
}

.card-chat::-webkit-scrollbar {
  display: none;
}

.card-animation {
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.paginator-container {
  @include flex-box;
  width: 100%;
  justify-content: space-evenly;
  .paginator-box {
    @include flex-box-column;
  }
  .paginator-btn {
    @include flex-box;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: $color-accent;
    }
  }
}

.counterNum {
  @include flex-box;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  background-color: $color-gray;
  border-radius: 50%;
  color: $color-white;
}

.btn-container {
  @include flex-box;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.673);
  height: 90px;
  padding: 5px;
  border: 5px solid $color-white;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  justify-content: flex-start;
  .img-btn-box {
    @include flex-box-column;
    .img-btn {
      @include flex-box;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      width: 80px;
      .fa-solid,
      .fa-regular {
        color: $color-dark;
        &:hover {
          color: $color-accent;
          @include box-shadow;
        }
      }
    }
  }
}

.btn-container2 {
  @include flex-box;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 100%;
  justify-content: space-evenly;
  .img-btn-box {
    @include flex-box-column;
    .img-btn {
      @include flex-box;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      width: 50px;
      height: 50px;
      &:hover {
        background-color: $color-accent;
        @include box-shadow;
      }
      .fa-solid {
        color: $color-dark;
      }
    }
  }
}

.btn-close-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 300;
  .btn-close-box {
    @include flex-box-column;
    align-items: flex-end;
    padding: 10px;
    .btn-close {
      border: 1px solid $color-gray;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  height: 55vh;
  overflow: auto;
  width: 100%;
  align-content: flex-start;
  @include s1-s3 {
    margin: 0;
    height: 78vh;
  }

  .card-mini {
    @include flex-box;
    @include box-shadow;
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 96%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
    }
    .card-mini-img-container {
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;
      &:hover {
        width: 55%;
      }
      .card-mini-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    background-color: $color-dark;
  }
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.img-fluid {
  height: 400px;
  border: none;
}

.img-review-wrapper {
  overflow: hidden;
  border-radius: 50%;
  .img-review-fluid {
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  .room {
    height: 40px;
    font-size: 36px;
    color: $color-text;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
  }
}

li {
  padding: 3px;
}

.link-toMenu {
  transition: 1s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.095);
    border-radius: 20px;
    letter-spacing: 3px;
    font-weight: 600;
  }
}

.card-reviews {
  @include box-shadow;
  background-color: $color-white;
  border-radius: 10px;
}

.btn-container-close {
  position: absolute;
  right: 0;
}

.flex-column-chat {
  @include flex-box-column;
  align-items: stretch;
  position: relative;
  .send-message {
    @include s1-s3 {
      width: 100%;
      position: fixed;
      z-index: 200;
      bottom: 0;
    }
  }
}

.btn-rating {
  position: relative;
  .fa-regular {
    color: rgba(128, 128, 128, 0.551);
  }
}

.abs {
  position: absolute;
  top: 5px;
  left: 12px;
}

.abs-1 {
  position: absolute;
  top: -7px;
  left: -10px;
}

.fa-star {
  color: $color-gray;
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
