@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.filter-label {
  font-size: 30px;
  margin-top: 20px;
}

.b-primary {
  @include flex-box-center;
  @include box-shadow;
  background-color: $color-accent;
  color: $color-white-always;
  border-radius: 20px;
  margin: 0;
  width: auto;
  min-width: 60px;
  height: 60px;
  transition: 1s;

  @include s3-s6-max {
    &:hover {
      transition: 0.4s;
      transform: scale(1.05);
      filter: drop-shadow(0px 0px 10px $color-accent);
      .fa-regular,
      .fa-solid,
      .fa-brands {
        transform: scale(1.6);
        filter: drop-shadow(0px 0px 10px $color-accent);
        padding-right: 10px;
      }
    }
  }

  .fa-regular,
  .fa-solid,
  .fa-brands {
    color: $color-white-always;
    transition: 1s;
  }

  &:disabled {
    background-color: $color-gray;
    &:hover {
      transform: scale(1);
      filter: none;
      .fa-regular,
      .fa-solid,
      .fa-brands {
        transform: scale(1);
        filter: none;
      }
    }
  }

  &.active {
    background-color: $color-blue;
  }
}

.item-select {
  width: auto;
  max-width: 400px;
  font-size: 16px;
  flex-direction: column-reverse;
  @include s1-s3 {
    width: 100%;
    font-size: 16px;
  }
}

.btn-group {
  @include flex-box-center;
  bottom: 0;
  position: sticky;

  @include s3-s6-max {
    width: auto;
    padding: 5px;
    border-radius: 20px;
    // margin-bottom: 40px;
    @include blurred-background($color-white, 0.5);
  }
  @include s1-s3 {
    @include blurred-background($color-white, 0.8);
    padding: 5px 5px 20px 5px;
    border-radius: 20px;
  }
}

.filter-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  bottom: 0;
  left: 0;
  @include s3-s6-max {
    padding: 10px;
  }
  @include s1-s3 {
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px 20px 0 0;
  }
}

.filter-window {
  @include flex-box-center;
  flex-direction: column;
  overflow: auto;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  @include s3-s6-max {
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    // max-width: 1050px;
    max-height: 100vh;
    border-radius: 20px;
    @include blurred-background($color-white, 0.7);
  }
  @include s1-s3 {
    justify-content: flex-start;

    @include blurred-background($color-white, 0.8);
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 50px 20px $color-gray;
    height: auto;
    min-height: 60vh;
    max-height: 91vh;
    overflow: auto;
  }
  &.close {
    transition: 2s;
    transform: translateY(200%);
  }
}

.section-chown {
  @include flex-box-center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.flex-box-type {
  @include flex-box-center;
  @include s1-s3 {
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
  }
}

.label-section {
  font-size: $t-med;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding-right: 10px;
}

.form-label {
  font-size: $t-min;
}

.range-section {
  @include flex-box-center;
  margin-top: 10px;
  flex-direction: column;
  width: 100%;
}

.form-range {
  width: 100%;
  max-width: 320px;
  // Стилізація трека
  &::-webkit-slider-runnable-track {
    height: 0.5rem;
    background: $color-accent;
    border-radius: 0.25rem;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Вимкнення стандартного вигляду */
    width: 2rem;
    height: 1rem;
    background: $color-dark; /* Колір повзунка */
    cursor: pointer;
  }
}
