@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/media.scss" as *;

// сповіщення помаранчева точка з номером
.status {
  @include flex-box-center;
  position: absolute;
  right: -10px;
  top: 0;
  transform: translateY(-15px);
  width: 30px;
  height: 30px;
  background-color: $color-accent;
  color: $color-white;
  border-radius: 50%;

  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }
}

// групування кнопок внизу
.btn-group {
  position: sticky;
  bottom: 0;
  width: 100%;
  // margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.749);
  .btn {
    @include flex-box-center;
    font-size: $t-med;
    background-color: $color-accent;
    color: $color-dark;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;

    &:disabled {
      background-color: rgba(128, 128, 128, 0.67);
    }

    .fa-regular,
    .fa-solid {
      font-size: $t-max;
      color: $color-dark;
    }
  }
}

// посилання на меню
.flex-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// посилання на меню
.link-t {
  @include flex-box;
  @include box-shadow;
  border: none;
  color: $color-white;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.683);
  border-radius: 20px;
  .fa-solid {
    color: $color-white;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.791));
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: not-allowed;
    color: #929292;
    .fa-solid {
      color: #929292;
    }
  }
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px - 1rem);
  height: 100%;
  padding-top: 10px;
  @include s1-s3 {
    padding-top: 0px;
  }
  .card-animation {
    position: absolute;
    overflow: auto;
    width: 85%;
    height: 90%;
    @include s1-s3 {
      width: 100%;
      height: 100%;
    }
    @include box-shadow;
    border-radius: 20px;
    background-color: $color-white;
    .card-content {
      @include flex-box-column;
      position: relative;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      border-radius: 20px;
    }
  }
}

// Назва меню
.menu-box {
  border: none;
  width: 200px;
  background-color: transparent;
  transition: 1s;
  color: $color-dark;
  &:hover {
    transform: scale(1.05);
    .menu-lable,
    .menu-name {
      color: $color-accent;
      font-weight: bold;
    }
  }
  .menu-lable,
  .menu-name {
    font-size: 20px;
    color: $color-dark;
    font-weight: 600;
  }
  .menu-name {
    font-size: $t-min;
  }
  padding-right: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.568);
  &.active {
    .menu-lable,
    .menu-name {
      color: $color-accent;
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
  }
}

// Розмітка сторінки
.content-component {
  height: calc(100vh - 1rem);
  width: 100%;
  // overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  .switch-container {
    @include flex-box;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    z-index: 50;
    position: sticky;
    top: 0;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.197);
    border-top: 1px solid rgba(128, 128, 128, 0.197);
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.824) 10%,
      rgba(255, 255, 255, 0.653) 70%,
      rgba(0, 0, 0, 0) 100%
    );

    @include s1-s3 {
      border: none;
    }

    .switch-btn-group {
      @include flex-box-column;
      position: relative;
      width: 80px;
    }

    .btn-menu {
      @include flex-box-column;
      flex: 1;
    }

    .btn {
      @include flex-box-column;
      justify-content: center;
      height: 50px;
      width: 80px;
      background-color: transparent;
      border: none;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
        .fa-solid,
        .fa-regular {
          color: $color-accent;
          font-size: 36px;
        }
        .t-min {
          color: $color-accent;
        }
      }
      @include s1-s3 {
        width: auto;
        flex: 1;
      }
      &.active {
        .fa-solid,
        .fa-regular {
          color: $color-accent;
          font-size: 36px;
        }
        color: $color-accent;
        font-weight: bold;
        filter: drop-shadow(0px 0px 2px $color-accent);
      }
      .fa-solid,
      .fa-regular {
        font-size: 30px;
      }
    }
  }

  .main-container {
    display: flex;
    height: calc(100vh - 100px - 1rem);
    width: 100%;
    .paginator-container {
      height: 80px;
    }
    .card-container {
      display: flex;
    }
    .cards-container {
      @include flex-box;
      flex-wrap: wrap;
      height: calc(100vh - 80px - 100px - 1rem);
      overflow: auto;
      width: 100%;
      align-content: flex-start;
      .card-mini {
        @include flex-box;
        @include box-shadow;
        cursor: pointer;
        background-color: $color-white;
        position: relative;
        width: 96%;
        height: 130px;
        overflow: hidden;
        transition: all 0.5s ease;
        border-radius: 20px;
        &:hover {
          transform: scale(1.05);
        }
        .card-mini-img-container {
          position: relative;
          width: 50%;
          height: 100%;
          overflow: hidden;
          transition: all 0.3s ease;
          &:hover {
            width: 55%;
          }
          .card-mini-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease;
            clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          }
        }
      }
      .card-mini.selected {
        transition: 1s;
        color: $color-white;
        background-color: $color-dark;
      }
    }
  }
}

.content-component::-webkit-scrollbar {
  display: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.card-wrapper::-webkit-scrollbar {
  display: none;
}

// карусель параметрів
.caruesel-container {
  @include flex-box-center;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  .carousel {
    @include flex-box-center;
    justify-content: flex-start;
    position: relative;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.823);
    overflow: hidden;
    &:hover .slide {
      animation-play-state: paused;
    }
    .slide {
      @include flex-box-center;
      height: inherit;
      animation: slideshow 15s linear infinite;
      .slide-item {
        @include flex-box-center;
        transition: 0.2s;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 10px;
        cursor: pointer;
        height: 100%;
        .fa-solid,
        .fa-brands,
        .fa-regular {
          color: $color-dark;
          font-size: 30px;
        }
        .slide-name {
          font-size: $t-min;
          padding-left: 10px;
          text-transform: capitalize;
        }
        .slide-item-box {
          @include flex-box-center;
          font-size: 30px;
          .fa-star {
            font-size: 15px;
          }
        }
        &:hover {
          background-color: $color-accent;
          transform: scale(1.05);
        }
        &.not-allowed {
          cursor: not-allowed;
          background-color: rgba(128, 128, 128, 0.711);
        }
      }
    }
  }
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// стиль відгуків
.reviews-card {
  @include flex-box-column;
  @include box-shadow;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  .reviews-group {
    @include flex-box;
    width: 100%;
    .reviews-person {
      @include flex-box;
      justify-content: flex-start;
      width: 100%;
      .reviews-person-img {
        position: relative;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .reviews-person-info {
        padding: 10px;
        font-size: $t-med;
      }
    }
    .review-mark {
      @include flex-box;
      @include box-shadow;
      height: 100%;
      padding: 5px;
      background-color: $color-accent;
      border-radius: 20px;
      .review-mark-number {
        font-size: 30px;
        font-weight: 600;
        color: $color-white;
      }
      .fa-regular {
        padding-left: 5px;
        color: $color-white;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.791));
      }
    }
  }
}

// кнопка закриття
.btn-close-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 300;
  .btn-close-box {
    @include flex-box-column;
    align-items: flex-end;
    padding: 10px;
    .btn-close {
      border: 1px solid $color-gray;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

// пагінатор
.paginator-container {
  @include flex-box;
  width: 100%;
  justify-content: space-evenly;
  .paginator-box {
    @include flex-box-column;
  }
  .paginator-btn {
    @include flex-box;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: $color-accent;
    }
  }
}

.flex-box {
  @include flex-box;
}

.flex-box-column {
  @include flex-box-column;
}

.flex-box-row {
  @include flex-box-row;
  align-items: flex-start;
  @include s1-s3 {
    flex-wrap: wrap;
  }
}

// вікно додаткової інформації
.content-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
}

.inputbox-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

// вікно додаткової інформації
.info-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  z-index: 50;

  @include s1-s3 {
    width: 100%;
  }

  .info-help-box {
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: $color-dark;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
  }

  .info-help-text {
    color: $color-white;
    font-size: 14px;
  }

  .info-help-name {
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
  }

  .btn {
    background-color: $color-accent;
  }
}

// загальні обрані параметри користувача
.param-box {
  .param-name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: $color-text;

    .fa-solid {
      font-size: 30px;
    }
    button {
      border: none;
    }
    .param-name-text {
      @include flex-box;
      font-size: 12px;
      .fa-solid {
        font-size: 16px;
      }
      &:hover {
        color: $color-accent;
      }
    }
  }

  .param-label {
    font-weight: 600;
    font-size: 12px;
    margin: 2px;
    color: $color-accent;
  }

  .param-group {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .param-field {
      font-weight: 600;
      font-size: 12px;
      margin: 2px;
      border-radius: 10px;
      padding: 5px;
      background-color: $color-primary;
    }

    .param-value {
      font-weight: 400;
      font-size: 16px;
      margin: 2px;
      padding: 5px;
      color: $color-text;
    }
  }
}
// перемикач мобільний
.switch-box {
  @include flex-box;
  width: 100%;
  justify-content: flex-start;
  z-index: 50;

  .switch-btn-group {
    @include flex-box-column;
    position: relative;
    width: 80px;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    justify-content: center;
    height: 50px;
    width: 80px;
    background-color: transparent;
    border: none;

    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
    }

    .fa-solid,
    .fa-regular {
      color: $color-text;
      font-size: 30px;
    }
  }
}

// картка заглушка з лого
.stub-card {
  @include flex-box-column;
  @include box-shadow;
  justify-content: center;
  background-color: $color-white;
  border-radius: 20px;

  .stub-card-link {
    @include flex-box-column;
    transition: 0.4s;
    .stub-card-text {
      font-family: $font-main;
      font-size: 14px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }

    .stub-card-logo {
      height: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.card-menu {
  height: 550px;
  overflow: hidden;
  border-radius: 20px;
  @include flex-box;
  @include box-shadow;
  align-items: flex-start;
  position: relative;

  .param-box {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.831);
  }

  .img-wrapper {
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    .img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.link-toMenu {
  @include flex-box;
  justify-content: flex-start;
  position: relative;
  border: none;
  background-color: transparent;
  margin: 0;
  color: $color-accent;
  padding: 5px;
  transition: 1s;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.095);
    border-radius: 20px;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .fa-solid {
    color: $color-accent;
  }
}

// кнопки з функціями в панелі
.btn-panel {
  @include flex-box-column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;

  .fa-solid,
  .fa-regular {
    font-size: 30px;
    color: $color-text;
  }

  &:hover {
    color: $color-accent;
    .fa-solid,
    .fa-regular {
      transition: 0.5s;
      color: $color-accent;
    }
  }
}

.img-fluid {
  display: flex;
  height: 400px;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  position: relative;
  border: 1px solid $color-primary;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 1s;
    &:hover {
      transition: transform 1s;
      transform: scale(1.4);
    }
  }
}

.copyMessage-box {
  @include pos-abs-l;
  @include flex-box-column;
  justify-content: center;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.78);
  height: 650px;
  width: 100%;
  color: $color-text;
  .fa-regular {
    color: $color-text;
    font-size: 48px;
  }
  .copyMessage-text {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
}

.param-g {
  @include flex-box;
  border: 1px solid $color-gray;
  background-color: transparent;
  margin-top: 5px;
  border-radius: 10px;
  height: 60px;
  min-width: 50px;
  overflow: hidden;
  padding: 3px;

  &:hover {
    .bg-g {
      height: 100%;
    }
    .bg-w {
      display: none;
    }
  }

  .fa-solid,
  .fa-regular {
    color: $color-white;
  }

  .bg-g {
    @include flex-box;
    height: 70%;
    width: 100%;
    padding: 5px;
  }

  .bg-w {
    @include flex-box;
    border-top: 1px solid gray;
    height: 30%;
    width: 100%;
  }
}

// медіа запити
.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
