@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/media.scss" as *;

.info-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

.b-primary {
  @include flex-box-center;
  background-color: $color-accent;
  border-radius: 20px;
  margin: 0;
  @include box-shadow;
  color: $color-white-always;
  width: 250px;
  height: 60px;
  .fa-regular,
  .fa-solid,
  .fa-brands {
    color: $color-white-always;
    transition: 1s;
  }
  transition: 1s;
  &:hover {
    transition: 0.4s;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px $color-accent);
    .fa-regular,
    .fa-solid,
    .fa-brands {
      transform: scale(1.6);
      filter: drop-shadow(0px 0px 10px $color-accent);
      padding-right: 20px;
    }
  }
}

// відкривання фото на весь екран
.full-container-img {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 500;
  .full-wrapper-img {
    @include flex-box-center;
    height: 100vh;
    width: 100%;
    overflow: auto;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.377);
    .full-img-fluid {
      @include box-shadow;
      border-radius: 20px;
      height: auto;
      width: auto;
    }
  }
}

// панель з кнопками функцій в Дискусії та Пошуку
.panel-container {
  bottom: 0;
  display: flex;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  justify-content: flex-start;
  .wrapper {
    @include flex-box;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    .btn-panel {
      @include flex-box-column;
      justify-content: space-between;
      background-color: transparent;
      border: none;
      width: 60px;
      height: 50px;
      border-radius: 50%;
      transition: 0.5s;
      .panel-icon {
        height: 100%;
        @include flex-box-center;
        .fa-solid,
        .fa-regular {
          font-size: 30px;
          color: $color-text;
        }
        .fa-star,
        .fa-image {
          font-size: 15px;
        }
      }
      .t-min {
        font-size: 10px;
      }
      .img-btn {
        @include flex-box;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        width: 80px;
        .fa-solid,
        .fa-regular {
          color: $color-dark;
        }
      }
      &:hover {
        color: $color-accent;
        .panel-icon {
          .fa-solid,
          .fa-regular {
            transition: 0.5s;
            color: $color-accent;
          }
        }
      }
      &:disabled {
        color: $color-gray;
        .panel-icon {
          .fa-regular,
          .fa-solid {
            color: $color-gray;
          }
        }
      }
    }
  }
}

.t-min {
  font-size: 12px;
  @include s1-s3 {
    font-size: 10px;
  }
}

// вкладений компонент
.content-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  align-content: flex-start;
  justify-content: flex-start;
  // flex-direction: column;
}

// карусель параметрів на фото
.container-img {
  position: relative;
  .wrapper-img {
    border-radius: 20px;
    position: relative;
    .img-box {
      border-radius: 0px;
      overflow: hidden;
      height: 400px !important;
      .img-box-img {
        border-radius: 0px;
        height: 400px !important;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

// сповіщення помаранчева точка з номером
.status {
  @include flex-box-center;
  position: absolute;
  right: -10px;
  top: 0;
  transform: translateY(-15px);
  width: 30px;
  height: 30px;
  background-color: $color-accent;
  color: $color-white;
  border-radius: 50%;

  .fa-envelope-open-text {
    color: $color-white;
    font-size: 15px;
  }

  @include s1-s3 {
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    .fa-envelope-open-text {
      font-size: 10px;
    }
  }
}

// групування кнопок внизу
.btn-group {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  .btn {
    @include flex-box-center;
    font-size: $t-min;
    background-color: $color-accent;
    color: $color-dark;
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;

    &:disabled {
      background-color: rgba(128, 128, 128, 0.67);
    }

    .fa-regular,
    .fa-solid {
      font-size: $t-max;
      color: $color-dark;
    }
  }
}

// посилання на меню
.flex-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// посилання на меню
.link-t {
  @include flex-box;
  @include box-shadow;
  border: none;
  color: $color-white;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.683);
  border-radius: 20px;
  .fa-solid,
  .fa-regular {
    color: $color-white;
    filter: drop-shadow(5px 5px 10px $color-shadow);
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: not-allowed;
    color: #929292;
    .fa-solid {
      color: #929292;
    }
  }
}

// Назва меню
.menu-box {
  border: none;
  width: 200px;
  background-color: transparent;
  transition: 1s;
  color: $color-dark;
  &:hover {
    transform: scale(1.05);
    .menu-lable,
    .menu-name {
      color: $color-accent;
      font-weight: bold;
    }
  }
  .menu-lable,
  .menu-name {
    font-size: 20px;
    color: $color-dark;
    font-weight: 600;
  }
  .menu-name {
    font-size: $t-min;
  }
  padding-right: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.568);
  &.active {
    .menu-lable,
    .menu-name {
      color: $color-accent;
      font-weight: bold;
      filter: drop-shadow(0px 0px 2px $color-accent);
    }
  }
}

// Розмітка сторінки
.content-component {
  height: calc(100vh - 1rem);
  width: 100%;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  .switch-container {
    @include flex-box;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    z-index: 50;
    position: sticky;
    top: 0;
    margin-top: 1rem;
    border-bottom: 1px solid light-dark($color-light-gray, transparent);
    border-top: 1px solid light-dark($color-light-gray, transparent);
    // background-image: linear-gradient(to right, transparent 0%, light-dark( $color-white, transparent) 10%, light-dark( $color-gray, transparent) 70%, transparent 100%);

    @include s1-s3 {
      background-image: linear-gradient(to top, transparent 0%, $color-white 30% $color-white 100%);
      border: none;
    }

    .switch-btn-group {
      @include flex-box-column;
      position: relative;
      width: 80px;
    }

    .btn-menu {
      @include flex-box-column;
      flex: 1;
    }

    .btn {
      @include flex-box-column;
      position: relative;
      justify-content: center;
      height: 50px;
      width: 80px;
      background-color: transparent;
      border: none;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
        .fa-solid,
        .fa-regular {
          color: $color-accent;
          font-size: 36px;
        }
        .t-min {
          color: $color-accent;
        }
      }
      @include s1-s3 {
        flex: 1;
        width: 50px;
      }
      &.active {
        .fa-solid,
        .fa-regular {
          color: $color-accent;
          font-size: 36px;
        }
        .t-min {
          color: $color-accent;
        }
        font-weight: bold;
        filter: drop-shadow(0px 0px 2px $color-accent);
      }
      &:disabled {
        .fa-regular,
        .fa-solid {
          color: $color-gray;
        }
      }
      .fa-solid,
      .fa-regular {
        font-size: 30px;
      }
    }
  }
  .main-container {
    height: calc(100vh - 100px - 1rem);
    width: 100%;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    .paginator-container {
      height: 80px;
    }
    .card-container {
      display: flex;
    }
    .cards-container {
      @include flex-box;
      flex-wrap: wrap;
      height: calc(100vh - 80px - 100px - 1rem - 10px);
      overflow: auto;
      width: 100%;
      align-content: flex-start;
      .card-mini {
        @include flex-box;
        @include box-shadow;
        cursor: pointer;
        background-color: $color-white;
        position: relative;
        width: 96%;
        height: 130px;
        overflow: hidden;
        transition: all 0.5s ease;
        border-radius: 20px;
        &:hover {
          transform: scale(1.05);
        }
        .card-mini-img-container {
          position: relative;
          width: 50%;
          height: 100%;
          overflow: hidden;
          transition: all 0.3s ease;
          &:hover {
            width: 55%;
          }
          .card-mini-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease;
            clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          }
        }
      }
      @include s1-s3 {
        height: calc(100vh - 80px - 100px - 1rem);
      }
      .card-mini.selected {
        transition: 1s;
        color: $color-white;
        background-color: $color-gray;
      }
    }
  }
}

.card-wrapper {
  display: flex;
  height: calc(100vh - 100px - 1rem);
  padding-top: 10px;
  position: relative;
  justify-content: center;
  &::-webkit-scrollbar {
    display: none;
  }
  @include s1-s3 {
    padding-top: 0px;
  }
  .card-content-static {
    @include flex-box-column;
    background-color: $color-white;
    position: relative;
    align-items: flex-start;
    width: 85%;
    height: calc(100% - 10px);
    border-radius: 20px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    @include s1-s3 {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .card-group {
      padding: 10px;
      z-index: 10;
      justify-content: center;
      background-image: linear-gradient(to top, transparent 0%, $color-white 60%);
    }
    .card-background {
      position: absolute;
      overflow: hidden;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      .img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      @include s1-s3 {
        border-radius: 0px;
      }
    }
  }
  .card-animation {
    @include box-shadow;
    position: absolute;
    overflow: auto;
    width: 85%;
    border-radius: 20px;
    background-color: $color-white;
    min-height: 650px;
    @include s3-s6-max {
      max-height: calc(100% - 20px);
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .card-content {
      @include flex-box-column;
      position: relative;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      border-radius: 20px;
    }
    @include s1-s3 {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      box-shadow: none;
    }
  }
}

// карусель параметрів
.caruesel-container {
  @include flex-box-center;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  .carousel {
    @include flex-box-center;
    justify-content: flex-start;
    position: relative;
    height: 80px;
    border-radius: 20px;
    background-color: $color-white;
    overflow: hidden;
    &:hover .slide {
      animation-play-state: paused;
    }
    .slide {
      @include flex-box-center;
      height: inherit;
      animation: slideshow 15s linear infinite;
      flex: 1;
      .slide-item {
        @include flex-box-center;
        transition: 0.2s;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 10px;
        cursor: pointer;
        height: 100%;
        .fa-solid,
        .fa-brands,
        .fa-regular {
          color: $color-dark;
          font-size: 30px;
        }
        .slide-name {
          font-size: $t-min;
          padding-left: 10px;
          text-transform: capitalize;
        }
        .slide-item-box {
          @include flex-box-center;
          font-size: 30px;
          .fa-star {
            font-size: 15px;
          }
        }
        &:hover {
          background-color: $color-accent;
          transform: scale(1.05);
        }
        &.not-allowed {
          cursor: not-allowed;
          background-color: $color-light;
        }
      }
    }
  }
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// стиль відгуків
.reviews-card {
  @include flex-box-column;
  @include box-shadow;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  .reviews-group {
    @include flex-box;
    width: 100%;
    .reviews-person {
      @include flex-box;
      justify-content: flex-start;
      width: 100%;
      .reviews-person-img {
        position: relative;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .reviews-person-info {
        padding: 10px;
        font-size: $t-med;
      }
    }
    .review-mark {
      @include flex-box;
      @include box-shadow;
      height: 100%;
      padding: 5px;
      background-color: $color-accent;
      border-radius: 20px;
      .review-mark-number {
        font-size: 30px;
        font-weight: 600;
        color: $color-white;
      }
      .fa-regular {
        padding-left: 5px;
        color: $color-white;
        filter: drop-shadow(5px 5px 10px $color-shadow);
      }
    }
  }
}

// кнопка навігації
.btn-feedback {
  color: $color-text;
  background-color: transparent !important;
  padding: 5px;
  font-size: $t-med;
  .fa-regular {
    color: $color-text;
    font-size: $t-med;
  }
  &:hover {
    color: $color-accent;
    .fa-regular {
      color: $color-accent;
    }
  }
}

// кнопка закриття
.btn-close-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 300;
  .btn-close-box {
    @include flex-box-column;
    align-items: flex-end;
    padding: 10px;
    .btn-close {
      border: 1px solid $color-gray;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

// пагінатор
.paginator-container {
  @include flex-box;
  width: 100%;
  justify-content: space-evenly;
  .paginator-box {
    @include flex-box-column;
  }
  .paginator-btn {
    @include flex-box;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: $color-accent;
    }
  }
}

.flex-box {
  @include flex-box;
}

.flex-box-column {
  @include flex-box-column;
}

.flex-box-row {
  @include flex-box-row;
  align-items: flex-start;
  @include s1-s3 {
    flex-wrap: wrap;
  }
}

// вікно додаткової інформації
.content-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  color: $color-text;
}

.inputbox-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  color: $color-text;
}

// вікно додаткової інформації
.info-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  z-index: 50;
  color: $color-text;

  @include s1-s3 {
    width: 100%;
  }

  .info-help-box {
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: $color-dark;
    border: 1px solid $color-white;
    border-radius: 10px;
    padding: 8px;
  }

  .fa-solid,
  .fa-regular {
    color: $color-white;
  }

  .info-help-text {
    color: $color-white;
    font-size: 14px;
  }

  .info-help-name {
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
  }

  .btn {
    background-color: $color-accent;
  }
}

// загальні обрані параметри користувача
.param-box {
  .param-name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: $color-text;

    .fa-solid {
      font-size: 30px;
    }
    button {
      border: none;
    }
    .param-name-text {
      @include flex-box;
      font-size: 12px;
      .fa-solid {
        font-size: 16px;
      }
      &:hover {
        color: $color-accent;
      }
    }
  }

  .param-label {
    font-weight: 600;
    font-size: 12px;
    margin: 2px;
    color: $color-accent;
  }

  .param-group {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .param-field {
      font-weight: 600;
      font-size: 12px;
      margin: 2px;
      border-radius: 10px;
      padding: 5px;
      background-color: $color-primary;
    }

    .param-value {
      font-weight: 400;
      font-size: 16px;
      margin: 2px;
      padding: 5px;
      color: $color-text;
    }
  }
}

// картка заглушка з лого
.stub-card {
  justify-content: center !important;
  align-items: center !important;

  .stub-card-link {
    @include flex-box-column;
    transition: 0.4s;
    .stub-card-text {
      font-family: $font-main;
      font-size: 14px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 10px $color-shadow);
    }

    .stub-card-logo {
      height: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

// .card-menu {
//   height: 550px;
//   overflow: hidden;
//   border-radius: 20px;
//   @include flex-box;
//   @include box-shadow;
//   align-items: flex-start;
//   position: relative;

//   .param-box {
//     z-index: 10;
//     background-color: rgba(255, 255, 255, 0.831);
//   }

//   .img-wrapper {
//     position: absolute;
//     overflow: hidden;
//     border-radius: 20px;
//     .img {
//       width: 100%;
//       object-fit: cover;
//     }
//   }
// }

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

// Кнопки функціоналу
.link-menu {
  @include flex-box-center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 60px;
  color: $color-text;
  text-align: start;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.154);
  border: 1px solid rgba(128, 128, 128, 0.237);
  .link-menu-t1 {
    font-size: $t-med;
  }
  .link-menu-t2 {
    font-weight: 600;
    font-size: 20px;
  }
  .link-icon {
    padding: 0 10px;
  }
  .link-text {
    font-size: 14px;
    font-family: $font-main;
  }
  .fa-solid,
  .fa-regular {
    color: $color-text;
    font-size: 30px;
  }
  &:hover {
    transform: scale(1.1);
    border-radius: 0px;
    color: $color-accent;
    transition: 1s;
    filter: drop-shadow(0px 0px 10px $color-accent);
    .link-menu-t2,
    .link-menu-t1 {
      color: $color-accent;
    }
    .flex-column {
      transform: translateX(20px);
      transition: 1s;
    }
    .link-icon {
      transform: translateX(-10px);
      transition: 1s;
    }
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transition: 1s;
    }
  }
  &.active {
    transform: scale(1.1);
    color: $color-accent;
    transition: 1s;
    filter: drop-shadow(0px 0px 10px $color-accent);
    .link-menu-t2,
    .link-menu-t1 {
      color: $color-accent;
    }
    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transition: 1s;
    }
  }
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
  }
}

.img-fluid {
  display: flex;
  height: 400px;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  position: relative;
  border: 1px solid $color-primary;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 1s;
    &:hover {
      transition: transform 1s;
      transform: scale(1.4);
    }
  }
}

// .copyMessage-box {
//   @include pos-abs-l;
//   @include flex-box-column;
//   justify-content: center;
//   z-index: 300;
//   background-color: rgba(255, 255, 255, 0.78);
//   height: 650px;
//   width: 100%;
//   color: $color-text;
//   .fa-regular {
//     color: $color-text;
//     font-size: 48px;
//   }
//   .copyMessage-text {
//     text-align: center;
//     font-size: 30px;
//     font-weight: 600;
//   }
// }

.param-g {
  @include flex-box;
  border: 1px solid $color-gray;
  background-color: transparent;
  margin-top: 5px;
  border-radius: 10px;
  height: 60px;
  min-width: 50px;
  overflow: hidden;
  padding: 3px;

  &:hover {
    .bg-g {
      height: 100%;
    }
    .bg-w {
      display: none;
    }
  }

  .fa-solid,
  .fa-regular {
    color: $color-white;
  }

  .bg-g {
    @include flex-box;
    height: 70%;
    width: 100%;
    padding: 5px;
  }

  .bg-w {
    @include flex-box;
    border-top: 1px solid gray;
    height: 30%;
    width: 100%;
  }
}

.bg-none {
  background-color: transparent !important;
  box-shadow: none !important;
}

// медіа запити
.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
