@use "../style/presets/" as *;
@use "../style/mixins/" as *;

.flex-box {
  @include flex-box;
}

.flex-box-column {
  @include flex-box-column;
}

.flex-box-row {
  @include flex-box-row;
}

// вікно додаткової інформації
.content-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
}

.inputbox-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

// вікно додаткової інформації
.info-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  z-index: 50;

  @include s1-s3 {
    width: 100%;
  }

  .info-help-box {
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: $color-dark;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
  }

  .info-help-text {
    color: $color-white;
    font-size: 14px;
  }

  .info-help-name {
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
  }

  .btn {
    background-color: $color-accent;
  }
}

// загальні обрані параметри користувача
.param-box {
  .param-name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: $color-text;

    .fa-solid {
      font-size: 30px;
    }
    .param-name-text {
      @include flex-box;
      font-size: 12px;
      .fa-solid {
        font-size: 16px;
      }
      &:hover {
        color: $color-accent;
      }
    }
  }

  .param-label {
    font-weight: 600;
    font-size: 12px;
    margin: 2px;
    color: $color-accent;
  }

  .param-group {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .param-field {
      font-weight: 600;
      font-size: 12px;
      margin: 2px;
      border-radius: 10px;
      padding: 5px;
      background-color: $color-primary;
    }

    .param-value {
      font-weight: 400;
      font-size: 16px;
      margin: 2px;
      padding: 5px;
      color: $color-text;
    }
  }
}
// перемикач мобільний
.switch-box {
  @include flex-box;
  width: 100%;
  justify-content: space-evenly;
  z-index: 50;

  .switch-btn-group {
    @include flex-box-column;
    position: relative;
  }

  .btn-menu {
    @include flex-box-column;
    flex: 1;
  }

  .btn {
    @include flex-box-column;
    justify-content: center;
    height: 50px;
    background-color: transparent;

    &.active {
      .fa-solid,
      .fa-regular {
        color: $color-accent;
        font-size: 36px;
      }
    }

    .fa-solid,
    .fa-regular {
      color: $color-text;
      font-size: 30px;
    }
  }
}

// картка заглушка з лого
.stub-card {
  @include flex-box-column;
  @include box-shadow;
  justify-content: center;
  background-color: $color-white;
  border-radius: 20px;

  .stub-card-link {
    @include flex-box-column;
    transition: 0.4s;
    .stub-card-text {
      font-family: $font-main;
      font-size: 14px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }

    .stub-card-logo {
      height: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}


.link-toMenu {
  transition: 1s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.095);
    border-radius: 20px;
    letter-spacing: 3px;
    font-weight: 600;
  }
}


// медіа запити
.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
