@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss" as *;

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  min-height: 70vh;
}

.switch-box {
  @include s1-s3 {
    overflow-x: auto;
  }
  .switch-btn-group {
    .btn {
      width: 80px;
    }
  }
}
