@use "../../style/presets/" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.card {
  display: flex;
  background-color: rgba(18, 17, 17, 0.792);
  color: white;
  padding: 10px;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-radius: none;
}

.content {
  display: flex;
  margin: 5px;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkBox-span {
  margin-top: 5px;
  font-size: 1em;
}

.container-box {
  display: flex;
  align-items: flex-end;
}

.clear {
  clear: both;
}

.form-box {
  width: 100%;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.container-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

a {
  padding: 0.5em 1em;
}

.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-menu {
  color: rgba(18, 17, 17, 0.8078431373);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert-danger {
  position: absolute;
  bottom: -2rem;
  background: none;
  color: rgb(242, 132, 132);
  border: none;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  z-index: 30;
  font-size: 13px;
  align-items: center;
}

p {
  color: $color-light;
}

.btn-group {
  display: flex;
}

.btn {
  width: 100%;
  margin: 10px;
  color: $color-light;
  height: 45px;
}

.fa-solid,
.fa-regular {
  color: $color-white;
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));


    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.btn-deleted{
  background-color: tomato;
  &:hover {
    transition: 0.4s;
    filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 0.733));

    .fa-solid,
    .fa-regular {
      color: rgba(255, 0, 0, 0.733);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

.btn-menu {
  font-family: $font-main;
  width: 240px;
  height: 40px;
  background-color: $color-white;
  border-radius: 10px;
  border: none;
  display: flex;
  padding: 10px;
  color: $color-text;
  margin: 10px;
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

p {
  font-size: 10px;
  color: $color-text !important;
  text-align: center;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.text-info {
  font-size: 0.9em;
  color: black !important;
}

.btn-text {
  font-size: 0.8em;
}

.img-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.form-box {
  height: 100%;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.see-password {
  z-index: 10;
  position: absolute;
  right: 4rem;
  top: 10px;
  background: none;
  border: none;
  width: 40px;
}

.icon {
  background: none !important;
  position: relative !important;
  font-size: 18px;
  color: #d2d0d06b;
}

.span {
  display: flex;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-body-cast {
  background: none;
}

.form-select {
  width: 240px;
}

.navbar-house {
  display: flex;
  flex-direction: column;
  border-top: 1px solid tomato;
  border-bottom: 1px solid tomato;
  justify-content: center;
  align-items: flex-end;
}

a {
  background-color: none;
}

.link-text {
  font-size: 20px;
}

.link-menu {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: translate(20px) scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(10px) scale(1.1);
      transition: 0.4s;
    }
  }
}

.input-cast {
  font-size: 16px;
  color: $color-accent;
  background: none;
  border-radius: 10px;
  padding: 10px;
  border: 2px groove $color-accent;
  &:focus-visible {
    border: 2px groove $color-accent;
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.796);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  border: solid 4px rgba(231, 231, 231, 0);
  border-top: solid 5px tomato;
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotation_51512 2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s;
}

@keyframes rotation_51512 {
  70% {
    box-shadow: 0px 0px 10px 50px tomato;
  }

  90% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.04);
  }

  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}

.btn-link{
  width: 100%;
  margin: 10px;
  background-color: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: $color-text;
}

.box-date {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list {

  display: flex;
  justify-content: center;
  align-items: stretch;
}

.list-form {
  border: none;
  height: 4rem;
  background-color: none;
}
.list-label {
  border: none;
  padding: 0;
}
.list-select {
  border: none;
  font-size: 15px;
}
.list-option {
  border: none;
  border-radius: 10px;
}








