<ng-template #content>

  <div class="container">
    <div class="container-card">

      <div class="card-box hide-mobile col-lg-3 col-md-4 col-12">
        <div class="card-menu">

          <div class="hide-mobile" *ngIf="!selectedName">
            <app-selection-account></app-selection-account>
          </div>

          <div *ngIf="selectedName" class="flex-column">
            <div class="text-min">Вам надано доступ на перегляд статистики по оселі:</div>
            <div class="text-title">{{selectedName}}</div>
          </div>

          <div class="mt-2" *ngIf="!selectedName">
            <app-selection-housing></app-selection-housing>
          </div>
          <app-select-year class="mt-3"></app-select-year>
          <app-select-month></app-select-month>
          <app-select-comun></app-select-comun>

          <div *ngIf="discussio_view === false">
            <div class="btn-box" *ngIf="!showInput">
              <div class="btn-name">
                <button class="btn-2" matTooltip="ВИДАЛИТИ ПОСЛУГУ" color="warn" (click)="openDialog()"><i
                    class="fa-regular fa-circle-xmark"></i></button>
                <mat-label>Видалити</mat-label>
              </div>
              <div class="btn-name">
                <button class="btn-2" (click)="showInput = true" matTooltip="СТВОРИТИ ПОСЛУГУ" *ngIf="!showInput">
                  <i class="fa-solid fa-circle-plus"></i>
                </button>
                <mat-label>Створити</mat-label>
              </div>
            </div>

            <div class="box" *ngIf="showInput">
              <mat-form-field class="inputbox" appearance="outline">
                <mat-label>Оберіть або створіть нову</mat-label>
                <input matInput [(ngModel)]="newComun" placeholder="Виберіть або введіть послугу"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let name of popular_comunal_names" [value]="name">
                    {{ name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <div class="btn-group">
                <div class="btn-name">
                  <button mat-icon-button class="btn-2" matTooltip="ПІДТВЕРДИТИ" (click)="createComunName()">
                    <i class="fa-solid fa-circle-check"></i>
                  </button>
                  <mat-label>СТВОРИТИ</mat-label>
                </div>

                <div class="btn-name">
                  <button mat-icon-button class="btn-2" matTooltip="ВІДМІНА" (click)="showInput = false">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </button>
                  <mat-label>ВІДМІНА</mat-label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-12">

        <div class="menu-btn-box">
          <button class="link-item p-2 hide-pc w-25" (click)="showPanel()" [ngClass]="{ 'active': controlPanel }"> <span
              class="link-text">ПАНЕЛЬ УПРАВЛІННЯ</span>
            <i class="fa-solid fa-outdent"></i>
          </button>
          <app-comun-nav class="hide-mobile"></app-comun-nav>
          <app-comun-nav class="w-75 scroll-menu hide-pc"></app-comun-nav>
        </div>
        <div class="card-menu hide-pc" *ngIf="controlPanel">
          <div *ngIf="selectedName" class="flex-column">
            <div class="text-min">Вам надано доступ на перегляд статистики по оселі:</div>
            <div class="text-title">{{selectedName}}</div>
          </div>

          <div class="mt-2" *ngIf="!selectedName">
            <app-selection-housing></app-selection-housing>
          </div>
          <app-select-year class="mt-3"></app-select-year>
          <app-select-month></app-select-month>
          <app-select-comun></app-select-comun>

          <div *ngIf="discussio_view === false">
            <div class="btn-box" *ngIf="!showInput">
              <div class="btn-name">
                <button class="btn-2" matTooltip="ВИДАЛИТИ ПОСЛУГУ" color="warn" (click)="openDialog()"><i
                    class="fa-regular fa-circle-xmark"></i></button>
                <mat-label>Видалити</mat-label>
              </div>
              <div class="btn-name">
                <button class="btn-2" (click)="showInput = true" matTooltip="СТВОРИТИ ПОСЛУГУ" *ngIf="!showInput">
                  <i class="fa-solid fa-circle-plus"></i>
                </button>
                <mat-label>Створити</mat-label>
              </div>
            </div>

            <div class="box" *ngIf="showInput">

              <mat-form-field class="inputbox" appearance="outline">
                <mat-label>Оберіть або створіть нову</mat-label>
                <input matInput [(ngModel)]="newComun" placeholder="Виберіть або введіть послугу"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let name of popular_comunal_names" [value]="name">
                    {{ name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <div class="btn-group">
                <div class="btn-name">
                  <button mat-icon-button class="btn-2" matTooltip="ПІДТВЕРДИТИ" (click)="createComunName()">
                    <i class="fa-solid fa-circle-check"></i>
                  </button>
                  <mat-label>СТВОРИТИ</mat-label>
                </div>

                <div class="btn-name">
                  <button mat-icon-button class="btn-2" matTooltip="ВІДМІНА" (click)="showInput = false">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </button>
                  <mat-label>ВІДМІНА</mat-label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>

    </div>
  </div>

</ng-template>

<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>