@use "../../style/presets/" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

.card-menu {
  color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.inputbox {
  display: flex;
  height: 60px !important;
  align-items: stretch;
  flex-direction: column;
}

.list-select {
  border: none;
  font-size: 15px;
}

.btn-box {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.btn-2 {
  background-color: rgba(78, 42, 42, 0);
  border: none;
  margin-left: 5px;
  height: 56px;
  padding: 5px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  &:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 0.733));
  }
}

.fa-solid,
.fa-regular {
  font-size: 40px;
  color: $color-white;
  transition: transform 0.5s;

  &:hover {
    color: $color-accent;
    transform: scale(1.2);
  }
}

.mr-1 {
  margin-right: 5px;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.btn-create {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: tomato;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(1.8);
      transition: transform 0.5s;
    }
  }
}

.btn-deleted {
  background-color: tomato;
  &:hover {
    transition: 0.4s;
    filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 0.733));

    .fa-solid,
    .fa-regular {
      color: rgba(255, 0, 0, 0.733);
      transform: scale(1.8);
      transition: transform 0.5s;
    }
  }
}
