<div class="services">
  <div>
    <h4>Послуги:</h4>
  </div>
  <div class="card-container p-2">
    <div class="card-wrapper card mb-4" *ngFor="let subscriber of subscribers">
      <div class="card-img-container">
        <img class="card-img-top" [src]="subscriber.photoUrl" alt="Card image cap">
      </div>
      <div class="card-body">
        <h2 class="card-title">{{subscriber.name}}</h2>
        <div class="card-social-link">
          <a href="{{ subscriber.instagram }}"><i class="fab fa-brands fa-instagram"></i></a>
          <a href="{{ subscriber.telegram }}"><i class="fab fa-brands fa-telegram"></i></a>
          <a href="{{ subscriber.viber }}"><i class="fab fa-brands fa-viber"></i></a>
          <a href="{{ subscriber.facebook }}"><i class="fab fa-brands fa-facebook"></i></a>
        </div>
        <div class="btn-group">
          <button class="btn m-1" (click)="approveSubscriber(subscriber)">УХВАЛИТИ</button>
          <button class="btn m-1" (click)="removeSubscriber(subscriber)"><i class="fa-solid fa-user-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
