@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

ul {
  color: $color-accent;
  font-weight: 600;
  font-size: 11px;
  font-weight: 600;
}

li {
  color: $color-dark;
  font-size: 11px;
  font-weight: 400;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  max-height: 30vh;
}

textarea::-webkit-scrollbar {
  display: none;
}

.agree {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
  width: 100%;
}

.control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.749);
  .btn {
    @include flex-box-center;
    font-size: $t-min;
    background-color: $color-accent;
    color: $color-dark;
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;

    &:disabled {
      background-color: rgba(128, 128, 128, 0.67);
    }

    .fa-regular,
    .fa-solid {
      font-size: $t-max;
      color: $color-dark;
    }
  }
}

.btn {
  width: 200px;
  display: flex;
  font-size: 14px;
  background-color: white;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

  .fa-solid,
  .fa-regular {
    color: $color-dark;
  }

  @include s1-s3 {
    width: 100%;
  }
}

.title-box {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  @include s1-s3 {
    font-size: 20px;
  }
}
.accent {
  font-weight: 600;
  color: $color-accent;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include s1-s3 {
    flex-direction: column;
  }
}

.logo {
  width: 130px;
}

.item-description {
  color: $color-text;
  font-size: 10px;
  margin-top: 5px;
}

.wrapper-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.agree-wrapper {
  width: 50%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
}

.container-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about {
  width: 100%;
  min-height: 200px;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  font-size: 12px;
}

.input-box {
  display: flex;
  width: 100%;
  height: 45px !important;
  align-items: flex-end;
  border-bottom: 1px solid $color-gray;
  padding: 0px 10px;
  position: relative;
}

.signature {
  color: rgb(54, 54, 54);
  width: 30%;
  height: 30px;
  padding: 0px 10px;
  font-size: 8px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.agree-field {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.page-number {
  display: none;
}

.first-page,
.second-page {
  position: relative;
}

@media print {
  .agree {
    position: relative;
    width: 100%;
    background-color: $color-white;
    box-shadow: none !important;
    color: $color-text;
    padding: 0px;
    margin: 0;
    overflow: visible;
    height: auto;
  }

  .logo {
    width: 120px;
    height: 100px;
  }

  ul,
  li {
    font-size: 10px;
  }

  .item-description {
    color: $color-text;
    font-size: 10px;
    margin-top: 5px;
  }

  .title {
    font-size: 22px;
  }

  .btn,
  .btn-close {
    display: none !important;
  }

  .first-page {
    position: relative;
    height: calc(100% - 100px);
  }

  .btn-group {
    display: none;
  }

  .second-page {
    position: relative;
    page-break-before: always !important;
    height: calc(100% - 100px);
  }

  .page-number {
    display: block;
    font-size: 12px;
    color: $color-text;
  }

  .control {
    display: none;
  }
}
