@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;
@use "../../../../style/agree/act.doc.scss";
@use "../agree-menu/agree-menu.component.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.card-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
}
.container-box {
  @include flex-box;
  align-items: flex-start;
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  @include s3-s6-max {
    background-color: $color-primary !important;
  }
}

.flex-box {
  align-items: stretch;
  @include s1-s3 {
    flex-direction: column;
  }
}



.checkbox-section {
  background-color: $color-white;
}

.card-user {
  border-radius: 20px;
  height: 130px;
  width: 100%;
  background-color: $color-white;
  overflow: hidden;
  @include box-shadow;
  .img-wrapper {
    @include flex-box;
    height: 100%;
    .img-fluid {
      height: 100%;
      object-fit: cover;
    }
  }
}

.flex-column {
  display: flex;
  justify-content: center;
}

.btn-box-btn {
  @include flex-box;
  height: 60px;
  width: 100%;
  margin: 5px 0 5px 0;
  border: none;
  // background-color: $color-white;
  // border: 1px solid $color-gray;
  border-radius: 20px;
  transition: 1s;

  &:hover {
    letter-spacing: 4px;
  }
}

.btn-box-btn.active {
  background-color: $color-accent;
}

.card-body {
  @include flex-box-column;
  justify-content: flex-start;
  align-items: flex-start;
}
