@use "../../../../style/agree/agree_about.scss";
@use "../../../../style/shared.scss";
@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

.video {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  @include box-shadow;
  @include s1-s3 {
    width: 96%;
    height: 220px;
  }
}

.content-child {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.item-box {
  @include flex-box;
  @include box-shadow;
  width: 100%;
  justify-content: flex-start;
  border-radius: 20px;
  margin-top: 10px;
  height: 120px;
  background-color: $color-white;

  .link-t {
    @include flex-box;
    @include box-shadow;
    border: none;
    color: $color-white-always;
    height: 100%;
    .fa-solid,
    .fa-regular {
      color: $color-white-always;
      filter: drop-shadow(5px 5px 10px $color-shadow);
    }
    &.active {
      background-color: $color-accent;
    }
  }

  .link-t:disabled {
    background-color: transparent;
    border-radius: 20px;
    cursor: not-allowed;
    color: $color-gray;
    .fa-solid,
    .fa-regular {
      color: $color-gray;
    }
  }

  .item-d {
    @include flex-box-column;
    margin: 0;
  }
}
