@use "../../../../style/presets/" as *;
@use "../../../../style/mixins/" as *;

li {
  border-bottom: 1px solid $color-gray;
}

img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;
  transition: transform 1s;
}

.page-number {
  display: none;
}

.container-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.box-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 70px;
  display: flex;
  transition: 0.4s;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    background-color: $color-accent;
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-white;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }

  &:hover {
    background-color: $color-accent;
    color: $color-white;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-white;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.link-text {
  text-align: center;
  font-size: 10px;
}

.card-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-white;
  border-radius: 10px;
  margin-bottom: 10px;

  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  @include s1-s3 {
    width: 97%;
  }
}

.item-box {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}
.item-name {
  color: $color-dark;
  font-size: 18px;
  font-weight: 600;
}
.text {
  font-size: 12px;
}
.box-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 10px;
}
.input-mat {
  height: 70px !important;
}

.btn {
  margin: 0;
  width: 150px;
  display: flex;
  height: 40px;
  font-size: 10px;
  background-color: white;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn-agree {
  font-size: 18px;
  width: 100%;
  height: 60px;
  background-color: $color-white;
}

.agreement-container {
  position: relative;
}

.btn-group-abs {
  position: absolute;
  display: flex;
  top: -60px;
  right: 0;
  align-items: center;
  justify-content: center;
  @include s1-s3 {
    top: 0px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

.agree {
  position: relative;
  width: 100%;
  background-color: $color-white;
  padding: 20px 50px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.first-page,
.second-page {
  position: relative;
}

.second-page {
  position: relative;
  page-break-before: always !important;
  margin-top: 1cm;
  height: 90vh;
}
.title-box {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.title-group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.title-text {
  font-size: 14px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
}
.accent {
  font-weight: 600;
  color: $color-accent;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logo {
  width: 150px;
}

.wrapper-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.agree-wrapper {
  width: 50%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
}
.input-box {
  display: flex;
  width: 100%;
  height: 40px !important;
  align-items: flex-end;
  border-bottom: 1px solid $color-gray;
  padding: 0px 10px;
  position: relative;
}
.signature {
  color: rgb(54, 54, 54);
  width: 30%;
  height: 30px;
  padding: 0px 10px;
  font-size: 8px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-filling {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.box-filling-img {
  display: flex;
}
.card-filling {
  display: flex;
  width: 30%;
  border: 1px solid $color-gray;
  border-radius: 10px;
  position: relative;
}
.card-name {
  font-size: 9px;
}

.card-body {
  display: flex;
  position: relative;
  padding-right: 10px;
  padding-left: 5px;
}

.card-name {
  width: 100%;
  display: flex;
  position: absolute;
  top: -16px;
  right: 20px;
  font-size: 12px;
  font-weight: 600;
  justify-content: flex-end;
}

.icon {
  position: absolute;
  top: -22px;
  right: -22px;
  width: 35px;
  height: 35px;
  background-color: $color-white;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid $color-gray;
}

.text-about {
  font-size: 10px;
}

.img-fluid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.characteristics-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-primary;
}

@media print {
  .page-number {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
  }

  .page {
    position: relative;
    page-break-inside: avoid;
    overflow: visible;
    box-sizing: border-box;
    background-color: $color-white;
    height: 94vh;
  }

  .page2 {
    margin-top: 1cm;
  }

  .page + .page {
    page-break-before: always;
  }

  .agree {
    box-shadow: none !important;
    color: $color-text;
    width: 100%;
    background-color: $color-white;
    padding: 20px 50px;
  }

  .card-filling {
    max-width: 30%;
  }

  .group-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .logo {
    width: 120px;
    height: 100px;
  }

  ul,
  li {
    font-size: 10px;
  }

  .text-about {
    font-size: 8px;
  }

  .title-text {
    font-size: 10px;
  }

  .card-name {
    font-size: 9px;
  }

  .btn,
  .btn-close {
    display: none !important;
  }
}
