<div class="box" *ngIf="selectedFlatId">
  <mat-label class="group-label">Управління будинком/ОСББ</mat-label>
  <mat-label class="description">Додайте ім'я та контакти представника будинку для того щоб можна було вирішити питання які
    виникнуть стосовно будинку</mat-label>
  <div class="inputbox-group">
    <mat-form-field class="item-select w-50 p-1" appearance="outline">
      <mat-label>Телефон</mat-label>
      <input type="tel" name="osbb_phone" matInput [(ngModel)]="flatInfo.osbb_phone" [maxlength]="10"
        [pattern]="phonePattern">
    </mat-form-field>

    <mat-form-field class="item-select w-50 p-1" appearance="outline">
      <mat-label>Ім'я</mat-label>
      <input name="osbb_name" matInput [(ngModel)]="flatInfo.osbb_name">
    </mat-form-field>
  </div>

  <mat-label class="group-label">Налаштування оселі</mat-label>
  <mat-form-field class="item-select m-1" appearance="outline">
    <mat-label>Пароль WiFi</mat-label>
    <input placeholder="Введіть пароль від WiFi" name="wifi" matInput [(ngModel)]="flatInfo.wifi">
  </mat-form-field>

  <mat-label class="group-label">Картка власника для оплати</mat-label>
  <mat-form-field class="item-select m-1" appearance="outline">
    <mat-label>Картка для оплати</mat-label>
    <input ngxMask="'0000 0000 0000 0000'" placeholder="0000 0000 0000 0000" [maxLength]="19" name="pay_card" matInput
      [(ngModel)]="flatInfo.pay_card" (input)="formatCreditCard($event)">
  </mat-form-field>



  <div class="form-floating p-1">
    <textarea #textArea class="form-control scrollable-textarea" id="floatingTextarea" [(ngModel)]="flatInfo.info_about"
      name="info_about" (input)="onInput()"></textarea>
    <label for="floatingTextarea">
      <p>Додаткова інформація про оселю:</p>
    </label>
  </div>

  <div class="btn-group">
    <button class="btn" matTooltip="ЗБЕРЕГТИ" (click)="saveInfo()"><i
        class="icon fa-regular fa-circle-check"></i></button>
    <button class="btn" matTooltip="ОЧИСТИТИ" (click)="clearInfo()"><i class="icon fa-solid fa-eraser"></i></button>
  </div>
</div>
