@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";
@use "../parameters/parameters.component.scss";

.fa-solid, .fa-regular {
  font-size: 20px;
  color: $color-dark;
  width: 30px;
}
