<div class="info-container" *ngIf="helpRepair || helpBalcony">
  <div class="info-help-box" *ngIf="helpRepair">
    <i class="fa-solid fa-info"></i>
    <div class="info-help-name">Типи ремонту</div>
    <div class="info-help-text">
      <ul>Стан ремонту квартири може бути описаний як:
        <li><span class="bold">Новий</span> - коли ремонт був зроблений недавно і квартира знаходиться в ідеальному
          стані.</li>
        <li><span class="bold">Добрий</span> - коли ремонт був зроблений декілька років тому, але квартира все ще в
          гарному стані і не потребує серйозних ремонтних робіт.</li>
        <li><span class="bold">Задовільний</span> - коли квартира потребує деяких ремонтних робіт, але загалом її
          стан
          прийнятний для проживання.</li>
        <li><span class="bold">Поганий</span> - коли квартира потребує серйозного ремонту та оновлення.</li>
      </ul>
    </div>
    <button class="btn" (click)="openHelpRepair()">Зрозуміло</button>
  </div>

  <div class="info-help-box" *ngIf="helpBalcony">
    <i class="fa-solid fa-info"></i>
    <div class="info-help-name">Типи балконів</div>
    <div class="info-help-text">
      <ul>Існує кілька типів балконів, серед яких можна виділити наступні:
        <li><span class="bold">Класичний балкон</span> - це традиційний тип балкона, що виступає з будівлі. Він може
          мати різну форму та розмір, зазвичай огороджений металевою або скляною перегородкою.</li>
        <li><span class="bold">Французький балкон</span> - це маленький балкон без платформи, зазвичай з
          відкриваючимися дверима або вікном. Французький балкон може бути виконаний з металу або скла.</li>
        <li><span class="bold">Лоджія</span> - це балкон засклений або закритий з трьох сторін, який можна
          використовувати як простір для відпочинку або для зберігання речей. Лоджія може мати різні форми та
          розміри.
        </li>
        <li><span class="bold">Тераса</span> - це відкритий простір, зазвичай розташований на даху будівлі або на
          відкритому майданчику, який можна використовувати як простір для відпочинку або для вирощування рослин.
        </li>
        <li><span class="bold">Веранда</span> - це відкритий простір, який прилягає до будівлі та зазвичай
          огороджений
          з трьох сторін. Веранда може мати різні форми та розміри.</li>
      </ul>
    </div>
    <button class="btn" (click)="openHelpBalcony()">Зрозуміло</button>
  </div>
</div>

<mat-label align="start" class="filter-label">Оселя</mat-label>
<p class="t-med gray mb-2">Введіть параметри оселі.</p>

<div *ngIf="flatInfo">

  <section class="section-chown">
    <mat-label align="start" class="label-section"><i class="fa-solid fa-house-chimney-window"></i>
      Тип оселі:</mat-label>
    <mat-button-toggle-group name="option_flat" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.option_flat"
      aria-label="Тип оселі">
      <mat-button-toggle [value]="'1'">Будинок</mat-button-toggle>
      <mat-button-toggle [value]="'2'">Квартира</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <section class="building-section al-c p-2">
    <!-- Будинок з поверхами -->
    <div class="building-wrapper">
      <div class="building" [ngStyle]="{'height.px': floorCount * 20}">
        <div *ngFor="let floor of floors" class="floor" [ngClass]="{'selected-floor': floor === selectedFloor}"
          (click)="updateSelectFloor(floor)">
          {{ floor }} <span class="t-min thin pl-1"> поверх</span>
        </div>
      </div>
    </div>

    <!-- Повзунок для вибору поверховості -->
    <section class="range-section">
      <p class="t-lar-xx"><i class="fa-solid fa-stairs"></i> Поверховість <br>
        <span class="bold accent"> {{ floorCount }}</span> пов.
      </p>
      <label for="floorCount" class="form-label dark">Встановіть поверховість</label>
      <input type="range" min="1" max="47" [(ngModel)]="floorCount" (input)="updateFloors()" class="form-range"
        id="floorCount">
      <p class="t-lar-xx" *ngIf="!flatInfo.floor"> Оберіть поверх на будиночку</p>
      <p class="t-lar-xx" *ngIf="flatInfo.floor"> Вибраний поверх: <br>
        <span class="bold accent"> {{ flatInfo.floor }} </span> пов.
      </p>
    </section>

  </section>

  <button class="label action " (click)="openHelpRepair()">Оберіть стан оселі <i
      class="fa-solid fa-circle-info"></i></button>

  <section class="range-section">
    <p class="t-lar-xx">
      <i class="fa-solid fa-paint-roller"></i> Стан оселі: {{ flatInfo.repair_status }}%
    </p>
    <input (ngModelChange)="updateRepairStatusName()" [(ngModel)]="flatInfo.repair_status" type="range"
      class="form-range" min="0" max="100" step="10" id="repair_status">
    <p class="form-label dark"> {{ repairStatusName }} </p>
  </section>

  <section class="range-section">
    <p class="t-lar-xx"><i class="fa-solid fa-compass-drafting"></i> Загальна S - {{ flatInfo.area }} м²
    </p>
    <label for="area" class="form-label dark">Встановіть площу оселі</label>
    <input (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.area" type="range" class="form-range" min="0"
      max="100" step="5" id="area_of">
  </section>

  <section class="range-section">
    <p class="t-lar-xx"><i class="fa-solid fa-utensils"></i> Кухня S - {{ flatInfo.kitchen_area }} м²</p>
    <label for="kitchen_area" class="form-label dark">Встановіть площу кухні</label>
    <input (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.kitchen_area" type="range" class="form-range"
      min="0" max="50" step="5" id="kitchen_area">
  </section>

  <section class="section-chown">
    <mat-label align="start" class="label-section"><i class="fa-solid fa-hotel"></i>
      Кількість кімнат:</mat-label>
    <mat-button-toggle-group (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.rooms" name="rooms"
      aria-label="Кількість кімнат">
      <mat-button-toggle [value]="0">Неважливо</mat-button-toggle>
      <mat-button-toggle [value]="1">1</mat-button-toggle>
      <mat-button-toggle [value]="2">2</mat-button-toggle>
      <mat-button-toggle [value]="3">3</mat-button-toggle>
      <mat-button-toggle [value]="4">4</mat-button-toggle>
      <mat-button-toggle [value]="5">5+</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <button class="label action " (click)="openHelpBalcony()">Оберіть тип балкону <i
      class="fa-solid fa-circle-info"></i></button>

  <mat-form-field class="item-select p-1" appearance="outline">
    <mat-select placeholder="Балкон" (ngModelChange)="onSubmitWithDelay()" [(ngModel)]="flatInfo.balcony"
      name="balcony">
      <mat-option [disabled]=""><span class="item-disabled">Очистити</span></mat-option>
      <mat-option value="Неважливо">Неважливо</mat-option>
      <mat-option value="Класичний">Класичний</mat-option>
      <mat-option value="Французький">Французький</mat-option>
      <mat-option value="Лоджія">Лоджія</mat-option>
      <mat-option value="Тераса">Тераса</mat-option>
      <mat-option value="Веранда">Веранда</mat-option>
    </mat-select>
    <mat-icon matSuffix><i class="fa-regular fa-eye"></i></mat-icon>
    <mat-hint align="start">Тип балкону</mat-hint>
  </mat-form-field>
</div>

<div [@appearance] class="btn-group">
  <button class="b-primary mr-2" (click)="setToogleMenu()">
    <i class="fa-regular fa-circle-xmark"></i>
  </button>

  <button [disabled]="activeFilter === 0" class="b-primary mr-2 custom-badge" (click)="clearFilter()"
    matBadge="{{activeFilter}}" [matBadgeHidden]="activeFilter === 0">
    <i class="fa-solid fa-broom"></i>
  </button>

  <button class="b-primary p-2" (click)="saveInfo()">
    <div class="t-med bold white">ЗБЕРЕГТИ</div>
    <i class="fa-regular fa-circle-check pl-2 white"></i>
  </button>
</div>
