@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";
@use "../../../style/discussi.scss";

.card-box {
  position: relative;
  width: 100%;
}

.card-menu {
  height: 78vh;
  width: 100%;
}

.card-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.card-animation::-webkit-scrollbar {
  display: none;
}

.btn-panel {
  &.active {
    color: $color-accent;
    .fa-solid,
    .fa-regular {
      color: $color-accent;
    }
  }
}

.radio-group {
  @include flex-box;
  justify-content: space-evenly;
  .radio-btn {
    @include flex-box;
    position: relative;
  }
}

.abs {
  @include abs-position;
  @include flex-box;
  background-color: $color-white;
  border-radius: 50%;
  z-index: 10;
  font-size: 30px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    color: $color-accent;
  }
}

.abs.active {
  color: $color-accent;
  transform: scale(1.5);
}

.checkbox-container {
  font-family: $font-main;
  .checkbox-group {
    @include flex-box;
    padding: 0 10px;
    justify-content: space-between;
    .checkbox-btn {
      width: 35px;
      border-radius: 50%;
      border: 1px solid $color-primary;
      background-color: transparent;
    }
  }
}

.img-btn.active {
  color: $color-accent;
  transform: scale(1.1);
}

.not-allowed {
  cursor: not-allowed;
}
