<div class="form-box">
  <mat-form-field class="list-form m-1" appearance="outline">
    <mat-label class="list-label">Рік</mat-label>
    <mat-select class="list-select" name="selectedYear" [(ngModel)]="selectedYear"
      (selectionChange)="onSelectionChangeYear()" required>
      <mat-option class="list-option" *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="list-form m-1" appearance="outline">
    <mat-label class="list-label">Місяць</mat-label>
    <mat-select class="list-select" name="selectedMonth" [(ngModel)]="selectedMonth"
      (selectionChange)="onSelectionChangeMonth()" required>
      <mat-option class="list-option" *ngFor="let month of months" [value]="month">
        {{ month }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
