<div [@bot] class="container-info">

  <div class="info-content">
    <div class="img-wrapper">
      <img class="img" src="../../../assets/example-agree/stats1.jpg" alt="Menu Image" loading="lazy">
      <div class="blure"></div>
    </div>

    <div class="info-wrapper ">
      <div class="info">
        <i class="fa-solid fa-person-hiking"></i>
        <p class="t-lar-x bold mb-2">Як це працює?</p>

        <h1 class="t-c">Статистика оселі та комунальні</h1>

        <h2 class="t-med bold mb-2 t-c mt-2">Ця функція спрощує обмін іфнормацією між орендарем
          та орендодавцем, дозволяючи точно відслідковувати витрати на оселю та формувати звіти про споживання ресурсів.
        </h2>

        <p class="t-med t-c">
          Це робить процес обліку як комунальних послуг так і облік всіх змін в вашій оселі більш прозорим та допомагає
          уникнути спорів між сторонами.
        </p>

        <p class="t-med t-c">
          Ви можете <strong>створювати картки послуг</strong> з наданих шаблонів або свої власні, для того щоб почати
          вести сатистику.
        </p>

        <a class="b-primary mi-wi-250 m-2" [routerLink]="'/house/communal/add'">
          <i class="fa-solid fa-sliders"></i>
          <div class="flex-column pl-2 t-e">
            <p class="t-med white">Керування</p>
            <p class="t-min white">Додати постачальника послуг</p>
          </div>
        </a>

        <p class="t-med t-c">
          Обравши різні варіанти розрахунку
          витрат, ви маєте можливість <strong>вести свою власну статистику</strong>, проводячи детальний розрахунок
          використання комунальних ресурсів по місяцям.
        </p>

        <a class="b-primary mi-wi-250 m-2" [routerLink]="'/house/communal/stat-month'">
          <i class="fa-solid fa-calendar-day"></i>
          <div class="flex-column pl-2 t-e">
            <p class="t-med white">Місяць</p>
            <p class="t-min white">Звіт за місяць</p>
          </div>
        </a>

        <p class="t-med t-c">Або за цілий рік, в якому будуть зазначені витрати на ремонт або поліпшення умов проживання
        </p>

        <a class="b-primary mi-wi-250 m-2" [routerLink]="'/house/communal/stat-year'">
          <i class="fa-solid fa-chart-pie"></i>
          <div class="flex-column pl-2 t-e">
            <p class="t-med white">Рік</p>
            <p class="t-min white">Звіт за рік</p>
          </div>
        </a>

        <a class="t-c p-3" [routerLink]="'/feedback'" [queryParams]="{ category: 'Профіль орендаря' }">
          <div class="t-med bold mr-2 accent">Є ідея як зробити краще? <i class="fa-regular fa-lightbulb accent"></i>
          </div>
        </a>

      </div>
      <app-footer></app-footer>
    </div>
  </div>

</div>
