@use "./../../../../style/shared.scss" as *;
@use "./../../../../style/presets/" as *;
@use "./../../../../style/mixins/" as *;

.card-content-static {
  // @include box-shadow;
  background-color: transparent !important;
}

.box-shadow {
  @include box-shadow;
}

.img-wrapper {
  .img {
    height: 550px;
  }
}

.card-content-static {
  @include flex-box-center;
  justify-content: space-between;
  .gif-box {
    @include flex-box-center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .home-img {
      width: 100%;
      filter: drop-shadow(2px 2px 8px $color-dark);
      object-fit: cover;
    }

    .home-img2 {
      width: 100%;
      object-fit: cover;
      filter: drop-shadow(2px 2px 8px $color-dark);
    }
  }
  .flex-column {
    width: 40%;
    @include flex-box-center;
    flex-direction: column;
  }
  @include s1-s3 {
    flex-wrap: wrap;
    flex-direction: column;
    .gif-box {
      width: 100%;
      .home-img,
      .home-img2 {
        width: 100%;
      }
    }
    .flex-column {
      width: 100%;
    }
  }
}
