@use "app/style/presets/" as *;
@import 'bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
}

body {
  background-color: $color-primary;
  font-family: $font-main;
}

a {
  font-family: $font-main;
  color: $color-text;
  overflow: hidden;

  text-decoration: none;
  display: block;
  border-radius: 10px;

  &.active {
    background-color: $color-accent;
    color: white;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-accent;
    border-color: rgb(255, 255, 255);

    .fab {
      color: $color-accent;
      transform: scale(1.4);
      transition: transform 2s;
    }

  }
}

.container-fluid{
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}

.container-title{
  padding: 10px;
  border-radius: 10px;
}

.card{
  width: auto;
  border-radius: 10px;
  background-color: $color-gray-light;
  box-shadow: inset 0 0 2px black, 10px 0 20px black, inset 0 0 0 black;
}

.card-body{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 10px;
}

img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;
  border-radius: 10px;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
    border-radius: 10px;
  }
}

.img-fluid{
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;

}

.fa-solid, .fa-regular {
  color: $color-icon;
  font-size: 25px;
  transition: transform 1s;
}

.carousel-inner{
  border-radius: 10px;
}


