/* You can add global styles to this file, and also import other style files */
@use "app/style/presets/" as *;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
}

body {
  background-color: $color-primary;
  font-family: $font-main;
}

