@use "app/style/presets/" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-main;
}

body {
  background-color: $color-primary;
}

a {
  padding: 0.5em 1em;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $font-main;
  color: $color-text;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  transition: 0.3s ease;

  &.active {
    color: $color-accent;
  }

  .fab {
    color: $color-accent;
    transform: scale(1.4);
    transition: transform 2s;
  }
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.2);
    border-radius: 10px;
  }
}

.img-fluid {
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}

.fa-solid,
.fa-regular {
  color: $color-icon;
  font-size: 25px;
  transition: transform 1s;
}

.carousel-inner {
  border-radius: 10px;
}
