<form [@cardAnimation] class="container-card">
  <div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="card m-2">
      <!-- Фото оселі -->
      <div class="card-name">
        <h4>Фото оселі</h4>
      </div>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img-wrapper" *ngIf="flatImg?.length > 0">
              <img [src]="'http://localhost:3000/img/flat/' + flatImg[0].img" alt="Flat Image" class="img-fluid rounded">
            </div>
          </div>
          <div class="carousel-item" *ngFor="let image of flatImg?.slice(1)">
            <div class="img-wrapper">
              <img [src]="'http://localhost:3000/img/flat/' + image.img" alt="Flat Image" class="img-fluid rounded">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <p>Додати фото оселі</p>
      <div class="photo-box">
        <div class="input-group">
          <input type="file" class="form-control" (change)="onFileSelected($event)" id="upload"
          aria-describedby="upload" aria-label="Upload">
        </div>
        <p>Завантажити нове фото</p>
        <button class="btn-create" id="upload" (click)="onUpload()" type="button"><i
            class="fa-solid fa-circle-check"></i></button>
      </div>

    </div>
  </div>
  <div class="card-box col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="card m-2">
      <div>
        <p>Додати документи на оселю</p>
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile02">
        </div>
      </div>

      <div>
        <p>Додати існуючу угоду</p>
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile02">
        </div>
      </div>

      <!-- Кнопки -->
      <div class="btn-group">
        <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
        <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
      </div>

    </div>
  </div>
</form>

<div *ngIf="loading" class="loader-overlay">
  <div class="loader"></div>
</div>

