@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.flex-box {
  display: flex;
  flex-direction: column;
  .room {
    height: 40px;
    font-size: 26px;
    color: $color-text;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: $color-text;
}

.container-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-box-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  border-radius: 20px;
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;

  .img-wrapper {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.shadow {
  border-radius: 20px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.647),
    0 10px 10px rgba(0, 0, 0, 0.522);
}

.card-1 {
  width: 100%;
  display: flex;
  color: $color-dark;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.label-1 {
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}

.card-box {
  display: flex;
}

.card {
  width: 100%;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.card-body-cast {
  background: none;
}

.text-info {
  font-size: 0.8em;
  color: $color-dark !important;
}

.box-filling {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  overflow: auto;
  align-content: flex-start;
  justify-content: space-evenly;
  @include s1-s3 {
    height: 70vh;
  }
}

.box-filling::-webkit-scrollbar {
  display: none;
}

.card-filling {
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  transition: 1s;
  position: relative;
}

.box-img.selectedCard {
  transform: scale(1.05);
  border: 1px solid $color-accent;
}

.box-img {
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.img-card {
  width: 100%;
}

.btn-delete {
  position: absolute;
  top: 20;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  z-index: 20;
  .fa-solid {
    color: $color-white;
  }

  &:hover {
    .fa-solid {
      color: $color-accent;
    }
  }
}

.indicator-box {
  @include flex-box-row;
  z-index: 99;
  top: 0;
  height: 20px;
  width: 100%;
  position: sticky;
  background-color: $color-primary;
}

.indicator-photo {
  @include flex-box;
  justify-content: center;
  align-items: center;
  transition: 1s;
  padding: 3px;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: $color-white;
  border-radius: 50%;

  .fa-solid {
    font-size: 14px;
  }

  &:hover {
    color: $color-accent;
    transform: scale(1.2);
  }
}
