@use "../../../style/presets/" as *;

.container-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.card {
  width: 100%;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.card-1 {
  width: 100%;
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.647), 0 10px 10px rgba(0, 0, 0, 0.522);
}

.carousel {
  margin-bottom: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-box-photo {
  display: flex;
  flex-direction: column;
}

.card-box {
  display: flex;
}

.card-name {
  display: flex;
}

.btn-group {
  display: flex;
}
.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  color: $color-light;
  height: 45px;
  font-size: 12px;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  font-size: 0.9em;
  color: $color-white !important;
}

.form-select {
  background-color: none;
  &:hover {
    background-color: $color-white;
  }
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1em 5px 1em 5px;
  border-radius: 10px;
  flex-direction: column;
  align-items: stretch;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  right: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #8f8f8f87;
  letter-spacing: 00.05em;
  transition: 0.6s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: white;
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox .orange {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ .orange,
.inputbox input:focus ~ .orange {
  height: 2.5rem;
}

.img-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

select {
  font-size: 16px;
  padding: 5px;
  color: $color-accent;
  background: $color-primary;
  border: 1px groove $color-accent;
  border-radius: 10px;
}

.card-body-cast {
  background: none;
}

.input-cast {
  font-size: 16px;
  color: $color-accent;
  background: none;
  border-radius: 10px;
  padding: 10px;
  border: 2px groove $color-accent;
  &:focus-visible {
    border: 2px groove $color-accent;
  }
}


.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}
.form-control {
  width: 100%;
  background: none;
  border: 2px solid $color-accent;
  color: $color-dark;
}
.btn-create {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: tomato;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  &:hover {
    transition: 0.4s;
    background-color: $color-white;
    filter: drop-shadow(0px 0px 40px rgb(59, 247, 2));

    .fa-solid,
    .fa-regular {
      color: rgb(59, 247, 2);
      transform: scale(2.5);
      transition: transform 0.5s;
    }
  }
}

mat-label {
  font-size: 15px;
  color: $color-accent;
}

.text-info {
  font-size: 0.8em;
  color: $color-dark !important;
}

.label-1 {
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}

.label {
  cursor: pointer;
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}

.input-div {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 20px $color-primary, inset 0px 0px 10px $color-primary,
    0px 0px 5px rgb(255, 255, 255);
  transition: 1s;

  &:hover {
    background-color: $color-dark;
  }
}

.icon-up {
  color: $color-accent;
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 8s linear infinite;
}

.input-up {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid $color-accent;
    box-shadow: 0px 0px 10px $color-primary, inset 0px 0px 10px $color-primary,
      0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


