@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;

.container-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  @include s1-s3 {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.card-box-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  border-radius: 10px;
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;

  .img-wrapper {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.shadow {
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.647),
    0 10px 10px rgba(0, 0, 0, 0.522);
}

.card-1 {
  width: 100%;
  display: flex;
  background-color: $color-white;
  color: $color-dark;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.label-1 {
  font-size: 15px;
  color: $color-accent;
  font-weight: 600;
}
.input-div {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow:
    0px 0px 20px $color-primary,
    inset 0px 0px 10px $color-primary,
    0px 0px 5px rgb(255, 255, 255);
  transition: 1s;

  &:hover {
    background-color: $color-dark;
  }
}

.card-box {
  display: flex;
}

.card {
  width: 100%;
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 0.8117647059);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.card-body-cast {
  background: none;
}

.text-info {
  font-size: 0.8em;
  color: $color-dark !important;
}
