<div class="card-content p-2">
  <mat-form-field class="list-form w-100 p-2" appearance="fill">
    <mat-select id="sortSelect" [(ngModel)]="selectedSortOption" (selectionChange)="sortData()"
      placeholder="Фільтрувати за типом">
      <mat-option value="">Без фільтрування</mat-option>
      <mat-option value="Вел. побутова техніка">Вел. побутова техніка</mat-option>
      <mat-option value="Мал. побутова техніка">Мал. побутова техніка</mat-option>
      <mat-option value="Кліматична техніка">Кліматична техніка</mat-option>
      <mat-option value="Меблі">Меблі</mat-option>
      <mat-option value="Ванна кімната">Ванна кімната</mat-option>
      <mat-option value="Лічильники">Лічильники</mat-option>
    </mat-select>
    <mat-hint align="end" class="t-min gray">Фільтр наповнення оселі</mat-hint>
  </mat-form-field>

  <div class="box-filling" (panstart)="onPanStart($event)" (panend)="onPanEnd($event)">
    <div *ngFor="let flat of flat_objects" class="card-filling mb-2"
      [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }" (click)="selectCard(flat)">
      <div class="box-img w-30" [ngClass]="{ 'selectedCard': flat.filling_id === selectedCard }">
        <img class="card-img" [src]="getImageSource(flat)" alt="User Image">
        <img class="icon" [src]="getIconUrl(flat.type_filling, flat.name_filling)" alt="{{ flat.name_filling }} icon" />
      </div>
      <button class="btn-delete flex-box" (click)="deleteObject(flat)" matTooltip="Видалити">
        <i class="fa-solid fa-xmark"></i></button>

      <div class="flex-column w-70 p-2" *ngIf="flat.filling_id !== selectedCard">
        <div class="t-min">Тип: <span class="accent">{{ flat.type_filling }}</span> </div>
        <div class="t-min">Назва: <span class="accent">{{ flat.name_filling }}</span> </div>
        <div class="t-min">Стан: <span class="accent">{{ selectCondition[flat.condition_filling] }}</span>
        </div>
        <div class="t-min">Кількість: <span class="accent">{{ flat.number_filling }}</span> </div>
      </div>
      <div class="t-min p-2" *ngIf="flat.filling_id === selectedCard">Опис: {{ flat.about_filling }} <span
          *ngIf="!flat.about_filling">Тут Ви можете описати предмет, його характеристики, стан, правила
          користування,
          додати інструкції і т.д</span>
      </div>
    </div>
  </div>

</div>