@use "../style/presets/" as *;
@use "../style/mixins/" as *;

mat-radio-group {
  display: flex;
  justify-content: center;
}

.position-sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  @include s1-s3 {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 30%);
  }
}

.search-header {
  @include flex-box-column;
}

.bold {
  font-size: 18px;
}

.flex-box {
  @include flex-box-column;
  .btn {
    font-size: 28px;
  }
}

.flex-box-column {
  @include flex-box-column;
}

.flex-box-row {
  @include flex-box-row;
  justify-content: space-evenly;
}

.search-group {
  display: flex;

  .search-filter {
    @include flex-box-column;

    .search-filter-switch {
      @include flex-box-row;
      justify-content: space-evenly;
    }

    .search-filter-group {
      @include flex-box;
      flex-wrap: wrap;
      .search-filter-group-name {
        font-size: 16px;
      }
    }
  }
}

mat-label {
  font-size: 12px;
  color: $color-text;
}

mat-hint {
  font-size: 12px;
  color: $color-text;
}

.title-page {
  font-size: 18px;
  text-transform: uppercase;
}

.btn {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow:
    5px 5px 20px rgba(0, 0, 0, 0.105),
    5px 5px 20px rgba(0, 0, 0, 0.162);

  &:hover {
    color: $color-accent;
    box-shadow:
      5px 5px 20px rgba(244, 79, 2, 0.991),
      5px 5px 20px rgba(0, 0, 0, 0.162);
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow:
      5px 5px 20px rgba(244, 79, 2, 0.991),
      5px 5px 20px rgba(0, 0, 0, 0.162);
  }

  @include s1-s3 {
    width: 60px;
    height: 60px;
  }
}

.item-select {
  width: 100%;
  font-size: 14px;
  @include s1-s3 {
    font-size: 12px;
  }
}

.custom-paginator {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .paginator-count {
    display: flex;
  }

  .paginator-info {
    display: flex;
    font-size: 13px;
  }

  .paginator-button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
  }
}

.search_panel {
  @include flex-box-row;
  align-items: baseline;
  height: 70px;
  @include s1-s3 {
    padding-top: 10px;
    height: 30px;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}
