@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.card-container {
  @include flex-box-row;
  align-items: flex-start;
}

.card-wrapper {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.3s ease;
  align-items: center;
  width: 100%;
  height: 150px;
  justify-content: flex-end;
}
.card-mini {
  position: relative;
  background-color: $color-white;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 90%;
  box-shadow:
    10px 2px 15px rgba(0, 0, 0, 0.25),
    10px 3px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  @include s1-s3 {
    width: 100%;
  }
}

.card-img-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 60%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
}

.item-deskr {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.deskr-box {
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.item-characteristics-1 {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-white;
  color: $color-dark;
}

.card-selected {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: auto;
  height: 650px;
  @include s1-s3 {
    height: auto;
    overflow: visible;
  }
}

.img-container {
  border-radius: 10px;
  height: 400px;
  width: 100%;
  position: relative;
}

.img-wrapper {
  display: flex;
  overflow: hidden;
  z-index: -1;
}

.img-fluid {
  width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;
  z-index: 0;
}

.user-group {
  position: absolute;
  z-index: 30;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  box-shadow: inset -70px 0px 70px 0px rgb(255, 255, 255);
  align-items: flex-end;
  .user-group-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .user-sup-name {
      font-size: 12px;
      text-shadow: 0 0 5px rgb(255, 255, 255);
    }

    .user-name {
      font-size: 20px;
      font-weight: 600;
      text-shadow: 0 0 5px rgb(255, 255, 255);
    }
  }
}

.card-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item-box {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.link,
.location {
  color: $color-text;
  transition: all 0.4s ease;
  letter-spacing: 1px;

  &:hover {
    background-color: $color-gray;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }

  &.active {
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-accent;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.orange {
  color: $color-accent;
}

.white {
  color: $color-white;
}

.title-group {
  display: flex;
  border: 1px solid rgba(1, 19, 12, 0.2);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow:
    5px 2px 2px rgba(0, 0, 0, 0.25),
    2px 1px 2px rgba(0, 0, 0, 0.22);
}

.title-selected-accent {
  font-size: 16px;
  color: $color-accent;
  font-weight: 600;
}

.card-mini.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
  height: 90%;
  width: 90%;
  @include s1-s3 {
    width: 100%;
  }
}

.title-selected {
  font-size: 16px;
  color: $color-text;
}

.mob-100vh {
  @include flex-box-column;
  @include s1-s3 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-white;
    height: 100vh;
    overflow: auto;
    padding-bottom: 10px;
    z-index: 100;
  }
}

.search-results {
  height: 650px;
  overflow: auto;
  padding: 0;
  margin: 0;
  @include s1-s3 {
    width: 100%;
    height: 89vh;
  }
}

.search-results::-webkit-scrollbar {
  overflow: hidden;
}

.btn {
  display: flex;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  box-shadow:
    10px 10px 40px rgba(0, 0, 0, 0.105),
    10px 20px 40px rgba(0, 0, 0, 0.162);

  .link {
    color: $color-text;
    transition: all 0.4s ease;
    letter-spacing: 1px;

    &:hover {
      background-color: $color-gray;
      box-shadow:
        10px 10px 40px rgba(0, 0, 0, 0.105),
        10px 20px 40px rgba(0, 0, 0, 0.162);
    }

    &:active {
      transform: scale(0.8);
      letter-spacing: 0px;
      box-shadow:
        10px 10px 40px rgba(0, 0, 0, 0.105),
        10px 20px 40px rgba(0, 0, 0, 0.162);
    }

    &.active {
      letter-spacing: 5px;
      font-weight: bold;
      color: $color-accent;
      box-shadow:
        10px 10px 40px rgba(0, 0, 0, 0.105),
        10px 20px 40px rgba(0, 0, 0, 0.162);
    }
  }
}

.btn.subscribed {
  background-color: $color-dark;
}

.btn.discussion {
  background-color: $color-accent;
}

.price {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 30%);
}

.price_m {
  font-size: 20px;
  color: $color-accent;
  font-weight: 600;
  font-size: 30px;
}

.search-results2 {
  height: 650px;
  overflow: auto;
  padding: 0;
  margin: 0;
  @include s1-s3 {
    width: 100%;
    height: 73vh;
  }
}

.btn-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  display: flex;
  width: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .btn-box {
    @include flex-box-column;
    .btn {
      transition: 0.5s;
      margin: 5px 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-white;
      &:hover {
        background-color: $color-accent;
        transform: scale(1.2);
      }
    }
    .btn-name {
      font-size: 12px;
    }
  }
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .room {
    height: 40px;
    font-size: 36px;
    color: $color-text;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
  }
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: $color-text;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
