@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss" as *;

.box {
  @include flex-box;
  flex-direction: row;
  .box-btn {
    background-color: transparent;
    &:active {
      background-color: $color-accent;
    }
  }
}

.switch-box {
  position: relative;
  .switch-btn-group {
    .btn {

      .flex-box {
        position: relative;
        align-items: center;
        .fa-house-chimney-window {
          font-size: 35px;
          z-index: 90;
        }
        .t-lar {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: $color-accent;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          z-index: 100;
          color: $color-white;
        }
      }
      &:active {
        .t-min,
        .t-lar-xx,
        .fa-solid {
          color: $color-accent;
        }
      }
      .active {
        color: $color-accent;
      }
    }
  }
}

mat-radio-group {
  display: flex;
  justify-content: center;
}

mat-label {
  font-size: 12px;
  color: $color-text;
}

mat-hint {
  font-size: 12px;
  color: $color-accent;
}

.item-disabled {
  color: $color-gray;
}

.mat-icon.mat-icon {
  width: 25px;
  height: 25px;
  padding: 4px;
  margin-right: 5px;
}

.right-align {
  text-align: right;
}

.icon {
  width: 20px;
  height: 20px;
}

.item-select {
  width: 100%;
  font-size: 16px;
  flex-direction: column-reverse;
  @include s1-s3 {
    font-size: 16px;
  }
}

.fa-solid,
.fa-regular {
  color: $color-text;
}
