@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.container-img {
  position: relative;
  .wrapper-img {
    height: 350px;
    border-radius: 20px;
    position: relative;
    .img-box {
      border-radius: 0px;
      overflow: hidden;
      height: 350px !important;
      .img-box-img {
        border-radius: 20px;
        height: 350px !important;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

.img-fluid {
  height: 350px;
  border-radius: 20px;
  width: 100%;
  border: none;
}


.card-container {
  @include flex-box-row;
  align-items: flex-start;
}

.card-img-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 60%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
}

.item-deskr {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.deskr-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.item-characteristics-1 {
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: $color-white;
  color: $color-dark;
}

.card-selected {
  width: 380px;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: auto;
  height: 600px;
  @include s1-s3 {
    height: auto;
    width: 100%;
    overflow: visible;
  }
}

.user-group {
  position: absolute;
  z-index: 30;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  box-shadow: inset -70px 0px 70px 0px rgb(255, 255, 255);
  align-items: flex-end;
  .user-group-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .user-sup-name {
      font-size: 12px;
      text-shadow: 0 0 5px rgb(255, 255, 255);
    }

    .user-name {
      font-size: 20px;
      font-weight: 600;
      text-shadow: 0 0 5px rgb(255, 255, 255);
    }
  }
}

.card-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.item-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
}

.link,
.location {
  color: $color-text;
  transition: all 0.4s ease;
  letter-spacing: 1px;
  margin: 0;

  &:hover {
    background-color: $color-gray;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }

  &.active {
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-accent;
    box-shadow:
      10px 10px 40px rgba(0, 0, 0, 0.105),
      10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.orange {
  color: $color-accent;
}

.white {
  color: $color-white;
}

.card-mini.selected {
  color: white;
  background-color: $color-dark;
  transition: 1s;
}

.mob-100vh {
  @include flex-box-column;
  @include s1-s3 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-white;
    height: 100vh;
    overflow: auto;
    padding-bottom: 10px;
    z-index: 100;
  }
}

.search-results {
  @include flex-box;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: 600px;
  overflow: auto;
  padding: 0;
  margin: 0;
  @include s1-s3 {
    overflow: visible;
    width: 100%;
    height: auto;
  }
}

.card-wrapper {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 130px;
  @include s1-s3 {
    width: 100%;
  }
}

.card-mini {
  position: relative;
  background-color: $color-white;
  padding: 0;
  width: 100%;
  height: 120px;
  box-shadow:
    10px 2px 15px rgba(0, 0, 0, 0.25),
    10px 3px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  transition: 1s;
  &:hover {
    color: $color-white;
    background-color: $color-dark;
  }
}

.search-results-detail {
  @include s1-s3 {
    width: 100%;
  }
}

.search-results::-webkit-scrollbar {
  overflow: hidden;
}

.btn {
  display: flex;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  box-shadow:
    10px 10px 40px rgba(0, 0, 0, 0.105),
    10px 20px 40px rgba(0, 0, 0, 0.162);

  .link {
    color: $color-text;
    transition: all 0.4s ease;
    letter-spacing: 1px;

    &:hover {
      background-color: $color-gray;
      box-shadow:
        10px 10px 40px rgba(0, 0, 0, 0.105),
        10px 20px 40px rgba(0, 0, 0, 0.162);
    }

    &:active {
      transform: scale(0.8);
      letter-spacing: 0px;
      box-shadow:
        10px 10px 40px rgba(0, 0, 0, 0.105),
        10px 20px 40px rgba(0, 0, 0, 0.162);
    }

    &.active {
      letter-spacing: 5px;
      font-weight: bold;
      color: $color-accent;
      box-shadow:
        10px 10px 40px rgba(0, 0, 0, 0.105),
        10px 20px 40px rgba(0, 0, 0, 0.162);
    }
  }
}

.btn.subscribed {
  background-color: $color-dark;
}

.btn.discussion {
  background-color: $color-accent;
}

// .price {
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   z-index: 5;
//   bottom: 0;
//   left: 0;
//   display: flex;
//   align-items: flex-start;
//   flex-direction: column;
//   align-content: flex-start;
//   justify-content: flex-end;
//   background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 30%);
// }

.price_m {
  font-size: 20px;
  color: $color-accent;
  font-weight: 600;
  font-size: 30px;
}

.search-results2 {
  @include flex-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 650px;
  overflow: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  @include s1-s3 {
    height: 80vh;
  }
}

.btn-close {
  z-index: 99;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  right: 0;
  background-color: $color-white;
  border-radius: 50%;
  padding: 5px;
}

.btn-navigator {
  @include flex-box;
  border: none;
  border-radius: 0 0 20px 20px;

  .fa-solid {
    font-size: 20px;
    color: $color-dark;
  }
}

.btn-container {
  @include flex-box;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.673);
  height: 90px;
  padding: 5px;
  // border: 5px solid $color-white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  justify-content: flex-start;
  .img-btn-box {
    @include flex-box-column;
    .img-btn {
      @include flex-box;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      width: 80px;
      .fa-solid, .fa-regular {
        color: $color-dark;
        &:hover {
          color: $color-accent;
          @include box-shadow;
        }
      }
    }
  }
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .room {
    height: 40px;
    font-size: 36px;
    color: $color-text;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
  }
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: $color-text;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.flex-box {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.img-review-wrapper {
  overflow: hidden;
  border-radius: 50%;
  .img-review-fluid {
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
}

.param-g {
  @include flex-box;
  border: 1px solid $color-gray;
  background-color: transparent;
  margin-top: 5px;
  border-radius: 10px;
  height: 60px;
  min-width: 50px;
  overflow: hidden;
  padding: 3px;

  &:hover {
    .bg-g {
      height: 100%;
    }
    .bg-w {
      display: none;
    }
  }

  .fa-solid, .fa-regular {
    color: $color-white;
  }

  .bg-g {
    @include flex-box;
    height: 70%;
    width: 100%;
    padding: 5px;
  }

  .bg-w {
    @include flex-box;
    border-top: 1px solid gray;
    height: 30%;
    width: 100%;
  }
}

// .btn-container-close {
//   position: absolute;
//   right: 0;
// }

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}
