@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.container-loader-mini {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.status-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    box-shadow: -3px 3px 20px -10px ($color-accent, 40%);
  }

  .status-box {
    display: flex;
    flex-wrap: wrap;
  }

  .status-value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: $color-white-always;
    border-radius: 10px;
    background-color: $color-accent;
    box-shadow:
      2px 3px 10px $color-shadow,
      2px 2px 10px $color-shadow;
    font-size: 12px;
    font-weight: bold;
    .fa-solid,
    .fa-regular {
      font-size: 14px;
      color: $color-white-always;
    }
  }

  .status-hover {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 170%;
    left: 10px;
    display: none;
    background-color:  $color-dark;
    border-radius: 20px;
    padding: 8px;

    ul {
      padding: 0;
      margin: 0;
    }
    .status-hover-label {
      color: $color-accent;
      font-weight: 600;
      text-align: center;
    }

    .status-hover-text {
      color: $color-white;

      .status-hover-li {
        color: $color-white;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}

.status-container:hover .status-hover {
  display: block;
}
