<div class="agree p-3" *ngIf="selectedFlatAgree">
  <div class="close-box">
    <a class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/agree-concluded'">НАЗАД</a>
    <button class="btn" type="submit" (click)="print()">НАДРУКУВАТИ УГОДУ <i class="fa-solid fa-print"></i></button>
  </div>
  <div class="print-only page">

    <div class="first-page">
      <div class="box m-2">
        <div class="title-group">
          <img class="logo" src="../../../assets/logo/Discussio (7).svg" alt="">
          <div class="title">Discussio угода. <br> Укладання угоди оренди житлового приміщення.</div>
        </div>
        <h5>Місце укладання та дата: <span class="accent">{{ selectedAgreement?.flat?.city }}, {{
            selectedAgreement?.flat?.agreementDate | date
            }}</span>
        </h5>
      </div>
      <div class="container-agree">
        <div class="wrapper-group">
          <div class="agree-wrapper">
            <p class="item-description">Сторона орендодавця</p>
            <p class="item-agree"><span class="item-description-agree">П.І.Б: </span>{{
              selectedAgreement?.flat?.owner_lastName }} {{
              selectedAgreement?.flat?.owner_firstName }} {{ selectedAgreement?.flat?.owner_surName }}
            </p>
            <p class="item-agree"><span class="item-description-agree">User ID: </span> {{
              selectedAgreement?.flat?.owner_id }}</p>
            <p class="item-agree"><span class="item-description-agree">Телефон: </span> {{
              selectedAgreement?.flat?.owner_tell }}</p>
            <p class="item-agree"><span class="item-description-agree">Email: </span> {{
              selectedAgreement?.flat?.owner_email }}</p>
          </div>

          <div class="agree-wrapper">
            <p class="item-description">Сторона орендара</p>
            <p class="item-agree"><span class="item-description-agree">П.І.Б:</span>{{
              selectedAgreement?.flat?.subscriber_lastName }}
              {{
              selectedAgreement?.flat?.subscriber_firstName }} {{selectedAgreement?.flat?.subscriber_surName }}
            </p>
            <p class="item-agree"><span class="item-description-agree">User ID:</span> {{
              selectedAgreement?.flat?.subscriber_id }}
            </p>
            <p class="item-agree"><span class="item-description-agree">Телефон:</span> {{
              selectedAgreement?.flat?.subscriber_tell }}
            </p>
            <p class="item-agree"><span class="item-description-agree">Email:</span> {{
              selectedAgreement?.flat?.subscriber_email }}
            </p>
            <p></p>
          </div>
        </div>

        <div>
          <p class="item-description p-2">Сторона орендодавця іменований надалі "Орендодавець", з одного боку,
            і Сторона орендара іменований надалі "Орендар", з іншого боку, уклали даний договір про наступне:</p>
        </div>
      </div>
      <div class="container-fluid">
        <ul>1. Предмет договору
          <li>1.1. Орендодавець представляє Орендареві й членам його родини в користування строком на <span
              class="accent"> {{ selectedAgreement?.flat?.year }} (рік/років)</span> та
            <span class="accent"> {{ selectedAgreement?.flat?.month }} (місяць/місяців)</span>
            квартиру загальною площею: <span class="accent">{{selectedAgreement?.flat?.area}} м² </span>
            за адресою: вулиця <span class="accent">{{ selectedAgreement?.flat?.street }}, будинок {{
              selectedAgreement?.flat?.houseNumber
              }},
              квартира {{ selectedAgreement?.flat?.apartment }}</span>,
            характеристика якої наведена в акті здачі квартири.
          </li>
          <li>1.2. За згодою сторін договором встановлюється плата за оренду квартири в розмірі
            <span class="accent">{{selectedAgreement?.flat?.price}}</span> гривень на місяць, до складу якої включені
            пропорційно
            орендованої площі платежі на повне відновлення будинку, витрати на обслуговування й
            ремонт будинку й квартири, витрати по оплаті комунальних і інших послуг.
          </li>
        </ul>

        <ul>2. Обов'язку сторін
          <li>
            2.1. Орендодавець зобов'язується:
          </li>
          <li>
            2.1.1. Надати в оренду належне йому на праві власності житло в придатному для
            проживання стані.
          </li>
          <li>
            2.1.2. Здійснювати утримання будинку й технічних обладнань квартири відповідно до
            вимог користування житловими приміщеннями, утримання житлового будинку і
            прибудинкової території в Україні.
          </li>
          <li>
            2.1.3. Забезпечувати надання комунальних і інших послуг.
          </li>
          <li>
            2.2. Орендар зобов'язується:
          </li>
          <li>
            2.2.1. Використати здану йому за договором оренди квартиру за призначенням.
          </li>
          <li>
            2.2.2. Дотримуватись вимог до користування житловими приміщеннями, утриманням
            житлового будинку й прибудинкової території в Україні.
          </li>
          <li>
            2.2.3. Вчасно повідомляти Орендодавцеві про виявлені несправності елементів квартири
            й будинку.
          </li>
          <li>
            2.2.4. Не пізніше <span class="accent">{{ selectedAgreement?.flat?.rent_due_data }} дня місяця</span>
            вносити
            плату за
            оренду.
            За несвоєчасне внесення платежів оплачувати пеню з розрахунку <span class="accent">відсоток пені за
              прострочення: {{ selectedAgreement?.flat?.penalty }}%</span> від
            несплаченої суми за кожний день прострочення, але не більше <span class="accent">максимальний відсоток пені:
              {{ selectedAgreement?.flat?.max_penalty }}%</span> суми заборгованості.
          </li>
          <li> 2.2.5. Допускати в денний час, а при аваріях і в нічний час, в орендовану квартиру
            працівників Орендодавця або самого Орендодавця, а також представників підприємств по
            обслуговуванню й ремонту житла для проведення огляду й ремонту конструкцій і
            технічних обладнань квартири.
          </li>
          <li> 2.2.6. Звільнити орендоване житлове приміщення після закінчення обумовленого в
            даному договорі строку оренди.
          </li>
        </ul>

        <ul>3. Права сторін

          <li> 3.1. Орендодавець має право:
          </li>
          <li> 3.1.1. Вимагати від Орендаря дотримання вимог користування житловими приміщеннями,
            утримання житлового будинку й прибудинкової території.
          </li>
          <li> 3.1.2. Вимагати від Орендаря своєчасного внесення плати за оренду.
          </li>
        </ul>


      </div>
      <div class="page-number">Сторінка 1/2</div>
    </div>

    <div class="second-page">
      <div class="container-fluid">
        <ul>
          <li> 3.1.3. Вимагати від Орендаря звільнення житлового приміщення після закінчення строку
            договору оренди.
          </li>
          <li> 3.1.4. Продати Орендареві займану ним квартиру.
          </li>
          <li> 3.2. Орендар має право:
          </li>
          <li> 3.2.1. Вселити в орендоване житлове приміщення незалежно від згоди Орендодавця своїх
            неповнолітніх дітей, дружину (чоловіка) і непрацездатних батьків.
          </li>
          <li> 3.2.2. Вимагати від Орендодавця своєчасного і якісного виконання комплексу робіт із
            утримання житлового будинку, квартири й прибудинкової території, а також надання
            комунальних і інших послуг, передбачених договором оренди.
          </li>
          <li> 3.2.3. Викупити в Орендодавця з його згоди орендоване приміщення, уклавши договір
            купівлі-продажу.
          </li>
          <li> 3.2.4. Вимагати обґрунтування збільшення плати за оренду після укладання договору
            оренди.
          </li>
          <li> 3.2.5. Вимагати перерахунку плати за оренду при невиконанні Орендодавцем обов'язків,
            передбачених у п. п. 2.1.2.
          </li>
        </ul>
        <ul> 4. Відповідальність сторін
          <li> 4.1. Відповідальність Орендодавця:
          </li>
          <li> 4.1.1. Орендодавець відшкодовує Орендареві матеріальний збиток, заподіяний у
            результаті невиконання обов'язків, передбачених у п. п. 2.1.2 даного договору, у
            встановленому законом порядку.
          </li>
          <li> 4.2. Відповідальність Орендаря:
          </li>
          <li> 4.2.1. Орендар відшкодовує Орендодавцеві матеріальний збиток, заподіяний у результаті
            невиконання обов'язків, передбачених у п. п. 2.2.1 і п. п. 2.2.2 даного договору, у
            встановленому законом порядку.
          </li>
        </ul>
        <ul>5. Заключні умови
          <li> 5.1. Даний договір може бути розірваний із ініціативи кожної зі сторони при наявності
            умов і в порядку, передбаченому житловим законодавством.
          </li>
          <li> 5.2. Виниклі при виконанні даного договору спори між сторонами вирішуються у
            встановленому законом порядку.
          </li>
          <li> 5.3. Даний договір складений в 2-х екземплярах, один із яких перебуває в Орендодавця,
            іншої - в Орендаря.
          </li>
          <li> 5.4. Невід'ємною частиною даного договору є акт здачі квартири Орендареві.
          </li>
          <li> 5.5. Договір набуває чинності з моменту його підписання.
          </li>
        </ul>
        <ul>6. Додаткові умови від власника.
        </ul>

      </div>
      <div class="container-fluid mb-2">
        <span class="accent about">{{ selectedAgreement?.flat?.about }}</span>
      </div>
      <div class="container-fluid mb-5">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="m-2">
            <div class="item-description">Орендодавець:</div>
            <div class="field">
              <div class="input-box">
                <p class="input-box-name">Паспорт №</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p class="input-box-name">Серія</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p class="input-box-name">Виданий</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p class="input-box-name">Адреса:</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box-signature">
                <div class="signature-box w-75">
                  <div class="signature-text"> {{selectedAgreement?.flat?.owner_lastName}}
                    {{selectedAgreement?.flat?.owner_firstName}} {{selectedAgreement?.flat?.owner_surName}}</div>
                </div>
                <div class="signature w-25">підпис</div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="m-2">
            <div class="item-description">Орендар:</div>

            <div class="field">
              <div class="input-box">
                <p class="input-box-name">Паспорт №</p>
              </div>
            </div>

            <div class="field">
              <div class="input-box">
                <p class="input-box-name">Серія</p>
              </div>

              <div class="field">
                <div class="input-box">
                  <p class="input-box-name">Виданий</p>
                </div>
              </div>

              <div class="field">
                <div class="input-box">
                  <p class="input-box-name">Адреса:</p>
                </div>
              </div>

            </div>

            <div class="field">
              <div class="input-box-signature">
                <div class="signature-box w-75">
                  <div class="signature-text"> {{selectedAgreement?.flat?.subscriber_lastName}}
                    {{selectedAgreement?.flat?.subscriber_firstName}} {{selectedAgreement?.flat?.subscriber_surName}}
                  </div>
                </div>
                <div class="signature w-25">підпис</div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="page-number">Сторінка 2/2</div>
    </div>
  </div>
</div>
