<div class="menu-container">
  <div class="menu-wrapper">
    <div class="bg-menu" [ngClass]="{'active': bgMenu}">
      <div class="w-100"> <app-project-navigation></app-project-navigation> </div>
      <div class="w-100"> <app-navigation-user></app-navigation-user> </div>
      <div class="w-100"> <app-navigation-house></app-navigation-house> </div>
      <p class="t-lar bold t-c w-100 mt-3">Discussio</p>
      <p class="t-min bold t-c w-100 pb-3">Соціальна платформа для орендарів та орендодавців</p>
    </div>
  </div>
  <button class="toogleMenu" (click)="closeToogleMenu()"></button>
</div>
