@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.menu-container {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  transition: 2s;
  &.active {
    @include blurred-background($color-white, 0.8);
  }
}

.menu-wrapper {
  position: relative;
  height: 100vh;
  max-width: 500px;
  @include s1-s3 {
    width: 90%;
  }
}

.bg-menu {
  @include flex-box-center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
  z-index: 1;
  transform: translateX(-200%);
  transition: 1s;
  @include s1-s3 {
    align-items: flex-start;
    padding: 10px 10px 7vh 10px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &.active {
    transform: translateX(0%);
  }
}

.toogleMenu {
  width: 10%;
  height: 100%;
  background-color: transparent;
}
