@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss";

.switch-box {
  justify-content: space-between;
}

.statusCount {
  position: absolute;
  right: 15px;
  top: 0px;
  z-index: 50;
  .fa-solid {
    color: $color-accent;
    font-size: 15px;
  }
}

.dropdown {
  @include flex-box-column;
  width: 100%;

  .dropdown-menu {
    background-color: transparent;
    border: none;

    .dropdown-item {
      position: relative;
      @include box-shadow;
      @include flex-box;
      text-transform: capitalize;
      color: $color-text;
      justify-content: flex-start;
      border-radius: 10px;
      font-weight: 600;
      height: 50px;
      background-color: $color-white;

      &.active {
        background-color: $color-accent;
        color: $color-white;

        .fa-solid {
          color: $color-white;
        }
      }

      .fa-solid {
        color: $color-text;
        margin-right: 5px;
      }
    }
  }
}

.status {
  display: flex;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-12px);
  width: 25px;
  height: 25px;
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 50;
  &:hover {
    transform: translate(5px) scale(1.1);
  }
}
