<div class="menu-container">

  <div class="menu-content" [ngClass]="{'active': menu[1]}" (click)="closeToogleMenu(1)" *ngIf="menu[1]">
    <div appClickOutside (clickOutside)="onClickedOutside(1)" class="bg-menu" [ngClass]="{'active': bgMenu === true}">

      <div class="w-100">
        <app-project-navigation></app-project-navigation>
      </div>

      <div [@appearance] class="btn-group">
        <button class="btn" (click)="closeToogleMenu(2)">
          <i class="fa-solid fa-circle-chevron-up white pr-2"></i>
          <div class="t-med white">ЗГОРНУТИ</div>
        </button>
      </div>

    </div>
  </div>

  <div class="menu-content" [ngClass]="{'active': menu[2]}" *ngIf="menu[2]">

    <div appClickOutside (clickOutside)="onClickedOutside(2)" class="bg-menu" [ngClass]="{'active': bgMenu === true}">

      <div class="w-100">
        <app-navigation-user></app-navigation-user>
      </div>

      <div [@appearance] class="btn-group">
        <button class="btn" (click)="closeToogleMenu(2)">
          <i class="fa-solid fa-circle-chevron-up white pr-2"></i>
          <div class="t-med white">ЗГОРНУТИ</div>
        </button>
      </div>

    </div>
  </div>
  <div class="menu-content" [ngClass]="{'active': menu[3]}" *ngIf="menu[3]">

    <div appClickOutside (clickOutside)="onClickedOutside(3)" class="bg-menu" [ngClass]="{'active': bgMenu === true}">

      <div class="w-100">
        <app-navigation-house></app-navigation-house>
      </div>

      <div [@appearance] class="btn-group">
        <button class="btn" (click)="closeToogleMenu(3)">
          <i class="fa-solid fa-circle-chevron-up white pr-2"></i>
          <div class="t-med white">ЗГОРНУТИ</div>
        </button>
      </div>

    </div>
  </div>
</div>
