@use "../../style/presets/" as *;

a {
  font-family: $font-main;
  color: $color-text;
  overflow: hidden;

  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  border-radius: 10px;

  &.active {
    background-color: $color-accent;
    color: white;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-accent;
    border-color: rgb(255, 255, 255);
  }
}

.container-fluid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}


h4{
  overflow: hidden;
}

.tel {
  border: none;
  color: black;
}

.card{
  margin: 0;
  background-color: $color-gray-light;
  box-shadow: inset 0 0 2px black, 10px 10px 20px black, inset 0 0 0 black;
}

.card-body{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
}

span {
  transition: transform 1s;
}

.card-link{
  margin: 0;
  margin-bottom: 10px;
  color: $color-text;
  background-color: $color-gray-dark;
  display: flex;
  justify-content: space-between;
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-light;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid, .fa-regular {
      color: $color-accent;
      transform: translate(-200px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.img-fluid{
  overflow: hidden;
}

.list-group {
  overflow: hidden;
}

.fa-solid, .fa-regular {
  color: $color-icon;
  font-size: 25px;
  transition: transform 1s;

}


.btn-link{
  text-decoration: none;
  border-radius: 5px;
}

.input-group{
margin-bottom: 10px;
}

h5{
  padding-right: 40px;
}




