<div class="content-component">

  <div class="switch-container">

    <button class="menu-box hide-mobile" [routerLinkActive]="'active'" [routerLink]="'/home/home-page'">
      <div class="menu-lable">Головна</div>
      <div class="menu-name">Сторінка</div>
    </button>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/registration'">
        <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
        <div class="t-min">Вхід & Реєстрація</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="!authorization" class="btn" [routerLinkActive]="'active'" [routerLink]="'/user'">
        <i class="fa-regular fa-circle-user"></i>
        <div class="t-min">Профіль Користувача</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button [disabled]="!authorization" class="btn" [routerLinkActive]="'active'" [routerLink]="'/house'">
        <i class="fa-solid fa-house"></i>
        <div class="t-min">Профіль Оселі</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/about-project'">
        <i class="fa-solid fa-barcode"></i>
        <div class="t-min">Про Проект</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/our-team'">
        <i class="fa-solid fa-brain"></i>
        <div class="t-min">Розробники Проекту</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/user-licence'">
        <i class="fa-solid fa-book-open-reader"></i>
        <div class="t-min">Угода Користувача</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/support-us'">
        <i class="fa-solid fa-hands-holding-child"></i>
        <div class="t-min">Підтримати проект</div>
      </button>
    </div>



  </div>

  <div class="main-container w-100">
    <router-outlet></router-outlet>
  </div>

</div>
