@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.main-container {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.logo-name {
  font-size: 6rem;
}

.switch-container {
  background-image: none !important;
  justify-content: center !important;
}

.footer {
  width: 100%;
  position: sticky;
  bottom: 10px;
}

