<div class="content-component">

  <div class="switch-container">

    <button class="menu-box hide-mobile" [routerLinkActive]="'active'" [routerLink]="'/home/home-page'">
      <div class="menu-lable">Discussio</div>
      <div class="menu-name">Головна сторінка</div>
    </button>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/about-project'">
        <i class="fa-solid fa-barcode"></i>
        <div class="t-min">Про Проект</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/user/info'">
        <i class="fa-regular fa-circle-user"></i>
        <div class="t-min">Профіль Користувача</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/house/house-info'">
        <i class="fa-solid fa-house"></i>
        <div class="t-min">Профіль Оселі</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/search/house'">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="t-min">Discussio Пошук</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/support-us'">
        <i class="fa-solid fa-hands-holding-child"></i>
        <div class="t-min">Підтримати проект</div>
      </button>
    </div>



    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/home/our-team'">
        <i class="fa-solid fa-brain"></i>
        <div class="t-min">Розробники Проекту</div>
      </button>
    </div>

    <div class="switch-btn-group">
      <button class="btn" [routerLinkActive]="'active'" [routerLink]="'/registration'">
        <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
        <div class="t-min">Сторінка Реєстрації</div>
      </button>
    </div>

  </div>

  <div class="main-container w-100">
    <router-outlet></router-outlet>
  </div>

</div>
