@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.logo-name {
  font-size: 6rem;
}

.switch-container {
  justify-content: center !important;
  background-image: linear-gradient(
    to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)  ) !important;
}

.main-container {
  height: 100%;
  .main-content {
    height: calc(100% - 100px);
    // overflow: auto;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .footer {
    height: 100px;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
}
