@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.main-container {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.logo-name {
  font-size: 6rem;
}

.switch-container {
  background-image: none !important;
}

.btn {
  &:disabled {
    .fa-regular, .fa-solid {
      color: $color-gray;
    }
  }
}
