@use "../style/presets/" as *;
@use "../style/mixins/" as *;
@use "../style/shared.scss";

.content-component {
  height: auto !important;

  @include s1-s3 {
    height: auto;
  }

  .switch-container {
    height: 100px;
    @include s1-s3 {
      position: relative !important;
    }
  }

  .main-container {
    // height: auto !important;
    // height: calc(100vh - 100px - 1rem);
    // overflow: auto;
    position: relative;
    height: calc(100vh - 100px);

    @include s1-s3 {
      height: 100vh;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    .main-content {
      height: calc(100% - 100px);
      position: relative;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .footer {
      @include flex-box-center;
      // position: sticky;
      // z-index: 100;
      // bottom: 0;
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      @include s1-s3 {
        background-image: linear-gradient(
          to top,
          rgb(255, 255, 255) 0%,
          rgba(255, 255, 255, 0.928) 60%,
          rgba(255, 255, 255, 0.315)
        );
      }
    }
  }
}

.logo-name {
  font-size: 6rem;
}

.switch-container {
  justify-content: center !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  @include s1-s3 {
    margin-top: 0 !important;
  }
}
