@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.t-min {
  text-align: start;
}

.flex-column {
  @include flex-box-column;
  overflow: auto;
  height: calc(100% - 20px);
  align-items: center;
  @include box-shadow;
  background-color: $color-white;
}

.logo-wrapper {
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

img {
  width: 100px;
  object-fit: cover;
}
