<div class="flex-column p-5 mt-2">
  <div class="logo-wrapper">
    <img class="logo" src="../../../assets/logo/logo.svg" alt="">
  </div>
  <div class="t-lar bold">Discussio</div>
  <h1 class="title">Угода користувача</h1>
  <p class="t-med gray">Ця Угода Користувача (далі - «Угода») укладається між Користувачем та соціальною мережею -
    Discussio і регулює використання інтернет-сайту discussio.site (далі - «Сайт»), який є
    власністю Discussio.</p>
  <p class="t-lar bold">1. Загальна частина</p>
  <ol class="t-min">
    <li>Користуватися Сайтом дозволено тільки особі - Користувачу, якому виповнилось 18 років.</li>
    <li>Користуватися Сайтом дозволено тільки особі - Користувачу, що прийняла усі умови даної Угоди, яка
      розміщена за адресою discussio.site Угода користувача й інші правила, передбачені на Сайті.</li>
    <li>Користувач зобов'язаний ознайомитися з Угодою перед використанням Сайту. При використанні
      будь-якої частини Сайту, Користувач погоджується з умовами даної Угоди з Discussio. Якщо Користувач не
      погоджуєтеся
      з
      умовами Угоди, то йому не надається статус Користувача і йому забороняється використовувати Сайт.</li>
    <li>Умови Угоди поширюються на всіх користувачів Сайту - як на незареєстрованих користувачів так і на
      зареєстрованих, що мають будь-який обліковий запис. Під обліковим записом розуміється сукупність інформації про
      користувача й даних авторизації (логін, пароль).</li>
  </ol>
  <p class="t-lar bold">2. Права, обов’язки та відповідальність Користувача та Discussio</p>
  <ol class="t-min">
    <li> Повний доступ до Сайту, зокрема ознайомлення з більш повною інформацією про інших користувачів,
      відправлення повідомлень, можливі тільки для зареєстрованого Користувача (що створив обліковий запис).</li>
    <li>Якщо Користувач вважає, що на Сайті наявна інформація, що порушує його права, Користувач
      зобов'язаний повідомити про це Discussio й надати йому інформацію, яка підтверджує дане порушення прав. У випадку
      якщо Користувач надасть неправдиву інформацію про порушення його прав, він несе повну відповідальність за
      заподіяну шкоду (включаючи всі витрати, державне мито та оплату послуг адвоката).</li>
    <li> Користувачеві заборонено:
      <ul>
        <li> сприяти розпалюванню релігійної, расової або міжнаціональної ворожнечі;</li>
        <li>вчиняти дії, що порушують права і свободу, честь і гідність будь-якої особи;
          ображати будь-кого;</li>
        <li>використовувати нецензурні вислови, навіть якщо вони маскуються іншими символами; зловживати розміщенням
          не
          інформативної інформації;</li>
        <li> провокувати словесну війну, що не має відношення до первинної причини суперечки ;</li>
        <li>створювати декілька облікових записів на Сайті, якщо фактично вони належать одній і тій самій особі;
          вчиняти дії, спрямовані на введення інших користувачів в оману;
        </li>
        <li>надавати в користування свій обліковий запис та/або логін і пароль від свого облікового запису третім
          особам;
        </li>
        <li>реєструвати обліковий запис від імені або замість іншої особи. При цьому, дозволена реєстрація від імені й
          за
          дорученням іншої фізичної особи або юридичної особи за умови одержання необхідних повноважень у порядку й
          формі,
          передбачених законодавством України;</li>
        <li> розміщувати інформацію (включаючи будь-які матеріали), що порушує авторські права, права на знаки для
          товарів
          і послуг, права промислової власності та/або права на інші об'єкти інтелектуальної власності, що належать
          Discussio
          та/або третім особам;</li>
        <li>розміщувати інформацію, що порушує права й законні інтереси третіх осіб (у тому числі, розміщення
          фотографій і
          відеороликів, основним об'єктом яких є людина, якщо ця людина не давала згоди на розміщення на Сайті
          фотографії
          або відео з її участю);</li>
        <li>розміщувати матеріали рекламного, еротичного, порнографічного або образливого характеру;</li>
        <li> використовувати будь-які комп'ютерні програми для автоматизованого збору інформації на Сайті;</li>
        <li>здійснювати незаконний збір, систематизацію, зберігання або поширення персональної інформації інших
          користувачів;</li>
        <li>намагатися одержати доступ до облікового запису та/або логіну й паролю іншого Користувача будь-яким
          способом,
          включаючи, але не обмежуючись, шляхом обману, зловживання довірою, підбору логіна й пароля;</li>
        <li> розміщувати комп'ютерні віруси або програми, здатні перервати або порушити нормальну функціональність
          комп'ютерного обладнання та програмного забезпечення, а також засобів телекомунікації будь-яких осіб.</li>
      </ul>
    </li>
    <li>Відповідальність Користувача:
      <ul>
        <li>Користувач самостійно відповідає за будь-яке використання інформації, що розміщена на сайті.</li>
        <li> Користувач самостійно несе відповідальність перед третіми особами за свої дії або бездіяльність при
          використанні Сайту.</li>
        <li>Користувач зобов'язується самостійно та за свій рахунок врегулювати всі претензії третіх осіб, що
          пов'язані з
          дією або бездіяльністю Користувача при використанні Сайту.</li>
        <li>Якщо Користувачем не доведе зворотнє, будь-які дії, здійснені з використанням його облікового запису
          та/або
          його логіна й пароля, вважаються здійсненими цим Користувачем.</li>
        <li>У випадку розміщення Користувачем на Сайті інформації або здійснення інших дій, що не відповідають умовам
          Угоди, Discussio має право без повідомлення, виключно на власний розсуд, видалити розміщену Користувачем
          інформацію, включаючи ту інформацію, у відношенні якої важко визначити її відповідність Угоді та/або
          законодавству, що застосовується.</li>
        <li> За порушення умов даної Угоди, Discussio має право без попереднього повідомлення блокувати доступ
          Користувача до
          Сайту та/або видалити обліковий запис Користувача.</li>
      </ul>
    <li> Користувач зобов’язується не використовувати сервіс Системи для:
      <ul>
        <li>збирання, зберігання та обробки персональних даних інших Користувачів.</li>
        <li>видачі себе за іншу особу або представника підприємства, установи, організації без достатніх на те прав, у
          тому числі за співробітників Власника сервісу, а також введення в оману відносно якостей та характеристик
          будь-яких суб’єктів або об’єктів.</li>
        <li> завантаження, відправки, передачі або будь-якого іншого способу публікації матеріалів, які Користувач не
          має
          права робити доступними відповідно до законодавства або інших договірних відносин.</li>
        <li>завантаження, відправки, передачі або іншого способу публікації будь-яких матеріалів, що містять віруси
          або
          інші комп’ютерні коди, файли або програми, що призначені для порушення, знищення чи обмеження
          функціональності
          будь-якого комп’ютера або телекомунікаційного обладнання.</li>
        <li>завантаження, відправки, передачі або іншого способу публікації будь-яких програм для здійснення
          несанкціонованого доступу, а також серійні номери до комерційних програмних продуктів і програми для їх
          генерації, логіни, паролі та інші засоби для отримання несанкціонованого доступу до платних ресурсів в
          мережі
          Інтернет, а також розміщення посилань на вищезазначену інформацію.</li>
        <li>здійснення іншої протизаконної діяльності, що порушує права та зачіпає інтереси третіх осіб та вводить в
          оману
          інших користувачів мережі Інтернет. Користувач самостійно несе всю відповідальність за вказані в цьому
          пункті
          дії та зобов’язується відшкодувати Адміністратору усі витрати, що він поніс у зв’язку з такими діями
          Користувача.</li>
      </ul>
    </li>
    <li>Відповідальність Discussio:
      <ul>
        <li> Discussio не несе відповідальності за використання третіми особами інформації, розміщеної Користувачем на
          Сайті,
          включаючи її копіювання, відтворення й поширення, здійснені як у рамках Сайту, так і іншими можливими
          способами.
        </li>
        <li>Discussio не відшкодовує збиток, прямий або непрямий, заподіяний Користувачеві або третім особам у
          результаті
          використання або невикористання, у т.ч. неможливості використання Сайту.</li>
        <li>Discussio не приймає на себе зобов'язань по перевірці, зміні та контролю інформації, що розташована будь-ким
          на
          Сайті, не гарантує й не несе відповідальності за достовірність інформації, її законність, якість та
          відповідність конкретним запитам і потребам користувачів Сайту.</li>
        <li>Discussio не несе відповідальності за зміст сайтів, що не належать їй, посилання на які можуть бути присутні
          на
          Сайті, і не гарантує їхньої доступності, коректної роботи й відповідності заявленій тематиці.</li>
      </ul>
    </li>

  </ol>

  <p class="t-lar bold">3. Конфіденційність</p>
  <ol class="t-min">
    <li>У випадку, якщо при використанні Сайту Користувачеві будь-яким способом стала відома інформація відносно
      Discussio та/або третіх осіб, яка відповідно до законодавства України відноситься до конфіденційної та/або до
      Комерційної таємниці, Користувачу заборонено зберігати, використовувати й поширювати таку інформацію.</li>
    <li>Користувач розуміє й погоджується з тим, що розміщуючи на Сайті інформацію, у відношенні якої Користувачем
      самостійно не передбачено обмеження доступу, будь-яка третя особа може одержати доступ до цієї інформації.</li>
  </ol>
  <p class="t-lar bold">4. Інші умови</p>
  <ol class="t-min">
    <li> Discussio має право вносити зміни в дану Угоду. Усі внесені до Угоди зміни будуть доступні у вигляді нової
      редакції Угоди, за адресою Угода користувача. У випадку внесення до Угоди істотних змін, Discussio додатково
      повідомить Користувача про ці зміни по електронній пошті. Усі зміни Угоди набувають чинності з моменту їх
      публікації. Використовуючи послуги або Сайт Користувач підтверджує згоду з новими умовами Угоди в редакції, що
      діє на момент використання Користувачем послуг або Сайту.</li>
    <li>Discussio не несе відповідальності за шкоду або збитки, яких зазнав Користувач або треті особи в результаті
      помилкового розуміння або нерозуміння умов даної Угоди, інструкцій або вказівок про порядок використання Сайту,
      щодо порядку розміщення даних та інших технічних питань.</li>
    <li>Користувач надає Discussio право надсилати йому повідомлення, що містять інформацію про Сайт, послуги Discussio
      або
      інформацію рекламного характеру.</li>
    <li>У випадку визнання недійсної або нездійсненної будь-якої частини даної Угоди, інші частини Угоди будуть
      залишатися в чинності. Відмова кожної зі сторін від будь-якого положення або умови даної Угоди, або будь-яке їх
      порушення не скасовує дію цього положення або умови.</li>
    <li> Сайт надається Discussio "як є". Discussio не гарантує відповідність Сайту цілям і очікуванням Користувача,
      його
      безперебійну й безпомилкову роботу, а також схоронність облікового запису Користувача й інформації, що розміщена
      Користувачем на Сайті.</li>
    <li> Discussio може в будь-який момент і без повідомлення Користувача поступитися своїми правами за даною Угодою
      третій стороні.</li>
    <li class="pb-5"> До даної Угоди й відносинам між Discussio та Користувачем, що виникають у зв'язку з використанням Сайту,
      застосовується законодавство України. Кожна сторона незаперечно погоджується з тим, що відповідні суди України
      мають виняткову юрисдикцію відносно будь-яких претензій, спорів або розбіжностей, що стосуються Угоди та
      використання Сайту.</li>
  </ol>
</div>
