@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;
@use "../../style/shared.scss" as *;

.container-info {
  @include flex-box-center;
  height: calc(100vh);
}

.btn-group {
  position: fixed;
  width: 250px;
}

.t-min {
  text-align: start;
}

.flex-column {
  height: calc(100vh - 50px);
  overflow: auto;
  @include flex-box-column;
  align-items: center;
  @include box-shadow;
  background-color: $color-white;
}

.logo-wrapper {
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

img {
  width: 100px;
  object-fit: cover;
}
