

<div class="container-card">

  <div class="switch-box hide-pc">

    <div class="btn-menu">
      <button class="btn-hide" [ngClass]="{ 'active': indexPage == 0}" (click)="indexPage = 0"><span
          class="material-symbols-outlined"> location_away </span>
      </button>
    </div>

    <div class="btn-menu">
      <button [disabled]="!selectedUser" class="btn-hide" [ngClass]="{ 'active': indexPage === 1}"
        (click)="indexPage = 1">
        <span class="material-symbols-outlined"> attach_money </span>
      </button>
    </div>

  </div>

  <div class="card-box col-lg-6 col-md-6 col-sm-6 col-12">

    <div class="card-container hide-mobile" *ngIf="subscribers.length !== 0">
      <div class="scrollable-container p-3">
        <div class="card-mini mb-4" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
          [ngClass]="{ 'selectedUser': subscriber.user_id == selectedUser?.user_id }">
          <div class="card-img-container">
            <img class="card-img"
              [src]="serverPathPhotoUser + (subscriber.img ? subscriber.img : 'user_default.svg')"
              alt="User Image">
          </div>
          <div class="card-body">
            <div class="title-group p-1">
              <div class="title">{{ subscriber.lastName }}</div>
              <div class="title">{{ subscriber.firstName }}</div>
              <div class="title">{{ subscriber.surName }}</div>
            </div>
            <div class="btn-group p-1">
              <button class="btn w-70 m-1" (click)="approveSubscriber(subscriber)">ДИСКУСІЯ</button>
              <button class="btn w-30 m-1" (click)="openDialog(subscriber)"><i
                  class="fa-solid fa-user-xmark"></i></button>
            </div>
          </div>
        </div>
      </div>

      <mat-paginator class="mb-2" [pageIndex]="pageEvent?.pageIndex" [length]="subscribers.length"
        [pageSize]="pageEvent?.pageSize" [pageSizeOptions]="[6, 12, 24, 100]" (page)="onPageChange($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>

    <div class="card-box-img col-lg-7 col-md-6 col-sm-12 col-12" *ngIf="subscribers.length === 0">
      <div class="title-1">Підписок ще немає...</div>
      <img class="img-dog" src="../../../../assets/example-no-info/no_subs.png" alt="no_subs">
    </div>

  </div>

  <div class="card-box col-lg-6 col-md-6 col-sm-12 col-12 p-2 ">



    <div [@cardAnimation2] class="card-animation col-12 hide-pc" *ngIf="indexPage === 0">
      <div class="card-container" *ngIf="subscribers.length !== 0">
        <div class="scrollable-container p-3">
          <div class="card-mini mb-4" *ngFor="let subscriber of subscribers" (click)="onSubscriberSelect(subscriber)"
            [ngClass]="{ 'selectedUser': subscriber.user_id == selectedUser?.user_id }">
            <div class="card-img-container">
              <img class="card-img"
                [src]="serverPathPhotoUser + (subscriber.img ? subscriber.img : 'user_default.svg')"
                alt="User Image">
            </div>
            <div class="card-body">
              <div class="title-group p-1">
                <div class="title">{{ subscriber.lastName }}</div>
                <div class="title">{{ subscriber.firstName }}</div>
                <div class="title">{{ subscriber.surName }}</div>
              </div>
              <div class="btn-group p-1">
                <button class="btn w-70 m-1" (click)="approveSubscriber(subscriber)">ДИСКУСІЯ</button>
                <button class="btn w-30 m-1" (click)="openDialog(subscriber)"><i
                    class="fa-solid fa-user-xmark"></i></button>
              </div>
            </div>
          </div>
        </div>

        <mat-paginator class="mb-2" [pageIndex]="pageEvent?.pageIndex" [length]="subscribers.length"
          [pageSize]="pageEvent?.pageSize" [pageSizeOptions]="[6, 12, 24, 100]" (page)="onPageChange($event)"
          aria-label="Select page">
        </mat-paginator>
      </div>
    </div>

    <div [@cardAnimation2] class="card col-12 card-animation" *ngIf="selectedUser && indexPage == 1">

      <div class="img-container">
        <div class="img-wrapper">
          <img class="img-fluid rounded"
            [src]="serverPathPhotoUser + (selectedUser?.img || 'user_default.svg')" alt="User Image">
        </div>

        <div class="user-group p-1">

          <div class="social-link-box">
            <a target="_blank" *ngIf="selectedUser?.instagram" href="{{ selectedUser.instagram }}"><i
                class="fab fa-brands fa-instagram"></i></a>
            <a target="_blank" *ngIf="selectedUser?.telegram" href="{{ selectedUser.telegram }}"><i
                class="fab fa-brands fa-telegram"></i></a>
            <a target="_blank" *ngIf="selectedUser?.facebook" href="{{ selectedUser.facebook }}"><i
                class="fab fa-brands fa-facebook"></i></a>
          </div>

          <div class="user-group-name">
            <div class="user-sup-name">Прізвище : </div>
            <div class="user-name">{{ selectedUser?.lastName || '?' }}</div>
          </div>

          <div class="user-group-name">
            <div class="user-sup-name">Ім'я : </div>
            <div class="user-name">{{ selectedUser?.firstName || '?' }}</div>
          </div>

          <div class="user-group-name">
            <div class="user-sup-name">По батькові : </div>
            <div class="user-name">{{ selectedUser?.surName || '?' }}</div>
          </div>

        </div>
      </div>

      <div class="card-body p-2">

        <p>ДИСКУСІЯ - дозволяє ухвалити користувача для подальшого діалогу між вами в меню ДИСКУСІЯ. Він отримає доступ
          до детальної інформації про оселю.</p>

        <div class="title-group-card">
          <div class="title-selected">User ID: </div>
          <div class="title-selected-accent">{{ selectedUser?.user_id || '?' }}</div>
        </div>

        <div class="title-group-card" *ngIf="selectedUser?.option_pay">
          <div class="title-selected">Оплата : </div>
          <div class="title-selected-accent">{{option_pay[selectedUser?.option_pay] || '?' }}</div>
        </div>

        <div class="title-group-card" *ngIf="selectedUser?.price_of || selectedUser?.price_to">
          <div class="title-selected">Бюджет : </div>
          <div class="title-selected-accent">{{ selectedUser?.price_of | number }}₴ - {{ selectedUser?.price_to |
            number }}₴</div>
        </div>

        <div class="title-group-card" *ngIf="selectedUser?.purpose_rent">
          <div class="title-selected">Мета оренди : </div>
          <div class="title-selected-accent">{{ purpose[selectedUser?.purpose_rent] }}</div>
        </div>

        <button class="card-btn" (click)="approveSubscriber(selectedUser)"><span>Дискусія</span>
          <i class="fa-regular fa-comments"></i>
        </button>

        <button class="card-btn" (click)="openDialog(selectedUser)"><span>Видалити</span>
          <i class="fa-solid fa-user-xmark"></i>
        </button>





      </div>
    </div>

    <div [@cardAnimation2] class="card-info p-2 col-12 hide-mobile" *ngIf="indexPage == 0">
      <p class="mb-4"><strong>Підписники оселі</strong> - Тут Ви зможете бачити користувачів які підписались на Вашу
        оселю. Переглянути соціальні мережі, якщо Ви розглядаєте підписника як
        потенційного орендара то тут Ви можете ухвали його до Дискусії,
        також він отримає доступ до детальної інформації про оселю.</p>
      <p><strong>ДИСКУСІЯ</strong> - дозволяє ухвалити користувача для подальшого діалогу між вами в
        меню ДИСКУСІЯ.</p>
    </div>

  </div>

</div>
