@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

a {
  margin: 0;
}

.link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 70px;
  display: flex;
  transition: 0.4s;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 5px;

  &:active {
    color: $color-accent;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px $color-accent;
  }

  &.active {
    background-color: $color-accent;
    color: $color-white;
    box-shadow: 0px 0px 10px $color-accent;
    border-color: $color-accent;

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-white;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }

  &:hover {
    background-color: $color-accent;
    color: $color-white;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-white;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.link-text {
  text-align: center;
  font-size: 10px;
}

.hide-mobile {
  @include s1-s3 {
    display: none;
  }
}

.hide-pc {
  @include s3-s6-max {
    display: none;
  }
}

