<div class="menu">
  <div class="box">

    <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/housing-services/host-comun/comun-company'">
      <span class="link-text">Інфо послуги</span>
      <i class="fa-solid fa-info"></i>
    </a>

    <a class="link-item" [routerLinkActive]="'active'" [routerLink]="'/housing-services/host-comun/comun-history'">
      <span class="link-text">Внесення даних</span>
      <i class="fa-solid fa-paperclip"></i>
    </a>

    <a class="link-item" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/comun-statistics'">
      <span class="link-text">Статистика за сезон</span>
      <i class="fa-regular fa-calendar"></i>
    </a>

    <a class="link-item" [routerLinkActive]="'active'"
      [routerLink]="'/housing-services/host-comun/comun-statistics-all'">
      <span class="link-text">Підрахунки за місяць</span>
      <i class="fa-brands fa-think-peaks"></i>
    </a>
    
  </div>
</div>
