@use "../../style/presets/" as *;

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container-fluid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-card {
  display: flex;
}

.card-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.characteristics-list {
  background-color: $color-light;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.card-title {
  display: flex;
}

.rating-box, .description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.rating-box h1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}

.rating-box p {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.rating-box .stars{
  display: flex;
  align-items: center;
  gap: 15px;
}

.rating-box .stars i{
  color: grey;
  font-size: 30px;
  cursor: pointer;
  transition: color .2s ease;
}

.rating-box .stars i.active{
  color: gold;
}


