<app-navbar></app-navbar>

<div [@cardAnimation] class="container-fluid">

  <div class="container-card col-lg-5 col-md-3 col-sm-12 col-12">
    <app-search-term></app-search-term>
  </div>

  <div class="container-card col-lg-4 col-md-9 col-sm-12 col-12" *ngIf="currentCard">
    <!-- <div class="card col-lg-5 col-md-5 col-sm-9 col-10">

      <div class="img-fluid card-img-top">
        <img [src]="currentCard.image">
      </div>

      <div class="card-description">
        <div class="description-box">
          <h5 class="card-title">{{ currentCard.description }}</h5>
          <p class="card-text">{{ currentCard.firstName }} {{ currentCard.lastName }}</p>
          <p>{{ currentCard.tell }}</p>
        </div>

        <div class="card-rating">
          <div class="rating-box">
            <div class="stars">
              <i class="fa-solid fa-star" (click)="onClick(1)" [ngClass]="{'active': rating >= 1}"></i>
              <i class="fa-solid fa-star" (click)="onClick(2)" [ngClass]="{'active': rating >= 2}"></i>
              <i class="fa-solid fa-star" (click)="onClick(3)" [ngClass]="{'active': rating >= 3}"></i>
              <i class="fa-solid fa-star" (click)="onClick(4)" [ngClass]="{'active': rating >= 4}"></i>
              <i class="fa-solid fa-star" (click)="onClick(5)" [ngClass]="{'active': rating === 5}"></i>
            </div>
            <p>Рейтинг користувача та відгуки.</p>
          </div>
        </div>
      </div>

      <div class="card-social-link">
        <a href="https://www.facebook.com/denis.kononov.35"><i class="fab fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/kononov.den1s/"><i class="fab fa-brands fa-instagram"></i></a>
        <a href="https://t.me/DenisKononov"><i class="fab fa-brands fa-telegram"></i></a>
      </div>

      <div class="card-link">
        <a [href]="currentCard.passport" class="link"><span>{{ currentCard.passportText }}</span><i
            class="fa-solid fa-passport"></i></a>
      </div>

    </div> -->
    <div>

      <div class="card">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="currentCard.imageCarousel">
            </div>
            <div class="carousel-item">
              <img [src]="currentCard.imageCarousel1">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
        <div class="btn-group">
          <button mat-raised-button class="prev btn-control" (click)="onPrevCard()">
            <div class="prev-arrow-top"></div>
            <div class="prev-arrow-bottom"></div>
            <div class="bg"></div>
          </button>
          <button mat-raised-button class="next btn-control" (click)="onNextCard()">
            <div class="next-arrow-top"></div>
            <div class="next-arrow-bottom"></div>
            <div class="bg"></div>
          </button>
        </div>
        <div class="card">

        <div class="characteristics">
          <h5>Критерії пошуку</h5>

          <div class="subscriber-list">
            <div class="subscriber">{{ currentCard.subscriber }}</div>
          </div>

          <div class="characteristics-list">
            <span class="item-label">Тип житла:</span>
            <div class="characteristics-item">{{ currentCard.typeHousing }}</div>
          </div>

          <div class="characteristics-list">
            <label class="item-label">Кількість кімнат:</label>
            <div class="characteristics-item">{{ currentCard.numberRooms }}</div>
          </div>

          <div class="characteristics-list">
            <label class="item-label">Місто:</label>
            <div class="characteristics-item">{{ currentCard.city }}</div>
          </div>

          <div class="characteristics-list">
            <label class="item-label">Район:</label>
            <div class="characteristics-item">{{ currentCard.district }}</div>
          </div>

          <div class="characteristics-list">
            <label class="item-label">Тварини:</label>
            <div class="characteristics-item">{{ currentCard.animals }}</div>
          </div>

        </div>

        <div class="price">
          <h2 class="card-text">{{ currentCard.price}}</h2>
          <button class="button-subscribe">Підписатись<i class="fas fa-heart" aria-hidden="true"></i></button>
        </div>

        <div class="card-link">
          <a [href]="currentCard.homeAccount" class="link"><span>{{ currentCard.homeAccountText }}</span><i
              class="fa-solid fa-file-contract"></i></a>
        </div>
      </div>



    </div>



  </div>

  <div class="container-card col-lg-3 col-md-9 col-sm-12 col-12">

    <div class="card-container p-2" cdkScrollable>
      <div>
        <p>ЗНАЙДЕНО 235</p>
      </div>
      <div class="card-wrapper card mb-4" *ngFor="let house of houses">
        <a class="card-img-container">
          <img class="card-img-top" [src]="house.photoUrl" alt="Card image cap">
        </a>
        <div class="card-body">
          <h4 class="card-title">{{house.name}}</h4>
          <h2 class="card-title">{{house.price}}</h2>
        </div>
      </div>
    </div>


  </div>



</div>

<app-footer></app-footer>
