@use "../../style/presets/" as *;

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container-fluid {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
}

.card-mini {
  display: flex;
  justify-content: center;
  margin: 0.2em;
  flex-direction: row;
}

.card-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-evenly;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-card {
  display: flex;
}

.card-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characteristics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.characteristics-list {
  background-color: $color-light;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.link {
  transition: 1s;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(60px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-220px) scale(1.2);
      transition: transform 1s;
    }
  }
}

.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 1s;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

h4 {
  font-weight: 600;
}

h5 {
  text-align: center;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

p {
  font-weight: 400;
}

.card-title {
  display: flex;
  font-family: $font-link;
  font-size: 14px;
  justify-content: flex-end;
}

.rating-box,
.description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.rating-box h1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}

.rating-box p {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rating-box .stars i {
  color: grey;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.rating-box .stars i.active {
  color: gold;
}

.card-container {
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  overflow: hidden;
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
}

.card-img-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 55%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card-img-container:hover,
.card-img-container:focus {
  width: 95%;
  height: 100%;
}

h2 {
  justify-content: center;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-wrapper:hover,
.card-wrapper:focus {
  transform: scale(1.05);
}

.card-social-link {
  font-size: 20px;
  display: flex;
  width: 200px;
  justify-content: flex-start;
  flex-direction: row;
}

a {
  margin: 5px 15px;
  padding: 0;
}

.fab {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.fa-solid {
  font-size: 20px;
}

.card-mini-body {
  position: absolute;
  right: 0;
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
}

.item-box {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  flex-direction: column;
}

.next {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.prev {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.btn-sbs {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  color: $color-text;
  text-transform: uppercase;
  transition: all 0.4s ease;
  letter-spacing: 1px;

  &:hover {
    color: $color-accent;
  }

  &:active {
    transform: scale(0.8);
    letter-spacing: 0px;
    box-shadow: inset -10px -10px 40px rgba(0, 0, 0, 0.105), inset 10px 10px 40px rgba(0, 0, 0, 0.105);
  }

  &.active {
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-accent;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.105), 10px 20px 40px rgba(0, 0, 0, 0.162);
  }
}

.wrapper.card.mb-4.selected {
  background-color: $color-accent;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen-image {
  max-width: 100%;
  max-height: 100vh;
}
