<div class="total-card" *ngIf="filteredFlats">
  <p class="count">Знайдено {{ filteredFlats.length }}</p>
</div>

<div class="container-card" (click)="handleContainerClick($event)">
  <div class="section col-lg-6 col-md-9 col-sm-12 col-12">
    <div [@cardAnimation] class="card-container" cdkScrollable *ngIf="filteredFlats">

      <div class="card-wrapper" *ngFor="let flat of filteredFlats; let i = index"
        [ngClass]="{ 'selected': selectedFlat === flat }" (click)="selectFlat(flat)"
        [style.animation-delay.ms]="i * 100">
        <a class="card m-2" [class.selected]="selectedFlat === flat" [@slideAnimation]>
          <div class="card-img-container">
            <img class="card-img-top" [src]="getFlatImageUrl(flat)" alt="Flat Image">
          </div>
          <div class="card-title p-3">
            <div class="title price_m">{{ flat.price_m }} грн/міс</div>
            <div class="title">{{ flat.street }}</div>
            <div class="title">{{ flat.city }}</div>
            <div class="title">{{ flat.area }} м²</div>
          </div>
        </a>
      </div>
      <button mat-icon-button class="btn-create" matTooltip="Завантажити ще" (click)="loadMore()">
        <i class="fa-solid fa-arrow-down-short-wide"></i>
      </button>

    </div>
  </div>

  <div class="section col-lg-4 col-md-9 col-sm-12 col-12">
    <div [@cardAnimation] class="card-container-house m-1" *ngIf="selectedFlat">
      <div class="card card-selected" id="carouselContainer">

        <div class="carousel slide" id="carouselExampleIndicators" data-bs-interval="false">
          <div class="carousel-indicators">
            <button type="button" *ngFor="let photo of currentFlatPhotos; let i = index"
              data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
              [ngClass]="{ 'active': i === currentPhotoIndex }" [attr.aria-label]="'Slide ' + (i + 1)"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-wrapper">
                <img [src]="getDefaultImage(currentFlatPhotos[0])" alt="Flat Image" class="img-fluid rounded"
                  (click)="openFullScreenImage(getDefaultImage(currentFlatPhotos[0]))">
              </div>
            </div>
            <div class="carousel-item" *ngFor="let photo of currentFlatPhotos?.slice(1)">
              <div class="img-wrapper">
                <img [src]="getImageUrl(photo)" alt="Flat Image" class="img-fluid rounded"
                  (click)="openFullScreenImage(getImageUrl(photo))">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card-btn-container">

          <div class="item-box m-1">
            <button mat-raised-button class="prev card link" (click)="onPrevCard()">
              <div class="prev-arrow-top"></div>
              <div class="prev-arrow-bottom"></div>
            </button>
            <div>
              <p>Попередня</p>
            </div>
          </div>

          <div class="item-box">
            <button class="btn-sbs card link"><i class="fas fa-heart" aria-hidden="true"></i></button>
            <div>
              <p>Підписатись</p>
            </div>
          </div>

          <div class="item-box m-1">
            <button mat-raised-button class="next card link" (click)="onNextCard()">
              <div class="next-arrow-top"></div>
              <div class="next-arrow-bottom"></div>
            </button>
            <div>
              <p>Наступна</p>
            </div>
          </div>

        </div>

        <div class="card-text p-2">
          <a class="location" [href]="locationLink" target="_blank"><span
              class="material-symbols-outlined">location_on</span><br>Вулиця: {{ selectedFlat?.street }},
            {{selectedFlat?.houseNumber }}</a>
          <h4>Місто: {{ selectedFlat?.city }}</h4>
          <p>Область: {{ selectedFlat?.region }}</p>
          <p>{{ selectedFlat?.about }}</p>
          <ul>
            <li>Кімнат: {{ selectedFlat?.rooms }}</li>
            <li>Площа: {{ selectedFlat?.area }} м²</li>
            <li>Статус ремонту: {{ selectedFlat?.repair_status }}</li>
            <li>Ціна: {{ selectedFlat?.price || 'Немає інформації' }}</li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="full-screen-overlay" *ngIf="showFullScreenImage" (click)="closeFullScreenImage()">
  <img [src]="fullScreenImageUrl" alt="Full Screen Image" class="full-screen-image">
</div>
