<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="container-card col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="box col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="label">Надіслані угоди <span class="accent"> {{ agree.length }} шт</span></div>
      <div class="card m-2" *ngFor="let agreement of agree">
        <div class="img-fluid  mt-2">

          <div class="w-30">
            <img [src]="serverPathPhotoUser + agreement.flat.subscriber_img" alt="Flat Image">
          </div>

          <div class="item-box p-1 w-70">
            <div class="item-name">ID Орендара:
              <span class="accent">{{ agreement.flat.subscriber_id}}</span></div>
            <div class="accent" class="item-name">Термін оренди:
              <span class="accent" *ngIf="agreement.flat.dateAgreeStart">
                від {{agreement.flat.dateAgreeStart | date}}</span>
              <span class="accent" *ngIf="agreement.flat.dateAgreeEnd">
                до {{ agreement.flat.dateAgreeEnd | date}}</span></div>
            <div class="item-name">Сума оплати: <span class="accent">{{ agreement.flat.price}}грн</span></div>
          </div>
        </div>

        <div class="item-wrapper mt-1">
          <div class="item-name-id">ID Угоди: {{ agreement.flat.agreement_id}}</div>
          <div class="btn-group">
            <button class="btn w-70 m-1" matTooltip="Переглянути угоду"
            [routerLink]="['/house/agree-details', agreement.flat.agreement_id]">Переглянути угоду</button>
            <button class="btn w-30 m-1" matTooltip="Видалити угоду" (click)="openDialog(agreement)">
              <i class="fa-solid fa-user-xmark"></i>
            </button>
          </div>
        </div>

      </div>

    </div>

    <div class="box col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="card-info">
        <h2>Надіслані угоди</h2>
        <div class="title p-2">
          Тут Ви зможете бачити угоди які Ви заключили.
        </div>
        <div class="title p-2">
          Ви можете переглянути деталі угоди, а також надрукувати її.
        </div>
      </div>
    </div>

  </div>
</ng-template>
