@use "../../../../style/presets/" as *;

.container-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap;
}

.img-fluid {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 5px;
}

img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 1s;
  object-fit: cover;

  &:hover {
    transition: transform 1s;
    transform: scale(1.4);
  }
}

.item-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.131);
  border-radius: 10px;
  padding: 5px 10px;
  flex-direction: column;
}

.label {
  text-align: center;
}

h2 {
  text-align: center;
}
