<app-navbar></app-navbar>

<div class="container-fluid">
  <!-- Навігація -->
  <div class="container-navbar">
    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/information-user'">Профіль корустувача</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/information-housing'">Профіль оселі</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/user-payment'">Способи оплати</a>
    </nav>
  </div>

  <!-- Картки -->
  <div class="container-fluid">
    <div class="container-card info">

      <!-- Фото користувача -->
      <div class="card card-photo" style="width: 20rem;">

        <div class="card-name">
          <h4>Фото користувача</h4>
        </div>

        <form class="form-box">
          <div class="img-fluid">
            <img src="https://via.placeholder.com/200" class="rounded" alt="...">
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Ваше фото профіля</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </form>
        <!-- Кнопки -->
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
        </div>

      </div>

      <!-- Інформація користувача -->
      <div class="card" style="width: 20rem;">
        <div class="card-name">
          <h4>Інформація користувача</h4>
        </div>

        <form class="form-box" [formGroup]="userForm">

          <!-- Ім'я -->
          <div class="inputbox">
            <input class="form-control" id="username" type="text" name="username" formControlName="username" required>
            <span>Ім'я</span>
            <i></i>
            <div *ngIf="formErrors.username" class="alert alert-danger">{{formErrors.username}}</div>
          </div>

          <!-- Прізвище -->
          <div class="inputbox">
            <input class="form-control" id="lastName" type="text" name="lastName" formControlName="lastName" required>
            <span>Прізвище</span>
            <i></i>
            <div *ngIf="formErrors.lastName" class="alert alert-danger">{{formErrors.lastName}}</div>
          </div>

          <!-- По батькові -->
          <div class="inputbox">
            <input class="form-control" id="sureName" type="text" name="surName" formControlName="sureName" required>
            <span>По батькові</span>
            <i></i>
            <div *ngIf="formErrors.sureName" class="alert alert-danger">{{formErrors.sureName}}</div>
          </div>

          <!-- Дата народження -->
          <div class="inputbox">
            <input type="datetime" class="form-control" id="dob" name="dob" formControlName="dob" required>
            <div *ngIf="formErrors.dob" class="alert alert-danger">{{formErrors.dob}}</div>
            <span>Дата народження</span>
            <i></i>
            <div *ngIf="formErrors.dob" class="alert alert-danger">{{formErrors.dob}}</div>
          </div>


          <!-- Пароль -->
          <div class="inputbox">
            <input class="form-control" id="password" type="{{ passwordType }}" name="password"
              formControlName="password" required>
            <span>Пароль</span>
            <i></i>
            <div>
              <button class="see-password" type="button" (click)="togglePasswordVisibility()">
                <i class="icon"
                  [class]="passwordType === 'password' ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
              </button>
            </div>
            <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
          </div>



          <!-- Електронна пошта -->
          <div class="inputbox">
            <input class="form-control" id="email" type="text" name="email" formControlName="email" required>
            <span>Email</span>
            <i></i>
            <div *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}</div>
          </div>


        </form>
        <div class="btn-group">
          <button class="btn btn-primary mt-3" (click)="saveUserData()" (click)="onSubmitSaveUserData()"
            [disabled]="!userForm.valid">ЗБЕРЕГТИ</button>
          <button class="btn btn-primary mt-3" (click)="editUserData()" [disabled]="isDisabled">РЕДАГУВАТИ</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3" (click)="resetUserForm()">СКИНУТИ</button>
        </div>

      </div>

      <!-- Контактні дані користувача -->
      <div class="card" style="width: 20rem;">
        <div class="card-name">
          <h4>Контактні дані</h4>
        </div>

        <form class="form-box" [formGroup]="userFormContacts">

          <!-- Телефон -->
          <div class="inputbox">
            <input type="tel" id="phone" name="phone" formControlName="phone" required>
            <span>Телефон</span>
            <i></i>
            <div *ngIf="formErrors.phone" class="alert alert-danger">{{formErrors.phone}}</div>

          </div>

          <!-- Додатковий телефон
          <div class="inputbox">
            <input required="required" type="tel" name="phone" formControlName="altPhone">
            <span>Додатковий телефон</span>
            <i></i>
            <div *ngIf="formErrors.altPhone" class="alert alert-danger">{{formErrors.altPhone}}</div>

          </div> -->

          <!-- Вулиця -->
          <div class="inputbox">
            <input required="required" type="text" formControlName="street">
            <span>Вулиця</span>
            <i></i>
            <div *ngIf="formErrors.street" class="alert alert-danger">{{formErrors.street}}</div>

          </div>

          <!-- Номер/поверх -->
          <div class="container-box">

            <div class="inputbox">
              <input required="required" type="text" formControlName="houseNumber">
              <span>Номер</span>
              <i></i>
              <div *ngIf="formErrors.houseNumber" class="alert alert-danger">{{formErrors.houseNumber}}</div>

            </div>

            <div class="inputbox">
              <input required="required" type="number" formControlName="floor">
              <span>Поверх</span>
              <i></i>
              <div *ngIf="formErrors.floor" class="alert alert-danger">{{formErrors.floor}}</div>

            </div>

            <div class="inputbox">
              <input required="required" type="number" formControlName="apartment">
              <span>Квартира</span>
              <i></i>
              <div *ngIf="formErrors.apartment" class="alert alert-danger">{{formErrors.apartment}}</div>

            </div>

          </div>

          <!-- Місто -->
          <div class="inputbox">
            <input required="required" type="text" id="inputCity" formControlName="city">
            <span>Місто</span>
            <i></i>
            <div *ngIf="formErrors.city" class="alert alert-danger">{{formErrors.city}}</div>

          </div>

          <!-- Область -->
          <div class="inputbox">
            <input required="required" type="text" id="inputCity" formControlName="region">
            <!-- <select class="form-select form-select-sm" formControlName="region" aria-label=".form-select-sm example">
              <option selected disabled>Область</option>
              <option value="1">Київська</option>
              <option value="2">Чернігівська</option>
              <option value="3">Житомирська</option>
            </select> -->
            <span>Область</span>
            <i></i>

            <div *ngIf="formErrors.region" class="alert alert-danger">{{formErrors.region}}</div>
          </div>

          <!-- Індекс -->
          <div class="inputbox">
            <input required="required" type="text" id="inputZip" formControlName="index">
            <span>Індекс</span>
            <i></i>
            <div *ngIf="formErrors.index" class="alert alert-danger">{{formErrors.index}}</div>

          </div>

        </form>

        <!-- Кнопки -->
        <div class="btn-group">
          <button class="btn btn-primary mt-3" (click)="saveUserContactsData()" (click)="onSubmitSaveUserFormContacts()"
            [disabled]="!userFormContacts.valid">ЗБЕРЕГТИ</button>
          <button class="btn btn-primary mt-3" (click)="editUserContactsData()"
            [disabled]="isDisabled">РЕДАГУВАТИ</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3" (click)="resetUserFormContacts()">СКИНУТИ</button>
        </div>

      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>
