<app-navbar></app-navbar>

<div class="container-fluid">
  <!-- Навігація -->
  <div class="container-navbar">
    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/information-user'">Профіль корустувача</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/housing-parameters'">Профіль оселі</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/user-payment'">Способи оплати</a>
    </nav>
  </div>

  <!-- Картки -->
  <div class="container-card">
    <!-- Аккаунт користувача/Фото користувача -->
    <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
      <!-- Аккаунт користувача -->
      <div class="card m-2">
        <div class="card-name">
          <h4>Аккаунт користувача</h4>
          <p>Користувач: {{ data.email }}</p>
        </div>
        <div class="img-fluid">
          <img src="https://via.placeholder.com/200" class="rounded" alt="...">
        </div>
        <form class="" [formGroup]="userForm">
          <div class="container-fluid mb-3">
            <p>Ваше фото: </p>
            <input class="form-control" type="file" id="formFile">
          </div>
          <!-- Пароль -->
          <!-- <div class="inputbox">
            <input class="form-control" id="password" type="{{ passwordType }}" name="password"
              formControlName="password" required>
            <span>Пароль</span>
            <button class="see-password" type="button" (click)="togglePasswordVisibility()">
              <i class="icon"
                [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
            </button>
            <i class="orange"></i>
            <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
          </div> -->
          <!-- Пароль -->
          <div class="watch-box">
            <p>Ваш пароль: </p>
            <button class="see" type="button" (click)="togglePasswordVisibility()">
              <i class="icon"
                [class]="passwordType === 'password' ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
            </button>
            <i class="orange"></i>
            <ng-container *ngIf="passwordType === 'text'; else passwordHidden">
              <p>{{ data.password }}</p>
            </ng-container>
            <ng-template #passwordHidden>
              <input class="form-control" id="password" type="{{ passwordType }}" name="password"
                formControlName="password" required>
            </ng-template>
          </div>
        </form>

        <div class="btn-group">
          <button class="btn btn-primary"><span class="btn-text">ЗМІНИТИ ПАРОЛЬ</span></button>
          <button class="btn btn-primary"><span class="btn-text" (click)="logout()">ВИЙТИ З АККАУНТУ</span></button>
        </div>


      </div>
    </div>
    <!-- Інформація користувача -->
    <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
      <div class="card m-2">

        <div class="card-name">
          <h4>Інформація користувача</h4>
        </div>

        <form class="form-box" [formGroup]="userForm">
          <!-- Ім'я -->
          <div class="inputbox">
            <input class="form-control" id="firstName" type="text" name="firstName" formControlName="firstName"
              required>
            <span>Ім'я</span>
            <i class="orange"></i>
            <div *ngIf="formErrors.firstName" class="alert alert-danger">{{formErrors.firstName}}</div>
          </div>

          <!-- Прізвище -->
          <div class="inputbox">
            <input class="form-control" id="lastName" type="text" name="lastName" formControlName="lastName" required>
            <span>Прізвище</span>
            <i class="orange"></i>
            <div *ngIf="formErrors.lastName" class="alert alert-danger">{{formErrors.lastName}}</div>
          </div>

          <!-- По батькові -->
          <div class="inputbox">
            <input class="form-control" id="surName" type="text" name="surName" formControlName="surName" required>
            <span>По батькові</span>
            <i class="orange"></i>
            <div *ngIf="formErrors.surName" class="alert alert-danger">{{formErrors.surName}}</div>
          </div>

          <!-- Дата народження -->
          <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" mask="00.00.0000" placeholder="Дата народження" formControlName="dob" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formErrors.dob">{{formErrors.dob}}</mat-error>
            <mat-hint>Виберіть дату з календаря</mat-hint>
          </mat-form-field>  -->

          <!-- Дата народження -->
          <div class="inputbox">
            <input type="date" class="form-control" id="dob" name="dob" formControlName="dob" required>
            <div *ngIf="formErrors.dob" class="alert alert-danger">{{formErrors.dob}}</div>
            <span>Дата народження</span>
            <i class="orange"></i>
            <div *ngIf="formErrors.dob" class="alert alert-danger">{{formErrors.dob}}</div>
          </div>
        </form>

        <div class="btn-group">
          <button class="btn btn-primary mt-3" (click)="saveUserData()" (click)="onSubmitSaveUserData()"
            [disabled]="!userForm.valid"><span class="btn-text">ЗБЕРЕГТИ</span></button>
          <button class="btn btn-primary mt-3" (click)="editUserData()" [disabled]="isDisabled"><span
              class="btn-text">РЕДАГУВАТИ</span></button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3" (click)="resetUserForm()"><span
              class="btn-text">СКИНУТИ</span></button>
        </div>

      </div>
    </div>
    <!-- Контактні дані користувача -->
    <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
      <div class="card m-2">
        <div class="card-name">
          <h4>Контактні дані</h4>
        </div>

        <form class="form-box" [formGroup]="userFormContacts">

          <!-- Телефон -->
          <div class="inputbox">
            <input type="tel" id="phone" name="phone" formControlName="phone" required>
            <span>Телефон</span>
            <i class="orange"></i>
            <div *ngIf="formErrors.phone" class="alert alert-danger">{{formErrors.phone}}</div>
          </div>

          <!-- Телеграм -->
          <div class="inputbox">
            <input required="required" type="text" id="inputTelegram" formControlName="telegram">
            <span>Telegram <i class="fa-brands fa-telegram"></i></span>
            <i class="orange"></i>
            <div *ngIf="formErrors.telegram" class="alert alert-danger">{{formErrors}}</div>
          </div>

          <!-- Фейсбук -->
          <div class="inputbox">
            <input required="required" type="text" id="inputFacebook" formControlName="facebook">
            <span>Facebook <i class="fa-brands fa-facebook"></i></span>
            <i class="orange"></i>
            <div *ngIf="formErrors.facebook" class="alert alert-danger">{{formErrors}}</div>
          </div>

          <!-- Інстаграм -->
          <div class="inputbox">
            <input required="required" type="text" id="inputInstagram" formControlName="instagram">
            <span>Instagram <i class="fa-brands fa-instagram"></i></span>
            <i class="orange"></i>
            <div *ngIf="formErrors.instagram" class="alert alert-danger">{{formErrors}}</div>
          </div>

          <!-- Вайбер -->
          <div class="inputbox">
            <input required="required" type="text" id="inputViber" formControlName="viber">
            <span>Viber <i class="fa-brands fa-viber"></i></span>
            <i class="orange"></i>
            <div *ngIf="formErrors.viber" class="alert alert-danger">{{formErrors}}</div>
          </div>

          <!-- Пошта -->
          <div class="inputbox">
            <input required="required" type="text" id="inputMail" formControlName="mail">
            <span>Пошта</span>
            <i class="orange"></i>
            <div *ngIf="formErrors.mail" class="alert alert-danger">{{formErrors}}</div>
          </div>
        </form>

        <!-- Кнопки -->
        <div class="btn-group">
          <button class="btn btn-primary" (click)="saveUserFormContactsData()" (click)="onSubmitSaveUserFormContacts()"
            [disabled]="!userFormContacts.valid"><span class="btn-text">ЗБЕРЕГТИ</span></button>
          <button class="btn btn-primary" (click)="editUserFormContactsData()" [disabled]="isDisabled"><span
              class="btn-text">РЕДАГУВАТИ</span></button>
          <button class="btn btn-primary" type="reset" (click)="resetUserFormContacts()"><span
              class="btn-text">СКИНУТИ</span></button>
        </div>

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
