<app-navbar></app-navbar>

<div class="container-fluid">
  <!-- Навігація -->
  <div class="container-navbar">
    <nav class="navbar">
      <a [routerLinkActive]="'active'" [routerLink]="'/information-user'">Профіль корустувача</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/information-housing'">Профіль оселі</a>
      <a [routerLinkActive]="'active'" [routerLink]="'/user-payment'">Способи оплати</a>
    </nav>
  </div>

  <!-- Картки -->
  <div class="container-fluid">
    <div class="container-card info">

      <!-- Фото користувача -->
      <div class="card" style="width: 20rem;">

        <div class="card-name">
          <h4>Картка користувача</h4>
          <p>Заповнення індивідуальної інформації про користувача</p>
        </div>

        <form (ngSubmit)="onSubmit()">
          <div class="img-fluid">
            <img src="https://via.placeholder.com/200" class="rounded" alt="...">
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Ваше фото профіля</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </form>
      </div>

      <!-- Інформація користувача -->
      <div class="card" style="width: 20rem;">
        <div class="card-name">
          <h4>Інформація користувача</h4>
        </div>
        <!-- Ім'я -->
        <div class="inputbox">
          <input required="required" type="text">
          <span>Ім'я</span>
          <i></i>
        </div>

        <!-- Прізвище -->
        <div class="inputbox">
          <input type="text" id="first-name" name="first-name" autocomplete="off" required>
          <span>Прізвище</span>
          <i></i>
        </div>

        <!-- Електронна пошта -->
        <div class="inputbox">
          <input type="email" id="email" name="email" autocomplete="off" required>
          <span>Email</span>
          <i></i>
        </div>

        <!-- Пароль -->
        <div class="inputbox">
          <input type="password" id="password" name="password" autocomplete="off" required>
          <span>Пароль</span>
          <i></i>
        </div>

        <!-- Підтвердження пароля -->
        <div class="inputbox">
          <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="off" required>
          <span>Підтвердити пароль</span>
          <i></i>
        </div>

        <!-- Дата народження -->
        <div class="inputbox">
          <input type="date" id="birthdate" name="birthdate" autocomplete="off">
          <span>Дата народження</span>
          <i></i>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
        </div>

      </div>

      <!-- Контактні дані користувача -->
      <div class="card" style="width: 20rem;">
        <div class="card-name">
          <h4>Контактні дані</h4>
        </div>
        <!-- Телефон -->
        <div class="inputbox">
          <input required="required" type="tel" id="phone" name="phone">
          <span>Телефон</span>
          <i></i>
        </div>

        <!-- Додатковий телефон -->
        <div class="inputbox">
          <input required="required" type="tel" id="phone" name="phone">
          <span>Додатковий телефон</span>
          <i></i>
        </div>

        <!-- Вулиця -->
        <div class="inputbox">
          <input required="required" type="text" id="inputAddress">
          <span>Вулиця</span>
          <i></i>
        </div>

        <!-- Номер/поверх -->
        <div class="container-box">

          <div class="inputbox">
            <input required="required" type="text" id="inputAddress2">
            <span>Номер</span>
            <i></i>
          </div>

          <div class="inputbox">
            <input required="required" type="text" id="inputAddress2">
            <span>Поверх</span>
            <i></i>
          </div>

          <div class="inputbox">
            <input required="required" type="text" id="inputAddress2">
            <span>Квартира</span>
            <i></i>
          </div>

        </div>

        <!-- Місто -->
        <div class="inputbox">
          <input required="required" type="text" id="inputCity">
          <span>Місто</span>
          <i></i>
        </div>

        <!-- Область -->
        <div class="inputbox">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected disabled>Область</option>
            <option value="1">Київська</option>
            <option value="2">Чернігівська</option>
            <option value="3">Житомирська</option>
          </select>
        </div>

        <!-- Індекс -->
        <div class="inputbox">
          <input required="required" type="text" id="inputZip">
          <span>Індекс</span>
          <i></i>
        </div>

        <!-- Кнопки -->
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mt-3">Підтвердити</button>
          <button type="reset" class="btn btn-secondary mt-3 ml-3">Скинути</button>
        </div>

      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>