@use "../../style/presets/" as *;

.card {
  padding: 20px;
  justify-content: space-between;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  margin-top: 20px;
}

.content {
  display: flex;
  margin: 5px;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkBox-span {
  margin-top: 5px;
  font-size: 1em;
}

.container-box {
  display: flex;
}

.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.container-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  padding: 0.5em 1em;
}

.card-name {
  margin-bottom: 20px;
}

.container-fluid {
  display: flex;
}

.container-card {
  display: flex;
  align-items: stretch;
}

.card {
  display: flex;
  background-color: rgba(18, 17, 17, 0.769);
  margin: 10px;
  color: white;
}

.link {
  transition: 1s;
  background-color: $color-primary;

  &:hover {
    color: $color-accent;
    background-color: $color-dark;
    transition: 1s;

    span {
      transition: transform 1s;
      transform: translate(50px) scale(1.2);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: translate(-190px) scale(1.2);
      transition: transform 1s;
    }
  }
}

.inputbox {
  position: relative;
  display: flex;
  margin: 1.2rem 5px 1.5rem 5px;
  border-radius: 10px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  top: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: white;
  transform: translateX(-10px) translateY(-2.2rem);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: $color-accent;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 2.5rem;
}

.alert-danger {
  position: absolute;
  bottom: -2rem;
  background: none;
  color: rgb(242, 132, 132);
  border: none;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  z-index: 30;
  font-size: 13px;
  align-items: center;
}

p {
  color: $color-light;
}

.btn {
  color: $color-light;
}

.img-fluid {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form-box {
  height: 100%;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.see-password {
  margin-top: 10px;
  background: none;
  border: none;
  width: 40px;
}

.icon {
  background:none !important;
  position: relative !important;
  font-size: 18px;
  color: #d2d0d0;
}


