@use "../../../style/presets/" as *;
@use "../../../style/radio.scss";
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss" as *;

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-group {
  @include s3-s6-max {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $color-primary) !important;
  }
}
.card-content-static {
  @include s3-s6-max {
    background-color: transparent !important;
  }
}

.card-content {
  @include flex-box;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 100px - 1rem);
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.form-field {
  width: 100%;
}

.radio-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 80px;
}

.content1 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.291);
}

mat-label {
  color: $color-accent;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.btn-group {
  position: sticky;
  bottom: 0;
  height: 60px;
  margin: 0;
  .icon {
    @include flex-box;
  }
  .btn {
    @include flex-box;
    width: 100%;
    flex: 1;
    background-color: $color-accent;
    &:disabled {
      background-color: rgba(128, 128, 128, 0.619);
    }
  }
}

textarea {
  min-height: 100px;
}

.suggest {
  height: 50vh;
}

.content-name {
  font-size: 12px;
}
