@use "../housing-table.scss";
@use "../../style/shared.scss" as *;
@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.table-content {
  height: calc(100vh - 100px - 1rem);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .sticky-top {
    @include flex-box-center;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), $color-primary 20%);
    @include s1-s3 {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0), white 20%);
      flex-direction: column;
    }
    .app {
      padding: 10px;
      @include s1-s3 {
        padding: 0px;
      }
    }
  }
  .table-info {
    height: auto;
  }
  .sticky-bottom {
    @include flex-box-column;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-primary 10%);
    @include s1-s3 {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 10%);
    }
  }
}

td {
  &.selected {
    background-color: rgba(133, 133, 133, 0.417);
  }
}

.btn {
  .fa-solid {
    color: $color-gray !important;
    .fa-solid {
      color: $color-gray !important;
    }
  }
  .t-min {
    color: $color-gray !important;
  }
  &.active {
    filter: none !important;
    color: $color-dark !important;
    .fa-solid {
      color: $color-dark !important;
    }
    .t-min {
      color: $color-dark !important;
    }
  }
}
