@use "../../style/presets/" as *;
@use "../../style/mixins/" as *;

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: auto;
  padding-top: 70px;
  @include s1-s3 {
    padding-top: 60px;
  }
}

