<ng-container *ngIf="loading; else content">
  <div *ngIf="loading" class="loader-overlay">
    <div class="loader">
      <img src="../../../../assets/logo/Discussio (7).svg" alt="Logo" class="loader-logo">
    </div>
  </div>
</ng-container>

<ng-template #content>
  <div class="container-card col-12">
    <div class="comunal-info m-2 p-2">
      <h3 class="text">Статистика оселі <span class="accent"> {{selectedFlatId}} </span> по сезонах, послуга <span
        class="accent">{{selectedComun}}</span> за <span class="accent">{{selectedYear}} </span> рік</h3>
    </div>
    <div class="group col-12">
      <div class="btn-group">
        <button class="btn" [class.active]="option_stat === 2" (click)="option_stat = 2">
          <span class="checkBox-span">Нарахування</span>
        </button>
        <button class="btn" [class.active]="option_stat === 3" (click)="option_stat = 3">
          <span class="checkBox-span">Споживання</span>
        </button>
        <button class="btn" [class.active]="option_stat === 1" (click)="option_stat = 1">
          <span class="checkBox-span">Сплачено</span>
        </button>
      </div>
    </div>

    <div class="container-card col-12">

      <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="box m-2">
          <mat-label class="group-label">Загальна статистика</mat-label>

          <div class="statContainer p-1" *ngIf="option_stat === 1">

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats!.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Сплачено загалом:</mat-label>
            </div>

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats!.monthAveragePaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Середнє по місяцю:</mat-label>
            </div>

            <div class="statBox winter">
              <div class="statNum ">{{winter!.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Сплачено Зима:</mat-label>
            </div>

            <div class="statBox spring">
              <div class="statNum ">{{spring!.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Сплачено Весна:</mat-label>
            </div>

            <div class="statBox summer">
              <div class="statNum ">{{summer!.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Сплачено Літо:</mat-label>
            </div>

            <div class="statBox autumn">
              <div class="statNum ">{{autumn!.totalPaid}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Сплачено Осінь:</mat-label>
            </div>

          </div>

          <div class="statContainer p-1" *ngIf="option_stat === 2">

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats!.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Нараховано загалом:</mat-label>
            </div>

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats!.monthAverageNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Середнє по місяцю:</mat-label>
            </div>

            <div class="statBox winter">
              <div class="statNum ">{{winter!.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Нараховано Зима:</mat-label>
            </div>

            <div class="statBox spring">
              <div class="statNum ">{{spring!.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Нараховано Весна:</mat-label>
            </div>

            <div class="statBox summer">
              <div class="statNum ">{{summer!.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Нараховано Літо:</mat-label>
            </div>

            <div class="statBox autumn">
              <div class="statNum ">{{autumn!.totalNeedPay}}<span class="unit"> ₴ </span></div>
              <mat-label class="statNumName">Нараховано Осінь:</mat-label>
            </div>

          </div>

          <div class="statContainer p-1" *ngIf="option_stat === 3">

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats!.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="statNumName">Спожито загалом/рік:</mat-label>
            </div>

            <div class="statBox">
              <div class="statNum accent">{{totalYearStats!.monthAverageConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="statNumName">Середнє по місяцю:</mat-label>
            </div>

            <div class="statBox winter">
              <div class="statNum ">{{winter!.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="statNumName">Спожито Зима:</mat-label>
            </div>

            <div class="statBox spring">
              <div class="statNum ">{{spring!.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="statNumName">Спожито Весна:</mat-label>
            </div>

            <div class="statBox summer">
              <div class="statNum ">{{summer!.totalConsumption}} <span class="unit">{{ selectedUnit }}</span></div>
              <mat-label class="statNumName">Спожито Літо:</mat-label>
            </div>

            <div class="statBox autumn">
              <div class="statNum ">{{autumn!.totalConsumption}} <span class="unit"><span class="unit">{{ selectedUnit }}</span></span></div>
              <mat-label class="statNumName">Спожито Осінь:</mat-label>
            </div>

          </div>

        </div>
      </div>

      <div class="card-box col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="box m-2">
          <mat-label class="group-label">Графік по сезонах</mat-label>

          <div class="box p-1" *ngIf="option_stat === 1">
            <div class="progress-container">
              <div [@columnAnimation] *ngFor="let season of seasonPayments" class="progress" role="progressbar"
                [ngStyle]="{ 'height': (season.payment / maxPaymentsValue) * 100 + '%' }">
                <div  class="progress-bar"
                  [ngStyle]="{ 'height': (season.payment / maxPaymentsValue) * 100 + '%' }">
                  {{ season.payment }}
                </div>
                <div class="month-label">{{ season.season }}</div>
              </div>
            </div>
            <mat-label class="group-label">Сплачено грн:</mat-label>
          </div>

          <div class="box p-1" *ngIf="option_stat === 2">
            <div class="progress-container">
              <div [@columnAnimation] *ngFor="let season of seasonNeedPay" class="progress" role="progressbar"
                [ngStyle]="{ 'height': (season.needPay / maxNeedPayValue) * 100 + '%' }">
                <div  class="progress-bar"
                  [ngStyle]="{ 'height': (season.needPay / maxNeedPayValue) * 100 + '%' }">
                  {{ season.needPay }}
                </div>
                <div class="month-label">{{ season.season }}</div>
              </div>
            </div>
            <mat-label class="group-label">Нараховано грн:</mat-label>
          </div>

          <div class="box p-1" *ngIf="option_stat === 3">
            <div class="progress-container">
              <div [@columnAnimation] *ngFor="let season of seasonConsumptions" class="progress" role="progressbar"
                [ngStyle]="{ 'height': (season.consumptions / maxConsumptionsValue) * 100 + '%' }">
                <div  class="progress-bar"
                  [ngStyle]="{ 'height': (season.consumptions / maxConsumptionsValue) * 100 + '%' }">
                  {{ season.consumptions }}
                </div>
                <div class="month-label">{{ season.season }}</div>
              </div>
            </div>
            <mat-label class="group-label">Спожито <span class="unit">{{ selectedUnit }}</span></mat-label>
          </div>

        </div>
      </div>

    </div>
  </div>
</ng-template>
