<div class="container-info p-2">
  <div [@bot3] class="content-wrapper mt-2">

    <header #contentWrapper id="conteiner0" class="header t-c p-2 mt-2">
      <div class="logo-box">
        <img class="logoMin" src="{{path_logo}}" alt="logo">
      </div>
      <p class="t-lar-xx bold">Дякуємо за Вашу цікавість до нашого проекту!</p>
      <h1 class="t-lar-xx"><strong>Раді знайомству з кожним із Вас!</strong></h1>
      <p class="t-med">Ми впроваджуємо багато корисних та зручних функції для облегшення процесу оренди осель.
        Ознайомитись з цим ви можете перейти за цим посиланням</p>
      <a class="b-primary m-2" [routerLink]="'/about-project'">
        Про Discussio
        <i class="fa-regular fa-circle-right pl-2"></i>
      </a>
    </header>

    <div class="section-conteiner">
      <section class="section-gif col-lg-6 col-md-6 col-sm-12 col-12">
        <img class="gif" src="../../../assets/gif/team.gif" alt="Team Discussio gif">
      </section>
      <section class="section-text  pb-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <h2 class="t-lar-x bold"><strong>Приєднуйся до нашої команди та допоможи створити корисний продукт для всіх.
            Допоможи нам стати кращими не
            лише в Україні а і далеко за її кордонами!</strong></h2>
        <ul><span class="t-lar bold pb-2 ">Нам потрібні люди з такими навичками</span>
          <li>Frontend developer </li>
          <li>Backend developer </li>
          <li>Frontend developer </li>
          <li>UI (User Interface) дизайнер </li>
          <li>UX (User Experience) </li>
          <li>DevOps (Development Operations) </li>
          <li>QA (Quality Assurance) </li>
          <li>Marketing Director </li>
          <li>Content Creator (Творець контенту)</li>
        </ul>
      </section>
    </div>

    <h3 class="t-c bold">Технології які використовуємо та які задіяні в нашому проекті</h3>
    <section class="technologies mb-2">
      <div class="item-box" *ngFor="let item of technologies">
        <img class="img-logo" src="{{ item.image }}" alt="logo">
        <p class="t-med">{{ item.name }}</p>
      </div>
    </section>

    <h3 class="t-c bold">Команда яка займається розвитком платформи</h3>
    <section class="our-team mb-2">
      <div class="container-card mt-2">
        <div class="row row-mid">
          <div class="team-member col-lg-4 col-md-4 col-sm-12 col-12" *ngFor="let member of teamMembers">
            <div class="team-member-image">
              <img src="{{ member.image }}" alt="{{ member.name }}">
            </div>
            <div class="team-member-info">
              <h3 class="team-member-name">{{ member.name }}</h3>
              <p class="team-member-position">{{ member.position }}</p>
              <p class="team-member-description">{{ member.description }}</p>
              <div class="team-member-social">
                <a *ngIf="member.social.telegram" target="_blank" href="{{ member.social.telegram }}"><i
                    class="fab fa-brands fa-telegram"></i></a>
                <a *ngIf="member.social.instagram" target="_blank" href="{{ member.social.instagram }}"><i
                    class="fab fa-brands fa-instagram"></i></a>
                <!-- <a href="{{ member.social.twitter }}"><i class="fab fa-twitter"></i></a> -->
                <a *ngIf="member.social.linkedin" target="_blank" href="{{ member.social.linkedin }}"><i
                    class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <h4 class="t-lar mt-2 t-c">Приєднуйтесь та <strong>підтримайте Discussio в соціальних мережах</strong>, це дуже
      важливо!
    </h4>
    <div class="social-link-container p-2 pb-4">

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://t.me/discussio_inc">
          <i class="fab fa-brands fa-telegram"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.instagram.com/discussio.inc">
          <i class="fab fa-brands fa-instagram"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.tiktok.com/@discussio.official">
          <i class="fab fa-brands fa-tiktok"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.facebook.com/discussio.inc">
          <i class="fab fa-brands fa-facebook"></i>
        </a>
      </div>

      <div class="social-link-box">
        <a class="social-link-icon" target="_blank" href="https://www.youtube.com/@discussio.ukraine">
          <i class="fab fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>

    <div class="w-100 mb-4">
      <app-contacts></app-contacts>
    </div>

    <app-footer></app-footer>

  </div>

  <div [@top1] class="btn-group">
    <a class="btn" [routerLink]="'/'">
      <i class="fa-solid fa-arrow-left white pr-2"></i>
      <div class="t-min white">Назад</div>
    </a>
  </div>
</div>