@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss" as *;

.container-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include s3-s6-max {
    overflow: auto;
    height: 100vh;
  }
  @include s1-s3 {
    height: auto;
  }
}

.content-wrapper {
  @include flex-box-column;
  @include box-shadow;
  height: auto;
  align-items: center;
  background-color: $color-white;
  justify-content: flex-start;
  padding: 20px 10px 80px 10px;
}

.btn-group {
  @include flex-box-center;
  width: 100%;
  @include s3-s6-max {
    position: sticky;
    bottom: 0;
  }
  @include s1-s3 {
    position: fixed !important;
    bottom: 0;
    padding: 10px;
  }
  .btn {
    @include flex-box-center;
    flex: none;
    height: 60px;
    background-color: $color-accent;
    width: 250px;
  }
}

.t-min {
  text-align: start;
}

.flex-column {
  height: calc(100vh - 50px);
  overflow: auto;
  @include flex-box-column;
  align-items: center;
  @include box-shadow;
  background-color: $color-white;
}

.logo-wrapper {
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

img {
  width: 100px;
  object-fit: cover;
}
