<div [@bot] class="container-info">

  <div class="info-content">
    <div class="img-wrapper">
      <img class="img" src="./../../../../assets/menu/objects.png" alt="Menu Image" loading="lazy">
      <div class="blure"></div>
    </div>

    <div class="info-wrapper ">
      <div class="info">
        <i class="fa-solid fa-person-hiking"></i>
        <p class="t-lar-x bold mb-2">Як це працює?</p>

        <h1 class="t-c">Наповнення оселі</h1>
        <h2 class="t-med bold mb-2 t-c mt-2">Детальний опис та документація всіх речей та предметів оселі</h2>

        <a class="b-primary m-2" [routerLink]="'/house/objects/add'">
          <i class="fa-solid fa-boxes-packing"></i>
          <div class="flex-column pl-2 jc-sa">
            <p class="t-med white">Додати</p>
            <p class="t-min white">Наповнення</p>
          </div>
        </a>

        <p class="t-med t-c">Функція надає користувачам доступ до шаблонів які полегшують процес
          внесення інформації про речі, їх стан та інструкції використання. Цей список предметів задієються для
          формування акту прийому-передачі оселі.
        </p>

        <app-house-agree-progress></app-house-agree-progress>


        <h2 class="t-med bold mb-2 t-c mt-2">
          Додавати наповнення та створювати угоди можна після створення профілю оселі
        </h2>

        <a class="b-primary m-2" [routerLinkActive]="'active'" [routerLink]="'/house/control/add'">
          <i class="fa-solid fa-house-chimney-medical"></i>
          <div class="flex-column pl-2 jc-sa">
            <p class="t-med white">Створити</p>
            <p class="t-min white">Оселю</p>
          </div>
        </a>

        <a class="t-c p-3" [routerLink]="'/feedback'" [queryParams]="{ category: 'Наповнення' }">
          <div class="t-med bold mr-2 accent">Є ідея як зробити краще? <i class="fa-regular fa-lightbulb accent"></i>
          </div>
        </a>

      </div>
      <app-footer></app-footer>
    </div>
  </div>

</div>
