<div class="btn-group">
  <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="ОСЕЛЯ" [routerLink]="'/house'">
    <img [src]="'http://localhost:3000/img/flat/' + flatImg[0].img" alt="Flat Image" class="img-fluid rounded">
  </a>

  <a class="link-btn with-image" [routerLinkActive]="'active'" matTooltip="КОРИСТУВАЧ" [routerLink]="'/user'">
    <div class="img-fluid">
      <img [src]="'http://localhost:3000/img/users/' + (userImg ? userImg : 'user_default.svg')" alt="User Image" class="img-fluid rounded">
    </div>
  </a>
</div>

<mat-form-field class="list-form m-1" appearance="outline">
  <mat-label>ОСЕЛЯ</mat-label>
  <mat-select class="list-select" [(value)]="selectedFlatId" (selectionChange)="onSelectionChange()">
    <mat-option disabled value="">виберіть оселю</mat-option>
    <mat-option class="list-option" *ngFor="let house of houses" [value]="house.name">{{house.name}}</mat-option>
  </mat-select>
</mat-form-field>
