@use "../../../style/presets/" as *;

.card {
  margin: 0;
  padding: 0;
}

.card-box::-webkit-scrollbar {
  display: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  width: 100%;
  max-height: 69vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.card-group > .card:not(:last-child) {
  border-radius: 10px;
}

.card-box {
  height: 69vh;
  overflow: auto;
}

.card-name {
  display: flex;
}

.card-button {
  width: 100%;
  margin: 5px 0 5px 0;
  height: 45px;
  font-size: 18px;
}

.card-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-link {
  display: flex;
  transition: 0.4s;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px;
  border: 1px solid $color-primary;
  padding: 5px 15px;
  border-radius: 10px;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.card-group {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
  align-items: stretch;
  flex-direction: column;

  &:hover {
    transition: 1s;
  }
}



.card-group > .card:not(:first-child) {
  border-radius: 10px;
}

.card-img-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card-wrapper-group {
  display: flex;
  justify-content: space-around;
}

.card-img-container {
  height: 300px;
  width: 80%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-top {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);

  &:hover {
    transition: 0.5s;
    overflow: hidden;
    transform: scale(1.4);
  }
}

.card-social-link {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 28px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-info-group {
  display: flex;
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 10px;
}

.card-info-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  text-decoration: none;
  border-radius: 50%;
  background-color: $color-primary;
  border: none;

  &.active {
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.text-info {
  padding: 10px;
  font-size: 0.8em;
  color: $color-accent !important;
}

.fab {
  transition: 0.4s;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 20px;
}

.btn {
  height: 35px;
}

.chat-container {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  padding: 10px;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message-content {
  flex: 1;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

input[type="text"] {
  font-size: 12px;
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

