<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <div class="group1" *ngIf="infoPublic">
    <img class="avatar-user1"
      [src]="serverPathPhotoFlat + (infoPublic[0].infFlat.imgs[0].img ? infoPublic[0].infFlat.imgs[0].img : 'housing_default.svg')"
      alt="Flat Image">
    <div class="name-user1">
      <div>{{ infoPublic[0].flat_name }} ID: {{ infoPublic[0].flat_id }} </div>
      <div class="text-min">Chat ID: {{ infoPublic[0].chat_id }}</div>
    </div>
  </div>

  <div class="container-chat">
    <div class="chat" id="chatContainer" #chatContainer>
      <button class="btn" (click)="loadPreviousMessages()" *ngIf="messageALL.length > 49">Старі</button>
      <div class="chat-messages-read">

        <div class="chat" *ngFor="let message of allMessages">
          <ng-container *ngIf="infoPublic && message.user_id !== null && message.is_read === 1">
            <div class="chat-container-user">
              <div class="user-message message p-2" [ngClass]="{ 'read': message.is_read === 1 }">
                <div class="avatar-wrapper-user">
                  <div class="name-user">
                    <div class="accent-name"><span class="time">{{ message.time }} </span> {{
                      infoPublic[0].infUser.inf.firstName }} {{ infoPublic[0].infUser.inf.lastName }}</div>
                  </div>
                </div>
                <div class="message-content-user">
                  <div class="message-text-user"><i class="fa-solid fa-check-double"></i>{{ message.message }}</div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="infoPublic && message.flat_id && message.is_read === 1">
            <div class="chat-container-owner">
              <div class="owner-message message p-2" [ngClass]="{ 'read': message.is_read === 1 }">
                <div class="avatar-wrapper-owner">
                  <div class="name-owner">
                    <div class="accent-name">{{ infoPublic[0].flat_name }}<span class="time">{{ message.time
                        }}</span>
                    </div>
                  </div>
                </div>
                <div class="message-content-owner">
                  <p class="message-text-owner">{{ message.message }}<i class="fa-solid fa-check-double"></i></p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="chat-messages-unread">
        <div class="chat" *ngFor="let messagesNotRead of allMessagesNotRead">
          <ng-container *ngIf="infoPublic && messagesNotRead.user_id && messagesNotRead.is_read === 0">
            <div class="chat-container-user">
              <div class="user-message message p-2" [ngClass]="{ 'unread': messagesNotRead.is_read === 0 }">
                <div class="avatar-wrapper-user">
                  <div class="name-user">
                    <div class="accent-name"><span class="time">{{ messagesNotRead.time }} </span> {{
                      infoPublic[0].infUser.inf.firstName }} {{ infoPublic[0].infUser.inf.lastName }}</div>
                  </div>
                </div>
                <div class="message-content-user">
                  <div class="message-text-user"><i class="fa-solid fa-check"></i>{{ messagesNotRead.message }}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="infoPublic && messagesNotRead.flat_id && messagesNotRead.is_read == 0">
            <div class="chat-container-owner">
              <div class="owner-message message p-2" [ngClass]="{ 'unread': messagesNotRead.is_read === 0 }">
                <div class="avatar-wrapper-owner">
                  <div class="name-owner">
                    <div class="accent-name">{{ infoPublic[0].flat_name }}<span class="time">{{
                        messagesNotRead.time
                        }}</span>
                    </div>
                  </div>
                </div>
                <div class="message-content-owner">
                  <p class="message-text-owner"><i class="fa-solid fa-check"></i>{{ messagesNotRead.message }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
