@use "../../../style/mixins/" as *;
@use "../../../style/presets/" as *;

.container-chat {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include s1-s3 {
    min-height: 100vh;
  }
}

.chat-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: flex-start;
}

img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

.card-chat {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  width: 95%;
}

.container-dis {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
}
.page-name {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.container-sticker {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -26px;
  right: 10px;
}
.status-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status {
  padding: 5px 10px;
  background-color: $color-accent;
  margin: 0 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow:
    2px 3px 10px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.22);
}

.fab {
  transition: 0.4s;

  font-size: 25px;

  &:hover {
    transition: 0.4s;
    transform: scale(2);

    color: $color-accent;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.offline {
  background-color: $color-primary;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  width: 300px;
}

.img-fluid {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
}
.item-wrapper,
.content-description {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.user-name {
  font-size: 25px;
  font-weight: 300;
}

.group-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 22px;
  text-align: center;
}

.text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.card-social-link {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.card-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-link {
  font-size: 14px;
  display: flex;
  transition: 0.4s;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px 10px;
  border: 1px solid $color-primary;
  padding: 5px 15px;
  border-radius: 10px;

  &:hover {
    color: $color-accent;
    transition: 0.4s;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

    span {
      transition: 0.4s;
      transform: scale(1.1);
    }

    .fa-solid,
    .fa-regular {
      color: $color-accent;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}

.chat-container-user {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.chat-container-owner {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-id {
  width: 100%;
  position: sticky;
  background-color: white;
  z-index: 50;
  top: 0;
  display: flex;
  align-items: center;
  height: 20%;
  padding: 10px;
  justify-content: center;
}

.chat-name {
  font-size: 20px;
}

.container-chat-messages {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  height: auto;
}

.container-noChat {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  @include s1-s3 {
    height: 100vh;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-messages-read,
.chat-messages-unread {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 5px 5px 5px;
}

.fa-check-double,
.fa-check {
  color: $color-accent;
  font-size: 12px;
}

.fa-check {
  color: $color-dark;
}

.chat-messages::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.message-content {
  width: 100%;
}

.message {
  position: relative;
  display: flex;
  clear: both;
  z-index: 10;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px;
}

.user-message {
  flex-direction: column;
  display: flex;
  min-width: 100px;
  background-color: rgba(93, 90, 90, 0.856);
  border-radius: 10px 0px 10px 10px;
}

.owner-message {
  flex-direction: column;
  display: flex;
  min-width: 100px;
  background-color: $color-dark;
  border-radius: 0px 10px 10px 10px;
}

.message-text-user,
.message-text-owner {
  color: $color-white;
  font-size: 16px;
}

.group-input {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.group {
  width: 100%;
  position: sticky;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.362);
  border: 1px solid rgba(1, 19, 12, 0.2);
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.input-field {
  display: flex;
  padding: 5px;
  border: 1px solid $color-gray;
  border-radius: 10px;
  min-height: 50px;
  font-size: 16px;
}

.input-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.smiley-panel {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  transition: 1s;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: auto;

  &.open {
    height: 210px;
    transform: scale(1.1);
  }
}

.smiley-panel::-webkit-scrollbar {
  display: none;
}

.btn-more {
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  &:hover {
    transform: scale(1.2);
  }
}

textarea {
  width: 100%;
  height: auto;
  resize: vertical;
  max-height: 30vh;
}

textarea::-webkit-scrollbar {
  display: none;
}

.smiley-button {
  font-size: 24px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

.smiley-button:hover {
  transform: scale(1.1);
}

.chat-input {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.name-user,
.name-owner {
  width: 200px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
}

.name-owner {
  left: 40px;
  top: 0;
}

.name-user {
  justify-content: flex-end;
  top: 0;
  right: 40px;
}

.accent-name {
  color: $color-accent;
  font-size: 13px;
}

.container-avatar {
  position: absolute;
  z-index: 50;
}

.avatar-owner,
.avatar-user,
.avatar-house {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.big {
  width: 200px;
  height: 200px;
  position: absolute;
}

.avatar-owner {
  left: 0;
  top: 0;
  border: 2px solid $color-dark;
}

.avatar-user {
  top: 0;
  right: -10px;
  border: 2px solid rgba(93, 90, 90, 0.856);
}

.avatar-wrapper-user,
.avatar-wrapper-owner {
  position: absolute;
  top: -20px;
  float: left;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.avatar-wrapper-user {
  right: 0;
  flex-direction: row-reverse;
}

.avatar-wrapper-owner {
  left: 0;
}

.message-content-owner,
.message-content-user {
  display: flex;
  overflow: hidden;
  padding: 12px 0 0 0;
}

.message-content-user {
  justify-content: flex-end;
}

.time {
  color: $color-dark;
  font-weight: 300;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.btn-send {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  transition: 1s;

  &:hover {
    color: $color-accent;
  }
}

.fa-paper-plane {
  &:hover {
    color: $color-accent;
  }
}

input {
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(245, 222, 179, 0);
}

.btn {
  width: 100%;
  color: $color-text;
  background-color: $color-white;
  padding: 10px 20px;
  margin: 5px;
  &:hover {
    background-color: $color-accent;
    color: $color-white;
  }
}

.btn-close {
  background-color: $color-accent;
  position: absolute;
  z-index: 50;
  right: 0;
  top: 0;
  padding: 5px;
}

.unread {
  background-color: $color-accent;
  transform: 1s;
}

.group1 {
  width: 100%;
  position: sticky;
  height: 150px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  z-index: 50;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  @include s1-s3 {
    padding-top: 20px;
    position: sticky;
    height: 10vh;
    top: 0;
    left: -100%;
  }
}

.avatar-user1 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  top: 5px;
  left: 5px;
  border: 2px solid rgba(93, 90, 90, 0.856);
}

.name-user1 {
  position: absolute;
  display: flex;
  left: 70px;
  font-size: 20px;
  justify-content: flex-start;
  font-weight: 600;
  flex-direction: column;
}

.text-min {
  font-size: 12px;
}
