<div class="container-chat-messages" *ngIf="!selectedFlat">
  <div class="img-wrapper">
    <img class="img-fluid rounded" src="../../../assets/logo/Discussio (7).svg" alt="Логотип">
  </div>
  <div class="characteristics-group p-4">
    <h2>Оберіть з ким будете спілкуватись!</h2>
  </div>
  <div class="characteristics-group p-4">
    <h2>© Discussio.</h2>
    <p> Simplify property management with Discussio.</p>
  </div>

</div>

<div class="container-chat-messages" *ngIf="selectedFlat">
  <div class="chat-messages" #chatContainer>
    <div>

    </div>
    <div class="chat" *ngFor="let message of allMessages">
      <ng-container *ngIf="infoPublic  &&  message.user_id !== null">
        <div class="chat-container-user">
          <div class="user-message message p-2">
            <div class="avatar-wrapper-user">
              <img class="avatar-user"
                [src]="'http://localhost:3000/img/users/' + (infoPublic[0].infUser.img[0].img ? infoPublic[0].infUser.img[0].img : 'user_default.svg')"
                alt="User Image">
              <div class="name-user">
                <div class="accent-name"><span class="time">{{ message.time }} </span> {{
                  infoPublic[0].infUser.inf.firstName }} {{ infoPublic[0].infUser.inf.lastName }}</div>
              </div>
            </div>
            <div class="message-content-user">
              <div class="message-text-user">{{ message.message }}</div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="infoPublic && message.flat_id !== null">
        <div class="chat-container-owner">
          <div class="owner-message message p-2">
            <div class="avatar-wrapper-owner">
              <img class="avatar-owner"
                [src]="'http://localhost:3000/img/flat/' + (infoPublic[0].infFlat.imgs[0].img ? infoPublic[0].infFlat.imgs[0].img : 'housing_default.svg')"
                alt="User Image">
              <div class="name-owner">
                <div class="accent-name">{{ infoPublic[0].infFlat.flat }}<span class="time">{{ message.time }}</span>
                </div>
              </div>
            </div>
            <div class="message-content-owner">
              <p class="message-text-owner">{{ message.message }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="chat-input col-10">
      <input type="text" placeholder="Напишіть повідомлення" [(ngModel)]="messageText"
        (keydown.enter)="sendMessage(selectedFlat)">
    </div>
    <button class="btn-send" matTooltip="Надіслати" (click)="sendMessage(selectedFlat)">
      <i class="fa-solid fa-paper-plane fa-2xl"></i>
    </button>
  </div>
</div>

<div *ngIf="loading" class="loader-overlay">
  <div class="loader">
    <img src="../../../../assets/logo/Discussio (7).svg" alt="Logo" class="loader-logo">
  </div>
</div>
