@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";
@use "../../../card/card-house-components/status-data-house/status-data-house.component.scss";

.content-child {
  // height: calc(100vh - 100px - 1rem);
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.flatsTenant,
.flatsOwn {
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
  padding: 10px;
  width: 50%;
  height: auto;
  @include s3-s6-max {
    // height: 100%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @include s1-s3 {
    width: 100%;
  }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  // height: calc(100vh - 100px - 1rem);
  align-content: flex-start;
  padding-bottom: 10px;
  .card-mini {
    @include flex-box;
    color: $color-gray;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.792);
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    .card-mini-body {
      @include flex-box;
      justify-content: space-between;
      align-items: center;
      z-index: 105;
      background-image: linear-gradient(to left, transparent 20%, $color-white 70%) !important;
      width: 100%;
      height: 100%;
      .btn-pick {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
        .t-med,
        .t-lar-x,
        .t-lar-xx {
          color: $color-dark !important;
        }
      }
    }
    .card-mini-img {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: scale-down;
      }
    }
    &:hover {
      transition: 1s;
      transform: scale(0.95);
    }
  }
  .card-mini.selected {
    transition: 1s;
    font-weight: 600;
    .card-mini-body {
      background-image: linear-gradient(to left, transparent 50%, $color-white 100%) !important;
      .btn-pick {
        .t-med,
        .t-lar-x,
        .t-lar-xx {
          color: $color-dark !important;
        }
      }
    }
  }
}

.btn-group-comun {
  display: flex;
  align-items: flex-end;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.btn-delete {
  margin-left: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  z-index: 20;
  border: none;
  background-color: $color-white;
  &:hover {
    transition: 1s;
    transform: scale(1.05);
    background-color: $color-accent;
  }
  .fa-solid {
    color: $color-text;
    font-size: 20px;
  }
}

.active-icon {
  // @include active-icon;
  background-color: $color-white-always;
  .fa-solid,
  .fa-regular {
    transition: 1s;
    color: $color-accent;
    filter: drop-shadow(0px 0px 10px $color-accent);
  }
}
