@use "../../../style/presets/" as *;
@use "../../../style/mixins/" as *;
@use "../../../style/shared.scss";

.content-child {
  // height: calc(100vh - 100px - 1rem);
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.flatsTenant,
.flatsOwn {
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
  padding: 10px;
  width: 50%;
  height: auto;
  @include s3-s6-max {
    // height: 100%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @include s1-s3 {
    width: 100%;
  }
}

.cards-container {
  @include flex-box;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  // height: calc(100vh - 100px - 1rem);
  align-content: flex-start;
  padding-bottom: 10px;
  .card-mini {
    @include flex-box;
    color: $color-gray;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.792);
    cursor: pointer;
    background-color: $color-white;
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    .card-mini-body {
      @include flex-box;
      justify-content: space-between;
      align-items: center;
      z-index: 105;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0.836) 70%) !important;
      width: 100%;
      height: 100%;
      .btn-pick {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
      }
    }
    .card-mini-img {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: scale-down;
      }
    }
  }
  .card-mini.selected {
    transition: 1s;
    color: $color-white;
    font-weight: 600;
    .card-mini-body {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, $color-accent 100%) !important;
    }
  }
}

.btn-group-comun {
  display: flex;
  align-items: flex-end;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.btn-delete {
  margin-left: 5px;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  z-index: 20;
  border: none;
  background-color: rgba(255, 255, 255, 0.37);

  .fa-solid {
    color: $color-text;
    font-size: 20px;
  }
}
