<ng-container *ngIf="loading; else content">
  <app-loader></app-loader>
</ng-container>

<ng-template #content>
  <ng-container *ngIf="allFlats || allFlatsTenant">
    <div [@top2] class="content-child ">
      <div class="cards-container" (panstart)="onPanStart($event)" (panend)="onPanEnd($event)">
        <div class="flatsOwn border-bottom" *ngIf="allFlats && allFlats.length > 0">
          <div class="t-lar bold t-c">Власні оселі</div>
          <div class="card-mini mb-2" *ngFor="let flat of allFlats"
            [ngClass]="{ 'selected': chooseFlatID === flat.flat_id }">

            <div class="card-mini-body p-2">
              <button class="btn-pick" (click)="selectFlat(flat)">
                <div class="t-med  bold t-s white" *ngIf="chooseFlatID === flat.flat_id">Обрано оселю</div>
                <div class="t-lar-x white t-s">{{ flat.flat_name }}</div>
                <div class="t-lar-xx bold white t-s">ID: {{ flat.flat_id }}</div>
              </button>

              <div class="btn-group-comun w-20">
                <button class="btn-delete flex-box" (click)="deleteHouse(flat)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>

            </div>

            <ng-container *ngIf="flat.flat_img && isLoadingImg">
              <div class="card-mini-img">
                <img
                  [src]="flat.flat_img ? serverPathPhotoFlat + flat.flat_img : serverPathPhotoFlat + 'housing_default.svg'"
                  alt="img">
              </div>
            </ng-container>

            <ng-container *ngIf="flat.flat_img && !isLoadingImg">
              <div class="card-mini-img">
                <div class="container-loader-mini">
                  <mat-spinner color="warn"></mat-spinner>
                  <img
                    [src]="flat.flat_img && flat.flat_img ? serverPathPhotoFlat + flat.flat_img : serverPathPhotoFlat + 'housing_default.svg'"
                    alt="img" (load)="isLoadingImg = true" hidden>
                  <div class="t-min gray mt-2">Завантаження фото</div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!flat.flat_img">
              <div class="card-mini-img">
                <img src="../../../../assets/housing_default.svg" alt="img">
              </div>
            </ng-container>

          </div>
        </div>
        <div class="flatsTenant border-bottom" *ngIf="allFlatsTenant && allFlatsTenant.length > 0">
          <div class="t-lar bold t-c">Орендовані оселі</div>
          <div class="card-mini mb-2" *ngFor="let flat of allFlatsTenant" (click)="selectFlat(flat)"
            [ngClass]="{ 'selected': chooseFlatID === flat.flat_id  }">

            <div class="status-container m-2"
              *ngIf="flat.acces_discuss === 1 || flat.acces_admin === 1 || flat.acces_agent === 1 || flat.acces_agreement === 1 || flat.acces_citizen === 1 || flat.acces_comunal === 1 || flat.acces_comunal_indexes === 1 || flat.acces_discuss === 1 || flat.acces_filling === 1 || flat.acces_flat_chats === 1 || flat.acces_flat_features === 1 || flat.acces_services === 1 || flat.acces_subs === 1">
              <div class="status-box">
                <div class="status-value" *ngIf="flat.acces_discuss === 1">Дискусія</div>
                <div class="status-value" *ngIf="flat.acces_admin === 1">Адмінстратор</div>
                <div class="status-value" *ngIf="flat.acces_agent === 1">Представник</div>
                <div class="status-value" *ngIf="flat.acces_agreement === 1">Угоди</div>
                <div class="status-value" *ngIf="flat.acces_citizen === 1">Мешканці</div>
                <div class="status-value" *ngIf="flat.acces_comunal === 1">Комунальні</div>
                <div class="status-value" *ngIf="flat.acces_comunal_indexes === 1">Лічильник</div>
                <div class="status-value" *ngIf="flat.acces_filling === 1">Наповнення</div>
                <div class="status-value" *ngIf="flat.acces_flat_chats === 1">Чат</div>
                <div class="status-value" *ngIf="flat.acces_flat_features === 1">Пошук</div>
                <div class="status-value" *ngIf="flat.acces_subs === 1">Підписки</div>
                <!-- <div class="status-value" *ngIf="flat.acces_services === 1">Послуги</div> -->
              </div>
            </div>

            <div class="card-mini-body p-2" (click)="selectFlat(flat)">
              <div class="flex-column p-2">
                <div class="t-med  bold t-s white" *ngIf="chooseFlatID === flat.flat_id">Обрано оселю</div>
                <div class="t-lar-x white t-s">{{ flat.flat_name }}</div>
                <div class="t-lar-xx bold white t-s">ID: {{ flat.flat_id }}</div>
              </div>
            </div>

            <ng-container *ngIf="flat.flat_img && isLoadingImg">
              <div class="card-mini-img">
                <img
                  [src]="flat.flat_img ? serverPathPhotoFlat + flat.flat_img : serverPathPhotoFlat + 'housing_default.svg'"
                  alt="img">
              </div>
            </ng-container>

            <ng-container *ngIf="flat.flat_img && !isLoadingImg">
              <div class="card-mini-img">
                <div class="container-loader-mini">
                  <mat-spinner color="warn"></mat-spinner>
                  <img
                    [src]="flat.flat_img && flat.flat_img ? serverPathPhotoFlat + flat.flat_img : serverPathPhotoFlat + 'housing_default.svg'"
                    alt="img" (load)="isLoadingImg = true" hidden>
                  <div class="t-min gray mt-2">Завантаження фото</div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!flat.flat_img">
              <div class="card-mini-img">
                <img src="../../../../assets/housing_default.svg" alt="img">
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="t-lar" *ngIf="!allFlats && !allFlatsTenant">Оселей немає</div>
</ng-template>


